Repository ppy/osu, pull requests merged in 2019-11, with the labels that each got.

#6677 Cover all non-APIAccess APIRequest calls with exception handling
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/DownloadableArchiveModelManager.cs
  osu.Game/Overlays/Changelog/ChangelogSingleBuild.cs
  osu.Game/Overlays/ChangelogOverlay.cs
Labels: online / API, resolves issue, size/M

#6687 Fix scrolling hitobjects expiring too soon
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: osu!mania, resolves issue, size/S

#6611 Hide resume overlay when re-pausing gameplay
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Play/Player.cs
Labels: gameplay, osu!, overlays, resolves issue, size/S

#6676 Fix multi logout crash
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: multiplayer, resolves issue, size/XS

#6688 Fix GameplayClockContainer operating on beatmap's track after screen exited
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
Labels: bug, resolves issue, size/S

#6689 Move ReplayDownloadButton to correct namespace
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneResults.cs
  osu.Game/Screens/Ranking/Pages/ReplayDownloadButton.cs
Labels: code quality, size/XS

#6691 Add retry button and hotkey support to results screen
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneResults.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Ranking/Pages/ReplayDownloadButton.cs
  osu.Game/Screens/Ranking/Pages/RetryButton.cs
  osu.Game/Screens/Ranking/Pages/ScoreResultsPage.cs
  osu.Game/Screens/Ranking/Results.cs
Labels: resolves issue, results, size/L

#6678 Implement slider control point selection
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Tests/Visual/SelectionBlueprintTestScene.cs
Labels: editor, osu!, size/L

#6680 Update sliders when control points change
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
Labels: editor, osu!, size/M

#6693 Highlight user's top score on beatmap leaderboard
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Select/Leaderboards/UserTopScoreContainer.cs
Labels: multiplayer, size/S, song select, user interface

#6702 Disable retry hotkey overlay when viewing results from leaderboard
  osu.Game.Tests/Visual/Gameplay/TestSceneResults.cs
  osu.Game/Screens/Ranking/Results.cs
Labels: bug, resolves issue, results, size/L

#6699 Fix slider creation regressing with path selection changes
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: editor, regression, size/M

#6685 Move link handling code to OsuGame
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Changelog/ChangelogBuild.cs
  osu.Game/Screens/Multi/Components/BeatmapTitle.cs
Labels: code quality, import, size/L

#5574 Improve iOS importing and file system
  osu.iOS/AppDelegate.cs
  osu.iOS/Info.plist
Labels: iOS, resolves issue, size/L

#6720 Fix slider selection input handled outside path
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/SliderBodyPiece.cs
Labels: editor, resolves issue, size/XS

#6717 Disable input for non-selected blueprints
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
Labels: editor, input, size/XS

#6719 Fix selecting underneath selected blueprints
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: editor, osu!, size/S

#6679 Implement slider control point deletion
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: editor, osu!, size/L

#6634 Add editor timing screen
  osu.Game.Tests/Visual/Editor/TestSceneTimingScreen.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Screens/Edit/Timing/ControlPointSettings.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/DifficultySection.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
  osu.Game/Screens/Edit/Timing/SampleSection.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: editor, size/XXL

#6736 Fix tournament client crashing if beatmap added with an ID of zero
  osu.Game.Tournament/TournamentGameBase.cs
Labels: size/XS

#6718 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Editor/TestSceneEditorComposeTimeline.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Overlays/Settings/SidebarButton.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#6740 Limit distance snap between two adjacent hit objects
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editor/TestSceneDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: editor, resolves issue, size/L

#6638 Add ability to edit individual ControlPoint attributes from timing screen
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/DifficultySection.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
  osu.Game/Screens/Edit/Timing/SampleSection.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: editor, size/XXL

#6721 Refactor follow points to support dynamic updates
  osu.Game.Rulesets.Osu.Tests/TestSceneFollowPoints.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/ConnectionRenderer.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointRenderer.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: editor, osu!, resolves issue, size/XL

#6741 Add background colour to music player ProgressBar
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: resolves issue, size/S, user interface

#6728 Fix adjustments not being removed correctly on retry from pause
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
Labels: resolves issue, size/S

#6742 Disallow selections to be moved outside of the playfield
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: editor, resolves issue, size/M

#6738 Fix audio preview muting game audio indefinitely when beatmap panel is off-screen
  osu.Game/Audio/PreviewTrack.cs
  osu.Game/Audio/PreviewTrackManager.cs
Labels: audio, resolves issue, size/S

#6668 Share framework file-exclusion function
  osu.Game/IO/Archives/ZipArchiveReader.cs
Labels: code quality, size/S

#6745 Seek editor when hit objects are double clicked
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: editor, resolves issue, size/S

#6692 Use LongRunningLoad on network load components
  osu.Game.Tests/Visual/Components/TestScenePreviewTrackManager.cs
  osu.Game/Audio/PreviewTrack.cs
  osu.Game/Beatmaps/Drawables/BeatmapSetCover.cs
  osu.Game/Users/Drawables/DrawableAvatar.cs
Labels: online / API, performance, resolves issue, size/XS

#6749 Fix DummyAPIAccess.IsLoggedIn returning incorrect values
  osu.Game/Online/API/DummyAPIAccess.cs
Labels: online / API, size/XS, testing

#6754 Advance editor clock after a snapped placement
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: editor, resolves issue, size/XS

#6753 Implement slider head control point snapping
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: editor, osu!, size/S

#6761 Fix tournament videos stuttering when changing scenes
  osu.Game.Tournament/Components/TourneyVideo.cs
Labels: size/S, tournament

#6763 Fix tournament buttons playing sound effects
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TournamentSceneManager.cs
  osu.Game.Tournament/TourneyButton.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
Labels: size/M, tournament, user interface

#6765 Read initial beat divisor value from the beatmap
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: editor, size/S

#6764 Tournament highlight active screen
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: size/L, tournament

#6767 Improve tournament screen transitions
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/Screens/TournamentScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: size/M, tournament

#6766 Seek to the first hitobject when entering the editor
  osu.Game/Screens/Edit/Editor.cs
Labels: editor, size/XS

#6743 Less sickening parallax
  osu.Game/Graphics/Containers/ParallaxContainer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: size/XS, user interface

#6772 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#6663 Disallow voting for own comments
  osu.Game.Tests/Visual/Online/TestSceneVotePill.cs
  osu.Game/Overlays/Comments/VotePill.cs
Labels: bug, comments, size/M

#6752 Fix possible crash when loading mania compose screen
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePosition.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/NoteSelectionBlueprint.cs
Labels: editor, resolves issue, size/L

#6780 Remove horizontal padding on toolbar ruleset selector
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
Labels: resolves issue, size/XS, user interface

#6769 Fix incorrect DI usage in some tournament screen tests
  osu.Game.Tournament.Tests/Screens/TestSceneTeamIntroScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamWinScreen.cs
Labels: size/S, testing, tournament

#6801 Disable ruleset input in the editor
  osu.Game/Rulesets/Edit/DrawableEditRulesetWrapper.cs
Labels: editor, size/XS

#6808 Remove redundant package references in iOS props
  osu.iOS.props
Labels: size/XS

#6811 Fix capitalisation in README.md
  README.md
Labels: code quality, size/XS

#6802 Increase fade-out time of hitobjects in the editor
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditRuleset.cs
Labels: editor, osu!, size/S

#6760 Implement stateful menu items
  osu.Game.Tests/Visual/UserInterface/TestSceneStatefulMenuItem.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneToggleMenuItem.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Graphics/UserInterface/DrawableStatefulMenuItem.cs
  osu.Game/Graphics/UserInterface/OsuContextMenu.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
  osu.Game/Graphics/UserInterface/OsuMenuItem.cs
  osu.Game/Graphics/UserInterface/StatefulMenuItem.cs
  osu.Game/Graphics/UserInterface/TernaryState.cs
  osu.Game/Graphics/UserInterface/TernaryStateMenuItem.cs
  osu.Game/Graphics/UserInterface/ToggleMenuItem.cs
Labels: size/XL, user interface

#6700 Fix mod section overflowing mod select overlay at higher ui scale
  osu.Game/Overlays/Mods/ModSection.cs
Labels: size/XS, user interface

#6768 Fix preview track manager allowing playback of multiple tracks
  osu.Game.Tests/Visual/Components/TestScenePreviewTrackManager.cs
  osu.Game/Audio/PreviewTrack.cs
  osu.Game/Audio/PreviewTrackManager.cs
Labels: audio, overlays, resolves issue, size/S

#6758 Fix home button not closing login and now playing overlays
  osu.Game/OsuGame.cs
Labels: size/XS, user interface

#6762 Implement hitobject sound adjustment
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game/Rulesets/Configuration/IRulesetConfigManager.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Taiko/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Types/IHasRepeats.cs
  osu.Game/Rulesets/RulesetConfigCache.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: editor, size/XXL

#6805 Add local preserving container to OsuTestScene to ensure correct test dimensions
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/S, testing

#6804 Move scaling container to OsuGame so OsuGameBase doesn't apply UI scale
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: size/XS, testing

#6807 Lookup tournament player statistics for the correct ruleset
  osu.Android.props
  osu.Game.Tournament/Models/LadderInfo.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/SetupScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L, tournament

#6770 Add delete option to the right-click menu
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: editor, size/XXL

#6803 Add Ctrl+A to select all and Escape to deselect all
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: editor, size/M

#6818 Implement slider control point additions
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: editor, osu!, size/XL

#6830 Fix osu!direct test failing
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
Labels: online / API, size/XS

#6836 Fix background loading twice when entering song select
  osu.Game/Screens/Select/SongSelect.cs
Labels: bug, size/XS, song select

#6843 Remove usages of untyped equality
  CodeAnalysis/BannedSymbols.txt
  Directory.Build.props
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Overlays/DirectOverlay.cs
  osu.Game/Overlays/SocialOverlay.cs
  osu.Game/Screens/Menu/MenuSideFlashes.cs
  osu.Game/Screens/Play/KeyCounterAction.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: code quality, size/S

#6856 Add version badge to README
  README.md
Labels: size/XS

#6853 Disallow .osu files with the same file content from being imported when in the same set
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: database, resolves issue, size/M

#6847 Make settings textboxes commit on focus lost
  osu.Game/Overlays/Settings/SettingsTextBox.cs
Labels: resolves issue, settings, size/XS, tournament

#6852 Fix database unique constraint issues on some imports
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: database, resolves issue, size/S

#6834 Clean up carousel tests
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
Labels: code quality, size/S, testing

#6846 Fix selected mods not being retained on exiting song select
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Screens/StartupScreen.cs
Labels: resolves issue, size/M, song select

#6872 Fix bad references in xml doc
  Directory.Build.props
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PatternGenerator.cs
  osu.Game/Beatmaps/BeatmapDifficulty.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/Formats/Decoder.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/DownloadableArchiveModelManager.cs
  osu.Game/Database/IModelDownloader.cs
  osu.Game/Database/IModelManager.cs
  osu.Game/Database/MutableDatabaseBackedStore.cs
  osu.Game/Graphics/Sprites/OsuSpriteText.cs
  osu.Game/Graphics/UserInterface/IconButton.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Online/DownloadTrackingComposite.cs
  osu.Game/Overlays/OnScreenDisplay.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/IScrollAlgorithm.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: code quality, size/L

#6886 Fix crash when loading results after gameplay
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: resolves issue, results, size/XS

#6837 Move to .NET Standard 2.1
  osu.Android.props
  osu.Android/Properties/AndroidManifest.xml
  osu.Game.Rulesets.Catch.Tests.Android/Properties/AndroidManifest.xml
  osu.Game.Rulesets.Catch/osu.Game.Rulesets.Catch.csproj
  osu.Game.Rulesets.Mania.Tests.Android/Properties/AndroidManifest.xml
  osu.Game.Rulesets.Mania/osu.Game.Rulesets.Mania.csproj
  osu.Game.Rulesets.Osu.Tests.Android/Properties/AndroidManifest.xml
  osu.Game.Rulesets.Osu/osu.Game.Rulesets.Osu.csproj
  osu.Game.Rulesets.Taiko.Tests.Android/Properties/AndroidManifest.xml
  osu.Game.Rulesets.Taiko/osu.Game.Rulesets.Taiko.csproj
  osu.Game.Tests.Android/Properties/AndroidManifest.xml
  osu.Game.Tournament/osu.Game.Tournament.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: code quality, proposal, size/S

#6833 Fix carousel filtering twice on startup due to unpopulated ruleset
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: resolves issue, size/M, song select

#6896 Implement IAggregateAudioAdjustments properties for FallbackSampleStore
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: size/XS

#6890 Fix song select not always scrolling to the correct location
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: size/S, song select

#6838 Fix osu!direct previews muting game audio permanently
  osu.Android.props
  osu.Game.Tests/Visual/Components/TestScenePreviewTrackManager.cs
  osu.Game/Audio/PreviewTrackManager.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: audio, bug, overlays, resolves issue, size/M

#6891 Replace all MathHelper.Clamp usages with Math.Clamp
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableFruit.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PatternGenerator.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableRepeatPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SnakingSliderBody.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
  osu.Game.Tournament/Screens/Ladder/LadderDragContainer.cs
  osu.Game/Graphics/Containers/ParallaxContainer.cs
  osu.Game/Graphics/UserInterface/Bar.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
  osu.Game/Overlays/Music/PlaylistList.cs
  osu.Game/Overlays/Profile/Header/Components/SupporterIcon.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/OverlappingScrollAlgorithm.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/MarkerPart.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
  osu.Game/Screens/Edit/EditorClock.cs
  osu.Game/Screens/Menu/Button.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
  osu.Game/Screens/Play/SongProgressBar.cs
  osu.Game/Screens/Play/SquareGraph.cs
  osu.Game/Screens/ScreenWhiteBox.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Details/FailRetryGraph.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: code quality, size/L

#6857 Hook up multiplayer search filter
  osu.Game/Screens/Multi/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
Labels: multiplayer, resolves issue, size/XS

#6899 Switch android to using managed network components
  osu.Android.props
Labels: android, online / API, size/XS

#6832 Add slider control point deletion right-click menu item
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: editor, osu!, size/L

#6893 Add some extra search keywords to settings
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
  osu.Game/Overlays/Settings/Sections/AudioSection.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/SongSelectSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
Labels: resolves issue, size/M, ux

#6824 Handle SharpRaven deprecation
  osu.Game.Tests/Visual/TestSceneOsuGame.cs
  osu.Game/OsuGame.cs
  osu.Game/Utils/SentryLogger.cs
  osu.Game/osu.Game.csproj
Labels: dependencies, size/M

#6825 Fix cancel button animating when entering a dialog
  osu.Game/Overlays/Dialog/PopupDialog.cs
Labels: resolves issue, size/XS, user interface

#6867 Implement TotalCommentsCounter component for CommentsContainer
  osu.Game.Tests/Visual/Online/TestSceneTotalCommentsCounter.cs
  osu.Game/Overlays/Comments/TotalCommentsCounter.cs
Labels: comments, size/L

#5726 Add News Overlay skeleton and header
  osu.Game.Tests/Visual/Online/TestSceneNewsOverlay.cs
  osu.Game/Overlays/News/NewsContent.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/NewsOverlay.cs
Labels: overlays, size/L

#6239 Add option to show beatmap backgrounds at main menu
  osu.Game/Configuration/BackgroundSource.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Backgrounds/BeatmapBackground.cs
  osu.Game/Overlays/Settings/Sections/Audio/MainMenuSettings.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: menu, resolves issue, size/L

#5634 Create a control for filtering mods on a leaderboard
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardModSelector.cs
  osu.Game/Overlays/BeatmapSet/LeaderboardModSelector.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Rulesets/Mods/ModNoMod.cs
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: overlays, size/L, user interface

#6905 Reduce carousel scroll motion on initial display
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: size/XS, song select, ux

#6900 Add support for consecutive skips
  osu.Game.Tests/Visual/Gameplay/TestSceneSkipOverlay.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SkipOverlay.cs
Labels: gameplay, size/M

#6901 Improve skip button feel
  osu.Game.Tests/Visual/Gameplay/TestSceneSkipOverlay.cs
  osu.Game/Screens/Play/SkipOverlay.cs
Labels: size/M, user interface, ux

#4883 Add support for storyboard/custom beatmap lead-ins
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayRewinding.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerReferenceLeaking.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Screens/Play/GameplayClock.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: audio, gameplay, resolves issue, size/L

#6910 Simplify beatmap lookup to use a single endpoint
  osu.Game/Online/API/Requests/GetBeatmapRequest.cs
Labels: online / API, size/XS

#6812 Add mod selector to beatmap overlay
  osu.Game/Overlays/BeatmapSet/Scores/NoScoresPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: overlays, size/L, user interface

#6912 Update framework
  osu.Android.props
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/CirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/RingPiece.cs
  osu.Game.Tournament/Components/SongBar.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Settings/Sections/Debug/GeneralSettings.cs
  osu.Game/Overlays/Volume/MuteButton.cs
  osu.Game/Screens/Edit/Components/CircularButton.cs
  osu.Game/Users/Drawables/UpdateableAvatar.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#6924 Fix beatmap lookups failing for beatmaps with no local path
  osu.Game/Online/API/Requests/GetBeatmapRequest.cs
Labels: online / API, regression, size/XS

#6923 Don't attempt to repopulate already populated users on startup
  osu.Game.Tournament/TournamentGameBase.cs
Labels: size/XS, tournament

#6933 Fix incorrect NativeLibs version reference
  osu.iOS.props
Labels: size/XS, tooling

#6955 Use MathF instead of Math- functions when possible
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableFruit.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PatternGenerator.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableRepeatPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerTicks.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
  osu.Game.Tournament/Screens/Drawings/Components/GroupContainer.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchScoreDisplay.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: size/M

#6941 IApplicableToDrawableHitObjects should be able to get all the hitobject in nasted Playfield
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: bug, mods, size/XS

#6917 Add placeholder for non-supporters in beatmap overlay
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/BeatmapSet/Scores/NotSupporterPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
Labels: overlays, size/M, user interface

#6916 Increase padding on mod section title
  osu.Game/Overlays/Mods/ModSection.cs
Labels: design, overlays, size/XS, user interface

#6911 Fix usage of SpriteText instead of OsuSpriteText
  CodeAnalysis/BannedSymbols.txt
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBarHitErrorMeter.cs
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardModSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsDismissableFlag.cs
  osu.Game.Tests/Visual/Online/TestSceneUserRequest.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Overlays/Comments/CommentsHeader.cs
  osu.Game/Overlays/Comments/DeletedChildrenPlaceholder.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/SortTabControl.cs
  osu.Game/Overlays/Comments/TotalCommentsCounter.cs
  osu.Game/Overlays/Comments/VotePill.cs
  osu.Game/Overlays/Profile/Header/Components/PreviousUsernames.cs
  osu.Game/Overlays/Rankings/HeaderTitle.cs
Labels: code quality, size/XS

#6450 Add access to numerical version of legacy skin
  osu.Game.Tests/Resources/skin-20.ini
  osu.Game.Tests/Resources/skin-latest.ini
  osu.Game.Tests/Skins/LegacySkinDecoderTest.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinConfiguration.cs
  osu.Game/Skinning/LegacySkinDecoder.cs
Labels: size/M, skinning

#6956 Make DimmedLoadingLayer block input when active
  osu.Game/Graphics/UserInterface/DimmedLoadingLayer.cs
Labels: size/XS

#6959 Fix stutters when changing beatmap difficulties
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
Labels: performance, size/XS, song select

#6970 Correct banned symbols configuration
  CodeAnalysis/BannedSymbols.txt
Labels: code quality, size/XS

#6962 Centralise End/StartTime retrieval to extension method
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapConversionTest.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
  osu.Game.Rulesets.Osu.Tests/OsuBeatmapConversionTest.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoBeatmapConversionTest.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Objects/BarLineGenerator.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Screens/Play/SongProgressGraph.cs
Labels: code quality, size/M

#6972 Revert Android to using native network components
  osu.Android.props
Labels: android, online / API, size/XS

#6964 Change login placeholder text to ask for username
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
Labels: online / API, size/XS, user interface

#6922 Display useful statistics on song bar depending on current ruleset
  osu.Game.Tournament/Components/SongBar.cs
Labels: size/M, tournament

#6973 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#6974 Unify to use double in performance calculators
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: size/L

#6960 Consider intro and outro time as "break" time
  osu.Game.Tests/Visual/Gameplay/TestSceneBreakOverlay.cs
  osu.Game/Screens/Play/BreakOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: gameplay, size/S, ux

#6958 Fix appveyor integration by not using cake for build
  Directory.Build.props
  InspectCode.ps1
  README.md
  appveyor.yml
  appveyor_deploy.yml
  build.sh
  build/InspectCode.cake
  osu.Game.Rulesets.Catch.Tests.Android/Properties/AndroidManifest.xml
  osu.Game.Tests.Android/osu.Game.Tests.Android.csproj
  osu.Game/osu.Game.csproj
Labels: size/L, tooling

#6988 Adjust wording and make small format changes
  README.md
Labels: size/S

#6986 Fix nullref on clicking links in tests
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
Labels: size/S, testing

#6982 Add debouncing to hover sounds
  osu.Game/Graphics/UserInterface/HoverClickSounds.cs
  osu.Game/Graphics/UserInterface/HoverSounds.cs
Labels: size/M, user interface

#6995 Add loved enum on BeatmapApproval
  osu.Game/Online/API/Requests/GetUserRecentActivitiesRequest.cs
Labels: size/XS

#6998 Fix tournament client crashing due to null ruleset
  osu.Game.Tournament/TournamentGameBase.cs
Labels: resolves issue, size/XS, tournament

#6979 Reduce the framebuffer scale of background blurs
  osu.Android.props
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Graphics/Backgrounds/Background.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: graphics, performance, size/S

#7000 Update font loading to use new method
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/OsuGameBase.cs
Labels: code quality, size/M

#7009 Fix social browser calling game-wide load stalls
  osu.Game/Users/UserCoverBackground.cs
Labels: performance, resolves issue, size/XS
