Repository ppy/osu, pull requests merged in 2020-03, with the labels that each got.

#8006 Apply osu!-side invalidation changes
  osu.Android.props
  osu.Game.Rulesets.Mania/Mods/ManiaModFlashlight.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/BodyPiece.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Graphics/UserInterface/LineGraph.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Play/SquareGraph.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L, type:UI

#8031 Fix double-dimming in changelog stream badge area
  osu.Game/Graphics/UserInterface/ExpandingBar.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/Changelog/UpdateStreamBadge.cs
  osu.Game/Overlays/Changelog/UpdateStreamBadgeArea.cs
Labels: area:overlay-changelog, size/L, type:UI

#8091 Prevent unnecessary auto-size computations in mania
  osu.Game.Rulesets.Mania/UI/ManiaStage.cs
Labels: ruleset:osu!mania, size/XS, type:performance

#8101 Fix potential deadlock during gameplay tests
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: area:gameplay, size/XS, type:testing

#8103 Reduce social overlay/direct overlay paddings
  osu.Game/Overlays/SearchableList/SearchableListOverlay.cs
Labels: area:overlay-direct, size/XS, type:UI

#8122 Split out LadderEditorSetings into multiple files
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderSettingsDropdown.cs
  osu.Game.Tournament/Screens/Ladder/Components/SettingsTeamDropdown.cs
Labels: area:tournament, size/L, type:code-quality

#8123 Fix nullref when deleting teams in the ladder screen
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
Labels: area:tournament, size/XS, type:crash

#8121 Comment out log locations in bug report template
  .github/ISSUE_TEMPLATE/01-bug-issues.md
Labels: size/XS

#8104 Add torus font
  osu.Android.props
  osu.Game.Tournament/Resources/Fonts/Aquatico-Light.bin
  osu.Game.Tournament/Resources/Fonts/Aquatico-Light_0.png
  osu.Game.Tournament/Resources/Fonts/Aquatico-Regular.bin
  osu.Game.Tournament/Resources/Fonts/Aquatico-Regular_0.png
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchScoreDisplay.cs
  osu.Game.Tournament/Screens/TeamIntro/TeamIntroScreen.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
  osu.Game.Tournament/TournamentFont.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Graphics/OsuFont.cs
  osu.Game/Online/Leaderboards/DrawableRank.cs
  osu.Game/OsuGameBase.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:tournament

#8105 Add tournament seeding screen
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingScreen.cs
  osu.Game.Tournament/Models/SeedingBeatmap.cs
  osu.Game.Tournament/Models/SeedingResult.cs
  osu.Game.Tournament/Models/TournamentTeam.cs
  osu.Game.Tournament/Screens/Editors/SeedingEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TournamentSceneManager.cs
  osu.Game.Tournament/TournamentSpriteText.cs
Labels: area:tournament, size/XL

#8125 Comment out log locations in crash report template
  .github/ISSUE_TEMPLATE/02-crash-issues.md
Labels: size/XS

#8106 Update tournament client to 2019 design language
  osu.Game.Tournament.Tests/Screens/TestSceneTeamWinScreen.cs
  osu.Game.Tournament/Components/ControlPanel.cs
  osu.Game.Tournament/Components/DrawableTournamentTeam.cs
  osu.Game.Tournament/Components/SongBar.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game.Tournament/Screens/Drawings/Components/Group.cs
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableMatchTeam.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentRound.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
  osu.Game.Tournament/Screens/SetupScreen.cs
  osu.Game.Tournament/Screens/Showcase/ShowcaseScreen.cs
  osu.Game.Tournament/Screens/Showcase/TournamentLogo.cs
  osu.Game.Tournament/Screens/TeamIntro/TeamIntroScreen.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament

#8128 Fix beatmap status always using "ranked" for Ranked field
  osu.Game/Overlays/BeatmapSet/AuthorInfo.cs
Labels: size/S

#8118 Fix follow points using unstacked hitobject positions
  osu.Game.Rulesets.Osu.Tests/TestSceneFollowPoints.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
Labels: area:gameplay, ruleset:osu!, size/M

#8138 Fix user panel tests
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
Labels: size/M, type:testing

#8131 Fix searchable list padding
  osu.Game/Overlays/SearchableList/SearchableListOverlay.cs
Labels: area:overlay-direct, size/XS, type:UI

#8141 Centralise creation of UpdateManagers
  osu.Android/OsuGameAndroid.cs
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGame.cs
  osu.Game/Updater/UpdateManager.cs
  osu.iOS/OsuGameIOS.cs
Labels: size/M, type:code-quality

#8140 Centralise TestPlayer implementations as much as possible
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuFlashlight.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneSwellJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoSuddenDeath.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayRewinding.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePauseWhenInactive.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
  osu.Game/Tests/Visual/TestPlayer.cs
Labels: size/L, type:code-quality

#8142 Fix song select max displayable star difficulty getting stuck at wrong maximum
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestSettingsMigration.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: area:settings, size/S

#8066 Add base test scene allowing different player initialisation per test method
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModDifficultyAdjust.cs
  osu.Game/Tests/Visual/ModTestScene.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
Labels: size/L, type:testing

#8135 Remove LD_LIBRARY_PATH from vscode launch.json
  .vscode/launch.json
Labels: area:tooling, size/M

#8129 Fix DummyWorkingBeatmap's track completion attempting to change game-wide beatmap
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: area:song-select, size/M

#8059 Make KeyCounter not count key presses during breaks
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/M, type:UI

#8152 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8148 Ensure tournament screens respect aspect ratio in tests
  osu.Game.Tournament/Screens/TournamentScreen.cs
Labels: area:tournament, size/XS, type:testing

#8149 Add a short load delay for avatars to avoid unnecessary fetching
  osu.Game/Users/Drawables/UpdateableAvatar.cs
Labels: size/XS, type:performance

#8150 Remove layout durations from tournament editor screens for better performance
  osu.Game.Tournament/Screens/Editors/RoundEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/SeedingEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
Labels: area:tournament, size/XS, type:performance

#8151 Simplify tournament video construction
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/TeamIntroScreen.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/M, type:code-quality

#8100 Fix test scene virtual track not respecting rate adjustments
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModDoubleTime.cs
  osu.Game/Screens/Play/SkipOverlay.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/L, type:testing

#8163 Fix osu! hitbox accepting input outside of circle
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleArea.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: area:gameplay, ruleset:osu!, size/L

#8047 Adjust most played beatmaps section to better match osu-web
  osu.Game/Overlays/Profile/Sections/Historical/DrawableMostPlayedBeatmap.cs
  osu.Game/Overlays/Profile/Sections/ProfileItemContainer.cs
Labels: area:overlay-user-profile, size/M, type:UI

#8178 Fix video looping not propagating when set too early in initialisation
  osu.Game.Tournament/Components/TourneyVideo.cs
Labels: area:tournament, size/XS

#8175 Increase flexibility of StarCounter component
  osu.Game.Tests/Visual/Gameplay/TestSceneScoreCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStarCounter.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game/Graphics/UserInterface/StarCounter.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
Labels: size/L, type:UI

#8182 Fix hit error ticks getting out of the hit error meter
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: size/XS

#8170 Apply tournament client usability changes
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game.Tournament/Models/TournamentMatch.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
Labels: area:tournament, size/M

#8186 Fix textbox characters not animating when typing/backspacing
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
Labels: size/S, type:UI

#8171 Add new tournament design base elements
  osu.Game.Tournament.Tests/Components/TestSceneDrawableTournamentTeam.cs
  osu.Game.Tournament/Components/DrawableTeamFlag.cs
  osu.Game.Tournament/Components/DrawableTeamHeader.cs
  osu.Game.Tournament/Components/DrawableTeamTitle.cs
  osu.Game.Tournament/Components/DrawableTeamTitleWithHeader.cs
  osu.Game.Tournament/Components/DrawableTeamWithPlayers.cs
  osu.Game.Tournament/Components/DrawableTournamentTeam.cs
  osu.Game.Tournament/Components/DrawableTournamentTitleText.cs
  osu.Game.Tournament/Components/RoundDisplay.cs
  osu.Game.Tournament/Components/TournamentSpriteTextWithBackground.cs
  osu.Game.Tournament/Screens/Drawings/Components/Group.cs
  osu.Game.Tournament/Screens/Drawings/Components/GroupTeam.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game.Tournament/Screens/Gameplay/Components/RoundDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScore.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableMatchTeam.cs
Labels: area:tournament, size/XL, type:code-quality

#8173 Implement 2020 map pool design
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
Labels: area:tournament, size/XL, type:UI

#8174 Implement 2020 ladder design
  osu.Game.Tournament/Screens/Ladder/Components/DrawableMatchTeam.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentRound.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
Labels: area:tournament, size/XXL, type:UI

#8180 Implement 2020 intro screen design
  osu.Game.Tournament/Screens/TeamIntro/TeamIntroScreen.cs
Labels: area:tournament, size/XXL, type:UI

#8179 Implement 2020 win screen design
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
Labels: area:tournament, size/XXL, type:UI

#8176 Implement 2020 gameplay design
  osu.Game.Tournament.Tests/Components/TestSceneDrawableTournamentTeam.cs
  osu.Game.Tournament.Tests/Screens/TestSceneGameplayScreen.cs
  osu.Game.Tournament/Components/SongBar.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game.Tournament/Screens/BeatmapInfoScreen.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchScoreDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/RoundDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScore.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/XXL, type:UI

#8177 Implement 2020 schedule design
  osu.Game.Tournament.Tests/Screens/TestSceneScheduleScreen.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
Labels: area:tournament, size/XXL, type:UI

#8193 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8196 Add idle animation and fallback catcher support
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle-0@2x.png
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle-1@2x.png
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle-2@2x.png
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle-3@2x.png
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle-4@2x.png
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle-5@2x.png
  osu.Game.Rulesets.Catch.Tests/Resources/special-skin/fruit-catcher-idle.png
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch/CatchSkinComponents.cs
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherSprite.cs
Labels: area:skinning, ruleset:osu!catch

#8192 Fix hyperdash not initiating correctly when juice streams are present
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#8197 Fix osu! shaking instead of missing for early hits
  osu.Game.Rulesets.Osu.Tests/TestSceneMissHitWindowJudgements.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHitWindows.cs
Labels: area:gameplay, ruleset:osu!, size/M

#8195 Fix crashes on some storyboards
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/variable-with-suffix.osb
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
Labels: area:storyboard, size/M, type:crash

#8084 Fix perfect mod incorrectly failing in some scenarios
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModPerfect.cs
  osu.Game.Rulesets.Catch/Mods/CatchModPerfect.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModPerfect.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModPerfect.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModPerfect.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoHealthProcessor.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Tests/Visual/ModPerfectTestScene.cs
  osu.Game/Tests/Visual/ModTestScene.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
Labels: area:mods, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, ruleset:osu!taiko, size/L

#7971 Hide pp display on leaderboards if map is qualified or loved
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
Labels: area:overlay-beatmap, size/M, type:UI

#8208 Use framework extension method for FromHex
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScore.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableMatchTeam.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledDrawable.cs
  osu.Game/Online/Leaderboards/DrawableRank.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderButton.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/Selection/ChannelSelectionOverlay.cs
  osu.Game/Overlays/Chat/Tabs/PrivateChannelTabItem.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Overlays/Dialog/PopupDialogButton.cs
  osu.Game/Overlays/Direct/FilterControl.cs
  osu.Game/Overlays/Direct/Header.cs
  osu.Game/Overlays/DirectOverlay.cs
  osu.Game/Overlays/MedalOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Social/FilterControl.cs
  osu.Game/Overlays/Social/Header.cs
  osu.Game/Overlays/SocialOverlay.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Menu/IntroSequence.cs
  osu.Game/Screens/Menu/OsuLogo.cs
  osu.Game/Screens/Multi/Components/DrawableGameType.cs
  osu.Game/Screens/Multi/Components/ParticipantsList.cs
  osu.Game/Screens/Multi/Header.cs
  osu.Game/Screens/Multi/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/Multi/Match/Components/Footer.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Multi/Match/Components/PurpleTriangleButton.cs
  osu.Game/Screens/Multi/Match/Components/RoomAvailabilityPicker.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
Labels: size/XL, type:code-quality

#8204 Fix osu!catch hitobjects appearing / fading too late
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableJuiceStream.cs
Labels: area:gameplay, ruleset:osu!catch, size/S

#8206 Fix download failures potentially crashing game
  osu.Game/Database/IModelDownloader.cs
  osu.Game/Online/DownloadTrackingComposite.cs
Labels: area:beatmap, size/S, type:reliability

#8202 Don't play samples on catching a tiny droplet
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
Labels: ruleset:osu!catch, size/XS, type:audio

#8201 Fix hyperdash test having a zero-length juice stream
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
Labels: ruleset:osu!catch, size/M, type:testing

#8200 Add afterimage glow when entering hyperdash
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#8211 Update text on disclaimer screen (and add tips)
  osu.Game.Tests/Visual/Menus/TestSceneDisclaimer.cs
  osu.Game/Screens/Menu/Disclaimer.cs
Labels: size/M, type:UI

#8133 Reapply filters on next change after a forced beatmap display
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselItem.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/S

#8205 Fix changing ruleset at song select not scrolling the current selection back into view
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S, type:UX

#8198 Add catcher kiai/fail animation states
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch/CatchSkinComponents.cs
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/UI/CatcherAnimationState.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherSprite.cs
Labels: area:skinning, ruleset:osu!catch, size/L

#8199 Add random rotation and scale factors to osu!catch bananas
  osu.Game.Rulesets.Catch.Tests/TestSceneBananaShower.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
Labels: area:gameplay, ruleset:osu!catch, size/S

#8215 Implement 2020 seeding screen design
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
Labels: area:tournament, size/S

#8229 Use fixed width text for tournament score displays
  osu.Game.Tournament/Screens/Gameplay/Components/MatchScoreDisplay.cs
Labels: area:tournament, size/XS

#8235 Disable adjusting volume via "select next" and "select previous" as fallbacks
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
Labels: area:gameplay, size/S, type:input

#8236 Allow videos to be loaded with any extension
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TournamentStorage.cs
Labels: area:tournament, size/M

#8237 Add back dynamic components of tournament header
  osu.Game.Tournament.Tests/Components/TestSceneMatchHeader.cs
  osu.Game.Tournament/Components/DrawableTournamentHeaderLogo.cs
  osu.Game.Tournament/Components/DrawableTournamentHeaderText.cs
  osu.Game.Tournament/Components/DrawableTournamentTitleText.cs
  osu.Game.Tournament/Components/RoundDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchRoundDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScoreDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
Labels: area:tournament, size/L

#8241 Fix beatmap carousel tests loading beatmap manager beatmaps in test browser
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: size/XS, type:testing

#8216 Apply osu!-side video sprite changes
  osu.Android.props
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#8220 Fix catch beatmap processing not matching stable
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
Labels: area:difficulty, ruleset:osu!catch, size/M

#8226 Add ability to set stable path for tourney client via environment variable
  osu.Game.Tournament/IPC/FileBasedIPC.cs
Labels: area:tournament, size/XS

#8230 Fix catcher showing miss sprite upon missing bananas
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/XS

#8245 Fallback on invalid AnimationFramerate for legacy skins
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: size/XS

#8219 Remove unlimited timing points in difficulty calculation
  osu.Game/Beatmaps/Formats/LegacyDifficultyCalculatorBeatmapDecoder.cs
Labels: area:beatmap, size/S, type:performance

#8261 Fix mod sprite bleeding border colour
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
Labels: area:tournament, size/S

#8256 Expose half catcher width to movement skill
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
Labels: area:difficulty, ruleset:osu!catch, size/M

#8217 Add more sane limit for maximum slider length
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap, size/XS, type:performance

#8257 Split out CatcherArea nested classes and reorder methods
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/HitExplosion.cs
Labels: area:gameplay, ruleset:osu!catch, size/XXL, type:code-quality

#8267 Fix osu! slider ball tint colour being applied to follow circle
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
Labels: area:skinning, ruleset:osu!, size/XS

#8262 Add resolution selector in tournament setup screen
  osu.Game.Tournament/Components/ControlPanel.cs
  osu.Game.Tournament/Screens/SetupScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/M, type:UX

#8259 Switch game to use new font (Torus)
  osu.Android.props
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Graphics/OsuFont.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Graphics/UserInterface/PageTabControl.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/Changelog/ChangelogBuild.cs
  osu.Game/Overlays/News/NewsArticleCover.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Screens/Multi/Lounge/Components/ParticipantInfo.cs
  osu.Game/Screens/Multi/Ranking/Pages/RoomLeaderboardPage.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:UI

#8270 Switch to the next chat tab upon closing an active one
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Online/Chat/ChannelType.cs
  osu.Game/Overlays/Chat/Tabs/ChannelSelectorTabItem.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
Labels: area:overlay-chat, size/L, type:UX

#8242 Apply ruleset filter in all cases (even when bypassing filter for selection purposes)
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/M, type:UX

#8246 Improve beatmap carousel / song select fallback logic pathing
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:code-quality

#8213 Fix osu!catch trail animating (and displaying incorrect frame)
  osu.Android.props
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailSprite.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, ruleset:osu!catch, size/M

#8247 Add the ability to click filtered difficulty icons
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/L, type:UX

#8248 Add the ability to click grouped beatmap difficulty icons
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/L, type:UX

#8255 Fix carousel scrolling being inoperable during beatmap import
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/M

#8132 Update user panel design
  osu.Game.Tests/Visual/Online/TestSceneAccountCreationOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneSocialOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Overlays/Social/SocialGridPanel.cs
  osu.Game/Overlays/Social/SocialListPanel.cs
  osu.Game/Overlays/Social/SocialPanel.cs
  osu.Game/Overlays/SocialOverlay.cs
  osu.Game/Users/UserGridPanel.cs
  osu.Game/Users/UserListPanel.cs
  osu.Game/Users/UserPanel.cs
  osu.Game/Users/UserStatus.cs
Labels: size/XL, type:UI

#8291 Use new logo name for showcase screen
  osu.Game.Tournament/Screens/Showcase/TournamentLogo.cs
Labels: size/XS

#8300 Limit Torus font weight to bold
  osu.Game/Graphics/OsuFont.cs
  osu.Game/Overlays/News/NewsArticleCover.cs
  osu.Game/Overlays/Notifications/NotificationSection.cs
  osu.Game/Overlays/OSD/Toast.cs
  osu.Game/Overlays/OverlayStreamItem.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Play/Break/BreakInfo.cs
Labels: size/S, type:UI

#8260 Add beatmap loading timeout to prevent runaway loading scenarios
  osu.Game/Beatmaps/IWorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:beatmap, size/L

#8307 Add black font weighting
  osu.Game/Graphics/OsuFont.cs
Labels: size/XS

#8305 Fix replay scores not being populated via player
  osu.Game/Screens/Play/Player.cs
Labels: area:results, size/XS

#8304 Implement a circle that displays the user's accuracy
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Graphics/Sprites/GlowingSpriteText.cs
  osu.Game/Online/Leaderboards/DrawableRank.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankBadge.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankNotch.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankText.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/SmoothCircularProgress.cs
Labels: area:results, size/XL

#8306 Update framework
  osu.Android.props
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8302 Automatically mark the currently selected match as started on entering gameplay screen
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScoreDisplay.cs
Labels: area:tournament, size/S, type:UX

#8308 Implement the results screen score panel
  osu.Game.Tests/Visual/Ranking/TestSceneScorePanel.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelTopContent.cs
  osu.Game/Screens/Ranking/PanelState.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: area:results, size/L

#8309 Implement the top score panel contents
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelTopContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelTopContent.cs
Labels: area:results, size/L

#8310 Implement the middle score panel contents
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStarRatingDisplay.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/AccuracyStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/ComboStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/CounterStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/StatisticDisplay.cs
  osu.Game/Screens/Ranking/Expanded/TotalScoreCounter.cs
Labels: area:results, size/XXL

#8311 Implement the new results screen
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchResults.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Multi/Ranking/MatchResults.cs
  osu.Game/Screens/Multi/Ranking/Pages/RoomLeaderboardPage.cs
  osu.Game/Screens/Multi/Ranking/Types/RoomLeaderboardPageInfo.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SoloResults.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/IResultPageInfo.cs
  osu.Game/Screens/Ranking/Pages/LocalLeaderboardPage.cs
  osu.Game/Screens/Ranking/Pages/ScoreResultsPage.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
  osu.Game/Screens/Ranking/ResultModeButton.cs
  osu.Game/Screens/Ranking/ResultModeTabControl.cs
  osu.Game/Screens/Ranking/Results.cs
  osu.Game/Screens/Ranking/ResultsPage.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/RetryButton.cs
  osu.Game/Screens/Ranking/Types/LocalLeaderboardPageInfo.cs
  osu.Game/Screens/Ranking/Types/ScoreOverviewPageInfo.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:results, size/XXL

#8318 Fix mapper name in score panel
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/XS

#8333 Fix 'good first issue' link in readme
  README.md
Labels: size/XS

#8334 Fix results' beatmap title and artist language setting being swapped
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/XS, type:UI

#8320 Fix mapper info alignment in score panel
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/XS, type:UI

#8297 Chat overlay test scene improvements
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
Labels: area:overlay-chat, size/M, type:testing

#8212 Update loader animation
  osu.Game.Tests/Visual/Menus/TestSceneLoader.cs
  osu.Game/Graphics/UserInterface/LoadingSpinner.cs
  osu.Game/Screens/Loader.cs
Labels: size/M, type:UI

#8335 Update incorrect file path causing error on rider solution load
  .idea/.idea.osu.Desktop/.idea/modules.xml
Labels: size/XS, type:code-quality

#8323 Re-use colors defined for each rank in result screen accuracy circle
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
Labels: size/S

#8336 Fix perfect display showing when misses are present
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/XS

#8338 Colourise results screen hit statistics
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/HitResultStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/StatisticDisplay.cs
Labels: area:results, size/M

#8340 Add date played to score panel
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/XS

#8339 Update rank badge colours
  osu.Game/Graphics/OsuColour.cs
Labels: area:results, size/S

#8341 Make score panel scroll if off-screen
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/XS

#8345 Add testflight distribution step automation
  fastlane/Fastfile
Labels: area:tooling, size/XS

#8349 Show 'D' rank badge on accuracy circle
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
Labels: area:results, size/S

#8346 Reduce allocations of followpoints by reusing existing
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
Labels: area:gameplay, size/S, type:performance

#8360 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8355 Fix potentially invalid push in player while already exiting
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S, type:reliability

#8362 Fix slider ticks/repeats contributing to accuracy
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHardRock.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/SliderTick.cs
Labels: area:gameplay, ruleset:osu!, size/M

#8374 Don't open profile if it's Autoplay
  osu.Game/Users/Drawables/DrawableAvatar.cs
Labels: size/XS

#8329 Fix beat divisor control selecting invalid divisors on drag end
  osu.Game.Tests/Visual/Editor/TestSceneBeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: area:editor, size/M, type:UI

#8402 Fix test scene potentially missing dependencies
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleArea.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneResumeOverlay.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Components/TestSceneIdleTracker.cs
  osu.Game.Tests/Visual/Editor/TestSceneBeatDivisorControl.cs
  osu.Game.Tests/Visual/Editor/TestSceneZoomableScrollContainer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHoldForMenuButton.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkipOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentEditor.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneCursors.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuHoverContainer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneStatefulMenuItem.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneSwitchButton.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
  osu.Game/Tests/Visual/SelectionBlueprintTestScene.cs
Labels: size/M, type:testing

#8172 Add better flow logic to map pool layout when few beatmaps are present
  osu.Game.Tournament.Tests/LadderTestScene.cs
  osu.Game.Tournament.Tests/Screens/TestSceneMapPoolScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
Labels: area:tournament, size/L, type:UX

#8368 Fix carousel not returning to previous selection after filter
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
Labels: area:song-select, size/M

#8370 Fix selection not occurring when switching away from empty ruleset
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M

#8389 Increase sample concurrency to better match stable
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:gameplay, size/S, type:audio

#8394 Fix very long spinners degrading in performance
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerDisc.cs
Labels: area:gameplay, ruleset:osu!, size/S, type:performance

#8404 Hide scrollbars in tournament chat display
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: area:tournament, size/M

#8403 Add ability to adjust (and save) chroma-key area width
  osu.Game.Tournament/Models/LadderInfo.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/SetupScreen.cs
Labels: area:tournament

#8408 Fix some pieces of SettingsItem getting dimmed twice when disabled
  osu.Game/Overlays/Settings/SettingsCheckbox.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: size/S, type:UI

#8405 Remove taiko CentreHit/RimHit hitobject abstraction
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModPerfect.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoBeatmapConversionTest.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoPlayfield.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/TaikoDifficultyHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/CentreHit.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/HitType.cs
  osu.Game.Rulesets.Taiko/Objects/RimHit.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoAutoGenerator.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, size/L, type:code-quality

#8288 Implement FriendDisplay component
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFriendsOnlineStatusControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneUserListToolbar.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/Dashboard/Friends/FriendOnlineStreamControl.cs
  osu.Game/Overlays/Dashboard/Friends/FriendStream.cs
  osu.Game/Overlays/Dashboard/Friends/FriendsOnlineStatusItem.cs
  osu.Game/Overlays/Dashboard/Friends/OnlineStatus.cs
  osu.Game/Overlays/Dashboard/Friends/UserListToolbar.cs
  osu.Game/Overlays/Dashboard/Friends/UserSortTabControl.cs
  osu.Game/Overlays/Home/Friends/FriendsBundle.cs
  osu.Game/Overlays/Home/Friends/FriendsOnlineStatusControl.cs
  osu.Game/Users/User.cs
  osu.Game/Users/UserPanel.cs
Labels: area:overlay-social, size/XL, type:UI

#8409 Fix crash when holding a key down while entering player
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, size/XS, type:reliability

#8415 Fix autoplay keyboard shortcut not working with keypad enter key
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:song-select, size/XS, type:input

#8414 Fix song select filter and footer not absorbing input from carousel
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/Footer.cs
Labels: area:song-select, size/XS, type:input

#8406 Implement random mod for taiko
  osu.Game.Rulesets.Mania/Mods/ManiaModRandom.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModRandom.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Mods/ModRandom.cs
Labels: area:mods, ruleset:osu!taiko, size/L

#8426 Allow individual storyboard layers to disable masking
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game/Screens/Play/DimmableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardLayer.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Storyboards/StoryboardLayer.cs
Labels: size/XS

#8167 Start background video playback based on provided offset
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Beatmaps/IWorkingBeatmap.cs
  osu.Game/Beatmaps/Legacy/LegacyStoryLayer.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Overlays/Settings/Sections/Graphics/DetailSettings.cs
  osu.Game/Rulesets/Mods/ModCinema.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Play/DimmableVideo.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerSettings/VisualSettings.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Storyboards/StoryboardVideo.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
Labels: area:storyboard, size/L

#8430 Remove unused text transform helpers
  osu.Game/Graphics/Sprites/OsuSpriteText.cs
Labels: size/S, type:code-quality

#8433 Fix track looping state not being reset when entering editor from song select
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/XS

#8431 Fix intro tests not asserting pass or working at all
  osu.Game.Tests/Visual/Menus/IntroTestScene.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: size/XS, type:testing

#8427 Add replay recorder functionality
  osu.Game.Rulesets.Mania.Tests/ManiaInputTestScene.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
  osu.Game.Tests/Gameplay/TestSceneReplayRecorder.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: area:replay, size/L

#8428 Add local replay support for all rulesets
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Replays/CatchReplayFrame.cs
  osu.Game.Rulesets.Catch/UI/CatchReplayRecorder.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Replays/ManiaReplayFrame.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Mania/UI/ManiaReplayRecorder.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Replays/OsuReplayFrame.cs
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuReplayRecorder.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoReplayFrame.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoReplayRecorder.cs
  osu.Game.Tests/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Gameplay/TestSceneReplayRecording.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game/IO/Archives/ArchiveReader.cs
  osu.Game/IO/Archives/LegacyByteArrayReader.cs
  osu.Game/IO/Archives/LegacyDirectoryArchiveReader.cs
  osu.Game/IO/Archives/LegacyFileArchiveReader.cs
  osu.Game/IO/Archives/ZipArchiveReader.cs
  osu.Game/Rulesets/Replays/Types/IConvertibleReplayFrame.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Scoring/Legacy/DatabasedLegacyScoreDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Scoring/LegacyDatabasedScore.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Tests/Beatmaps/LegacyModConversionTest.cs
Labels: area:replay, size/XXL

#8441 Fix last seen date being visible in user panel when it shouldn't
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Users/UserPanel.cs
Labels: size/M, type:UI

#8447 Fix break overlay scaling with gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBreakTracker.cs
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/Play/BreakOverlay.cs
  osu.Game/Screens/Play/BreakTracker.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/M

#8450 Reduce spread of stacked fruit
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset:osu!catch, size/XS

#8452 Make slider judgements count towards base score / accuracy
  osu.Game.Rulesets.Osu/Objects/SliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/SliderTick.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#8451 Only play slider end sounds if tracking
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#8461 Fix osu!mania replays recording incorrectly when key mod applied
  osu.Game.Rulesets.Mania/Replays/ManiaReplayFrame.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:replay, ruleset:osu!mania, size/S

#8407 Disable raw input toggle on all but windows
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: size/M, type:input
