Repository ppy/osu, pull requests merged in 2020-11, with the labels that each got.

#10634 Fix selection box action tooltips still being visible after object deletion
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M, type:UI

#10647 Ensure LoadOszIntoOsu returns actual imported map
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
Labels: size/XS, type:reliability, type:testing

#10623 Fix "bounce" when metadata container text is empty in song select
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: area:song-select, size/XS, type:UI

#10653 Fix edit beatmap options button not resuming back to song select
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:song-select, size/XS, type:UX

#10631 Delete all selected objects if shift-clicked on one
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/S, type:UX

#10606 Fix timeline zoom during drag-select causing unexpected behaviour
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, size/M, type:UI

#10619 Change sample lookup structure to allow specifications outside of "Gameplay" prefix
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/mania-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/slider-convert-samples-expected-conversion.json
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Audio/SampleInfo.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Screens/Play/ComboEffects.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:skinning, size/L

#10615 Add applause effect to results screen
  osu.Android.props
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:results, size/M

#10654 Fix taiko drum not correct handling sample / group point changes
  osu.Game.Rulesets.Taiko/Audio/DrumSampleContainer.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
Labels: area:editor, ruleset:osu!taiko, size/M

#10605 Add screen hierarchy for spectating another player
  osu.Game.Tests/NonVisual/StreamingFramedReplayInputHandlerTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Replays/Replay.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Rulesets/UI/IFrameStableClock.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/Spectator.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Play/SpectatorPlayerLoader.cs
Labels: area:replay, size/XXL, type:network

#10258 Add dynamic calculation of performance points to local scores
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Beatmaps/BeatmapDifficultyManager.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScorePerformanceManager.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/CounterStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/StatisticCounter.cs
Labels: area:results, size/L

#10640 Fix music being paused after retrying & exiting timeshift map
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: area:multiplayer, size/M, type:audio

#10657 Rename IsUserPaused -> UserPauseRequested
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/S, type:code-quality

#10659 Fix editor seek transform seeking too much
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/S

#10661 Debounce calls to UpdateTernaryStates
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/XS, type:code-quality

#10658 Add very basic connection status logging for spectator streaming client
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
Labels: size/S, type:code-quality

#10677 Fix osu!catch banana animation not playing due to incorrect lifetimes
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
Labels: area:gameplay, ruleset:osu!catch, size/XS

#10680 Add key bindings for flip and reverse patterns
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M, type:UX

#10674 Change editor timeline mouse wheel handling to scroll by default (and zoom with alt held)
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, size/M, type:input

#10673 Add opacity adjustment for waveform editor
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/WaveformOpacityMenu.cs
Labels: area:editor, size/L, type:UI

#10664 Fix osu!catch replay conversion applying left movements to wrong frame
  osu.Game.Rulesets.Catch/Replays/CatchReplayFrame.cs
Labels: area:replay, ruleset:osu!catch, size/XS

#10678 Fix LoadComponentAsync calls potentially occuring after beatmap wedge disposal
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/M, type:reliability

#10611 Add "currently playing" player listing and spectator UI flow
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Overlays/Settings/Sections/Online/WebSettings.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
  osu.Game/Screens/Play/Spectator.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Play/SpectatorResultsScreen.cs
  osu.Game/Users/UserPanel.cs
Labels: area:multiplayer, area:replay, size/XL

#10660 Fix looping mode not being set on first track after entering song select
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M, type:audio

#10667 Fix editor clock not always remaining stopped when dragging timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/XS

#10655 Downgrade SignalR package to avoid startup crashes on iOS
  osu.iOS.props
Labels: blocked, platform:iOS, size/XS

#10684 Fix crash on entering the editor on iOS
  .gitignore
  CodeAnalysis/BannedSymbols.txt
  osu.Game.Rulesets.Taiko/Audio/DrumSampleContainer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointDisplay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointGroup.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: platform:iOS, size/M, type:reliability

#10689 Use asynchronous load instead of constructor for osu! DrawableHitObjects
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, ruleset:osu!, size/L

#10691 Remove AccentColour binding from judgement lighting
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SkinnableLighting.cs
Labels: area:skinning, ruleset:osu!, size/M

#10690 Remove stored hitobject references from osu! components
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/CirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/PlaySliderBody.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SnakingSliderBody.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerRotationTracker.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacySliderBall.cs
Labels: area:skinning, ruleset:osu!, size/M

#10692 Make FollowPointRenderer use hitobject models
  osu.Game.Rulesets.Osu.Tests/TestSceneFollowPoints.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointRenderer.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: ruleset:osu!, size/M

#10694 Fix paused samples potentially getting stuck in a playing state in rapid toggling
  osu.Game/Skinning/PausableSkinnableSound.cs
Labels: size/S, type:audio

#10696 Add mod subclass to handle visibility adjusment mods
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModObjectScaleTween.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpinIn.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
  osu.Game/Rulesets/Mods/ModWithVisibilityAdjustment.cs
Labels: area:mods, size/L

#10695 Fix SkinnableTestScene's autosize propagation
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: size/M, type:testing

#10702 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#10685 Add new method handling hit state specifically
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Mania/Edit/ManiaBeatSnapGrid.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:ruleset-api, size/L, type:code-quality

#10711 Rename cache classes in line with their function (and share a base implementation)
  osu.Game.Tests/Beatmaps/BeatmapDifficultyManagerTest.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Beatmaps/StarDifficulty.cs
  osu.Game/Database/MemoryCachingComponent.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: size/L, type:code-quality

#10710 Use int instead of long for user_id fields for now
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Online/API/Requests/Responses/APIChangelogUser.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/Spectator.cs
  osu.Game/Users/User.cs
Labels: size/M, type:code-quality

#10697 Add support for spinner "glow" in legacy skins
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
Labels: area:skinning, ruleset:osu!, size/M

#10700 Add support for spinner "spin" text in legacy skins
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacySpinner.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:skinning, ruleset:osu!, size/L

#10701 Add support for spinner "clear" text in legacy skins
  osu.Game.Rulesets.Osu/Skinning/LegacySpinner.cs
Labels: area:skinning, ruleset:osu!, size/M

#10676 Fix skin changes resulting in incorrectly applied transforms in MainCirclePiece
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyMainCirclePiece.cs
Labels: area:gameplay, area:skinning, ruleset:osu!, size/M

#10714 Never disable pause button on now playing overlay
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: size/XS, type:UX, type:audio

#10679 Add the ability to delete slider control points using shift+right click
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M

#10712 Move cache and lookup logic to base MemoryCachingComponent class
  osu.Game.Tests/Beatmaps/BeatmapDifficultyManagerTest.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Database/MemoryCachingComponent.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: size/L, type:code-quality

#10724 Fix nullref when quickdeleting slider that hasn't been selected yet
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/XS

#10735 Fix difficulty retrieval for online-sourced beatmaps
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
Labels: area:multiplayer, area:overlay-beatmap, area:overlay-beatmap-listing, size/XS

#10732 Fix crash upon exiting the editor without saving from new beatmap
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointPart.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointDisplay.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XS, type:crash

#10730 Fix legacy patcher crash on no objects present
  osu.Game.Tests/Editing/LegacyEditorBeatmapPatcherTest.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, size/S

#10746 Update framework
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#10742 Fix ki* textures having an incorrect vertical position
  osu.Game/Skinning/LegacyHealthDisplay.cs
Labels: area:skinning, size/XS, type:UI

#10759 Fix being able to watch yourself by disabling button
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
Labels: area:overlay-dashboard, size/XS, type:UI

#10757 Simplify input buttons/keys in tests
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyBindings.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentEditor.cs
Labels: size/L, type:code-quality, type:testing

#10758 Replace rankHistory in JsonProperty with rank_history for consistency
  osu.Game/Users/User.cs
Labels: size/XS, type:network

#10740 Add missing user activities for Multi screens
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Users/UserActivity.cs
Labels: area:toolbar, size/M, type:UI

#10722 Change VSCode build task args to use - instead of /
  .vscode/tasks.json
  osu.Game.Rulesets.Catch.Tests/.vscode/tasks.json
  osu.Game.Rulesets.Mania.Tests/.vscode/tasks.json
  osu.Game.Rulesets.Osu.Tests/.vscode/tasks.json
  osu.Game.Rulesets.Taiko.Tests/.vscode/tasks.json
  osu.Game.Tournament.Tests/.vscode/tasks.json
Labels: area:tooling, size/L, type:reliability

#10751 Fix unsafe list manipulation in BeatmapDifficultyCache
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
Labels: size/M, type:reliability

#10763 Force beatmap listing overlay's textbox back on screen when a key is pressed
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: area:overlay-beatmap-listing, size/M

#10764 Fix editor quick delete being triggerable from left mouse button
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/S

#10768 Always store standardised score when populating ScoreInfo
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:database, area:scoring, size/XS

#10769 Stop mod select overlay hotkeys handling input when control is pressed
  osu.Game/Overlays/Mods/ModSection.cs
Labels: size/XS

#10767 Fix BlueprintContainer triggering assert when left and right mouse button are pressed together
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/S

#10760 Fix crash and edge cases of user profile graph implementation
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
Labels: area:overlay-user-profile, size/S

#10770 Fix crashes if animation sprite path does not match a file
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
Labels: area:storyboard, size/XS, type:crash

#10782 Temporarily fix crash on deleting control point groups
  osu.Game/Screens/Edit/Timing/GroupSection.cs
Labels: area:editor, size/XS, type:crash

#10717 Implement HitObject application for DrawableHitObject
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerApplication.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Taiko.Tests/DrawableTestHit.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Skinning/SkinReloadableDrawable.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:ruleset-api, size/L

#10776 Fix possible nullref with non-attached hitobjects
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SnakingSliderBody.cs
Labels: ruleset:osu!, size/XS, type:reliability

#10784 Fix user profile best performance weighting being out of order
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
Labels: area:overlay-user-profile, size/XS

#7762 Implement UserHistoryGraph component
  osu.Game.Tests/Visual/Online/TestSceneUserHistoryGraph.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
  osu.Game/Overlays/Profile/UserGraph.cs
Labels: area:overlay-user-profile, size/XL, type:UI

#10790 Fix frames potentially getting added to spectator replay in wrong format
  osu.Game/Screens/Play/Spectator.cs
Labels: size/M

#10786 Display skin changes via on-screen display overlay
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/OsuGame.cs
Labels: size/S, type:UI

#10787 Add the ability for the game OSD to display user bindings
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Input/KeyBindingStore.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/OnScreenDisplay.cs
Labels: size/M

#3652 Add "random skin" option to skin setting dropdown
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:skinning, low-priority, proposal, size/M

#10789 Add hotkey to select a new random skin
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:settings, size/M, type:input

#10788 Fix osu!mania crashing after missing some long notes
  osu.Game.Rulesets.Mania.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Mania/UI/OrderedHitPolicy.cs
Labels: area:gameplay, ruleset:osu!mania, size/M, type:crash

#10792 Remove duplicate instantiation of externalLinkOpener
  osu.Game/OsuGame.cs
Labels: type:code-quality

#10775 Disable kiai hit explosions on legacy skins
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneKiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/DefaultKiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/KiaiHitExplosion.cs
Labels: area:skinning, ruleset:osu!taiko, size/L

#10795 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#10796 Fix frame stable playback not being set correctly
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: area:gameplay, size/XS

#10800 Add counter to most played beatmaps section in User Overlay
  osu.Game/Overlays/Profile/Sections/Historical/PaginatedMostPlayedBeatmapContainer.cs
  osu.Game/Users/User.cs
Labels: area:overlay-user-profile, size/XS, type:UI

#10794 Fix hitobjects sometimes not fading in completely with HD mod
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:mods, ruleset:osu!, size/S

#10801 Fix storyboard animations of very old beatmaps playing too slow
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
Labels: area:storyboard, size/S

#10802 Fix skin fallback test crashing on repeats
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
Labels: ruleset:osu!, size/XS, type:testing

#10793 Refactor "perform from menu" logic to be aware of dialog prompts
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game/OsuGame.cs
  osu.Game/PerformFromMenuRunner.cs
Labels: size/L, type:UX

#10799 Add test for accuracy heatmap
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
Labels: size/M, type:testing

#10810 Prevent SelectionBox handles from appearing for stacks
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/S, type:crash

#10805 Fix slider ends not fading out after a rewind with hidden mod
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
Labels: area:mods, ruleset:osu!, size/M

#10797 Implement top-level hitobject pooling
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerApplication.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/MainCirclePiece.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:ruleset-api, size/XL

#10822 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#10803 Add nested hitobject pooling
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:ruleset-api, size/S

#10823 Add pooling support to the editor
  osu.Game.Rulesets.Mania/Edit/ManiaBlueprintContainer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuBlueprintContainer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoBlueprintContainer.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimelineBlueprintContainer.cs
  osu.Game.Tests/Visual/Editing/TimelineTestScene.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Rulesets/Edit/DrawableEditRulesetWrapper.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
Labels: area:editor, size/L, type:performance

#10827 Fix broken fail judgement test
  osu.Game.Tests/Visual/Gameplay/TestSceneFailJudgement.cs
Labels: size/S, type:testing

#10820 Fix perform from menu not hiding overlays if already on target screen
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game/PerformFromMenuRunner.cs
Labels: size/S, type:UX

#10812 Allow spinners to be reversed
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/XS

#10819 Add back setting to toggle "always play first combo break"
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
Labels: area:settings, size/XS

#10817 Fix combo break sounds playing during seek
  osu.Game/Screens/Play/ComboEffects.cs
Labels: area:gameplay, size/S, type:audio

#10818 Fix combo break sound not playing a second time after rewinding before it
  osu.Game/Screens/Play/ComboEffects.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S, type:audio

#10828 Disable pressed/released hold note logic when rewinding
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: area:replay, ruleset:osu!mania, size/XS

#10825 Move hitobject pooling into Playfield
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/IPooledHitObjectProvider.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:ruleset-api, size/L

#10826 Change osu! ruleset to use pooled hitobjects
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSpunOut.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditPool.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditRuleset.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuPool.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerBonusTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
Labels: area:gameplay, ruleset:osu!, size/L, type:performance

#10840 Add null checks to unguarded resolved-as-possibly-null fields
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
  osu.Game/Online/DownloadTrackingComposite.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Overlays/AccountCreation/ScreenWarning.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/PerformFromMenuRunner.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
Labels: size/M, type:reliability

#10841 Add support for previewing tracks on spectator screen
  osu.Game.Tests/Visual/Components/TestScenePreviewTrackManager.cs
  osu.Game/Audio/PreviewTrackManager.cs
  osu.Game/Screens/Play/Spectator.cs
Labels: area:spectator, size/M

#10850 Clamp selection movement instead of refusing to move on playfield borders
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/S, type:UI

#10856 Clear DrawableHitObject transforms on return to pool
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:ruleset-api, size/M

#10838 Fix crash on shift+right-click deleting objects
  osu.Game.Tests/Visual/Editing/TestSceneEditorQuickDelete.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/M, type:crash

#10853 Fully cover bidirectional legacy mod conversions
  osu.Game.Rulesets.Catch.Tests/CatchLegacyModConversionTest.cs
  osu.Game.Rulesets.Mania.Tests/ManiaLegacyModConversionTest.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu.Tests/OsuLegacyModConversionTest.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoLegacyModConversionTest.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Tests/Beatmaps/LegacyModConversionTest.cs
Labels: area:replay, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, ruleset:osu!taiko, size/L

#10830 Make tournament strings more consistent
  osu.Game.Tournament/Screens/SetupScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/S, type:localisation

#10860 Use `dotnet tool` for InspectCode build script
  .config/dotnet-tools.json
  build/InspectCode.cake
Labels: size/M

#10844 Fix rotation tracker state not being reset on drawable spinner re-use
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Judgements/OsuSpinnerJudgementResult.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerRotationTracker.cs
  osu.Game.Rulesets.Osu/Skinning/LegacySpinner.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, ruleset:osu!, size/L

#10862 Move skin deletion logic to OsuGameBase to promote thread safety
  osu.Game/OsuGameBase.cs
  osu.Game/Skinning/SkinManager.cs
Labels: size/S, type:reliability

#10865 Remove `--no-restore` from VSCode tasks
  .vscode/tasks.json
  README.md
  osu.Game.Rulesets.Catch.Tests/.vscode/tasks.json
  osu.Game.Rulesets.Mania.Tests/.vscode/tasks.json
  osu.Game.Rulesets.Osu.Tests/.vscode/tasks.json
  osu.Game.Rulesets.Taiko.Tests/.vscode/tasks.json
  osu.Game.Tournament.Tests/.vscode/tasks.json
Labels: area:tooling, size/M

#10873 Remove ability to pool DHOs in parent playfields
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:ruleset-api, size/XS

#10871 Fix slider ball tint not working
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: area:gameplay, ruleset:osu!, size/M

#10868 Add back removed InitialLifetimeOffset usage in DrawableHitObject
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:ruleset-api, size/XS

#10867 Refactor user caching to improve readability and fix threadsafety issues
  osu.Game/Database/UserLookupCache.cs
Labels: size/L, type:online

#10831 Add back fade effect to legacy hold notes
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaHitObjectTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
Labels: area:skinning, ruleset:osu!mania, size/M

#10881 Fix TestSceneFruitObjects not displaying anything
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
Labels: ruleset:osu!catch, size/M, type:testing

#10888 Update framework
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#10884 Tighten osu! ruleset lifetime expiry for past hitobjects
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: area:editor, ruleset:osu!, size/M, type:performance

#10883 Define blueprint order similarly to hitobjects
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectOrderedSelectionContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/M

#10876 Fix slider control point connections not being updated
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointConnectionPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: area:editor, size/S

#10877 Fix hold note judgements displaying incorrectly
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTick.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: area:gameplay, ruleset:osu!mania, size/XS, type:UI

#10889 Fix SkinnableSprite initialising a drawable even when the texture is not available
  osu.Game/Skinning/SkinnableSprite.cs
Labels: area:skinning, size/S

#10891 Remove obsolete method
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
Labels: size/XS, type:code-quality

#10878 Add ability for skins to have more control over judgement transforms
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoJudgement.cs
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Judgements/IAnimatableJudgement.cs
  osu.Game/Skinning/LegacyJudgementPiece.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:gameplay, area:skinning, size/L

#10872 Fix triangles disappearing after a while
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/CirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/ExplodePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/TrianglesPiece.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
Labels: area:gameplay, ruleset:osu!, size/M

#10914 Prevent editor from crashing for rulesets with no compose screen implementation
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
Labels: area:editor, ruleset:osu!catch, size/XS, type:crash

#10915 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#10923 Implement follow point pooling
  osu.Game.Rulesets.Osu.Tests/TestSceneFollowPoints.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointLifetimeEntry.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointRenderer.cs
Labels: area:gameplay, ruleset:osu!, size/L, type:performance

#10890 Adjust judgement animations to match stable
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Judgements/IAnimatableJudgement.cs
  osu.Game/Skinning/LegacyJudgementPiece.cs
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L

#10916 Fix slider right click context menus not being shown outside the valid playfield area
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: area:editor, size/XS

#10917 Don't play flair animations / sounds when watching autoplay or viewing a result directly
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/XS

#10921 Refactor TestSceneHitCircle to show judgements
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneShaking.cs
Labels: size/M, type:testing

#10919 Remove no longer necessary code from OsuPlayfield
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: size/M, type:code-quality

#10903 Add ParticleExplosion and use to give legacy skins particle explosions
  osu.Game.Tests/Visual/Gameplay/TestSceneParticleExplosion.cs
  osu.Game/Graphics/ParticleExplosion.cs
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:gameplay, area:skinning, size/L

#10922 Ensure legacy skin judgements display in front of hitobjects
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Judgements/IAnimatableJudgement.cs
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
Labels: area:skinning, ruleset:osu!, size/M

#10928 Fix silent NRE in slider selection blueprint
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/S

#10932 Split out profile sub-section component
  osu.Game.Tests/Visual/UserInterface/TestSceneProfileSubsectionHeader.cs
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Historical/PaginatedMostPlayedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/PaginatedKudosuHistoryContainer.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/ProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/ProfileSubsectionHeader.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/Recent/PaginatedRecentActivityContainer.cs
Labels: area:overlay-user-profile, size/L, type:UI

#10918 Remove default allowRetry parameter value from ResultsScreen
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Multi/Ranking/TimeshiftResultsScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SpectatorResultsScreen.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: size/S, type:code-quality

#10846 Make EZ mod able to fail in Taiko
  osu.Game.Rulesets.Catch/Mods/CatchModEasy.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModEasy.cs
  osu.Game.Rulesets.Osu/Mods/OsuModEasy.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModEasy.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModEasyWithExtraLives.cs
Labels: area:mods, ruleset:osu!taiko, size/L

#10936 Fix legacy follow point animations not playing after a while
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Tests/NonVisual/Skinning/LegacySkinAnimationTest.cs
  osu.Game/Skinning/IAnimationTimeReference.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: area:gameplay, ruleset:osu!, size/L

#10941 Improve LogoVisualisation looks when MenuGlow colors are used
  osu.Game/Screens/Menu/IntroWelcome.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Menu/MenuLogoVisualisation.cs
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: size/M

#10935 Rewind judgement transforms before clearing
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:ruleset-api, size/XS

#10829 Add music bindings to on screen display
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Music/MusicKeyBindingHandler.cs
  osu.Game/Overlays/OSD/Toast.cs
Labels: size/S, type:UI

#10943 Scroll editor setup screen to file selector on display
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
Labels: area:editor, size/S, type:UX

#10842 Implement history charts for Profile Overlay
  osu.Game.Tests/Visual/Online/TestScenePlayHistorySubsection.cs
  osu.Game/Graphics/UserInterface/LineGraph.cs
  osu.Game/Overlays/Profile/Sections/Historical/ChartProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/PlayHistorySubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/ProfileLineChart.cs
  osu.Game/Overlays/Profile/Sections/Historical/ReplaysSubsection.cs
  osu.Game/Overlays/Profile/Sections/HistoricalSection.cs
Labels: area:overlay-user-profile, size/XL, type:UI

#10953 Remove type parameter from DrawableCatchHitObject
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBananaShower.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableJuiceStream.cs
Labels: ruleset:osu!catch, size/M

#10924 Add method of initialising a `DrawableHitObject` from `Playfield` regardless of pooling
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBananaShower.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableJuiceStream.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditPool.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditRuleset.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuPool.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/IDrawableHitObjectWithProxiedApproach.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:ruleset-api, size/L

#10966 Workaround TestSceneCatchModRelax flaky failure
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModRelax.cs
Labels: size/XS, type:testing

#10956 Move some members from `CatchHitObject` to `PalpableCatchHitObject` to make it more specific
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Difficulty/Preprocessing/CatchDifficultyHitObject.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DropletPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/FruitPiece.cs
  osu.Game.Rulesets.Catch/Objects/PalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: ruleset:osu!catch, size/L, type:code-quality
