Repository ppy/osu, pull requests merged in 2020-06, with the labels that each got.

#9142 Tidy up and complete xmldoc for HitObjectComposer
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.sln.DotSettings
Labels: area:editor, size/M, type:code-quality

#9143 Pass hitobjects as a parameter to CreateBlueprintContainer
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: area:editor, size/S, type:code-quality

#9123 Move setter from EndTime to Duration
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Objects/BananaShower.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneNotes.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/EndTimeObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapConverter.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableScrollingRuleset.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertHold.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/Taiko/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Taiko/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Types/IHasDistance.cs
  osu.Game/Rulesets/Objects/Types/IHasDuration.cs
  osu.Game/Rulesets/Objects/Types/IHasEndTime.cs
  osu.Game/Rulesets/Objects/Types/IHasRepeats.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: size/L, type:code-quality

#9161 Allow horizontal scroll on results screen when not hovering expanded panel
  osu.Game/Screens/Ranking/ScorePanelList.cs
Labels: area:results, size/S

#8632 Disallow HP draining in non-play sections
  osu.Game.Tests/Gameplay/TestSceneDrainingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, size/L

#9092 Add custom resolution set option to tournament client
  osu.Game.Tournament/Screens/SetupScreen.cs
Labels: area:tournament, size/M

#9174 Update framework
  osu.Android.props
  osu.Desktop/Program.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tests/NonVisual/Skinning/LegacySkinTextureFallbackTest.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#9146 Implement osu!taiko editor
  osu.Game.Rulesets.Taiko.Tests/TestSceneEditor.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoHitObjectComposer.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/DrumRollPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/HitPiece.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/HitPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/LengthPiece.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/SwellPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSelectionBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSpanPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/DrumRollCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/HitCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/SwellCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoBlueprintContainer.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoHitObjectComposer.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoHitObject.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Graphics/UserInterface/TernaryStateMenuItem.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, ruleset:osu!taiko, size/XL

#9182 Fix cursor trail not displaying
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: area:gameplay, size/XS

#9168 Fix crash after using Ctrl+Enter when current ruleset doesn't have an autoplay mod
  osu.Game.Tests/Visual/Gameplay/TestSceneReplay.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:mods, size/S

#9190 Fix results screen crashing for beatmaps with no online ID
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: area:results, size/M

#9192 Fix redundant override showing up in build warnings
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
Labels: size/XS, type:testing

#9195 Fix chat history not being loaded for multiplayer matches
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Online/Chat/ChannelManager.cs
Labels: area:overlay-chat, size/M

#9213 Fix crash when double-clicking clear binding button
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
Labels: area:settings, size/M

#9211 Change format of date on score panel
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/XS

#9212 Fix score panel not receiving input in some places
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: area:results, size/XS

#9197 Check all files match before using an existing archive model
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ArchiveModelManager.cs
Labels: area:database, size/L

#9188 Add contributing guidelines
  CONTRIBUTING.md
  README.md
Labels: size/L

#9215 Fix incorrect sample choices for hold notes
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapSampleConversionTest.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples.osu
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/mania-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/mania-samples.osu
Labels: area:beatmap, ruleset:osu!mania, size/L, type:audio

#9175 Add timeshift beatmap checksum validation
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Online/API/APIPlaylistBeatmap.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Online/Multiplayer/PlaylistItem.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Multi/Match/Components/ReadyButton.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: area:multiplayer, size/L

#9217 Show a loading spinner on multiplayer lounge loads
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game/Screens/Multi/IRoomManager.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/RoomManager.cs
Labels: area:multiplayer, size/M, type:UX

#9230 Improve handling of missing intro beatmap / files
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
Labels: size/M, type:reliability

#9231 Fetch existing private message channels on re-joining
  osu.Game/Online/API/Requests/CreateChannelRequest.cs
  osu.Game/Online/API/Requests/Responses/APIChatChannel.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Online/Chat/ChannelManager.cs
Labels: area:overlay-chat, size/M

#9210 Fix tournament displayed beatmap potentially being out of order on quick changes
  osu.Game.Tournament/IPC/FileBasedIPC.cs
Labels: area:tournament, size/XS

#9236 Move user and skin specific settings for LogoVisualisation to a subclass
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Menu/MenuLogoVisualisation.cs
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: size/M, type:code-quality

#9193 Update inspectcode / CodeFileSanity versions used in CI
  build/InspectCode.cake
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuIcon.cs
  osu.Game.Tournament.Tests/LadderTestScene.cs
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScoreDisplay.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/IO/Serialization/Converters/TypedListConverter.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Users/Drawables/DrawableAvatar.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
  osu.sln.DotSettings
Labels: area:tooling, size/L

#9247 Move graphics from TournamentGameBase to TournamentGame
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/L, type:code-quality

#9253 Fix cursor not hiding with SDL2 backend
  osu.Desktop/OsuGameDesktop.cs
Labels: size/S, type:UI

#9260 Fix dotnet publish with runtime specification not working
  osu.Desktop/osu.Desktop.csproj
Labels: area:tooling, size/XS

#9241 Implement per-beatmap results screen for timeshift
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTimeshiftResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Online/API/Requests/GetRoomPlaylistScoresRequest.cs
  osu.Game/Online/API/Requests/SubmitRoomScoreRequest.cs
  osu.Game/Online/API/RoomScore.cs
  osu.Game/Screens/Multi/Components/OverlinedDisplay.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Multi/Ranking/TimeshiftResultsScreen.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:multiplayer, size/L

#9261 Fix LoadingSpinner not always playing fade in animation
  osu.Game/Graphics/UserInterface/LoadingSpinner.cs
Labels: size/XS, type:UI

#9271 Update fastlane to fix upload failure for iOS releases
  Gemfile.lock
Labels: area:tooling, size/M

#9264 Add support for custom file paths for mania hit judgement
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit0@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit100@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit200@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit300@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit300g-0@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit300g-1@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/hit50@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/skin.ini
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania

#9272 Fix crash on local score display
  osu.Game/Scoring/ScoreStore.cs
Labels: area:results, size/XS

#9281 Fix gameplay clock not correctly reporting elapsed time
  osu.Game.Tests/Gameplay/TestSceneGameplayClockContainer.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: area:gameplay, size/M

#9282 Fix drag scroll in editor timeline no longer working correctly
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/XS, type:UI

#9275 Add an adjust pitch setting to ModTimeRamp
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Mods/ModWindDown.cs
  osu.Game/Rulesets/Mods/ModWindUp.cs
Labels: area:mods, size/M

#9287 Fix storyboard sample playback failing when expected to play at 0ms
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSample.cs
Labels: area:storyboard, size/S

#9273 Fix comments from multiple maps potentially showing on beatmap set overlay
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: area:overlay-beatmap, size/L

#9285 Add shortcut to go home
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Overlays/Toolbar/ToolbarHomeButton.cs
Labels: area:toolbar, size/M, type:input

#9270 Add new beatmap genres and languages
  osu.Game/Overlays/BeatmapListing/SearchGenre.cs
  osu.Game/Overlays/BeatmapListing/SearchLanguage.cs
Labels: area:overlay-beatmap-listing, size/S

#9291 Apply temporary fix for tournament song bar disappearance
  osu.Game.Tournament/Components/SongBar.cs
Labels: area:tournament, size/XS

#8709 Cache ruleset dependencies for test scenes that require it
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Resources/Samples/test-sample.mp3
  osu.Game.Tests/Resources/Textures/test-image.png
  osu.Game.Tests/Testing/TestSceneRulesetDependencies.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: type:testing

#8965 Add "Check for updates" button
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.Game/Updater/UpdateManager.cs
Labels: area:installer, size/M

#9292 Load imported replays to results screen rather than gameplay
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game/OsuGame.cs
  osu.Game/Scoring/LegacyDatabasedScore.cs
  osu.Game/Screens/Play/ReplayPlayerLoader.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
Labels: area:replay, size/L, type:UX

#9293 Update framework
  osu.Android.props
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9299 Fix regression in android build parsing behaviour
  osu.Android/OsuGameAndroid.cs
Labels: platform:android, size/M

#9313 Block screen suspend while gameplay is active
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ScreenSuspensionHandler.cs
Labels: area:gameplay, size/M, type:UX

#9317 Mark test scene as headless to fix test browser display
  osu.Game.Tests/Gameplay/TestSceneGameplayClockContainer.cs
Labels: size/XS, type:testing

#9318 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9329 Make hold note ticks affect combo score rather than bonus
  osu.Game.Rulesets.Mania/Judgements/HoldNoteTickJudgement.cs
Labels: area:scoring, ruleset:osu!mania, size/XS

#9330 Reduce mania's HP drain by 20%
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: area:scoring, ruleset:osu!mania, size/S

#9276 Refactor lookup of mania skin configuration entries
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitExplosion.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitTarget.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyManiaColumnElement.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyNotePiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageForeground.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaSkinConfigExtensions.cs
Labels: area:skinning, ruleset:osu!mania, size/M, type:code-quality

#9333 Extract abstract hitobject sample test class
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
Labels: area:skinning, size/L, type:testing

#9334 Extract base legacy skin transformer
  osu.Game.Rulesets.Catch.Tests/CatchSkinColourDecodingTest.cs
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
Labels: area:skinning, size/L, type:code-quality

#9051 Add custom IPC directory selector to the tournament client
  osu.Game.Tournament.Tests/Screens/TestSceneStablePathSelectScreen.cs
  osu.Game.Tournament/Components/IPCErrorDialog.cs
  osu.Game.Tournament/IPC/FileBasedIPC.cs
  osu.Game.Tournament/Models/StableInfo.cs
  osu.Game.Tournament/Screens/SetupScreen.cs
  osu.Game.Tournament/Screens/StablePathSelectScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/L, type:UI

#9186 Add cursor rotation on right mouse drag
  osu.Game/Graphics/Cursor/MenuCursor.cs
Labels: size/S, type:UX

#9337 Fix 1M score being possible with only GREATs in mania
  osu.Game.Rulesets.Mania/Judgements/ManiaJudgement.cs
Labels: area:scoring, ruleset:osu!mania, size/XS

#9349 Fix player not exiting immediately on Alt-F4
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S, type:UX

#9345 Don't activate run tool window on rider run
  .idea/.idea.osu.Desktop/.idea/runConfigurations/CatchRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/ManiaRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/OsuRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/TaikoRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu_SDL.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___Tests_.xml
Labels: area:tooling, size/M

#9352 Fix exception when dragging after deleting object
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/XS

#9350 Fix editor drag selection not continuing to select unless the mouse is moved
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
Labels: area:editor, size/M, type:UX

#9355 Update framework
  osu.Android.props
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/ReverseArrowPiece.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/Pieces/CirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacyPlayfieldBackgroundRight.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko/UI/TaikoMascotAnimation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatSyncedContainer.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/Graphics/UserInterface/TwoLayerButton.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Screens/Menu/Button.cs
  osu.Game/Screens/Menu/IntroCircles.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Menu/MenuSideFlashes.cs
  osu.Game/Screens/Menu/OsuLogo.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#9173 Add classic "Welcome" intro
  osu.Game.Tests/Visual/Menus/TestSceneIntroWelcome.cs
  osu.Game/Configuration/IntroSequence.cs
  osu.Game/Screens/Loader.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Screens/Menu/IntroWelcome.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
Labels: area:intro, size/L

#9363 Add text explaining a second copy will be made on importing beatmaps
  osu.Game/Screens/Select/ImportFromStablePopup.cs
Labels: size/XS

#9364 Increase coordinate parsing limits
  osu.Game/Beatmaps/Formats/Parsing.cs
Labels: area:beatmap, size/XS

#9362 Standardise all tournament tests to use placeholder data
  osu.Game.Tournament.Tests/Components/TestSceneMatchScoreDisplay.cs
  osu.Game.Tournament.Tests/Components/TestSceneTournamentBeatmapPanel.cs
  osu.Game.Tournament.Tests/LadderTestScene.cs
  osu.Game.Tournament.Tests/Screens/TestSceneLadderEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneLadderScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneMapPoolScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneRoundEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamIntroScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamWinScreen.cs
  osu.Game.Tournament.Tests/TournamentTestScene.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/L, type:code-quality

#9369 Fix colours with 0 alpha being invisible in legacy skins
  osu.Game.Tests/Resources/skin-zero-alpha-colour.ini
  osu.Game.Tests/Skins/LegacySkinDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: area:skinning, size/S

#9301 Implement rate adjustment for storyboard samples
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game/Rulesets/Mods/IApplicableToAudio.cs
  osu.Game/Rulesets/Mods/IApplicableToSample.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSample.cs
Labels: area:storyboard, size/L

#9340 Add support for layered hit sounds skin option
  osu.Game.Rulesets.Mania.Tests/Resources/SampleLookups/mania-hitobject-beatmap-custom-sample-bank.osu
  osu.Game.Rulesets.Mania.Tests/Resources/SampleLookups/mania-hitobject-beatmap-normal-sample-bank.osu
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaHitObjectSamples.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game.Tests/Resources/SampleLookups/hitobject-beatmap-custom-sample-bank.osu
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Skinning/GlobalSkinConfiguration.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
Labels: area:gameplay, size/L, type:audio

#9370 Restore key repeat functionality to the song select carousel
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/L

#9384 Temporarily disable masking of tournament song bar
  osu.Game.Tournament/Components/SongBar.cs
Labels: area:tournament, size/XS, type:UI

#9316 Add more detailed score statistics to the results screen
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneAccuracyHeatmap.cs
  osu.Game.Rulesets.Osu/Judgements/OsuHitCircleJudgementResult.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Scoring/OsuScoreProcessor.cs
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/Scoring/HitEvent.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
  osu.Game/Screens/Ranking/ScorePanelTrackingContainer.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/StatisticContainer.cs
  osu.Game/Screens/Ranking/Statistics/StatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/StatisticRow.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: area:results, size/XXL

#9377 Fix crash due to unsafe mod deserialisation
  osu.Game.Tests/Online/TestAPIModSerialization.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Screens/Multi/RoomManager.cs
Labels: area:multiplayer, size/M, type:crash

#9391 Change Welcome intro track to loop
  osu.Game.Tests/Visual/Menus/IntroTestScene.cs
  osu.Game.Tests/Visual/Menus/TestSceneIntroWelcome.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/IntroWelcome.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: size/M

#9394 Improve quality of taiko hit target
  osu.Game.Rulesets.Taiko/UI/TaikoHitTarget.cs
Labels: area:gameplay, ruleset:osu!taiko, size/XS

#9396 Exclude hit objects with an EmptyHitWindow from being considered in TimingDistributionGraph
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: area:results, ruleset:osu!mania, size/XS

#9375 Hide red tint when "Show health display even when you can't fail" option is off
  osu.Game.Tests/Visual/Gameplay/TestSceneFailingLayer.cs
  osu.Game/Screens/Play/HUD/FailingLayer.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:mods, size/M, type:UI
