Repository ppy/osu, pull requests merged in 2020-10, with the labels that each got.

#10251 Add additional bonus HitResult types
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/CounterStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/HitResultStatistic.cs
  osu.Game/Tests/TestScoreInfo.cs
Labels: area:scoring, size/L

#10288 Standardise scoring across all rulesets
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModPerfect.cs
  osu.Game.Rulesets.Catch/Judgements/CatchBananaJudgement.cs
  osu.Game.Rulesets.Catch/Judgements/CatchDropletJudgement.cs
  osu.Game.Rulesets.Catch/Judgements/CatchJudgement.cs
  osu.Game.Rulesets.Catch/Judgements/CatchTinyDropletJudgement.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Rulesets.Catch/UI/CatchComboDisplay.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Judgements/HoldNoteTickJudgement.cs
  osu.Game.Rulesets.Mania/Judgements/ManiaJudgement.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTick.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Judgements/OsuIgnoreJudgement.cs
  osu.Game.Rulesets.Osu/Judgements/OsuJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerBonusDisplay.cs
  osu.Game.Rulesets.Osu/Objects/SliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Rulesets.Osu/Objects/SliderTick.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerBonusTick.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerTick.cs
  osu.Game.Rulesets.Osu/Scoring/OsuScoreProcessor.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoDrumRollTickJudgement.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoJudgement.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoStrongJudgement.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwellTick.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyTaikoScroller.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoMascot.cs
  osu.Game.Tests/Gameplay/TestSceneDrainingHealthProcessor.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Judgements/IgnoreJudgement.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Mods/ModSuddenDeath.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: area:scoring, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, ruleset:osu!taiko, size/XL

#10290 Adjust hit results for osu/catch/taiko
  osu.Game.Rulesets.Catch.Tests/TestSceneComboCounter.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Catch/Judgements/CatchJudgement.cs
  osu.Game.Rulesets.Catch/Scoring/CatchHitWindows.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHitWindows.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoScroller.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneFlyingHits.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoJudgement.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoHitWindows.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoJudgement.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Tests/TestScoreInfo.cs
Labels: area:scoring, ruleset:osu!, ruleset:osu!catch, ruleset:osu!taiko, size/L

#10291 Adjust hp increases
  osu.Game/Rulesets/Judgements/Judgement.cs
Labels: area:scoring, size/S

#10286 Fix HitObject samples getting stuck in a playing state on seeking far into the future
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSamplePlayback.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
Labels: area:gameplay, size/M, type:audio

#10292 Fix scores sometimes not being re-standardised correctly
  osu.Game/Online/API/Requests/Responses/APILegacyScoreInfo.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: area:scoring, size/M

#10303 Add textbox entry for speed multiplier and volume
  osu.Android.props
  osu.Game.Tournament/Components/DateTextBox.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Screens/Edit/Timing/DifficultySection.cs
  osu.Game/Screens/Edit/Timing/SampleSection.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:editor, size/L

#10257 Add support for SpinnerNoBlink to LegacyOldStyleSpinner
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
  osu.Game/Skinning/LegacySkinConfiguration.cs
Labels: area:skinning, ruleset:osu!, size/S

#10317 Safeguard againts multiple ApplyResult() invocations
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/XS

#10316 Fix default spinner flashing yellow glow before completion
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, ruleset:osu!, size/S

#10322 Update slider test scene sliders to fit better
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
Labels: size/M, type:testing

#10324 Fix control points not being removed from ControlPointInfo lists when group is removed
  osu.Game.Tests/NonVisual/ControlPointInfoTest.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
Labels: area:beatmap, size/S

#10325 Add the ability to move a control point around in time
  osu.Game/Screens/Edit/Timing/ControlPointSettings.cs
  osu.Game/Screens/Edit/Timing/GroupSection.cs
Labels: area:editor, size/L

#10327 Avoid rapid triangle repositioning during editor slider placement
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/CirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/TrianglesPiece.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
Labels: area:editor, size/S

#10328 Fix spinners not transforming correctly
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
Labels: area:gameplay, ruleset:osu!, size/M, type:UI

#10334 Protect "use current time" button against crash when no timing point is selected
  osu.Game/Screens/Edit/Timing/GroupSection.cs
Labels: area:editor, size/S, type:crash

#10348 Allow rotation lock on Android to function properly
  osu.Android/OsuGameActivity.cs
Labels: platform:android, size/XS

#10326 Only regenerate autoplay on editor state change
  osu.Game.Tests/Editing/EditorChangeHandlerTest.cs
  osu.Game/Rulesets/Edit/DrawableEditRulesetWrapper.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
  osu.Game/Screens/Edit/IEditorChangeHandler.cs
Labels: area:editor, size/M, type:performance

#10331 Fix tests specifying steps in their constructors
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHoldNote.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneNotes.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
Labels: size/M, type:testing

#10343 Replace direct references to HitResult.Miss wherever applicable
  osu.Game.Rulesets.Catch/UI/CatchComboDisplay.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneMissHitWindowJudgements.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoHealthProcessor.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyTaikoScroller.cs
  osu.Game.Rulesets.Taiko/UI/DefaultHitExplosion.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Screens/Play/HUD/StandardHealthDisplay.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/UnstableRate.cs
Labels: area:scoring, size/M

#10363 Fix spinners crashing on unpause
  osu.Game.Tests/NonVisual/GameplayClockTest.cs
  osu.Game/Screens/Play/GameplayClock.cs
Labels: area:gameplay, size/M, type:crash

#10365 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#10349 Bring back health increase/decrease values closer to previous ones
  osu.Game.Rulesets.Mania/Judgements/ManiaJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoDrumRollTickJudgement.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
Labels: area:scoring, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, ruleset:osu!taiko, size/M

#10366 Fix editor persisting new beatmap even when user chooses not to
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#10330 Add change handler callbacks from timing screen / components
  osu.Game/Screens/Edit/EditorChangeHandler.cs
  osu.Game/Screens/Edit/IEditorChangeHandler.cs
  osu.Game/Screens/Edit/Timing/DifficultySection.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/SampleSection.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: area:editor, size/M

#10352 Fix spinner crashing on rewind
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#10373 Don't stop non-looping samples immediately when pausing
  osu.Game.Tests/Visual/Editing/TestSceneEditorSamplePlayback.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
Labels: area:gameplay, size/M

#10371 Fix seeking in replays not correctly pausing samples
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/Play/GameplayClock.cs
Labels: area:gameplay, size/L

#10312 Move control points display to base timeline class (and add toggles)
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: area:editor, size/M

#10321 Try to match stable's cursor trail density
  osu.Game.Rulesets.Osu/Skinning/LegacyCursorTrail.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: area:skinning, ruleset:osu!, size/S

#10323 Add legacy skin "sliderendcircle" support
  osu.Game.Rulesets.Osu.Tests/Resources/metrics-skin/sliderendcircle@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/metrics-skin/sliderendcircleoverlay@2x.png
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderCircle.cs
  osu.Game.Rulesets.Osu/Objects/SliderEndCircle.cs
  osu.Game.Rulesets.Osu/Objects/SliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Rulesets.Osu/OsuSkinComponents.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
Labels: area:skinning, ruleset:osu!

#10294 Add selection scale and rotate support
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeSelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/XL

#10306 Make DifficultyIcon support dynamic star difficulty
  osu.Game/Beatmaps/BeatmapDifficultyManager.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Beatmaps/Drawables/GroupedDifficultyIcon.cs
  osu.Game/Screens/Multi/Components/ModeTypeInfo.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
Labels: size/L, type:UI

#10310 Add buttons to flip/rotate the current selection by known amounts
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeSelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandleButton.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/XL

#10329 Add drag-drop support in editor setup screen for audio and background images
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/ICanAcceptFiles.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Edit/EditorScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:editor, size/L

#10374 Temporarily ignore failing gameplay samples test
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
Labels: size/XS

#10313 Display all control point information on the main editor timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointDisplay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointGroup.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimingPointPiece.cs
Labels: area:editor, size/L

#10315 Colourise control point table
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimingPointPiece.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
Labels: area:editor, size/M, type:UI

#10377 Re-enable and fix gameplay sample playback test
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
Labels: area:replay, size/S, type:testing

#10380 Fix disclaimer potentially running same code from two different threads
  osu.Game/Screens/Menu/Disclaimer.cs
Labels: size/S, type:reliability

#10381 Add update notifications for iOS builds
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.iOS/OsuGameIOS.cs
Labels: platform:iOS, size/XS, type:UX

#10387 Make SettingsItem conform to IHasCurrentValue
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
  osu.Game.Rulesets.Osu/UI/OsuSettingsSubsection.cs
  osu.Game.Tournament/Components/DateTextBox.cs
  osu.Game.Tournament/Screens/Editors/RoundEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/SeedingEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/MainMenuSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/VolumeSettings.cs
  osu.Game/Overlays/Settings/Sections/Debug/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/SongSelectSettings.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/DetailSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/UserInterfaceSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Overlays/Settings/Sections/Online/WebSettings.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
  osu.Game/Screens/Play/PlayerSettings/PlaybackSettings.cs
  osu.Game/Screens/Play/PlayerSettings/VisualSettings.cs
Labels: size/L, type:code-quality

#10388 Add placeholder text/colour when no beatmap background is specified yet
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, size/S, type:UI

#10389 Add the most basic implementation of LabelledSliderBar feasible
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledSliderBar.cs
Labels: size/M, type:UI

#10392 Seek at 4x normal speed when holding shift (not 2x)
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XS, type:UX

#10393 Increase backwards seek magnitude when the track is running
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/XS, type:UX

#10394 Add obsoleted Bindable property back to SettingsItem for compatibility
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: size/XS, type:code-quality

#10386 Make stacked hitcircles more visible when using default skin
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/RingPiece.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#10395 Add repeats display to timeline blueprints
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/M

#10390 Split editor setup screen up into sections
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
Labels: area:editor, size/XL, type:code-quality

#10385 Fix incorrect sliderendcircle fallback logic
  osu.Game.Rulesets.Osu/Skinning/LegacyMainCirclePiece.cs
Labels: area:skinning, size/S

#10404 Fix HitWindows getting serialized alongside HitObjects
  osu.Game/Rulesets/Objects/HitObject.cs
Labels: area:editor, size/XS

#10399 Add editor beatmap batch change support
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, size/L

#10391 Add difficulty adjustment settings to editor setup screen
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, size/L, type:UI

#10400 Ensure first hitobject is always a new combo
  osu.Game.Tests/Editing/LegacyEditorBeatmapPatcherTest.cs
  osu.Game/Beatmaps/BeatmapProcessor.cs
Labels: area:editor, size/M

#10408 Fix legacy taiko skins showing double judgements
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
Labels: area:skinning, ruleset:osu!taiko, size/S

#10407 Don't force playback of (non-looping) DrawableHitObject samples after skin change
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/XS, type:reliability

#10338 Remove WorkingBeatmap from PerformanceCalculator
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Difficulty/PerformanceCalculator.cs
  osu.Game/Rulesets/Ruleset.cs
Labels: area:difficulty, size/M

#10406 Ensure music playback is stopped when retrying by any means
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/XS, type:audio

#10414 Fix some current time button crashes
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/GroupSection.cs
Labels: area:editor, size/S, type:crash

#9883 Add "During Gameplay" option for mouse confining
  osu.Game.Tests/Visual/Gameplay/TestSceneOverlayActivation.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Input/ConfineMouseTracker.cs
  osu.Game/Input/OsuConfineMouseMode.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/L, type:input

#10382 Improve behaviour of "check for updates" button
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.Game/Updater/UpdateManager.cs
Labels: size/L, type:UX

#10420 Fix taiko's HitObjectComposer not allowing movement of selected hitobjects
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
Labels: area:editor, ruleset:osu!taiko, size/XS

#10405 Allow ruleset to specify custom names for bonus/tick types
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Scoring/HitResultDisplayStatistic.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/HitResultStatistic.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: area:results, area:ruleset-api, area:scoring, size/XL

#10443 Improve TimelineTickDisplay performance
  osu.Game.Tests/Visual/Editing/TestSceneTimelineTickDisplay.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/L, type:performance

#10440 Fix editor playing deleted beatmap's track on exit-without-save
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XS

#10444 Fix bindable propagation potentially making taiko swells strong
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoHitObject.cs
Labels: area:gameplay, ruleset:osu!taiko, size/S

#10441 Improve performance of slider blueprints
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/SliderBodyPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
Labels: area:editor, size/M, type:performance

#10431 Fix incorrect timing distribution display due to lack of rounding
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: area:results, size/XS

#10432 Add "reverse pattern" support to editor selection handler
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M

#10427 Fix first hitobject in osu! hidden mod not getting correct fade applied
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
Labels: area:mods, ruleset:osu!, size/M

#10446 Fix bar lines ("down beat" as people call it) showing up too often in timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/XS, type:UI

#10447 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Editing/TestSceneWaveform.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#10428 Reset new combo button state after successful placement
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/XS

#10419 Increase reliability of editor beatmap change handling
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Tests/Editing/TransactionalCommitComponentTest.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/TransactionalCommitComponent.cs
Labels: area:editor, size/L, type:code-quality

#10449 Ensure stable sorting order in beatmap conversion tests
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
Labels: ruleset:osu!mania, size/M, type:testing

#10430 Fix ternary button states not updating correctly after a paste operation
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M

#10468 Fix windows key blocking applying when window is inactive / when watching a replay
  osu.Desktop/Windows/GameplayWinKeyBlocker.cs
Labels: platform:windows, size/S

#10450 Fix slider samples being overwritten by the last node
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples-expected-conversion.json
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Types/IHasRepeats.cs
Labels: area:beatmap, size/M

#10471 Add the ability to search for local beatmaps via online IDs
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: area:song-select, size/M

#10478 Apply rounding when calculating beatmap difficulty rating
  osu.Game.Tests/Beatmaps/BeatmapDifficultyManagerTest.cs
  osu.Game/Beatmaps/BeatmapDifficultyManager.cs
Labels: area:difficulty, size/M, type:UI

#10477 Show current hit circle placement in timeline
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCirclePlacementBlueprint.cs
Labels: area:editor, ruleset:osu!, size/XS

#10472 Expose BreakTracker.IsBreakTime in Player
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S

#10483 Add ability to toggle extended statistics using space or enter
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/S, type:UX

#10490 Fix beatmap decoder not supporting multi-segment sliders
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/multi-segment-slider.osu
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap, ruleset:osu!, size/L

#10489 Fallback to default ruleset star rating if conversion fails
  osu.Game/Beatmaps/BeatmapDifficultyManager.cs
Labels: area:song-select, size/S

#10452 Make mania beatmap conversions match stable
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/EndTimeObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/HitObjectPatternGenerator.cs
Labels: area:beatmap, ruleset:osu!mania, size/L

#10451 Fix breaks being culled during beatmap parsing
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Timing/BreakPeriod.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: area:beatmap, size/S

#10500 Fix MultiMod throwing exceptions when creating copies
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Rulesets/Mods/MultiMod.cs
Labels: area:mods, size/S

#10503 Fix MultiMod difficulty calculator combinations not generating correctly
  osu.Game.Tests/NonVisual/DifficultyAdjustmentModCombinationsTest.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
Labels: area:difficulty, size/M

#10501 Add 10K mod to keymod incompatibility list
  osu.Game.Rulesets.Mania/Mods/ManiaKeyMod.cs
Labels: area:mods, ruleset:osu!mania, size/XS

#10453 Bring mania's diffcalc in-line with stable
  osu.Game.Rulesets.Mania.Tests/ManiaDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmap.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Individual.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Overall.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Mania/MathUtils/LegacySortHelper.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Skills/Skill.cs
Labels: area:difficulty, blocked, ruleset:osu!mania, size/XL

#10502 Confine available area for HUD components to exclude the song progress area
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/SongProgress.cs
Labels: area:gameplay, size/M, type:UI

#10495 Fix mod customisation container not absorbing input
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSettingsContainer.cs
Labels: area:mods, size/L, type:UX

#10504 Add legacy skinning support for combo counter
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyCatchComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneScoreCounter.cs
  osu.Game/Screens/Play/HUD/ComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Play/HUD/IComboCounter.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableComboCounter.cs
  osu.Game/Screens/Play/HUD/StandardComboCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/HUDSkinComponent.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySpriteText.cs
  osu.Game/Skinning/SkinnableDrawable.cs
Labels: area:skinning, size/XL, type:UI

#10505 Move ISampleDisabler implementation to Player and FrameStabilityContainer
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/Play/GameplayClock.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/M

#10508 Add legacy skinning support for score display
  osu.Game.Tests/Visual/Gameplay/TestSceneScoreCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultScoreCounter.cs
  osu.Game/Screens/Play/HUD/IScoreCounter.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
  osu.Game/Screens/Play/HUD/SkinnableScoreCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L, type:UI

#10511 Add support for bottom-anchored hit error display
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Configuration/ScoreMeterType.cs
  osu.Game/Screens/Play/HUD/HitErrorDisplay.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: area:gameplay, size/M, type:UI

#10510 Add legacy skinning support for accuracy display
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableAccuracyCounter.cs
  osu.Game/Graphics/UserInterface/PercentageCounter.cs
  osu.Game/Screens/Play/HUD/DefaultAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/IAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableAccuracyCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySpriteText.cs
Labels: area:skinning, size/L, type:UI

#10518 Remove last.fm support
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Users/User.cs
Labels: size/XS

#10520 Enable string StartsWith/EndsWith culture inspections and fix usages
  .idea/.idea.osu.Desktop/.idea/modules.xml
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.Game/Utils/SentryLogger.cs
  osu.sln.DotSettings
Labels: size/M, type:code-quality

#10532 Use char overloads for string methods
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
  osu.Game/Skinning/GameplaySkinComponent.cs
  osu.Game/Skinning/HUDSkinComponent.cs
Labels: size/S

#10522 Add support for ScorePrefix and ScoreOverlap values in legacy skins
  osu.Game.Tests/Visual/Gameplay/TestSceneScoreCounter.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinConfiguration.cs
Labels: size/L

#10528 Add legacy skinning support for health display
  osu.Android.props
  osu.Game.Tests/Resources/old-skin/score-0.png
  osu.Game.Tests/Resources/old-skin/score-1.png
  osu.Game.Tests/Resources/old-skin/score-2.png
  osu.Game.Tests/Resources/old-skin/score-3.png
  osu.Game.Tests/Resources/old-skin/score-4.png
  osu.Game.Tests/Resources/old-skin/score-5.png
  osu.Game.Tests/Resources/old-skin/score-6.png
  osu.Game.Tests/Resources/old-skin/score-7.png
  osu.Game.Tests/Resources/old-skin/score-8.png
  osu.Game.Tests/Resources/old-skin/score-9.png
  osu.Game.Tests/Resources/old-skin/score-comma.png
  osu.Game.Tests/Resources/old-skin/score-dot.png
  osu.Game.Tests/Resources/old-skin/score-percent.png
  osu.Game.Tests/Resources/old-skin/score-x.png
  osu.Game.Tests/Resources/old-skin/scorebar-bg.png
  osu.Game.Tests/Resources/old-skin/scorebar-colour-0.png
  osu.Game.Tests/Resources/old-skin/scorebar-colour-1.png
  osu.Game.Tests/Resources/old-skin/scorebar-colour-2.png
  osu.Game.Tests/Resources/old-skin/scorebar-colour-3.png
  osu.Game.Tests/Resources/old-skin/scorebar-ki.png
  osu.Game.Tests/Resources/old-skin/scorebar-kidanger.png
  osu.Game.Tests/Resources/old-skin/scorebar-kidanger2.png
  osu.Game.Tests/Resources/old-skin/skin.ini
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHealthDisplay.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
  osu.Game/Screens/Play/HUD/IHealthDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/SkinnableHealthDisplay.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:skinning, type:UI

#10530 Fix osu!catch showing two combo counters for legacy skins
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:skinning, ruleset:osu!catch, size/S

#10531 Adjust accuracy display to match stable
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
Labels: area:skinning, size/XS, type:UI

#10534 Silence EF warning due to ordinal being unsupported
  osu.Game/Rulesets/RulesetStore.cs
Labels: area:database, size/XS

#10537 Fix legacy score & combo counter text overflowing outside padding
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
Labels: area:skinning, size/S, type:UI

#10553 Fix key counter actions displaying out of order
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: area:gameplay, ruleset:osu!taiko, size/XS, type:UI

#10557 Remove rolling delay on default combo counter
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
Labels: area:gameplay, size/XS, type:UI

#10555 Fix incorrect zero padding for classic scoring mode
  osu.Game/Graphics/UserInterface/RollingCounter.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/HUD/IScoreCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableScoreCounter.cs
Labels: area:gameplay, size/M

#9256 Add basic setup switching for the tournament client
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game.Tournament/Configuration/TournamentStorageManager.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game.Tournament/IO/TournamentVideoResourceStore.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/IO/MigratableStorage.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/OsuGameBase.cs
Labels: area:tournament, size/XL

#10401 Expand ScoreProcessor tests
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: size/L, type:testing

#8136 Centralise logic for login/retry placeholders
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/RetrievalFailurePlaceholder.cs
  osu.Game/Online/Placeholders/ClickablePlaceholder.cs
  osu.Game/Online/Placeholders/LoginPlaceholder.cs
Labels: size/L, type:UI

#10235 Fix anchor of tournament ruleset selector dropdown
  osu.Game/Graphics/UserInterfaceV2/LabelledDrawable.cs
Labels: area:tournament, size/XS, type:UI

#10493 Update framework
  osu.Android.props
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9816 Add context menu option for duplicating multi rooms
  osu.Game/Online/Multiplayer/Room.cs
  osu.Game/Screens/Multi/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: area:multiplayer, size/M

#10297 Set the window icon with SDL
  osu.Desktop/OsuGameDesktop.cs
Labels: size/XS

#10516 Lock screen rotation while in gameplay on android
  osu.Android/GameplayScreenRotationLocker.cs
  osu.Android/OsuGameActivity.cs
  osu.Android/OsuGameAndroid.cs
  osu.Android/osu.Android.csproj
Labels: area:gameplay, platform:android, size/M

#10556 Allow legacy text to display fixed width correctly
  osu.Game/Skinning/LegacySpriteText.cs
Labels: area:gameplay, size/XS, type:UI

#10560 Fix osu!catch test failures due to trying to retrieve container too early
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
Labels: size/XS, type:testing

#10559 Fix migration test failures due to finalizer disposal of LocalConfigManager
  osu.Game/OsuGameBase.cs
Labels: size/XS, type:testing

#10563 Fix autoplay/replay settings going off screen on some legacy skins
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:skinning, size/S, type:UI

#10494 Add beatmap set level pooling to beatmap carousel
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselHeader.cs
  osu.Game/Screens/Select/Carousel/CarouselItem.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
  osu.Game/Screens/Select/Carousel/FilterableDifficultyIcon.cs
  osu.Game/Screens/Select/Carousel/FilterableGroupedDifficultyIcon.cs
  osu.Game/Screens/Select/Carousel/SetPanelBackground.cs
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
Labels: area:song-select, size/XXL, type:performance

#10499 Reduce alloc overhead of DrawableCarouselBeatmapSet using new function-based ctor
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/XS, type:performance

#10497 Disable difficulty calculation for set-level difficulty icons
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Screens/Select/Carousel/FilterableDifficultyIcon.cs
Labels: size/S

#9643 Add more display modes for HUD overlay (hide during gameplay / hide during break)
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Configuration/HUDVisibilityMode.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:settings, blocked, size/M

#9484 Add osu! playfield border display styles
  osu.Game.Rulesets.Osu.Tests/TestPlayfieldBorder.cs
  osu.Game.Rulesets.Osu/Configuration/OsuRulesetConfigManager.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Rulesets.Osu/UI/OsuSettingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/UI/PlayfieldBorder.cs
  osu.Game/Rulesets/UI/PlayfieldBorderStyle.cs
  osu.Game/Screens/Edit/Compose/Components/EditorPlayfieldBorder.cs
Labels: area:gameplay, size/L, type:UI

#10573 Fix ISourcedFromTouch events being blocked by LoadingLayer
  osu.Game/Graphics/UserInterface/LoadingLayer.cs
Labels: platform:mobile, size/XS, type:input

#10579 Remove IOnlineComponent and change existing components to use bindable flow
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/Online/TestSceneOnlineViewContainer.cs
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/IOnlineComponent.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/OnlineViewContainer.cs
  osu.Game/Overlays/AccountCreationOverlay.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/OverlayView.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Select/DifficultyRecommender.cs
Labels: size/L, type:code-quality

#10576 Make beatmap wedge difficulty indicators update dynamically
  osu.Game.Tests/Visual/Ranking/TestSceneStarRatingDisplay.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/M, type:UI

#9786 Allow storyboard elements to load textures from skins
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/L

#10593 Fix a potential null reference when loading carousel difficulties
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/XS, type:reliability

#10591 Fix epilepsy warning not restoring track volume
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/EpilepsyWarning.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/M, type:audio

#10595 Hide sliderend & repeat circles in traceable mod
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
Labels: area:mods, ruleset:osu!, size/S

#9970 Change TeamFlag to fill a container instead of stretch
  osu.Game.Tournament/Components/DrawableTeamFlag.cs
  osu.Game.Tournament/Components/DrawableTournamentTeam.cs
  osu.Game.Tournament/Screens/Drawings/Components/GroupTeam.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamDisplay.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableMatchTeam.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
Labels: area:tournament, size/M

#10597 Fix mania crashing due to spectator client handling frames with unconverted beatmap
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecording.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
Labels: area:replay, ruleset:osu!mania, size/M, type:crash

#10598 Change editor timing screen seek behaviour to only occur on clicking table rows
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: size/S

#10601 Remove remaining sample disable logic from FrameStabilityContainer
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Rulesets/UI/IFrameStableClock.cs
  osu.Game/Screens/Play/GameplayClock.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/M, type:code-quality

#10602 Fix editor not pausing samples when switching away from compose mode
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/M, type:audio

#10608 Fix editor crash on exit when forcing exit twice in a row
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#10596 Add support for deleting objects when Shift is held down
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M, type:UX

#10607 Add more search options to Beatmap Listing
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchRulesetFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchScoreFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
  osu.Game/Overlays/BeatmapListing/SearchExtra.cs
  osu.Game/Overlays/BeatmapListing/SearchPlayed.cs
Labels: area:overlay-beatmap, size/L, type:UI

#10609 Clean up FrameStabilityContainer state handling logic
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
Labels: size/L, type:code-quality

#10613 Update framework
  osu.Android.props
  osu.Game.Rulesets.Taiko/UI/DrumRollHitContainer.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#10614 Only play results panel animation once (and only for the local user)
  osu.Game.Tests/Visual/Ranking/TestSceneScorePanel.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
Labels: area:results, size/M

#10370 Ensure virtual track time is long enough for test beatmaps
  osu.Game.Rulesets.Mania.Tests/TestSceneOutOfOrderHits.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/S, type:testing

#10620 Change shift-tab to cycle between available HUD visibility modes
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Configuration/HUDVisibilityMode.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/S

#10621 Add momentary HUD toggle
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/L

#10622 Fix HUD test having out of date value
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
Labels: size/XS, type:testing
