Repository ppy/osu, pull requests merged in 2020-12, with the labels that each got.

#11023 Pool osu!catch hit explosion
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/HitExplosion.cs
Labels: ruleset:osu!catch, size/L, type:performance

#11017 Fix current beatmap temporarily becoming empty during ruleset change
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M

#11034 Update framework (with SDL2 default)
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#11050 Modify object size to include 0-10 range
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
Labels: area:editor, size/XS

#11004 Add ability to customise key binding for in-game overlay toggle
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:settings, size/M

#11048 Mark OsuModTestScene as abstract
  osu.Game.Rulesets.Osu.Tests/Mods/OsuModTestScene.cs
Labels: size/XS, type:testing

#11032 Fix timeline not updating ticks correctly after arbitrary timing control point changes
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/S

#11030 Fix sliders playing hit animations when completely missed
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#11025 Scale slider control point display in line with circle size
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: area:editor, size/XS, type:UX

#11024 Fix slider control point dragging not correctly accounting for drag deadzone
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: area:editor, size/XS, type:UX

#11051 Update dependencies
  global.json
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: dependencies, size/S

#11028 Hide slider body immediately on successful hit when snaking is enabled
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#11011 Initial implementation of hit object pooling in osu!catch ruleset
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchPlayerLegacySkin.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBananaShower.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableJuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableTinyDroplet.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
  osu.Game/Tests/Visual/LegacySkinPlayerTestScene.cs
Labels: area:gameplay, area:pooling, ruleset:osu!catch, size/L, type:performance

#10983 Add `StatelessRNG` to be used for randomly-looking visual elements
  osu.Game/Utils/StatelessRNG.cs
Labels: ruleset:osu!catch, size/M

#11033 Make HitSampleInfo immutable
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerBonusTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Tests/Editing/LegacyEditorBeatmapPatcherTest.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Utils/Optional.cs
Labels: area:gameplay, size/L, type:audio

#11031 Fix editor beat snapping not working correctly when starting with a new beatmap
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#11056 Fix spectator connecting not being thread-safe
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
Labels: area:spectator, size/M, type:crash

#11054 Update resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#11060 Fix MouseHandler not being ignored when Raw Input is enabled
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: size/S, type:input

#11070 Fix song select panels not loading if partially offscreen
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/S, type:UI

#11053 Fix bananas not playing sounds
  osu.Game.Rulesets.Catch/Objects/Banana.cs
Labels: area:gameplay, ruleset:osu!catch, size/S, type:audio

#10905 Implement hitsample pooling
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game/Audio/SampleInfo.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Skinning/IPooledSampleProvider.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
  osu.Game/Skinning/PoolableSkinnableSample.cs
  osu.Game/Skinning/SkinReloadableDrawable.cs
  osu.Game/Skinning/SkinnableSound.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSample.cs
Labels: area:gameplay, size/L, type:performance

#11072 Update framework (with imagesharp bump)
  osu.Android.props
  osu.Game.Tournament/Models/TournamentMatch.cs
  osu.Game.Tournament/Screens/Editors/LadderEditorScreen.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#11035 Add playlist length to match settings overlay
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Online/Multiplayer/PlaylistExtensions.cs
  osu.Game/Screens/Multi/Components/OverlinedPlaylistHeader.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomInspector.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: area:multiplayer, size/M, type:UI

#11068 Fix beatmap carousel panels getting masked away when out of scroll bounds
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/XS

#11085 Ensure equality member consistency for SampleInfo
  osu.Game.Tests/Audio/SampleInfoEqualityTest.cs
  osu.Game/Audio/SampleInfo.cs
Labels: area:ruleset-api, size/M, type:audio

#11073 Remove OnParentReceived() from DrawableHitObject
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/IPooledHitObjectProvider.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:ruleset-api, size/M

#11055 Use stateless RNG for osu!catch hit objects
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitRandomness.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitVisualChange.cs
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
Labels: ruleset:osu!catch, size/L

#11083 Select recommended beatmap if last selection is filtered
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: area:song-select, size/XS

#11069 Fix hidden mod crashing in osu! ruleset
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
Labels: area:mods, ruleset:osu!, size/L, type:crash

#11084 Fix spinner ticks getting increased visibility state in hidden mod
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
Labels: area:mods, ruleset:osu!, size/S

#11071 Refactor fruit catching logic
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: ruleset:osu!catch, size/XL, type:code-quality

#11089 Fix one more key binding string not being sentence cased
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: area:settings, size/XS

#11092 Always confine mouse to screen when running fullscreen
  osu.Game/Input/ConfineMouseTracker.cs
  osu.Game/Input/OsuConfineMouseMode.cs
Labels: size/S, type:UI

#11066 Fix DrawableHitObjects potentially expiring before their hit samples finish playback
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
Labels: area:gameplay, size/XS, type:audio

#11101 Hide confine mode dropdown when full-screen
  osu.Game.Tests/Input/ConfineMouseTrackerTest.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: area:settings, size/L, type:UX

#11108 Update DiscordRichPresence with fix for startup crashes
  osu.Desktop/osu.Desktop.csproj
Labels: size/XS, type:reliability

#11111 Fix possible null reference in MouseSettings
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: area:settings, size/XS

#11105 Add fade in/out animations to mod settings container
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSettingsContainer.cs
Labels: area:song-select, size/L, type:UI

#10925 Fix skinnable sounds playing more than once on skin change
  osu.Game/Skinning/PoolableSkinnableSample.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:gameplay, size/XS, type:audio

#11114 Pool catcher trail sprite
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailSprite.cs
Labels: ruleset:osu!catch, size/M, type:performance

#11113 Fix scrolling hit object displayed in wrong position for one frame
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: area:gameplay, size/S

#11117 Limit room name to 100 characters
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
Labels: area:multiplayer, size/XS

#11107 osu! PerformanceCalc Short Map AR11 Nerf
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, proposal, size/S

#11115 Add the ability to import into ArchiveModelManagers from a stream
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game.Tests/Visual/Online/TestSceneDirectDownloadButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/DownloadableArchiveModelManager.cs
  osu.Game/Database/ICanAcceptFiles.cs
  osu.Game/Database/ImportTask.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:storage, size/L

#11123 Move catcher state changing logic to OnNewResult and OnRevertResult
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch/Judgements/CatchJudgementResult.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/HitExplosion.cs
Labels: area:replay, ruleset:osu!catch, size/L

#11126 Clear all transforms of catcher trail sprite before returned to pool
  osu.Game.Rulesets.Catch/UI/CatcherTrailSprite.cs
Labels: ruleset:osu!catch, size/XS

#11110 Implement in-place update of catch DrawableHitObject
  osu.Game.Rulesets.Catch/CatchSkinComponents.cs
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Skinning/Default/BananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/BananaPulpFormation.cs
  osu.Game.Rulesets.Catch/Skinning/Default/CatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/DropletPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPulpFormation.cs
  osu.Game.Rulesets.Catch/Skinning/Default/GrapePiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/PearPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/PineapplePiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/Pulp.cs
  osu.Game.Rulesets.Catch/Skinning/Default/PulpFormation.cs
  osu.Game.Rulesets.Catch/Skinning/Default/RaspberryPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyBananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyCatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyDropletPiece.cs
Labels: ruleset:osu!catch, size/XL, type:performance

#11129 Port StanR's dynamic SO pp changes
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, size/XS

#11131 Pool objects caught by the catcher
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitRandomness.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/IHasCatchObjectState.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/IHasFruitState.cs
  osu.Game.Rulesets.Catch/Skinning/Default/CatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyCatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: ruleset:osu!catch, size/XL, type:performance

#11149 Add a simple cache-busting query string to online.db retrieval
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
Labels: size/XS, type:online

#11139 Fix single threaded seeking not working due to unnecessary seek call
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: area:gameplay, size/S

#11137 Ensure player is consumed at the point of scheduled push running the first time
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/L, type:reliability

#11150 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#11159 Refactor and restore taiko hits test scene to a working state
  osu.Game.Rulesets.Taiko.Tests/DrawableTaikoRulesetTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/DrawableTestHit.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
Labels: ruleset:osu!taiko, size/M, type:testing

#11147 Change miss penalty curve for speed and aim pp awarded in the osu! ruleset
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, ruleset:osu!, size/S

#11164 Replace now-default SDL rider run config with legacy osuTK config
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___legacy_osuTK_.xml
Labels: area:tooling, size/XS

#11169 Split `X` property of `CatchHitObject` to `OriginalX` and `EffectiveX`
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Difficulty/Preprocessing/CatchDifficultyHitObject.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset:osu!catch, size/L, type:code-quality

#11162 improve selection box rotation UX
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
Labels: area:editor, size/S, type:UX

#11166 Implement taiko bar line pooling
  osu.Game.Rulesets.Taiko.Tests/HitObjectApplicationTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableBarLine.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneBarLineApplication.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
  osu.Game.Rulesets.Taiko/Objects/BarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLineMajor.cs
  osu.Game.Rulesets.Taiko/UI/BarLinePlayfield.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, size/L, type:performance

#11167 Adjust mania judgement position in legacy skins according to their ScorePosition setting
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaJudgementPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#11170 Fix gameplay loading too fast the first time entering a beatmap
  osu.Android.props
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, size/S

#11177 Ensure correct initial state of taiko bar lines
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLine.cs
Labels: ruleset:osu!taiko, size/XS, type:reliability

#11179 Fix swells crashing on rapid seeks in editor
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
Labels: area:editor, ruleset:osu!taiko, size/XS, type:crash

#11163 Refactor taiko's strong state management in hitobject hierarchy
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoBeatmapConversionTest.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableStrongNestedHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoStrongableHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/StrongNestedHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoStrongableHitObject.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoAutoGenerator.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/TaikoHitTarget.cs
  osu.sln.DotSettings
Labels: ruleset:osu!taiko, size/L, type:code-quality

#11180 Fix beatmapset panel difficulty icon order
  osu.Game/Overlays/BeatmapListing/Panels/BeatmapPanel.cs
Labels: size/XS

#11175 Change accuracy curve for speed pp awarded in the osu! ruleset
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, ruleset:osu!, size/XS

#10882 Add File Import screen
  osu.Game/Overlays/Settings/Sections/Debug/GeneralSettings.cs
  osu.Game/Screens/Import/FileImportScreen.cs
Labels: area:settings, size/L

#5499 Add base implementation for in-game leaderboards
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
Labels: size/L

#11127 Add client-side models and interfaces required for multiplayer
  osu.Game/Online/Multiplayer/RoomCategory.cs
  osu.Game/Online/RealtimeMultiplayer/IMultiplayerClient.cs
  osu.Game/Online/RealtimeMultiplayer/IMultiplayerLoungeServer.cs
  osu.Game/Online/RealtimeMultiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/RealtimeMultiplayer/IMultiplayerServer.cs
  osu.Game/Online/RealtimeMultiplayer/InvalidStateChangeException.cs
  osu.Game/Online/RealtimeMultiplayer/InvalidStateException.cs
  osu.Game/Online/RealtimeMultiplayer/MultiplayerRoom.cs
  osu.Game/Online/RealtimeMultiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/RealtimeMultiplayer/MultiplayerRoomState.cs
  osu.Game/Online/RealtimeMultiplayer/MultiplayerRoomUser.cs
  osu.Game/Online/RealtimeMultiplayer/MultiplayerUserState.cs
  osu.Game/Online/RealtimeMultiplayer/NotHostException.cs
  osu.Game/Online/RealtimeMultiplayer/NotJoinedRoomException.cs
Labels: area:multiplayer, size/L

#11099 Add support for importing files on Android
  osu.Android/OsuGameActivity.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: platform:android, size/M

#11186 Clamp osu!mania's HitPosition offset to match osu-stable implementation
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
Labels: area:gameplay, ruleset:osu!mania, size/XS

#11187 Use ints for userid parameters
  osu.Game/Online/RealtimeMultiplayer/IMultiplayerClient.cs
  osu.Game/Online/RealtimeMultiplayer/IMultiplayerRoomServer.cs
Labels: area:multiplayer, size/XS, type:online

#11138 Port StanR's NF multiplier changes
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, size/XS

#11193 Add beatmap checksum to MultiplayerRoomSettings
  osu.Game/Online/RealtimeMultiplayer/MultiplayerRoomSettings.cs
Labels: area:multiplayer, size/S

#11171 Add summary scoring data to replay FrameBundle headers
  osu.Game.Rulesets.Catch/UI/CatchReplayRecorder.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Mania/UI/ManiaReplayRecorder.cs
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuReplayRecorder.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecording.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Online/Spectator/FrameDataBundle.cs
  osu.Game/Online/Spectator/FrameHeader.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
  osu.Game/Screens/Play/Player.cs
Labels: size/L, type:online

#11190 Add global friends list to API providers
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Menus/TestSceneDisclaimer.cs
  osu.Game.Tests/Visual/Online/TestSceneAccountCreationOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapSet/Buttons/FavouriteButton.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/AddFriendButton.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Screens/Menu/MenuLogoVisualisation.cs
  osu.Game/Screens/Menu/MenuSideFlashes.cs
Labels: size/L, type:online

#11197 Refactor multiplayer test scenes
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomInfo.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchHeader.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedParticipants.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomStatus.cs
  osu.Game/Tests/Visual/MultiplayerTestScene.cs
Labels: area:multiplayer, size/L, type:testing

#11196 Align selection box circles to center of border
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
Labels: area:editor, size/XS, type:UI

#11191 Update gameplay leaderboard scores in-line with the new design
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/ILeaderboardScore.cs
  osu.Game/Utils/FormatUtils.cs
Labels: area:gameplay, size/L, type:UI

#11185 Implement a spectator data driven leaderboard
  osu.Game.Tests/Visual/Gameplay/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:gameplay, size/L, type:online

#11199 Asyncify player score creation and submission
  osu.Game.Tests/Visual/Gameplay/TestSceneCompletionCancellation.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
Labels: area:multiplayer, size/L

#11204 Abstractify Multiplayer + RoomManager and componentise polling components
  osu.Game.Tests/Visual/Components/TestScenePollingComponent.cs
  osu.Game.Tests/Visual/Multiplayer/TestRoomManager.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiScreen.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/PollingComponent.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Multi/Components/ListingPollingComponent.cs
  osu.Game/Screens/Multi/Components/RoomManager.cs
  osu.Game/Screens/Multi/Components/RoomPollingComponent.cs
  osu.Game/Screens/Multi/Components/SelectionPollingComponent.cs
  osu.Game/Screens/Multi/IRoomManager.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Multi/RoomManager.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftMultiplayer.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftRoomManager.cs
Labels: area:multiplayer, size/XL, type:code-quality

#11205 Implement a stateful multiplayer client + test realtime room manager
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneRealtimeRoomManager.cs
  osu.Game/Online/API/Requests/GetBeatmapSetRequest.cs
  osu.Game/Online/Multiplayer/CreateRoomRequest.cs
  osu.Game/Online/Multiplayer/GetRoomRequest.cs
  osu.Game/Online/RealtimeMultiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/Multi/Components/RoomManager.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
  osu.Game/Tests/Visual/RealtimeMultiplayer/RealtimeMultiplayerTestScene.cs
  osu.Game/Tests/Visual/RealtimeMultiplayer/TestRealtimeMultiplayerClient.cs
  osu.Game/Tests/Visual/RealtimeMultiplayer/TestRealtimeRoomContainer.cs
  osu.Game/Tests/Visual/RealtimeMultiplayer/TestRealtimeRoomManager.cs
Labels: area:multiplayer, size/XXL

#11206 Add a base class for all realtime multiplayer composites
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomComposite.cs
Labels: area:multiplayer, size/M

#11207 Implement the realtime multiplayer participants list
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneParticipantsList.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/ParticipantsList.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/ReadyMark.cs
Labels: area:multiplayer, size/L

#11208 Implement the realtime multiplayer ready button
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneRealtimeReadyButton.cs
  osu.Game/Online/RealtimeMultiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/Multi/Components/ReadyButton.cs
  osu.Game/Screens/Multi/Match/Components/Footer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeReadyButton.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftReadyButton.cs
Labels: area:multiplayer, size/L

#11227 Fix incorrect joinedroom null checks
  osu.Game/Screens/Multi/Components/RoomManager.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
Labels: area:multiplayer, size/XS

#11221 Add support for hitobject application to taiko DHOs
  osu.Game.Rulesets.Taiko.Tests/HitObjectApplicationTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneBarLineApplication.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumRollApplication.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHitApplication.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableStrongNestedHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwellTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoStrongableHitObject.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: ruleset:osu!taiko, size/L

#11229 Make RealtimeMultiplayerTestScene abstract
  osu.Game/Tests/Visual/RealtimeMultiplayer/RealtimeMultiplayerTestScene.cs
Labels: size/XS, type:testing

#11228 Make room Duration/EndDate nullable
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomStatus.cs
  osu.Game/Online/Multiplayer/Room.cs
  osu.Game/Screens/Multi/Components/RoomStatusInfo.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Multi/MultiplayerComposite.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftReadyButton.cs
Labels: area:multiplayer, size/M

#11232 Make participant count non-nullable
  osu.Game/Online/Multiplayer/Room.cs
Labels: area:multiplayer, size/XS

#11222 Enable pooling for taiko DHOs
  osu.Game.Rulesets.Taiko.Tests/TestSceneSampleOutput.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoStrongableHitObject.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, size/L, type:performance

#11234 Fix room category being serialised as int
  osu.Game/IO/Serialization/Converters/SnakeCaseStringEnumConverter.cs
  osu.Game/Online/Multiplayer/Room.cs
Labels: size/S, type:online

#11235 Fix metadata lost in beatmapset deserialisation
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
Labels: size/S, type:online

#11225 Fix a couple of simple cases of incorrect TextureLoaderStore initialisation
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
Labels: size/XS, type:performance

#11233 Fix potential cross-thread operation during chat channel load
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: area:overlay-chat, size/S, type:reliability

#11237 Fix editor background not being correctly cleaned up on forced exit
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, area:main menu, size/XS

#11238 Improve drag and selection UX on editor timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/S, type:UX

#11249 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#11216 Fix selected item not being highlighted on some setting dropdowns
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/MainMenuSettings.cs
Labels: area:settings, size/S, type:UI

#11236 Update osu!mania legacy skin's judgement animation to match stable
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaJudgementPiece.cs
Labels: area:skinning, ruleset:osu!mania, size/S

#11247 Fix resolution dropdown not respecting current display changes
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/M

#11246 Fix crash when attempting to scale two hitobjects on the same axis
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/S, type:reliability

#11252 Add simple state display for participants
  osu.Game.Tests/Visual/Multiplayer/TestSceneTimeshiftParticipantsList.cs
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneRealtimeMultiplayerParticipantsList.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/ReadyMark.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/StateDisplay.cs
Labels: area:multiplayer, size/L, type:UX

#8759 Make presented beatmap a recommended one
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Beatmaps/DifficultyRecommender.cs
  osu.Game/Online/API/Requests/GetUserRequest.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/ILegacyRuleset.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/L, type:UX

#11256 Disallow joining ended rooms in realtime multiplayer
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
Labels: area:multiplayer, size/S

#11226 Fix incorrectly provided texture loader store to skins
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Beatmaps/IBeatmapResourceProvider.cs
  osu.Game/IO/IStorageResourceProvider.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/LegacySkinPlayerTestScene.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: size/L, type:code-quality, type:performance

#11253 Add leaderboard display to realtime player
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:multiplayer, size/M, type:UI

#11254 Fix beatmap track not looping on multiplayer song selects
  osu.Game/Screens/Multi/Match/RoomSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: area:multiplayer, size/L, type:audio

#11265 Add multiplayer server disconnection flow
  osu.Game/Online/RealtimeMultiplayer/RealtimeMultiplayerClient.cs
  osu.Game/Online/RealtimeMultiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeLoungeSubScreen.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMatchSubScreen.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:multiplayer, size/L

#11266 Fix multiple cases of unobserved async errors being thrown in fire-and-forget usages
  osu.Game/Extensions/TaskExtensions.cs
  osu.Game/Online/RealtimeMultiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Match/RealtimeReadyButton.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMatchSongSelect.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMultiplayer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
Labels: size/M

#11274 Split create game buttons for timeshift and realtime multiplayer
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/CreateRealtimeMatchButton.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMultiplayer.cs
  osu.Game/Screens/Multi/Timeshift/CreateTimeshiftRoomButton.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftMultiplayer.cs
Labels: area:multiplayer, size/M, type:UI

#11268 Fix realtime multiplayer song select getting stuck after selecting invalid beatmap
  osu.Game/Online/RealtimeMultiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMatchSongSelect.cs
Labels: area:multiplayer, size/S

#11275 Send multiplayer user IDs via ctor for better thread safety
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMatchSubScreen.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
Labels: area:multiplayer, size/S, type:reliability

#11270 Improve error handling at realtime room settings screen
  osu.Game/Online/RealtimeMultiplayer/RealtimeMultiplayerClient.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Match/RealtimeMatchSettingsOverlay.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeRoomManager.cs
Labels: area:multiplayer, size/S

#11273 Improve reliability of handling user joined messages
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneRealtimeMultiplayer.cs
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneRealtimeReadyButton.cs
  osu.Game/Online/RealtimeMultiplayer/StatefulMultiplayerClient.cs
  osu.Game/Tests/Visual/RealtimeMultiplayer/TestRealtimeMultiplayerClient.cs
Labels: area:multiplayer, size/M, type:reliability

#11267 Move player constructor configuration to dedicated class; add AllowRestart parameter
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerConfiguration.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Tests/Visual/TestPlayer.cs
Labels: area:gameplay, size/L, type:code-quality

#11278 Include accuracy value in spectator frame header
  osu.Game/Online/Spectator/FrameHeader.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:multiplayer, size/S

#11279 Don't begin gameplay until all users are in a completely prepared state
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:multiplayer, size/M

#11284 Add sound when players change ready state
  osu.Game.Tests/Visual/RealtimeMultiplayer/TestSceneRealtimeReadyButton.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/Match/RealtimeReadyButton.cs
Labels: area:multiplayer, size/M, type:audio

#11283 Play a sound when starting a timeshift or multiplayer room
  osu.Game/Screens/Multi/Match/RoomSubScreen.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMatchSubScreen.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftRoomSubScreen.cs
Labels: area:multiplayer, size/M, type:audio

#11281 Schedule UpdateFilter calls to avoid operations occuring while at a sub screen
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
Labels: area:multiplayer, size/XS

#11282 Disallow skipping in multiplayer
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerConfiguration.cs
Labels: area:multiplayer, size/XS

#11271 Prefer connecting to dev server when running in DEBUG
  osu.Game.Tests/Visual/Gameplay/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game/Configuration/DevelopmentOsuConfigManager.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/Responses/APIChangelogEntry.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Online/DevelopmentEndpointConfiguration.cs
  osu.Game/Online/EndpointConfiguration.cs
  osu.Game/Online/ProductionEndpointConfiguration.cs
  osu.Game/Online/RealtimeMultiplayer/RealtimeMultiplayerClient.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/Changelog/ChangelogBuild.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/Sections/Recent/DrawableRecentActivity.cs
Labels: size/L, type:online

#11288 Always create realtime-specific player elements regardless of token
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimePlayer.cs
Labels: area:multiplayer, size/S, type:reliability

#11269 Handle osu! URIs on Android
  osu.Android/OsuGameActivity.cs
Labels: platform:android, size/XS

#11263 Fix flashlight not updating its position during replay rewinding
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
Labels: area:replay, ruleset:osu!, size/XS

#11290 Fix multiplayer gameplay potentially looping audio after reaching end
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: area:multiplayer, size/S, type:audio

#11285 Re-sort the leaderboard order a maximum of once a second
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
Labels: area:multiplayer, size/M

#11286 Rename "timeshift" to "playlists"
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiHeader.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Screens/Multi/Header.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/CreateRealtimeMatchButton.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMatchSubScreen.cs
  osu.Game/Screens/Multi/RealtimeMultiplayer/RealtimeMultiplayer.cs
  osu.Game/Screens/Multi/Timeshift/CreateTimeshiftRoomButton.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftMultiplayer.cs
  osu.Game/Screens/Multi/Timeshift/TimeshiftRoomSubScreen.cs
Labels: area:multiplayer, size/M

#11316 Fix join room failures on large lobbies
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
Labels: area:multiplayer, size/M, type:performance, type:reliability

#11318 Fix crash on local user not being present when updating the ready button display
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
Labels: area:multiplayer, size/M, type:reliability

#11319 Fix copying a multiplayer room attempting to create a playlist room instead
  osu.Game/Online/Rooms/Room.cs
Labels: area:multiplayer, size/XS

#11323 Fix gameplay leaderboard avatars being clickable
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/Chat/Tabs/PrivateChannelTabItem.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Users/Drawables/ClickableAvatar.cs
  osu.Game/Users/Drawables/DrawableAvatar.cs
  osu.Game/Users/Drawables/UpdateableAvatar.cs
Labels: area:multiplayer, size/L, type:UI

#11320 Fix leaderboard showing score updates for quit users
  osu.Game.Tests/Visual/Gameplay/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/ILeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:multiplayer, size/L, type:UI

#11314 Refactor changelog code after migrating away from production web instance
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUpdateStream.cs
  osu.Game/Overlays/Changelog/ChangelogBuild.cs
  osu.Game/Overlays/Changelog/ChangelogEntry.cs
  osu.Game/Overlays/Changelog/ChangelogUpdateStreamControl.cs
Labels: area:overlay-changelog, size/XL, type:code-quality, type:testing

#11307 Fix account creation overlay not showing up the first time after a log-out
  osu.Game.Tests/Visual/Online/TestSceneAccountCreationOverlay.cs
  osu.Game/Overlays/AccountCreationOverlay.cs
Labels: area:overlay-account-creation, size/M

#11340 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#11339 Update fastlane and dependencies
  Gemfile.lock
Labels: area:tooling, size/M

#11338 Allow null users to still be displayed in the participant list
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Database/UserLookupCache.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/M, type:reliability

#11342 Fix user changes in multi song select not reverting on exit without confirmation
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
Labels: area:multiplayer, size/L

#11341 Fix incorrect null handling in GameplayLeaderboard
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
  osu.Game/Database/UserLookupCache.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:multiplayer, size/M, type:reliability

#11356 Change cursor trail blending mode based on cursor trail type to match stable behaviour
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
Labels: size/XS

#11351 Change PlayingUsers population logic to match expectations
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:multiplayer, size/L

#11362 Remove unused lock object
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
Labels: size/XS, type:code-quality

#11361 Fix being able to enter online screens while API is in a failing mode
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: area:multiplayer, size/S

#11358 Remove selection polling from multiplayer
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
Labels: area:multiplayer, size/M

#11359 Silence network errors that don't need to be shown to the user
  osu.Android.props
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:online

#11373 Move thread safety / locking logic from MultiplayerRoom
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
Labels: size/S, type:code-quality
