Repository ppy/osu, pull requests merged in 2020-01, with the labels that each got.

#7398 Remove generic editor beatmap
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Beatmaps/EditorBeatmapTest.cs
  osu.Game.Tests/Editor/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editor/TestSceneDistanceSnapGrid.cs
  osu.Game.Tests/Visual/Editor/TestSceneEditorComposeTimeline.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Edit/DrawableEditRulesetWrapper.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/IEditorBeatmap.cs
Labels: editor, size/L

#7399 Move EditorBeatmap to Editor itself
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Tests/Editor/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editor/TestSceneComposeScreen.cs
  osu.Game.Tests/Visual/Editor/TestSceneDistanceSnapGrid.cs
  osu.Game.Tests/Visual/Editor/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/Editor/TestSceneTimingScreen.cs
  osu.Game/Rulesets/Edit/DrawableEditRulesetWrapper.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectDisplay.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/EditorScreen.cs
  osu.Game/Screens/Edit/IEditorBeatmap.cs
Labels: editor, size/L

#7419 Fix storyboard samples not loading from subfolders
  osu.Game.Rulesets.Taiko/Audio/DrumSampleMapping.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/normal-hitclap.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/normal-hitfinish.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/normal-hitnormal.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/normal-hitwhistle.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/soft-hitclap.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/soft-hitfinish.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/soft-hitnormal.wav
  osu.Game.Rulesets.Taiko/Resources/Samples/Gameplay/soft-hitwhistle.wav
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Resources/test-sample.mp3
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: resolves issue, storyboard

#7414 Fix File Sharing on iOS 13
  osu.iOS/Info.plist
Labels: iOS, import, size/XS

#7424 Fix changelog overlay hard crashing on no internet connection
  osu.Game/Overlays/ChangelogOverlay.cs
Labels: online / API, resolves issue, size/XS

#7380 Update overlay headers controls in line with the web design
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBreadcrumbControl.cs
  osu.Game/Graphics/UserInterface/BreadcrumbControl.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/OverlayHeaderTabControl.cs
  osu.Game/Overlays/OverlayTabControl.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: design, overlays, size/L, user interface

#7427 Fix taiko autoplay sometimes missing
  osu.Game.Rulesets.Taiko/Replays/TaikoAutoGenerator.cs
Labels: osu!taiko, resolves issue, size/S

#7383 Construct DllResourceStore with assemblies
  osu.Game.Rulesets.Osu.Tests/SkinnableTestScene.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Ruleset.cs
Labels: code quality, size/S, testing

#7430 Add playing verb to Ruleset and use it for Discord RPC
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Users/UserActivity.cs
Labels: online / API, size/S

#7433 Fix new account registration attempting to login with email
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
Labels: size/XS

#7450 Fix osu!direct global action not being bound to a key
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: input, size/XS

#7435 Remove unused LaneGlowPiece and GlowPiece
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/GlowPiece.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/LaneGlowPiece.cs
Labels: code quality, size/L

#7451 Mark storyboard sample retrieval test headless
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
Labels: code quality, size/XS, testing

#7457 Fix CommentsContainer async loading wasn't really async
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: size/S

#7449 Update visible triangles colour when dark or light colour is changed
  osu.Game/Graphics/Backgrounds/Triangles.cs
Labels: gameplay, graphics, resolves issue, size/M

#7351 Fix download manager potentially not handling cancel requests properly
  osu.Game.Tests/Online/TestSceneBeatmapManager.cs
  osu.Game/Database/DownloadableArchiveModelManager.cs
Labels: online / API, size/S

#7388 Fix crashing TestSceneMedalOverlay
  osu.Game/Overlays/MedalOverlay.cs
  osu.Game/Overlays/MedalSplash/DrawableMedal.cs
Labels: size/XS, testing

#7462 Adjust catch + mania hp increase values
  osu.Game.Rulesets.Catch/Judgements/CatchBananaJudgement.cs
  osu.Game.Rulesets.Catch/Judgements/CatchDropletJudgement.cs
  osu.Game.Rulesets.Catch/Judgements/CatchJudgement.cs
  osu.Game.Rulesets.Catch/Judgements/CatchTinyDropletJudgement.cs
  osu.Game.Rulesets.Mania/Judgements/HoldNoteTickJudgement.cs
  osu.Game.Rulesets.Mania/Judgements/ManiaJudgement.cs
Labels: osu!catch, osu!mania, size/M

#7384 Set UserAgent for API requests
  osu.Android.props
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: online / API, size/S

#6464 Make previous track button restart current track on first click
  osu.Game.Tests/Visual/UserInterface/TestSceneNowPlayingOverlay.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: audio, input, resolves issue, size/M, ux

#7472 Downgrade NUnit adapter to fix discovery issues
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
Labels: size/S, testing

#7464 Remove unused variable on DifficultyIcon
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
Labels: code quality, size/XS

#7438 Implement a login placeholder
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/RetrievalFailurePlaceholder.cs
  osu.Game/Online/Placeholders/LoginPlaceholder.cs
  osu.Game/Online/Placeholders/MessagePlaceholder.cs
  osu.Game/Online/Placeholders/Placeholder.cs
Labels: size/M, user interface

#7458 Allow scrolling through DimmedLoadingLayer
  osu.Game/Graphics/UserInterface/DimmedLoadingLayer.cs
Labels: size/S, user interface, ux

#7484 Remove remaining usage of osuTK.MathHelper
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableRepeatPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SnakingSliderBody.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerDisc.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Graphics/Cursor/MenuCursor.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
Labels: code quality, size/S

#7252 Add ability to delete individual scores
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneUserTopScoreContainer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Screens/Select/BeatmapClearScoresDialog.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Select/LocalScoreDeleteDialog.cs
Labels: resolves issue, size/M, song select, user interface, ux

#7494 Fix default button absorbing drag scroll on settings
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: size/XS, user interface

#7490 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7497 Move hit target bar height constant to more local class
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
Labels: code quality, size/XS

#7491 Fix user status dropdown having no padding around items
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
Labels: resolves issue, size/XS, user interface

#7498 Fix crashing when changing user status before rich presence is initialised
  osu.Desktop/DiscordRichPresence.cs
Labels: reliability, size/XS

#7425 Implement missing API code for channel read state
  osu.Game/Online/API/Requests/MarkChannelAsReadRequest.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: online / API, size/M

#7509 Make gradient in NewsArticleCover be effected by hover
  osu.Game/Overlays/News/NewsArticleCover.cs
Labels: overlays, size/S, user interface

#7501 Add global action for toggling now playing overlay
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/OsuGame.cs
Labels: input, size/S, user interface

#7510 Fix song select showing incorrect key count when difficulty mods applied
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: resolves issue, size/S, song select, user interface

#7474 Add benchmark project
  .gitignore
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Benchmarks.xml
  .vscode/launch.json
  .vscode/tasks.json
  osu.Desktop.slnf
  osu.Game.Benchmarks/BenchmarkBeatmapParsing.cs
  osu.Game.Benchmarks/BenchmarkTest.cs
  osu.Game.Benchmarks/Program.cs
  osu.Game.Benchmarks/Properties/launchSettings.json
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.sln
Labels: performance, size/L, testing

#7523 Remove duplicate condition in TournamentFont
  osu.Game.Tournament/TournamentFont.cs
Labels: code quality, size/XS

#6991 Add support for --sdl command line arg
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu_SDL.xml
  osu.Desktop/Program.cs
Labels: graphics, size/S

#7479 Implement CountryFilter component for RankingsOverlay
  osu.Game.Tests/Visual/Online/TestSceneRankingsCountryFilter.cs
  osu.Game/Overlays/Rankings/CountryFilter.cs
  osu.Game/Overlays/Rankings/CountryPill.cs
Labels: overlays, size/L, user interface

#7434 Add looping animation to slider reverse arrows
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableRepeatPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/ReverseArrowPiece.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
Labels: gameplay, resolves issue, size/M, skinning

#7528 Allow changing volume in song select with arrow keys when pressing alt
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: input, size/XS, ux

#7532 Implement editor beatmap saving
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/DownloadableArchiveModelManager.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: editor, resolves issue, size/L

#7535 Implement exporting beatmap package as .osz
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: editor, size/L

#7534 Fix tooltip capitalization
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderDownloadButton.cs
  osu.Game/Overlays/Direct/PanelDownloadButton.cs
  osu.Game/Overlays/Profile/Header/Components/LevelBadge.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyboardSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Screens/Ranking/Pages/ReplayDownloadButton.cs
  osu.Game/Screens/Ranking/Pages/RetryButton.cs
  osu.Game/Users/Drawables/DrawableAvatar.cs
Labels: blocked, resolves issue, size/M

#7543 Fix user agent missing in registration request
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/OsuWebRequest.cs
  osu.Game/Online/API/RegistrationRequest.cs
Labels: online / API

#7549 Fix json web requests having incorrect user agents
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/OAuth.cs
  osu.Game/Online/API/OsuJsonWebRequest.cs
  osu.Game/Updater/SimpleUpdateManager.cs
Labels: online / API, size/M

#7537 Make iconless mods display acronyms
  osu.Game.Rulesets.Mania/Mods/ManiaModFadeIn.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModRandom.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDeflate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModGrow.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpinIn.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModButton.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModCinema.cs
  osu.Game/Rulesets/Mods/ModDaycore.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
  osu.Game/Rulesets/Mods/ModNoMod.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Mods/ModRelax.cs
  osu.Game/Rulesets/Mods/ModSuddenDeath.cs
  osu.Game/Rulesets/Mods/ModWindDown.cs
  osu.Game/Rulesets/Mods/ModWindUp.cs
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: mods, size/L, user interface

#7556 Remove usage of snapchat icon
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
Labels: mods, size/XS

#7555 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Online/TestSceneChannelTabControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenBreadcrumbControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneToolbarRulesetSelector.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7544 Fix channel tab control test scene
  osu.Game.Tests/Visual/Online/TestSceneChannelTabControl.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
Labels: size/M, user interface

#7564 Update license year
  Directory.Build.props
  LICENCE
  osu.Desktop/osu.nuspec
Labels: distribution, size/XS

#7561 Fix hard crashes on tournament client if a round contains an empty beatmap
  osu.Game.Tournament/TournamentGameBase.cs
Labels: resolves issue, size/S, tournament

#7541 Implement colour schemes for OverlayHeader
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: overlays, size/L, user interface

#7567 Update fastlane and plugins
  Gemfile.lock
Labels: size/M

#7582 Allow parsing hex colour codes with alpha
  osu.Game/Graphics/OsuColour.cs
Labels: graphics, size/S

#7566 Enforce using get-only auto property where possible
  osu.Game.Tournament/Screens/Ladder/Components/ProgressionPath.cs
  osu.Game/Audio/SampleInfo.cs
  osu.Game/Graphics/UserInterface/HoverSounds.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Screens/Ranking/ResultModeButton.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardLayer.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
  osu.Game/Storyboards/StoryboardSprite.cs
  osu.sln.DotSettings
Labels: code quality, size/S

#7548 Add mod setting (de)serialization support
  osu.Game.Tests/Online/TestAPIModSerialization.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Online/API/APIMod.cs
  osu.Game/Online/API/Requests/Responses/APIMod.cs
  osu.Game/Online/Multiplayer/PlaylistItem.cs
Labels: multiplayer, online / API, size/L

#7585 Apply OnRelease method signature refactorings
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnBackground.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnKeyArea.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/Graphics/UserInterface/BackButton.cs
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
  osu.Game/Input/IdleTracker.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/ExitConfirmOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
  osu.Game/Screens/Play/HotkeyExitOverlay.cs
  osu.Game/Screens/Play/HotkeyRetryOverlay.cs
  osu.Game/Screens/Play/KeyCounterAction.cs
  osu.Game/Screens/Play/SkipOverlay.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: input, size/L

#7573 Apply OnKeyUp method signature refactorings
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Play/KeyCounterKeyboard.cs
  osu.Game/Screens/Select/FooterButtonRandom.cs
Labels: input, size/S

#7574 Apply OnJoystickRelease method signature refactorings
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
Labels: input, size/XS

#7588 Move beat snapping to its own interface
  osu.Game.Tests/Editor/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editor/TestSceneComposeScreen.cs
  osu.Game.Tests/Visual/Editor/TestSceneHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IBeatSnapProvider.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: code quality, editor, size/L

#7538 Decouple blueprint container to allow usage in timeline
  osu.Game.Rulesets.Mania/Edit/ManiaBlueprintContainer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuBlueprintContainer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editor/TestSceneEditorComposeTimeline.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/TimelinePart.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectDisplay.cs
Labels: code quality, editor, size/XL

#7577 Make Difficulty Adjust mod customisation menu open automatically
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: mods, resolves issue, size/XS, user interface

#7590 Update country names
  osu.Game.Tournament/Resources/countries.json
Labels: size/XS

#7460 Allow CommentsContainer refetch comments using a method
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: comments, size/M

#7592 Add TotalCommentsCounter to CommentsContainer
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: size/XS

#7317 Implement ColourHitErrorMeter
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Configuration/ScoreMeterType.cs
  osu.Game/Screens/Play/HUD/HitErrorDisplay.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
Labels: gameplay, resolves issue, size/L, user interface

#7594 Fix editor rate adjustment polluting global beatmap rate
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: size/S

#5247 Add setting to show the song difficulty graph
  osu.Game.Tests/Visual/Gameplay/TestSceneSongProgress.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Screens/Play/SongProgressBar.cs
Labels: user interface

#7492 Implement SongTicker component in main menu
  osu.Game.Tests/Visual/Menus/TestSceneSongTicker.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/SongTicker.cs
Labels: menu, resolves issue, size/M, user interface

#7596 Fix regressed input handling order
  osu.Game/Screens/Menu/MainMenu.cs
Labels: menu, size/M

#7589 Expand editor timeline functionality
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/ManiaBlueprintContainer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/Edit/Masks/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/OsuSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderCircleSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuBlueprintContainer.cs
  osu.Game.Tests/Visual/Editor/TestSceneTimelineBlueprintContainer.cs
  osu.Game/Rulesets/Edit/OverlaySelectionBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/TimelinePart.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
  osu.Game/Screens/Edit/Compose/Components/MoveSelectionEvent.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectDisplay.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Tests/Visual/SelectionBlueprintTestScene.cs
Labels: editor, size/XL

#7591 Improve song select display on ultrawide displays (or when UI scale is set low)
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/L, song select

#3576 Hook up star rating filter
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/SongSelectSettings.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: resolves issue

#7609 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7614 Fix NullReferenceException on main menu for mobile game hosts
  osu.Game/Screens/Menu/MainMenu.cs
Labels: size/XS

#7618 Move reverse-order comparer to ChannelTabControl
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
Labels: code quality, size/S

#7613 Remove build target from Fastfile
  fastlane/Fastfile
Labels: size/XS, tooling

#7593 Minor cleanups for Legacy Storyboard/Beatmap decoder
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
Labels: code quality, performance, size/M

#7597 Implement OverlayColourProvider component
  osu.Game.Tests/Visual/Online/TestSceneFullscreenOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Overlays/DirectOverlay.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/NewsOverlay.cs
  osu.Game/Overlays/OverlayColourProvider.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/RankingsOverlay.cs
  osu.Game/Overlays/SearchableList/SearchableListOverlay.cs
  osu.Game/Overlays/SocialOverlay.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: code quality, overlays, size/L, user interface

#7627 Fix typo on ScoreProcessor comment
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: size/XS

#7622 Remap osu!mania dual stage key bindings to be more ergonomic
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
Labels: osu!mania, resolves issue, size/S

#7628 Fix cursor not hiding for screenshots
  osu.Game/Graphics/ScreenshotManager.cs
Labels: graphics, size/XS

#7624 Fix visual inconsistency in BreadcrumbControl
  osu.Game.Tests/Visual/UserInterface/TestSceneBreadcrumbControl.cs
  osu.Game/Graphics/UserInterface/BreadcrumbControl.cs
Labels: size/XS

#7630 Fix changelog header not dimming correctly on initial build display
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/Changelog/UpdateStreamBadgeArea.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.sln.DotSettings
Labels: changelog, size/M

#7432 Implement ability to create OverlayHeader with no TabControl
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/OverlayTabControl.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: overlays, size/L, user interface

#7623 Fix crash due to misordered selection events
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Tests/Visual/ManualInputManagerTestScene.cs
Labels: resolves issue, size/XS, song select

#7638 Use type switch in SerializationWriter
  osu.Game/IO/Legacy/SerializationWriter.cs
Labels: code quality, size/M

#7637 Refactor background creation in OverlayHeader
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeaderBackground.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/OverlayHeaderBackground.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
Labels: overlays, size/L, user interface

#7636 Make CommentsContainer use OverlayColourProvider
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentsHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneTotalCommentsCounter.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsHeader.cs
  osu.Game/Overlays/Comments/CommentsShowMoreButton.cs
  osu.Game/Overlays/Comments/HeaderButton.cs
  osu.Game/Overlays/Comments/SortTabControl.cs
  osu.Game/Overlays/Comments/TotalCommentsCounter.cs
Labels: comments, overlays, size/M, user interface

#7650 Change default method style for better IDE autocompletion
  .editorconfig
  osu.sln.DotSettings
Labels: size/XS, tooling

#7645 Allow OsuSliderBar tooltip to show as percentage as needed
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Overlays/Settings/Sections/Audio/VolumeSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/SettingsSlider.cs
  osu.Game/Screens/Play/PlayerSettings/VisualSettings.cs
Labels: size/M, user interface

#7659 Fix random PlaySongSelect test failures
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: regression, size/XS, testing

#7653 Fix navigation test crashing when raw input is disabled
  osu.Game.Tests/Visual/Menus/TestSceneScreenNavigation.cs
Labels: size/XS, testing

#7652 Fix key count being incorrectly adjusted by hard/easy mods
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: mods, osu!mania, resolves issue, size/S, song select

#7634 Add beat ticks to editor timeline
  osu.Game.Tests/Visual/Editor/TestSceneTimelineBlueprintContainer.cs
  osu.Game.Tests/Visual/Editor/TestSceneTimelineTickDisplay.cs
  osu.Game.Tests/Visual/Editor/TimelineTestScene.cs
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: editor, size/L

#7647 Move select tool to an actual tool implementation
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/Tools/HitObjectCompositionTool.cs
  osu.Game/Rulesets/Edit/Tools/SelectTool.cs
  osu.Game/Screens/Edit/Components/RadioButtons/DrawableRadioButton.cs
  osu.Game/Screens/Edit/Components/RadioButtons/RadioButton.cs
Labels: code quality, editor, size/M

#7642 Fix beat snap implementation being incorrect
  osu.Game.Tests/Editor/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IBeatSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: editor, size/S

#7644 Standardise editor timeline zoom across maps of all lengths
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: editor, resolves issue, size/S

#7654 Add a method to recycle test storage between runs
  osu.Game.Tests/Visual/Menus/TestSceneScreenNavigation.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/M, testing

#7643 Distance snap grid correct colouring
  osu.Game.Tests/Visual/Editor/TestSceneDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: editor, resolves issue, size/XL

#7649 Ensure selection tool correctly matches selection state
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: editor, resolves issue, size/L

#7648 Allow selecting composition tools using 1-4 keys
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: editor, size/L

#7662 Fix carousel potentially missing import events
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/L, song select, testing

#7554 Update profile scores in line with the web design
  osu.Game.Tests/Visual/Online/TestSceneUserProfileScores.cs
  osu.Game.Tests/Visual/Online/TestSceneUserRanks.cs
  osu.Game/Graphics/DrawableDate.cs
  osu.Game/Overlays/Profile/Sections/Historical/DrawableMostPlayedBeatmap.cs
  osu.Game/Overlays/Profile/Sections/ProfileItemContainer.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawablePerformanceScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableTotalScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/RanksSection.cs
Labels: size/XL, user interface

#7222 Add a reverse setting for Winding mods
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Mods/ModWindDown.cs
  osu.Game/Rulesets/Mods/ModWindUp.cs
Labels: mods, size/S

#7664 Fix percentage-formatted displays containing a space
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Screens/Multi/Match/Components/MatchLeaderboardScore.cs
  osu.Game/Screens/Select/LocalScoreDeleteDialog.cs
Labels: size/S, user interface

#7389 Fix footer button content not correctly being centered
  osu.Game.Tests/Visual/UserInterface/TestSceneFooterButtonMods.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
  osu.Game/Screens/Select/FooterButtonRandom.cs
Labels: resolves issue, size/L, song select

#7670 Bring UserProfileOverlay colour scheme in line with web
  osu.Game.Tests/Visual/Online/TestSceneHistoricalSection.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/ExpandDetailsButton.cs
  osu.Game/Overlays/Profile/Header/Components/OverlinedInfoContainer.cs
  osu.Game/Overlays/Profile/Header/Components/OverlinedTotalPlayTime.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/MedalHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileSection.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Overlays/Profile/Sections/ProfileShowMoreButton.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: overlays, size/M, user profile

#7667 Fix editor being accessible for multiplayer song select
  osu.Game/Screens/Select/MatchSongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: resolves issue, size/S, song select

#7673 Fix osu!catch not handling all vertical space
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
Labels: osu!catch, resolves issue, size/XS

#7663 Fix presenting a beatmap from a different ruleset not working
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: resolves issue, size/M, song select

#7676 Fix negative replay frames being played back incorrectly
  osu.Game/Scoring/Legacy/LegacyScoreParser.cs
Labels: replay, resolves issue, size/S

#7675 Fix possible crash when searching with no channel topic
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/Chat/Selection/ChannelListItem.cs
Labels: chat, size/S

#7683 Fix chat test intermittently failing
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
Labels: size/XS, testing

#7691 Fix incorrect nUnit adapter version causing rider failures
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
Labels: size/XS

#7690 Centralise screen exit logic to ScreenTestScene
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAllRulesetPlayers.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailAnimation.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailJudgement.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerReferenceLeaking.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplay.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L, testing

#7687 Fix Alt+number shortcuts for tabs in chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: chat, input, resolves issue, size/M
