Repository ppy/osu, pull requests merged in 2020-08, with the labels that each got.

#9757 Fix spinner test failures
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
Labels: area:gameplay, ruleset:osu!, size/M, type:testing

#9747 Apply height constraints to all settings dropdowns
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderSettingsDropdown.cs
  osu.Game.Tournament/Screens/Ladder/Components/SettingsTeamDropdown.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/Settings/SettingsDropdown.cs
Labels: area:settings, size/M, type:UX

#9459 News overlay implementaton
  osu.Game.Tests/Visual/Online/TestSceneNewsCard.cs
  osu.Game.Tests/Visual/Online/TestSceneNewsHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneNewsOverlay.cs
  osu.Game.Tests/Visual/TestSceneOsuGame.cs
  osu.Game/Online/API/Requests/GetNewsRequest.cs
  osu.Game/Online/API/Requests/GetNewsResponse.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Overlays/News/Displays/FrontPageDisplay.cs
  osu.Game/Overlays/News/NewsArticleCover.cs
  osu.Game/Overlays/News/NewsCard.cs
  osu.Game/Overlays/News/NewsContent.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/NewsOverlay.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarNewsButton.cs
Labels: area:overlay-news, size/XL, type:UI

#9745 Implement DashboardBeatmapListing component for use in Social Overlay
  osu.Game.Tests/Visual/UserInterface/TestSceneDashboardBeatmapListing.cs
  osu.Game/Overlays/Dashboard/Home/DashboardBeatmapListing.cs
  osu.Game/Overlays/Dashboard/Home/DashboardBeatmapPanel.cs
  osu.Game/Overlays/Dashboard/Home/DashboardNewBeatmapPanel.cs
  osu.Game/Overlays/Dashboard/Home/DashboardPopularBeatmapPanel.cs
  osu.Game/Overlays/Dashboard/Home/DrawableBeatmapList.cs
  osu.Game/Overlays/Dashboard/Home/DrawableNewBeatmapList.cs
  osu.Game/Overlays/Dashboard/Home/DrawablePopularBeatmapList.cs
Labels: area:overlay-social, size/XL, type:UI

#9712 Merge GlobalSkinConfiguration settings into the LegacySetting enum
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Skinning/GlobalSkinConfiguration.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinConfiguration.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
Labels: area:skinning, size/L, type:code-quality

#9761 Add fallback hash generation to fix android startup crash
  osu.Game/OsuGameBase.cs
Labels: platform:android, size/S, type:reliability

#9765 Fix multiplayer match select forcing playback even when user paused
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: area:multiplayer, size/XS, type:UX

#9773 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneLogoTrackingContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9778 Always place spinners behind hitcircles/sliders
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: area:gameplay, ruleset:osu!, size/S

#9759 Fix NewsOverlay running request on startup
  osu.Game/Overlays/NewsOverlay.cs
Labels: area:overlay-dashboard, size/S, type:network

#9779 Fix very short spinners being impossible to complete
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
Labels: area:gameplay, ruleset:osu!, size/M

#9780 Add missing toolbar tooltips for right-hand icons
  osu.Game/Overlays/Toolbar/ToolbarBeatmapListingButton.cs
  osu.Game/Overlays/Toolbar/ToolbarChangelogButton.cs
  osu.Game/Overlays/Toolbar/ToolbarChatButton.cs
  osu.Game/Overlays/Toolbar/ToolbarMusicButton.cs
  osu.Game/Overlays/Toolbar/ToolbarNewsButton.cs
  osu.Game/Overlays/Toolbar/ToolbarRankingsButton.cs
  osu.Game/Overlays/Toolbar/ToolbarSocialButton.cs
Labels: size/S, type:UX

#9791 Add keybinding to toolbar button's tooltip
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Toolbar/ToolbarBeatmapListingButton.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Overlays/Toolbar/ToolbarChatButton.cs
  osu.Game/Overlays/Toolbar/ToolbarHomeButton.cs
  osu.Game/Overlays/Toolbar/ToolbarMusicButton.cs
  osu.Game/Overlays/Toolbar/ToolbarNotificationButton.cs
  osu.Game/Overlays/Toolbar/ToolbarSettingsButton.cs
  osu.Game/Overlays/Toolbar/ToolbarSocialButton.cs
Labels: area:toolbar, size/L, type:UX

#9794 Update framework
  osu.Android.props
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Skinning/SkinnableSound.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9763 Add vertical offset to osu! playfield to match stable
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfieldAdjustmentContainer.cs
Labels: area:gameplay, size/S

#6345 Expand number piece for legacy old skins
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyMainCirclePiece.cs
Labels: area:skinning, ruleset:osu!, size/M

#9788 Make SkinnableSound an IAdjustableAudioComponent
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:skinning, size/M, type:audio

#9827 Update framework
  osu.Android.props
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9819 Always show newly presented overlay at front
  osu.Game/OsuGame.cs
Labels: area:overlays, size/XS, type:UI

#9826 Compensate for track playback rate when calculating spinner spin rate and completion
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerRotationTracker.cs
Labels: area:mods, ruleset:osu!, size/L

#9633 Fix keybind clear button always clearing first keybind regardless of target
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
Labels: area:settings, size/M, type:UI

#9818 Improve messaging when timeshift token retrieval fails
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
Labels: area:multiplayer, size/XS, type:UX

#9829 Fix crash when same ruleset loaded more than once
  osu.Game/Rulesets/RulesetStore.cs
Labels: size/XS, type:reliability

#9831 Fix informational overlays not hiding each other correctly
  osu.Game/OsuGame.cs
Labels: size/S, type:UI

#9837 Update framework and resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9840 Update fastlane and plugins
  Gemfile.lock
Labels: size/M

#9798 Implement news panels for future use in dashboard overlay
  osu.Game.Tests/Visual/Online/TestSceneHomeNewsPanel.cs
  osu.Game/Overlays/Dashboard/Home/HomePanel.cs
  osu.Game/Overlays/Dashboard/Home/News/FeaturedNewsItemPanel.cs
  osu.Game/Overlays/Dashboard/Home/News/NewsGroupItem.cs
  osu.Game/Overlays/Dashboard/Home/News/NewsItemGroupPanel.cs
  osu.Game/Overlays/Dashboard/Home/News/NewsTitleLink.cs
  osu.Game/Overlays/Dashboard/Home/News/ShowMoreNewsPanel.cs
  osu.Game/Overlays/News/NewsCard.cs
  osu.Game/Overlays/News/NewsPostBackground.cs
Labels: area:overlay-dashboard, size/XL

#9833 Fix Spun Out mod's spinning rate being dependent on rate-adjusting mods
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSpunOut.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game/Tests/Visual/ModTestScene.cs
Labels: area:mods, ruleset:osu!, size/L

#9843 Fix mod instances being shared between multiplayer playlist items
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: area:multiplayer, size/M

#9841 Adjust legacy skin spinners fade in time to match osu-stable
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#9839 Delay beatmap load until after PlayerLoader transition has finished
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/M, type:UX

#9848 Load menu backgrounds via LargeTextureStore to reduce memory usage
  osu.Game/Graphics/Backgrounds/BeatmapBackground.cs
Labels: size/XS, type:performance

#9793 Add more resilient logic for whether to avoid playing SkinnableSound on no volume
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: size/S, type:audio, type:code-quality

#9849 Fix beatmap covers not being unloaded in most overlays
  osu.Game/Beatmaps/Drawables/UpdateableBeatmapSetCover.cs
Labels: size/S, type:performance

#9853 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9867 Fix pause menu selection not resetting on visibility change
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
Labels: area:gameplay, size/M, type:UI

#9877 Adjust project description
  README.md
  osu.Desktop/osu.Desktop.csproj
  osu.Desktop/osu.nuspec
Labels: size/XS, type:documentation

#9878 Fix a couple of new Resharper inspections
  osu.Game/Screens/Menu/ButtonSystem.cs
Labels: size/XS, type:code-quality

#9884 Improve visibility of toolbar tooltips against bright backgrounds
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: size/XS, type:UI

#9869 Add support for SpinnerFrequencyModulate skin config option
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
Labels: area:skinning, ruleset:osu!, size/S

#9889 Add loading spinner while editor screen loads
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: size/S, type:UX

#9899 Show precise number tooltip of leaderboard score rank when 1000 or higher
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, size/M, type:UX

#9901 Add ability to skip cutscene with forward mouse button
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: area:gameplay, size/XS, type:input

#9897 Fix PlayerLoader test failures due to too many steps
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
Labels: size/XS, type:testing

#9902 Update mania scroll speed range to match stable
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
Labels: area:gameplay, ruleset:osu!mania, size/XS

#9905 Fix some judgements potentially giving non-zero score for misses
  osu.Game.Rulesets.Mania/Judgements/HoldNoteTickJudgement.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerBonusTick.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerTick.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, ruleset:osu!mania, size/M

#9891 Implement mania invert mod
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModInvert.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModInvert.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Rulesets/Mods/IApplicableAfterBeatmapConversion.cs
Labels: area:mods, ruleset:osu!mania, size/L

#9911 Fix toolbar not respecting current overlay activation mode
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: area:toolbar, size/M, type:UI

#9903 Implement mania hold note body recycling
  osu.Game.Rulesets.Mania/Edit/Blueprints/Components/EditBodyPiece.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/DefaultBodyPiece.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/IHoldNoteBody.cs
Labels: area:gameplay, ruleset:osu!mania, size/L, type:performance

#9906 Disable LegacyHitExplosion for hold notes
  osu.Game.Rulesets.Mania/Skinning/LegacyHitExplosion.cs
Labels: area:skinning, ruleset:osu!mania, size/XS

#9916 Update framework
  osu.Android.props
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#9768 Allow providing custom sprite text for RollingCounter<T>
  osu.Game.Tests/Visual/Gameplay/TestSceneScoreCounter.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchScoreDisplay.cs
  osu.Game/Graphics/UserInterface/PercentageCounter.cs
  osu.Game/Graphics/UserInterface/RollingCounter.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Graphics/UserInterface/SimpleComboCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/AccuracyStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/CounterStatistic.cs
  osu.Game/Screens/Ranking/Expanded/TotalScoreCounter.cs
Labels: area:skinning, size/L

#9925 Disable CA2225 warning regarding operator overloads
  .editorconfig
Labels: size/XS, type:code-quality

#9927 Force tournament client to run in windowed mode
  osu.Game.Tournament/TournamentGame.cs
Labels: area:tournament, size/XS

#9929 Fix catch not applying HR offset correctly
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/right-bound-hr-offset-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/right-bound-hr-offset.osu
Labels: area:beatmap, ruleset:osu!catch, size/M

#9926 Fix osu!catch playfield bounds not matching expectations
  osu.Game.Rulesets.Catch/UI/CatchPlayfieldAdjustmentContainer.cs
Labels: area:gameplay, ruleset:osu!catch, size/S

#9930 Remove release samples in invert mod
  osu.Game.Rulesets.Mania/Mods/ManiaModInvert.cs
Labels: area:mods, ruleset:osu!mania, size/XS

#9936 Fix multi screen test crashing
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiScreen.cs
Labels: area:multiplayer, size/XS, type:testing

#9933 Fix juice streams sometimes playing double hitsounds
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Droplet.cs
  osu.Game.Rulesets.Catch/Objects/Fruit.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/M, type:audio

#9931 Add hyper droplets
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DropletPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/FruitPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/Pieces/Pulp.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: area:gameplay, ruleset:osu!catch, size/L

#9959 Fix osu!catch relax mod
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModRelax.cs
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
Labels: area:mods, ruleset:osu!catch, size/M

#9950 Add "hp" filter keyword in song select search bar
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/S

#9932 Use full catcher width for hyperdash calculation
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#9969 Fix catch hyper dash colour defaults not being set correctly
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
Labels: area:skinning, ruleset:osu!catch, size/S

#9974 Fix fail graph crashes on some maps
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlaySuccessRate.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
  osu.Game/Screens/Select/Details/FailRetryGraph.cs
Labels: area:overlay-beatmap, area:song-select, size/M, type:crash

#9971 Fix legacy hit target being layered incorrectly
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageForeground.cs
  osu.Game.Rulesets.Mania/Beatmaps/StageDefinition.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponent.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitTarget.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageBackground.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/ColumnFlow.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#9977 Fix snapped distances potentially exceeding the source distance
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IPositionSnapProvider.cs
Labels: area:editor, size/S

#9981 Add component for displaying simple statistics on result screen
  osu.Game.Tests/Visual/Ranking/TestSceneSimpleStatisticRow.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticRow.cs
Labels: area:results, size/L, type:UI

#9976 Add support for custom LightingN paths
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/XS

#9979 Remove padding from columns
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: area:skinning, ruleset:osu!mania, size/XS

#9983 Implement mania "KeysUnderNotes" skin config
  osu.Game.Rulesets.Mania/Skinning/LegacyKeyArea.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/S

#9993 Fix some mania replays failing to import
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Resources/Replays/mania-replay.osr
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: area:replay, ruleset:osu!mania

#9994 Fix invalid accuracy calculation during replay decoding
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: area:replay, ruleset:osu!mania, size/M, size/S

#9984 Fix lingering small ring in circles! intro
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/Screens/Menu/IntroSequence.cs
Labels: area:intro, size/XS

#9988 Add basic hit unstable rate display to results screen
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Ranking/TestSceneSimpleStatisticTable.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticTable.cs
  osu.Game/Screens/Ranking/Statistics/StatisticContainer.cs
  osu.Game/Screens/Ranking/Statistics/StatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/UnstableRate.cs
Labels: area:results, ruleset:osu!, ruleset:osu!mania, ruleset:osu!taiko, size/L, type:UI

#9985 Add support for LightingL
  osu.Game.Rulesets.Mania.Tests/Skinning/ColumnTestContainer.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaHitObjectTestScene.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Skinning/HitTargetInsetContainer.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageBackground.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#9998 Reduce redundant difficulty re-calculations
  osu.Game.Tests/Beatmaps/BeatmapDifficultyManagerTest.cs
  osu.Game/Beatmaps/BeatmapDifficultyManager.cs
Labels: area:difficulty, size/M, type:performance

#9945 Exactly reproduce osu!stable skin colour alphas
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyFruitPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitTarget.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageBackground.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/LegacySliderBall.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyDrumRoll.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyHit.cs
  osu.Game.Tests/Resources/skin-zero-alpha-colour.ini
  osu.Game.Tests/Skins/LegacySkinDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Skinning/LegacyColourCompatibility.cs
Labels: area:skinning, size/L

#10010 Adjust old-style spinner alignment to be closer to stable
  osu.Game.Rulesets.Osu.Tests/Resources/metrics-skin/spinner-background@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/metrics-skin/spinner-circle@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/metrics-skin/spinner-metre@2x.png
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
Labels: area:skinning, ruleset:osu!

#10003 Add marker interface for beatmap skins
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Beatmaps/IWorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/DefaultBeatmapSkin.cs
  osu.Game/Skinning/IBeatmapSkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
Labels: area:skinning, size/M, type:code-quality

#10007 Fix replay download button always being disabled when initial score's replay is unavailable
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
Labels: area:results, size/M, type:UI

#10005 Add support for importing legacy mania replays with mirror mod
  osu.Game.Rulesets.Mania.Tests/ManiaLegacyModConversionTest.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game/Beatmaps/Legacy/LegacyMods.cs
Labels: area:replay, ruleset:osu!mania, size/XS

#10015 Hide misses from timing distribution graph
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: area:results, size/S

#10017 Fix first scroll wheel in editor incorrectly advancing twice
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XS, type:input

#10018 Fix counters not updating correctly immediately after unhiding HUD
  osu.Game/Graphics/UserInterface/PercentageCounter.cs
  osu.Game/Graphics/UserInterface/RollingCounter.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Graphics/UserInterface/SimpleComboCounter.cs
  osu.Game/Screens/Play/HUD/ComboResultCounter.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/AccuracyStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/CounterStatistic.cs
  osu.Game/Screens/Ranking/Expanded/TotalScoreCounter.cs
Labels: size/M, type:UI

#10021 Exclude misses and empty window hits from unstable rate calculations
  osu.Game.Tests/NonVisual/Ranking/UnstableRateTest.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/UnstableRate.cs
Labels: area:results, ruleset:osu!, ruleset:osu!mania, ruleset:osu!taiko, size/M
