Repository ppy/osu, pull requests merged in 2020-02, with the labels that each got.

#7695 Make use of ElementAtOrDefault() when possible
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: code quality, size/XS

#7709 Remove all usages of Bindable<float> and Bindable<double>
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableRepeatPoint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Tests/Visual/ScrollingTestContainer.cs
Labels: code quality, resolves issue, settings, size/M, song select

#7703 Apply precision when determining bar colour in difficulty statistics
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapDetails.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: mods, resolves issue, size/L, song select

#7704 Match osu-stable follow circle behaviour and size
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
Labels: gameplay, osu!, size/S

#7710 Adjust profile scores to closer match osu-web
  osu.Game/Overlays/Profile/Sections/ProfileItemContainer.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
Labels: size/S, user interface, user profile

#7655 Add placeholder for no comments case in CommentsContainer
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentsPage.cs
  osu.Game/Graphics/UserInterface/ShowMoreButton.cs
  osu.Game/Online/API/Requests/Responses/Comment.cs
  osu.Game/Online/API/Requests/Responses/CommentBundle.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsPage.cs
  osu.Game/Overlays/Comments/CommentsShowMoreButton.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: comments, size/M, user interface

#7668 Update profile recent activities in line with the web design
  osu.Game.Tests/Visual/Online/TestSceneHistoricalSection.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileRecentSection.cs
  osu.Game/Overlays/Profile/Sections/BeatmapMetadataContainer.cs
  osu.Game/Overlays/Profile/Sections/DrawableProfileRow.cs
  osu.Game/Overlays/Profile/Sections/Recent/DrawableRecentActivity.cs
  osu.Game/Overlays/Profile/Sections/Recent/MedalIcon.cs
  osu.Game/Overlays/Profile/Sections/Recent/PaginatedRecentActivityContainer.cs
Labels: overlays, size/L, user interface, user profile

#7686 Fix cosmetic issues in UserProfileOverlay
  osu.Game.Tests/Visual/Online/TestSceneRankGraph.cs
  osu.Game/Graphics/DrawableDate.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderButton.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: size/M, user interface, user profile

#7418 Implement OverlayRulesetSelector component
  osu.Game.Tests/Visual/Online/TestSceneProfileRulesetSelector.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayRulesetSelector.cs
  osu.Game/Overlays/OverlayRulesetSelector.cs
  osu.Game/Overlays/OverlayRulesetTabItem.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileRulesetSelector.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileRulesetTabItem.cs
Labels: design, overlays, size/L, user interface

#7682 Fix too many ticks being displayed on beatmaps with multiple timing sections
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: editor, resolves issue, size/XS

#7677 Decouple ModSelectOverlay from global SelectedMods
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: code quality, size/S, song select

#7678 Refactor performFromMenu to work with multiple screen targets
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
Labels: code quality, menu, size/L

#7679 Return to song select after viewing a replay from the leaderboard
  osu.Game/OsuGame.cs
Labels: resolves issue, size/XS, song select, ux

#7714 Make slider tracking match what is on screen
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
Labels: gameplay, osu!, size/S

#7692 Ensure OsuScreen leases are taken out synchronously
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneResults.cs
  osu.Game.Tests/Visual/Menus/IntroTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiHeader.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenBreadcrumbControl.cs
  osu.Game/Graphics/UserInterface/ScreenBreadcrumbControl.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/OsuScreenStack.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: reliability, size/L

#7716 Add ability to create ruleset selector in OverlayHeader
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
Labels: size/M

#7720 Fix potential nullref in UserDimBackgrounds tests
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
Labels: size/XS

#7707 Fix mod select overlay overflowing toolbar at max ui scale
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: resolves issue, size/M, song select

#7719 Update BeatmapOverlay header in line with the web design
  osu.Game.Tests/Visual/Online/TestSceneBeatmapRulesetSelector.cs
  osu.Game/Overlays/BeatmapSet/BeatmapRulesetSelector.cs
  osu.Game/Overlays/BeatmapSet/BeatmapRulesetTabItem.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeader.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/OverlayRulesetTabItem.cs
Labels: overlays, size/L, user interface

#7723 Expose TabControlOverlayHeader.Current value
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/NewsOverlay.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: code quality, overlays, size/M

#7488 Implement SpotlightSelector component for RankingsOverlay
  osu.Game.Tests/Visual/Online/TestSceneRankingsSpotlightSelector.cs
  osu.Game/Online/API/Requests/GetSpotlightsRequest.cs
  osu.Game/Online/API/Requests/Responses/APISpotlight.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
Labels: overlays, size/L, user interface

#7712 Fix key counter ignoring visibility setting on HUD visibility change
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Screens/Play/KeyCounterDisplay.cs
  osu.Game/Screens/Play/Player.cs
Labels: gameplay, resolves issue, size/M, user interface

#7721 Add {ScoreInfo,UserStatistics}.Accuracy
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Multi/Match/Components/MatchLeaderboardScore.cs
  osu.Game/Screens/Ranking/Results.cs
  osu.Game/Screens/Select/LocalScoreDeleteDialog.cs
  osu.Game/Users/UserStatistics.cs
  osu.Game/Utils/FormatUtils.cs
Labels: size/S, user interface

#7722 Update RankingsOverlay in line with the web design
  osu.Game.Tests/Visual/Online/TestSceneRankingsCountryFilter.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsDismissableFlag.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsHeaderTitle.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsRulesetSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsScopeSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsTables.cs
  osu.Game/Overlays/Rankings/CountryFilter.cs
  osu.Game/Overlays/Rankings/CountryPill.cs
  osu.Game/Overlays/Rankings/DismissableFlag.cs
  osu.Game/Overlays/Rankings/HeaderTitle.cs
  osu.Game/Overlays/Rankings/RankingsHeader.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/Rankings/RankingsRulesetSelector.cs
  osu.Game/Overlays/Rankings/RankingsScopeSelector.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Rankings/Tables/TableRowBackground.cs
  osu.Game/Overlays/RankingsOverlay.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: overlays, size/XL, user interface

#7724 Update BeatmapSetOverlay to match web design
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/Scores/DrawableTopScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTableRowBackground.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: size/L

#7725 Adjust TopScoreStatisticsSection to closer match web design
  osu.Game/Overlays/BeatmapSet/Scores/DrawableTopScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
Labels: overlays, size/M, user interface

#7726 Add API to get rankings data for selected spotlight
  osu.Game.Tests/Visual/Online/TestSceneRankingsTables.cs
  osu.Game/Online/API/Requests/GetSpotlightRankingsRequest.cs
  osu.Game/Online/API/Requests/GetSpotlightRankingsResponse.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
  osu.Game/Users/UserStatistics.cs
Labels: online / API, size/M

#7732 Make EditorBeatmap a drawable component
  osu.Game.Tests/Editor/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editor/TimelineTestScene.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: code quality, editor, size/M

#7739 Fix rooms test scene not displaying anything
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
Labels: size/M, testing

#7741 Simplify the way multiple subscreens handle their disable states via a custom stack
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Multi/MultiplayerSubScreenStack.cs
  osu.Game/Screens/OsuScreenStack.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: code quality, multiplayer, size/M

#7734 Add the ability to extend hold notes (spinners / sliders etc.) via timeline
  osu.Game.Rulesets.Catch/Objects/BananaShower.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
  osu.Game.Tests/Visual/Editor/TestSceneTimelineBlueprintContainer.cs
  osu.Game.Tests/Visual/Editor/TestSceneTimingScreen.cs
  osu.Game.Tests/Visual/Editor/TimelineTestScene.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Types/IHasEndTime.cs
  osu.Game/Rulesets/Objects/Types/IHasRepeats.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: editor, size/XL

#7740 Make multiplayer room listing filter by current ruleset
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Screens/Multi/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterCriteria.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
Labels: multiplayer, size/L

#7680 Reimplement music playlist using framework's RearrangeableListContainer
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestScenePlaylistOverlay.cs
  osu.Game/Overlays/Music/Playlist.cs
  osu.Game/Overlays/Music/PlaylistItem.cs
  osu.Game/Overlays/Music/PlaylistList.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: menu, size/XL

#7742 Set a sane default keyboard step for mod settings
  osu.Game/Configuration/SettingSourceAttribute.cs
Labels: size/XS, song select

#7728 Allow guest users to see the comments in CommentsContainer
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: comments, online / API, size/XS

#7747 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7745 Fix lifetime calculation in overlapping scroll algorithm
  osu.Game.Tests/ScrollAlgorithms/ConstantScrollTest.cs
  osu.Game.Tests/ScrollAlgorithms/OverlappingScrollTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneScrollingHitObjects.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/ConstantScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/IScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/OverlappingScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/SequentialScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Tests/Visual/ScrollingTestContainer.cs
Labels: gameplay, gameplay:osu!taiko, size/L

#7749 Fix incorrect distance snap grid being displayed when in selection mode
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: editor, size/XS

#7751 Fix duration snapping still being incorrect
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: editor, size/XS

#7750 Fix editor test scene exiting after loading
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: size/XS, testing

#7752 Update the windows platform offset to match stable
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: audio, size/XS

#7743 Make ScreenshotManager a Component
  osu.Game/Graphics/ScreenshotManager.cs
Labels: code quality, size/XS

#7746 Add support for reading skin frame rate from configuration file
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Menu/MenuSideFlashes.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/GlobalSkinColours.cs
  osu.Game/Skinning/GlobalSkinConfiguration.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: size/L, skinning

#7754 Make editor screens display below timeline
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: editor, size/M

#7755 Fix spinner placement blueprint in multiple ways
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/SpinnerPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: editor, size/M

#7758 Receive historical monthly user playcounts from API
  osu.Game/Users/User.cs
Labels: online / API, size/S

#7760 Fix beatmap overlay scoreboards having their statistics columns unsorted
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Ranking/Pages/ScoreResultsPage.cs
Labels: code quality, size/S, user interface

#7763 Make accuracy formatting more consistent
  osu.Game/Graphics/UserInterface/PercentageCounter.cs
  osu.Game/Screens/Play/Break/BreakInfoLine.cs
  osu.Game/Utils/FormatUtils.cs
Labels: code quality, size/S, user interface

#7766 Update default background dim to 80% to match stable
  osu.Game/Configuration/OsuConfigManager.cs
Labels: settings, size/XS

#7761 Make the caret blink to the beat
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
Labels: size/M, user interface

#7773 Improve mod settings tests
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
Labels: size/S, testing

#7776 Fix BeatSyncContainer failing at song select
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
Labels: size/S, song select

#7768 Minor cleanups for legacy beatmap decoders
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
Labels: beatmap parsing, performance, size/S

#7753 Show current placement blueprint in timeline
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCirclePlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/SpinnerPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/IPlacementHandler.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: editor, size/L

#7756 Seek to previous object's end time on successful placement
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: editor, size/L, ux

#7793 Fix potential crash when exiting game while entering song select
  osu.Game/OsuGame.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: size/XS, type:reliability

#7792 Fix InfoColumn minWidth implementation
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
Labels: size/M, type:UI

#7783 Bypass song select filter to show externally changed beatmap temporarily
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselItem.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M

#7730 Adjust minor BeatmapSetOverlay details to better match osu-web
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlayDetails.cs
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlaySuccessRate.cs
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardScopeSelector.cs
  osu.Game/Beatmaps/Drawables/BeatmapSetOnlineStatusPill.cs
  osu.Game/Graphics/UserInterface/GradientLineTabControl.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderDownloadButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/PreviewButton.cs
  osu.Game/Overlays/BeatmapSet/Details.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/LeaderboardScopeSelector.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTableRowBackground.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: area:overlay-beatmap, size/L, type:UI

#7733 Add spotlight selector to RankingsOverlay
  osu.Game.Tests/Visual/Online/TestSceneRankingsHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsSpotlightSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneSpotlightsLayout.cs
  osu.Game/Online/API/Requests/Responses/APISpotlight.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/Rankings/Spotlight.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
  osu.Game/Overlays/RankingsOverlay.cs
Labels: size/L, type:UI

#7780 Fix order and naming of Difficulty Adjust sliders
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: area:mods, size/M, type:UI

#7808 Disallow seeking on osu!direct download progress bars
  osu.Game/Overlays/Direct/DownloadProgressBar.cs
Labels: area:overlay-direct, size/XS, type:UI

#7803 Fix blueprint showing even when mouse outside of container
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/SpinnerPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/S, type:UX

#7811 Improve extensibility of mod display expansion
  osu.Game.Tests/Visual/UserInterface/TestSceneModDisplay.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: area:mods, size/M, type:UI

#7806 Add mouse down repeat support to timeline zoom buttons
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineButton.cs
Labels: area:editor, size/M, type:UX

#7812 Make playlist beatmap and ruleset into bindables
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapPanel.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchHeader.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchInfo.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSettingsOverlay.cs
  osu.Game/Online/Multiplayer/PlaylistItem.cs
  osu.Game/Screens/Multi/Components/BeatmapTitle.cs
  osu.Game/Screens/Multi/Components/BeatmapTypeInfo.cs
  osu.Game/Screens/Multi/Components/ModeTypeInfo.cs
  osu.Game/Screens/Multi/Components/MultiplayerBackgroundSprite.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/Multi/Match/Components/Header.cs
  osu.Game/Screens/Multi/Match/Components/Info.cs
  osu.Game/Screens/Multi/Match/Components/MatchBeatmapPanel.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: area:multiplayer, size/L, type:code-quality

#7784 Fix disposal-related errors by making WorkingBeatmap non-disposable
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/L, type:crash

#7813 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7816 Add missing null-allowance to leaderboard
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, size/XS, type:code-quality

#7815 Make room participants into a bindable list
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchParticipants.cs
  osu.Game/Online/Multiplayer/Room.cs
  osu.Game/Screens/Multi/Match/Components/Participants.cs
  osu.Game/Screens/Multi/MultiplayerComposite.cs
  osu.Game/Users/UserPanel.cs
Labels: area:multiplayer, size/M, type:code-quality

#7814 Remove the concept of a "current" item from multiplayer rooms
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapPanel.cs
  osu.Game/Online/Multiplayer/PlaylistItem.cs
  osu.Game/Online/Multiplayer/Room.cs
  osu.Game/Screens/Multi/Components/BeatmapTitle.cs
  osu.Game/Screens/Multi/Components/BeatmapTypeInfo.cs
  osu.Game/Screens/Multi/Components/ModeTypeInfo.cs
  osu.Game/Screens/Multi/Components/MultiplayerBackgroundSprite.cs
  osu.Game/Screens/Multi/Match/Components/Header.cs
  osu.Game/Screens/Multi/Match/Components/Info.cs
  osu.Game/Screens/Multi/Match/Components/MatchBeatmapPanel.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Multi/MultiplayerComposite.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: area:multiplayer, size/L, type:code-quality

#7805 Update placement blueprint's position more often
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/L, type:UX

#7800 Fix editor hit objects displaying incorrectly after StartTime change
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:editor, size/XS, type:UI

#7827 Use Span for OsuColour.FromHex
  osu.Game/Graphics/OsuColour.cs
Labels: size/M, type:code-quality

#7546 Add a container type to easily hide online content when not online
  osu.Game.Tests/Visual/Online/TestSceneOnlineViewContainer.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/OnlineViewContainer.cs
  osu.Game/Online/Placeholders/LoginPlaceholder.cs
Labels: size/L, type:UI

#7807 Fix not being able to seek using scroll wheel in timeline while playing track
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, size/S, type:UX

#7828 Fix osu! gameplay cursor not adjusting to mod/convert circle size changes
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
  osu.Game/Screens/Play/GameplayBeatmap.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/L

#7832 Make beatmap detail area abstract
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Select/BeatmapDetailArea.cs
  osu.Game/Screens/Select/BeatmapDetailAreaDetailTabItem.cs
  osu.Game/Screens/Select/BeatmapDetailAreaLeaderboardTabItem.cs
  osu.Game/Screens/Select/BeatmapDetailAreaTabControl.cs
  osu.Game/Screens/Select/BeatmapDetailAreaTabItem.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
  osu.Game/Screens/Select/PlayBeatmapDetailArea.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/L, type:UI

#7830 Fix relax mod not working correctly on beatmaps with overlapping sliders/spinners
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: area:mods, size/M

#7835 Improve PlayerLoader code quality
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/XL, type:code-quality

#7836 Fix player loading sequence continuing even when a priority overlay is visible
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/XL, type:UX

#7829 Implement a rearrangeable beatmap playlist control
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Graphics/Containers/OsuRearrangeableListContainer.cs
  osu.Game/Graphics/Containers/OsuRearrangeableListItem.cs
  osu.Game/Overlays/Direct/PanelDownloadButton.cs
  osu.Game/Overlays/Music/Playlist.cs
  osu.Game/Overlays/Music/PlaylistItem.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylist.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
Labels: area:multiplayer, size/XL, type:UI

#7831 Add a key up delay for relax mod presses
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
  osu.Game/Rulesets/Replays/AutoGenerator.cs
Labels: area:mods, size/L, type:UX

#7833 Implement the match beatmap detail area
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSongSelect.cs
  osu.Game/Screens/Multi/Components/BeatmapDetailAreaPlaylistTabItem.cs
  osu.Game/Screens/Multi/Components/MatchBeatmapDetailArea.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: area:multiplayer, size/XXL, type:UI

#7834 Add the ability to select multiple beatmaps in multiplayer song select
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSongSelect.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: area:multiplayer, type:UI

#7844 Fix DownloadTrackingComposite incorrectly receiving cancelled state
  osu.Game/Database/DownloadableArchiveModelManager.cs
Labels: area:overlay-beatmap, size/XS, type:UI

#7837 Use Resolved attribute instead of BackgroundDependencyLoader wherever possible
  osu.Game/Audio/PreviewTrackManager.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/Graphics/UserInterface/DownloadButton.cs
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/Online/DownloadTrackingComposite.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/AccountCreation/ScreenWarning.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Direct/PlayButton.cs
  osu.Game/Overlays/DirectOverlay.cs
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Screens/Multi/Ranking/Pages/RoomLeaderboardPage.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Skinning/SkinnableSound.cs
  osu.Game/Updater/SimpleUpdateManager.cs
Labels: size/L

#7839 Redesign match subscreen to add playlist support
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapPanel.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchHeader.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchHostInfo.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchInfo.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchLeaderboardChatDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchParticipants.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedParticipants.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneParticipantsList.cs
  osu.Game/Online/Multiplayer/Room.cs
  osu.Game/Screens/Multi/Components/ParticipantsList.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomInspector.cs
  osu.Game/Screens/Multi/Match/Components/Footer.cs
  osu.Game/Screens/Multi/Match/Components/Header.cs
  osu.Game/Screens/Multi/Match/Components/HeaderButton.cs
  osu.Game/Screens/Multi/Match/Components/HostInfo.cs
  osu.Game/Screens/Multi/Match/Components/Info.cs
  osu.Game/Screens/Multi/Match/Components/LeaderboardChatDisplay.cs
  osu.Game/Screens/Multi/Match/Components/MatchBeatmapPanel.cs
  osu.Game/Screens/Multi/Match/Components/MatchPage.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Multi/Match/Components/MatchTabControl.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedDisplay.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedParticipants.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedPlaylist.cs
  osu.Game/Screens/Multi/Match/Components/Participants.cs
  osu.Game/Screens/Multi/Match/Components/ReadyButton.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
Labels: area:multiplayer, size/XXL, type:UI

#7841 Update inspectcode version and fix new issues
  build/InspectCode.cake
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
Labels: size/M, type:code-quality

#7846 Adjust user profile score to closer match web
  osu.Game.Tests/Visual/Online/TestSceneUserProfileScores.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
Labels: area:overlay-user-profile, size/L, type:UI

#7855 Fix transform mod not being applied correctly
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
Labels: area:mods, size/M

#7856 Fix visible error being thrown when playing a no-video beatmap
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
Labels: area:gameplay, size/XS

#7848 Replace hashcode override with local equality comparer
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Online/Multiplayer/PlaylistItem.cs
  osu.Game/Online/Multiplayer/Room.cs
Labels: area:multiplayer, size/M, type:crash

#7861 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7866 Use OverlayColourProvider for CounterPill in profile overlay
  osu.Game.Tests/Visual/Online/TestSceneProfileCounterPill.cs
  osu.Game/Overlays/Profile/Sections/CounterPill.cs
Labels: area:overlay-user-profile, size/S, type:UI

#7872 Fix possible error in SpotlightsLayout after it's disposal
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
Labels: area:overlay-rankings, size/XS, type:reliability

#7876 Fix playlist items added with the wrong IDs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSongSelect.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
Labels: area:multiplayer, size/S

#7868 Update readme with local changelog and project management link
  README.md
Labels: size/XS

#7885 Restructure readme to better define prerequisites that are required for development only
  README.md
Labels: size/S

#7858 Implement BeatmapSearchFilter component
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapSearchFilter.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Graphics/UserInterface/OsuTabDropdown.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchRulesetFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchSmallFilterRow.cs
  osu.Game/Rulesets/RulesetInfo.cs
Labels: area:overlay-direct, size/L, type:UI

#7864 Implement BeatmapListingSortTabControl component
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentsHeader.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSort.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSortTabControl.cs
  osu.Game/Overlays/Comments/CommentsHeader.cs
  osu.Game/Overlays/Comments/SortTabControl.cs
  osu.Game/Overlays/OverlaySortTabControl.cs
Labels: size/L

#7870 Move SkinnableTestScene to main project for consumption by other rulesets
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, size/XS, type:testing

#7871 Show skinnable test skin names and autosized component sizes
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, size/M, type:testing

#7889 Fix ogg beatmap/skin samples not loading
  osu.Game.Tests/Resources/Archives/ogg-beatmap.osz
  osu.Game.Tests/Resources/Archives/ogg-skin.osk
  osu.Game.Tests/Skins/TestSceneBeatmapSkinResources.cs
  osu.Game.Tests/Skins/TestSceneSkinResources.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:gameplay, type:audio

#7888 Fix osu!catch fruit exploding/dropping multiple timed is skin is changed during explode animation
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#7820 Update design of username and country name in RankingsOverlay
  osu.Game/Overlays/Rankings/Tables/CountriesTable.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
Labels: area:overlay-rankings, size/S, type:UI

#7874 Update with framework-side bindable list changes
  osu.Android.props
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardModSelector.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Multi/Components/BeatmapTitle.cs
  osu.Game/Screens/Multi/Components/BeatmapTypeInfo.cs
  osu.Game/Screens/Multi/Components/ModeTypeInfo.cs
  osu.Game/Screens/Multi/Components/MultiplayerBackgroundSprite.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylist.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L, type:reliability

#7891 Fix playlist items potentially not updating to the correct selected state
  osu.Game/Overlays/Music/PlaylistItem.cs
Labels: area:music-controller, size/S

#7892 Implement BeatmapListingSearchSection component
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchSection.cs
  osu.Game/Graphics/UserInterface/SearchTextBox.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchSection.cs
Labels: size/L

#7893 Various RankingsOverlay fixes
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/RankingsOverlay.cs
Labels: size/M

#7875 Fix music playlist being enumerated asynchronously
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: area:overlay-nowplaying, size/M, type:crash

#7912 Implement BeatmapListingOverlay
  osu.Android.props
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsResponse.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingHeader.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchSection.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSortTabControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/Direct/FilterControl.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlay-direct, size/L, type:UI

#7918 Add missing test banana resources
  osu.Game.Rulesets.Catch.Tests/Resources/old-skin/fruit-bananas-overlay.png
  osu.Game.Rulesets.Catch.Tests/Resources/old-skin/fruit-bananas.png
Labels: ruleset:osu!catch, type:testing

#7917 Fix possible test failures due to async loads
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
Labels: area:multiplayer, size/M, type:testing

#7913 Highlight max combo on beatmap leaderboards
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
Labels: area:overlay-beatmap, size/S, type:UI

#7910 Make country names in RankingsOverlay clickable
  osu.Game.Tests/Visual/Online/TestSceneRankingsOverlay.cs
  osu.Game/Overlays/Rankings/Tables/CountriesTable.cs
Labels: area:overlay-rankings, size/M, type:UI

#7897 Fix indices in beatmap not being transferred to children
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
Labels: area:gameplay, size/XS

#7919 Support null leaderboard position
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Online/API/Requests/Responses/APILegacyScores.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/DrawableTopScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
Labels: area:song-select, size/M, type:UI

#7896 Move DrawableHitObject accent colour update duties to ruleset
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/S

#7898 Fix osu!catch not cycling fruit as often as it should be
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
Labels: area:gameplay, ruleset:osu!catch, size/S

#7899 Refactor overlined displays to support different sizing modes
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedParticipants.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedPlaylist.cs
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Screens/Multi/Components/OverlinedDisplay.cs
  osu.Game/Screens/Multi/Components/OverlinedParticipants.cs
  osu.Game/Screens/Multi/Components/OverlinedPlaylist.cs
  osu.Game/Screens/Multi/Components/ParticipantsList.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomInspector.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedParticipants.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
Labels: area:multiplayer, size/L, type:UI

#7909 Add a global multiplayer background header
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/Multi/MultiplayerSubScreen.cs
Labels: area:multiplayer, size/L, type:UI

#7900 Update the multiplayer room inspector design
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomInfo.cs
  osu.Game/Screens/Multi/Components/ParticipantsList.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomInfo.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomInspector.cs
Labels: area:multiplayer, type:UI

#7921 Improve consistency of buttons in multiplayer
  osu.Game/Screens/Multi/Components/MatchBeatmapDetailArea.cs
  osu.Game/Screens/Multi/Match/Components/Footer.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Multi/Match/Components/PurpleTriangleButton.cs
  osu.Game/Screens/Multi/Match/Components/ReadyButton.cs
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: area:multiplayer, size/M, type:UI

#7922 Improve visual appearance of ProcessingOverlay
  osu.Game.Tests/Visual/UserInterface/TestSceneProcessingOverlay.cs
  osu.Game/Graphics/UserInterface/ProcessingOverlay.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
Labels: size/XL, type:UI

#7779 Add tooltips with precise dates to beatmap set overlay
  osu.Game/Graphics/DrawableDate.cs
  osu.Game/Overlays/BeatmapSet/AuthorInfo.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
Labels: size/S, type:UX

#7863 Adjust font sizes and spacing in BeatmapSetOverlay to match osu-web values
  osu.Game/Beatmaps/Drawables/UpdateableBeatmapSetCover.cs
  osu.Game/Overlays/BeatmapSet/AuthorInfo.cs
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderDownloadButton.cs
  osu.Game/Overlays/BeatmapSet/Details.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/LeaderboardScopeSelector.cs
  osu.Game/Overlays/BeatmapSet/Scores/DrawableTopScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/NotSupporterPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTableRowBackground.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
  osu.Game/Screens/Select/Details/UserRatings.cs
Labels: area:overlay-beatmap, size/L, type:UI

#7809 Allow selecting/playing a specific difficulty using the beatmapset difficulty icons
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/S, type:UX

#7881 Implement osu!catch fruit skinning support
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/CatchSkinComponents.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableJuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/DrawableTinyDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/FruitPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawable/Pieces/Pulp.cs
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:skinning, ruleset:osu!catch, size/XL

#7873 Make osu!mania's TestSceneDrawableJudgement use shared SkinnableTestScene
  osu.Game.Rulesets.Mania.Tests/SkinnableTestScene.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneDrawableJudgement.cs
Labels: area:skinning, size/M, type:testing

#7902 Rename drawable namespace to avoid clashes with framework class
  osu.Game.Rulesets.Catch.Tests/TestSceneBananaShower.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBananaShower.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableJuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableTinyDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/FruitPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/Pieces/Pulp.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
Labels: size/XL, type:code-quality

#7901 Add osu!catch droplet rotation animation
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
Labels: area:gameplay, ruleset:osu!catch, size/XL

#7911 Split out pulp formations into individual classes
  osu.Game.Rulesets.Catch/Objects/Drawables/BananaPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/FruitPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/GrapePiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/PearPiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/PineapplePiece.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/PulpFormation.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/RaspberryPiece.cs
Labels: ruleset:osu!catch, size/XXL, type:code-quality

#7795 Implement CommentEditor component
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentEditor.cs
  osu.Game/Overlays/Comments/CancellableCommentEditor.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
Labels: area:comments, size/L, type:UI

#7935 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7817 Make RankingsOverlay available in-game
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/RankingsOverlay.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarRankingsButton.cs
Labels: area:overlay-rankings, size/M, type:UI

#7931 Use a single implementation for all loading animations
  osu.Game.Tests/Visual/Online/TestSceneOnlineViewContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneRankingsTables.cs
  osu.Game.Tests/Visual/Online/TestSceneUserRequest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneLoadingLayer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneLoadingSpinner.cs
  osu.Game/Graphics/UserInterface/DimmedLoadingLayer.cs
  osu.Game/Graphics/UserInterface/LoadingAnimation.cs
  osu.Game/Graphics/UserInterface/LoadingButton.cs
  osu.Game/Graphics/UserInterface/LoadingLayer.cs
  osu.Game/Graphics/UserInterface/LoadingSpinner.cs
  osu.Game/Graphics/UserInterface/ProcessingOverlay.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/OnlineViewContainer.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/BeatmapSet/Buttons/FavouriteButton.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Direct/PlayButton.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
  osu.Game/Overlays/RankingsOverlay.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Overlays/SocialOverlay.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/Multi/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: size/XL, type:UI

#7936 Add simple updater support for linux AppImages
  osu.Game/Updater/SimpleUpdateManager.cs
Labels: area:installer, platform:linux, size/XS

#7932 Use new loading layer in beatmap listing overlay
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: area:overlay-beatmap, size/XL, type:UI

#7934 Add explosion effect when catching fruit
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/L

#7933 Add fill to default skin slider ball when tracking
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
Labels: area:gameplay, ruleset:osu!, size/S

#7786 Add ability to load long comment trees in CommentsContainer
  osu.Game.Tests/Visual/Online/TestSceneCommentsPage.cs
  osu.Game/Online/API/Requests/GetCommentsRequest.cs
  osu.Game/Online/API/Requests/Responses/Comment.cs
  osu.Game/Online/API/Requests/Responses/CommentBundle.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsPage.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/GetCommentRepliesButton.cs
  osu.Game/Overlays/Comments/ShowChildrenButton.cs
Labels: area:comments, size/XL

#7930 Add CommentsContainer to ChangelogOverlay
  osu.Game/Overlays/Changelog/ChangelogContent.cs
  osu.Game/Overlays/Changelog/ChangelogSingleBuild.cs
Labels: size/S

#7950 Fix regressed direct panel test scene
  osu.Game.Tests/Visual/Online/TestSceneDirectPanel.cs
Labels: area:overlay-direct, size/S, type:testing

#7961 Rework issue templates
  .github/ISSUE_TEMPLATE/00-mobile-issues.md
  .github/ISSUE_TEMPLATE/01-bug-issues.md
  .github/ISSUE_TEMPLATE/02-crash-issues.md
  README.md
Labels: size/S

#7967 Reduce hit error display performance overhead
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: area:gameplay, size/M, type:performance

#7968 Improve gameplay performance via follow point renderer optimisations
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointRenderer.cs
  osu.Game/Graphics/UserInterface/LoadingLayer.cs
  osu.Game/Graphics/UserInterface/LoadingSpinner.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
Labels: area:gameplay, size/M, type:performance

#7982 Fix potential crash when clicking on show more button in comments
  osu.Game.Tests/Visual/Online/TestSceneCommentsPage.cs
  osu.Game/Overlays/Comments/CommentsPage.cs
Labels: area:comments, size/XS, type:crash

#7989 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#7974 Fix bar lines in osu!taiko and osu!mania not correctly being cleaned up
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Taiko/Objects/BarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLine.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/L, type:performance
