Repository ppy/osu, pull requests merged in 2020-07, with the labels that each got.

#9381 Fix incorrect sample list slicing in mania conversion algorithm
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapSampleConversionTest.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples.osu
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/mania-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/slider-convert-samples-expected-conversion.json
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/slider-convert-samples.osu
Labels: area:beatmap, ruleset:osu!mania, size/M, type:audio

#9414 Fix notification redirecting to the old log folder when game installation has been migrated to another location
  osu.Game/OsuGame.cs
Labels: area:overlay-notifications, size/XS

#9393 Improve quality of song select beatmap wedge
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/XS, type:UI

#9403 Fix scroll container height on smaller ui scales
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/M, type:UI

#9419 Expose transform helpers in SkinnableSound
  osu.Game/Skinning/SkinnableSound.cs
Labels: size/M, type:code-quality

#9422 Fix avatar in score panel being unclickable when statistics panel is visible
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/S, type:UX

#9409 Improve performance of sequential scrolling algorithm
  osu.Game/Rulesets/UI/Scrolling/Algorithms/SequentialScrollAlgorithm.cs
Labels: ruleset:osu!mania, size/L, type:performance

#9417 Update with framework-side storage creation changes
  .idea/.idea.osu.Desktop/.idea/modules.xml
  osu.Android.props
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:storage, size/M

#9420 Fix "welcome" intro test failure due to no wait logic
  osu.Game.Tests/Visual/Menus/TestSceneIntroWelcome.cs
Labels: size/S, type:testing

#9421 Standardise osu!catch coordinate system to 0..512
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchStacker.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneJuiceStream.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Difficulty/Preprocessing/CatchDifficultyHitObject.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/Replays/CatchReplayFrame.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfieldAdjustmentContainer.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap, ruleset:osu!catch, size/L, type:code-quality

#9424 Fix score panel not showing silver rank badges on hidden and flashlight plays
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
Labels: area:results, size/M, type:UI

#9432 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9434 Replace further spinner transforms with manual lerp
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: area:gameplay, ruleset:osu!, size/XS, type:performance

#9435 Implement support for custom file paths for remaining mania elements
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/stage-left.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/stage-right.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/skin.ini
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania

#9418 Fix possible startup error when using custom directory
  osu.Game/IO/OsuStorage.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Screens/Menu/ConfirmExitDialog.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/StorageErrorDialog.cs
Labels: area:storage, size/L

#9440 Disable activity hardware acceleration on Android
  osu.Android/OsuGameActivity.cs
Labels: platform:android, size/XS, type:performance

#9372 Slightly adjust match/multiplayer designs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchLeaderboardChatDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game/Screens/Multi/Components/OverlinedDisplay.cs
  osu.Game/Screens/Multi/Components/ParticipantsList.cs
  osu.Game/Screens/Multi/Header.cs
  osu.Game/Screens/Multi/Match/Components/Footer.cs
  osu.Game/Screens/Multi/Match/Components/Header.cs
  osu.Game/Screens/Multi/Match/Components/LeaderboardChatDisplay.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedChatDisplay.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedLeaderboard.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
Labels: area:multiplayer, size/L, type:UI

#9427 Fix crash when changing streams in changelog
  osu.Android.props
  osu.Game/Graphics/UserInterface/BreadcrumbControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlay-changelog, size/S, type:UI

#9445 Fix seeding numbers being unreadable due to design changes
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
Labels: area:tournament, size/XS

#9450 Fix key bindings switching order at random on consecutive "reset to defaults"
  osu.Game/Input/KeyBindingStore.cs
Labels: area:settings, size/XS

#9437 Implement NewsCard component for NewsOverlay
  osu.Game.Tests/Visual/Online/TestSceneNewsCard.cs
  osu.Game/Graphics/DateTooltip.cs
  osu.Game/Graphics/DrawableDate.cs
  osu.Game/Online/API/Requests/Responses/APINewsPost.cs
  osu.Game/Overlays/News/NewsCard.cs
Labels: area:overlay-news, size/L

#9454 Remove slider tail circle judgement requirements
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
Labels: area:gameplay, ruleset:osu!, size/S

#9466 Fix multi header title not aligning correctly when changing screens
  osu.Game/Screens/Multi/Header.cs
Labels: area:multiplayer, size/S, type:UI

#9467 Replace poo icon at disclaimer screen
  osu.Game/Screens/Menu/Disclaimer.cs
Labels: size/XS, type:UI

#9469 Clean up song select filter control UI
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/L, type:UI

#9470 Dispose beatmap lookup task scheduler
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
Labels: size/XS, type:testing

#9474 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9447 Make toolbar opaque
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: size/S, type:UI

#9464 Fix spinner spinning in the wrong direction
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerDisc.cs
Labels: area:gameplay, ruleset:osu!, size/M

#9475 Remove unused search container in lounge
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
Labels: area:multiplayer, size/S, type:code-quality

#9477 Change multiplayer tests to have null room by default
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomInfo.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchHeader.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedParticipants.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneParticipantsList.cs
  osu.Game/Tests/Visual/MultiplayerTestScene.cs
Labels: size/M, type:code-quality, type:testing

#9476 Scroll selected room into view on selection
  osu.Game.Tests/Visual/Multiplayer/RoomManagerTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestRoomManager.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeSubScreen.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
Labels: area:multiplayer, size/L, type:UX

#9471 Ensure directories are deleted before migration tests run
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
Labels: size/L, type:testing

#9478 Add keyboard selection to multiplayer lounge
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Online/Multiplayer/Room.cs
  osu.Game/Overlays/SearchableList/SearchableListFilterControl.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
Labels: area:multiplayer, size/L, type:UX

#9489 Add dynamic compilation exclusion rules for ruleset types
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
Labels: size/XS, type:testing

#9490 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9448 Remove nesting of components inside overlined component
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedParticipants.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneOverlinedPlaylist.cs
  osu.Game/Screens/Multi/Components/OverlinedDisplay.cs
  osu.Game/Screens/Multi/Components/OverlinedHeader.cs
  osu.Game/Screens/Multi/Components/OverlinedPlaylist.cs
  osu.Game/Screens/Multi/Components/ParticipantsDisplay.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylist.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomInspector.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedChatDisplay.cs
  osu.Game/Screens/Multi/Match/Components/OverlinedLeaderboard.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
Labels: area:multiplayer, size/L, type:code-quality

#9488 Make default skin cursor more visible against bright backgrounds
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
Labels: area:gameplay, ruleset:osu!, size/L

#9216 Fix password text boxes having distinguishable key sounds
  osu.Game.Tests/Visual/UserInterface/TestSceneNumberBox.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuTextBox.cs
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
Labels: size/L, type:UI

#9491 Implement multiplayer categories
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeFilterControl.cs
  osu.Game/Online/API/Requests/GetRoomsRequest.cs
  osu.Game/Overlays/SearchableList/DisplayStyleControl.cs
  osu.Game/Overlays/SearchableList/SearchableListFilterControl.cs
  osu.Game/Overlays/SocialOverlay.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterControl.cs
  osu.Game/Screens/Multi/Lounge/Components/FilterCriteria.cs
  osu.Game/Screens/Multi/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/Multi/RoomManager.cs
Labels: area:multiplayer, size/L

#9495 Add tooltips to download buttons
  osu.Game/Graphics/UserInterface/DownloadButton.cs
  osu.Game/Overlays/BeatmapListing/Panels/BeatmapPanelDownloadButton.cs
Labels: size/XS, type:UI

#9494 Replace large "show results" button with embedded button each playlist item
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistWithResults.cs
  osu.Game/Screens/Multi/Match/MatchSubScreen.cs
Labels: area:multiplayer, size/L, type:UI

#9492 Ensure music playing when returning to lounge or main menu
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Multi/Lounge/LoungeSubScreen.cs
Labels: area:main menu, size/M, type:UX

#9431 Add pooling support for osu! hit judgements
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: area:gameplay, size/L, type:performance

#9497 Fix null reference if hit lighting is disabled
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
Labels: size/XS

#9499 Fix one more nullref
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
Labels: size/S

#9528 Fix HP drain around bonus judgements and catch bananas
  osu.Game.Rulesets.Catch/Judgements/CatchBananaJudgement.cs
  osu.Game.Tests/Gameplay/TestSceneDrainingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#9530 Clean up HitEvents after use to avoid near-permanent memory retention
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: size/XS, type:performance

#9534 Fix color and underline of tab control checkboxes when initially checked
  osu.Game/Graphics/UserInterface/OsuTabControlCheckbox.cs
Labels: area:song-select, size/S, type:UI

#9514 Fix room name overflowing on multiplayer lounge
  osu.Game/Screens/Multi/Lounge/Components/RoomInfo.cs
Labels: area:multiplayer, size/S, type:UI

#9542 Implement RankingsSortTabControl component
  osu.Game.Tests/Visual/UserInterface/TestSceneRankingsSortTabControl.cs
  osu.Game/Overlays/Comments/CommentsHeader.cs
  osu.Game/Overlays/OverlaySortTabControl.cs
  osu.Game/Overlays/Rankings/RankingsSortTabControl.cs
Labels: size/M

#9536 Add ability to select mods from a specific score in song select
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, size/M

#9543 Only allow link clicking and tooltips of multi room drawables when selected
  osu.Game/Screens/Multi/Lounge/Components/DrawableRoom.cs
Labels: area:multiplayer, size/XS, type:UX

#9517 Add notifications keybinding
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/OsuGame.cs
Labels: area:overlay-notifications, size/XS, type:UX

#9544 Fix potential crash when trying to ensure music is playing
  osu.Game/Overlays/MusicController.cs
Labels: size/XS, type:reliability

#9539 Fix correct filter criteria not being applied to beatmap carousel if beatmaps take too long to load
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/M, type:reliability

#9545 Fix judgement animations not resetting on re-use
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Skinning/SkinnableDrawable.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, size/M

#9426 Add welcome background to the main menu
  osu.Android.props
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:main menu, size/S

#9555 Fix local online cache database not being used when offline / logged out
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
Labels: area:database, size/XS

#9558 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9557 Fix some web requests retrieving the user too early
  osu.Game.Tests/Online/TestDummyAPIRequestHandling.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/Requests/JoinChannelRequest.cs
  osu.Game/Online/API/Requests/JoinRoomRequest.cs
  osu.Game/Online/API/Requests/LeaveChannelRequest.cs
  osu.Game/Online/API/Requests/PartRoomRequest.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Screens/Multi/RoomManager.cs
Labels: size/M, type:network

#9553 Change difficulty adjust mod to match stable range of 0-10
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: area:mods, size/XS

#8802 Allow user to always play first combo break sound regardless of lost combo count
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Play/ComboEffects.cs
Labels: area:gameplay, proposal, size/S, type:audio

#9540 Allow pausing gameplay via middle mouse button
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
Labels: area:gameplay, size/XS, type:input

#9559 Fix certain overlays and screens blocking home and alt-f4
  osu.Game/OsuGame.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/Multi/Multiplayer.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/M, type:UX

#9564 Fix back button not glowing when closing mod select with escape
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: area:song-select, size/XS, type:UI

#9568 Fix single-frame glitch in SS grade display animation
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankText.cs
Labels: area:results, size/S

#9563 Add filtering by friends to spotlights in RankingsOverlay
  osu.Game.Tests/Visual/Online/TestSceneRankingsTables.cs
  osu.Game/Online/API/Requests/GetSpotlightRankingsRequest.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
Labels: area:overlay-rankings, size/L, type:UI

#9522 Update comment buttons to match web
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentRepliesButton.cs
  osu.Game/Overlays/Comments/Buttons/CommentRepliesButton.cs
  osu.Game/Overlays/Comments/Buttons/LoadRepliesButton.cs
  osu.Game/Overlays/Comments/Buttons/ShowRepliesButton.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: area:comments, size/L, type:UI

#9566 Add ability to seek replays/auto with arrow keys
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game/Screens/Play/SongProgressBar.cs
Labels: area:replay, size/S, type:UX

#9570 Fix catch hiding entire streams instead of contained fruits
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchModHidden.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:mods, ruleset:osu!catch, size/M

#9366 Replace the video in the triangles intro with a shader animation
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneHueAnimation.cs
  osu.Game/Graphics/Sprites/HueAnimation.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:intro, size/L

#9567 Use Noto-Thai font
  osu.Game/OsuGameBase.cs
Labels: size/XS

#9573 Apply adjustments to bring taiko conversions in-line with stable
  osu.Game.Rulesets.Taiko.Tests/TaikoBeatmapConversionTest.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-conversion-v14-expected-conversion.json
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-conversion-v14.osu
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-conversion-v6-expected-conversion.json
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-conversion-v6.osu
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: area:difficulty, ruleset:osu!taiko, size/XL

#9580 Fix chat name backgrounds not dimming
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: area:overlay-chat, size/S, type:UI

#9579 Fix storyboard video playback when not starting at beginning of beatmap
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
Labels: area:storyboard, size/XS

#9571 Fix mod selection not working with base types
  osu.Game.Rulesets.Mania/Mods/ManiaModFadeIn.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSection.cs
Labels: area:mods, ruleset:osu!mania, size/M

#9578 Adjust taiko and mania to be more accuracy than combo-based
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, ruleset:osu!mania, ruleset:osu!taiko, size/M

#9572 Fix osu!catch dropping fruit appearing above the plate instead of behind
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#9587 Ensure nUnit runs with correct CurrentDirectory
  osu.sln.DotSettings
Labels: size/XS, type:testing

#9588 Fix timing screen test crashing due to missing dependency
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
Labels: area:editor, size/XS, type:testing

#9556 Disable osu!catch hit "explosion" when hit lighting is turned off
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: area:gameplay, ruleset:osu!catch, size/M

#9590 Fix reversing scroll direction not always behaving as expected
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeekSnapping.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/M, type:UX

#9591 Fix editor double-click incorrectly firing when clicks target different hitobjects
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/S

#9592 Add texture wrapping support to skinning, fix taiko and mania
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyNotePiece.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyDrumRoll.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/IAnimationTimeReference.cs
  osu.Game/Skinning/ISkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, ruleset:osu!mania, ruleset:osu!taiko, size/M

#9538 Implement "Fade In" and "Hidden" mod for osu!mania
  osu.Game.Rulesets.Mania.Tests/TestScenePlayfieldCoveringContainer.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFadeIn.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHidden.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/HitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/PlayfieldCoveringWrapper.cs
Labels: area:mods, ruleset:osu!mania, size/L

#9593 Show count of selected objects in selection box
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M

#9614 Fix hard crash on notifications firing before NotificationOverlay is ready
  osu.Game/OsuGame.cs
Labels: size/S, type:reliability

#9603 Use static instances in all fallback ControlPoint lookups to reduce allocations
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
Labels: size/M, type:performance

#9626 Marginally improve spinner visuals
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerBackground.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerTicks.cs
Labels: area:gameplay, ruleset:osu!, size/L

#9611 Remove SocialOverlay component as never being used
  osu.Game.Tests/Visual/Online/TestSceneSocialOverlay.cs
  osu.Game/Overlays/Social/FilterControl.cs
  osu.Game/Overlays/Social/Header.cs
  osu.Game/Overlays/SocialOverlay.cs
Labels: area:overlay-social, size/L, type:code-quality

#9627 Fix hold notes accepting presses during release lenience
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: area:gameplay, ruleset:osu!mania, size/M, type:input

#9631 Fix focused textbox absorbing input when unfocused
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
Labels: area:song-select, size/XS, type:input

#9610 Implement brick friends view for DashboardOverlay
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/OverlayPanelDisplayStyleControl.cs
  osu.Game/Overlays/Settings/Sections/General/LoginSettings.cs
  osu.Game/Users/ExtendedUserPanel.cs
  osu.Game/Users/UserBrickPanel.cs
  osu.Game/Users/UserGridPanel.cs
  osu.Game/Users/UserListPanel.cs
  osu.Game/Users/UserPanel.cs
Labels: area:overlay-dashboard, size/L

#9641 Fix SpotlightSelector is a VisibilityContainer without a reason
  osu.Game.Tests/Visual/Online/TestSceneRankingsSpotlightSelector.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
Labels: area:overlay-rankings, size/L, type:code-quality

#9612 Input handler updates in line with framework changes
  osu.Android.props
  osu.Game.Rulesets.Catch/Replays/CatchFramedReplayInputHandler.cs
  osu.Game.Rulesets.Mania/Replays/ManiaFramedReplayInputHandler.cs
  osu.Game.Rulesets.Osu/Replays/OsuFramedReplayInputHandler.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoFramedReplayInputHandler.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecording.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#9649 Hide slider repeat judgements temporarily
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#9645 Fix SkinnableSounds not continuing playback on skin change
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:gameplay, size/XS

#9650 Re-namespace multiplayer requests and responses
  osu.Game.Tests/Visual/Multiplayer/TestSceneTimeshiftResultsScreen.cs
  osu.Game/Online/Multiplayer/APICreatedRoom.cs
  osu.Game/Online/Multiplayer/APIPlaylistBeatmap.cs
  osu.Game/Online/Multiplayer/APIScoreToken.cs
  osu.Game/Online/Multiplayer/CreateRoomRequest.cs
  osu.Game/Online/Multiplayer/CreateRoomScoreRequest.cs
  osu.Game/Online/Multiplayer/GetRoomPlaylistScoresRequest.cs
  osu.Game/Online/Multiplayer/GetRoomRequest.cs
  osu.Game/Online/Multiplayer/GetRoomScoresRequest.cs
  osu.Game/Online/Multiplayer/GetRoomsRequest.cs
  osu.Game/Online/Multiplayer/JoinRoomRequest.cs
  osu.Game/Online/Multiplayer/MultiplayerScore.cs
  osu.Game/Online/Multiplayer/PartRoomRequest.cs
  osu.Game/Online/Multiplayer/SubmitRoomScoreRequest.cs
  osu.Game/Screens/Multi/Match/Components/MatchLeaderboard.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
  osu.Game/Screens/Multi/Ranking/TimeshiftResultsScreen.cs
  osu.Game/Screens/Multi/RoomManager.cs
Labels: area:multiplayer, size/M, type:code-quality

#9648 Fix slider ball rotation being applied to follow circle and specular layer
  osu.Game.Rulesets.Osu.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/LegacySliderBall.cs
Labels: area:gameplay, ruleset:osu!, size/M

#9642 Add user cover background to expanded version of score panel
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: area:results, size/S

#9635 Make perfect mod ignore all non-combo-affecting hitobjects
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModPerfect.cs
  osu.Game.Rulesets.Catch/Mods/CatchModPerfect.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoSuddenDeath.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoDrumRollJudgement.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoSwellJudgement.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
Labels: area:gameplay, size/S

#9639 Make content side padding adjustable for OverlayHeader
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: size/M, type:UI

#9646 Add slider "sliding" sample support
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, ruleset:osu!, size/M

#9656 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9613 Reduce memory allocations in MenuCursorContainer
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
Labels: size/S, type:performance

#9661 Limit notification text length to avoid large error messages degrading performance
  osu.Game/OsuGame.cs
Labels: size/XS, type:performance

#9662 Increase screenshot quality when using JPEG setting
  osu.Game/Graphics/ScreenshotManager.cs
Labels: area:settings, size/XS

#9637 Add dynamic computation of beatmap difficulty
  osu.Game/Beatmaps/BeatmapDifficultyManager.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: area:beatmap, size/L

#9439 Add ability to disable the Windows keys while in gameplay
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Windows/GameplayWinKeyBlocker.cs
  osu.Desktop/Windows/WindowsKey.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
Labels: platform:windows, size/L, type:input

#9663 Fix inconsistency between this and osu-performance
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
Labels: area:difficulty, ruleset:osu!catch, size/XS

#9664 Load nested hitobjects during map load
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: area:gameplay, size/M, type:performance

#5782 Implement gaining bonus scores from spinning a spinner
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerBonusTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerBonusDisplay.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerBonusTick.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerTick.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGeneratorBase.cs
Labels: area:gameplay, size/L

#9672 Add support for taiko mascot animation sprites without a frame index
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/pippidonclear.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/pippidonfail.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/pippidonidle.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/pippidonkiai.png
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/UI/TaikoMascotAnimation.cs
Labels: area:skinning, ruleset:osu!taiko

#9681 Add lifetime constraints to taiko input drum samples
  osu.Game.Rulesets.Taiko/Audio/DrumSampleContainer.cs
  osu.Game.Rulesets.Taiko/Audio/DrumSampleMapping.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:replay, ruleset:osu!taiko, size/L, type:performance

#9652 Use greyscale instead of hue for the logo animation
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneLogoAnimation.cs
  osu.Game/Graphics/Sprites/LogoAnimation.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:intro, size/M

#9686 Fix incorrect default hitcircle font overlapping applied to legacy skins
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
Labels: area:skinning, ruleset:osu!, size/XS

#9697 Fix potential crash due to cross-thread TrackVirtualManual.Stop
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/XS, type:testing

#9695 Fix hit lighting setting not having any effect if toggled during gameplay
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: area:skinning, ruleset:osu!, size/L

#9688 Reduce spinner tick and bonus score
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerBonusDisplay.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerBonusTick.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerTick.cs
Labels: area:scoring, ruleset:osu!, size/S

#9274 Add background loop at pause menu
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:gameplay, size/M

#9696 Comments container visual improvements
  osu.Game/Overlays/Comments/Buttons/ChevronButton.cs
  osu.Game/Overlays/Comments/Buttons/CommentRepliesButton.cs
  osu.Game/Overlays/Comments/Buttons/ShowMoreButton.cs
  osu.Game/Overlays/Comments/DeletedCommentsCounter.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/ShowChildrenButton.cs
Labels: area:comments, size/L

#9604 Remove remaining per-Update transform in OsuLogo to reduce allocations
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: size/XS, type:performance

#9699 Fix Autopilot mod incompatibility with WindUp/WindDown
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
Labels: area:mods, ruleset:osu!, size/XS

#9687 Fix looping sounds playing even when paused
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:gameplay, size/L

#9702 Adjust mania scoring to be 95% based on accuracy
  osu.Game.Rulesets.Mania/Judgements/ManiaJudgement.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
Labels: area:scoring, ruleset:osu!mania, size/XS

#9595 Add slider to the grow/deflate mod
  osu.Game.Rulesets.Osu/Mods/OsuModDeflate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModGrow.cs
  osu.Game.Rulesets.Osu/Mods/OsuModObjectScaleTween.cs
Labels: area:mods, size/S

#9700 Display low health fading effect vertically rather than horizontally
  osu.Game/Screens/Play/HUD/FailingLayer.cs
Labels: area:gameplay, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, size/S, type:UI

#9710 Update comments container footer in line with web
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: size/S

#9713 Add pooling for mania judgements
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: area:gameplay, ruleset:osu!mania, size/S, type:performance

#9711 Add pooling for mania hit explosions
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/IHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/PoolableHitExplosion.cs
Labels: area:gameplay, ruleset:osu!mania, size/L, type:performance

#9718 Update "show more" button in line with web
  osu.Game.Tests/Visual/Online/TestSceneShowMoreButton.cs
  osu.Game/Graphics/UserInterface/ShowMoreButton.cs
  osu.Game/Overlays/Comments/Buttons/CommentRepliesButton.cs
  osu.Game/Overlays/Comments/Buttons/ShowMoreRepliesButton.cs
  osu.Game/Overlays/Comments/CommentsShowMoreButton.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Profile/Sections/PaginatedContainer.cs
  osu.Game/Overlays/Profile/Sections/ProfileShowMoreButton.cs
Labels: size/L, type:UI

#9722 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#9704 Delay loading of cover backgrounds in score panels
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Users/UserCoverBackground.cs
  osu.Game/Users/UserPanel.cs
Labels: area:results, size/M, type:UX

#9725 Fix dynamic compilation loading wrong ruleset versions
  osu.Game/Rulesets/RulesetStore.cs
Labels: size/S, type:testing

#9723 Add osu!catch banana catching sounds
  osu.Android.props
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/BananaShower.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, ruleset:osu!catch, size/M

#9709 Include executable hash when submitting multiplayer scores
  osu.Game/Online/Multiplayer/CreateRoomScoreRequest.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Multi/Play/TimeshiftPlayer.cs
Labels: size/S, type:network

#9729 Ignore custom sample bank when performing sample lookups from user skin
  osu.Game.Rulesets.Taiko.Tests/Resources/SampleLookups/taiko-hitobject-beatmap-custom-sample-bank.osu
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoHitObjectSamples.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L, type:audio

#9731 Fix next track starting occasionally starting before previous one is paused
  osu.Game/Overlays/MusicController.cs
Labels: size/S, type:reliability

#9735 Add score position to timeshift results screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneTimeshiftResultsScreen.cs
  osu.Game/Online/Multiplayer/MultiplayerScore.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Multi/Ranking/TimeshiftResultsScreen.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelTopContent.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Tests/TestScoreInfo.cs
Labels: area:multiplayer, size/M

#9719 Add spinner skinning support
  osu.Game.Rulesets.Osu.Tests/OsuSkinnableTestScene.cs
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-approachcircle.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-background.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-circle.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-clear.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-metre.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-osu.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinner-spin.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinnerbonus.wav
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/spinnerspin.wav
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerFill.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerRotationTracker.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SpinnerBackgroundLayer.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SpinnerCentreLayer.cs
  osu.Game.Rulesets.Osu/OsuSkinComponents.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
Labels: area:skinning, ruleset:osu!

#9724 Add spinner spin sample support
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SpinnerRotationTracker.cs
Labels: area:gameplay, ruleset:osu!, size/M
