Repository ppy/osu, pull requests merged in 2020-04, with the labels that each got.

#8524 Add mania hold note skinning
  osu.Game.Rulesets.Mania/Edit/Blueprints/Components/EditBodyPiece.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponent.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/DefaultBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#8527 Refactor mania skin elements to make them use a consistent style
  osu.Game.Rulesets.Mania.Tests/ManiaColumnTypeTest.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ColumnTestContainer.cs
  osu.Game.Rulesets.Mania/Beatmaps/ColumnType.cs
  osu.Game.Rulesets.Mania/Beatmaps/StageDefinition.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitTarget.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyManiaColumnElement.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyManiaElement.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyNotePiece.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/ManiaStage.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: size/L

#8536 Implement column width/spacing
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStage.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/ManiaStage.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#8538 Fix barlines scrolling at different speeds in legacy skins
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/Components/HitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/ManiaStage.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#8537 Fix column lights positioned incorrectly
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/S

#8544 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8541 Fix incorrect explosion position on default skin
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
Labels: area:skinning, ruleset:osu!mania, size/XS

#8535 Add check to detect whether mania is skinned
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: size/S

#8555 Add startAtCurrentTime parameter to GetAnimation()
  osu.Game/Skinning/IAnimationTimeReference.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: area:skinning, size/S

#8562 Allow hold note tail to fallback to normal note image
  osu.Game.Rulesets.Mania/Skinning/LegacyHoldNoteHeadPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHoldNoteTailPiece.cs
Labels: size/XS

#8566 Fix crash caused by user json order changing
  osu.Game/Users/User.cs
Labels: size/S, type:network

#8568 Fix weird slider ball sizing
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/sliderb0.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/sliderb0@2x.png
  osu.Game.Rulesets.Osu/Skinning/LegacySliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
Labels: area:gameplay, ruleset:osu!

#8570 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8564 Fix hold note animation not being reset
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaHitObjectTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaSkinnableTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHoldNote.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
Labels: area:skinning, ruleset:osu!mania, size/M

#8563 Expand mania to fit vertical screen bounds
  osu.Game.Rulesets.Mania/UI/ManiaPlayfieldAdjustmentContainer.cs
  osu.Game.Rulesets.Mania/UI/ManiaStage.cs
Labels: ruleset:osu!mania, size/M

#8565 Add skinning support for column line colour
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Tests/Resources/mania-skin-colours.ini
  osu.Game.Tests/Skins/LegacyManiaSkinDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/M

#8584 Fix GetDecoder getting fallback decoder too often
  osu.Game.Tests/Beatmaps/Formats/OsuJsonDecoderTest.cs
  osu.Game/Beatmaps/Formats/Decoder.cs
Labels: size/S

#8598 Add osu!taiko drum skinning support
  osu.Android.props
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/taiko-bar-left@2x.png
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/taiko-drum-inner@2x.png
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/taiko-drum-outer@2x.png
  osu.Game.Rulesets.Taiko.Tests/TestSceneInputDrum.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:skinning, ruleset:osu!taiko

#8590 Fix dynamic recompilation in intro test scenes
  osu.Game.Tests/Visual/Menus/IntroTestScene.cs
Labels: size/XS, type:testing

#8592 Update usages of Animation and Video in line with framework changes
  .idea/.idea.osu.Desktop/.idea/projectSettingsUpdater.xml
  osu.Android.props
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitExplosion.cs
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#8586 Rework mania skin lookups to not require total playfield columns
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneKeyArea.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestScenePlayfield.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponent.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyManiaElement.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaSkinConfigurationLookup.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/Components/HitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/ManiaStage.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, ruleset:osu!mania, size/L

#8589 Fix mania scrolling at incorrect speeds
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
Labels: area:gameplay, ruleset:osu!mania, size/M

#8597 Implement more familiar scroll speed options in mania
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
Labels: ruleset:osu!mania, size/M

#8602 Support HitCircleOverlayAboveNumer typo for old legacy skins
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
Labels: area:skinning, ruleset:osu!, size/XS

#8489 Write a test for slider snaking
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
Labels: area:gameplay, size/L, type:testing

#8641 Fix performance when parsing mania skins
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
Labels: area:skinning, ruleset:osu!mania, size/XS

#8644 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8613 Make legacy skins use startAtCurrentTime by default
  osu.Game.Rulesets.Mania/Skinning/LegacyHitExplosion.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPoint.cs
  osu.Game.Rulesets.Osu/Skinning/OsuLegacySkinTransformer.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: area:skinning, size/XS

#8630 Add a simple constructor for BreakPeriod
  osu.Game.Tests/Visual/Gameplay/TestSceneBreakTracker.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Timing/BreakPeriod.cs
Labels: size/M

#8624 Fix results star rating display not being centered when no mods are present
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: area:results, size/M, type:UI

#8619 Fix sliderball accent colour not being set correctly
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: area:skinning, ruleset:osu!, size/XS

#8648 Fix storyboard videos being offset incorrectly
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
Labels: area:storyboard, size/XS

#8650 Fix SkinnableTestScene losing test resources on dynamic recompilation
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: size/XS, type:testing

#8643 Make version-less skins fallback to version 1.0
  osu.Game.Tests/Skins/LegacySkinDecoderTest.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinDecoder.cs
Labels: area:skinning, size/L

#8660 Retrieve dll resources using a more reliable method
  osu.Android.props
  osu.Game/Tests/Visual/SkinnableTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS, type:testing

#8652 Make note height scale by minimum column width
  osu.Game.Rulesets.Mania/Skinning/LegacyNotePiece.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/S

#8653 Fix inconsistent scroll speeds in mania
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
Labels: area:gameplay, ruleset:osu!mania, size/XS

#8642 Implement mania note + key image configs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinResourceStore.cs
Labels: area:skinning, ruleset:osu!mania, size/M

#8656 Add per-ruleset skinnable test scenes to correct dynamic compilation cases
  osu.Game.Rulesets.Catch.Tests/CatchSkinnableTestScene.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaSkinnableTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu.Tests/OsuSkinnableTestScene.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoSkinnableTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneInputDrum.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, size/L, type:testing

#8657 Implement mania judgement line/column background/column light colours
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyHitTarget.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania, size/M

#8671 Fix Exit Confirmation "Goodbye" Spelling
  osu.Game/Screens/Menu/MainMenu.cs
Labels: size/XS, type:localisation

#8669 Fix legacy skin texture fallback logic
  osu.Game.Tests/NonVisual/Skinning/LegacySkinTextureFallbackTest.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L

#8674 Increase size of default osu!mania skin's keys to allow clearance with HUD
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStage.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneStage.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/DefaultKeyArea.cs
  osu.Game.Rulesets.Mania/UI/Components/HitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: ruleset:osu!mania, size/L, type:UX

#8673 Fix dragging tournament ladder too far causing it to disappear
  osu.Game.Tournament/Screens/Ladder/LadderDragContainer.cs
Labels: area:tournament, size/XS

#8679 Fix TestSceneColumn columns not getting a width
  osu.Game.Rulesets.Mania.Tests/TestSceneColumn.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
Labels: ruleset:osu!mania, size/XS, type:testing

#8680 Fix slider ball and follow circle blending for legacy skins
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/ReverseArrowPiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/SliderBall.cs
Labels: area:skinning, ruleset:osu!, size/XS

#8681 Fix osu!taiko input drum alignment for old skin versions
  osu.Game.Rulesets.Taiko.Tests/Resources/old-skin/skin.ini
  osu.Game.Rulesets.Taiko.Tests/Resources/old-skin/taiko-bar-left.png
  osu.Game.Rulesets.Taiko.Tests/Resources/old-skin/taiko-drum-inner.png
  osu.Game.Rulesets.Taiko.Tests/Resources/old-skin/taiko-drum-outer.png
  osu.Game.Rulesets.Taiko/Skinning/LegacyInputDrum.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
Labels: area:skinning, ruleset:osu!taiko

#8677 Fix hidden notes due to 0 minimum width
  osu.Game.Tests/Resources/mania-skin-zero-minwidth.ini
  osu.Game.Tests/Skins/LegacyManiaSkinDecoderTest.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
Labels: area:skinning, ruleset:osu!mania, size/S

#8626 Don't allow new transformations for reverse arrow after it's hit
  osu.Game.Rulesets.Osu/Objects/Drawables/Pieces/ReverseArrowPiece.cs
Labels: area:gameplay, ruleset:osu!, size/S

#7639 Add top rank to the beatmap carousel
  osu.Game/Online/Leaderboards/UpdateableRank.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
Labels: area:song-select, size/M, type:UI

#8676 Implement mania stage bottom/left/right images
  osu.Game.Rulesets.Mania.Tests/Resources/metrics-skin/mania-key1@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/metrics-skin/mania-stage-bottom@2x.png
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaSkinnableTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageForeground.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponent.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyStageForeground.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/Components/DefaultStageBackground.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania

#8454 Update overlay header elements to match osu-web
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Graphics/UserInterface/ScreenTitle.cs
  osu.Game/Graphics/UserInterface/ScreenTitleTextureIcon.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingHeader.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeader.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/OverlayRulesetSelector.cs
  osu.Game/Overlays/OverlayRulesetTabItem.cs
  osu.Game/Overlays/OverlayTabControl.cs
  osu.Game/Overlays/OverlayTitle.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Screens/Multi/Header.cs
Labels: size/XL, type:UI

#8694 Fix possible legacy beatmap encoder nullref
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap, size/XS

#8695 Fix crash when trying to edit long beatmaps
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/XS, type:crash

#8693 Cleanup handling of hitobject updates
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Tests/Beatmaps/TestSceneEditorBeatmap.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: area:editor, size/M, type:code-quality

#8703 Fix EditorBeatmap potentially not updating hitobjects
  osu.Game.Tests/Beatmaps/TestSceneEditorBeatmap.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: area:editor, size/M

#8712 Update framework
  osu.Android.props
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
  osu.Game/Overlays/Music/CollectionsDropdown.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8337 Block out-of-order judgements from occurring (aka "note lock")
  osu.Game.Rulesets.Osu.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderHeadCircle.cs
  osu.Game.Rulesets.Osu/UI/OrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: area:gameplay, ruleset:osu!, size/XL

#8733 Remove unused changelog comments class
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game/Overlays/Changelog/Comments.cs
Labels: size/M, type:code-quality

#8731 Make beatmap info overlay present selected difficulty
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/Direct/PanelDownloadButton.cs
Labels: area:overlay-beatmap, size/S, type:UX

#8471 Implement OverlayScrollContainer component
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayScrollContainer.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
Labels: size/L, type:UI

#8699 Add stereo shifted hitsound playback support
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/M, type:audio

#8696 Add undo/redo support to the Editor
  osu.Game.Tests/Editor/LegacyEditorBeatmapPatcherTest.cs
  osu.Game.Tests/Visual/Editor/TestSceneEditorChangeStates.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
  osu.Game/Screens/Edit/IEditorChangeHandler.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:editor, size/XL

#8737 Fix connections hidden due to overlapping controlpoints
  osu.Game.Rulesets.Osu.Tests/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointConnectionPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: area:editor, ruleset:osu!, size/L

#8697 Add change state support to more Editor components
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/XL

#8740 Use OverlayScrollContainer for overlays
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Overlays/NewsOverlay.cs
  osu.Game/Overlays/RankingsOverlay.cs
  osu.Game/Overlays/SearchableList/SearchableListOverlay.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: size/M, type:UX

#8741 Limit upper number of editor beatmap states saved to 50
  osu.Game.Tests/Editor/EditorChangeHandlerTest.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
Labels: area:editor, size/M

#8736 Rework slider control point placement to improve path progression
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointConnectionPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: area:editor, ruleset:osu!, size/L

#8750 Fix scoring in classic mode not awarding exact numerical value for judgement
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, size/M

#8716 Implement "prefer no-video" option
  osu.Game.Tests/Visual/Online/TestSceneDirectDownloadButton.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Direct/PanelDownloadButton.cs
  osu.Game/Overlays/Settings/Sections/Online/WebSettings.cs
  osu.Game/Screens/Multi/DrawableRoomPlaylistItem.cs
Labels: area:settings, size/S, type:network

#8751 Fix beatmap background not displaying when video is present
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/XS

#8714 Add support for testing arbitrary API requests/responses via Dummy API
  osu.Game.Tests/Online/TestDummyAPIRequestHandling.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/DummyAPIAccess.cs
Labels: size/L, type:testing

#8444 Make beatmap carousel select recommended difficulties
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Screens/Select/DifficultyRecommender.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/L

#8752 Mark dummy api test scene as headless
  osu.Game.Tests/Online/TestDummyAPIRequestHandling.cs
Labels: type:testing

#8312 Fade playfield to red when player health is low
  osu.Game.Tests/Visual/Gameplay/TestSceneFailingLayer.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/HUD/FailingLayer.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/M

#8761 Fix typo in DrawableTaikoHitObject
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
Labels: size/XS

#8755 Fix osu!mania replays actuating incorrect keys when multiple stages are involved
  osu.Game.Rulesets.Mania.Tests/ManiaLegacyReplayTest.cs
  osu.Game.Rulesets.Mania/Replays/ManiaReplayFrame.cs
Labels: area:replay, ruleset:osu!mania, size/L

#8756 Fix 0 custom sample bank not falling back to user skin
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game.Tests/Resources/SampleLookups/controlpoint-beatmap-custom-sample.osu
  osu.Game.Tests/Resources/SampleLookups/controlpoint-beatmap-sample.osu
  osu.Game.Tests/Resources/SampleLookups/controlpoint-skin-sample.osu
  osu.Game.Tests/Resources/SampleLookups/file-beatmap-sample.osu
  osu.Game.Tests/Resources/SampleLookups/hitobject-beatmap-custom-sample-override.osu
  osu.Game.Tests/Resources/SampleLookups/hitobject-beatmap-custom-sample.osu
  osu.Game.Tests/Resources/SampleLookups/hitobject-beatmap-sample.osu
  osu.Game.Tests/Resources/SampleLookups/hitobject-skin-sample.osu
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: area:gameplay, size/L, type:audio

#8768 Hide edit context menu item in multiplayer song select
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:multiplayer, size/M, type:UX

#8764 Disable undo/redo menu items when they can't be performed
  osu.Game.Tests/Editor/EditorChangeHandlerTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuMenu.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
Labels: area:editor, size/L, type:UI

#8781 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8672 Adjust TimingControlPoint equivalency
  osu.Game.Tests/NonVisual/ControlPointInfoTest.cs
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
Labels: area:beatmap, size/M

#8446 Add support for custom hyper-dash legacy fruit colouring
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/FruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/CatchSkinColour.cs
  osu.Game.Rulesets.Catch/Skinning/LegacyFruitPiece.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Skinning/LegacySkinDecoder.cs
Labels: area:skinning, ruleset:osu!catch, size/L

#8777 Fix slider heads not being blocked when hit out-of-order
  osu.Game.Rulesets.Osu.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/UI/OrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: area:gameplay, ruleset:osu!, size/L

#8808 Fix typo in exception
  osu.Game.Rulesets.Osu/UI/OrderedHitPolicy.cs
Labels: size/XS, type:code-quality

#8806 Fix DatabasedKeyBindingContainer not using defaults for non-databased ruleset
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyBindings.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
Labels: size/L, type:testing

#8801 Add /np (now playing) command support in chat
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Chat/IChannelPostTarget.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Online/PollingComponent.cs
Labels: area:overlay-chat, size/L

#8788 Fix hard crash in editor on legacy modes without encoder implementation
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:editor, size/S

#8779 Fix presenting new ruleset and beatmap at once causing wedge display desync
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M

#8769 Fix spinners being considered the "first object" for increased visibility in hidden
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
Labels: area:mods, ruleset:osu!, size/L

#8771 Replace SocialOverlay with DashboardOverlay
  osu.Game.Tests/Visual/Online/TestSceneDashboardOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/TestSceneOsuGame.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/OverlayView.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
  osu.Game/Overlays/Toolbar/ToolbarSocialButton.cs
Labels: area:overlay-social, size/L, type:UI

#8810 Fix inline executions of APIRequest.Perform not getting result populated early enough
  osu.Game/Online/API/APIRequest.cs
Labels: size/M, type:network

#8728 Let beatmap carousel scroll to screen middle
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/S, type:UI

#8809 Allow 10k to be played on a single stage
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/DualStageVariantGenerator.cs
  osu.Game.Rulesets.Mania/ManiaInputManager.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModKey10.cs
  osu.Game.Rulesets.Mania/SingleStageVariantGenerator.cs
  osu.Game.Rulesets.Mania/VariantMappingGenerator.cs
Labels: area:gameplay, ruleset:osu!mania, size/L

#8766 Add taiko drumroll skinning support
  osu.Game.Rulesets.Taiko.Tests/Skinning/TaikoSkinnableTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHit.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneInputDrum.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableCentreHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableRimHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwellTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/Pieces/CirclePiece.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/Pieces/ElongatedCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyDrumRoll.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyHit.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Tests/Visual/ScrollingTestContainer.cs
Labels: area:skinning, ruleset:osu!taiko, size/L

#8800 Fix results screen pushed after rewinding in-between push delay
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneSwellJudgements.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneCompletionCancellation.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
  osu.Game/Screens/Play/BreakTracker.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Tests/Visual/ModPerfectTestScene.cs
Labels: area:results, size/L

#8814 Don't serialise AllControlPoints
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
Labels: size/XS, type:code-quality

#8772 Fix carousel not correctly updating when selection changes to a new beatmap from a child screen
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/XS

#8815 Fix control point overriding working incorrectly
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap, size/M

#7924 Implement sorting by genre and language in BeatmapListingOverlay
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSortTabControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapSearchFilter.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchSmallFilterRow.cs
  osu.Game/Overlays/BeatmapListing/SearchCategory.cs
  osu.Game/Overlays/BeatmapListing/SearchGenre.cs
  osu.Game/Overlays/BeatmapListing/SearchLanguage.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/Direct/FilterControl.cs
  osu.Game/Overlays/DirectOverlay.cs
  osu.Game/Utils/OrderAttribute.cs
Labels: area:overlay-direct, size/XL, type:UI

#8822 Implement ColumnLineWidth skinning
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania-key1@2x.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/skin.ini
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/LegacyColumnBackground.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, ruleset:osu!mania

#8824 Add support for taiko hit target skinning
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/approachcircle@2x.png
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/taikobigcircle@2x.png
  osu.Game.Rulesets.Taiko.Tests/Resources/old-skin/approachcircle.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/approachcircle.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/taikobigcircle@2x.png
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoPlayfield.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyHitTarget.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/HitTarget.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: area:skinning, ruleset:osu!taiko

#8819 Fix relax replays playing back incorrectly
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: area:mods, size/M

#8820 Fix BeatmapListingOverlay not taking focus
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: area:overlay-beatmap-listing, size/S

#8825 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#8828 Fix beatmap string output having empty brackets when pieces are missing
  osu.Game.Tests/Beatmaps/ToStringFormattingTest.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
Labels: size/M, type:UX

#8607 Load user rulesets from the game data directory
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/RulesetStore.cs
Labels: size/M

#8818 Fix beatmap encoder by enabling untested test cases
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Resources/hitobject-combo-offset.osu
  osu.Game.Tests/Resources/sample-beatmap-osu.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/IO/Serialization/Converters/TypedListConverter.cs
Labels: area:beatmap, size/L

#8830 Add static internal catcher calculation methods for CatchDifficultyCalculator
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: size/M

#8832 Use platform bindings for editor actions
  osu.Game.Tests/Visual/Editor/TestSceneEditorChangeStates.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, type:input

#8833 Remove obsolete nested hitobject methods
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/M, type:code-quality

#8849 Rename editor tests namespace from "Editor" to "Editing"
  osu.Game.Tests/Editing/EditorChangeHandlerTest.cs
  osu.Game.Tests/Editing/LegacyEditorBeatmapPatcherTest.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneBeatDivisorControl.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeScreen.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorChangeStates.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorComposeRadioButtons.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorMenuBar.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeekSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSummaryTimeline.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestScenePlaybackControl.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimelineBlueprintContainer.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimelineTickDisplay.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game.Tests/Visual/Editing/TestSceneWaveform.cs
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game.Tests/Visual/Editing/TimelineTestScene.cs
Labels: size/M, type:code-quality

#8834 Fix TestBeatmap not setting appropriate ruleset ID
  osu.Game.Tests/Visual/Editing/TestSceneEditorChangeStates.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: size/M, type:testing

#8856 Fix editor crashing when entering with no beatmap selected
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/S

#8842 Make osu! ruleset placements happen on mouse down
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCirclePlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
Labels: area:editor, ruleset:osu!, size/M

#8843 Fix mania editor placement not working correctly
  osu.Game.Rulesets.Mania.Tests/ManiaPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaPlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/NotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/Pieces/DefaultBodyPiece.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Tests/Visual/ScrollingTestContainer.cs
Labels: area:editor, ruleset:osu!mania, size/M

#8823 Implement legacy beatmap encoding for all rulesets
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/EndTimeObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game.Rulesets.Mania/Objects/ManiaHitObject.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Tests/Resources/sample-beatmap-catch.osu
  osu.Game.Tests/Resources/sample-beatmap-mania.osu
  osu.Game.Tests/Resources/sample-beatmap-taiko.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap, ruleset:osu!catch, ruleset:osu!mania, ruleset:osu!taiko, size/L

#8858 Fix crash on switching comments page at an inopportune time
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: area:comments, size/XS, type:reliability

#8846 Refactor osu!taiko playfield and add background skinning support
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/taiko-bar-right@2x.png
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoPlayfield.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyHitTarget.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacyHitTarget.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game.Rulesets.Taiko/UI/PlayfieldBackgroundLeft.cs
  osu.Game.Rulesets.Taiko/UI/PlayfieldBackgroundRight.cs
  osu.Game.Rulesets.Taiko/UI/TaikoHitTarget.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: area:skinning, ruleset:osu!taiko, size/L

#8862 Fix null reference while hiding toolbar on tests
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: size/XS

#8863 Fix ruleset selector not receiving key input on toolbar absence
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: size/M

#8864 Fix custom rulesets not showing correct icons in key binding settings
  osu.Game/Overlays/KeyBinding/GlobalKeyBindingsSection.cs
  osu.Game/Overlays/KeyBinding/RulesetBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/AudioSection.cs
  osu.Game/Overlays/Settings/Sections/DebugSection.cs
  osu.Game/Overlays/Settings/Sections/GameplaySection.cs
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
  osu.Game/Overlays/Settings/Sections/GraphicsSection.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
  osu.Game/Overlays/Settings/Sections/MaintenanceSection.cs
  osu.Game/Overlays/Settings/Sections/OnlineSection.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/Settings/SidebarButton.cs
Labels: area:settings, size/M, type:UI

#8859 Add background video for the Showcase Scene to the tournament client
  osu.Game.Tournament/Components/SongBar.cs
  osu.Game.Tournament/Screens/Showcase/ShowcaseScreen.cs
Labels: area:tournament, size/M

#8873 Adjust editor timeline current marker to promote tick visibility
  osu.Game/Screens/Edit/Compose/Components/Timeline/CentreMarker.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/S, type:UX

#8848 Add osu!taiko bar line skinning support
  osu.Game.Rulesets.Taiko.Tests/Resources/metrics-skin/taiko-barline@2x.png
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableBarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLineMajor.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyBarLine.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
Labels: area:skinning, ruleset:osu!taiko, size/XL

#8675 Show visual feedback for taiko drumrolls
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHit.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableCentreHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableFlyingHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableRimHit.cs
  osu.Game.Rulesets.Taiko/Objects/IgnoreHit.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/DrumRollHitContainer.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/KiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:gameplay, ruleset:osu!taiko, size/L

#8876 Fix taiko hit target alpha on legacy skins
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacyHitTarget.cs
Labels: area:skinning, ruleset:osu!taiko, size/XS

#8877 Add taiko hit explosion skinning support
  osu.Game.Rulesets.Taiko.Tests/DrawableTestHit.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
  osu.Game.Rulesets.Taiko/Skinning/LegacyHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: area:skinning, ruleset:osu!taiko, size/L

#8860 Fix score multiplier being cut off in mod select at higher ui scales
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: area:song-select, size/M, type:UI

#8881 Avoid calls on MusicController executing before it may have finished loading
  osu.Game.Tests/Visual/UserInterface/TestSceneNowPlayingOverlay.cs
  osu.Game/Overlays/MusicController.cs
Labels: size/M, type:reliability

#8889 Reduce database includes where possible
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapStore.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:database, size/M, type:performance

#8883 Avoid using internal EF methods in tests
  CodeAnalysis/BannedSymbols.txt
  osu.Game.Tests/Beatmaps/TestSceneEditorBeatmap.cs
  osu.Game/Screens/OsuScreen.cs
Labels: size/S, type:code-quality

#8887 Fix speed adjustment mods affecting mania scroll speed
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: area:mods, ruleset:osu!mania, size/M

#8886 Fix mania selection blueprints not moving/moving incorrectly
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/ManiaBlueprintContainer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/Edit/Masks/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
Labels: area:editor, ruleset:osu!mania, size/L

#8896 Change taiko hit explosion animation to match stable for skins
  osu.Game.Rulesets.Taiko/Skinning/LegacyHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
Labels: area:skinning, ruleset:osu!taiko, size/S

#8895 Further improve beatmap carousel load performance by avoiding incorrect query construction
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: area:database, size/XS, type:performance

#8893 Reduce initial channel load overhead by only loading history on active channel
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: area:overlay-chat, size/S, type:performance

#8901 Move taiko additive blending locally to avoid applying to legacy skins
  osu.Game.Rulesets.Taiko/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/KiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: area:skinning, ruleset:osu!taiko, size/XS

#8905 Allow closing the game during intro
  osu.Game/OsuGame.cs
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: size/XS, type:UX

#8909 Fix skinned taiko hit explosions not being removed on rewind
  osu.Game.Rulesets.Taiko/Skinning/LegacyHitExplosion.cs
Labels: area:skinning, ruleset:osu!taiko, size/XS

#8913 Fix mania crashing on undo/redo
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, ruleset:osu!mania, size/XS

#8903 Show loading spinner when carousel is not ready to be displayed
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M, type:UX
