Repository ppy/osu, pull requests merged in 2021-03, with the labels that each got.

#11946 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#11945 Fix confine mode dropdown becoming visible again after filtering
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: area:settings, size/S

#11944 Remove WorkingBeatmap's finalizer
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
Labels: size/S, type:performance

#11943 Remove easy to remove finalizers
  osu.Game/Database/DatabaseWriteUsage.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Utils/SentryLogger.cs
Labels: size/S, type:performance

#11949 Add mobile logs location to issue templates
  .github/ISSUE_TEMPLATE/01-bug-issues.md
  .github/ISSUE_TEMPLATE/02-crash-issues.md
Labels: size/XS

#11952 Fix restore-to-default buttons never showing if initially hidden
  osu.Game.Tests/Visual/Settings/TestSceneSettingsItem.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: area:settings, size/M

#11955 Fix selecting a beatmap at the multiplayer match screen exiting the match
  osu.Game/OsuGame.cs
  osu.Game/PerformFromMenuRunner.cs
  osu.Game/Screens/IHandlePresentBeatmap.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/L, type:UX

#11957 Move bindable logic in MouseSettings to LoadComplete
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: size/M, type:input

#11687 Add a list of mods to Skill class
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Colour.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Tests/NonVisual/DifficultyAdjustmentModCombinationsTest.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Skills/Skill.cs
Labels: area:difficulty, size/M

#11961 Fix cursor sensitivity disabled at host level from reset input action
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: area:settings, size/S, type:input

#11928 Fix beatmap removed post-creation in multiplayer tests
  osu.Game.Tests/OnlinePlay/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerRoomManager.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomContainer.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomManager.cs
Labels: area:multiplayer, size/L, type:testing

#11970 Fix taiko leaving behind empty judgements on legacy skins
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: ruleset:osu!taiko, size/S, type:performance

#11977 Adjust legacy combo counter appearance to closer match stable
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
Labels: area:skinning, ruleset:osu!, size/XS

#11940 Update user statistics models in line with web API changes
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsParticipantsList.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Users/User.cs
  osu.Game/Users/UserStatistics.cs
Labels: size/M, type:online

#11984 Fix potential cross-thread drawable mutation in IntroTriangles
  osu.Game/Screens/BackgroundScreen.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
Labels: size/XS

#11985 Fix multiplayer/spectator not working on iOS
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.iOS.props
Labels: platform:iOS, size/M

#11986 Use ConfigureAwait(false) for all async calls
  CodeAnalysis/osu.ruleset
  osu.Android/OsuGameActivity.cs
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Game.Tests.Android/osu.Game.Tests.Android.csproj
  osu.Game.Tests.iOS/osu.Game.Tests.iOS.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tests/tests.ruleset
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Collections/CollectionManager.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/DownloadableArchiveModelManager.cs
  osu.Game/Database/MemoryCachingComponent.cs
  osu.Game/Database/UserLookupCache.cs
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/IO/Archives/ArchiveReader.cs
  osu.Game/IPC/ArchiveImportIPCChannel.cs
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Import/FileImportScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.Game/Updater/UpdateManager.cs
Labels: platform:iOS, size/L, type:reliability

#11958 Allow rulesets to specify custom song select filtering criteria
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Rulesets/Filter/IRulesetFilterCriteria.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Filter/Operator.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:ruleset-api, area:song-select, size/L

#11971 Enable pooling for taiko judgements
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoJudgement.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, size/M, type:performance

#11989 Fix iOS release build crashes
  osu.Android.props
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#11992 Fix SPM counter immediately disappearing/decreasing after spinner has already been completed
  osu.Game.Rulesets.Osu/Judgements/OsuSpinnerJudgementResult.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: area:gameplay, ruleset:osu!, size/S

#11990 Fix storyboard commands occurring before the earliest point of visibility delaying gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game/Storyboards/CommandTimelineGroup.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:storyboard, size/L

#12005 Switch RestoreDefaultsValueButton to use HasPendingTasks to avoid tooltip always showing
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: area:settings, size/XS

#11975 Adjust legacy spinner components placements to match osu!stable
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
Labels: area:skinning, ruleset:osu!, size/M

#12009 Fix crashes when accessing changelog too early in game startup
  osu.Game/Overlays/ChangelogOverlay.cs
Labels: area:overlay-changelog, size/S, type:crash

#12008 Hide toolbar forever when the user hides it
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: area:toolbar, size/M, type:UX

#12014 Fix a couple of new inspections introduced in Rider EAPs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: size/S, type:code-quality

#12003 Update EF Core
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/DatabaseWorkaroundExtensions.cs
  osu.Game/Database/OsuDbContext.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:database, size/L

#12017 Remove skype handle from user profile overlay
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Users/User.cs
Labels: area:overlay-user-profile, size/XS, type:online

#12015 Fix disable mouse buttons setting not showing default indicator when using keybind
  osu.Game/OsuGame.cs
Labels: area:settings, size/XS, type:input

#12024 Fix opening the editor occasionally causing a hard crash due to incorrect threading logic
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, type:reliability

#12027 Don't fill beatmap metadata with template values on creating a new beatmap
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
Labels: area:editor, size/S, type:UX

#12044 Update kudosu section on user profile overlay in line with web
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
Labels: area:overlay-user-profile, size/M, type:UI

#12043 Fix selection box operation hotkeys not registering in change handler
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
Labels: area:editor, size/S, type:reliability

#12058 Fix skin parser not stripping whitespace before parsing
  osu.Game.Tests/Resources/skin-with-space.ini
  osu.Game.Tests/Skins/LegacySkinDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
Labels: area:skinning, size/M

#12012 Add support for pooling explosions in taiko
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHits.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosionPool.cs
  osu.Game.Rulesets.Taiko/UI/IAnimatableHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: area:pooling, ruleset:osu!taiko, size/L, type:performance

#12060 Fix converted mania scores not accounting for GREATs
  osu.Game/Scoring/ScoreManager.cs
Labels: area:scoring, ruleset:osu!mania, size/S

#12006 Consume framework updates to input handling
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchModHidden.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu/Configuration/OsuRulesetConfigManager.cs
  osu.Game.Tests/Input/ConfineMouseTrackerTest.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tests/Visual/Background/TestSceneSeasonalBackgroundLoader.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailingLayer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardSamplePlayback.cs
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestSettingsMigration.cs
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOnScreenDisplay.cs
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game.Tournament/Screens/Drawings/Components/DrawingsConfigManager.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Configuration/StorageConfigManager.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/Input/BindingSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
  osu.Game/Updater/UpdateManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:settings, size/L, type:input

#12025 Update usages of config with framework changes
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchModHidden.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu/Configuration/OsuRulesetConfigManager.cs
  osu.Game.Tests/Input/ConfineMouseTrackerTest.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tests/Visual/Background/TestSceneSeasonalBackgroundLoader.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailingLayer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardSamplePlayback.cs
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestSettingsMigration.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOnScreenDisplay.cs
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game.Tournament/Screens/Drawings/Components/DrawingsConfigManager.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Configuration/StorageConfigManager.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Updater/UpdateManager.cs
Labels: size/L

#8238 Prevent editor clock from continuing beyond song end
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game.Tests/Visual/Editing/TimelineTestScene.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/L

#12075 Increase the precision of speed multiplier to match osu-stable
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Screens/Edit/Timing/DifficultySection.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
Labels: area:editor, size/S

#12072 Include the bundled skins when selecting a random skin
  osu.Game/Skinning/SkinManager.cs
Labels: area:settings, size/XS

#12071 Give each type of slider path type a unique colour to help visually distinguish them
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: area:editor, size/S, type:UX

#12078 Adjust timeline ticks to be more visible
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/S, type:UX

#12080 Change editor speed adjust to adjust frequency (and restore 25% option)
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
Labels: area:editor, size/S, type:UX

#12073 Avoid potential crash if an overlay is toggled before it has been loaded
  osu.Game/OsuGame.cs
Labels: area:overlays, size/S, type:reliability

#12077 Add tablet configuration section
  osu.Game.Tests/Visual/Settings/TestSceneTabletSettings.cs
  osu.Game/IO/Serialization/Converters/Vector2Converter.cs
  osu.Game/IO/Serialization/IJsonSerializable.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: area:settings, size/XL, type:input

#12090 Fix selection blueprint misbehaving with overlapping objects
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Tests/Visual/Editing/TestSceneBlueprintSelection.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, ruleset:osu!, size/M, type:UX, type:reliability

#11824 Fix playing skinned samples being unsafe during skin changes
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/NonVisual/Skinning/LegacySkinAnimationTest.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/ISkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/PoolableSkinnableSample.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:gameplay, size/L, type:audio, type:reliability

#12100 Fix transform mutations from invalid thread on tablet disconnection/reconnection
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: area:settings, size/M, type:reliability

#12125 Revert EF Core to version 2.2
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/DatabaseWorkaroundExtensions.cs
  osu.Game/Database/OsuDbContext.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:database, dependencies, size/L

#12134 Add comments count to user profile overlay
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Users/User.cs
Labels: area:overlay-user-profile, size/S, type:UI

#12133 Fix mania hold note heads hiding when frozen
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
Labels: area:skinning, ruleset:osu!mania, size/S

#12138 Delay key fade in legacy mania skins
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyKeyArea.cs
Labels: area:skinning, ruleset:osu!mania, size/XS, type:UI

#12144 Remove osuTK desktop rider run config
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___legacy_osuTK_.xml
Labels: area:tooling, size/S

#12148 Fix incorrect trash icon being used on deleted comments counter
  osu.Game/Overlays/Comments/DeletedCommentsCounter.cs
Labels: area:comments, size/XS, type:UI

#12145 Remove release delay for hold notes when generating autoplay
  osu.Game.Rulesets.Mania.Tests/TestSceneAutoGeneration.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
Labels: area:replay, ruleset:osu!mania, size/M

#12149 Fix APIScoreToken's data type not matching server side
  osu.Game/Online/Rooms/APIScoreToken.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
Labels: size/XS

#12136 Remove local workarounds to attempt to avoid crashes on skin change
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:reliability

#12141 Add another test for colinear perfect curves
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/colinear-perfect-curve-expected-conversion.json
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/colinear-perfect-curve.osu
Labels: area:gameplay, ruleset:osu!, size/S

#12139 Fix spinners playing looping sound too long in the editor
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: area:editor, size/S

#12153 Always fade out approach circles at a HitObject's start time to better match stable
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: area:gameplay, ruleset:osu!, size/S

#12154 Fix default skin's glow resetting fade on miss
  osu.Game.Rulesets.Osu/Skinning/Default/MainCirclePiece.cs
Labels: area:gameplay, ruleset:osu!, size/XS

#12151 Fail all API requests sent to DummyAPIAccess
  osu.Game.Tests/Online/TestDummyAPIRequestHandling.cs
  osu.Game.Tests/Visual/Background/TestSceneSeasonalBackgroundLoader.cs
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneNewsOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomManager.cs
Labels: size/L, type:testing

#12163 Start the game in fullscreen by default on fresh installs
  osu.Game/OsuGame.cs
Labels: size/XS, type:UX

#12161 Fix OS cursor hidden in TournamentGame when high precision mouse is enabled
  osu.Game.Tournament/TournamentGame.cs
Labels: area:tournament, size/S

#12176 Include blurb in issue template to hopefully help people find existing reports
  .github/ISSUE_TEMPLATE/01-bug-issues.md
  .github/ISSUE_TEMPLATE/02-crash-issues.md
  .github/ISSUE_TEMPLATE/02-feature-request-issues.md
Labels: size/M

#12152 Add solo score submission flow
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game/Online/Solo/CreateSoloScoreRequest.cs
  osu.Game/Online/Solo/SubmitSoloScoreRequest.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/RoomSubmittingPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:gameplay, size/L, type:online

#12173 Fix SkinManager not properly handling archive name casing on comparsions
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:skinning, size/M

#12177 Don't strip comments from metadata during parsing
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Skinning/LegacySkinDecoder.cs
Labels: area:beatmap, size/S

#12178 Fix barlines showing up in the osu!mania editor's timeline
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/XS

#11976 Add support for legacy spinner bonus counter
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-0.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-1.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-2.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-3.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-4.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-5.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-6.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-7.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-8.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-9.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-comma.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-dot.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-percent.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/score-x.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/skin.ini
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/OsuSkinComponents.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerBonusDisplay.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
Labels: area:skinning, ruleset:osu!

#12190 Add beatmap search filter row "General"
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/SearchGeneral.cs
Labels: size/M

#12192 Fix multiplayer download progress showing incorrectly after an aborted download
  osu.Game/Online/DownloadTrackingComposite.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailablilityTracker.cs
Labels: size/XS

#12193 Fix crash on attempting to join lobby using key press during a pending join
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: area:multiplayer, size/XS, type:reliability

#12181 Fix very high accuracies feigning as "perfect" 100% plays when actually below
  osu.Game.Tests/NonVisual/FormatUtilsTest.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Users/UserStatistics.cs
  osu.Game/Utils/FormatUtils.cs
Labels: area:results, size/M

#12030 Allow copying timestamps in editor
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#12208 Fix chat scroll sticking visually when scrolling beyond bottom extent
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: size/XS, type:UI

#12076 Implement editor timeline stacking support
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/M, type:UX

#12194 Fix timeline not visually ordering hitobjects in a stable way
  osu.Game/Screens/Edit/Compose/Components/HitObjectOrderedSelectionContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/S

#12214 Update framework and dependencies
  osu.Android.props
  osu.Android/osu.Android.csproj
  osu.Game.Rulesets.Catch.Tests.Android/osu.Game.Rulesets.Catch.Tests.Android.csproj
  osu.Game.Rulesets.Mania.Tests.Android/osu.Game.Rulesets.Mania.Tests.Android.csproj
  osu.Game.Rulesets.Osu.Tests.Android/osu.Game.Rulesets.Osu.Tests.Android.csproj
  osu.Game.Rulesets.Taiko.Tests.Android/osu.Game.Rulesets.Taiko.Tests.Android.csproj
  osu.Game.Tests.Android/osu.Game.Tests.Android.csproj
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game/Input/Handlers/ReplayInputHandler.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#12213 Fix IPC Location to be in line with TournamentStorage changes
  osu.Game.Tournament.Tests/NonVisual/IPCLocationTest.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game.Tournament/Models/StableInfo.cs
Labels: area:tournament, size/L

#11853 Fix hitobjects potentially ending up outside playfield when selection is scaled
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/L

#12219 Fix incorrect wait logic in IPC location test
  osu.Game.Tournament.Tests/NonVisual/IPCLocationTest.cs
Labels: size/S, type:testing

#12182 Add support for nudging objects in the editor using ctrl+arrow keys
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/M

#12180 Fix osu!catch fruit showing on plate when hidden mod is enabled
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: area:gameplay, ruleset:osu!catch, size/S

#12222 Add osu!mania key count filtering using "keys=4" at song select
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
Labels: area:song-select, ruleset:osu!mania, size/M

#12218 Add tablet rotation configuration
  osu.Android.props
  osu.Game.Tests/Visual/Settings/TestSceneTabletSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/RotationPresetButtons.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:settings, size/L, type:input

#12227 Fix accuracy displaying incorrectly in online contexts
  osu.Game/Users/UserStatistics.cs
Labels: size/XS, type:UI

#12237 Fix retry count not updating correctly
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/S

#12235 Fix mania beatmaps sometimes never ending
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: area:gameplay, ruleset:osu!mania, size/M

#12238 Group large drag drop imports into a single operation
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGameBase.cs
Labels: size/M, type:performance
