Repository ppy/osu, pull requests merged in 2021-08, with the labels that each got.

#14093 Localise top rank scores weighting in profile overlay
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
Labels: area:overlay-user-profile, size/XS, type:localisation

#14096 Fix judgement processors provided to mods while not completely loaded
  osu.Game/Rulesets/Mods/IApplicableToHealthProcessor.cs
  osu.Game/Rulesets/Mods/IApplicableToScoreProcessor.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:mods, size/S

#14092 Ensure proxied judgement content is correctly depth-ordered
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: area:skinning, ruleset:osu!, size/S

#14088 Add support for adding/removing colours to editor palette
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledColourPalette.cs
  osu.Game/Graphics/UserInterfaceV2/ColourDisplay.cs
  osu.Game/Graphics/UserInterfaceV2/ColourPalette.cs
Labels: area:editor, size/L, type:UI

#14101 Add localisation license header to editorconfig
  .editorconfig
  osu.Game/.editorconfig
Labels: size/XS, type:localisation

#14053 Manage catcher trails by lifetime entries
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrail.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailAnimation.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailEntry.cs
Labels: ruleset:osu!catch, size/L

#14105 Match osu!stable taiko playfield size at 16:9
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: area:gameplay, ruleset:osu!taiko, size/XS, type:UI

#14106 Make taiko classic mod emulate the classic "4:3" scroll speed
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHidden.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
Labels: area:mods, ruleset:osu!taiko, size/M

#13914 Add localisation for overlay headers
  osu.Android.props
  osu.Game.Tests/Visual/Online/TestSceneNewsHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiHeader.cs
  osu.Game/Localisation/NamedOverlayComponentStrings.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingHeader.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/Rankings/RankingsScope.cs
  osu.Game/Overlays/Wiki/WikiHeader.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlays, size/L, type:localisation

#14071 Update enum mapper usages with `LocalisableDescription`
  osu.Android.props
  osu.Game/Beatmaps/BeatmapSetOnlineStatus.cs
  osu.Game/Overlays/BeatmapListing/SearchCategory.cs
  osu.Game/Overlays/BeatmapListing/SearchExplicit.cs
  osu.Game/Overlays/BeatmapListing/SearchExtra.cs
  osu.Game/Overlays/BeatmapListing/SearchGeneral.cs
  osu.Game/Overlays/BeatmapListing/SearchGenre.cs
  osu.Game/Overlays/BeatmapListing/SearchLanguage.cs
  osu.Game/Overlays/BeatmapListing/SearchPlayed.cs
  osu.Game/Overlays/BeatmapListing/SortCriteria.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/Dashboard/Friends/OnlineStatus.cs
  osu.Game/Overlays/Dashboard/Friends/UserSortTabControl.cs
  osu.Game/Overlays/OverlayPanelDisplayStyleControl.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/Rankings/RankingsScope.cs
  osu.Game/Overlays/Rankings/RankingsSortTabControl.cs
  osu.Game/Scoring/ScoreRank.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XL, type:localisation

#14115 Fix spectator test failures
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
Labels: area:tooling, size/M, type:testing

#14112 Rename `GameType` to `MatchType` and make `enum` instead of `class`
  osu.Game/Online/Rooms/GameType.cs
  osu.Game/Online/Rooms/GameTypes/GameTypePlaylists.cs
  osu.Game/Online/Rooms/GameTypes/GameTypeTag.cs
  osu.Game/Online/Rooms/GameTypes/GameTypeTagTeam.cs
  osu.Game/Online/Rooms/GameTypes/GameTypeTeamVersus.cs
  osu.Game/Online/Rooms/GameTypes/GameTypeVersus.cs
  osu.Game/Online/Rooms/GameTypes/VersusRow.cs
  osu.Game/Online/Rooms/MatchType.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Components/DrawableGameType.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchTypePicker.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayComposite.cs
Labels: area:multiplayer, size/L, type:code-quality

#14125 Change markdown container font to use inter font
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownHeading.cs
  osu.Game/Graphics/OsuFont.cs
  osu.Game/Overlays/Wiki/WikiMainPage.cs
  osu.Game/Overlays/Wiki/WikiPanelContainer.cs
Labels: size/S, type:UI

#14100 Fix "muted" mod metronome not playing when expected
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModMuted.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
Labels: area:mods, size/M

#14104 Add required multiplayer models (and associated flows) for match "types"
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MatchRoomState.cs
  osu.Game/Online/Multiplayer/MatchServerEvent.cs
  osu.Game/Online/Multiplayer/MatchTypes/TeamVersus/ChangeTeamRequest.cs
  osu.Game/Online/Multiplayer/MatchTypes/TeamVersus/MultiplayerTeam.cs
  osu.Game/Online/Multiplayer/MatchTypes/TeamVersus/TeamVersusRoomState.cs
  osu.Game/Online/Multiplayer/MatchTypes/TeamVersus/TeamVersusUserState.cs
  osu.Game/Online/Multiplayer/MatchUserRequest.cs
  osu.Game/Online/Multiplayer/MatchUserState.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomUser.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Rooms/MatchType.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#14116 Update existing test to make use of `ManualInputManager.Keys`
  osu.Android.props
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Online/TestSceneAccountCreationOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneNewsOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneShowMoreButton.cs
  osu.Game.Tests/Visual/Online/TestSceneVotePill.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game.Tournament.Tests/Screens/TestSceneGameplayScreen.cs
  osu.Game/Graphics/UserInterface/BackButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/PreviewButton.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabItem.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Overlays/DialogOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetTabButton.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Screens/Play/SkipOverlay.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/Screens/Select/FooterButtonRandom.cs
  osu.Game/Screens/Select/Options/BeatmapOptionsOverlay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#14131 Fix new possible nullref inspection due to delegate initialisation in constructor
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
Labels: size/XS, type:code-quality

#14120 Add ability to choose Team Versus match type and view / switch teams
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Components/DisableableTabControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/TeamDisplay.cs
  osu.Game/Screens/OnlinePlay/Playlists/Playlists.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/XL, type:UI

#14117 Add the ability to create multiplayer games using only the keyboard
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Match/Components/CreateRoomButton.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/CreateMultiplayerMatchButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/BeatmapSelectionControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/CreatePlaylistsRoomButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, size/L, type:UX

#14047 Adjust with the framework-side AudioMixer changes
  osu.Android.props
  osu.Game/Audio/PreviewTrackManager.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: blocked, size/S, type:audio

#14133 Fix colour picker antialiasing
  osu.Game/Graphics/UserInterfaceV2/OsuHSVColourPicker.cs
Labels: size/XS, type:UI

#14119 Update star rating difficulty colours and add spectrum support
  osu.Game.Tests/Visual/Colours/TestSceneStarDifficultyColours.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Screens/OnlinePlay/Components/StarRatingRangeDisplay.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Utils/ColourUtils.cs
Labels: type:UI, size/L

#14142 Remove playlists type select button from multiplayer
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchTypePicker.cs
Labels: size/XS

#14144 Toggle the expanded state of the multiplayer leaderboard with the user's HUD
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
Labels: type:UI, area:multiplayer, size/XS

#14149 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#14147 Misc hover/select sound usage updates
  osu.Android.props
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
  osu.Game/Overlays/News/Sidebar/MonthSection.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:audio

#14175 Update build status badge to github actions
  README.md
Labels: size/XS, type:documentation

#14176 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#14172 Fix legacy slider body colour interpolation
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBody.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
  osu.Game/Utils/LegacyUtils.cs
Labels: area:gameplay, size/M

#14178 Simplify method of marking players as playing in test scenes
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: type:code-quality, type:testing, size/M

#14200 Fix ruleset unexpectedly changing when creating a room
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
Labels: area:multiplayer, size/XS

#14197 Add simple download progress display to download buttons on playlist items
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Graphics/UserInterface/GrayButton.cs
  osu.Game/Overlays/BeatmapListing/Panels/BeatmapPanelDownloadButton.cs
Labels: type:UI, area:multiplayer, size/S

#14145 Fix DHO state overwritten at `LoadComplete` if it is already changed
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/M

#14204 Fix potential null reference in online status resolution in multiplayer match
  osu.Game/Database/IModelManager.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
Labels: area:multiplayer, size/S, type:reliability

#14207 Update framework and resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#14205 Fix incorrect legacy skin slider body alpha
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBody.cs
Labels: ruleset:osu!, area:skinning, size/XS

#14173 Add "Mirror" mod to osu!catch
  osu.Game.Rulesets.Catch.Tests/Mods/CatchModMirrorTest.cs
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Mods/CatchModMirror.cs
Labels: ruleset:osu!catch, area:mods, size/L

#14148 Add open/close sounds to context menus
  osu.Game.Tests/Visual/UserInterface/TestSceneContextMenu.cs
  osu.Game/Graphics/Cursor/OsuContextMenuContainer.cs
  osu.Game/Graphics/UserInterface/OsuContextMenu.cs
  osu.Game/Graphics/UserInterface/OsuContextMenuSamples.cs
Labels: size/L, type:audio

#14221 Bring back `TestSceneOsuGame`
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
Labels: size/XS

#14220 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#14179 Show team colours in gameplay leaderboard and add a team score bar
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game.Tournament.Tests/Components/TestSceneMatchScoreDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TournamentMatchScoreDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayMatchScoreDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorLeaderboard.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MatchScoreDisplay.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
Labels: area:multiplayer, size/XL

#14224 Add kick button (and required server shared interface updates)
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#14241 Fix out-of-order hits in editor causing exceptions
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game.Rulesets.Osu/UI/AnyOrderHitPolicy.cs
Labels: ruleset:osu!, area:editor, size/S

#14248 Mark `PollingComponent` test as headless
  osu.Game.Tests/Visual/Components/TestScenePollingComponent.cs
Labels: type:testing, size/XS

#14202 Add supporter promo section in changelog overlay
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneChangelogSupporterPromo.cs
  osu.Game/Overlays/Changelog/ChangelogSingleBuild.cs
  osu.Game/Overlays/Changelog/ChangelogSupporterPromo.cs
Labels: area:overlay-changelog, size/L

#8010 Remove CommentsPage component and move it's logic to CommentsContainer
  osu.Game.Tests/Visual/Online/TestSceneOfflineCommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsPage.cs
Labels: type:code-quality, size/L, area:comments

#14265 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#14266 Fix multiplayer navigation test failure
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:testing, area:multiplayer, size/S

#14264 Fix multiplayer spectating test failures
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
Labels: type:testing, area:multiplayer, size/XS

#14239 Implement legacy hit explosions for osu!catch
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch/CatchSkinComponents.cs
  osu.Game.Rulesets.Catch/Skinning/Default/DefaultHitExplosion.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/HitExplosion.cs
  osu.Game.Rulesets.Catch/UI/HitExplosionContainer.cs
  osu.Game.Rulesets.Catch/UI/HitExplosionEntry.cs
  osu.Game.Rulesets.Catch/UI/IHitExplosion.cs
Labels: ruleset:osu!catch, area:skinning, size/L

#14258 Always show cursor trail for legacy cursor with disjoint trail
  osu.Android.props
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset:osu!, area:skinning, size/M

#14256 Update multiplayer header to the latest designs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsFilterControl.cs
  osu.Game/Screens/OnlinePlay/Header.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/FilterControl.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/PlaylistsFilterControl.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerFilterControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:UI, area:multiplayer, size/XL

#14267 Fix weird margins on loading display in lounge
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: type:UI, area:multiplayer

#14150 Improve overlay screen offsetting logic to be position-based
  osu.Game.Tests/Visual/Menus/TestSceneSideOverlays.cs
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Settings/TestSceneTabletSettings.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: type:UI, area:settings, area:overlay-notifications, size/L

#14269 Fix searches at song select with '!' or ',' not matching as expected
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: area:song-select, size/XS

#13971 Make blinds move correctly when barrel roll mod is active
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
Labels: ruleset:osu!, area:mods, size/S

#14249 Fix entering a playlist room potentially showing settings screen incorrectly
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: size/M, area:playlists

#14275 Hide left border of beatmap wedge
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UI, size/XS

#14219 Show team versus team scores and winner at the results screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerTeamResults.cs
  osu.Game/Localisation/MultiplayerTeamResultsScreenStrings.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerTeamResultsScreen.cs
  osu.Game/Screens/Play/HUD/MatchScoreDisplay.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:multiplayer, size/L

#14278 Unify team score display logic with other components
  osu.Game/Screens/Play/HUD/MatchScoreDisplay.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: type:UI, area:multiplayer, size/XS

#14250 Add ability for gameplay leaderboard scroll when too many users are displayed
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: type:UI, size/L

#14225 Add event flow for kick handling
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/M

#14291 Fix multiplayer client not leaving room
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
Labels: area:multiplayer, size/XS, type:reliability

#14286 Rename element in OsuSettings enum
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/SongProgress.cs
Labels: type:code-quality, size/XS

#14321 Use correct icons in beatmap details
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
Labels: size/S, area:overlay-beatmap

#14308 Fix mark channel as read error popping up when switching chat channels
  osu.Game.Tests/Chat/TestSceneChannelManager.cs
  osu.Game/Online/API/Requests/MarkChannelAsReadRequest.cs
  osu.Game/Online/Chat/ChannelManager.cs
Labels: area:overlay-chat, size/M

#14329 Cache buffered background to fix multiplayer lounge performance
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundSprite.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: type:performance, area:multiplayer, size/L, area:playlists

#11200 Make Sudden Death & Perfect mod auto restart toggleable
  osu.Game.Tests/Visual/Mods/TestSceneModFailCondition.cs
  osu.Game/Rulesets/Mods/ModFailCondition.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
Labels: area:mods, size/M

#14337 Fix gameplay HUD load being delayed if initially hidden
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/S

#14268 Notify users to read OpenTabletDriver's FAQ when tablet not detected
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Overlays/Settings/SettingsNoticeText.cs
Labels: type:UX, area:settings, size/M

#14338 Fix few cases where `MultiplayerRoomUser.User` is assumed to not be null
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/TeamDisplay.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/TestUserLookupCache.cs
Labels: area:multiplayer, size/M, type:reliability

#14318 Add support for saving edited combo colours and displaying them in composer
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
  osu.Game/Beatmaps/Formats/IHasComboColours.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/EditorBeatmapSkin.cs
  osu.Game/Screens/Edit/EditorSkinProvidingContainer.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/SkinConfiguration.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
Labels: area:editor, size/L

#14339 Revert "Rename element in OsuSettings enum"
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/SongProgress.cs
Labels: area:settings, size/S

#14344 Add keywords to make finding audio offset adjustments easier in settings
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
Labels: area:settings, size/XS

#14247 Add localisation support for most of Settings
  osu.Game/Localisation/AudioSettingsStrings.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/DebugSettingsStrings.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Localisation/GraphicsSettingsStrings.cs
  osu.Game/Localisation/InputSettingsStrings.cs
  osu.Game/Localisation/MaintenanceSettingsStrings.cs
  osu.Game/Localisation/OnlineSettingsStrings.cs
  osu.Game/Localisation/SkinSettingsStrings.cs
  osu.Game/Localisation/UserInterfaceStrings.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/VolumeSettings.cs
  osu.Game/Overlays/Settings/Sections/AudioSection.cs
  osu.Game/Overlays/Settings/Sections/Debug/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Debug/MemorySettings.cs
  osu.Game/Overlays/Settings/Sections/DebugSection.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
  osu.Game/Overlays/Settings/Sections/GameplaySection.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
  osu.Game/Overlays/Settings/Sections/Graphics/DetailSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
  osu.Game/Overlays/Settings/Sections/GraphicsSection.cs
  osu.Game/Overlays/Settings/Sections/Input/GlobalKeyBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Input/RulesetBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/DirectorySelectScreen.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/MaintenanceSection.cs
  osu.Game/Overlays/Settings/Sections/Online/AlertsAndPrivacySettings.cs
  osu.Game/Overlays/Settings/Sections/Online/IntegrationSettings.cs
  osu.Game/Overlays/Settings/Sections/Online/WebSettings.cs
  osu.Game/Overlays/Settings/Sections/OnlineSection.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/MainMenuSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterfaceSection.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
  osu.sln.DotSettings
Labels: type:localisation, size/XXL

#14341 Fix crashes from preview tracks
  osu.Game/Overlays/BeatmapListing/Panels/PlayButton.cs
Labels: size/M, area:overlay-beatmap, area:overlay-beatmap-listing, type:audio

#14343 Hide tablet settings content when disabled
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: type:UX, area:settings, size/S

#14342 Fix difficuly adjust settings controls not raising `SettingsChanged` events
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
Labels: area:mods, size/M

#14307 Add glow to supporter promo on changelog
  osu.Game/Overlays/Changelog/ChangelogSupporterPromo.cs
Labels: type:UI, area:overlay-changelog, size/S

#14352 Refactor StrainSkill for more strain extensibility
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Colour.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainDecaySkill.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
Labels: area:difficulty, size/L

#14263 Hide non-interactive elements on multi-spectator players
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayerLoader.cs
  osu.Game/Screens/Play/PlayerConfiguration.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
Labels: type:UX, area:multiplayer, size/M

#14357 Fix `MatchSettingsOverlay` not properly resetting focus on hide
  osu.Game/Screens/OnlinePlay/Match/Components/MatchSettingsOverlay.cs
Labels: type:input, size/XS

#14358 Add `LocalUserPlayInfo` interface to convey common information about player status
  osu.Desktop/Windows/GameplayWinKeyBlocker.cs
  osu.Game/Input/ConfineMouseTracker.cs
  osu.Game/OsuGame.cs
  osu.Game/Performance/HighPerformanceSession.cs
  osu.Game/Screens/Play/ILocalUserPlayInfo.cs
  osu.Game/Screens/Play/Player.cs
Labels: type:code-quality, size/M

#14274 Refactor multiplayer/playlist polling out of RoomManager
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerRoomManager.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game/Online/PollingComponent.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/Components/RoomPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/SelectionPollingComponent.cs
  osu.Game/Screens/OnlinePlay/IRoomManager.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/Playlists.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomManager.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestRequestHandlingMultiplayerRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/BasicTestRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/IOnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
Labels: type:code-quality, area:multiplayer, size/XL

#14360 Improve visibility of repeat ticks / drag areas on timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, type:UI, size/M

#14347 Attempt to reduce skin lookup overhead where file access is not required
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Database/MutableDatabaseBackedStore.cs
  osu.Game/Skinning/SkinManager.cs
Labels: type:performance, area:database, size/M

#14373 Fix config pollution in HUD overlay test scene
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
Labels: type:testing, size/M

#14372 Override `CreateInstance()` in osu! bindable subclasses
  osu.Android.props
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#14374 Fix osu editor transforms not specified in absolute time
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
Labels: ruleset:osu!, area:editor, size/S

#14128 Update star rating display inline with new designs
  osu.Game.Tests/Visual/Ranking/TestSceneStarRatingDisplay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneStarRatingDisplay.cs
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Screens/OnlinePlay/Components/StarRatingRangeDisplay.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: type:UI, size/L

#14345 Delay load of settings until first usage to avoid startup overhead
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
  osu.Game/Graphics/UserInterface/Nub.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
  osu.Game/Overlays/RestoreDefaultValueButton.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Overlays/Settings/SidebarButton.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: type:performance, area:settings, size/L

#14385 Limit length of multiplayer match settings textboxes
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
Labels: area:multiplayer, size/XS

#14387 Fix playlists lounge sub screen test potentially failing on load
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
Labels: type:testing, size/XS

#14381 Update layout of multiplayer room screens
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchHeader.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Online/Rooms/RoomCategory.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Match/Components/Footer.cs
  osu.Game/Screens/OnlinePlay/Match/Components/Header.cs
  osu.Game/Screens/OnlinePlay/Match/Components/RoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomBackgroundSprite.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/BeatmapSelectionControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchFooter.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchHeader.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomFooter.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:UI, area:multiplayer, size/XXL, area:playlists

#14355 Update star difficulty bindables on mod settings change
  osu.Game.Benchmarks/BenchmarkMod.cs
  osu.Game.Tests/Beatmaps/BeatmapDifficultyCacheTest.cs
  osu.Game.Tests/Beatmaps/TestSceneBeatmapDifficultyCache.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneStarRatingDisplay.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, type:UX, size/XL

#14400 Fix settings item warning text not showing initially
  osu.Game.Tests/Visual/Settings/TestSceneSettingsItem.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: type:UI, area:settings, size/S

#14378 Fix lounge sub screen loading layer displaying in the background
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestRequestHandlingMultiplayerRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/BasicTestRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRequestHandlingRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:UI, area:multiplayer, size/XL, area:playlists

#14401 Refactor and fix intermittent beatmap difficulty cache tests
  osu.Game.Tests/Beatmaps/TestSceneBeatmapDifficultyCache.cs
Labels: type:testing, size/S

#14359 Add chat display during multiplayer gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneOverlayActivation.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneGameplayChatDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:multiplayer, size/L

#14402 Update code inspection settings to hide "merge into pattern" again
  osu.sln.DotSettings
Labels: type:code-quality, area:tooling, size/XS

#14323 Prevent seeking before mp3 start time while editor is playing
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/S, type:audio

#14350 Avoid drawing segments of cursor trail near current cursor position
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: ruleset:osu!, area:skinning, size/XS

#14392 Ensure all request failures are correctly handled during login
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/APIRequest.cs
Labels: type:online, size/S

#14403 Fix nub glow color not having 0 alpha when being set
  osu.Game/Graphics/UserInterface/Nub.cs
Labels: type:UI, size/XS

#14389 Fix android not being able to connect to multiplayer server
  osu.Game.Tests/Online/TestMultiplayerMessagePackSerialization.cs
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/Multiplayer/MatchRoomState.cs
  osu.Game/Online/Multiplayer/MatchUserRequest.cs
  osu.Game/Online/Multiplayer/MatchUserState.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/SignalRUnionWorkaroundResolver.cs
Labels: area:multiplayer, platform:android, size/L

#14404 Fix online room being deselected when joined
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
Labels: type:UI, area:multiplayer, size/XS

#14406 Allow intro screen to retrieve beatmap even if rulesets is not loaded
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapStore.cs
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: area:database, size/M

#14405 Expand `TestSceneSectionsContainer` to test for the scrolled to section being visible
  osu.Game.Tests/Visual/UserInterface/TestSceneSectionsContainer.cs
Labels: type:testing, type:UI, size/S

#14384 Dim all but the current settings section
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Graphics/Containers/UserTrackingScrollContainer.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: area:settings, size/L

#14377 Update test scenes in line with temporary directory changes framework-side
  osu.Android.props
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game.Tests/Input/ConfineMouseTrackerTest.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game.Tests/Visual/Menus/TestSceneSideOverlays.cs
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
  osu.Game.Tests/Visual/Navigation/TestSettingsMigration.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:testing, size/L

#14429 Improve highlighted chat username shadow effect
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: type:UI, size/XS

#14430 Use the UI mouse cursor when hovering gameplay chat in an interactive state
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
Labels: type:UI, size/XS

#14431 Fix bottom area of a settings section not being clickable
  osu.Game/Overlays/Settings/SettingsSection.cs
Labels: type:UX, area:settings, size/XS

#14425 Fix screen offsetting not handling scaled game content properly
  osu.Game.Tests/Visual/Menus/TestSceneSideOverlays.cs
  osu.Game/OsuGame.cs
Labels: type:UI, size/M

#14418 Change editor timestamp regex to not match non-editor ones
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: area:overlay-chat, size/XS

#14442 Add null check for Android ruleset loading
  osu.Game/Rulesets/RulesetStore.cs
Labels: platform:android, size/XS, type:reliability

#14443 Update resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#14450 Fix BPM display not updating if rate-changing mods were enabled after selecting beatmap
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, area:mods, type:UI, size/M

#14391 Localise beatmap set overlay
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Overlays/BeatmapSet/Buttons/FavouriteButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderDownloadButton.cs
  osu.Game/Overlays/BeatmapSet/MetadataSection.cs
  osu.Game/Overlays/BeatmapSet/MetadataType.cs
  osu.Game/Overlays/BeatmapSet/Scores/NoScoresPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Screens/Select/Details/UserRatings.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboardScope.cs
Labels: type:localisation, size/L, area:overlay-beatmap

#14408 Remove the global "selected room" from online screens
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game/Screens/BackgroundScreen.cs
  osu.Game/Screens/BackgroundScreenStack.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/Components/PlaylistItemBackground.cs
  osu.Game/Screens/OnlinePlay/Components/SelectionPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/Components/RoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomBackgroundSprite.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:code-quality, area:multiplayer, size/XL

#14459 Update android mime types in line with new specifications
  osu.Android/OsuGameActivity.cs
Labels: platform:android, size/S

#14448 Add basic design settings to editor setup screen
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Screens/Edit/Setup/DesignSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, type:UI, size/M

#14462 Show editor file choosers in a popover rather than inline
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:editor, size/L

#14467 Fix settings section not being selected when the search term changes
  osu.Game/Overlays/SettingsPanel.cs
Labels: type:UI, area:settings, size/XS

#14444 Decouple rankings overlay's ruleset selector from the game-wide ruleset bindable
  osu.Game.Tests/Visual/Online/TestSceneRankingsOverlay.cs
  osu.Game/Overlays/RankingsOverlay.cs
Labels: type:UX, size/M, area:overlay-rankings

#14435 Fix difficulty cache lookups sharing underlying mod instances
  osu.Game.Tests/Beatmaps/TestSceneBeatmapDifficultyCache.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
Labels: area:mods, size/M

#14475 Update beatmap info wedge text on mod change without full refresh
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, type:UI, size/S

#14272 Add pinned comment section in comment container
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneDrawableComment.cs
  osu.Game.Tests/Visual/Online/TestSceneOfflineCommentsContainer.cs
  osu.Game/Online/API/Requests/Responses/Comment.cs
  osu.Game/Online/API/Requests/Responses/CommentBundle.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: type:UI, size/L, area:comments

#14465 Improve skin stable import behaviour to better handle similar skins
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:database, size/M

#14441 Show mods that are incompatible with the current selection
  osu.Game/Overlays/Mods/IncompatibleIcon.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Overlays/Mods/ModButtonTooltip.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: area:mods, type:UX, size/L

#14474 Fix crash when entering multiplayer gameplay
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneGameplayChatDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Play/RoomSubmittingPlayer.cs
Labels: area:multiplayer, size/L

#14476 Fix gameplay HUD load not always completing if initially hidden
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Skinning/SkinnableTargetContainer.cs
Labels: area:gameplay, type:testing, size/XS

#14284 Update Discord user status for multiplayer/playlists
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/BeatmapSelectionControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsSongSelect.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Users/UserActivity.cs
Labels: type:online, size/L

#14484 Add ability to handle user join/leave/kick events in `MultiplayerComposite`s
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
Labels: area:multiplayer, size/M

#14485 Fix osu!mania hold notes eating input whenever on screen
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
Labels: ruleset:osu!mania, area:gameplay, size/XS

#14494 Fix editor crashing when quickly switching between screens
  osu.Game.Tests/Visual/Editing/TestSceneEditorScreenModes.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreen.cs
Labels: area:editor, size/M, type:reliability

#14534 Fix tournament client crashing at startup when osu!(stalble) is at ranking screen
  osu.Game.Tournament.Tests/Screens/TestSceneGameplayScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamWinScreen.cs
  osu.Game.Tournament.Tests/TournamentTestScene.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchRoundDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
Labels: area:tournament, size/M

#14552 Fix editor screen test scenes not updated to show their screens
  osu.Game.Tests/Visual/Editing/TestSceneComposeScreen.cs
  osu.Game.Tests/Visual/Editing/TestSceneSetupScreen.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
Labels: type:testing, size/S

#14488 Gray out and stop player instances who quit during multi-spectator sessions
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/CatchUpSyncManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/SoloSpectator.cs
  osu.Game/Screens/Play/SoloSpectatorPlayer.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Play/SpectatorPlayerLoader.cs
Labels: type:UX, area:multiplayer, size/L

#14486 Create a base component to handle gameplay sample triggering
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableBarLine.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneInputDrum.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoPlayfield.cs
  osu.Game.Rulesets.Taiko/Audio/DrumSampleContainer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/DrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
Labels: type:code-quality, size/L

#14575 Fix multiple conversions of a beatmap to taiko ruleset applying speed multiplier multiple times
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game/Beatmaps/BeatmapDifficulty.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: type:code-quality, size/M

#14577 Parse partially typed status names in song select filter query
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, type:UX, size/S

#14576 Update framework
  osu.Android.props
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Graphics/Cursor/OsuTooltipContainer.cs
  osu.Game/Graphics/DateTooltip.cs
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Overlays/Mods/ModButtonTooltip.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderStatisticsButton.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/Sections/CounterPill.cs
  osu.Game/Overlays/Profile/Sections/Historical/ProfileLineChart.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Overlays/Profile/UserGraph.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/Tables/CountriesTable.cs
  osu.Game/Overlays/Rankings/Tables/PerformanceTable.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Rankings/Tables/ScoresTable.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
  osu.Game/Screens/Play/HUD/MatchScoreDisplay.cs
  osu.Game/Screens/Select/Details/UserRatings.cs
  osu.Game/Utils/FormatUtils.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#14563 Update localisable formattable usages inline with framework changes
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/BeatmapSet/SuccessRate.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderStatisticsButton.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/Sections/CounterPill.cs
  osu.Game/Overlays/Profile/Sections/Historical/ProfileLineChart.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/Tables/CountriesTable.cs
  osu.Game/Overlays/Rankings/Tables/PerformanceTable.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Rankings/Tables/ScoresTable.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
  osu.Game/Screens/Play/HUD/MatchScoreDisplay.cs
  osu.Game/Screens/Select/Details/UserRatings.cs
  osu.Game/Utils/FormatUtils.cs
Labels: type:localisation, size/M

#14554 Replace game-global popover container with screen-local ones
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledColourPalette.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Edit/EditorRoundedScreen.cs
  osu.Game/Screens/Edit/EditorScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: area:editor, type:UI, area:multiplayer, size/M

#14580 Move labelled dropdown from tournament to main game
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledDropdown.cs
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledDropdown.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledEnumDropdown.cs
Labels: type:UI, size/L

#14585 Adjust minimum triangle movement speed to avoid "static" triangles in logo
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuLogo.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
Labels: type:UI, size/S

#14587 Avoid performing beatmap metadata lookups when entering the editor
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
Labels: type:online, size/XS
