Repository ppy/osu, pull requests merged in 2021-12, with the labels that each got.

#15875 Fix match type not being propagated correctly to other users' settings
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
Labels: area:multiplayer, size/M

#15868 Refactor difficulty adjustment mod combinations test
  osu.Game.Tests/NonVisual/DifficultyAdjustmentModCombinationsTest.cs
Labels: type:code-quality, type:testing, size/L

#15878 Cache beatmap metadata lookups used by multiplayer
  osu.Game/Database/BeatmapLookupCache.cs
  osu.Game/Database/UserLookupCache.cs
  osu.Game/Online/API/Requests/GetBeatmapsRequest.cs
  osu.Game/Online/API/Requests/GetBeatmapsResponse.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#15885 Add extension methods to add extra safety to realm subscriptions
  CodeAnalysis/BannedSymbols.txt
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
Labels: type:code-quality, area:database, size/L

#15889 Fix testable online IDs starting at 0
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:testing, area:multiplayer, size/XS

#15894 Combine similarly named `StatefulMultiplayerClient` tests
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/OnlinePlay/StatefulMultiplayerClientTest.cs
Labels: size/M

#15909 Update framework and resources
  osu.Android.props
  osu.Game/IPC/ArchiveImportIPCChannel.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#15916 Avoid sending empty parameters in `GetBeatmapRequest`
  osu.Game/Online/API/Requests/GetBeatmapRequest.cs
Labels: type:code-quality, size/XS

#15915 Fix `bracket.json` potentially getting saved after parsing failure
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/M

#15918 Fix alt-scroll not adjusting volume in gameplay when scroll wheel is disabled
  osu.Game.Tests/Visual/Navigation/TestSceneMouseWheelVolumeAdjust.cs
  osu.Game/Localisation/MouseSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Screens/Play/Player.cs
Labels: type:UX, area:settings, size/L

#15845 Add legacy IPC endpoint for difficulty calculation
  osu.Desktop/LegacyIpc/LegacyIpcDifficultyCalculationRequest.cs
  osu.Desktop/LegacyIpc/LegacyIpcDifficultyCalculationResponse.cs
  osu.Desktop/LegacyIpc/LegacyIpcMessage.cs
  osu.Desktop/LegacyIpc/LegacyTcpIpcProvider.cs
  osu.Desktop/Program.cs
  osu.Game/Beatmaps/FlatFileWorkingBeatmap.cs
  osu.Game/IPC/ArchiveImportIPCChannel.cs
Labels: area:tooling, size/L

#15890 Implement multiplayer playlist with gameplay and historical ordering
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerHistoryList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylistDisplayMode.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: blocked, type:UI, area:multiplayer, size/XL

#15919 Add `IRulesetStore` to allow for transitional usage in upcoming manager classes
  osu.Game.Tests/Database/RulesetStoreTests.cs
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game.Tests/Visual/Online/TestSceneBeatmapRulesetSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game.Tournament.Tests/Components/TestSceneTournamentBeatmapPanel.cs
  osu.Game.Tournament.Tests/Components/TestSceneTournamentModDisplay.cs
  osu.Game.Tournament/Components/TournamentModIcon.cs
  osu.Game.Tournament/IPC/FileBasedIPC.cs
  osu.Game/Beatmaps/DifficultyRecommender.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Models/RealmRuleset.cs
  osu.Game/Online/API/Requests/GetUserRequest.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/BeatmapSet/LeaderboardModSelector.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Recent/DrawableRecentActivity.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
  osu.Game/Rulesets/IRulesetInfo.cs
  osu.Game/Rulesets/IRulesetStore.cs
  osu.Game/Rulesets/RulesetInfo.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/Play/SoloSpectator.cs
  osu.Game/Stores/RealmRulesetStore.cs
  osu.Game/Users/UserActivity.cs
Labels: type:code-quality, size/L

#15934 Fix lazer replays not importing correctly on some locales
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:replay, size/M

#15936 Don't debounce `MultiplayerRoomComposite` events
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
Labels: type:code-quality, area:multiplayer, size/XS

#15941 Fix BeatSyncedContainer using wrong EffectControlPoint when early activating
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatSyncedContainer.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
Labels: type:UI, size/M

#15949 Reword xmldoc of `MultiplayerPlaylistItem.PlaylistOrder` to better match actual behaviour
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
Labels: area:multiplayer, size/XS, type:documentation

#15929 Update test multiplayer client to match server implementation
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: type:testing, area:multiplayer, size/S

#15950 Ensure user is returned to the `RoomSubScreen` before gameplay is started
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/M

#15859 Use realm for skins
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaComposeScreen.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game.Tests/Skins/TestSceneSkinResources.cs
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Navigation/TestSceneEditDefaultSkin.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/OsuDbContext.cs
  osu.Game/Database/RealmContextFactory.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/EFSkinInfo.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacyDatabasedSkinResourceStore.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinResourceStore.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinFileInfo.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinModelManager.cs
  osu.Game/Skinning/SkinStore.cs
  osu.Game/Stores/RealmArchiveModelManager.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:database, size/XXL

#15883 Optimise skin filename lookups post realm migration
  osu.Game/Skinning/LegacyDatabasedSkinResourceStore.cs
Labels: area:database, size/S

#15951 Fix intermittent test failures in scenes using `SpectatorClient`
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecording.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
Labels: size/XL

#15898 Serialise and deserialise `SkinInfo.InstantiationInfo` to allow for more correct imports
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Database/IModelFileManager.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinModelManager.cs
  osu.Game/Stores/RealmArchiveModelManager.cs
Labels: area:skinning, size/L

#15952 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#15953 Update test multiplayer client implementation
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: type:testing, area:multiplayer, size/M

#15959 Fix skin setting resetting every launch
  osu.Game/Database/EFToRealmMigrator.cs
Labels: area:database, size/S

#15968 Move API request response size log to correct logging target
  osu.Game/Online/API/APIRequest.cs
Labels: type:online, size/XS

#15972 Fix `GetPlayableBeatmap` timeout not being applied when no `CancellationToken` is provided to difficulty calculations
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
Labels: area:difficulty, size/S

#15974 Fix multiplayer user panels potentially getting out of sync with player's state
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
Labels: area:multiplayer, size/XS

#15975 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#15976 Add match type and queue mode to multiplayer room panels
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/MatchTypePill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/QueueModePill.cs
Labels: type:UI, area:multiplayer, size/L

#15948 Add difficulty dropdown to beatmap card
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardContent.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardExtraInfoRow.cs
  osu.Game/Beatmaps/Drawables/Cards/HoverHandlingContainer.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/Profile/ProfileSection.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
  osu.Game/Screens/Play/SoloSpectator.cs
Labels: type:UI, size/XL, area:overlay-beatmap-listing

#15879 Load playlist panels on demand to reduce initial load time when joining a room
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Components/StarRatingRangeDisplay.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:performance, area:multiplayer, size/L

#15758 Make speed skill consider only the shortest movement distance
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: area:difficulty, size/XS

#15978 Scale card when expanding to better distinguish hovered card from other cards in listing
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardContent.cs
Labels: type:UI, size/S

#15989 Fix editor crashing if paste is performed while composer is loading
  osu.Game.Tests/Visual/Editing/TestSceneDifficultySwitching.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
Labels: area:editor, size/XS, type:reliability

#15988 Fix test failures in team versus test
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
Labels: type:testing, size/XS, type:reliability

#16000 Fix `LegacyComboCounter` not handling non-default anchor/origin specifications correctly
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
Labels: area:gameplay, size/M

#16001 Fix the local user's rank not showing on multiplayer/playlist results screen
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, size/XS

#15992 Disable minimum frame durations on osu! for iOS
  osu.Game.Rulesets.Catch.Tests.iOS/Info.plist
  osu.Game.Rulesets.Mania.Tests.iOS/Info.plist
  osu.Game.Rulesets.Osu.Tests.iOS/Info.plist
  osu.Game.Rulesets.Taiko.Tests.iOS/Info.plist
  osu.Game.Tests.iOS/Info.plist
  osu.iOS/Info.plist
Labels: type:performance, platform:iOS, size/S

#16005 Add sounds for IME composition
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
Labels: type:UI, type:UX, size/M

#15682 Add `IsManaged` helper method to EF classes to match realm implementation
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapDifficulty.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Beatmaps/BeatmapSetFileInfo.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Configuration/DatabasedSetting.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/IHasPrimaryKey.cs
  osu.Game/IO/FileInfo.cs
  osu.Game/Scoring/ScoreFileInfo.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Skinning/EFSkinInfo.cs
  osu.Game/Skinning/SkinFileInfo.cs
  osu.Game/Skinning/SkinInfo.cs
Labels: area:database, size/M

#16009 Cleanup DrawableRoomPlaylist and DrawableRoomPlaylistItem
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsRoomSettingsPlaylist.cs
  osu.Game/Screens/OnlinePlay/Components/MatchBeatmapDetailArea.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistWithResults.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerHistoryList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsPlaylist.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:code-quality, area:multiplayer, size/XL

#15774 Refactor OsuDifficultyHitObject for readability/understandability
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Flashlight.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: type:code-quality, ruleset:osu!, area:difficulty, size/L

#16010 Implement multiplayer playlist item removal
  osu.Game.Tests/Visual/Online/TestSceneMultiplayerQueueList.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#16022 Fix incorrect test namespace
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
Labels: type:testing, area:multiplayer, size/XS

#15999 Fix the unmute notification potentially overwriting user's volume levels unnecessarily
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: type:UX, size/S

#16019 Cleanup duplicated classes in DrawableRoomPlaylistItem
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: type:code-quality, size/M

#16024 Add the ability to create playlists of 2 weeks ~ 3 months in duration
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
Labels: size/M, area:playlists

#16017 Fix potential crash due to children being mutated after disposal
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/M, type:reliability

#16020 Add support for enqueueing items in host-only mode, and changing arbitrary playlist items
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#16027 Add update thread asserts to `RoomManager` methods
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
Labels: type:code-quality, size/XS

#16028 Update framework
  .config/dotnet-tools.json
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#16025 Clean up various issues surrounding `ScoreInfo` in preparation for realm migration
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game.Tests/Scores/IO/TestScoreEquality.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerTeamResults.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileScores.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneScorePanelList.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Database/OsuDbContext.cs
  osu.Game/Extensions/ModelExtensions.cs
  osu.Game/Online/API/Requests/GetUserScoresRequest.cs
  osu.Game/Online/API/Requests/Responses/APIScore.cs
  osu.Game/Online/API/Requests/Responses/APIScoreWithPosition.cs
  osu.Game/Online/API/Requests/Responses/APIScoresCollection.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Online/Rooms/MultiplayerScore.cs
  osu.Game/Online/ScoreDownloadTracker.cs
  osu.Game/Online/Solo/SubmittableScore.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Scoring/IScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Scoring/ScoreModelDownloader.cs
  osu.Game/Scoring/ScoreModelManager.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsResultsScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: type:code-quality, size/L

#16029 Fix editor not resetting mods when entering
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/EditorLoader.cs
Labels: area:editor, type:UX, size/S

#16061 Fix results sometimes showing incorrect score position
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsResultsScreen.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelTopContent.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: area:multiplayer, area:results, size/M

#16065 Display game version overlay behind the overlays layer
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGame.cs
Labels: type:UI, size/S

#16069 Refactor `KeyBindingStore` to clean up any excess bindings for individual actions
  osu.Game.Tests/Database/TestRealmKeyBindingStore.cs
  osu.Game/Input/RealmKeyBindingStore.cs
Labels: area:database, size/M

#16070 Move test `ScoreInfo` creation to `TestResources`
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailJudgement.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerTeamResults.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneContractedPanelMiddleContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelTopContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneScorePanel.cs
  osu.Game.Tests/Visual/Ranking/TestSceneScorePanelList.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Tests/TestScoreInfo.cs
Labels: type:code-quality, size/L

#16062 Increase score submission timeout
  osu.Game/Online/Rooms/SubmitRoomScoreRequest.cs
  osu.Game/Online/Solo/SubmitSoloScoreRequest.cs
Labels: type:online, size/XS

#16045 Rework multiplayer's current item tracking
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#16080 Fix incorrect storyboard life time start with looping commands
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:storyboard, size/S

#16081 Fix `BackgroundScreenDefault` incorrectly updating current background after being inactive
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
Labels: type:UI, area:main menu, size/L

#16068 Improve appearance of player-wide background after failing with low background dim
  osu.Game/Screens/Play/FailAnimation.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, type:UI, size/S

#15967 Check word boundaries during username mention matching
  osu.Game.Tests/Online/Chat/MessageNotifierTest.cs
  osu.Game/Online/Chat/MessageNotifier.cs
Labels: area:overlay-chat, size/L

#16083 Fix `OnlinePlayBeatmapAvailabilityTracker` failng after modified reimport of existing beatmap
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
Labels: area:database, size/L

#16072 Eliminate iterations with no effect from rhythm bonus calculation
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: type:performance, ruleset:osu!, area:difficulty, size/M

#16095 Fix exception when updating the room's visual playlist
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
Labels: area:multiplayer, size/M

#15990 Fix `SettingsNumberBox` accepting non-number characters
  osu.Android.props
  osu.Game/Graphics/UserInterface/OsuNumberBox.cs
  osu.Game/Overlays/Settings/SettingsNumberBox.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:input, size/S

#16075 Add AbortGameplay() to fix state transition race conditions during multiplayer load
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/M

#16097 Don't reset spectating state if spectator exited after gameplay finishes
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/TestMultiplayerScreenStack.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
Labels: type:UX, area:multiplayer, size/M

#16091 Fix the taiko scroller bar appearing during cinema mod
  osu.Game/Rulesets/Mods/ModCinema.cs
Labels: area:gameplay, size/XS

#16094 Fix beatmap card potentially collapsing when it shouldn't
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardContent.cs
  osu.Game/Screens/Play/SoloSpectator.cs
Labels: type:UI, size/L, area:overlay-beatmap-listing

#16106 Update a few more public facing usages of "lazer"
  CONTRIBUTING.md
  README.md
Labels: size/S, type:documentation

#16090 Fix toast popups spamming samples when adjusting osu!mania scroll speed during gameplay
  osu.Game/Overlays/OSD/TrackedSettingToast.cs
  osu.Game/Overlays/OnScreenDisplay.cs
Labels: area:settings, size/S, type:audio

#16109 Don't show multiplayer channels in chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: area:multiplayer, area:overlay-chat, size/M

#16116 Avoid applying mouse down effects to menu cursor when it isn't visible
  osu.Game/Graphics/Cursor/MenuCursor.cs
Labels: size/S

#16030 Fix autopilot not working as expected on touch devices
  osu.Game.Rulesets.Osu/OsuInputManager.cs
Labels: type:input, area:mods, size/S

#16108 Fix date tooltips potentially displaying in UTC time
  osu.Game/Graphics/DateTooltip.cs
Labels: type:UI, size/XS

#16077 Fix crash on accessing settings after moving game folder
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaComposeScreen.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Database/RealmTest.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/Database/RealmLiveUnmanaged.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/IO/IStorageResourceProvider.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Stores/RealmArchiveModelImporter.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:database, size/L

#16127 Update framework
  osu.Android.props
  osu.Desktop/Program.cs
  osu.Game/OsuGame.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#16111 Test hyperdash generation in catch conversion tests
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/basic-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/basic-hyperdash-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/basic-hyperdash.osu
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/hardrock-repeat-slider-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/hardrock-spinner-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/hardrock-stream-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/right-bound-hr-offset-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/slider-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/spinner-and-circles-expected-conversion.json
  osu.Game.Rulesets.Catch/Resources/Testing/Beatmaps/spinner-expected-conversion.json
Labels: ruleset:osu!catch, area:beatmap, type:testing, size/XXL

#16128 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#16142 Fix "Random Skin" text not showing up correctly
  osu.Game/Database/RealmLiveUnmanaged.cs
Labels: area:settings, size/XS

#16158 Fix rank graph showing for unranked users on profile overlay
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Users/UserStatistics.cs
Labels: type:online, area:overlay-user-profile, size/L

#16163 Require installing .NET 5 in README
  README.md
Labels: size/XS, type:documentation

#16165 Add better fix for intermittent multiplayer tests as a result of async room joins
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomManager.cs
Labels: type:testing, size/M

#16164 Fix intermittent background screen test failures
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
Labels: type:testing, size/XS

#16166 Add wait step to `TestScenePlaylistResultScreen` explicitly for screen load
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
Labels: type:testing, size/XS, type:reliability

#16172 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/TestMultiplayerComponents.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#16169 Add better defined steps to `TestLoseHostWhileReady` ready button test
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
Labels: type:testing, size/XS

#15728 Remove decay factor in Flashlight skill
  osu.Game.Rulesets.Osu/Difficulty/Skills/Flashlight.cs
Labels: ruleset:osu!, area:difficulty, size/XS

#16168 Avoid blocking windows key usage when the osu! window is not active
  osu.Desktop/Windows/GameplayWinKeyBlocker.cs
Labels: type:UX, size/XS, platform:windows

#16187 Fix potential wrong thread mutation in `ColourHitErrorMeter`
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
Labels: size/S, type:reliability

#16188 Centralise all multiplayer button clicking test logic
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: type:testing, size/L

#16189 Fix intermittent failures on `TestSceneBeatmapListingOverlay`
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
Labels: size/S

#16192 Add logging of `MultiplayerMatchSubScreen` exiting from room loss
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: type:testing, size/XS

#16194 Fix intermittent test failures on `TestSceneResultsScreen` due to long delay step
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
Labels: type:testing, size/S

#15867 Fix cumulative strain time calculation in Flashlight skill
  osu.Game.Rulesets.Osu/Difficulty/Skills/Flashlight.cs
Labels: ruleset:osu!, area:difficulty, size/S

#16178 Fix lounge screen showing information sourced from wrong playlist item
  osu.Game.Tests/OnlinePlay/PlaylistExtensionsTest.cs
  osu.Game/Online/Rooms/PlaylistExtensions.cs
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundSprite.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayComposite.cs
Labels: type:UI, area:multiplayer, size/L

#16181 Split session statics reset method to prevent unloading seasonal backgrounds
  osu.Game.Tests/NonVisual/SessionStaticsTest.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/OsuGame.cs
Labels: area:main menu, size/M

#16199 Ensure `CustomDataDirectoryTest` methods use a fresh directory to avoid IO errors
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
Labels: type:testing, size/M

#16200 Fix online lookup caches potentially getting stuck
  osu.Game/Database/BeatmapLookupCache.cs
  osu.Game/Database/OnlineLookupCache.cs
  osu.Game/Database/UserLookupCache.cs
Labels: type:online, size/L, type:reliability

#16201 Improve contrast of timeline blueprint foreground content for pastel combo colours
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, type:UX, size/XS

#16198 Fix delete button showing on current item before beatmap retrieval
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
Labels: area:multiplayer, size/M

#16205 Fix multiplayer test failures when checking for parted room
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
Labels: type:testing, area:multiplayer, size/XS

#16206 Fix `ImportCollectionsTest.TestSaveAndReload` not cleaning up before run
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
Labels: type:testing, size/S, type:reliability

#16212 Fix potential errors thrown during beatmap leaderboard display due to incorrect beatmap reference
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: size/S, type:reliability

#16135 Slightly refactor difficulty and pp calculators
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceAttributes.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/PerformanceAttributes.cs
  osu.Game/Rulesets/Difficulty/PerformanceCalculator.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Play/HUD/PerformancePointsCounter.cs
Labels: area:difficulty, size/L

#16214 Fix placeholder drawables on beatmap listing not always showing correctly
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: size/S, type:reliability, area:overlay-beatmap-listing

#16213 Tidy up `WorkingBeatmap`
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardSamplePlayback.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Beatmaps/IWorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
Labels: type:code-quality, size/L

#16217 Fix potential crash from cross-thread drawable mutation in collection management
  osu.Game/Collections/DrawableCollectionListItem.cs
Labels: size/XS, type:reliability

#16218 Adjust testing methodology to improve reliability of mosue wheel volume adjust tests
  osu.Game.Tests/Visual/Navigation/TestSceneMouseWheelVolumeAdjust.cs
Labels: size/S, type:reliability

#16223 Update framework
  osu.Android.props
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Rulesets/TestSceneDrawableRulesetDependencies.cs
  osu.Game/IO/Archives/ArchiveReader.cs
  osu.Game/Localisation/ResourceManagerLocalisationStore.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#16184 Allow dragging multiple slider path control points at once
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset:osu!, area:editor, size/L

#16224 Fix TestMultiplayerClient referencing the wrong playlist
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: type:testing, size/XS

#16231 Fix ruleset config cache potentially not working correctly in test contexts
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneEditor.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneTimingBasedNoteColouring.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/RulesetSettingsSubsection.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/IRulesetConfigCache.cs
  osu.Game/Rulesets/RulesetConfigCache.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Tests/Rulesets/TestRulesetConfigCache.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: type:testing, size/L, type:reliability

#16232 Add card size switcher to beatmap listing overlay
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingCardSizeTabControl.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardExtra.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNormal.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardSize.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingCardSizeTabControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:UI, size/L, area:overlay-beatmap-listing

#16238 Fix incorrect delegate capture leading to slow leak of audio tracks
  osu.Game/Overlays/MusicController.cs
Labels: type:performance, size/S

#16239 Fix some more test directory usage weirdness
  osu.Android.props
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game.Tests/Database/RealmTest.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament.Tests/NonVisual/DataLoadTest.cs
  osu.Game.Tournament.Tests/NonVisual/IPCLocationTest.cs
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:testing, size/L

#16237 Improve reliability of exiting gameplay in multiplayer
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayerLoader.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:multiplayer, size/M

#16234 Fix OsuAnimatedButton animating when initially disabled
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuAnimatedButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuButton.cs
  osu.Game/Graphics/UserInterface/OsuAnimatedButton.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
Labels: type:UI, size/L

#16240 Update `OsuGameActivity` and manifest in line with framework changes
  osu.Android/OsuGameActivity.cs
  osu.Android/Properties/AndroidManifest.xml
  osu.Android/Properties/AssemblyInfo.cs
  osu.Android/osu.Android.csproj
  osu.Game.Rulesets.Catch.Tests.Android/MainActivity.cs
  osu.Game.Rulesets.Mania.Tests.Android/MainActivity.cs
  osu.Game.Rulesets.Osu.Tests.Android/MainActivity.cs
  osu.Game.Rulesets.Taiko.Tests.Android/MainActivity.cs
  osu.Game.Tests.Android/MainActivity.cs
Labels: platform:android, size/M

#16254 Fix "disable beatmap hitsounds" setting also preventing storyboard samples from playing
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
Labels: area:storyboard, area:settings, size/M, type:audio

#16257 Fix legacy combo counter not fully hiding for rulesets that implement their own
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableComboCounter.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
Labels: ruleset:osu!catch, area:skinning, size/M

#16265 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#16268 Revert rename of implicitly-used newtonsoft method
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Online/Rooms/Room.cs
Labels: type:code-quality, size/M

#16271 Remove unused SharpRaven package reference from osu.iOS.props
  osu.iOS.props
Labels: dependencies, size/XS

#16272 Add support for animated hit circle overlay
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/hitcircleoverlay-0@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/hitcircleoverlay-1@2x.png
  osu.Game.Rulesets.Osu/Skinning/Legacy/KiaiFlashingDrawable.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/KiaiFlashingSprite.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: ruleset:osu!, area:skinning, size/L

#16283 Fix `TestSceneMultiSpectatorLeaderboard` not waiting for user population
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
Labels: type:testing, size/XS

#16282 Fix null reference causing crash in `KiaiFlashingDrawable`
  osu.Game.Rulesets.Osu/Skinning/Legacy/KiaiFlashingDrawable.cs
Labels: ruleset:osu!, area:skinning, size/XS, type:reliability

#16284 Avoid potential deadlocks in `ArchiveReader` synchronous implementation
  osu.Game/IO/Archives/ArchiveReader.cs
  osu.sln.DotSettings
Labels: size/S, type:reliability
