Repository ppy/osu, pull requests merged in 2021-04, with the labels that each got.

#12262 Add dropdown option to export score
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, size/XS

#12259 Guard against same ruleset file with filenames of loaded assembly location instead
  osu.Game/Rulesets/RulesetStore.cs
Labels: size/XS

#12265 Add classic mod setting to always play slider tail samples
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
Labels: size/S

#11849 Fix clockrate adjusted difficulty calculations bug in strain decay
  osu.Game.Rulesets.Catch.Tests/CatchDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Mania.Tests/ManiaDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Preprocessing/DifficultyHitObject.cs
  osu.Game/Rulesets/Difficulty/Skills/Skill.cs
Labels: area:difficulty, size/M

#12275 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12276 Make beatmap listing use unicode title & artist name
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
Labels: size/S, type:UI

#12271 Open editor file selector in the directory of the previous selection
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:editor, size/XS, type:UI

#12254 Move frame-handling spectator logic into abstract base class
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Screens/Play/SoloSpectator.cs
  osu.Game/Screens/Spectate/GameplayState.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: area:spectator, size/XL

#12279 Fix editor clock test scene not re-enabling beatmap
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
Labels: size/XS, type:reliability, type:testing

#12280 Fix editor arrow seek snapping not updating after control point changes
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeeking.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorClock.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
Labels: area:editor, size/L

#12285 Fix crash when right clicking online score
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: size/XS, type:reliability

#12284 Fix scores being initially visible incorrectly in gameplay screen
  osu.Game.Tournament.Tests/Screens/TestSceneGameplayScreen.cs
  osu.Game.Tournament/Screens/Gameplay/Components/MatchHeader.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamDisplay.cs
Labels: area:tournament, size/M, type:UI

#12290 Fix IPC Source getting read from the incorrect location
  osu.Game.Tournament.Tests/TournamentTestScene.cs
  osu.Game.Tournament/Models/StableInfo.cs
Labels: area:tournament, size/S

#11689 Refactor to encapsulate strain logic into Skill class
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Preprocessing/DifficultyHitObject.cs
  osu.Game/Rulesets/Difficulty/Skills/Skill.cs
Labels: area:difficulty, size/L

#12294 Adjust scoring values to better fit osu!mania expectations
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
Labels: area:scoring, size/S

#12304 Disable sdk linker for android debug releases
  osu.Android/osu.Android.csproj
  osu.Game.Rulesets.Catch.Tests.Android/osu.Game.Rulesets.Catch.Tests.Android.csproj
  osu.Game.Rulesets.Mania.Tests.Android/osu.Game.Rulesets.Mania.Tests.Android.csproj
  osu.Game.Rulesets.Osu.Tests.Android/osu.Game.Rulesets.Osu.Tests.Android.csproj
  osu.Game.Rulesets.Taiko.Tests.Android/osu.Game.Rulesets.Taiko.Tests.Android.csproj
  osu.Game.Tests.Android/osu.Game.Tests.Android.csproj
Labels: area:tooling, platform:android, size/M

#11690 Refactor to abstract out strain logic into StrainSkill class
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Colour.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Skills/Skill.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
Labels: area:difficulty, size/L

#12303 Make last control point not able to make an implicit segment
  osu.Game.Rulesets.Osu.Tests/OsuBeatmapConversionTest.cs
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/multi-segment-slider-expected-conversion.json
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/multi-segment-slider.osu
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/multi-segment-slider.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap, size/L

#12309 Fix floating point error in slider path encoding
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap, size/M

#12308 Fix not being able to select timeline blueprints in intro time
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/M

#12225 Ensure GlobalActions are handled before anything else game-wide
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/Navigation/OsuGameTestScene.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Input/Bindings/GlobalInputManager.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: size/M, type:input

#12269 Use OnlineViewContainer for BeatmapDetails
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapDetails.cs
  osu.Game/Online/OnlineViewContainer.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: area:song-select, size/L, type:UI, type:online

#12283 Refresh setup screen appearance to be closer to design
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeaderBackground.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
Labels: area:editor, blocked, size/L, type:UI

#12310 Fix consecutive perfect curve segments not being loaded properly
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/multi-segment-slider.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap, size/M

#12314 Fix invalid array definition in slnf
  osu.Desktop.slnf
Labels: area:tooling, size/XS

#12315 Fix typo in class name
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Screens/OnlinePlay/Components/ReadyButton.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: size/S, type:code-quality

#12316 Fix gameplay mouse cursor being overridden by menu cursor
  osu.Game/OsuGameBase.cs
Labels: size/S

#9194 Allow rebinding Song Select mods/random/options keys
  osu.Game.Rulesets.Osu.Tests/OsuSkinnableTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneInputDrum.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectFooter.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Overlays/KeyBinding/GlobalKeyBindingsSection.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
  osu.Game/Screens/Select/FooterButtonOptions.cs
  osu.Game/Screens/Select/FooterButtonRandom.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/L

#12122 Fix freezes due to large circular arc radius
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderControlPointPiece.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: area:editor, ruleset:osu!, size/L

#12334 Fix regressions caused by having nested global input manager
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Input/Bindings/GlobalInputManager.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: size/M, type:input

#12321 Add multiplayer spectating user state and button
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchFooter.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerUserState.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchFooter.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/StateDisplay.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/XL

#12342 Fix intermittent test failure
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
Labels: size/XS, type:testing

#12343 Update rider metadata files for 2021.1
  .idea/.idea.osu.Desktop/.idea/indexLayout.xml
  .idea/.idea.osu.Desktop/.idea/modules.xml
Labels: area:tooling, size/S

#12344 Fix slightly incorrect solo score submission routes
  osu.Game/Online/Solo/CreateSoloScoreRequest.cs
  osu.Game/Online/Solo/SubmitSoloScoreRequest.cs
Labels: size/XS, type:online

#12347 Remove obsolete code
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/BeatmapStatistic.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: size/M, type:code-quality

#12348 Fix scores not being accepted due to missing ruleset ID
  osu.Game/Online/Solo/CreateSoloScoreRequest.cs
  osu.Game/Screens/Play/SoloPlayer.cs
Labels: size/S, type:online

#12349 Fix catcher position update delayed one frame (alternative solution)
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchReplay.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
Labels: area:replay, ruleset:osu!catch, size/M

#12340 Add support for sliderwhistle
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:gameplay, ruleset:osu!, size/M, type:audio

#12337 Improve UX of correcting invalid slider path types
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: area:editor, ruleset:osu!, size/L, type:UX

#12354 Reduce the randomised pitch range of hover sounds
  osu.Game/Graphics/UserInterface/HoverSounds.cs
  osu.Game/Screens/Select/Carousel/CarouselHeader.cs
Labels: size/XS, type:audio

#11688 Implement dynamic previous hitobject retention for Skill class
  osu.Game.Tests/NonVisual/LimitedCapacityStackTest.cs
  osu.Game.Tests/NonVisual/ReverseQueueTest.cs
  osu.Game/Rulesets/Difficulty/Skills/Skill.cs
  osu.Game/Rulesets/Difficulty/Utils/LimitedCapacityStack.cs
  osu.Game/Rulesets/Difficulty/Utils/ReverseQueue.cs
Labels: area:difficulty, size/L

#12353 Add a hover sample type for SongSelect buttons
  osu.Android.props
  osu.Game/Graphics/UserInterface/HoverSounds.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#12356 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12367 Add follow delay setting to osu! flashlight mod
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
Labels: area:mods, ruleset:osu!, size/S

#12374 Fix multiplayer test failure
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/XS, type:testing

#12377 Remove empty <returns> xmldoc
  osu.Desktop/Program.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Configuration/SettingsStore.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/IO/Serialization/IJsonSerializable.cs
  osu.Game/Input/KeyBindingStore.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/Scoring/HitWindows.cs
  osu.Game/Screens/Edit/Components/RadioButtons/RadioButton.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/LegacyModConversionTest.cs
  osu.Game/Utils/Optional.cs
Labels: size/S, type:code-quality

#12378 Fix mods not being serialised correctly in ScoreInfo
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:mods, size/M, type:online

#12352 Implement the multiplayer spectator leaderboard
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectatorLeaderboard.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiplayerSpectatorLeaderboard.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:multiplayer, size/L

#11328 Fix mods using reference equality unless cast to `IMod`
  osu.Game.Tests/Mods/ModSettingsEqualityComparison.cs
  osu.Game/Online/API/APIMod.cs
  osu.Game/Online/API/ModSettingsDictionaryFormatter.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Utils/ModUtils.cs
Labels: area:multiplayer, size/L, type:code-quality

#12394 Change default waveform opacity
  osu.Game/Configuration/OsuConfigManager.cs
Labels: area:editor, size/S, type:UX

#12393 Update timeline tick display to differentiate tick type using width
  osu.Game.Tests/Visual/Editing/TimelineTestScene.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/L

#12390 Fix import multiple file types via drag potentially reaching the wrong importer
  osu.Game/OsuGameBase.cs
Labels: size/S

#12350 Add the multiplayer spectator player grid
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectatorPlayerGrid.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid_Cell.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid_Facade.cs
Labels: area:multiplayer, size/L

#12391 Display separate "replays watched" tooltip for replays subsection
  osu.Game.Tests/Visual/Online/TestSceneUserHistoryGraph.cs
  osu.Game/Overlays/Profile/Sections/Historical/ChartProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/PlayHistorySubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/ProfileLineChart.cs
  osu.Game/Overlays/Profile/Sections/Historical/ReplaysSubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
Labels: area:overlay-user-profile, size/M, type:UI, type:UX

#12375 Remove alt-mousewheel bindings for volume adjustment
  osu.Android.props
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.Designer.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:editor, size/M, type:input

#12382 Fix selecting a slider correcting its path
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorSelectInvalidPath.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: area:editor, ruleset:osu!, size/M, type:UX

#12389 Fix ctrl-dragging on an existing selection unexpectedly causing deselection
  osu.Game.Tests/Visual/Editing/TestSceneEditorQuickDelete.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSelection.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/L

#12396 Update timeline slider/spinner apperance
  osu.Game.Tests/Visual/Editing/TestSceneTimelineHitObjectBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/L

#12397 Simplify ExtendableCircle component
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/M, type:code-quality

#12361 Add basic AiMod-like features
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckOffscreenObjectsTest.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOffscreenObjects.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Tests/Editing/Checks/CheckBackgroundTest.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackground.cs
  osu.Game/Rulesets/Edit/Checks/Components/CheckCategory.cs
  osu.Game/Rulesets/Edit/Checks/Components/CheckMetadata.cs
  osu.Game/Rulesets/Edit/Checks/Components/ICheck.cs
  osu.Game/Rulesets/Edit/Checks/Components/Issue.cs
  osu.Game/Rulesets/Edit/Checks/Components/IssueTemplate.cs
  osu.Game/Rulesets/Edit/Checks/Components/IssueType.cs
  osu.Game/Rulesets/Edit/IBeatmapVerifier.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreenMode.cs
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Verify/IssueSettings.cs
  osu.Game/Screens/Edit/Verify/IssueTable.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
Labels: area:editor, size/XXL

#12395 Fix beatmap background displayed if storyboard is hidden on "Cinema" mod
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Rulesets/Mods/ModCinema.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:storyboard, size/M, type:UI

#12416 Ignore user settings on beatmap background screens by default
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
Labels: area:song-select, size/M, type:UI

#12418 Make `Mod.Description` abstract and add missing descriptions
  osu.Game.Rulesets.Mania/Mods/ManiaModMirror.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTouchDevice.cs
  osu.Game.Tests/NonVisual/DifficultyAdjustmentModCombinationsTest.cs
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game.Tests/Online/TestAPIModMessagePackSerialization.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModNoMod.cs
Labels: area:mods, size/S, type:code-quality

#12330 Send a warning notification if device is unplugged and at low battery
  osu.Android/OsuGameAndroid.cs
  osu.Android/Properties/AndroidManifest.xml
  osu.Android/osu.Android.csproj
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Utils/BatteryInfo.cs
  osu.Game/osu.Game.csproj
  osu.iOS/OsuGameIOS.cs
  osu.iOS/osu.iOS.csproj
Labels: area:gameplay, platform:mobile, size/L

#12422 Remove usage of Lazy<List<...>> by always allocating an empty list
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: size/M, type:code-quality

#12420 Add rounded corners to timeline ticks display
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
Labels: area:editor, size/XS, type:UI

#12421 Show correct colours (and improve design) of summary timeline
  osu.Android.props
  osu.Game.Tests/Visual/Editing/TestSceneEditorSummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/DurationVisualisation.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:editor, size/M, type:UI

#12423 Show kiai time on summary timeline (and split out other control point types)
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
Labels: area:editor, size/L, type:UI

#12428 Fix gameplay cursor showing offscreen
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
Labels: area:gameplay, size/XS, type:UI

#12376 Rewrite framed replay input handler for robustness
  osu.Game.Tests/NonVisual/FramedReplayInputHandlerTest.cs
  osu.Game.Tests/NonVisual/StreamingFramedReplayInputHandlerTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Input/Handlers/ReplayInputHandler.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: area:replay, size/XL

#12429 Simplify ExtendableCircle even more
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: size/XS, type:code-quality

#12412 Update timeline control point display
  osu.Game.Tests/Visual/Editing/TimelineTestScene.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointDisplay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointGroup.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimingPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TopPointPiece.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: area:editor, size/L, type:UI

#12406 Fix volume controls not supporting key repeat
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
Labels: area:overlays, size/M, type:UX

#12410 Add "Barrel Roll" mod
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: area:mods, ruleset:osu!, size/M

#12408 Hide top-right HUD overlay elements as part of HUD visibility
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/XS, type:UX

#12405 Add support for legacy skin's `CursorCentre` setting
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/cursor.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/cursortrail.png
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursor.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: area:skinning, ruleset:osu!, size/M

#12404 Add simple acceleration to volume metre adjustments
  osu.Game/Overlays/Volume/VolumeMeter.cs
Labels: area:overlays, size/M, type:UX

#12431 Fix timeline seeking to an incorrect initial location
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: size/S

#12436 Fix slider not displaying in timeline during zero-duration placement
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/XS

#12437 Fix placement blueprints not being correctly removed after a rolled back placement
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSpanPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/M

#12441 Fix an occasional crash when deleting a HitObject via internal means
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/XS, type:reliability

#12439 Further refactor FrameReplayInputHandler, simplify the template code
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/Replays/EmptyFreeformFramedReplayInputHandler.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Replays/PippidonFramedReplayInputHandler.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/Replays/CatchFramedReplayInputHandler.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneAutoGeneration.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
  osu.Game.Rulesets.Osu/Replays/OsuFramedReplayInputHandler.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoAutoGenerator.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: area:replay, size/L, type:code-quality

#12442 Attempt to fix match subscreen test failure
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/XS, type:testing

#12443 Fix div-by-zero when scaling a 1-dimensional slider
  osu.Game.Rulesets.Osu.Tests/Editor/TestSliderScaling.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/M, type:reliability

#12440 Apply changes resulting from IBindable interface updates
  osu.Android.props
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:mods, size/S

#12445 Add border showing selected blueprints in timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/M

#12444 Avoid all scenarios where sliders can become zero length
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderLengthValidity.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: area:editor, ruleset:osu!, size/L, type:UX

#12456 Improve "barrel roll" mod settings description
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
Labels: area:mods, ruleset:osu!, size/XS, type:UX

#12460 Fix idle tracker assuming time starts at 0
  osu.Game.Tests/Visual/Components/TestSceneIdleTracker.cs
  osu.Game/Input/IdleTracker.cs
Labels: size/S, type:reliability

#12473 Fix selection box not displaying after pasting a selection in the editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M

#12476 Fix volume control displaying on non-vertical scroll events
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
Labels: area:overlays, size/XS, type:UI

#12481 Fix download button check icon not scaling on mouse down
  osu.Game/Graphics/UserInterface/DownloadButton.cs
Labels: size/XS, type:UI

#12446 Reset SessionStatics on inactivity
  osu.Game.Tests/NonVisual/SessionStaticsTest.cs
  osu.Game.Tests/Visual/Components/TestSceneIdleTracker.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: size/M, type:UX

#12484 Update the design of the editor timing screen
  osu.Game/Beatmaps/Timing/TimeSignatures.cs
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/Screens/Edit/RoundedContentEditorScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
  osu.Game/Screens/Edit/Timing/ControlPointSettings.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeBubbledWord.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeProgressBar.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/DifficultyRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/EffectRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/SampleRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/TimingRowAttribute.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
Labels: area:editor, size/XL, type:UX

#12485 Timing screen more updates
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeBubbledWord.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeText.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/DifficultyRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/EffectRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/SampleRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/TimingRowAttribute.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: area:editor, size/L

#12447 Record every 60fps interval
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
Labels: area:spectator, size/S, type:online

#12487 Update framework
  osu.Android.props
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#12478 Add read-only combo colour display to setup screen
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledColourPalette.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Graphics/UserInterfaceV2/ColourDisplay.cs
  osu.Game/Graphics/UserInterfaceV2/ColourPalette.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledColourPalette.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, size/L, type:UI

#12496 Fix storyboard samples not getting a lifetime end if initially seeked past
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSample.cs
Labels: area:storyboard, size/M, type:performance

#12497 Remove catcher fade during hyperdash
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: area:gameplay, ruleset:osu!catch, size/S, type:UI

#12499 Keep hitcircles aligned with view in "Barrel Roll" mod
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: area:gameplay, size/M

#12498 Allow faster roll speed selection in "Barrel Roll" mod
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
Labels: area:gameplay, size/XS

#12492 Add background and audio checks
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckOffscreenObjectsTest.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOffscreenObjects.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Editing/Checks/CheckAudioQualityTest.cs
  osu.Game.Tests/Editing/Checks/CheckBackgroundQualityTest.cs
  osu.Game.Tests/Editing/Checks/CheckFilePresenceTest.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapManager_WorkingBeatmap.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
  osu.Game/Beatmaps/IWorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioPresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackground.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundPresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckFilePresence.cs
  osu.Game/Rulesets/Edit/Checks/Components/ICheck.cs
  osu.Game/Rulesets/Edit/IBeatmapVerifier.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
Labels: area:editor, size/XL

#12506 Fix mod settings blocking input outside its visible area
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: area:mods, area:song-select, size/S, type:UI

#12507 Fix click-to-resume cursor location being incorrect when playfield is transformed
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
Labels: area:gameplay, area:mods, size/XS, type:UI

#12510 Fix slider tails wiggling independently
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
Labels: area:mods, ruleset:osu!, size/XS

#12513 Show tablet preview with physical tablet counter-rotated for supplied user area
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
Labels: area:settings, size/XS, type:input

#12486 Associate DrawableHitObject with HitObjectLifetimeEntry rather than HitObject
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerApplication.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneBarLineApplication.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumRollApplication.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneHitApplication.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/SyntheticHitObjectEntry.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:pooling, size/L, type:code-quality

#12516 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12525 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12448 Make GameplayClockContainer abstract and add MasterGameplayClockContainer
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Tests/Gameplay/TestSceneGameplayClockContainer.cs
  osu.Game.Tests/Gameplay/TestSceneMasterGameplayClockContainer.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkipOverlay.cs
  osu.Game/Screens/Play/GameplayClock.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SkipOverlay.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
Labels: area:multiplayer, size/XL

#12438 Fix OnUserBeganPlaying not being invoked if already watching
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: area:spectator, size/L

#12530 Improve catcher fruit distribution
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: area:gameplay, ruleset:osu!catch, size/L

#12527 Rollback hold note placement when length is zero
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
Labels: area:editor, size/XS

#12529 Allow shift+right-click deletion when in placement mode
  osu.Game.Tests/Visual/Editing/TestSceneEditorSelection.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/M, type:UX

#12526 Fix system messages always being displayed above standard messages
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game/Online/Chat/InfoMessage.cs
  osu.Game/Online/Chat/Message.cs
Labels: size/S

#12515 Apply "classic" mod to all legacy scores
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Mods/CatchModClassic.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModClassic.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Mods/ModClassic.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:scoring, size/M

#12519 Add editor hit animation toggle
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditRuleset.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Default/IMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/HitAnimationsMenuItem.cs
  osu.Game/Screens/Edit/WaveformOpacityMenuItem.cs
Labels: area:editor, size/M

#12534 Fix hold notes with 0 length crashing the game
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: area:gameplay, ruleset:osu!mania, size/S

#12531 Add simple key based time nudging support to editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorSelection.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: size/M

#12536 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12528 Add support for playing a per-ruleset sound when switching rulesets
  osu.Android.props
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S, type:UI, type:audio

#12537 Fix current match playing users not updated on room join
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/M

#12552 Fix Spelling Error 'passses'
  README.md
Labels: size/XS

#12553 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12461 Add "Floating Fruits" mod
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Mods/CatchModFloatingFruits.cs
Labels: area:mods, ruleset:osu!catch, size/M

#12555 Refine path for android logs in documentations
  .github/ISSUE_TEMPLATE/01-bug-issues.md
  CONTRIBUTING.md
Labels: size/XS, type:documentation

#12569 fix(docs): corrects typo in project README
  README.md
Labels: size/XS, type:documentation

#12546 Ensure source is set on GameplayClockContainer.Reset()
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: area:gameplay, size/S, type:audio

#12574 Fix missing animation of slider repeat and tail circle pieces
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
Labels: area:gameplay, ruleset:osu!, size/S

#12581 Fix simultaneous slider input not allowing both keys to be accepted
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SliderBall.cs
Labels: area:gameplay, ruleset:osu!, size/S

#12579 Rename "EditRuleset" and "EditPlayfield" to use full "Editor" keyword
  osu.Game.Rulesets.Mania/Edit/DrawableManiaEditorRuleset.cs
  osu.Game.Rulesets.Mania/Edit/ManiaEditorPlayfield.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/DrawableEditorRulesetWrapper.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: size/M, type:code-quality

#12580 Fix slider repeats and tails still animating with editor hit animations disabled
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Skinning/Default/IHasMainCirclePiece.cs
Labels: area:editor, size/L

#12500 Factor out pooling and lifetime management logic of DHO to a base class
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/Pooling/PoolableDrawableWithLifetime.cs
Labels: area:pooling, size/L

#12583 Fix exported scores not being compatible with osu-stable
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: area:replay, size/M

#12590 Fix a couple of inspections in editor code
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
Labels: area:editor, size/XS, type:code-quality

#12589 Send a notification if game is run as admin/root
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Security/ElevatedPrivilegesChecker.cs
  osu.Desktop/osu.Desktop.csproj
Labels: size/M, type:UX

#12585 Add method to safely refresh DrawableHitObject transforms
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:ruleset-api, size/S

#12598 Fix bonus score not calculated from the correct statistics
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, size/S

#12592 Fix Setting DHO's lifetime doesn't update its entry lifetime
  osu.Android.props
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#12602 Add support for custom controls to SettingSourceAttribute
  osu.Game.Tests/Mods/SettingsSourceAttributeTest.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
Labels: area:settings, size/M, type:UI

#12609 Fix import cancellation not correctly being forwarded to import notification
  osu.Game.Tests/Visual/Online/TestSceneDirectDownloadButton.cs
  osu.Game/Database/ArchiveModelManager.cs
Labels: area:overlay-beatmap-listing, size/M

#12603 Fix bonus-only maps having only 700K base score
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, size/S

#12610 Fix possible precision loss on exporting legacy replays
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:replay, size/XS

#12596 Make editor blueprint/selection components abstract
  osu.Game.Rulesets.Mania/Edit/ManiaBlueprintContainer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/OsuSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuBlueprintContainer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoBlueprintContainer.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneBlueprintSelection.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSelection.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/OverlaySelectionBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectOrderedSelectionContainer.cs
  osu.Game/Screens/Edit/Compose/Components/MoveSelectionEvent.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/XXL, type:code-quality

#12625 Refactor `SelectionBlueprint` and `MoveSelectionEvent` to work in screen-space coordinates
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Rulesets/Edit/OverlaySelectionBlueprint.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/MoveSelectionEvent.cs
Labels: area:editor, size/M

#12634 Fix editor buttons inheriting from `TriangleButton` when they have no need to
  osu.Game/Screens/Edit/Components/RadioButtons/DrawableRadioButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
Labels: area:editor, size/XS, type:code-quality

#12632 Refactor OsuModBarrelRoll to allow it's usage by other rulesets
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game/Rulesets/Mods/ModBarrelRoll.cs
Labels: area:mods, size/M
