Repository ppy/osu, pull requests merged in 2021-07, with the labels that each got.

#13682 Improve compatibility between mods which mutate approach circles
  osu.Game.Rulesets.Osu/Mods/IHidesApproachCircles.cs
  osu.Game.Rulesets.Osu/Mods/IMutateApproachCircles.cs
  osu.Game.Rulesets.Osu/Mods/IRequiresApproachCircles.cs
  osu.Game.Rulesets.Osu/Mods/OsuModApproachDifferent.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModObjectScaleTween.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpinIn.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
Labels: area:mods, ruleset:osu!, size/M

#13718 Fix intermittent `PerformFromScreen` test failures due to incorrect screen sequence
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
Labels: size/S, type:testing

#13719 Localise "Scroll to top" button in overlays
  osu.Game/Overlays/OverlayScrollContainer.cs
Labels: size/XS, type:localisation

#13720 Localise friends view in dashboard overlay
  osu.Game/Overlays/Changelog/ChangelogUpdateStreamItem.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/Dashboard/Friends/FriendsOnlineStatusItem.cs
  osu.Game/Overlays/Dashboard/Friends/OnlineStatus.cs
  osu.Game/Overlays/Dashboard/Friends/UserSortTabControl.cs
  osu.Game/Overlays/OverlayPanelDisplayStyleControl.cs
  osu.Game/Overlays/OverlayStreamItem.cs
Labels: area:overlays, size/L, type:localisation

#13723 Guard against a potential startup crash if user's preferred ruleset has a compatibility issue
  osu.Game/OsuGame.cs
Labels: size/S, type:reliability

#13724 Update SR colours to match osu-web
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
Labels: size/S, type:UI

#13725 Add star rating range display
  osu.Game.Tests/Visual/Multiplayer/TestSceneStarRatingRangeDisplay.cs
  osu.Game/Screens/OnlinePlay/Components/StarRatingRangeDisplay.cs
Labels: area:multiplayer, size/L, type:UI

#13741 Update dependencies
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Android.props
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: dependencies, size/M

#13743 Rename `Mod.Ranked` back to avoid breaking ruleset API
  osu.Game/Rulesets/Mods/Mod.cs
Labels: size/XS, type:code-quality

#13745 Fix the obsolete message in `Mod.Ranked` property
  osu.Game/Rulesets/Mods/Mod.cs
Labels: size/XS

#13714 Add osu!-styled colour picker control
  osu.Game.Tests/Visual/UserInterface/TestSceneColourPicker.cs
  osu.Game/Graphics/UserInterfaceV2/OsuColourPicker.cs
  osu.Game/Graphics/UserInterfaceV2/OsuHSVColourPicker.cs
  osu.Game/Graphics/UserInterfaceV2/OsuHexColourPicker.cs
  osu.sln.DotSettings
Labels: size/L, type:UI

#13744 Fix some incorrectly invoked `async` calls
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/OsuGame.cs
Labels: size/M, type:code-quality

#13742 Make flipping in the skin editor reflect across the axes of the selection box
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/XS, type:UX

#13721 Submit scores on player exit
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Tests/Visual/TestPlayer.cs
Labels: area:gameplay, size/L

#13685 Fix image overflow in wiki overlay
  osu.Android.props
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownImageBlock.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlay-wiki, size/L

#13382 Fix skin elements flipping when scaled below zero
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: size/XS

#13726 Add audio feedback for changing volume
  osu.Android.props
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:audio

#13727 Update disclaimer
  osu.Game/Screens/Menu/Disclaimer.cs
Labels: size/M, type:UI

#7674 Linkify metadata in beatmap details and overlay
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/MetadataSection.cs
  osu.Game/Overlays/BeatmapSet/MetadataType.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: area:song-select, size/L, type:UI

#13762 Remove some mentions of "lazer"
  osu.Desktop/osu.Desktop.csproj
  osu.Desktop/osu.nuspec
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapDetails.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Skinning/LegacyColourCompatibility.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Updater/UpdateManager.cs
Labels: size/M

#13766 Don't attempt to submit score when nothing has been hit
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:gameplay, size/M, type:online

#13765 Fix volume metre not correctly showing volume when initially zero
  osu.Game/Overlays/Volume/VolumeMeter.cs
Labels: area:overlay-volume, size/XS

#13746 Move caught object stack vertical offset logic
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset:osu!catch, size/S, type:code-quality

#13757 Fix incorrect `base` call causing import optimisation to not work
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ArchiveModelManager.cs
Labels: area:database, size/XS, type:performance

#13767 Fix thread safety of realm `Refresh` operation
  osu.Game.Tests/Database/TestRealmKeyBindingStore.cs
  osu.Game/Database/IRealmFactory.cs
  osu.Game/Database/RealmContextFactory.cs
Labels: area:database, size/M, type:reliability

#13756 Fix playlist item displays empty string if no unicode title is present
  osu.Game.Tests/Localisation/BeatmapMetadataRomanisationTest.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
Labels: area:playlists, size/M, type:localisation

#13774 Fix nested HitWindows not being considered if parent HitWindow is empty
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowTest.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: area:gameplay, size/L

#13778 Use a mock ruleset and mod to test unimplemented mods in mod select overlay
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
Labels: size/M

#13782 Fix incorrect filename
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowTest.cs
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowsTest.cs
Labels: size/L

#13781 Fix master clock becoming incorrectly paused when all spectator players are too far ahead
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/CatchUpSyncManager.cs
Labels: size/XS, type:testing

#13780 Disable foreign key enforcing at an sqlite level
  osu.Game/Database/OsuDbContext.cs
Labels: area:database, size/XS, type:reliability

#13784 Fix remaining incorrect filename
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowTest.cs
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowsTest.cs
Labels: size/M

#13747 Don't flip catcher plate contents when catcher changes direction
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch/Skinning/CatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
Labels: area:gameplay, ruleset:osu!catch, size/L

#13789 Disable IDE0057 and IDE0042 inspection
  .editorconfig
Labels: area:tooling, size/XS

#13790 Remove redundant arguments
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpinIn.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Tests/Beatmaps/SliderEventGenerationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneCompletionCancellation.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneProfileSubsectionHeader.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Graphics/UserInterface/StarCounter.cs
  osu.Game/Online/API/Requests/GetSpotlightRankingsRequest.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/MedalOverlay.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/Profile/Header/Components/PreviousUsernames.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Mods/ModBarrelRoll.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Screens/Menu/IntroSequence.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Screens/Menu/IntroWelcome.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsMatchSettingsOverlay.cs
  osu.Game/Screens/Play/BreakOverlay.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/ComboStatistic.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Screens/ScreenWhiteBox.cs
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.sln.DotSettings
Labels: size/L, type:code-quality

#13783 Make osu! auto generator interpolate during key-up frames
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
Labels: area:replay, ruleset:osu!, size/M

#13792 Fix potential failure during cleanup of files in migration tests
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
Labels: size/S, type:testing

#13786 Fix multiplayer test failures due to leaderboard load process
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Database/UserLookupCache.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorLeaderboard.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: size/L, type:testing

#13793 Fix copy-and-paste not working in osu!catch editor
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/PalpableCatchHitObject.cs
Labels: area:editor, ruleset:osu!catch

#13797 Fix intermittent ready button test failures
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
Labels: size/S, type:testing

#13798 Fix intermittent spectate button test failures
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
Labels: size/XS, type:testing

#13808 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#13795 Add path visualization to juice stream selection blueprint
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/FruitOutline.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/NestedOutlineContainer.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/ScrollingPath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
Labels: area:editor, ruleset:osu!catch, size/L

#13809 Shorten test beatmap to avoid timeouts in score submission test
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
Labels: size/S, type:testing

#13796 Rewrite `SkinProvidingContainer`
  osu.Game.Tests/Skins/TestSceneSkinProvidingContainer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
Labels: area:skinning, size/L, type:code-quality

#13811 Remove unused usings
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
Labels: size/XS, type:code-quality

#13594 Add support for loading shaders from ruleset resources
  osu.Game.Tests/Resources/Shaders/sh_TestFragment.fs
  osu.Game.Tests/Resources/Shaders/sh_TestVertex.vs
  osu.Game.Tests/Rulesets/TestSceneDrawableRulesetDependencies.cs
  osu.Game.Tests/Testing/TestSceneRulesetDependencies.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
Labels: area:ruleset-api, size/L

#13812 Add playfield border to catch editor
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
Labels: area:editor, ruleset:osu!catch, size/S

#13804 Migrate file/directory selectors to use framework component instead of local implementation
  osu.Game.Tests/Visual/Settings/TestSceneDirectorySelector.cs
  osu.Game.Tests/Visual/Settings/TestSceneFileSelector.cs
  osu.Game.Tournament/Screens/Setup/StablePathSelectScreen.cs
  osu.Game/Graphics/UserInterfaceV2/DirectorySelector.cs
  osu.Game/Graphics/UserInterfaceV2/FileSelector.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelector.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorBreadcrumbDisplay.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorParentDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/DirectorySelectScreen.cs
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
  osu.Game/Screens/Import/FileImportScreen.cs
Labels: size/XL, type:code-quality

#8038 Adjust rankings overlay elements to better match osu-web
  osu.Game/Overlays/Rankings/CountryFilter.cs
  osu.Game/Overlays/Rankings/CountryPill.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/Tables/CountriesTable.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Rankings/Tables/ScoresTable.cs
  osu.Game/Overlays/Rankings/Tables/TableRowBackground.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
Labels: area:overlay-rankings, size/L, type:UI

#13771 Add ability to navigate between volume meters via Alt+Left/Right arrows
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneVolumeOverlay.cs
  osu.Game/Graphics/Containers/SelectionCycleFillFlowContainer.cs
  osu.Game/Graphics/UserInterface/DialogButton.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/Overlays/VolumeOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
Labels: area:overlay-volume, size/L

#13813 Fix catch selection blueprint not displayed after copy-pasted
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchSelectionBlueprint.cs
Labels: area:editor, ruleset:osu!catch, size/XS

#13830 Add sound for switching between volume controls
  osu.Game/Overlays/Volume/VolumeMeter.cs
Labels: size/S, type:audio

#13827 Fix cross talk between `ModSelectOverlay`s
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: area:overlay-modselect, size/M

#13831 Change profile section expansion button to use dropdown sounds
  osu.Game/Graphics/Containers/OsuClickableContainer.cs
  osu.Game/Online/Chat/DrawableLinkCompiler.cs
  osu.Game/Overlays/Profile/Header/Components/ExpandDetailsButton.cs
Labels: size/S, type:audio

#13841 Move handling of replay seek operations out of progress bar
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SongProgressBar.cs
Labels: size/L, type:code-quality

#13828 Don't move selected objects outside the playfield in catch editor
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
Labels: area:editor, ruleset:osu!catch, size/M

#13838 Fix test failures due to logger pollution
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
Labels: size/XS, type:testing

#13840 Ensure run-from-screen song select reaches correct point in execution
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
Labels: size/S, type:testing

#13853 Disallow custom rulesets from attempting to submit scores
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
Labels: size/M, type:UX

#13839 Fix migration target having left over files potentially causing test failures
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
Labels: size/XS, type:testing

#13824 Refactor `ModDifficultyAdjust` to more elegantly track user override status
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModDifficultyAdjust.cs
  osu.Game.Tests/Mods/ModDifficultyAdjustTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: area:mods, size/XL, type:code-quality

#13814 Add difficulty adjustment mod tests
  osu.Game.Tests/Mods/ModDifficultyAdjustTest.cs
Labels: area:mods, size/L, type:testing

#13701 Fix `RestoreDefaultValueButton` not behaving correctly on number types
  osu.Game.Tests/Visual/Settings/TestSceneSettingsItem.cs
  osu.Game/Overlays/RestoreDefaultValueButton.cs
Labels: area:settings, size/M

#13859 Update realm libraries to fix windows 8.1 incompatibility
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS, type:reliability

#13842 Limit update notifications to once per startup
  osu.Desktop/Updater/SquirrelUpdateManager.cs
Labels: platform:windows, size/XS, type:UX

#13856 Fix one new incorrect formatting inspection from EAP6
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapMetadataDisplay.cs
Labels: size/XS, type:code-quality

#13823 Add some tests for catch editor blueprints
  osu.Game.Rulesets.Catch.Tests/Editor/CatchEditorTestSceneContainer.cs
  osu.Game.Rulesets.Catch.Tests/Editor/CatchPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Catch.Tests/Editor/CatchSelectionBlueprintTestScene.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneBananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneFruitPlacementBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game/Rulesets/Edit/HitObjectSelectionBlueprint.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
  osu.Game/Tests/Visual/SelectionBlueprintTestScene.cs
Labels: area:editor, ruleset:osu!catch, size/L, type:testing

#13860 Fix DifficultyBindable not binding correctly and not having default ctor
  osu.Android.props
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:mods, size/M, type:testing

#13870 Fix reset to default logic failing for difficulty adjust mod
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
Labels: area:mods, size/S

#13872 Fix disconnected-from-server multiplayer exit sequence being blocked by confirmation dialog
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/S

#13873 Fix multiplayer screen buttons showing no text when local user not available
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
Labels: size/M, type:reliability

#13874 Add object duration checks
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTooShortSlidersTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTooShortSpinnersTest.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTooShortSliders.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTooShortSpinners.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
  osu.Game.Tests/Editing/Checks/CheckZeroLengthObjectsTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckZeroLengthObjects.cs
Labels: area:editor, size/XL

#13851 Add autolink support in osu markdown container
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownLinkText.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownTextFlowContainer.cs
Labels: area:overlay-wiki, size/S

#13688 Improve osu random mod
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
Labels: area:mods, ruleset:osu!, size/L

#13866 Reference `OverlayColourProvider` static colours in `OsuColour`'s definitions xmldocs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/OverlayColourProvider.cs
Labels: size/S, type:code-quality

#13867 Update hue of certain colour schemes
  osu.Game/Overlays/OverlayColourProvider.cs
Labels: size/XS, type:UI

#13884 Remove `IApplicableToDifficulty.ReadFromDifficulty`
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/Mods/IApplicableToDifficulty.cs
Labels: area:mods, type:code-quality

#13877 Implement osu!-side popover
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuPopover.cs
  osu.Game/Graphics/UserInterfaceV2/OsuPopover.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:UI

#13901 Adjust mania speed range
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
Labels: area:gameplay, ruleset:osu!mania

#13826 Change approach rate bonuses to be less punishing on mid-length maps
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, ruleset:osu!, size/S

#13893 Add localisation coverage of `MouseSettings`
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
  osu.Game.Rulesets.Osu/UI/OsuSettingsSubsection.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/MouseSettingsStrings.cs
  osu.Game/Overlays/KeyBinding/GlobalKeyBindingsSection.cs
  osu.Game/Overlays/KeyBinding/VariantBindingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
  osu.Game/Overlays/Settings/Sections/Audio/VolumeSettings.cs
  osu.Game/Overlays/Settings/Sections/Debug/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Debug/MemorySettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/DetailSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/BindingSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Online/AlertsAndPrivacySettings.cs
  osu.Game/Overlays/Settings/Sections/Online/IntegrationSettings.cs
  osu.Game/Overlays/Settings/Sections/Online/WebSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/MainMenuSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
Labels: area:settings, type:localisation

#13903 Add localisation coverage for remaining input settings
  osu.Game/Localisation/BindingSettingsStrings.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/TabletSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/BindingSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/RotationPresetButtons.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/osu.Game.csproj
Labels: type:localisation

#13904 Fix progression lines getting stuck after removing a match in ladder editor screen
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
Labels: area:tournament

#13905 Allow the schedule screen to show even when a current match is not selected
  osu.Game.Tournament.Tests/Screens/TestSceneScheduleScreen.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
Labels: area:tournament, type:UX

#13906 Show warning on screens which require a current match to be selected
  osu.Game.Tournament/Screens/BeatmapInfoScreen.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
  osu.Game.Tournament/Screens/Showcase/ShowcaseScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/TeamIntroScreen.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
  osu.Game.Tournament/Screens/TournamentMatchScreen.cs
  osu.Game.Tournament/TournamentGame.cs
Labels: area:tournament, type:UX

#13915 Fix seeding screen crashing on seedings with null mod
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
Labels: area:tournament, type:reliability

#13911 Add support for localising breadcrumb controls
  osu.Game.Tests/Visual/Online/TestSceneWikiHeader.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
  osu.Game/Overlays/Wiki/WikiHeader.cs
Labels: type:localisation

#12877 Implement osu target mod
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
Labels: area:mods, ruleset:osu!, size/XL

#13922 Replace calls to obsoleted `GetOrDefault()` extension
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: type:code-quality

#13927 Change the way position is set for components of catch editor
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/FruitOutline.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/NestedOutlineContainer.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/ScrollingPath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/FruitPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/FruitSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectUtils.cs
Labels: area:editor, ruleset:osu!catch, type:code-quality

#13908 Fix editor composer allowing object placement without timing present
  osu.Game.Tests/Visual/Editing/TestSceneEditorComposeRadioButtons.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Components/RadioButtons/EditorRadioButton.cs
  osu.Game/Screens/Edit/Components/RadioButtons/EditorRadioButtonCollection.cs
  osu.Game/Screens/Edit/Components/RadioButtons/RadioButton.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: area:editor, type:UX

#13926 Set score's rank on a failed submission
  osu.Game/Screens/Play/Player.cs
Labels: area:scoring, type:online

#13887 Preserve Y position of hit objects in osu!catch
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertSlider.cs
Labels: area:beatmap, ruleset:osu!catch

#13929 Create a deep clone of score for score submission purposes
  CodeAnalysis/BannedSymbols.txt
  osu.Game.Tests/NonVisual/ControlPointInfoTest.cs
  osu.Game.Tests/NonVisual/ScoreInfoTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Replays/Replay.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/MultiMod.cs
  osu.Game/Scoring/Score.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsSongSelect.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Utils/IDeepCloneable.cs
Labels: area:gameplay, type:online

#13928 Add `JuiceStreamPath` as alternative representation of `JuiceStream` path for catch editor
  osu.Game.Rulesets.Catch.Tests/JuiceStreamPathTest.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStreamPath.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStreamPathVertex.cs
Labels: area:editor, ruleset:osu!catch

#13931 Fix replay dates being unexpectedly updated on play completion
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:gameplay, type:online

#13894 Fix multiple issues with `BeatSyncedContainer`
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatSyncedContainer.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Screens/Menu/OsuLogo.cs
  osu.Game/Screens/OsuScreen.cs
Labels: area:gameplay, type:code-quality

#13861 Add multiplayer room password support
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomStatus.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game/Online/Multiplayer/IMultiplayerLoungeServer.cs
  osu.Game/Online/Multiplayer/InvalidPasswordException.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Rooms/JoinRoomRequest.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/IRoomManager.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayComposite.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsMatchSettingsOverlay.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/BasicTestRoomManager.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: area:multiplayer, blocked, size/L

#13921 Localise user profile overlay
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/ExpandDetailsButton.cs
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
  osu.Game/Overlays/Profile/Header/Components/LevelBadge.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Profile/Header/Components/MappingSubscribersButton.cs
  osu.Game/Overlays/Profile/Header/Components/MessageUserButton.cs
  osu.Game/Overlays/Profile/Header/Components/OverlinedInfoContainer.cs
  osu.Game/Overlays/Profile/Header/Components/OverlinedTotalPlayTime.cs
  osu.Game/Overlays/Profile/Header/Components/PreviousUsernames.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/Profile/Header/Components/SupporterIcon.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Profile/ProfileSection.cs
  osu.Game/Overlays/Profile/Sections/AboutSection.cs
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/BeatmapsSection.cs
  osu.Game/Overlays/Profile/Sections/Historical/ChartProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/DrawableMostPlayedBeatmap.cs
  osu.Game/Overlays/Profile/Sections/Historical/PaginatedMostPlayedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Historical/PlayHistorySubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/ProfileLineChart.cs
  osu.Game/Overlays/Profile/Sections/Historical/ReplaysSubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
  osu.Game/Overlays/Profile/Sections/HistoricalSection.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/PaginatedKudosuHistoryContainer.cs
  osu.Game/Overlays/Profile/Sections/KudosuSection.cs
  osu.Game/Overlays/Profile/Sections/MedalsSection.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/ProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/ProfileSubsectionHeader.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/RanksSection.cs
  osu.Game/Overlays/Profile/Sections/Recent/PaginatedRecentActivityContainer.cs
  osu.Game/Overlays/Profile/Sections/RecentSection.cs
  osu.Game/Overlays/Profile/UserGraph.cs
Labels: area:overlay-user-profile, type:localisation

#13941 Update `OsuModTarget` to take advantage of the new `BeatSyncedContainer`
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
Labels: area:mods, ruleset:osu!

#13785 Add a convenient way to provide ad-hoc dependency to children in visual test
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game/Tests/Visual/DependencyProvidingContainer.cs
Labels: size/M, type:testing

#13943 Ensure online play subscreen is loaded before forwarding `OnExiting`
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: type:reliability

#12682 Refactor combo colours retrieval to use skin config lookups instead
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/PalpableCatchHitObject.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/Types/IHasComboInformation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/SkinComboColourLookup.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
Labels: area:ruleset-api, area:skinning, size/L

#13946 Fix `OnlinePlayScreen` sub-screens not loaded asynchronously
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: type:performance

#13955 Allow confirming room password by pressing Enter
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
Labels: area:multiplayer, type:UX

#13954 Adjust user beatmap section naming on profile overlay to match web
  osu.Game/Online/API/Requests/GetUserBeatmapsRequest.cs
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/BeatmapsSection.cs
  osu.Game/Users/User.cs
Labels: area:overlay-user-profile, type:online

#13932 Fix API request potentially firing failed events after completion
  osu.Game/Online/API/APIException.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/APIRequestCompletionState.cs
  osu.Game/Online/PollingComponent.cs
Labels: type:online

#13942 Avoid showing time of play on results screen when autoplay
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, type:UI

#13957 Allow running with different game IDs for debug builds of osu!lazer
  .run/Dual client test.run.xml
  .run/osu! (Second Client).run.xml
  osu.Desktop/Program.cs
Labels: area:tooling

#13963 Tidy up `ModDisplay`
  osu.Game.Tests/Visual/UserInterface/TestSceneModDisplay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
Labels: type:code-quality

#13960 Allow specifying different value of scaling and flipping support for a selection box
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:editor

#13962 Adapt to framework `PlatformAction` type change
  osu.Android.props
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Graphics/UserInterface/SearchTextBox.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:input

#13934 Move `Catcher` from `CatcherArea` to `CatchPlayfield`
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/Edit/CatchEditorPlayfield.cs
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/CatchReplayRecorder.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrail.cs
  osu.Game.Rulesets.Catch/UI/SkinnableCatcher.cs
  osu.sln.DotSettings
Labels: ruleset:osu!catch, type:code-quality

#13964 Fix mod display overflowing on contracted results panels
  osu.Game.Tests/Visual/Ranking/TestSceneContractedPanelMiddleContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModFlowDisplay.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUD/ModFlowDisplay.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Tests/TestScoreInfo.cs
Labels: type:UI

#13959 Fix beatmap listing continually paginating when no more beatmaps are available
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
Labels: area:overlay-beatmap-listing, type:UX

#13937 Add initial implementation of juice stream path editing
  osu.Game.Rulesets.Catch.Tests/Editor/CatchSelectionBlueprintTestScene.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/SelectionEditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/VertexPiece.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/VertexState.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
Labels: area:editor, ruleset:osu!catch

#13978 Truncate beatmap text in playlist item
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: type:UI

#13958 Move and merge Overlays.KeyBinding into Overlays.Settings.Sections.Input
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/GlobalKeyBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Input/RulesetBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/Input/VariantBindingsSubsection.cs
  osu.Game/Overlays/SettingsOverlay.cs
Labels: area:settings, type:code-quality

#13961 Implement horizontal flipping of hit objects in catch editor
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectUtils.cs
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Catch/Edit/PositionRange.cs
Labels: area:editor, ruleset:osu!catch

#13951 Make timeline blueprints outside of TimelineBlueprint boundaries interactable
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineDragBox.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineSelectionHandler.cs
Labels: area:editor, type:UX

#13967 Add new 'soft' select sound variant and use it in some places
  osu.Android.props
  osu.Game/Graphics/UserInterface/HoverSampleSet.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:audio

#13483 Spike difficulty / AR&FL adjustments
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
Labels: area:difficulty, ruleset:osu!, size/M

#13979 Fix derived API request types firing success when they shouldn't
  osu.Game/Online/API/APIDownloadRequest.cs
  osu.Game/Online/API/APIRequest.cs
Labels: type:online, type:reliability

#13984 Implement "reverse pattern" in catch editor
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
Labels: area:editor, ruleset:osu!catch

#13948 Add the ability to enter and exit the skin editor via on-screen buttons
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: area:settings, size/M, type:UX

#13989 Guard against `IndexOutOfRangeException` when parsing launch arguments
  osu.Desktop/Program.cs
Labels: size/XS, type:reliability

#13983 Add initial implementation of juice stream placement
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/PlacementEditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Catch/Edit/JuiceStreamCompositionTool.cs
Labels: area:editor, ruleset:osu!catch, size/L

#12683 Apply combo offsets "colour hax" only on beatmap skins
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game/Beatmaps/BeatmapProcessor.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Types/IHasComboInformation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
Labels: area:skinning, ruleset:osu!, size/L, type:UI

#13988 Fix room password not being percent-encoded in join request
  osu.Android.props
  osu.Game/Online/Rooms/JoinRoomRequest.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:multiplayer, size/S, type:reliability

#13991 Fix authentication loss not handled correctly
  osu.Game/Online/API/APIAccess.cs
Labels: size/S, type:online

#13996 Fix ruleset icons overflowing from settings footer
  osu.Game/Overlays/Settings/SettingsFooter.cs
Labels: area:settings, size/XS, type:UI

#13998 Fix inability to join a multiplayer room which has no password
  osu.Game/Online/Rooms/JoinRoomRequest.cs
Labels: size/XS, type:online, type:reliability

#14003 Localise profile overlay numeric statistics
  osu.Game.Tests/NonVisual/FormatUtilsTest.cs
  osu.Game/Graphics/UserInterface/PercentageCounter.cs
  osu.Game/Graphics/UserInterface/RollingCounter.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Profile/Header/Components/OverlinedInfoContainer.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderStatisticsButton.cs
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/Sections/CounterPill.cs
  osu.Game/Overlays/Profile/Sections/Historical/ProfileLineChart.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/Break/BreakInfoLine.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/AccuracyStatistic.cs
  osu.Game/Screens/Ranking/Expanded/TotalScoreCounter.cs
  osu.Game/Users/UserStatistics.cs
  osu.Game/Utils/FormatUtils.cs
Labels: area:overlay-user-profile, size/L

#14004 Fix mod selector overflowing from beatmap info overlay
  osu.Game/Overlays/BeatmapSet/LeaderboardModSelector.cs
Labels: area:overlay-beatmap, size/S, type:UI

#14010 Fix beatmap search requests double-escaping
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
Labels: area:overlay-beatmap-listing, size/XS, type:online

#14009 Update `LocalisationAnalyser` and other packages
  .config/dotnet-tools.json
  osu.Game/osu.Game.csproj
Labels: dependencies, size/S

#14017 Fix rooms in online-play longue screen no longer scrollable by dragging
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
Labels: area:multiplayer, area:playlists, size/M, type:UX

#14018 Fix keyboard navigation at multiplayer lounge not iterating in correct order
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Tests/Visual/OnlinePlay/BasicTestRoomManager.cs
Labels: area:multiplayer, size/M, type:UI

#13980 Fix song select background not showing in multiplayer/playlists
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: area:multiplayer, size/M

#14020 Rename class, add commenting and avoid firing requests to create rooms for testing purposes
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Tests/Visual/Multiplayer/IMultiplayerTestSceneDependencies.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestSceneDependencies.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestRequestHandlingMultiplayerRoomManager.cs
Labels: size/M, type:testing

#14023 Add warning about using high precision mouse on non-windows platforms
  osu.Game/Localisation/MouseSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: area:settings, size/M

#14025 Remove outdated comment and simplify code in `Catcher.CanCatch`
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset:osu!catch, size/S, type:code-quality

#14022 Fix invalid/unavailable ruleset causing game-wide crash
  osu.Game.Tests/Visual/TestSceneOsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: size/M, type:reliability

#14027 Add support for markdown in comments
  osu.Game.Tests/Visual/Online/TestSceneDrawableComment.cs
  osu.Game/Overlays/Comments/CommentMarkdownContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: area:comments, size/L

#14024 Move catcher trail generation logic to `CatcherArea` to remove mutual dependency of `Catcher` and `CatcherTrailDisplay`
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
Labels: ruleset:osu!catch, size/L, type:code-quality

#14039 Use "hyper-dash after-image" terminology consistently
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
Labels: ruleset:osu!catch, size/M, type:code-quality

#14016 Add "Mirror" mod
  osu.Game.Rulesets.Mania/Mods/ManiaModMirror.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHardRock.cs
  osu.Game.Rulesets.Osu/Mods/OsuModMirror.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils.cs
  osu.Game/Rulesets/Mods/ModMirror.cs
Labels: area:mods, ruleset:osu!, size/L

#14045 Avoid deserialisation JSON request content when error is not present (or not relevant)
  osu.Game/Online/API/APIRequest.cs
Labels: size/S, type:reliability

#14046 Fix `HubClientConnector` reconnecting with no delay on server-triggered error
  osu.Game/Online/HubClientConnector.cs
Labels: size/S, type:online, type:reliability
