Repository ppy/osu, pull requests merged in 2021-01, with the labels that each got.

#11399 Update dependencies
  Directory.Build.props
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
Labels: dependencies, size/S

#11404 Bump InspectCode tool to 2020.3.2
  .config/dotnet-tools.json
  osu.Game.Tests/Visual/Components/TestScenePreviewTrackManager.cs
  osu.sln.DotSettings
Labels: area:tooling, size/S, type:code-quality

#11401 Allow signalr to retry connecting when connection is closed without an exception
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
Labels: area:multiplayer, size/XS, type:reliability

#11344 Fix file and share associations on Android
  osu.Android/OsuGameActivity.cs
Labels: platform:android, size/XS

#11380 Catch multiplayer client-related unobserved exceptions better
  osu.Game/Extensions/TaskExtensions.cs
Labels: area:multiplayer, size/S, type:reliability

#11413 Fix difficulty adjust settings not being transferred correctly in multiplayer/playlists
  osu.Game/Online/API/APIMod.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: area:multiplayer, size/M

#11418 Fix Storyboard's FirstEventTime not finding the true earliest event
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/out-of-order-starttimes.osb
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/M

#11415 Fix multiplayer ready button crashing when deleting selected beatmap set
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Components/ReadyButton.cs
Labels: area:multiplayer, size/M, type:reliability

#11420 Fix to toolbar tooltips
  osu.Game/Overlays/Toolbar/ToolbarBeatmapListingButton.cs
  osu.Game/Overlays/Toolbar/ToolbarChangelogButton.cs
  osu.Game/Overlays/Toolbar/ToolbarChatButton.cs
  osu.Game/Overlays/Toolbar/ToolbarNewsButton.cs
  osu.Game/Overlays/Toolbar/ToolbarRankingsButton.cs
  osu.Game/Overlays/Toolbar/ToolbarSocialButton.cs
Labels: area:toolbar, size/S, type:UI

#11419 Fix RemoveBlockingOverlay causing transform mutation from disposal threads
  osu.Game/OsuGame.cs
Labels: size/XS, type:reliability

#11405 Fix the beatmap carousel not returning to centre correctly after resizing window
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M

#11426 Refactor LoadingLayer to avoid applying effects to external drawables
  osu.Game.Tests/Visual/UserInterface/TestSceneLoadingLayer.cs
  osu.Game/Graphics/UserInterface/LoadingLayer.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/BeatmapSet/Buttons/FavouriteButton.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Overlays/NewsOverlay.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
  osu.Game/Overlays/RankingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsMatchSettingsOverlay.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: size/XL, type:UI, type:reliability

#11428 Fix display settings binding to configuration bindables in async load
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/S, type:reliability

#11429 Fix carousel beatmap set panels applying transforms to difficulties while they are loading
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/M, type:reliability

#11434 Only show "development build" footer on debug releases
  osu.Desktop/Overlays/VersionManager.cs
Labels: size/M, type:UI

#11411 Add ability to toggle discord rich presence
  osu.Desktop/DiscordRichPresence.cs
  osu.Game/Configuration/DiscordRichPresenceMode.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/Online/IntegrationSettings.cs
  osu.Game/Overlays/Settings/Sections/OnlineSection.cs
Labels: area:settings, size/M, type:online

#11433 Update main menu terms
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Overlays/Toolbar/ToolbarBeatmapListingButton.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/Disclaimer.cs
Labels: area:main menu, size/S

#11436 Update references to current year
  Directory.Build.props
  LICENCE
  osu.Desktop/osu.nuspec
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Types/IHasCurve.cs
  osu.Game/Rulesets/Objects/Types/IHasDuration.cs
  osu.Game/Rulesets/Objects/Types/IHasEndTime.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: size/L, type:code-quality, type:documentation

#11423 Fix control point pollution from editor or mod alterations
  osu.Game.Tests/NonVisual/ControlPointInfoTest.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreen.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
  osu.Game/Screens/Edit/Timing/DifficultySection.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/GroupSection.cs
  osu.Game/Screens/Edit/Timing/SampleSection.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: area:beatmap, area:editor, area:mods, size/L

#11438 Fix difficulty adjust mod treating default values as user overrides
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: area:mods, size/M

#11444 Add custom handling of Point serialization to fix startup crashes of tournament client
  osu.Game.Tournament/JsonPointConverter.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/M

#11424 Fix ModSelection making unsafe advances of ModSection
  osu.Android.props
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:mods, size/M, type:reliability

#11439 Improve hover sounds playback (to reduce volume saturation and delay)
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Graphics/UserInterface/HoverSounds.cs
Labels: size/M, type:audio

#11353 Disable multiplayer action buttons after clicks to prevent double operations
  osu.Game.Tests/Visual/Multiplayer/TestSceneCreateMultiplayerMatchButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/CreateMultiplayerMatchButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchFooter.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OngoingOperationTracker.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
Labels: area:multiplayer, size/L, type:UI

#11448 Fix editor crashing on enter if login overlay was previously opened
  osu.Game/Screens/OsuScreen.cs
Labels: area:editor, area:overlays, size/XS, type:reliability

#11452 Improve safety of ongoing operation tracker
  osu.Game.Tests/Visual/Multiplayer/TestSceneCreateMultiplayerMatchButton.cs
  osu.Game/Screens/OnlinePlay/OngoingOperationTracker.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomContainer.cs
Labels: area:multiplayer, size/M, type:reliability

#11386 Fix selected mods properties not copied to `ModSelectOverlay`'s mods
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSection.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Rulesets/Mods/Mod.cs
Labels: area:mods, size/M

#11447 Fix track previews crashing on completion
  osu.Game/Overlays/BeatmapListing/Panels/BeatmapPanel.cs
  osu.Game/Overlays/BeatmapListing/Panels/PlayButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/PreviewButton.cs
Labels: area:overlay-beatmap, area:overlay-beatmap-listing, size/M, type:reliability

#11118 Add the ability to switch tournaments to the SetupScreen
  osu.Game.Tournament.Tests/Screens/TestSceneSetupScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneStablePathSelectScreen.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game.Tournament/Screens/Setup/ActionableInfo.cs
  osu.Game.Tournament/Screens/Setup/ResolutionSelector.cs
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
  osu.Game.Tournament/Screens/Setup/StablePathSelectScreen.cs
  osu.Game.Tournament/Screens/Setup/TournamentSwitcher.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TournamentSceneManager.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: area:tournament, size/L

#11465 Fix taiko bpm multiplier losing too much precision
  osu.Game.Rulesets.Taiko.Tests/TaikoBeatmapConversionTest.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-conversion-v14-expected-conversion.json
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-generating-drumroll-2-expected-conversion.json
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/slider-generating-drumroll-2.osu
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: area:beatmap, ruleset:osu!taiko, size/L

#11467 Fix non-hosts crashing on load requested
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/XS, type:reliability

#11474 Rename download state `Downloaded` to `Importing`
  osu.Game/Graphics/UserInterface/DownloadButton.cs
  osu.Game/Online/DownloadState.cs
  osu.Game/Online/DownloadTrackingComposite.cs
  osu.Game/Overlays/BeatmapListing/Panels/BeatmapPanelDownloadButton.cs
  osu.Game/Overlays/BeatmapListing/Panels/DownloadProgressBar.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderDownloadButton.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
Labels: size/S, type:code-quality

#11476 Revert overlooked AR<8 speed buff
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, ruleset:osu!, size/XS

#11479 Fix default judgement text mispositioned for one frame
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
Labels: area:gameplay, size/XS, type:UI

#11410 Add change state methods for multiplayer user beatmap availability
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomUser.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Online/Rooms/BeatmapAvailability.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#11483 Fix deadlock scenario when calculating fallback difficulty
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
Labels: area:difficulty, size/XS, type:reliability

#11462 Revert polling changes to fix participant list display
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/Components/SelectionPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
Labels: area:multiplayer, size/M

#11464 Fix non-threadsafe usage of MultiplayerClient.IsConnected
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/CreateMultiplayerMatchButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
Labels: area:multiplayer, size/S, type:reliability

#11494 Fix the beatmap carousel playing the difficulty change sample on beatmap change
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/XS, type:audio

#11498 Fix editor timeline not snapping on non-precise wheel scroll
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/XS, type:input

#11501 Fix spinner tests not playing spinning sound due to empty hitsamples
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
Labels: ruleset:osu!, size/S, type:testing

#11496 Change conditional used to decide legacy judgement animation to match stable
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/XS

#10926 Target .NET 5
  global.json
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecording.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/Database/OsuDbContext.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Input/KeyBindingStore.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
  osu.sln
Labels: size/M

#11212 Add ability to import multiple files at once on android
  osu.Android/OsuGameActivity.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/ICanAcceptFiles.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: platform:android, size/M

#11472 Add explicit content markers to beatmap panels and overlay
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneDirectPanel.cs
  osu.Game/Beatmaps/BeatmapSetOnlineInfo.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Overlays/BeatmapListing/Panels/GridBeatmapPanel.cs
  osu.Game/Overlays/BeatmapListing/Panels/ListBeatmapPanel.cs
  osu.Game/Overlays/BeatmapSet/ExplicitBeatmapPill.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/OverlayColourProvider.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: area:overlay-beatmap, size/L, type:UI

#11519 Fix android users not being able to join multiplayer rooms
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
Labels: area:multiplayer, platform:android, size/S, type:reliability

#11473 Add "explicit maps" search filter control to beatmap listing
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/Panels/GridBeatmapPanel.cs
  osu.Game/Overlays/BeatmapListing/Panels/ListBeatmapPanel.cs
  osu.Game/Overlays/BeatmapListing/SearchExplicit.cs
  osu.Game/Overlays/BeatmapSet/ExplicitContentBeatmapPill.cs
  osu.Game/Overlays/BeatmapSet/Header.cs
  osu.Game/Overlays/Settings/Sections/Online/WebSettings.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: area:overlay-beatmap-listing, size/L, type:UI

#11523 Add nuget deploys for all rulesets
  appveyor_deploy.yml
  osu.Game.Rulesets.Catch/osu.Game.Rulesets.Catch.csproj
  osu.Game.Rulesets.Mania/osu.Game.Rulesets.Mania.csproj
  osu.Game.Rulesets.Osu/osu.Game.Rulesets.Osu.csproj
  osu.Game.Rulesets.Taiko/osu.Game.Rulesets.Taiko.csproj
Labels: area:tooling, ruleset:osu!, ruleset:osu!catch, ruleset:osu!mania, ruleset:osu!taiko, size/L

#11469 Add ability to toggle beatmap colours separate from skins
  osu.Game.Rulesets.Catch.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Screens/Play/PlayerSettings/VisualSettings.cs
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
Labels: area:skinning, size/XL

#11525 Fix selection box not updating with hitcircles/sliders far in the future or past
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCircleSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, ruleset:osu!, size/XS

#11526 Fix sliders with an even number of repeats not allowing rotation/scale transforms
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, ruleset:osu!, size/S

#11529 Restore nuget packages per project to avoid toolchain incompatibilities
  fastlane/Fastfile
Labels: size/XS

#11502 Fix some issues with spinner spin sound
  osu.Android.props
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Tests/Rulesets/TestSceneDrawableRulesetDependencies.cs
  osu.Game.Tests/Testing/TestSceneRulesetDependencies.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
  osu.Game/Skinning/PoolableSkinnableSample.cs
  osu.Game/Skinning/SkinnableSound.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, size/M, type:audio

#11520 Fix playlist item download button never shown back after hiding
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: area:multiplayer, area:playlists, size/S, type:UI

#11539 Update various references to previous .NET version
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Benchmarks.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/CatchRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/ManiaRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/OsuRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/TaikoRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___legacy_osuTK_.xml
  .vscode/launch.json
  README.md
  osu.Game.Rulesets.Catch.Tests/.vscode/launch.json
  osu.Game.Rulesets.Mania.Tests/.vscode/launch.json
  osu.Game.Rulesets.Osu.Tests/.vscode/launch.json
  osu.Game.Rulesets.Taiko.Tests/.vscode/launch.json
  osu.Game.Tournament.Tests/.vscode/launch.json
Labels: area:tooling, size/L

#11531 Reduce final fill alpha of main menu confirm-to-exit
  osu.Game/Overlays/HoldToConfirmOverlay.cs
  osu.Game/Screens/Menu/ExitConfirmOverlay.cs
Labels: area:main menu, size/S, type:UI

#11546 Mark legacy beatmap skin colour test as abstract
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
Labels: ruleset:osu!, ruleset:osu!catch, size/XS, type:testing

#11528 Fix multiplayer mod select showing autoplay as a choice
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/Select/MatchSongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:multiplayer, size/S

#11536 Sort SkinSection in alphabetical order
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
Labels: area:settings, size/M, type:UX

#11537 Fix match/playlist room screen showing briefly behind initial room settings window on creation.
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, area:playlists, size/M

#11553 Fix HOC not propagating DHO results applied on kill
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
Labels: area:ruleset-api, ruleset:osu!taiko, size/M

#11499 Fix inability to interrupt timeline flick-scrolls by other means
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/MarkerPart.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/EditorClock.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
Labels: area:editor, size/M, type:UX

#11557 Leave the multiplayer channel when leaving multiplayer
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchChatDisplay.cs
Labels: size/S

#11556 Fix mod test failing intermittently
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
Labels: size/XS, type:testing

#11560 Add mapping subscribers counter to ProfileOverlay
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/AddFriendButton.cs
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
  osu.Game/Overlays/Profile/Header/Components/MappingSubscribersButton.cs
  osu.Game/Overlays/Profile/Header/Components/MessageUserButton.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderButton.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderStatisticsButton.cs
  osu.Game/Users/User.cs
Labels: area:overlay-user-profile, size/L, type:UI

#11566 Limit the effect of parallax when outside the bounds of the ParallaxContainer
  osu.Game/Graphics/Containers/ParallaxContainer.cs
Labels: size/S

#11567 Fix local echo messages remaining permanently dimmed when chatting via multiplayer
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: size/XS

#11259 Change vertical alignment of scroll target when clicking settings category buttons
  osu.Game.Tests/Visual/UserInterface/TestSceneSectionsContainer.cs
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Graphics/Containers/UserTrackingScrollContainer.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:settings, size/L, type:UI

#11364 Add SV multipliers to taiko difficulty mods
  osu.Game.Rulesets.Taiko/Mods/TaikoModEasy.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHardRock.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
Labels: area:mods, ruleset:osu!taiko, size/M

#11576 Fix tense mismatch in tournament schedule view
  osu.Game.Tournament.Tests/Screens/TestSceneScheduleScreen.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
Labels: area:tournament, size/M

#11577 Make ongoing operation tracker disposals idempotent
  osu.Game.Tests/NonVisual/OngoingOperationTrackerTest.cs
  osu.Game/Screens/OnlinePlay/OngoingOperationTracker.cs
Labels: area:multiplayer, size/L, type:reliability

#11594 Fix mod select footer not animating correctly on first reveal
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/XS

#11595 Bind MultiplayerGameplayLeaderboard to player updates later in load process
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: size/XS

#11597 Update squirrel to fix incorrect desktop icon creation on install
  osu.Desktop/osu.Desktop.csproj
Labels: size/XS

#11503 Revert forced cloning of ControlPointInfo
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Play/GameplayBeatmap.cs
Labels: area:beatmap, size/S, type:performance

#11596 Fix TimelineParts not using correct beatmap
  osu.Game.Tests/Visual/Editing/TestSceneEditorSummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BookmarkPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/MarkerPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/TimelinePart.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointDisplay.cs
Labels: area:editor, size/M

#11604 Fix beatmap listing placeholder potentially getting disposed
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: area:overlay-beatmap-listing, size/S, type:UI

#11605 Fix beatmap listing placeholder disappearing on second time display
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneOnlineBeatmapListingOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: size/L

#11572 Make VotePill background transparent for own comments
  osu.Game.Tests/Visual/Online/TestSceneVotePill.cs
  osu.Game/Overlays/Comments/VotePill.cs
Labels: area:comments, size/M

#11589 Allow tournament client to use default mod icons if custom icons are not present
  osu.Game.Tournament.Tests/Components/TestSceneTournamentModDisplay.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game.Tournament/Components/TournamentModIcon.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: area:tournament, size/L, type:UI

#11607 Switch spectator and multiplayer to use more efficient MessagePack protocol
  osu.Game/Online/API/APIMod.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomUser.cs
  osu.Game/Online/Rooms/BeatmapAvailability.cs
  osu.Game/Online/Spectator/FrameDataBundle.cs
  osu.Game/Online/Spectator/FrameHeader.cs
  osu.Game/Online/Spectator/SpectatorState.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Replays/Legacy/LegacyReplayFrame.cs
  osu.Game/Rulesets/Replays/ReplayFrame.cs
  osu.Game/osu.Game.csproj
Labels: area:multiplayer, size/M, type:online

#11610 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#11611 Fix dotnet run/publish with runtime specified not working again
  osu.Desktop/osu.Desktop.csproj
  osu.Game/osu.Game.csproj
Labels: dependencies, size/XS

#11613 Remove game-local enum `[Order]` attribute
  osu.Android.props
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/Overlays/BeatmapListing/SearchLanguage.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Utils/OrderAttribute.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:code-quality

#11616 Avoid using Dapper to fix iOS compatibility of beatmap lookup cache
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
  osu.Game/osu.Game.csproj
Labels: platform:iOS, size/M

#11615 Fallback to using json for signalr communication if JIT is unavailable
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
Labels: area:multiplayer, platform:iOS, size/M

#11618 Fix Catch autoplay rewinding on instantaneous hits
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
Labels: size/XS

#11623 Add scroll speed adjustment to taiko's DifficultyAdjust mod
  osu.Game.Rulesets.Taiko/Mods/TaikoModDifficultyAdjust.cs
Labels: area:mods, ruleset:osu!taiko, size/M

#11622 Remove all usage of CatchUnobservedExceptions
  osu.Game/Extensions/TaskExtensions.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
Labels: size/M, type:code-quality

#11625 Fix SQLite exception thrown is a beatmap lookup is attempted without an OnlineBeatmapID present
  osu.Game/Beatmaps/BeatmapManager_BeatmapOnlineLookupQueue.cs
Labels: area:database, size/XS

#11500 Fix possibility of crash when selecting a random skin during skin import
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
Labels: size/M, type:reliability

#11635 Fix invalid numeric values for storyboard animation type parsing incorrectly
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/animation-types.osb
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
Labels: area:storyboard, size/M, type:reliability
