Repository ppy/osu, pull requests merged in 2021-06, with the labels that each got.

#13272 Fix newly found inspections from 2021.1EAP1
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerRoomManager.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamIntroScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Tests/Beatmaps/DifficultyCalculatorTest.cs
Labels: size/M, type:code-quality

#12950 Initial implementation of Wiki Overlay
  osu.Android.props
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Online/API/Requests/GetWikiRequest.cs
  osu.Game/Online/API/Requests/Responses/APIWikiPage.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarWikiButton.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownContainer.cs
  osu.Game/Overlays/Wiki/WikiHeader.cs
  osu.Game/Overlays/Wiki/WikiPanelContainer.cs
  osu.Game/Overlays/WikiOverlay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlay-wiki, size/XL

#13273 Add background colour for inline code markdown
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownTextFlowContainer.cs
Labels: size/M

#13276 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#13256 Update DHO lifetime on entry lifetime change
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/Pooling/PoolableDrawableWithLifetime.cs
Labels: area:pooling, size/M

#13258 Fix lifetime of scrolling hit object not updated when scrolling speed is adjusted
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableScrollingRuleset.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: area:gameplay, size/M

#13295 Remove windows-only note from InspectCode section of readme
  README.md
Labels: size/XS, type:documentation

#13296 Fix hit circles reappearing when changing skins
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Skinning/Default/IMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: area:gameplay, ruleset:osu!, size/M

#13269 Fix relative URLs having a null argument after resolution to `LinkDetails`
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
Labels: size/M, type:code-quality

#12848 Remove HUD skin component lookup in favour of the `MainHUDComponents` target system
  .editorconfig
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneComboCounter.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitVisualChange.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaHitObjectTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneKeyArea.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestScenePlayfield.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStage.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageForeground.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableBarLine.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHit.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneInputDrum.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneKiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoPlayfield.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoScroller.cs
  osu.Game.Tests/Visual/Gameplay/SkinnableHUDComponentTestScene.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorComponentsList.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableAccuracyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHealthDisplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/HUDSkinComponent.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, size/L, type:code-quality

#13300 Fix iOS props Newtonsoft.Json version not matching osu.Game
  osu.iOS.props
Labels: dependencies, size/XS

#13308 Fix beatmap statistics with value of zero not displaying correctly at song select
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: area:overlay-beatmap, area:song-select, size/XS

#13314 Add nested `PlatformActionContainer` to allow testing of platform actions in visual tests
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: size/XS

#12568 Add mod "Random" for osu! ruleset
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
Labels: area:mods, proposal, ruleset:osu!, size/L

#11857 Refactor catch Movement skill to not require explicit clockrate usage
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/EmptyFreeformDifficultyCalculator.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/PippidonDifficultyCalculator.cs
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling/EmptyScrollingDifficultyCalculator.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/PippidonDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Preprocessing/CatchDifficultyHitObject.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Tests/NonVisual/DifficultyAdjustmentModCombinationsTest.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
Labels: area:difficulty, ruleset:osu!catch, size/M

#12204 Use avatar_url from user first instead of a.ppy.sh in DrawableAvatar
  osu.Game/Users/Drawables/DrawableAvatar.cs
Labels: size/XS, type:online

#11182 Add browser-like tab management hotkeys to chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Overlays/Chat/Tabs/ChannelTabControl.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: area:overlay-chat, size/L, type:UX

#13324 Detach gameplay score from replay recorder before importing
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S

#13322 Add seed option for all random mods
  osu.Game.Rulesets.Mania/Mods/ManiaModRandom.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModRandom.cs
  osu.Game/Rulesets/Mods/ModRandom.cs
Labels: size/L

#13323 Create abstract class `OverlaySidebar`
  osu.Game/Overlays/News/Sidebar/NewsSidebar.cs
  osu.Game/Overlays/OverlaySidebar.cs
Labels: area:overlays, size/L, type:code-quality

#13318 Add error page placeholder for wiki overlay
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: area:overlay-wiki, size/M

#7316 Implement kiai flash of hit circles
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleKiai.cs
  osu.Game.Rulesets.Osu/Skinning/Default/CirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/KiaiFlash.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/KiaiFlashingSprite.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: area:gameplay, area:skinning, size/L

#13328 Increase music volume back to 80% for the time being
  osu.Game/OsuGameBase.cs
Labels: size/XS

#13313 Factor out entry management logic of `HitObjectContainer` to the new base class
  osu.Game.Rulesets.Taiko/UI/DrumRollHitContainer.cs
  osu.Game/Rulesets/Objects/Pooling/PooledDrawableWithLifetimeContainer.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: area:pooling, size/L

#13303 Add storyboards as a main menu background source
  osu.Game/Configuration/BackgroundSource.cs
  osu.Game/Graphics/Backgrounds/BeatmapBackgroundWithStoryboard.cs
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
Labels: area:settings, size/M, type:UI

#13331 Use general lifetime container for follow point container
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointLifetimeEntry.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointRenderer.cs
Labels: size/L, type:code-quality

#13336 Fix catch hit lighting not always showing when a replay is rewound
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/HitExplosion.cs
  osu.Game.Rulesets.Catch/UI/HitExplosionContainer.cs
  osu.Game.Rulesets.Catch/UI/HitExplosionEntry.cs
  osu.Game/Utils/StatelessRNG.cs
Labels: area:gameplay, ruleset:osu!catch, size/L

#13261 Fix spectator crashing when converting mania replay frames
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: area:spectator, ruleset:osu!mania, size/L

#13338 Add `DummyAPIAccess` to `OsuTestScene` one parent up
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/XS, type:testing

#13358 Move all osu!catch legacy skin piece files to the correct location
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyBananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyDropletPiece.cs
Labels: size/XS, type:code-quality

#13359 Update framework
  osu.Android.props
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#13357 Move osu!catch "fruit visual representation" state from `DrawableFruit` to skin pieces
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/IHasCatchObjectState.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/IHasFruitState.cs
  osu.Game.Rulesets.Catch/Objects/Fruit.cs
  osu.Game.Rulesets.Catch/Objects/FruitVisualRepresentation.cs
  osu.Game.Rulesets.Catch/Skinning/Default/CatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPulpFormation.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyFruitPiece.cs
Labels: ruleset:osu!catch, size/M, type:code-quality

#13360 Fix slider repeat arrow not updating rotation immediately while paused in editor
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
Labels: area:editor, ruleset:osu!, size/XS

#13364 Add `application/x-osu-archive` mime type to Android `IntentFilter`s
  osu.Android/OsuGameActivity.cs
Labels: platform:android, size/XS

#13365 Fix colour hit error meter not working with empty hit windows
  osu.Game.Rulesets.Catch/Scoring/CatchHitWindows.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
Labels: area:gameplay, ruleset:osu!catch, size/M, type:UI

#13370 Attempt to safeguard against collections database corruptions
  osu.Game/Collections/CollectionManager.cs
Labels: area:database, size/S

#13373 Don't apply visibility increase to first object in osu!catch
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchModHidden.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
Labels: area:mods, ruleset:osu!catch, size/S

#13371 Clean up previous sample immediately on skin source change to avoid `Play` after disposal
  osu.Game/Skinning/PoolableSkinnableSample.cs
Labels: size/M, type:audio, type:reliability

#13374 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#13264 Allow fallback to legacy defaults from legacy skins
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu.Tests/Resources/SampleLookups/osu-hitobject-beatmap-custom-sample-bank.osu
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuHitObjectSamples.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursor.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/UI/TaikoMascotAnimation.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game.Tests/NonVisual/Skinning/LegacySkinAnimationTest.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Skinning/ISkinSource.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
Labels: area:skinning, size/L

#12970 Fix default skin sample fallback logic existing within `PoolableSkinnableSample`
  osu.Game.Rulesets.Catch/UI/CatchComboDisplay.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Mania/UI/Components/HitObjectArea.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SkinnableLighting.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/PoolableSkinnableSample.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinReloadableDrawable.cs
  osu.Game/Skinning/SkinnableDrawable.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/Skinning/SkinnableSpriteText.cs
  osu.Game/Skinning/SkinnableTargetContainer.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSample.cs
Labels: size/L, type:code-quality

#13375 Fix possible nullref when exiting song select too fast
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: area:song-select, size/M

#13337 Fix sliders sometimes being outside of the playfield with osu! random mod enabled
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
Labels: area:mods, ruleset:osu!, size/M

#13380 Fix DT being doubled in multiplayer spectator
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
Labels: area:spectator, size/XS

#13396 Fix hit circle animation is removed when a replay is rewound
  osu.Game.Rulesets.Osu/Skinning/Default/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: ruleset:osu!, size/XS

#13397 Fix registered event not unregistered on dispose
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinner.cs
Labels: size/XS

#13400 Remove some obsoleted members
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/M

#13393 Bring back skin background source
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game/Graphics/Backgrounds/Background.cs
  osu.Game/Graphics/Backgrounds/BeatmapBackground.cs
  osu.Game/Graphics/Backgrounds/SkinBackground.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
Labels: area:main menu, size/L

#13402 Use candidate skin for mania skin key lookup rather than `this`
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
Labels: area:skinning, ruleset:osu!mania, size/XS

#13381 Hide unexpected hit results from appearing on the hit error meter
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
Labels: area:gameplay, size/M, type:UI

#13405 Fix circle piece animation sometimes not playing when a replay is rewound (again)
  osu.Game.Rulesets.Osu/Skinning/Default/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: ruleset:osu!, size/M

#13335 Add wiki article page
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiSidebar.cs
  osu.Game/Overlays/OnlineOverlay.cs
  osu.Game/Overlays/Wiki/WikiArticlePage.cs
  osu.Game/Overlays/Wiki/WikiSidebar.cs
  osu.Game/Overlays/Wiki/WikiTableOfContents.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: area:overlay-wiki, size/L

#13412 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#13407 Fix exiting results screen abruptly disappearing and incorrectly transitioning the background
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: size/S, type:UI

#13425 Add ability to navigate score panels with left/right arrows
  osu.Game/Screens/Ranking/ScorePanelList.cs
Labels: area:results, size/S, type:input

#13426 Fix wiki image tooltips not showing inside table views
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownImage.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownTextFlowContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownImage.cs
Labels: size/M

#13384 Align label widths of editor setup screen controls
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledDrawable.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledDrawable.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
Labels: area:editor, size/L, type:UI

#13427 Fix background being dimmed forever after toggling statistics in results screen
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/XS, type:UI

#13408 Add fallback lookup support for `DefaultSkin`
  osu.Game/Skinning/SkinManager.cs
Labels: area:skinning, size/S

#13404 Fix `FindProvider` calls on `SkinProvidingContainer` not considering disable flags
  osu.Game.Tests/Skins/TestSceneBeatmapSkinLookupDisables.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
Labels: area:skinning, size/L

#13401 Remove the concept of "unranked" mods
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHardRock.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/Mods/ManiaKeyMod.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModConstantSpeed.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModMirror.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHardRock.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTouchDevice.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHardRock.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/LeaderboardModSelector.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModClassic.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Mods/ModSuddenDeath.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreeMods.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: size/L, type:code-quality

#13330 Add sound effects to the results screen
  osu.Android.props
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:results, size/L, type:audio

#13428 Fix avatars missing in private message channel tabs / local leaderboards
  osu.Game/Users/Drawables/DrawableAvatar.cs
Labels: size/XS, type:UI

#13378 Refactor DifficultyAttributes to use auto properties over public fields
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: area:difficulty, size/M, type:code-quality

#13434 Add `star` keyword to `FilterQueryParser` criteria
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/XS

#13443 Fix negative offsets incorrectly wrapping in timing screen
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
Labels: area:editor, size/XS, type:UI

#13438 Add remaining metadata fields to editor setup screen
  osu.Game.Tests/Visual/Editing/TestSceneMetadataSection.cs
  osu.Game/Beatmaps/MetadataUtils.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/LabelledRomanisedTextBox.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
Labels: area:editor, size/L

#13444 Show osu!taiko centre/rim colouring in editor timeline
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/CentreHitCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/RimHitCirclePiece.cs
  osu.Game/Rulesets/Objects/Types/IHasDisplayColour.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, ruleset:osu!taiko, size/M

#13446 Move catcher movement logic of `Catcher` to `CatcherArea`
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/Direction.cs
Labels: ruleset:osu!catch, size/L

#7227 Add notification support for private messages and username mentions
  osu.Game.Tests/Visual/Online/TestSceneMessageNotifier.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/API/Requests/CreateChannelRequest.cs
  osu.Game/Online/Chat/Message.cs
  osu.Game/Online/Chat/MessageNotifier.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Overlays/Settings/Sections/Online/AlertsAndPrivacySettings.cs
  osu.Game/Overlays/Settings/Sections/OnlineSection.cs
Labels: area:overlay-chat, area:overlay-notifications, size/L

#13455 Add support for animated colour fill in new style legacy health bar
  osu.Game.Tests/Resources/special-skin/scorebar-bg.png
  osu.Game.Tests/Resources/special-skin/scorebar-colour-0.png
  osu.Game.Tests/Resources/special-skin/scorebar-colour-1.png
  osu.Game.Tests/Resources/special-skin/scorebar-colour-2.png
  osu.Game.Tests/Resources/special-skin/scorebar-colour-3.png
  osu.Game.Tests/Resources/special-skin/scorebar-marker.png
  osu.Game/Skinning/LegacyHealthDisplay.cs
Labels: area:skinning, type:UI

#13458 Upgrade localisation analyser packages
  .config/dotnet-tools.json
  osu.Game/osu.Game.csproj
Labels: area:tooling, dependencies, size/XS, type:localisation

#13454 Change default HoverSounds/HoverClickSounds samples
  osu.Android.props
  osu.Game/Graphics/Containers/OsuClickableContainer.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Graphics/UserInterface/HoverClickSounds.cs
  osu.Game/Graphics/UserInterface/HoverSampleSet.cs
  osu.Game/Graphics/UserInterface/HoverSounds.cs
  osu.Game/Graphics/UserInterface/OsuAnimatedButton.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:audio

#13452 Add fallback-to-default logic for HoverSounds and HoverClickSounds
  osu.Game/Graphics/UserInterface/HoverClickSounds.cs
  osu.Game/Graphics/UserInterface/HoverSounds.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
Labels: size/S, type:audio

#13460 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#13459 Fix focused overlays playing their "appear" sound when not necessarily changing state
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
Labels: size/S, type:UI, type:audio

#13485 Remove unused `RankingType` enum
  osu.Game/Configuration/RankingType.cs
Labels: size/S, type:code-quality

#13489 Make all localisation class strings verbatim
  osu.Game/Localisation/ChatStrings.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/Language.cs
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Localisation/NowPlayingStrings.cs
  osu.Game/Localisation/SettingsStrings.cs
Labels: size/M, type:code-quality

#13490 Match any arbitrary assembly for localisations
  osu.Game/Localisation/ResourceManagerLocalisationStore.cs
Labels: size/S, type:localisation

#13486 Revert "Add nested `PlatformActionContainer` to allow testing of platform actions in visual tests"
  osu.Android.props
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#13487 Add support for song select leaderboard to handle newly imported scores
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:song-select, size/L

#13496 Temporarily disable `dotnet format` to unblock CI
  appveyor.yml
Labels: area:tooling, size/XS

#13449 Refactor `ScrollingHitObjectContainer` and expose more useful methods
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: size/L, type:code-quality

#13463 Enhance text box visibility in mod settings
  osu.Game/Overlays/Settings/SettingsNumberBox.cs
  osu.Game/Overlays/Settings/SettingsTextBox.cs
  osu.Game/Rulesets/Mods/ModRandom.cs
Labels: area:overlay-modselect, size/M, type:UI

#13500 Remove cake
  .config/dotnet-tools.json
  .vscode/launch.json
  InspectCode.ps1
  InspectCode.sh
  appveyor.yml
  build/Desktop.proj
  build/InspectCode.cake
  cake.config
Labels: area:tooling, size/L, type:testing

#13504 Fix malformed database test failing in single-threaded mode
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
Labels: size/XS, type:testing

#13503 Use correct skinnable colour for the old-style legacy spinner background
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinColour.cs
Labels: area:skinning, ruleset:osu!, size/XS

#13497 Make PresentScore() use replay hash as fallback
  osu.Game/OsuGame.cs
Labels: area:database, size/XS

#13511 Fix possible nullref in difficulty recommender
  osu.Game/Beatmaps/DifficultyRecommender.cs
  osu.Game/OsuGame.cs
Labels: area:song-select, size/S, type:testing

#13509 Fix seasonal backgrounds not cycling
  osu.Game.Tests/Visual/Background/TestSceneSeasonalBackgroundLoader.cs
  osu.Game/Graphics/Backgrounds/SeasonalBackgroundLoader.cs
Labels: area:main menu, size/S

#13502 Add GitHub actions workflow
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  .github/workflows/report-nunit.yml
Labels: area:tooling, size/L, type:testing

#13512 Localise parts of the beatmap listing overlay
  osu.Android.props
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchRulesetFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchScoreFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlay-beatmap-listing, size/M, type:localisation

#13519 Don't invoke "completed" action for test scene virtual track
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/XS, type:testing

#13514 Add osu! mod "Approach Different"
  osu.Game.Rulesets.Osu/Mods/OsuModApproachDifferent.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
Labels: area:mods, ruleset:osu!, size/L

#13520 Add more languages to settings dropdown
  osu.Game/Extensions/LanguageExtensions.cs
  osu.Game/Localisation/Language.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
  osu.Game/Overlays/Settings/SettingsEnumDropdown.cs
Labels: area:settings, size/L, type:localisation

#13518 Localise "sort by" text in overlays
  osu.Game/Overlays/OverlaySortTabControl.cs
Labels: area:overlays, size/XS, type:localisation

#13521 Fix wrong language codes
  osu.Game/Localisation/Language.cs
Labels: area:settings, size/XS, type:localisation

#13498 Change coordinate used in newly added `ScrollingHitObjectContainer` methods
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: area:ruleset-api, size/S, type:code-quality

#13525 Add HighPerformanceSession and use LowLatency GC in gameplay
  osu.Game/OsuGame.cs
  osu.Game/Performance/HighPerformanceSession.cs
Labels: area:gameplay, size/M, type:performance

#13524 Fix intermittent HUD test failure
  osu.Game/Skinning/SkinnableTargetContainer.cs
  osu.Game/Tests/Visual/LegacySkinPlayerTestScene.cs
Labels: size/XS, type:testing

#13430 Add osu!taiko "Hidden" mod
  osu.Game.Rulesets.Taiko.Tests/Mods/TaikoModTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModHidden.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHidden.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
Labels: area:mods, ruleset:osu!taiko, size/L

#13516 Localise beatmap listing overlay enum values (tabs, etc)
  osu.Android.props
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Graphics/UserInterface/PageTabControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchScoreFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
  osu.Game/Overlays/BeatmapListing/SearchCategory.cs
  osu.Game/Overlays/BeatmapListing/SearchExplicit.cs
  osu.Game/Overlays/BeatmapListing/SearchExtra.cs
  osu.Game/Overlays/BeatmapListing/SearchGeneral.cs
  osu.Game/Overlays/BeatmapListing/SearchGenre.cs
  osu.Game/Overlays/BeatmapListing/SearchLanguage.cs
  osu.Game/Overlays/BeatmapListing/SearchPlayed.cs
  osu.Game/Overlays/BeatmapListing/SortCriteria.cs
  osu.Game/Overlays/OverlaySortTabControl.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
  osu.Game/Scoring/ScoreRank.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:overlay-beatmap-listing, size/L, type:localisation

#13538 Remove redundant `NotNull` attributes in `nullable` classes
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomUser.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
Labels: size/XS, type:code-quality

#13537 Improve code quality of `AuthorInfo`
  osu.Game/Overlays/BeatmapSet/AuthorInfo.cs
Labels: size/M, type:code-quality

#13535 Fix approach circle fade not running early on an early user hit
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleComboChange.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneShaking.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: area:gameplay, ruleset:osu!, size/M

#13539 Fix edges of participant tiles showing incorrect tooltip
  osu.Game/Overlays/BeatmapSet/AuthorInfo.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/Chat/Tabs/PrivateChannelTabItem.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
  osu.Game/Screens/OnlinePlay/Components/ParticipantsList.cs
  osu.Game/Users/Drawables/ClickableAvatar.cs
  osu.Game/Users/Drawables/UpdateableAvatar.cs
  osu.Game/Users/ExtendedUserPanel.cs
Labels: size/M, type:code-quality, type:user interface

#13523 Reduce boilerplate of `IApplicableToDrawableHitObjects` by taking a single DHO instead of an enumerable
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Mods/OsuModApproachDifferent.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game/Rulesets/Mods/IApplicableToDrawableHitObject.cs
  osu.Game/Rulesets/Mods/ModWithVisibilityAdjustment.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:mods, area:ruleset-api, size/L, type:code-quality

#13540 Rewrite `PerformExit` documentation and remove storyboard outro special casing
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Screens/Play/Player.cs
Labels: size/M, type:code-quality

#13541 Refactor and redocument `updateCompletionState()` and surrounding methods
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/Player.cs
Labels: size/L, type:code-quality

#13544 Move IApplicableToDrawableHitObjects to its own file
  osu.Game/Rulesets/Mods/IApplicableToDrawableHitObject.cs
  osu.Game/Rulesets/Mods/IApplicableToDrawableHitObjects.cs
Labels: size/S, type:code-quality

#13499 Rewrite mania selection blueprint to use only `HitObject` (no `DrawableHitObject`) for layout
  osu.Game.Rulesets.Mania.Tests/Editor/ManiaSelectionBlueprintTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneHoldNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteNoteOverlay.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePosition.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/NoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: area:editor, ruleset:osu!mania, size/L

#13551 Remove the synchronous version of `PrepareScoreForResults`
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/Player.cs
Labels: size/S, type:code-quality

#13491 Use common skinnable drawable for catcher and catcher trails
  osu.Game.Rulesets.Catch/Skinning/Default/DefaultCatcher.cs
  osu.Game.Rulesets.Catch/Skinning/ICatcherSprite.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatcherNew.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatcherOld.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrail.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailSprite.cs
  osu.Game.Rulesets.Catch/UI/SkinnableCatcher.cs
Labels: ruleset:osu!catch, size/L

#13546 Allow mods to specify incompatibility types which they implement themselves
  osu.Game.Rulesets.Osu/Mods/IMutateApproachCircles.cs
  osu.Game.Rulesets.Osu/Mods/OsuModApproachDifferent.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModObjectScaleTween.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpinIn.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game/Overlays/Mods/LocalPlayerModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSection.cs
  osu.Game/Utils/ModUtils.cs
Labels: area:mods, size/M, type:code-quality

#13549 Separate out storyboard outro logic as much as possible from score completion flow
  osu.Game/Screens/Play/Player.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
Labels: size/M, type:code-quality

#13552 Fix loading a ruleset with an updated internal name causing a potential startup crash
  osu.Game/Rulesets/RulesetStore.cs
Labels: area:database, size/S

#13527 Add inter font
  osu.Android.props
  osu.Game/OsuGameBase.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:user interface

#13554 Add more UI sounds
  osu.Game/Graphics/Containers/OsuHoverContainer.cs
  osu.Game/Graphics/UserInterface/HoverSampleSet.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Graphics/UserInterface/OsuTabControlCheckbox.cs
  osu.Game/Graphics/UserInterface/PageTabControl.cs
  osu.Game/Overlays/Comments/CommentsHeader.cs
  osu.Game/Overlays/Comments/HeaderButton.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
  osu.Game/Overlays/OverlaySortTabControl.cs
  osu.Game/Overlays/OverlayTabControl.cs
  osu.Game/Screens/Select/FooterButton.cs
Labels: size/L, type:audio

#13528 Add remaining non-rtl language
  osu.Game/Localisation/Language.cs
Labels: size/S, type:localisation

#13556 Fix editor hit circle animation toggle not working
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorHitAnimations.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
Labels: area:editor, ruleset:osu!, size/L

#13517 Allow setting `Entry` of `PoolableDrawableWithLifetime` (including `DrawableHitObject`)
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/Pooling/PoolableDrawableWithLifetime.cs
Labels: size/M, type:code-quality

#11461 Add initial realm database implementation with KeyBindingStore migration
  osu.Game.Tests/Database/TestRealmKeyBindingStore.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game.Tests/Visual/TestSceneOsuGame.cs
  osu.Game/Database/IHasGuidPrimaryKey.cs
  osu.Game/Database/IRealmFactory.cs
  osu.Game/Database/OsuDbContext.cs
  osu.Game/Database/RealmContextFactory.cs
  osu.Game/Database/RealmExtensions.cs
  osu.Game/FodyWeavers.xml
  osu.Game/FodyWeavers.xsd
  osu.Game/IO/OsuStorage.cs
  osu.Game/Input/Bindings/DatabasedKeyBinding.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Input/Bindings/RealmKeyBinding.cs
  osu.Game/Input/KeyBindingStore.cs
  osu.Game/Input/RealmKeyBindingStore.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
  osu.Game/Overlays/KeyBinding/KeyBindingsSubsection.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/osu.Game.csproj
Labels: area:database, size/XL

#13572 Fix game crashes due to attempting localisation load for unsupported locales
  osu.Game/Localisation/Language.cs
  osu.Game/OsuGame.cs
Labels: size/S, type:localisation, type:reliability

#13591 Remove high performance GC setting
  osu.Game/Performance/HighPerformanceSession.cs
Labels: size/XS, type:performance

#13575 Add direct references to Realm from Xamarin projects
  .gitignore
  FodyWeavers.xml
  osu.Android.props
  osu.Game/FodyWeavers.xsd
  osu.iOS.props
Labels: dependencies, platform:mobile, size/M

#13596 Update custom rulesets directory link in readme
  README.md
Labels: size/XS, type:documentation

#13597 Fix beatmap discussion links wrongly leading to beatmap page
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: area:overlay-user-profile, size/XS

#13545 Add support for legacy spinner approach circles
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/OsuSkinComponents.cs
  osu.Game.Rulesets.Osu/Skinning/IHasApproachCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyOldStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
Labels: area:skinning, ruleset:osu!, size/M

#13611 Remove unused constructor argument from `CatchPlayfield`
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
Labels: size/XS, type:code-quality

#13606 Add low difficulty spacing checks
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckLowDiffOverlapsTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTimeDistanceEqualityTest.cs
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Osu/Edit/Checks/CheckLowDiffOverlaps.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTimeDistanceEquality.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
Labels: area:editor, size/XL

#13349 Allow skin elements to find closest anchor
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Screens/Play/HUD/DefaultAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultScoreCounter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableInfo.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
  osu.Game/Skinning/ISkinnableDrawable.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/SkinnableTargetComponentsContainer.cs
Labels: area:skinning, size/L, type:UX

#13615 Ensure duplicate mods cannot be defined
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game/Utils/ModUtils.cs
Labels: area:mods, size/M

#13610 Change osu markdown heading to use actual font size
  osu.Android.props
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownHeading.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#13423 Refactor ruleset skin transforming logic to be per-`ISkin` rather than one `ISkinSource`
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/ISkinSource.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
Labels: area:skinning, size/XL

#13605 Empty the space between `OverlayStreamItem`s
  osu.Game/Overlays/OverlayStreamItem.cs
Labels: area:overlay-changelog, size/XS, type:UX

#13617 Add "placeholder" (pre-MVP) implementation of osu!catch editor
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneEditor.cs
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Edit/BananaShowerCompositionTool.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/BananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/BananaShowerSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/FruitOutline.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/TimeSpanOutline.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/FruitPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/FruitSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/CatchBlueprintContainer.cs
  osu.Game.Rulesets.Catch/Edit/CatchEditorPlayfield.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Catch/Edit/DrawableCatchEditorRuleset.cs
  osu.Game.Rulesets.Catch/Edit/FruitCompositionTool.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, ruleset:osu!catch, size/XL

#13626 Extract `SeedSettingsControl` to `IHasSeed` interface
  osu.Game/Rulesets/Mods/IHasSeed.cs
  osu.Game/Rulesets/Mods/ModRandom.cs
  osu.Game/Rulesets/Mods/SeedSettingsControl.cs
Labels: size/L

#13627 Fix multiplayer leave dialog not working on all exit operations
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Graphics/UserInterface/ScreenBreadcrumbControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
Labels: area:multiplayer, size/L, type:UX

#13631 Remove local configuration of rider data sources
  .idea/.idea.osu.Desktop/.idea/dataSources.xml
Labels: size/S

#13628 Add `IApplicableToBeatmapProcessor` mod interface
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHardRock.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Rulesets/Mods/IApplicableToBeatmapProcessor.cs
Labels: area:mods, size/M

#13629 Add osu!catch Difficulty Adjust setting to enable "Hard Rock offsets"
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
Labels: area:mods, ruleset:osu!catch, size/S

#13630 Make collection database even more safe
  osu.Game/Collections/CollectionManager.cs
  osu.Game/IO/Legacy/SerializationWriter.cs
Labels: area:database, size/M, type:reliability

#13637 Localize beatmap listing ruleset filter `Any` button
  osu.Game/Overlays/BeatmapListing/BeatmapSearchRulesetFilterRow.cs
Labels: size/S, type:localisation

#13639 Set more appropriate time limits for GH Actions workflows
  .github/workflows/ci.yml
  .github/workflows/report-nunit.yml
Labels: area:tooling, size/XS

#13643 Prevent context menu from showing from system messages
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: area:overlay-chat, size/XS

#13647 Fix catcher hyper-dash afterimage is not always displayed
  osu.Game.Rulesets.Catch/UI/CatcherTrail.cs
Labels: ruleset:osu!catch, size/XS

#13651 Remove Traditional Chinese (HK) language option due to no actual existing translations
  osu.Game/Localisation/Language.cs
Labels: size/XS, type:localisation

#13645 Extract utility functions from `OsuModRandom` into a helper class
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils.cs
Labels: size/L, type:code-quality

#13622 Decrease the max dropdown height in mod settings
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
Labels: area:overlay-modselect, size/M, type:user interface

#13648 Use DI to resolve "dropped object target" container in `Catcher`
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcherArea.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDashColouring.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/DroppedObjectContainer.cs
Labels: ruleset:osu!catch, size/L, type:code-quality
