Repository ppy/osu, pull requests merged in 2021-05, with the labels that each got.

#12564 Fix beatmap info download button content not scaling on mouse down
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderDownloadButton.cs
Labels: area:overlay-beatmap-listing, size/M, type:UI

#12558 Add snap color option for osu!mania
  osu.Game.Rulesets.Mania.Tests/TestSceneTimingBasedNoteColouring.cs
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: ruleset:osu!mania, size/L

#12617 Fix approved maps not displaying pp column on score table
  osu.Game/Beatmaps/BeatmapSetOnlineStatus.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
Labels: area:overlay-beatmap, size/S, type:UI

#12650 Compute selection box area using the bounding box of the blueprints instead
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: size/S, type:UI

#12656 Downgrade Humanizer back to 2.8.26
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: dependencies, size/XS, type:reliability

#12663 Update profile subsections to use counters instead of missing text in line with web
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Historical/PaginatedMostPlayedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/HistoricalSection.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/RanksSection.cs
  osu.Game/Users/User.cs
Labels: area:overlay-user-profile, size/M, type:UI

#12668 Fix use of non-existent word in `OsuFocusedOverlayContainer` xmldoc
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
Labels: size/XS, type:documentation

#12667 Remove unsafe access to Composer.HitObjects
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
Labels: size/XS, type:reliability

#12669 Fix tooltips displaying for hidden `SelectionHandler` content
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M, type:code-quality

#12665 Fix instability in sorting replay frames
  osu.Game.Tests/NonVisual/FramedReplayInputHandlerTest.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
Labels: area:replay, size/M

#12675 Add explanatory text for select settings
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/MainMenuSettings.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: area:settings, size/M, type:UI

#12432 Add support for playing storyboards beyond gameplay end time
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/Play/DimmableStoryboard.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerConfiguration.cs
  osu.Game/Screens/Play/SkipOverlay.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/IStoryboardElement.cs
  osu.Game/Storyboards/IStoryboardElementWithDuration.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:gameplay, area:storyboard, size/L, type:UI

#12685 Fix follow points displaying at incorrect locations when dragging a slider out-of-bounds
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
Labels: area:editor, ruleset:osu!, size/XS

#12503 Split BufferedWedgeInfo into two layers
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/BeatmapInfoWedgeBackground.cs
Labels: area:song-select, size/L, type:UI

#12626 Initial implementation of skin editor
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Play/HUD/DefaultAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultScoreCounter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/ISkinnableComponent.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/Editor/SkinBlueprint.cs
  osu.Game/Skinning/Editor/SkinBlueprintContainer.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
Labels: area:skinning, size/XL

#12696 Fix warning text of bg source setting not being updated when user with supporter signs in/out
  osu.Game/Overlays/Settings/Sections/UserInterface/MainMenuSettings.cs
Labels: area:settings, size/XS, type:UI

#12697 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12703 Fix editor clock not using the beatmap's virtual track when creating one
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
Labels: area:editor, size/S

#12709 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12698 Fix slider input handling potentially being offset after composer area resize
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/SliderBodyPiece.cs
Labels: area:editor, ruleset:osu!, size/XS, type:input

#12705 Update `ScoreCounter` components to use DI to attach data source
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Screens/Play/HUD/DefaultScoreCounter.cs
  osu.Game/Screens/Play/HUD/GameplayScoreCounter.cs
  osu.Game/Screens/Play/HUD/IScoreCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableScoreCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
Labels: area:skinning, size/L, type:code-quality

#12722 Fix temporary files from beatmap downloads not being cleaned up
  osu.Game/Online/API/Requests/DownloadBeatmapSetRequest.cs
Labels: area:overlay-beatmap-listing, size/XS, type:reliability

#12724 Remove vestigial `Current` reimplementation from `LegacyScoreCounter`
  osu.Game/Skinning/LegacyScoreCounter.cs
Labels: size/XS, type:code-quality

#12727 Hide "Show More" button in news overlay if returned cursor is null
  osu.Game.Tests/Visual/Online/TestSceneNewsOverlay.cs
  osu.Game/Overlays/News/Displays/FrontPageDisplay.cs
Labels: area:overlay-news, size/M, type:UI, type:online

#12706 Update `AccuracyCounter` components to use DI to attach data source
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/DefaultAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/GameplayAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/IAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableAccuracyCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
Labels: size/M, type:code-quality

#12715 Fix InvalidOperationException when exiting a map at the end
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S

#12734 Make adjusting volume to max feel better
  osu.Game/Overlays/Volume/VolumeMeter.cs
Labels: size/XS

#12732 Add ability to sort by source in song select
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Filter/SortMode.cs
Labels: area:song-select, size/XS, type:UI

#12701 Factor out common logic of frame-based replay `AutoGenerator`
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/Replays/EmptyFreeformAutoGenerator.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Replays/PippidonAutoGenerator.cs
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling/Replays/EmptyScrollingAutoGenerator.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/Replays/PippidonAutoGenerator.cs
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoAutoGenerator.cs
  osu.Game/Rulesets/Replays/AutoGenerator.cs
  osu.Game/Rulesets/Replays/IAutoGenerator.cs
Labels: area:replay, area:ruleset-api, size/L, type:code-quality

#12708 Remove now unnecessary binding logic from `HUDOverlay`
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game/Screens/Play/HUD/HitErrorDisplay.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: size/L, type:code-quality

#12735 Fix toolbar queuing ruleset sounds
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
Labels: area:toolbar, size/S, type:audio

#12570 Add rotation controls to editor selection box corners
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSelection.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxButton.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxControl.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandleContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxScaleHandle.cs
Labels: area:editor, size/XL, type:UI, type:UX

#12742 Rename test to better match tested class
  osu.Game.Tests/Beatmaps/BeatmapDifficultyCacheTest.cs
Labels: size/XS, type:testing

#12743 Fix autoplay scores being submitted
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:replay, size/S

#12744 Fix idle tracker not accounting global actions
  osu.Game/Input/IdleTracker.cs
Labels: size/XS, type:input

#12636 Add initial implementation of skin editor component list
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorComponentsList.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/Edit/ScrollingToolboxGroup.cs
  osu.Game/Screens/Play/HUD/DefaultAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultScoreCounter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/Editor/SkinBlueprint.cs
  osu.Game/Skinning/Editor/SkinBlueprintContainer.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
  osu.Game/Skinning/IDefaultSkinnableTarget.cs
  osu.Game/Skinning/ISkinnableComponent.cs
  osu.Game/Skinning/ISkinnableTarget.cs
Labels: area:skinning, size/L

#12752 Change `HealthDisplay` to be a `CompositeDrawable`
  osu.Game.Tests/Visual/Gameplay/TestSceneFailingLayer.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/FailingLayer.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
Labels: size/S, type:code-quality

#12761 Increase mania HP lenience
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
Labels: area:gameplay, ruleset:osu!mania, size/XS

#12538 Implement the multiplayer spectator screen
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/OnlinePlay/TestSceneCatchUpSyncManager.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Spectator/SpectatorStreamingClient.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/CatchUpSpectatorPlayerClock.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/CatchUpSyncManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/ISpectatorPlayerClock.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/ISyncManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorLeaderboard.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayerLoader.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/SpectatorPlayerLoader.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorStreamingClient.cs
Labels: area:multiplayer, size/XXL

#12753 Remove downwards dependency from `HUDOverlay` to `HealthDisplay`
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:skinning, size/S, type:code-quality

#12777 Fix possible multiplayer test failure
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
Labels: area:multiplayer, size/XS, type:testing

#12758 Add setting UI components to the verify screen
  osu.Game/Rulesets/Edit/Checks/Components/IssueType.cs
  osu.Game/Screens/Edit/EditorRoundedScreen.cs
  osu.Game/Screens/Edit/EditorRoundedScreenSettings.cs
  osu.Game/Screens/Edit/EditorRoundedScreenSettingsSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
  osu.Game/Screens/Edit/Timing/ControlPointSettings.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Verify/InterpretationSection.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
  osu.Game/Screens/Edit/Verify/IssueSettings.cs
  osu.Game/Screens/Edit/Verify/IssueTable.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
  osu.Game/Screens/Edit/Verify/VisibilitySection.cs
Labels: area:editor, size/L, type:UI

#12768 Fix rotation handle visibility logic not handling two handles hovered at one point
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandleContainer.cs
Labels: size/S, type:reliability

#12763 Give newly added skin components a centered location to make them easier to find
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/ISkinnableTarget.cs
Labels: area:skinning, size/S

#12778 Change default skin editor shortcut to Ctrl+Shift+S
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: size/XS, type:input

#12769 Remove remaining test usage of SkinnableXXX HUD components
  osu.Game.Tests/Visual/Gameplay/TestSceneComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableAccuracyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHealthDisplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableComboCounter.cs
  osu.Game/Screens/Play/HUD/SkinnableHealthDisplay.cs
  osu.Game/Screens/Play/HUD/SkinnableScoreCounter.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/SkinnableDrawable.cs
Labels: size/L, type:code-quality

#12767 Save skin editor changes on forced exit
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: area:skinning, size/S, type:UX

#12766 Keep component positions stable when changing anchor/origin
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/S, type:UX

#12762 Improve the visual appearance of skin editor blueprints
  osu.Game/Skinning/Editor/SkinBlueprint.cs
Labels: area:skinning, size/M

#12765 Show anchor and origin in skin blueprints when selected
  osu.Game/Skinning/Editor/SkinBlueprint.cs
Labels: area:skinning, size/M, type:UX

#12780 Add aspect ratio locking and flip support to skin editor
  osu.Game/Skinning/Editor/SkinBlueprint.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/S

#12802 Randomise the values displayed in the skinning toolbox
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
Labels: area:skinning, size/XS

#12796 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#12800 Fix online play subscreens not pushing player loaders when starting gameplay
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, area:playlists, size/M

#12806 Fix deleting skin elements not saving out to skin
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
  osu.Game/Skinning/ISkinnableTarget.cs
  osu.Game/Skinning/SkinnableTargetContainer.cs
Labels: area:skinning, size/M

#12801 Switch null assignment to non-nullable entity warnings on
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoScroller.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyTaikoScroller.cs
  osu.Game.Tests/Beatmaps/IO/ImportBeatmapTest.cs
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardModSelector.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneLogoTrackingContainer.cs
  osu.Game.Tournament/IPC/FileBasedIPC.cs
  osu.Game/Extensions/TaskExtensions.cs
  osu.Game/IO/Legacy/SerializationReader.cs
  osu.Game/IO/Serialization/Converters/TypedListConverter.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/Spectator/SpectatorState.cs
  osu.Game/Rulesets/RulesetInfo.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/DifficultyCalculatorTest.cs
  osu.Game/Utils/ModUtils.cs
  osu.sln.DotSettings
Labels: size/M, type:code-quality

#12759 Encapsulate check arguments in context object
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckOffscreenObjectsTest.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOffscreenObjects.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
  osu.Game.Tests/Editing/Checks/CheckAudioQualityTest.cs
  osu.Game.Tests/Editing/Checks/CheckBackgroundQualityTest.cs
  osu.Game.Tests/Editing/Checks/CheckConcurrentObjectsTest.cs
  osu.Game.Tests/Editing/Checks/CheckFilePresenceTest.cs
  osu.Game.Tests/Editing/Checks/CheckUnsnappedObjectsTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/BeatmapVerifierContext.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioPresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundPresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckConcurrentObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckFilePresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckUnsnappedObjects.cs
  osu.Game/Rulesets/Edit/Checks/Components/ICheck.cs
  osu.Game/Rulesets/Edit/IBeatmapVerifier.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
Labels: area:editor, size/L

#12747 Allow changing current star difficulty of a `StarRatingDisplay`
  osu.Game.Tests/Visual/Ranking/TestSceneStarRatingDisplay.cs
  osu.Game/Screens/Ranking/Expanded/StarRatingDisplay.cs
Labels: size/L, type:UI

#12717 Add star rating to the beatmap metadata in player loading screen
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapMetadataDisplay.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
Labels: size/L, type:UI

#12833 Fixed typo in OsuPlayfield.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: size/XS, type:code-quality

#12811 Remove obsolete methods in `ModHidden` and apply few touches
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModPlayfieldCover.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHidden.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
Labels: size/L, type:code-quality

#12464 Add support for original language metadata display on playlist items
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: area:playlists, size/M

#12781 Implement a directory selection screen
  osu.Game/Overlays/Settings/Sections/Maintenance/DirectorySelectScreen.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationSelectScreen.cs
Labels: size/L, type:UI

#12804 Fix a potential nullref when starting `Player` with autoplay disabled and beatmap fails to load
  osu.Game/Screens/Play/Player.cs
Labels: size/XS, type:code-quality

#12841 Exclude interfaces from skinnable types
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
Labels: area:skinning, size/XS

#12842 Add layout customisation support for `SongProgress`
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L

#12840 Fix accuracy heatmap points changing colour
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
Labels: area:results, size/XS, type:UI

#12839 Add support for overlay-coloured links
  osu.Game/Online/Chat/DrawableLinkCompiler.cs
Labels: area:overlays, size/XS, type:UI

#12847 Add more correct flip support to skin editor
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Skinning/Editor/SkinBlueprint.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/L

#12849 Remove legacy playlist item ID handling
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
Labels: area:multiplayer, size/XS, type:code-quality

#12850 Only ignore online score id for database import
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:results, size/S

#12783 Add a HitObjectUsageEventBuffer to handle HOC events appropriately
  osu.Game.Tests/Editing/TestSceneHitObjectContainerEventBuffer.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/HitObjectUsageEventBuffer.cs
Labels: area:editor, size/L

#12858 Fix test not being marked as headless
  osu.Game.Tests/Editing/TestSceneHitObjectContainerEventBuffer.cs
Labels: size/XS, type:testing

#12736 Implement NewsSideBar component
  osu.Game.Tests/Visual/Online/TestSceneNewsSidebar.cs
  osu.Game/Online/API/Requests/GetNewsResponse.cs
  osu.Game/Online/API/Requests/Responses/APINewsSidebar.cs
  osu.Game/Overlays/News/Sidebar/MonthSection.cs
  osu.Game/Overlays/News/Sidebar/NewsSidebar.cs
  osu.Game/Overlays/News/Sidebar/YearsPanel.cs
Labels: area:overlay-news, size/XL, type:UI

#12784 Implement pooling for osu!mania
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneKeyArea.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponent.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTick.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Mania/Objects/HeadNote.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Rulesets.Mania/UI/PoolableHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: ruleset:osu!mania, size/L, type:performance

#12845 Add skin layout support for `HitErrorMeter`s
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Configuration/ScoreMeterType.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/HUD/HitErrorDisplay.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/HUDSkinComponents.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L

#12863 Fix incorrect defaults being applied to new objects after making changes on timing screen
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: area:editor, size/S

#12872 Disable border display on skin editor to avoid crashes
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: area:skinning, size/XS, type:reliability

#12857 Don't show warning screen when registering on dev server
  osu.Game.Tests/Visual/Online/TestSceneAccountCreationOverlay.cs
  osu.Game/Overlays/AccountCreation/ScreenWarning.cs
Labels: area:overlay-account-creation, size/S, type:UI

#12879 Rename multiplayer client classes
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Multiplayer/StatefulMultiplayerClient.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/CreateMultiplayerMatchButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsListHeader.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomContainer.cs
Labels: area:multiplayer, size/XXL, type:code-quality

#12881 Restructure and rename spectator client classes
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Play/SpectatorResultsScreen.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorStreamingClient.cs
Labels: area:spectator, size/XL, type:code-quality

#12884 Create base implementations of the two most common `TernaryStateMenuItem`s
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneStatefulMenuItem.cs
  osu.Game/Graphics/UserInterface/TernaryStateMenuItem.cs
  osu.Game/Graphics/UserInterface/TernaryStateRadioMenuItem.cs
  osu.Game/Graphics/UserInterface/TernaryStateToggleMenuItem.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: size/L, type:code-quality

#12886 Fix skin editor context menus not dismissing when clicking away
  osu.Game/Skinning/Editor/SkinEditor.cs
Labels: area:skinning, size/XS

#12890 Add missing accent colour in breadcrumb header item
  osu.Game.Tests/Visual/UserInterface/TestSceneBreadcrumbControlHeader.cs
  osu.Game/Overlays/BreadcrumbControlOverlayHeader.cs
Labels: size/M, type:UI

#12892 Forcefully trigger EndPlaying() to fix test failures
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:spectator, size/S, type:testing

#12883 Make SpectatorClient thread-safe
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: area:spectator, size/L, type:reliability

#12869 Add sidebar to news overlay
  osu.Game/Online/API/Requests/GetNewsRequest.cs
  osu.Game/Overlays/News/Displays/ArticleListing.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/News/Sidebar/NewsSidebar.cs
  osu.Game/Overlays/News/Sidebar/YearsPanel.cs
  osu.Game/Overlays/NewsOverlay.cs
Labels: area:overlay-news, size/L, type:UI

#12885 Fix crash when re-spectating a multiplayer room
  osu.Android.props
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:spectator, size/L

#12779 Add ability to manually locate a stable location when importing from stable
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Collections/CollectionManager.cs
  osu.Game/Database/ArchiveModelManager.cs
  osu.Game/Database/StableImportManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/DirectorySelectScreen.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/StableDirectoryLocationDialog.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/StableDirectorySelectScreen.cs
  osu.Game/Screens/Select/ImportFromStablePopup.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:database, area:settings, size/L

#12852 Make freemod selection overlay taller in multiplayer room
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: area:multiplayer, size/XS, type:UX

#12851 Fix applause sound stopping after switching scores
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: area:results, size/L, type:audio

#12893 Fix right-click placement in taiko editor not correctly updating samples
  osu.Game.Rulesets.Taiko/Edit/Blueprints/HitPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoStrongableHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoStrongableHitObject.cs
Labels: area:editor, ruleset:osu!taiko, size/L

#12878 Revert hard-coupling of DHO lifetime and its entry
  osu.Game.Tests/Gameplay/TestSceneProxyContainer.cs
  osu.Game/Rulesets/Objects/Pooling/PoolableDrawableWithLifetime.cs
Labels: area:ruleset-api, size/L

#12866 Add proper scaling support to skin editor
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/L

#12880 Add proper rotation support to skin editor
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/M

#12882 Fix skin editor flip logic behaving slightly incorrectly
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/S

#12908 Fix checkmark being hidden after clicking current waveform opacity setting
  osu.Game/Screens/Edit/WaveformOpacityMenuItem.cs
Labels: area:editor, size/XS, type:UI

#12917 Fix HUD overlay positioning logic not accounting components properly
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/XS

#12924 Fix DHOs not receiving initial skin changed events
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:skinning, size/M

#11582 Refactor beatmap set covers into using `ModelBackedDrawable<T>`
  osu.Game.Tests/Visual/UserInterface/TestSceneUpdateableBeatmapSetCover.cs
  osu.Game/Beatmaps/Drawables/UpdateableBeatmapSetCover.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/Profile/Sections/Historical/DrawableMostPlayedBeatmap.cs
Labels: size/L, type:code-quality

#12921 Limit automatically calculated HUD offsets to keep menu items on screen
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/XS

#12915 Ensure `RegenerateAutoplay` is only run once per frame
  osu.Game/Rulesets/Edit/DrawableEditorRulesetWrapper.cs
Labels: area:editor, size/XS

#12912 Fix legacy combo counter not accounting for song progress bar
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/XS

#12926 Fix editor placement ending early if a blueprint becomes alive from a pool
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: size/XS

#12927 Fix sliders jumping around the screen on movement
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: area:editor, ruleset:osu!, size/S

#12928 Fix colour hit error meter incorrectly assuming taiko hits were of correct colour
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
Labels: size/XS

#12495 Add language selection and general structure for localisation support
  .config/dotnet-tools.json
  osu.Android.props
  osu.Game/Graphics/UserInterface/DialogButton.cs
  osu.Game/Localisation/ButtonSystem.ja.resx
  osu.Game/Localisation/ButtonSystem.resx
  osu.Game/Localisation/ButtonSystemStrings.cs
  osu.Game/Localisation/Chat.resx
  osu.Game/Localisation/ChatStrings.cs
  osu.Game/Localisation/Common.resx
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/Language.cs
  osu.Game/Localisation/Notifications.resx
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Localisation/NowPlaying.resx
  osu.Game/Localisation/NowPlayingStrings.cs
  osu.Game/Localisation/ResourceManagerLocalisationStore.cs
  osu.Game/Localisation/Settings.resx
  osu.Game/Localisation/SettingsStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Dialog/ConfirmDialog.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/INamedOverlayComponent.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/Overlays/OverlayTitle.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
  osu.Game/Overlays/Settings/SettingsHeader.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Screens/Menu/Button.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
  osu.sln.DotSettings
Labels: size/XL, type:localisation

#12933 Disallow using scroll wheel for gameplay bindings
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Input/KeyBindingStore.cs
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: size/L

#12943 Prevent skin editor crash when scaling 0 area drawables
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:skinning, size/XS

#12947 Handle link action in `OsuMarkdownLinkText`
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownLinkText.cs
Labels: area:overlay-wiki, size/M

#12925 Move GetNewsRequest from ArticleListing to NewsOverlay
  osu.Game/Overlays/News/Displays/ArticleListing.cs
  osu.Game/Overlays/NewsOverlay.cs
Labels: area:overlay-news, size/L, type:online

#12969 Add a mention that `OnApply/OnFree` is performed after `ApplyDefaults`
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/XS

#13212 Fix collection import tests deadlocking due to `TaskCompletionSource` continuation triggering host disposal
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game/Collections/CollectionManager.cs
Labels: size/S, type:testing

#13213 Fix test failures in `TestSceneStoryboardWithOutro`
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
Labels: size/XS, type:testing

#13214 Fix test failure in `TestSceneMultiplayerGameplayLeaderboard`
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: size/S, type:testing

#13215 Remove feature request issue template and link to discussions
  .github/ISSUE_TEMPLATE/02-feature-request-issues.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: area:tooling, size/S

#12967 Make `DrawableSliderTail` not require `ITrackSnaking`
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
Labels: size/S, type:code-quality

#12958 Fix `BeatmapCarousel` accessing `ScreenSpaceDrawQuad` of non-loaded children
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: size/XS, type:reliability

#12962 Fix `SlowLoadPlayer` potentially not being instantiated in time for test
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
Labels: size/S

#12963 Fix settings panel hide animation looking wrong when a sub-panel is visible when hidden
  osu.Game/Overlays/SettingsPanel.cs
Labels: size/S, type:UI

#12946 Fix storyboard videos not correctly filling the screen
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardLayer.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Storyboards/StoryboardLayer.cs
  osu.Game/Storyboards/StoryboardVideoLayer.cs
Labels: area:storyboard, size/M

#12728 Add a reset button to individual keybinds
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsItem.cs
  osu.Game/Overlays/KeyBinding/KeyBindingRow.cs
  osu.Game/Overlays/KeyBinding/KeyBindingsSubsection.cs
  osu.Game/Overlays/RestoreDefaultValueButton.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: area:settings, size/L, type:UI

#12922 Fix `Player` potentially running `MakeCurrent` when already removed from the screen stack
  osu.Game/Screens/Play/Player.cs
Labels: size/XS, type:reliability

#13237 Fix capitalisation of osu!catch HitResults
  osu.Game.Rulesets.Catch/CatchRuleset.cs
Labels: size/XS, type:UI

#12862 Mark `WorkingBeatmap.GetSkin()` as abstract instead of using `DefaultSkin`
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
Labels: area:beatmap, area:skinning, size/L

#12875 Fix legacy beatmap skins not properly falling back on HUD components request
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
Labels: area:skinning, size/L

#12949 Add wiki main page
  osu.Game.Tests/Visual/Online/TestSceneWikiMainPage.cs
  osu.Game/Overlays/Wiki/WikiMainPage.cs
  osu.Game/Overlays/Wiki/WikiPanelContainer.cs
  osu.Game/osu.Game.csproj
Labels: area:overlay-wiki, size/L

#13232 Fix wrong/misleading comment of `InitialLifetimeOffset`
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
Labels: size/S, type:code-quality

#12860 Fix exiting editor potentially causing a crash
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDialogOverlay.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Overlays/DialogOverlay.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: area:editor, size/L, type:reliability

#13251 Fix HandleFrame crashing when not playing
  osu.Game/Online/Spectator/SpectatorClient.cs
Labels: area:spectator, size/XS

#13218 Tidy up OsuGameBase
  osu.Game/Input/OsuUserInputManager.cs
  osu.Game/OsuGameBase.cs
  osu.Game/OsuGameBase_Importing.cs
Labels: size/L, type:code-quality

#13235 Update hit object lifetime on `HitObject.DefaultsApplied`
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
Labels: size/M

#13254 Fix bindable lease failure in editor beatmap creation tests
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: size/S, type:testing

#12826 Hide legacy HUD combo counters on osu!catch ruleset
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchPlayerLegacySkin.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Tests/Visual/LegacySkinPlayerTestScene.cs
Labels: area:skinning, ruleset:osu!catch, size/L

#13230 Make `BeatmapSet.Files` non-nullable
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: area:database, size/M, type:code-quality

#13262 Fix usage of DI before it's ready in combo colour tests
  osu.Game.Rulesets.Catch.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
Labels: size/M, type:code-quality, type:testing

#13260 Allow `LegacyDefaultSkin` to be constructed without extra resource store parameter
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaHitObjectSamples.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoHitObjectSamples.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Collections/TestSceneManageCollectionsDialog.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneFilterControl.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/IO/IStorageResourceProvider.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
  osu.Game/Tests/Visual/LegacySkinPlayerTestScene.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: size/L, type:code-quality

#13257 Multiple `ScrollingHitObjectContainer` logic simplification
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: size/L, type:code-quality

#13265 Remove unused `IScrollingHitObject` interface
  osu.Game/Rulesets/Objects/Drawables/IScrollingHitObject.cs
Labels: size/M, type:code-quality
