Repository ppy/osu, pull requests merged in 2022-01, with the labels that each got.

#16292 Improve reliability of `TestStoryboardSkipOutro`
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
Labels: type:testing, size/XS

#16253 Reduce overhead from chat polling when game is not active
  osu.Game/Input/IdleTracker.cs
  osu.Game/Online/Chat/ChannelManager.cs
Labels: type:performance, size/M

#15844 Positional sounds strength adjustment slider implementation
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/AudioSettingsStrings.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/AudioSettings.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/M

#16278 Fix calling `SkinEditorOverlay.Show` before the overlay is loaded causing an exception
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: size/M, type:reliability

#16314 Add test coverage of score submission if player is exited during import
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
Labels: type:testing, size/M

#16313 Fix beatmap listing overlay not expiring content from previous searches
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:performance, size/M, area:overlay-beatmap-listing

#16307 Add padding to the bottom of the beatmap listing overlay to avoid hovered panels exceeding visible bounds
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardContent.cs
  osu.Game/Beatmaps/Drawables/Cards/ExpandedContentScrollContainer.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/Rankings/SpotlightsLayout.cs
Labels: type:UI, size/L, area:overlay-beatmap-listing, area:overlay-rankings

#16321 Fix cursors sent to osu-web being potentially string formatted in incorrect culture
  osu.Game/Extensions/WebRequestExtensions.cs
Labels: type:online, size/XS

#6035 Implement PageSelector component
  osu.Game.Tests/Visual/UserInterface/TestScenePageSelector.cs
  osu.Game/Graphics/UserInterface/PageSelector/PageEllipsis.cs
  osu.Game/Graphics/UserInterface/PageSelector/PageSelector.cs
  osu.Game/Graphics/UserInterface/PageSelector/PageSelectorButton.cs
  osu.Game/Graphics/UserInterface/PageSelector/PageSelectorPageButton.cs
  osu.Game/Graphics/UserInterface/PageSelector/PageSelectorPrevNextButton.cs
Labels: type:UI, size/L

#16327 Fix editor playfield not being centered correctly
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: area:editor, size/XS

#16328 Change editor flip hotkeys to perform flips around origin
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineSelectionHandler.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: area:editor, size/L

#16342 Contract editor toolboxes when not in use
  osu.Game/Overlays/ExpandingButtonContainer.cs
  osu.Game/Overlays/Settings/SettingsSidebar.cs
  osu.Game/Overlays/Settings/SidebarIconButton.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Overlays/SettingsSubPanel.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Rulesets/Edit/EditorToolboxGroup.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/ScrollingToolboxGroup.cs
  osu.Game/Screens/Play/PlayerSettings/PlayerSettingsGroup.cs
Labels: area:editor, type:UX, size/L

#16347 Fix settings toolbox toggle button starting in incorrect state
  osu.Game/Overlays/SettingsToolboxGroup.cs
Labels: type:UI, size/XS

#16291 Fix `MultiplayerMatchSubScreen` mutating mods outside of bindable lease
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: size/XS, type:reliability

#16350 Fix `IPCLocationTest` not waiting for load of component
  osu.Game.Tournament.Tests/NonVisual/IPCLocationTest.cs
Labels: type:testing, size/XS

#16341 Fix intermittent failure in score submission test
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Online/Solo/SubmitSoloScoreRequest.cs
Labels: type:testing, size/M

#16355 Add basic "time ago" display to leaderboards on beatmap overlay
  osu.Game.Tests/Visual/Online/TestSceneScoreboardTime.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreboardTime.cs
Labels: type:UI, size/L, area:overlay-beatmap

#16366 Fix effect point multiplier text box displaying too much decimal digits
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
Labels: area:editor, type:UI, size/XS

#16382 Fade out inactive player rows on user ranking table
  osu.Game.Tests/Visual/Online/TestSceneRankingsTables.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
Labels: type:UI, size/L, area:overlay-rankings

#16389 Update resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#16390 Update `FilterMatchingTest` and filter code to use ruleset's `OnlineID`
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
Labels: size/XS

#16359 Fix `LegacyScoreDecoderTest` incorrectly comparing unset beatmap IDs
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
Labels: type:testing, size/XS

#16393 Add mention to detach methods of only running once
  osu.Game/Database/RealmObjectExtensions.cs
Labels: size/XS

#16362 Fix multiplayer starting gameplay using last picked item ruleset rather than actual current item ruleset
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: area:multiplayer, size/L

#16371 Add tooltip with relative rotation in degrees to rotation handles
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxScaleHandle.cs
Labels: area:editor, type:UI, size/M

#16405 Fix PP counter underflow with SpunOut mod
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:gameplay, type:UI, size/XS

#16409 Ensure first control point starts at 0 in most common beat length calculation
  osu.Game/Beatmaps/Beatmap.cs
Labels: area:beatmap, size/XS

#16411 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#16412 Fix incorrect action returned for wiki links in DEBUG mode
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: type:testing, size/L, area:overlay-wiki

#16414 Update outdated OpenTabletDriver FAQ links
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: area:settings, size/XS

#16354 Apply slider snapping to current beat divisor more liberally to match user expectations
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSnapping.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
Labels: ruleset:osu!, area:editor, size/L

#16264 Fix main menu background with storyboard stopping after entering and exiting song select
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game/Graphics/Backgrounds/BeatmapBackgroundWithStoryboard.cs
Labels: area:storyboard, area:main menu, size/L

#16407 Fix calculation of most common beat length for mania scroll speed
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
Labels: ruleset:osu!mania, area:gameplay, size/S

#16423 Add button to compact realm on demand
  osu.Game/Localisation/DebugSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
Labels: size/S

#16425 Update macOS minimum supported version in line with .NET 5
  README.md
Labels: size/XS, type:documentation

#16330 Allow "disable mouse button" setting to apply to touch as well
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/PlayerSettings/InputSettings.cs
Labels: type:input, platform:mobile, size/S

#16431 Fix skin hash repopulation not working since realm migration
  osu.Game/Skinning/SkinModelManager.cs
Labels: area:database, area:skinning, size/XS

#16430 Fix mania requiring PERFECTs to maintain HP
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaHealthProcessor.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
Labels: ruleset:osu!mania, area:gameplay, size/M

#16434 Fix test failures due to double `BeginPlaying` calls
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
Labels: type:testing, size/S

#16436 Fix intermittent screen navigation tests
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
Labels: size/S, type:reliability

#16273 Normalise more identifier names
  osu.Desktop/Windows/WindowsKey.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
  osu.Game.Tests/Online/Chat/MessageNotifierTest.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Online/API/Requests/GetUserRecentActivitiesRequest.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.sln.DotSettings
Labels: type:code-quality, size/M

#16443 Add volume dip to track during fail sequence
  osu.Android.props
  osu.Game/Screens/Play/FailAnimation.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S, type:audio

#16442 Fix chat poll rate being too low in multiplayer lobby and gameplay
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/OsuGame.cs
Labels: area:multiplayer, size/M

#16452 Fix `osu.Game.Tests.Android` not building
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
Labels: size/XS

#16463 Assign position to spinner ticks for correct positional sound playback
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
Labels: ruleset:osu!, size/XS

#16447 Add audio feedback for host change in multiplayer rooms
  osu.Android.props
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomSounds.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:multiplayer, size/L, type:audio

#16477 Strip `@2x` scale specifications from legacy texture lookups if present
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/skin.ini
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset:osu!mania, area:skinning, size/M

#16474 Move `VersionManager` from `osu.Desktop` to `osu.Game`
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/VersionManager.cs
Labels: type:code-quality, size/M

#16475 Fix gameplay not completing on some taiko maps
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumRollJudgements.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
Labels: ruleset:osu!taiko, area:gameplay, size/M

#16482 Add test to check full flow of rebinding gameplay key bindings
  osu.Game.Tests/Visual/Navigation/TestSceneChangeAndUseGameplayBindings.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
Labels: size/M

#16481 Rewrite `TestSceneScoresContainer` to work again
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
Labels: size/L

#16486 Update nuget packages and framework
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Android.props
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/Utils/SentryLogger.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: dependencies, size/M

#16489 Add test coverage of aggregate scores displaying correctly at multiplayer/playlists screens
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: size/M

#16421 Add `AllowIme => false` to text boxes where applicable
  osu.Game/Graphics/UserInterface/OsuNumberBox.cs
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Overlays/Settings/SettingsNumberBox.cs
  osu.Game/Screens/Edit/Setup/LabelledRomanisedTextBox.cs
Labels: type:input, type:UI, size/S

#16488 Ensure global beatmap/ruleset are always mutated from the update thread
  osu.Game.Tests/Visual/Editing/TestSceneComposeScreen.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeekSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game.Tests/Visual/Navigation/TestSceneStartupRuleset.cs
  osu.Game.Tournament.Tests/NonVisual/DataLoadTest.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/L, type:reliability

#16511 Revert nunit test adaptor version bump until console output bug is resolved
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
Labels: dependencies, size/S

#16490 Fix `TestScenePlaylistsScreen` crashing on entering room
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsScreen.cs
Labels: type:testing, size/XS

#16491 Improve safety and logging of realm migration process
  osu.Game/Database/DatabaseContextFactory.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/RealmContextFactory.cs
  osu.Game/OsuGameBase.cs
Labels: area:database, size/L

#16507 Add some missing `IgnoredAttributes` to reduce automapper overhead
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Taiko.Tests/DrawableTaikoRulesetTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Input/Bindings/RealmKeyBinding.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
Labels: type:performance, area:database, size/M

#16508 Create separate automapper configurations to reduce cyclic detach overhead
  osu.Game/Database/RealmObjectExtensions.cs
Labels: type:performance, area:database, size/M

#16495 Add support for starting with a fresh realm database if the existing one is not usable
  osu.Game/Database/RealmContextFactory.cs
Labels: area:database, size/M

#16510 Avoid file retrieval overhead when detaching `BeatmapSetInfo`
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/RealmObjectExtensions.cs
Labels: type:performance, area:database, size/M

#16505 Remove all usage of `BaseDifficulty` (and access `Difficulty` instead)
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneBananaShower.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchStacker.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneJuiceStream.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTooShortSpinnersTest.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLongCombo.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneNoSpinnerStacking.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneStartTimeOrderedHitPolicy.cs
  osu.Game.Rulesets.Taiko.Tests/DrawableTaikoRulesetTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapModelManager.cs
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Stores/BeatmapImporter.cs
Labels: type:code-quality, size/M

#16331 Don't floor `effectiveMissCount`
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset:osu!, area:difficulty, size/S

#16497 Rewrite `TopLocalRank` to use realm subscriptions
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
Labels: type:performance, area:database, size/L

#16499 Improve performance of migration to realm
  osu.Game/Database/EFToRealmMigrator.cs
Labels: type:performance, area:database, size/M

#16502 Remove all EF migrations and helper methods
  osu.Game/Database/EntityFrameworkLive.cs
  osu.Game/Database/EntityFrameworkLiveExtensions.cs
  osu.Game/Migrations/20171019041408_InitialCreate.Designer.cs
  osu.Game/Migrations/20171019041408_InitialCreate.cs
  osu.Game/Migrations/20171025071459_AddMissingIndexRules.Designer.cs
  osu.Game/Migrations/20171025071459_AddMissingIndexRules.cs
  osu.Game/Migrations/20171119065731_AddBeatmapOnlineIDUniqueConstraint.Designer.cs
  osu.Game/Migrations/20171119065731_AddBeatmapOnlineIDUniqueConstraint.cs
  osu.Game/Migrations/20171209034410_AddRulesetInfoShortName.Designer.cs
  osu.Game/Migrations/20171209034410_AddRulesetInfoShortName.cs
  osu.Game/Migrations/20180125143340_Settings.Designer.cs
  osu.Game/Migrations/20180125143340_Settings.cs
  osu.Game/Migrations/20180131154205_AddMuteBinding.cs
  osu.Game/Migrations/20180219060912_AddSkins.Designer.cs
  osu.Game/Migrations/20180219060912_AddSkins.cs
  osu.Game/Migrations/20180529055154_RemoveUniqueHashConstraints.Designer.cs
  osu.Game/Migrations/20180529055154_RemoveUniqueHashConstraints.cs
  osu.Game/Migrations/20180621044111_UpdateTaikoDefaultBindings.Designer.cs
  osu.Game/Migrations/20180621044111_UpdateTaikoDefaultBindings.cs
  osu.Game/Migrations/20180628011956_RemoveNegativeSetIDs.Designer.cs
  osu.Game/Migrations/20180628011956_RemoveNegativeSetIDs.cs
  osu.Game/Migrations/20180913080842_AddRankStatus.Designer.cs
  osu.Game/Migrations/20180913080842_AddRankStatus.cs
  osu.Game/Migrations/20181007180454_StandardizePaths.Designer.cs
  osu.Game/Migrations/20181007180454_StandardizePaths.cs
  osu.Game/Migrations/20181128100659_AddSkinInfoHash.Designer.cs
  osu.Game/Migrations/20181128100659_AddSkinInfoHash.cs
  osu.Game/Migrations/20181130113755_AddScoreInfoTables.Designer.cs
  osu.Game/Migrations/20181130113755_AddScoreInfoTables.cs
  osu.Game/Migrations/20190225062029_AddUserIDColumn.Designer.cs
  osu.Game/Migrations/20190225062029_AddUserIDColumn.cs
  osu.Game/Migrations/20190525060824_SkinSettings.Designer.cs
  osu.Game/Migrations/20190525060824_SkinSettings.cs
  osu.Game/Migrations/20190605091246_AddDateAddedColumnToBeatmapSet.Designer.cs
  osu.Game/Migrations/20190605091246_AddDateAddedColumnToBeatmapSet.cs
  osu.Game/Migrations/20190708070844_AddBPMAndLengthColumns.Designer.cs
  osu.Game/Migrations/20190708070844_AddBPMAndLengthColumns.cs
  osu.Game/Migrations/20190913104727_AddBeatmapVideo.Designer.cs
  osu.Game/Migrations/20190913104727_AddBeatmapVideo.cs
  osu.Game/Migrations/20200302094919_RefreshVolumeBindings.Designer.cs
  osu.Game/Migrations/20200302094919_RefreshVolumeBindings.cs
  osu.Game/Migrations/20201019224408_AddEpilepsyWarning.Designer.cs
  osu.Game/Migrations/20201019224408_AddEpilepsyWarning.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.Designer.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.cs
  osu.Game/Migrations/20210511060743_AddSkinInstantiationInfo.Designer.cs
  osu.Game/Migrations/20210511060743_AddSkinInstantiationInfo.cs
  osu.Game/Migrations/20210514062639_AddAuthorIdToBeatmapMetadata.Designer.cs
  osu.Game/Migrations/20210514062639_AddAuthorIdToBeatmapMetadata.cs
  osu.Game/Migrations/20210824185035_AddCountdownSettings.Designer.cs
  osu.Game/Migrations/20210824185035_AddCountdownSettings.cs
  osu.Game/Migrations/20210912144011_AddSamplesMatchPlaybackRate.Designer.cs
  osu.Game/Migrations/20210912144011_AddSamplesMatchPlaybackRate.cs
  osu.Game/Migrations/20211020081609_ResetSkinHashes.cs
  osu.Game/Migrations/OsuDbContextModelSnapshot.cs
Labels: type:code-quality, size/XXL

#16518 Remove unused BDL parameter in `ParticipantList`
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
Labels: type:code-quality, size/XS

#16446 Reduce number of redundant control points displayed on summary timeline
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/IControlPointVisualisation.cs
Labels: type:performance, area:editor, size/M

#16521 Backup collections alongside main databases when migrating to realm
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/OsuGameBase.cs
Labels: area:database, size/M

#16522 Detach beatmap set before checking hidden state
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: type:performance, area:song-select, size/XS

#16526 Fix news sidebar assuming returned posts are always from given year
  osu.Game.Tests/Visual/Online/TestSceneNewsSidebar.cs
  osu.Game/Overlays/News/Sidebar/MonthSection.cs
  osu.Game/Overlays/News/Sidebar/NewsSidebar.cs
Labels: type:online, size/M, area:overlay-news

#16525 Improve usability of expanded card content on beatmap listing
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Beatmaps/Drawables/Cards/ExpandedContentScrollContainer.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:UI, size/M, area:overlay-beatmap-listing

#16519 Fix legacy score imports not correctly getting classic mod assigned
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/NonVisual/ScoreInfoTest.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:scoring, size/M

#16520 Improve realm migration performance further
  osu.Game/Database/EFToRealmMigrator.cs
Labels: type:performance, area:database, size/M

#16528 Remove unnecessary detach operation
  osu.Game/Collections/CollectionManager.cs
Labels: size/XS

#16527 Avoid constructor allocation/GC overhead in realm implicit constructors
  osu.Game.Tests/Database/TestRealmKeyBindingStore.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Input/Bindings/RealmKeyBinding.cs
  osu.Game/Input/RealmKeyBindingStore.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Skinning/SkinInfo.cs
Labels: type:performance, area:database, size/L

#16523 Use asynchronous loading for beatmap carousel again
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: type:performance, size/M

#16529 Remove all calls to `Realm.Refresh` to fix blocking overhead from subscriptions
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/RealmContextFactory.cs
  osu.Game/OsuGameBase.cs
Labels: type:performance, area:database, size/S

#16532 Create backup of databases before opening contexts
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/RealmContextFactory.cs
Labels: area:database, size/M, type:reliability

#16541 Avoid performing keyword filtering at song select unless keywords are specified
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
Labels: type:performance, area:song-select, size/XS

#16542 Avoid performing full filter when updating carousel beatmap sets
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
Labels: type:performance, area:song-select, size/M

#16530 Improve carousel performance during imports and deletions
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
Labels: type:performance, area:song-select, size/L

#16550 Add realm data access benchmarks
  osu.Game.Benchmarks/BenchmarkRealmReads.cs
  osu.Game/Database/RealmLiveUnmanaged.cs
Labels: type:performance, area:database, size/L, type:reliability

#16535 Add realm factory helper methods to run work on the correct context
  osu.Game.Benchmarks/BenchmarkRealmReads.cs
  osu.Game.Tests/Beatmaps/IO/BeatmapImportHelper.cs
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Database/TestRealmKeyBindingStore.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapModelManager.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/IRealmFactory.cs
  osu.Game/Database/RealmContextFactory.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/Input/RealmKeyBindingStore.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Rulesets/Configuration/RulesetConfigManager.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Scoring/ScoreModelManager.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinModelManager.cs
  osu.Game/Stores/BeatmapImporter.cs
  osu.Game/Stores/RealmArchiveModelImporter.cs
  osu.Game/Stores/RealmArchiveModelManager.cs
  osu.Game/Stores/RealmFileStore.cs
Labels: type:performance, area:database, size/XL

#16544 Show realm migration progress via a simple UI
  osu.Game/Database/DatabaseContextFactory.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Loader.cs
Labels: area:database, type:UX, size/L

#16564 Fix tournament match chats not polling fast enough
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
Labels: area:tournament, size/XS

#16545 Fix `IntroScreen` retrieving and iterating all realm beatmap sets
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: type:performance, size/S

#16586 Fix saved beatmap filename not including author name correctly
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Beatmaps/BeatmapModelManager.cs
Labels: area:editor

#16549 Hide the login panel when clicking the country flag
  osu.Game.Tests/Visual/Menus/TestSceneLoginPanel.cs
  osu.Game/Users/Drawables/UpdateableFlag.cs
  osu.Game/Users/ExtendedUserPanel.cs
Labels: type:UX, area:overlay-user-profile, size/M

#16571 Add back editor support for non-standard time signatures
  osu.Game.Rulesets.Taiko/Skinning/Default/CirclePiece.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/NonVisual/BarLineGeneratorTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneLabelledTimeSignature.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneNightcoreBeatContainer.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/Timing/TimeSignature.cs
  osu.Game/Beatmaps/Timing/TimeSignatures.cs
  osu.Game/Rulesets/Mods/Metronome.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Rulesets/Objects/BarLineGenerator.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
  osu.Game/Screens/Edit/Timing/LabelledTimeSignature.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/TimingRowAttribute.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
  osu.Game/Screens/Menu/MenuSideFlashes.cs
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: area:editor, size/L

#16588 Avoid adding "exit all screens" step when running tests interactively
  osu.Game/Tests/Visual/OsuGameTestScene.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
Labels: type:testing, size/S

#16590 Allow realm migration to run again if interrupted halfway
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Screens/Loader.cs
Labels: area:database, size/L

#16547 Fix realm subscriptions getting lost after a context recycle
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game/Database/EmptyRealmSet.cs
  osu.Game/Database/RealmContextFactory.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Online/BeatmapDownloadTracker.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Online/ScoreDownloadTracker.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: area:database, size/XL, type:reliability

#16548 Remove pointless initial `MusicController` beatmap set population
  osu.Game/Overlays/MusicController.cs
Labels: type:performance, size/S

#16473 Add method of adjusting flashlight radius in flashlight mod
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: area:mods, size/L

#16602 During import if files are found to be missing, ensure they are restored
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game/Stores/RealmArchiveModelImporter.cs
Labels: area:database, size/M

#16601 Fix `TestMigration` failing due to changes in realm migration logic
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
Labels: type:testing, size/S

#16591 Don't include nested hit objects' `DifficultyControlPoints` in legacy encoder logic
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderVelocityAdjust.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:editor, size/L

#16603 Update framework
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/VisualTestRunner.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/VisualTestRunner.cs
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/VisualTestRunner.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/VisualTestRunner.cs
  osu.Android.props
  osu.Desktop/Program.cs
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament.Tests/NonVisual/IPCLocationTest.cs
  osu.Game.Tournament.Tests/TournamentTestRunner.cs
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
  osu.Game/Tests/VisualTestRunner.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#16605 Fix crash when trying to migrate collection database that doesn't exist
  osu.Game/OsuGameBase.cs
Labels: size/XS, type:reliability

#16594 Add tracking of total realm subscriptions
  osu.Game/Database/RealmAccess.cs
Labels: size/XS

#16604 Remove `Task` from the inner-most `Import` method in `RealmArchiveModelImporter`
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/IModelImporter.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Stores/RealmArchiveModelImporter.cs
Labels: type:code-quality, size/L

#16607 Fix `DatabasedKeyBindingContainer` re-querying realm on receiving notification
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
Labels: area:database

#16611 Recreate working beatmap per-test in `EditorTestScene`
  osu.Game.Tests/Visual/Editing/TestSceneDifficultySwitching.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: type:testing, size/M

#16612 Log posted notifications
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
  osu.Game/Overlays/Notifications/SimpleNotification.cs
Labels: type:testing, size/S

#16610 Fix beat divisor no longer saving in editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XS

#16613 Decrease default timeline zoom and add saving support
  osu.Game.Tests/Visual/Editing/TestSceneTimelineSelection.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, type:UX, size/M

#16618 Avoid refetch in `RealmLive` when operating strictly on the update thread
  osu.Game/Database/RealmLive.cs
Labels: type:performance, area:database, size/M

#16617 Don't auto-unblock realm when user has manually pressed unblock button
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
Labels: area:database, area:settings, size/XS

#16619 Remove `ILive<>` interface (and use `abstract Live<>` instead)
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/IModelImporter.cs
  osu.Game/Database/IPostImports.cs
  osu.Game/Database/LegacyModelImporter.cs
  osu.Game/Database/Live.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/Database/RealmLiveUnmanaged.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Stores/RealmArchiveModelImporter.cs
Labels: type:code-quality, size/L

#16609 Fix some realm-related test failures
  osu.Game.Tests/Visual/Navigation/TestSceneChangeAndUseGameplayBindings.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: type:testing, size/S

#16623 Refactor editor saving test scene for scalability
  osu.Game.Rulesets.Taiko.Tests/Editor/TestSceneEditorSaving.cs
  osu.Game.Rulesets.Taiko.Tests/Editor/TestSceneTaikoEditorSaving.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Tests/Visual/EditorSavingTestScene.cs
Labels: type:code-quality, type:testing

#16622 Fix crash at results screen when viewing another score panel after playing
  osu.Game.Tests/NonVisual/ScoreInfoTest.cs
  osu.Game/Models/RealmUser.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:results, size/S, type:reliability

#16627 Fix realm migration failures with presence of databased EF rulesets that don't exist on disk
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Rulesets/EFRulesetInfo.cs
Labels: area:database, size/S

#16626 Refactor `SkinSection` to avoid unnecessary realm queries
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
Labels: area:settings, size/M

#16628 Fix custom rulesets being displayed before official ones
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
Labels: type:UI, size/XS

#16606 Fix notification reset events potentially arriving out of order if a block operation times out
  osu.Android.props
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:database, size/M, type:reliability

#16608 Optimise `PlaylistOverlay` and reduce startup overhead of `MusicController`
  osu.Game.Tests/Visual/UserInterface/TestScenePlaylistOverlay.cs
  osu.Game/Collections/BeatmapCollection.cs
  osu.Game/Collections/CollectionFilterDropdown.cs
  osu.Game/Overlays/Music/Playlist.cs
  osu.Game/Overlays/Music/PlaylistItem.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:performance, size/L

#16631 Mark `EditorSavingTestScene` as abstract to not appear in visual test browser
  osu.Game/Tests/Visual/EditorSavingTestScene.cs
Labels: type:code-quality, type:testing

#16630 Fix some score imports failing due to null string attempted to be parsed as json
  osu.Game/Scoring/EFScoreInfo.cs
Labels: area:scoring, size/XS, type:reliability

#16633 Block collection loading until realm migration has completed
  osu.Game/Collections/CollectionManager.cs
  osu.Game/Database/DatabaseContextFactory.cs
  osu.Game/Database/EFToRealmMigrator.cs
Labels: area:database, size/S

#16632 Fix ruleset filters not working correctly on song select
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
Labels: area:song-select, size/S

#16639 Add more attempts to delete EF database
  osu.Game/Database/DatabaseContextFactory.cs
Labels: size/S

#16640 Improve realm migration UX to give users a recovery path on error
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: area:database, type:UX

#16643 Remove pointless constructor in `RulesetInfo`
  osu.Game.Tests/Database/RealmTest.cs
  osu.Game/Rulesets/RulesetInfo.cs
Labels: type:code-quality, size/S

#16642 Make `Ruleset.RulesetInfo` get only
  osu.Game/Rulesets/Ruleset.cs
Labels: type:code-quality, size/XS

#16637 Fix changes to beatmap info made in editor persisting after exit without save
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#16645 Fix `ButtonSystem` null reference crash due to missing null check in delayed animations
  osu.Game/Screens/Menu/ButtonSystem.cs
Labels: size/S, type:reliability

#16644 Update all usages of `RulesetID` and `Ruleset.ID` to use `Ruleset.OnlineID`
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/OsuJsonDecoderTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneDifficultySwitching.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tournament/Components/TournamentModIcon.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/FlatFileWorkingBeatmap.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/RulesetInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Stores/BeatmapImporter.cs
  osu.Game/Tests/Beatmaps/BeatmapConversionTest.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: type:code-quality, size/L

#16641 Add more encompassing stable ordering of rulesets
  osu.Game.Tests/NonVisual/RulesetInfoOrderingTest.cs
  osu.Game/Rulesets/EFRulesetInfo.cs
  osu.Game/Rulesets/IRulesetInfo.cs
  osu.Game/Rulesets/RulesetInfo.cs
  osu.Game/Rulesets/RulesetStore.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: size/M, area:ruleset-api

#16648 Fix song select tests not waiting for beatmap imports to arrive
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: type:testing, size/S

#16652 Skip beatmap imports where ruleset is not present in realm
  osu.Game/Database/EFToRealmMigrator.cs
Labels: area:database, size/XS

#16659 Fix tournament client not loading
  osu.Game.Tournament/TournamentGame.cs
Labels: area:tournament, size/S, type:reliability

#16657 Skip scores missing beatmaps during realm migration
  osu.Game/Database/EFToRealmMigrator.cs
Labels: area:database, size/XS

#16647 Ensure beatmap carousel scroll position is maintained during deletion operations
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/M

#16677 Fix a couple of cases of incorrect equality checks in the case both values are null
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:song-select, size/S

#16663 Change some beatmap info/metadata defaults in a backwards compatible manner
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap, size/M

#16678 Ensure hold for menu button fades out if the cursor is never moved
  osu.Game.Tests/Visual/Gameplay/TestSceneHoldForMenuButton.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
Labels: size/M

#16673 Fix occasional non-fatal errors from polling API requests incorrectly getting queued twice
  osu.Game/Online/PollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/SelectionPollingComponent.cs
Labels: size/M, type:reliability

#16676 Fix editor crashing on custom rulesets due to `ChangeHandler` not being supported
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, area:ruleset-api

#16681 Fix delete local scores via "Clear all scores" button crashing the game
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Select/BeatmapClearScoresDialog.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
Labels: size/L, type:reliability

#16683 Increase lenience of alpha check in `TestSceneOsuModNoScope`
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModNoScope.cs
Labels: type:testing, size/XS

#16687 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#16686 Fix approach rate not being transferred from OD on older beatmaps
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/approach-rate-after-overall-difficulty.osu
  osu.Game.Tests/Resources/approach-rate-before-overall-difficulty.osu
  osu.Game.Tests/Resources/undefined-approach-rate.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap, size/M

#16697 Fix `SongSelect` incorrectly exposing decoupled ruleset to child screens
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/S, type:reliability

#16702 Run EF migrations before migrating to realm
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Migrations/20171019041408_InitialCreate.Designer.cs
  osu.Game/Migrations/20171019041408_InitialCreate.cs
  osu.Game/Migrations/20171025071459_AddMissingIndexRules.Designer.cs
  osu.Game/Migrations/20171025071459_AddMissingIndexRules.cs
  osu.Game/Migrations/20171119065731_AddBeatmapOnlineIDUniqueConstraint.Designer.cs
  osu.Game/Migrations/20171119065731_AddBeatmapOnlineIDUniqueConstraint.cs
  osu.Game/Migrations/20171209034410_AddRulesetInfoShortName.Designer.cs
  osu.Game/Migrations/20171209034410_AddRulesetInfoShortName.cs
  osu.Game/Migrations/20180125143340_Settings.Designer.cs
  osu.Game/Migrations/20180125143340_Settings.cs
  osu.Game/Migrations/20180131154205_AddMuteBinding.cs
  osu.Game/Migrations/20180219060912_AddSkins.Designer.cs
  osu.Game/Migrations/20180219060912_AddSkins.cs
  osu.Game/Migrations/20180529055154_RemoveUniqueHashConstraints.Designer.cs
  osu.Game/Migrations/20180529055154_RemoveUniqueHashConstraints.cs
  osu.Game/Migrations/20180621044111_UpdateTaikoDefaultBindings.Designer.cs
  osu.Game/Migrations/20180621044111_UpdateTaikoDefaultBindings.cs
  osu.Game/Migrations/20180628011956_RemoveNegativeSetIDs.Designer.cs
  osu.Game/Migrations/20180628011956_RemoveNegativeSetIDs.cs
  osu.Game/Migrations/20180913080842_AddRankStatus.Designer.cs
  osu.Game/Migrations/20180913080842_AddRankStatus.cs
  osu.Game/Migrations/20181007180454_StandardizePaths.Designer.cs
  osu.Game/Migrations/20181007180454_StandardizePaths.cs
  osu.Game/Migrations/20181128100659_AddSkinInfoHash.Designer.cs
  osu.Game/Migrations/20181128100659_AddSkinInfoHash.cs
  osu.Game/Migrations/20181130113755_AddScoreInfoTables.Designer.cs
  osu.Game/Migrations/20181130113755_AddScoreInfoTables.cs
  osu.Game/Migrations/20190225062029_AddUserIDColumn.Designer.cs
  osu.Game/Migrations/20190225062029_AddUserIDColumn.cs
  osu.Game/Migrations/20190525060824_SkinSettings.Designer.cs
  osu.Game/Migrations/20190525060824_SkinSettings.cs
  osu.Game/Migrations/20190605091246_AddDateAddedColumnToBeatmapSet.Designer.cs
  osu.Game/Migrations/20190605091246_AddDateAddedColumnToBeatmapSet.cs
  osu.Game/Migrations/20190708070844_AddBPMAndLengthColumns.Designer.cs
  osu.Game/Migrations/20190708070844_AddBPMAndLengthColumns.cs
  osu.Game/Migrations/20190913104727_AddBeatmapVideo.Designer.cs
  osu.Game/Migrations/20190913104727_AddBeatmapVideo.cs
  osu.Game/Migrations/20200302094919_RefreshVolumeBindings.Designer.cs
  osu.Game/Migrations/20200302094919_RefreshVolumeBindings.cs
  osu.Game/Migrations/20201019224408_AddEpilepsyWarning.Designer.cs
  osu.Game/Migrations/20201019224408_AddEpilepsyWarning.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.Designer.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.cs
  osu.Game/Migrations/20210511060743_AddSkinInstantiationInfo.Designer.cs
  osu.Game/Migrations/20210511060743_AddSkinInstantiationInfo.cs
  osu.Game/Migrations/20210514062639_AddAuthorIdToBeatmapMetadata.Designer.cs
  osu.Game/Migrations/20210514062639_AddAuthorIdToBeatmapMetadata.cs
  osu.Game/Migrations/20210824185035_AddCountdownSettings.Designer.cs
  osu.Game/Migrations/20210824185035_AddCountdownSettings.cs
  osu.Game/Migrations/20210912144011_AddSamplesMatchPlaybackRate.Designer.cs
  osu.Game/Migrations/20210912144011_AddSamplesMatchPlaybackRate.cs
  osu.Game/Migrations/20211020081609_ResetSkinHashes.cs
  osu.Game/Migrations/OsuDbContextModelSnapshot.cs
Labels: area:database, size/XXL

#16710 Add failsafe to `IntroScreen` to stop users with incorrect audio configuration getting stuck
  osu.Game.Tests/Visual/Menus/IntroTestScene.cs
  osu.Game.Tests/Visual/Menus/TestSceneIntroCircles.cs
  osu.Game.Tests/Visual/Menus/TestSceneIntroTriangles.cs
  osu.Game.Tests/Visual/Menus/TestSceneIntroWelcome.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
Labels: size/M, type:reliability

#16703 Rewrite `Leaderboard` component to bring up to current code standards
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardState.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchLeaderboard.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Select/PlayBeatmapDetailArea.cs
Labels: type:code-quality, area:song-select, size/XL

#16690 Purge final spectator frames before ending play
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Online/Spectator/FrameDataBundle.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: size/M, area:spectator
