Repository ppy/osu, pull requests merged in 2022-03, with the labels that each got.

#17019 Fix iOS builds occasionally crashing on startup
  osu.iOS.props
Labels: platform:iOS, size/XS

#17034 Fix performance statistic not handling rulesets with unimplemented calculator
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
Labels: area:results, size/S, type:reliability

#17023 Add `RealmAccess.WriteAsync` method and more statistics of realm reads/writes
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game/Database/RealmAccess.cs
Labels: area:database, size/M

#17048 Fix taiko difficulty adjust scroll speed being shown with too low precision
  osu.Game.Rulesets.Taiko/Mods/TaikoModDifficultyAdjust.cs
Labels: type:UI, size/XS

#17017 Allow `LegacyScoreEncoder` to be used without a beatmap if frames are already legacy frames
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:replay, size/M

#17050 Replace skin editor buttons with menu bar
  osu.Game.Tests/Visual/Editing/TestSceneEditorScreenModes.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
Labels: type:UX, area:skinning, size/L

#17014 Implement column display for new mod design
  osu.Game.Tests/Visual/UserInterface/TestSceneModColumn.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModPanel.cs
Labels: type:UI, size/XL, area:overlay-modselect

#17067 Remove padding from distribution graph bars to fix some bars becoming invisible at low sizes
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: type:UI, size/XS

#17070 Add ability for player loading screen settings to scroll
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: type:UI, size/M

#17049 Apply scaling container transforms at a single point to improve transitions
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: type:UX, area:skinning, size/M

#17042 Improve leaderboard messaging when using a custom ruleset (and add localisation support)
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Beatmaps/DifficultyRecommender.cs
  osu.Game/Extensions/ModelExtensions.cs
  osu.Game/Localisation/LeaderboardStrings.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardState.cs
  osu.Game/Online/Placeholders/LoginPlaceholder.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: type:UX, size/L

#17069 Change `IUpdatableByPlayfield.Update` to be called by the main playfield only
  osu.Game/Rulesets/Mods/IUpdatableByPlayfield.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: type:code-quality, area:gameplay, size/S

#17082 Reword ide section of readme to always use latest version
  README.md
Labels: size/XS, type:documentation

#17071 Fix potential crash in tests when attempting to lookup key bindings in cases the lookup is not available
  osu.Game/Configuration/OsuConfigManager.cs
Labels: type:testing, size/XS, type:reliability

#17086 Fix profile badges potentially showing on incorrect profile when switching users
  osu.Game/Overlays/Profile/Header/MedalHeaderContainer.cs
Labels: type:online, area:overlay-user-profile, size/S

#17091 Fix calibrating offset from previous non-zero offset not applying adjustment correctly
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/M

#17090 Fix wiki links containing locale not loading when opened from chat.
  osu.Game/Online/API/Requests/GetWikiRequest.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: size/S, area:overlay-wiki

#17068 Fix hit distribution graph midpoint rounding not looking great around zero
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: area:results, size/S

#17100 Reduce 'cursor-tap' sample playback volume on MouseUp
  osu.Game/Graphics/Cursor/MenuCursor.cs
Labels: size/XS, type:audio

#17047 Add ability to select which display the game runs on
  osu.Android.props
  osu.Game/Localisation/GraphicsSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:settings, size/M

#17073 Add tooltip text for offset adjustment slider
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Localisation/BeatmapOffsetControlStrings.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
  osu.Game/Screens/Play/PlayerSettings/PlayerSliderBar.cs
Labels: type:UI, size/M

#17093 Show beatmap offset adjustments in a more visual way
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: type:UX, size/L

#17116 Allow tabbing between textboxes in sample point popover
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
Labels: area:editor, type:UX, size/S

#17059 Fix storyboard samples rate not adjusted from actual gameplay mods
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardSamplePlayback.cs
  osu.Game/Graphics/Backgrounds/BeatmapBackgroundWithStoryboard.cs
  osu.Game/Screens/Play/DimmableStoryboard.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSample.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Tests/Visual/TestPlayer.cs
Labels: area:mods, area:storyboard, size/L, type:audio

#17134 Implement popup screen title component
  osu.Game.Tests/Visual/UserInterface/TestScenePopupScreenTitle.cs
  osu.Game/Graphics/UserInterface/PopupScreenTitle.cs
Labels: type:UI, size/L, area:overlay-modselect

#17115 Refactor channel scrolling container to handle non-user scrolls
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game/Graphics/Containers/UserTrackingScrollContainer.cs
  osu.Game/Overlays/Chat/ChannelScrollContainer.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: area:overlay-chat, size/L

#17138 Disallow interaction with carousel set difficulty icons unless selected
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
Labels: area:song-select, size/XS

#17075 Add ability to watch properties via a `RealmAccess` helper method
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: type:code-quality, area:database, size/L

#17046 Replace squirrel fork with `Clowd.Squirrel`
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Desktop/app.manifest
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/M

#17155 Fix `BeatmapLeaderboard` refreshing on changes in local offset setting
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game/Database/RealmExtensions.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: type:performance, area:database, size/M

#17159 Add IsBasic() and IsTick() extensions on HitResult
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: type:code-quality, area:scoring, size/S

#17160 Remove `user` from `SubmittableScore`
  osu.Game/Online/Solo/SubmittableScore.cs
Labels: size/XS

#17157 Fix incorrect serialisation of submitted scores
  osu.Game.Tests/Online/TestSubmittableScoreJsonSerialization.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: type:online, size/M

#17167 Fix potential test failure on slow realm callback in `TestSceneBeatmapDownloadButton`
  osu.Game.Tests/Visual/Online/TestSceneBeatmapDownloadButton.cs
Labels: type:testing, size/XS

#17169 Refactor song select test methods to be resilient to slow realm callbacks
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: type:testing, size/S, type:reliability

#17170 Refactor top local rank test method to be more resilient to slow realm callbacks
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
Labels: type:testing, size/XS, type:reliability

#17158 Add flow to allow recovery after running an older release (with a different realm database version)
  osu.Game/Database/RealmAccess.cs
Labels: area:database, size/M

#17152 Implement difficulty multiplier display for new mod select design
  osu.Game.Tests/Visual/UserInterface/TestSceneDifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
Labels: type:UI, size/L, area:overlay-modselect

#17161 Fix scores not being recalculated in beatmap overlay
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneScorePanelList.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: size/M, area:overlay-beatmap

#17185 Fix avatar not clickable after watching replay
  osu.Game/Users/Drawables/ClickableAvatar.cs
Labels: type:online, area:results, size/XS

#17188 Fix beatmap carousel panels accepting input while marked as not-visible
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
Labels: area:song-select, size/XS

#17054 Implement Adaptive Speed mod
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
Labels: area:mods, size/L

#17153 Separate randomization and object positioning logic in osu random mod
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
Labels: type:code-quality, ruleset:osu!, area:mods, size/L

#17187 Fix unable to copy playlist rooms without first opening
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: size/M, area:playlists

#17193 Update dependencies
  osu.Android.props
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Tests.Android/osu.Game.Tests.Android.csproj
  osu.Game.Tests.iOS/osu.Game.Tests.iOS.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#17195 Tune classic mod scaling per-ruleset
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/OsuScoreProcessor.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, size/S

#17191 Change `ToMod` to return an `UnknownMod` rather than throw if a mod isn't available
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneUnknownMod.cs
  osu.Game/Online/API/APIMod.cs
  osu.Game/Rulesets/Mods/UnknownMod.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:mods, size/L, type:reliability

#17164 Rework ScoreProcessor score calculation methods to fix various issues
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailJudgement.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorLeaderboard.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:scoring, size/L

#17150 Fix crash during kiai section on specific map due to negative transform duration
  osu.Game.Rulesets.Osu/Skinning/Default/KiaiFlash.cs
Labels: ruleset:osu!, size/XS, type:reliability

#17162 Fix feedback from realm writes causing offset slider to jump around
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:database, size/S

#17197 Fix potential test failures due to slow realm refresh in `TestSceneScreenNavigation`
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
Labels: type:testing, size/XS

#17180 Implement `ChannelListing` for new chat design
  osu.Game.Tests/Visual/Online/TestSceneChannelListing.cs
  osu.Game/Overlays/Chat/Listing/ChannelListing.cs
  osu.Game/Overlays/Chat/Listing/ChannelListingItem.cs
Labels: type:UI, area:overlay-chat, size/L

#17206 Fix skin components toolbox not autosizing properly
  osu.Game/Overlays/SettingsToolboxGroup.cs
Labels: type:UI, size/XS

#17203 Fix intermittent failures on `TestBeatmapDownloadingFlow` due to slow realm refresh
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
Labels: size/XS

#17199 Fix potential multiplayer crash with async disposal
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
Labels: type:testing, area:multiplayer, size/S

#17198 Fix beatmap wedge possibly applying transforms incorrectly and crashing
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/M

#17208 Automatically bind `BlueprintContainer`'s `SelectedItems` with its `SelectionHandler`
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: type:code-quality, size/XS

#17137 Add support for highlighting chat messages
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Online/Chat/Message.cs
  osu.Game/Online/Chat/MessageNotifier.cs
  osu.Game/Overlays/Chat/ChannelScrollContainer.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: type:UX, area:overlay-chat, size/L

#17235 Nudge osu!taiko playfield's height to perfectly match with osu!(stable)
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, size/XS

#17238 Fix `SkinnableSprite`s in storyboards not autosizing to the textures
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/S

#17225 Remove osu!taiko playfield's 16:9 aspect ratio lock on "Classic" mod
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
Labels: ruleset:osu!taiko, area:mods, size/S

#17240 Expose `UseDevelopmentServer` as virtual
  osu.Game/OsuGameBase.cs
Labels: type:online, size/XS

#17218 Allow skin editor to target different target containers for placement purposes
  osu.Game/Skinning/Editor/SkinEditor.cs
Labels: area:skinning, size/XS

#17217 Refactor `SkinEditor` to support switching target screens without full reload
  osu.Game/OsuGame.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: area:skinning, size/M

#17244 Fix samples not being preloaded before gameplay starts
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: type:performance, area:gameplay, size/L

#17245 Improve readability of hit error display
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: area:gameplay, size/L

#17253 Fix incorrect copied room end dates
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: size/XS, area:playlists

#17242 Restructure PerformanceCalculator to not require ScoreInfo argument
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
  osu.Game/Rulesets/Difficulty/PerformanceCalculator.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Play/HUD/PerformancePointsCounter.cs
Labels: type:code-quality, size/L, area:ruleset-api

#17243 Remove score + ruleset allocations in PerformancePointsCounter
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Scoring/PippidonScoreProcessor.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneComboCounter.cs
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/OsuScoreProcessor.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePerformancePointsCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableAccuracyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneUnstableRateCounter.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/HUD/PerformancePointsCounter.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
Labels: type:performance, area:scoring, size/L, area:ruleset-api

#17259 Remove current screen check from skin editor changes
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: area:skinning, size/XS

#17263 Fix `PlaylistResultsScreen` test failures
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
Labels: type:testing, size/M, area:playlists

#17226 Allow skin components to have settings
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Online/API/APIMod.cs
  osu.Game/Online/API/ModSettingsDictionaryFormatter.cs
  osu.Game/Rulesets/Edit/ScrollingToolboxGroup.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Screens/Play/HUD/SkinnableInfo.cs
  osu.Game/Skinning/Components/BigBlackBox.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
  osu.Game/Skinning/Editor/SkinSettingsToolbox.cs
  osu.Game/Skinning/ISkinnableDrawable.cs
  osu.Game/Utils/ModUtils.cs
Labels: area:skinning, size/L

#17260 Add `EditorSidebar` component
  osu.Game.Tests/Visual/UserInterface/TestSceneEditorSidebar.cs
  osu.Game/Screens/Edit/Components/EditorSidebar.cs
  osu.Game/Screens/Edit/Components/EditorSidebarSection.cs
Labels: area:editor, type:UI, size/L

#17271 Fix potential crash when highlighting chat messages
  osu.Game.Tests/Visual/Online/TestSceneMessageNotifier.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: type:testing, size/XS

#17272 Hide the game toolbar (and overlays) when entering the skin editor
  osu.Game/OsuGame.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
Labels: area:skinning, size/M

#17273 Add a basic scene library to skin editor
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Skinning/DefaultSkin.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
  osu.Game/Skinning/Editor/SkinEditorSceneLibrary.cs
  osu.Game/Skinning/SkinnableTarget.cs
Labels: area:skinning, size/L

#17277 Update skin editor to use `EditorSidebar`
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorComponentsList.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinSettingsToolbox.cs
Labels: area:skinning, size/L

#17274 Update skin editor toolbox design to suck less
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
Labels: area:skinning, size/M

#17278 Show settings for multiple skin components in a selection
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinSettingsToolbox.cs
Labels: area:skinning, size/M

#17286 Update mod instantiation utility method inline with `APIMod.ToMod` changes
  osu.Game/Utils/ModUtils.cs
Labels: type:code-quality, size/S

#17282 Add "Reset position" menu item in skin editor
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
Labels: type:UX, area:skinning, size/XS

#17300 Improve OsuManualInputManagerTestScene button clicking helper function
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: type:testing, size/XS

#17290 Fix message highlighting crashing when chat overlay is never open
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: area:overlay-chat, size/M, type:reliability

#17301 Integrate multiplayer button implementations into the buttons themselves
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchFooter.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
Labels: type:code-quality, area:multiplayer, size/L

#17307 Make `TestSceneLeadIn` run on a manual clock for better time comparison
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
Labels: type:testing, size/XS

#17279 Only show components in skin editor which are usable on the current screen
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game/Screens/Play/HUD/PerformancePointsCounter.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
Labels: area:skinning, size/L

#17325 Fix `SkinComponentToolbox` attempting to create instances of abstract classes
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
Labels: area:skinning, size/XS, type:reliability

#17320 Add new settings for adjusting the hit error display
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: area:skinning, size/L

#17324 Display beatmap maximum combo next to score combo in results panel
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/ComboStatistic.cs
Labels: type:UX, area:results, size/M

#17323 Fix intermittent ready button test failure
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
Labels: type:testing, area:multiplayer, size/XS

#17322 Add "bug report" GitHub issue form template
  .github/ISSUE_TEMPLATE/bug-issue.yml
Labels: size/M

#17337 Improve visual behaviour of "hold for menu" to not distract players
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
Labels: area:gameplay, size/XS

#17341 Fix spectator not starting from current player position (hotfix version)
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: size/L, area:spectator

#17331 Make Relax and Aim assist mods incompatible
  osu.Game.Rulesets.Osu/Mods/OsuModAimAssist.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: area:mods, size/XS

#17327 Simplify `IncreasesCombo`/`BreaksCombo` helper method implementation
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: type:code-quality, size/M

#17299 Update download links for macOS builds (to add Apple Silicon)
  README.md
  osu.Game/Updater/SimpleUpdateManager.cs
Labels: platform:macOS, size/XS, type:documentation

#17315 Display number of items in queue in multiplayer
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylistTabControl.cs
Labels: type:UI, area:multiplayer, size/M

#17379 Fix loading player via skin editor still allowing changing current audio track
  osu.Game/Skinning/Editor/SkinEditorSceneLibrary.cs
Labels: size/XS, area:skin-editor

#17252 Implement `ChannelListItem` for new chat design
  osu.Game.Tests/Visual/Online/TestSceneChannelListItem.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItemCloseButton.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItemMentionPill.cs
Labels: type:UI, area:overlay-chat, size/L

#17387 Fix follow point animations not looping
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
Labels: ruleset:osu!, area:skinning, size/XS

#17356 Implement "Strict Tracking" mod in osu!
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: ruleset:osu!, area:mods, size/L

#17401 Fix beatmap date added not being updated on reimporting a soft deleted beatmap
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game/Stores/BeatmapImporter.cs
  osu.Game/Stores/RealmArchiveModelImporter.cs
Labels: area:database, size/S

#17406 Add C# extension to recommended VS Code extensions
  .vscode/extensions.json
Labels: area:tooling, size/XS

#17386 Fix keyboard controls not working to adjust skin settings
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
  osu.Game/Skinning/Editor/SkinEditorSceneLibrary.cs
Labels: type:input, size/L, area:skin-editor

#17384 Add hold-to-confirm flow for discarding editor changes
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game.Tests/Visual/UserInterface/TestScenePopupDialog.cs
  osu.Game/Graphics/Containers/HoldToConfirmContainer.cs
  osu.Game/Graphics/UserInterface/DialogButton.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Overlays/Dialog/PopupDialogDangerousButton.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/PromptForSaveDialog.cs
Labels: area:editor, type:UX, size/L

#17403 Disallow exiting the editor without saving (unless explicitly confirming)
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: area:editor, type:UX, size/M

#17400 Fix mods from single player carrying over to multiplayer
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: area:multiplayer, size/S

#17414 Update LocalisationAnalyser to support .net6
  .config/dotnet-tools.json
  osu.Game/osu.Game.csproj
Labels: size/XS

#17419 Fix hitsounds not always playing when they should
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:gameplay, size/XS

#17326 Implement multiplayer countdown timers
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/Online/Multiplayer/Countdown/CountdownChangedEvent.cs
  osu.Game/Online/Multiplayer/Countdown/StartMatchCountdownRequest.cs
  osu.Game/Online/Multiplayer/Countdown/StopCountdownRequest.cs
  osu.Game/Online/Multiplayer/MatchServerEvent.cs
  osu.Game/Online/Multiplayer/MatchStartCountdown.cs
  osu.Game/Online/Multiplayer/MatchTypes/TeamVersus/ChangeTeamRequest.cs
  osu.Game/Online/Multiplayer/MatchUserRequest.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerCountdown.cs
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
  osu.Game/Online/SignalRWorkaroundTypes.cs
  osu.Game/Screens/OnlinePlay/Components/ReadyButton.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerCountdownButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchFooter.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/XXL

#17425 Fix realm potentially not being refreshed in time for test asserts in `BeatmapImporterTests`
  osu.Game.Tests/Database/BeatmapImporterTests.cs
Labels: type:testing, size/S

#17429 Fix replays set on old beatmaps having incorrect timing
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:replay, size/L

#17431 Guard against potential null `CurrentItem` in `ParticipantPanel`
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
Labels: area:multiplayer, size/XS, type:reliability

#17432 Allow realm subscriptions to be initiated from any thread
  osu.Android.props
  osu.Game.Tournament/Screens/Setup/TournamentSwitcher.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/IO/WrappedStorage.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:database, size/M

#17416 Refactor skin construction
  osu.Game.Rulesets.Catch.Tests/CatchSkinColourDecodingTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/NonVisual/Skinning/LegacySkinTextureFallbackTest.cs
  osu.Game.Tests/Skins/TestSceneBeatmapSkinLookupDisables.cs
  osu.Game.Tests/Skins/TestSceneSkinConfigurationLookup.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinResourceStore.cs
  osu.Game/Skinning/RealmBackedResourceStore.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Beatmaps/LegacyBeatmapSkinColourTest.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: type:code-quality, area:skinning, size/L

#17443 Fix game unexpectedly exiting without outro sequence occasionally on macOS
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/MainMenuButton.cs
Labels: type:UX, platform:macOS, size/M

#17314 Pin multiplayer host participant panel to the top of the list
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
Labels: type:UX, area:multiplayer, size/M

#17285 Implement mod settings area component
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettingsArea.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
Labels: area:mods, type:UI, size/L

#17421 Apply `nullable` to skin classes
  osu.Game/Skinning/ISkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/ResourceStoreBackedSkin.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: type:code-quality, size/L

#17444 Update multiplayer countdown button text more often
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
Labels: size/XS

#17445 Fix visual test crashes due to local realm not having update thread
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/XS

#17448 Avoid crashing if a skin component cannot be instantiated correctly
  osu.Game/Skinning/Skin.cs
Labels: size/S

#17402 Add multiplayer auto-start countdown timer
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayComposite.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#17447 Use more appropriate icon on countdown button (and give tooltip)
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerCountdownButton.cs
Labels: area:multiplayer, size/XS

#17468 Fix test failures in skin editor test scene
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
Labels: type:testing, size/XS

#17459 Add toolbar clock (and game runtime) display
  osu.Game.Tests/Visual/Menus/TestSceneToolbarClock.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Configuration/ToolbarClockDisplayMode.cs
  osu.Game/Overlays/Toolbar/AnalogClockDisplay.cs
  osu.Game/Overlays/Toolbar/ClockDisplay.cs
  osu.Game/Overlays/Toolbar/DigitalClockDisplay.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarClock.cs
Labels: type:UI, size/L

#17466 Fix multiplayer match settings overlay dropdown Z-ordering
  osu.Game/Screens/OnlinePlay/Match/Components/RoomSettingsOverlay.cs
Labels: type:UI, area:multiplayer, size/XS

#17464 Fix LogoVisualisation draw thread safety
  osu.Game/Screens/Menu/LogoVisualisation.cs
Labels: area:main menu, size/XS, type:reliability

#17449 Improve multiplayer ready button/countdown button UX
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerCountdownButton.cs
Labels: type:UX, area:multiplayer, size/L

#17525 Remove unnecessary `SetReplayScore` call in `ModCinema`
  osu.Game/Rulesets/Mods/ModCinema.cs
Labels: size/XS

#17502 Better inform users of migration failure reason when running Apple Silicon build
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/RealmAccess.cs
Labels: area:database, type:UX, platform:macOS, size/M

#17530 Fix "Barrel Roll" tooltip not limiting decimal places for spin speed
  osu.Game/Rulesets/Mods/ModBarrelRoll.cs
Labels: area:mods, type:UI, size/XS

#17547 Ignore EF-to-realm migration tests on M1 ARM architectures
  osu.Game.Tests/Visual/Navigation/TestEFToRealmMigration.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
Labels: type:testing, size/S

#17527 Add ability to "migrate" data to another folder which has an existing install
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationSelectScreen.cs
Labels: area:settings, size/M

#17551 Move all usages of `client.realm` filename to a single `const`
  osu.Game.Benchmarks/BenchmarkRealmReads.cs
  osu.Game.Tests/Database/RealmTest.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationSelectScreen.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: size/M

#17550 Fix scores sometimes shown with incorrect scoring mode
  osu.Game/Scoring/ScoreManager.cs
Labels: type:UI, area:scoring, size/S

#17546 Mark both "Autoplay" and "Cinema" mods as mutually exclusive
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModCinema.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:song-select, area:mods, type:UX, size/L

#17555 Remove song source from main wedge display
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: size/S

#17556 Fix `MultiplayerMatchSongSelect` potentially attempting to exit when not the current screen
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
Labels: size/XS

#17509 Fix autoplay avatar being clickable on results screen
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/Mods/EmptyFreeformModAutoplay.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Mods/PippidonModAutoplay.cs
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling/Mods/EmptyScrollingModAutoplay.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/Mods/PippidonModAutoplay.cs
  osu.Game.Rulesets.Catch/Mods/CatchModAutoplay.cs
  osu.Game.Rulesets.Catch/Mods/CatchModCinema.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModAutoplay.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModCinema.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneMissHitWindowJudgements.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutoplay.cs
  osu.Game.Rulesets.Osu/Mods/OsuModCinema.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModAutoplay.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModCinema.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplay.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Rulesets/Edit/DrawableEditorRulesetWrapper.cs
  osu.Game/Rulesets/Mods/ICreateReplay.cs
  osu.Game/Rulesets/Mods/ICreateReplayData.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModExtensions.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Skinning/Editor/SkinEditorSceneLibrary.cs
  osu.Game/Tests/Visual/TestPlayer.cs
  osu.Game/Tests/Visual/TestReplayPlayer.cs
  osu.Game/Users/Drawables/ClickableAvatar.cs
Labels: area:results, size/L

#17568 Fix osu! logo being clicked when exiting via cmd-q on initial state
  osu.Game/Screens/Menu/ButtonSystem.cs
Labels: type:input, area:main menu, platform:macOS, size/XS

#17569 Ignore line ending normalisation commit from blame
  .git-blame-ignore-revs
Labels: type:code-quality, size/XS

#17565 Remove ScoreInfo allocations in multiplayer leaderboard
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: type:performance, area:multiplayer, size/S

#17572 Fix multiplayer sounds playing too much after gameplay
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomSounds.cs
Labels: area:multiplayer, size/XS, type:audio

#17574 Fix tournament bracket parsing's ruleset refetch logic not working correctly
  osu.Game.Tournament.Tests/NonVisual/DataLoadTest.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/M
