Repository ppy/osu, pull requests merged in 2022-02, with the labels that each got.

#16719 Add basic touch input support for osu!mania
  osu.Game.Rulesets.Mania/ManiaInputManager.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/DefaultKeyArea.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: ruleset:osu!mania, size/M

#16722 Implement spectator consistency frames
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/Replays/EmptyFreeformFramedReplayInputHandler.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Replays/PippidonFramedReplayInputHandler.cs
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling/Replays/EmptyScrollingFramedReplayInputHandler.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/Replays/PippidonFramedReplayInputHandler.cs
  osu.Game.Rulesets.Catch/Replays/CatchFramedReplayInputHandler.cs
  osu.Game.Rulesets.Mania/Replays/ManiaFramedReplayInputHandler.cs
  osu.Game.Rulesets.Osu/Replays/OsuFramedReplayInputHandler.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoFramedReplayInputHandler.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Input/Handlers/ReplayInputHandler.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Rulesets/Replays/FramedReplayInputHandler.cs
  osu.Game/Rulesets/Replays/ReplayFrame.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
Labels: size/L, area:spectator

#16734 Fix several cases of unused constructor and method parameters
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatchComboCounter.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Tests/Editing/Checks/CheckTooShortAudioFilesTest.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game.Tests/NonVisual/Skinning/LegacySkinAnimationTest.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableDrawable.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/LegacyComboCounter.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinModelManager.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: type:code-quality, size/M

#16658 Add "Hold Off" mod (no long notes)
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModHoldOff.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHoldOff.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModInvert.cs
Labels: proposal, ruleset:osu!mania, area:mods, size/L

#16726 Add basic tooltip for leaderboard scores
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Beatmaps/Drawables/DifficultyIconTooltip.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Online/Leaderboards/LeaderboardScoreTooltip.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchLeaderboardScore.cs
Labels: type:UI, size/L

#16739 Add cursor 'tap' audio feedback
  osu.Android.props
  osu.Game/Graphics/Cursor/MenuCursor.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:audio

#16738 Fix rulesets potentially being marked `Available` even when methods are missing
  osu.Game/Rulesets/RulesetStore.cs
Labels: size/XS, type:reliability

#16742 Fix crash when selecting non-osu! ruleset mods as freemod
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
Labels: ruleset:osu!taiko, area:multiplayer, size/M

#16748 Use `0.1` keyboard step for "Difficulty Adjust" sliders
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
Labels: area:mods, type:UX, size/XS

#16751 Fix flashlight size multiplier printing with too many decimal digits
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: area:mods, type:UI, size/S

#5774 Add "Aim Assist" mod
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAimAssist.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAimAssist.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutoplay.cs
  osu.Game.Rulesets.Osu/Mods/OsuModCinema.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: ruleset:osu!, area:mods, size/L

#16701 Add "Alternate" mod for osu! ruleset
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAlternate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAlternate.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game/Tests/Visual/ModTestScene.cs
Labels: ruleset:osu!, area:mods, size/L

#16758 Fix API requests not completing when offline
  osu.Game/Online/API/APIAccess.cs
Labels: type:online, size/XS

#16761 Wait for `DialogOverlay` load in more tests
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
Labels: size/XS

#16762 Fix `TestSelectingFilteredRuleset` failing under visual tests due to using local database
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
Labels: type:testing, size/S

#16760 Trigger a re-layout of HUD components when scoring mode is changed
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: type:UI, area:skinning, size/M

#16675 Add audio feedback to song select 'random'
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/M, type:audio

#16754 Add ability to create new difficulties from within the editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Beatmaps/BeatmapModelManager.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Models/RealmUser.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorLoader.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: area:editor, size/L

#16743 Allow statistic items in results screen to display without needing to watch a replay
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/StatisticContainer.cs
  osu.Game/Screens/Ranking/Statistics/StatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: area:results, size/L

#16733 Lock screen orientation to landscape on mobile phones
  osu.Android/GameplayScreenRotationLocker.cs
  osu.Android/OsuGameActivity.cs
  osu.Game.Rulesets.Catch.Tests.iOS/Info.plist
  osu.Game.Rulesets.Mania.Tests.iOS/Info.plist
  osu.Game.Rulesets.Osu.Tests.iOS/Info.plist
  osu.Game.Rulesets.Taiko.Tests.iOS/Info.plist
  osu.Game.Tests.iOS/Info.plist
  osu.iOS/Info.plist
Labels: platform:mobile, size/M

#16770 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#16773 Fix crash when gameplay is started while inside multiplayer spectator screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/M

#16777 Play both 'random beatmap' and 'beatmap selection changed' samples when hitting random
  osu.Android.props
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:song-select, size/M, type:audio

#16772 Fix the game overlapping notches and punch-hole cameras on mobile devices
  osu.Game.Tests/Visual/UserInterface/TestSceneSafeAreaHandling.cs
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/OsuGameBase.cs
  osu.iOS/OsuGameIOS.cs
Labels: platform:mobile, size/L

#16774 Fix test scene broken without being logged in
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
Labels: type:testing, size/L, area:spectator

#16778 Refactor TestSpectatorClient implementation
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: type:testing, size/S, area:spectator

#16782 Revert "Merge pull request #16716 from peppy/carousel-less-invalidations"
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselHeader.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
Labels: size/L

#16823 Fix crash on disconnection during multi-spectate
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
Labels: area:multiplayer, size/XS

#16483 Display performance breakdown in a tooltip
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceAttributes.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceAttributes.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceAttributes.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Rulesets/Difficulty/PerformanceAttributes.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdown.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
  osu.Game/Rulesets/Difficulty/PerformanceDisplayAttribute.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
  osu.Game/Screens/Ranking/Statistics/PerformanceBreakdownChart.cs
Labels: type:UI, area:results, size/L

#16826 Fix comparison leading to incorrect beatmap availabilities
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Stores/BeatmapImporter.cs
Labels: area:database, size/XS

#16830 Fix playlist overlay crash when pressing enter with no selection
  osu.Game/Overlays/Music/PlaylistOverlay.cs
Labels: size/XS

#16832 Improve ruleset templates
  Templates/Rulesets/ruleset-empty/.editorconfig
  Templates/Rulesets/ruleset-empty/.gitignore
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.sln.DotSettings
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/osu.Game.Rulesets.EmptyFreeform.csproj
  Templates/Rulesets/ruleset-example/.editorconfig
  Templates/Rulesets/ruleset-example/.gitignore
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.sln.DotSettings
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/osu.Game.Rulesets.Pippidon.csproj
  Templates/Rulesets/ruleset-scrolling-empty/.editorconfig
  Templates/Rulesets/ruleset-scrolling-empty/.gitignore
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.sln.DotSettings
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling/osu.Game.Rulesets.EmptyScrolling.csproj
  Templates/Rulesets/ruleset-scrolling-example/.editorconfig
  Templates/Rulesets/ruleset-scrolling-example/.gitignore
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.sln.DotSettings
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/osu.Game.Rulesets.Pippidon.csproj
  Templates/osu.Game.Templates.csproj
Labels: size/XL, area:templates

#16838 Update fastlane to latest release
  Gemfile.lock
  fastlane/README.md
Labels: area:tooling, size/L

#16842 Fix migration errors not outputting the call stack to logs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationRunScreen.cs
Labels: size/XS

#16844 Allow game folder migration to fail gracefully when cleanup cannot completely succeed
  osu.Game.Tests/Visual/Settings/TestSceneMigrationScreens.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game/IO/MigratableStorage.cs
  osu.Game/IO/OsuStorage.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationRunScreen.cs
Labels: size/L, type:reliability

#16827 Add user state to SpectatorState, allowing multiplayer to continue to results
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoSuddenDeath.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailAnimation.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFailJudgement.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorHost.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Online/Spectator/SpectatedUserState.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorState.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayerLoader.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/GameplayState.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SoloSpectator.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: size/L, area:spectator

#16852 Standardise grouping and ordering of `IRulesetInfo`/`RulesetInfo`s
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardDifficultyList.cs
  osu.Game/Beatmaps/Drawables/DifficultySpectrumDisplay.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Rulesets/EFRulesetInfo.cs
  osu.Game/Rulesets/IRulesetInfo.cs
  osu.Game/Rulesets/RulesetInfo.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
Labels: type:UI, size/M

#16850 Add read-only pinned scores view in user profile overlay
  osu.Android.props
  osu.Game/Online/API/Requests/GetUserScoresRequest.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/RanksSection.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:UI, area:overlay-user-profile, size/S

#16854 Standardise and combine base implementation of score submission requests
  osu.Game/Online/Rooms/SubmitRoomScoreRequest.cs
  osu.Game/Online/Rooms/SubmitScoreRequest.cs
  osu.Game/Online/Solo/SubmitSoloScoreRequest.cs
  osu.Game/Screens/Play/RoomSubmittingPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
Labels: type:code-quality, size/L

#16853 Add test coverage checking carousel panel visual state after ruleset filter change
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
Labels: type:testing, size/M

#16856 Ignore short spinners for Relax mod
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: missing details, ruleset:osu!, area:mods, size/XS

#16574 Abstractify `ExpandingButtonContainer` and support contraction of settings controls
  osu.Game.Tests/Visual/Menus/TestSceneSideOverlays.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneExpandingContainer.cs
  osu.Game/Graphics/Containers/ExpandingButtonContainer.cs
  osu.Game/Graphics/Containers/ExpandingContainer.cs
  osu.Game/Graphics/Containers/IExpandable.cs
  osu.Game/Graphics/Containers/IExpandingContainer.cs
  osu.Game/Graphics/UserInterface/ExpandableSlider.cs
  osu.Game/Overlays/ExpandingButtonContainer.cs
  osu.Game/Overlays/Settings/SettingsSidebar.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
Labels: type:UI, type:UX, size/XL

#16877 Add test coverage of EF to Realm migration process
  osu.Game.Tests/Resources/client.db
  osu.Game.Tests/Visual/Navigation/TestEFToRealmMigration.cs
Labels: area:database, type:testing, size/M

#16876 Remove ruleset and mod bindables from PlaylistItem
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsRoomSettingsPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/MultiplayerScore.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Components/ModeTypeInfo.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsSongSelect.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomManager.cs
Labels: type:code-quality, area:multiplayer, size/L, area:playlists

#16861 Add option to create copy of existing difficulty
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/Edit/CreateNewDifficultyDialog.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorLoader.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: area:editor, size/L

#16879 Fix incorrectly cached lookup components in tests
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneCreateMultiplayerMatchButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsRoomSettingsPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneRankRangePill.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game.Tests/Visual/TestMultiplayerComponents.cs
  osu.Game/Tests/Visual/Multiplayer/IMultiplayerTestSceneDependencies.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/IOnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
Labels: type:code-quality, type:testing, size/XL

#16884 Add XMLDocs to difficulty attribute properties
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: area:difficulty, size/M, type:documentation

#16889 Remove mod multipliers from applying to scores
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFooterButtonMods.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: area:mods, area:scoring, size/M

#16886 Clarify ambiguous conditionals in `LegacyStageBackground`
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyStageBackground.cs
Labels: type:code-quality, size/XS

#16896 Remove creator name from playlist item panel beatmap text
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: type:UI, size/S

#16897 Revert changes to mod multiplier display
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFooterButtonMods.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: size/M

#16891 Fix mania hit window attribute improperly considering rate-adjustment mods
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
Labels: ruleset:osu!mania, area:difficulty, size/S

#16880 Remove beatmap bindable from PlaylistItem
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/OnlinePlay/PlaylistExtensionsTest.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerTeamResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsRoomSettingsPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneStarRatingRangeDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game.Tests/Visual/TestMultiplayerComponents.cs
  osu.Game/Online/API/Requests/GetBeatmapsRequest.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Online/Rooms/PlaylistExtensions.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Components/BeatmapTitle.cs
  osu.Game/Screens/OnlinePlay/Components/ModeTypeInfo.cs
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundSprite.cs
  osu.Game/Screens/OnlinePlay/Components/PlaylistItemBackground.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/Components/StarRatingRangeDisplay.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsSongSelect.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: type:code-quality, area:multiplayer, size/XL, area:playlists

#16898 Fix mania PP calculator applying incorrect score multiplier
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
Labels: ruleset:osu!mania, area:difficulty, size/S

#16903 Fix beatmap overlay leaderboards and links not working
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
Labels: size/S, area:overlays

#16895 Name newly created difficulties in a better way
  osu.Game.Tests/Utils/NamingUtilsTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Utils/NamingUtils.cs
Labels: area:editor, type:UX, size/L

#16907 Copy screenshots to clipboard
  osu.Game/Graphics/ScreenshotManager.cs
Labels: size/XS, platform:windows

#16910 Fix storyboard background replacement logic not working for beatmaps with multiple backgrounds
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/XS

#16933 Add all colour constants for "basic" colour theme to `OsuColour`
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchGeneralFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
  osu.Game/Overlays/BeatmapSet/ExplicitContentBeatmapPill.cs
  osu.Game/Overlays/BeatmapSet/FeaturedArtistBeatmapPill.cs
  osu.Game/Overlays/OverlayColourProvider.cs
Labels: type:code-quality, type:UI, size/M

#16942 Allow room category to be copied even if `Spotlight`
  osu.Game/Online/Rooms/Room.cs
Labels: size/XS, area:playlists

#16939 Add safeties to skip attempted import of the intro beatmap when osu! ruleset not present
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: type:testing, size/S

#16943 Ensure spotlights always show at the top of the lounge listing
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomManager.cs
Labels: size/S, area:playlists

#16945 Update playlist room display to a three column layout
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: size/L, area:playlists

#16961 Fix `TestSceneEditorSaving` not waiting for timeline load
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
Labels: type:testing, size/XS

#16960 Fix beatmap overlay not re-fetching results after initial login
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: size/S, area:overlay-beatmap-listing

#16951 Implement mod switches for new mod select design
  osu.Game.Tests/Visual/UserInterface/TestSceneModSwitchSmall.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSwitchTiny.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Rulesets/UI/ModSwitchSmall.cs
  osu.Game/Rulesets/UI/ModSwitchTiny.cs
Labels: type:UI, size/L, area:overlay-modselect

#16969 Update framework
  osu.Android.props
  osu.Game/Tests/Visual/SkinnableTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#16860 Give "Spun Out" dynamic spin rate
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
Labels: ruleset:osu!, area:mods, size/M

#16979 Fix playlists not allowing entry with partial mods
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game/Online/API/APIMod.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
Labels: size/S, area:playlists

#16980 Fix SignalR union workaround resolver failing on multiple union'd types
  osu.Game/Online/SignalRUnionWorkaroundResolver.cs
Labels: type:online, area:multiplayer, size/XS

#16981 Remove Microsoft.CodeAnalysis.NetAnalyzers package
  Directory.Build.props
Labels: type:code-quality, size/XS

#16976 Don't expose "mark as read" errors to the user via notifications
  osu.Game/Online/Chat/ChannelManager.cs
Labels: type:UX, size/XS

#16974 Implement mod panel for new mod select design
  osu.Game.Tests/Visual/UserInterface/TestSceneModPanel.cs
  osu.Game/Overlays/Mods/IncompatibilityDisplayingModButton.cs
  osu.Game/Overlays/Mods/IncompatibilityDisplayingModPanel.cs
  osu.Game/Overlays/Mods/IncompatibilityDisplayingTooltip.cs
  osu.Game/Overlays/Mods/ModPanel.cs
Labels: type:UI, size/XL, area:overlay-modselect

#16924 Allow exiting/minimizing the game on Android when on the initial screen
  osu.Game/Screens/Menu/MainMenu.cs
Labels: platform:android, size/S

#16890 Fix `LegacyBeatmapDecoder` not populating correct rulesets
  osu.Desktop/LegacyIpc/LegacyTcpIpcProvider.cs
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Database/RulesetStoreTests.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Collections/TestSceneManageCollectionsDialog.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerReadyButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneFilterControl.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/FlatFileWorkingBeatmap.cs
  osu.Game/Beatmaps/Formats/Decoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/AssemblyRulesetStore.cs
  osu.Game/Rulesets/RealmRulesetStore.cs
  osu.Game/Rulesets/RulesetStore.cs
Labels: type:code-quality, size/L

#16977 Allow pausing audio via hotkey at multiplayer lobby and results screen
  osu.Game/Overlays/Music/MusicKeyBindingHandler.cs
Labels: type:UX, size/S

#16985 Add chat display to multiplayer spectator
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Users/UserActivity.cs
Labels: area:multiplayer, size/M

#16975 Improve resilience of spectator frame communication to ensure replays are sent in full
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyPlayingDisplay.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: size/L, area:spectator

#16987 Update build configurations for Rider and VSCode for net6.0
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Benchmarks.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/CatchRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/ManiaRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/OsuRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/TaikoRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___Tests_.xml
  .vscode/launch.json
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/.vscode/launch.json
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/.vscode/launch.json
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/.vscode/launch.json
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/.vscode/launch.json
  osu.Game.Rulesets.Catch.Tests/.vscode/launch.json
  osu.Game.Rulesets.Mania.Tests/.vscode/launch.json
  osu.Game.Rulesets.Osu.Tests/.vscode/launch.json
  osu.Game.Rulesets.Taiko.Tests/.vscode/launch.json
  osu.Game.Tournament.Tests/.vscode/launch.json
Labels: area:tooling, size/L

#16986 Add button to open currently selected tournament in file explorer
  osu.Game.Tournament/Screens/Setup/TournamentSwitcher.cs
Labels: type:UX, area:tournament, size/S

#17012 Display star ratings in tournament mode using two decimal places
  osu.Game.Tournament.Tests/Components/TestSceneSongBar.cs
  osu.Game.Tournament/Components/SongBar.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
Labels: area:tournament, size/M

#17015 Fix missing dependency in test
  osu.Game.Tournament.Tests/Components/TestSceneSongBar.cs
Labels: type:testing, size/XS

#17013 Add support for arbitrary beat divisors
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderStreamConversion.cs
  osu.Game.Tests/Visual/Editing/TestSceneBeatDivisorControl.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorPresetCollection.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorType.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/XL

#17018 Show hit error on results screen
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Scoring/HitEventExtensions.cs
  osu.Game/Screens/Ranking/Statistics/AverageHitError.cs
Labels: area:results, size/M
