Repository ppy/osu, pull requests merged in 2022-10, with the labels that each got.

#20549 Fix player potentially getting stuck on completion with storyboard enabled
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/M

#20565 Change song select random key binding to not handle key repeat
  osu.Game/Screens/Select/FooterButtonRandom.cs
Labels: area:song-select, type:UX, size/XS

#20569 Attempt to fix deadlock in `TestSceneOnlinePlayBeatmapAvailabilityTracker`
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
Labels: type:testing, size/S

#20506 Always show exclusive fullscreen as enabled on Intel platforms
  osu.Android.props
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Screens/Utility/LatencyCertifierScreen.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S, platform:windows

#20567 Fix potential crash when attempting to display an imported score at song select
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game/OsuGame.cs
Labels: area:song-select, size/M, type:reliability

#20572 Add osu! hit object dim
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHitWindows.cs
Labels: ruleset:osu!, area:gameplay, size/S

#20564 Adjust leaderboard score panels sizing based on accuracy/combo width
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, size/M

#20580 Hide approach circles immediate on successful hit
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#20570 Compute lifetime start from entry for scrolling hit objects
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneScrollingHitObjects.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingPlayfield.cs
Labels: ruleset:osu!taiko, ruleset:osu!mania, ruleset:osu!catch, size/L, area:ruleset-api

#20585 Pin taiko PP calculator's accuracy to the classic value
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset:osu!taiko, area:difficulty, size/XS

#20340 Localize non-localizable setting items
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/DebugSettingsStrings.cs
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Localisation/MaintenanceSettingsStrings.cs
  osu.Game/Localisation/TabletSettingsStrings.cs
  osu.Game/Overlays/Dialog/ConfirmDialog.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/BeatmapSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/CollectionsSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationRunScreen.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationSelectScreen.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/ModPresetSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/ScoreSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/SkinSettings.cs
Labels: size/L

#20594 Fix mania hold note head disappears
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteHead.cs
Labels: ruleset:osu!mania, size/XS

#20376 Add cursor "smoke" trails
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/Resources/metrics-skin/cursor-smoke@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/cursor-smoke.png
  osu.Game.Rulesets.Osu.Tests/TestSceneSmoke.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/OsuSkinComponents.cs
  osu.Game.Rulesets.Osu/Replays/OsuReplayFrame.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSmokeSegment.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySmokeSegment.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Rulesets.Osu/UI/SmokeContainer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayRewinding.cs
  osu.Game/Replays/Legacy/LegacyReplayFrame.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:gameplay, area:skinning, size/XL

#20599 Fix language settings dropdown not updating when changing language in first run setup
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
Labels: type:UI, area:settings, size/XS

#20571 Add "argon" key area for osu!mania
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHitTarget.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
Labels: ruleset:osu!mania, area:skinning, size/L

#20566 Adjust flashlight to more closely match classic scaling
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: ruleset:osu!, area:mods, size/M

#20592 Refactor osu!mania skinning to allow skins to specify column accent colours
  osu.Game.Rulesets.Mania.Tests/Editor/ManiaPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Editor/ManiaSelectionBlueprintTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaBeatSnapGrid.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaComposeScreen.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania.Tests/ManiaColumnTypeTest.cs
  osu.Game.Rulesets.Mania.Tests/ManiaLegacyReplayTest.cs
  osu.Game.Rulesets.Mania.Tests/ManiaSpecialColumnTest.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModHoldOff.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ColumnTestContainer.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaSkinnableTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneBarLine.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestScenePlayfield.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStage.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageBackground.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStageForeground.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneAutoGeneration.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneColumn.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneDrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneStage.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneTimingBasedNoteColouring.cs
  osu.Game.Rulesets.Mania/Beatmaps/ColumnType.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmap.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/StageDefinition.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponent.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Default/ManiaTrianglesSkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaColumnElement.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyStageBackground.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaClassicSkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaSkinConfigExtensions.cs
  osu.Game.Rulesets.Mania/Skinning/ManiaSkinConfigurationLookup.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnBackground.cs
  osu.Game.Rulesets.Mania/UI/Components/DefaultColumnBackground.cs
  osu.Game.Rulesets.Mania/UI/Components/DefaultHitTarget.cs
  osu.Game.Rulesets.Mania/UI/Components/DefaultKeyArea.cs
  osu.Game.Rulesets.Mania/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset:osu!mania, size/XL

#20601 Add "argon" note and stage design for osu!mania
  osu.Game.Rulesets.Mania.Tests/Skinning/ColumnTestContainer.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaHitObjectTestScene.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHitExplosion.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHitTarget.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHoldBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHoldNoteTailPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonNotePiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonStageBackground.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/ColumnFlow.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
Labels: ruleset:osu!mania, area:skinning, size/XL

#20602 Fix osu!mania not colours not always updating when switching skins
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
Labels: ruleset:osu!mania, size/S

#20562 Fix potential crash when score submission token retrival fails
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:gameplay, size/S, type:reliability

#20603 Adjust out-of-the-box background dim back down to 70%
  osu.Game/Configuration/OsuConfigManager.cs
Labels: size/XS

#20519 Fix fade being applied for too long when leaderboard scrolls to start
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
Labels: area:gameplay, size/XS

#20604 Second pass on osu!mania "argon" visuals
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHitExplosion.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHoldBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonKeyArea.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonNotePiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
Labels: ruleset:osu!mania, size/L

#20600 Fix osu!mania key / stage lighting / explosions not working well with rewind
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/PoolableHitExplosion.cs
Labels: size/S

#20605 Update all dependencies
  .github/workflows/ci.yml
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Android.props
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#20650 Fixed slider stream convert float precision edge case
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderStreamConversion.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/M

#20672 Remove leftover Enum
  osu.Game/Skinning/HUDSkinComponents.cs
Labels: size/S

#20665 Fix smoke being blocked with "Relax" mod enabled
  osu.Game.Rulesets.Mania.Tests/ManiaInputTestScene.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: ruleset:osu!, area:mods, size/M

#20606 Barline generator improvements
  osu.Game.Rulesets.Taiko.Tests/TestSceneBarLineGeneration.cs
  osu.Game/Rulesets/Objects/BarLineGenerator.cs
Labels: area:beatmap, size/L

#20586 Use hit object time for timeline drag selection instead of relying on blueprint
  osu.Game.Tests/Visual/Editing/TestSceneTimelineSelection.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineDragBox.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Skinning/Editor/SkinBlueprintContainer.cs
Labels: area:editor, size/L

#20645 Add support for inline country flags in wiki overlay
  osu.Android.props
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownTextFlowContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, area:overlay-wiki

#20691 Fix division by 0 in osu!mania's accuracy PP formula
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
Labels: ruleset:osu!mania, area:difficulty, size/S

#20707 Use async flow for storing key binding changes to realm
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
Labels: type:performance, area:database, size/S

#20683 Add support for weird storyboards which have backwards events
  osu.Game/Storyboards/CommandTimeline.cs
Labels: area:storyboard, size/XS

#20682 Fix clicking a leaderboard score at song select transtiioning briefly to main menu
  osu.Game/OsuGame.cs
Labels: area:song-select, type:UX, size/S

#20681 Fix HUD components being interactive even when the HUD is visually hidden
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/M

#20708 Implement hold "sliding" samples in osu!mania
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Rulesets/Objects/HitObject.cs
Labels: ruleset:osu!mania, area:gameplay, size/M

#20679 Remove duplicated colour in osu!mania argon skin column colouring
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
Labels: ruleset:osu!mania, size/S

#20702 Fix beatmap update button not respecting user "prefer no video" setting
  osu.Game/Database/ModelDownloader.cs
  osu.Game/Screens/Select/Carousel/UpdateBeatmapSetButton.cs
Labels: area:song-select, type:UX, size/S

#20704 Anchor editor drag box on time (catch, mania)
  osu.Game.Rulesets.Catch/Edit/CatchBlueprintContainer.cs
  osu.Game.Rulesets.Mania/Edit/ManiaBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ScrollingDragBox.cs
Labels: ruleset:osu!mania, ruleset:osu!catch, area:editor, size/M

#20714 Improve flashlight display on break periods
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: area:mods, size/M

#20703 Improve editor drag box selection logic
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/L

#20687 Improve Intro timing with non-osu! theme
  osu.Game/Beatmaps/IWorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: area:main menu, size/S

#20568 Sync displays dropdown in settings with OS displays
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/M

#20712 Reduce the scope of realm transactions during import operations
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Database/RealmFileStore.cs
Labels: type:performance, area:database, size/M

#20641 Preserve collections when saving a beatmap
  osu.Game.Tests/Beatmaps/WorkingBeatmapManagerTest.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: area:database, size/M

#20725 Fix legacy fallbacks not working correctly for beatmap skins
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
Labels: area:skinning, size/M

#20512 Add ability to delete own comments
  osu.Game.Tests/Visual/Online/TestSceneCommentActions.cs
  osu.Game/Online/API/Requests/CommentDeleteRequest.cs
  osu.Game/Online/API/Requests/Responses/Comment.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: size/L, area:comments

#20724 Add "longest combo" counter to HUD components.
  osu.Game.Tests/Resources/Archives/modified-default-20221012.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Screens/Play/HUD/ComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultComboCounter.cs
  osu.Game/Screens/Play/HUD/LongestComboCounter.cs
Labels: area:gameplay, size/L

#20729 Request user confirmation on updating locally-modified beatmaps
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
  osu.Game/Localisation/PopupDialogStrings.cs
  osu.Game/Screens/Select/Carousel/UpdateBeatmapSetButton.cs
  osu.Game/Screens/Select/Carousel/UpdateLocalConfirmationDialog.cs
Labels: area:song-select, type:UX, size/L

#20738 Fix some editor display metrics up to feel better
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: area:editor, type:UI, size/M

#20753 Fix flaky update beatmap set test
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
Labels: type:testing, size/XS

#20759 Add basic test coverage for flashlight mod
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModFlashlight.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModFlashlight.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModFlashlight.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuFlashlight.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModFlashlight.cs
Labels: type:testing, area:mods, size/L

#20761 Fix max combo missing from playlists results screen
  osu.Game/Online/Rooms/MultiplayerScore.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsResultsScreen.cs
Labels: size/XS, area:playlists

#20739 Adjust visuals of settings toolboxes (gameplay loading screen and editor)
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorComposeRadioButtons.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneSettingsToolboxGroup.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Components/RadioButtons/EditorRadioButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:editor, type:UI, size/L

#20713 Hide menu cursor when non-mouse (e.g. keyboard) input is received
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModNoScope.cs
  osu.Game.Rulesets.Osu/Mods/OsuModMagnetised.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNoScope.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRepel.cs
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneCursors.cs
  osu.Game/Graphics/Cursor/GlobalCursorDisplay.cs
  osu.Game/Graphics/Cursor/IProvideCursor.cs
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Screens/Utility/LatencyArea.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: type:input, type:UX, size/L

#20756 Fix smoke shaking when gameplay is paused
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
Labels: ruleset:osu!, area:gameplay, size/S

#20735 Move "argon" skin judgement text in front of hitobjects
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonJudgementPiece.cs
Labels: area:gameplay, size/XS

#20771 Implement tablet pen/auxiliary button keybindings
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
Labels: type:input, area:settings, size/M

#20754 Add ability to copy links to comments
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/OSD/CopyUrlToast.cs
Labels: size/M, area:comments

#20780 Fix hit error bar icon orientation
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: type:UI, area:skinning, size/M

#20767 Hide cursor smoke in "No scope" mod
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModNoScope.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNoScope.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: ruleset:osu!, area:mods, size/S

#20593 Allow arbitrary height catch editor
  osu.Game.Rulesets.Catch/Edit/CatchEditorPlayfieldAdjustmentContainer.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Catch/Edit/DrawableCatchEditorRuleset.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
Labels: ruleset:osu!catch, area:editor, size/L

#20808 Fix editor padding regression
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/ExpandingToolboxContainer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: area:editor, size/S

#20817 Adjust spinner fade transitions to match stable
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyNewStyleSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
Labels: ruleset:osu!, area:gameplay, size/S

#20816 Adjust slider fade out transition to match stable
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#20815 Remove fade easing from legacy hit circles to match stable
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#20788 Fix potential exception in `SubmittingPlayer` token retrieval on request timeout
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, size/XS, type:reliability

#20763 Add ability to remove the current item in multiplayer
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
Labels: area:multiplayer, size/S

#20835 Improve automatic cursor hiding logic and limit to gameplay screen
  osu.Game.Tests/Visual/UserInterface/TestSceneCursors.cs
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/Play/Player.cs
Labels: type:UX, size/M

#20834 Enable slider ball tint on "classic" skin
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/SkinConfiguration.cs
Labels: ruleset:osu!, area:skinning, size/M

#20826 Fix some older beatmaps having missing backgrounds
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap, size/XS

#20825 Fix some argon circle layers not getting correct colour updates in editor
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: ruleset:osu!, area:editor, size/S

#20809 Fix taiko drum roll ticks sometimes overflowing outside the drum roll itself
  osu.Game.Tests/Visual/Gameplay/TestSceneScrollingHitObjects.cs
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/ControlPoints/IControlPoint.cs
  osu.Game/Rulesets/Timing/MultiplierControlPoint.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/ConstantScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/IScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/OverlappingScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/SequentialScrollAlgorithm.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Tests/Visual/ScrollingTestContainer.cs
Labels: ruleset:osu!taiko, area:gameplay, size/L

#20827 Remove smoke point maximum
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
Labels: ruleset:osu!, area:skinning, size/L

#20846 Avoid serialising some more properties of `SoloScoreInfo` unless present
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: type:online, size/S

#20845 Add unique hover/select samples to settings sidebar buttons
  osu.Android.props
  osu.Game/Graphics/UserInterface/HoverSampleSet.cs
  osu.Game/Overlays/Settings/SidebarButton.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S, type:audio

#20848 Fix adjusting volume via settings playing tick samples twice
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Overlays/Settings/Sections/Audio/VolumeSettings.cs
Labels: size/S, type:audio

#20855 Ban `char.ToLower()`/`char.ToUpper()` as well for better safety
  CodeAnalysis/BannedSymbols.txt
Labels: type:code-quality, size/XS

#20852 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#20872 Downgrade AutoMapper to fix Android startup crash
  osu.Game/osu.Game.csproj
Labels: platform:android, size/XS, type:reliability

#20850 Change distance snap to never account for slider velocity
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
Labels: area:editor, size/XS

#20811 Fix placement preview not showing in timeline of osu!taiko editor
  osu.Game.Rulesets.Taiko/Edit/Blueprints/HitPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSpanPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoHitObjectComposer.cs
Labels: ruleset:osu!taiko, area:editor, size/S

#20899 Fix point conversion not using invariant culture
  osu.Game.Tournament/JsonPointConverter.cs
Labels: size/XS

#20819 Implement taiko hitobject kiai flashing
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableDrumRollKiai.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHit.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHitKiai.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/CirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
  osu.Game/Skinning/LegacyKiaiFlashingDrawable.cs
Labels: ruleset:osu!taiko, area:gameplay, size/L

#19048 Add hidden item toggle to directory/file selectors
  osu.Game.Tests/Visual/Settings/TestSceneDirectorySelector.cs
  osu.Game.Tests/Visual/Settings/TestSceneFileSelector.cs
  osu.Game/Graphics/UserInterface/OsuCheckbox.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelector.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorHiddenToggle.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
Labels: type:UX, size/L

#20904 Fix crash when exiting seeding editor too soon
  osu.Game.Tournament/Screens/Editors/SeedingEditorScreen.cs
Labels: area:tournament, size/XS, type:reliability

#20810 Add test scene as environment to test changes to score algorithms
  osu.Game.Tests/Visual/Gameplay/TestSceneScoring.cs
Labels: type:testing, area:scoring, size/L

#20916 Rename some pieces and better document `SampleBankInfo`
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: type:code-quality, size/M

#20345 Add "Freeze Frame" mod
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModFreezeFrame.cs
  osu.Game.Rulesets.Osu/Mods/OsuModApproachDifferent.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFreezeFrame.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
Labels: ruleset:osu!, area:mods, size/L

#20903 Add ability to use `Shift`+`Number` to set current beat divisor in editor
  osu.Game.Tests/Visual/Editing/TestSceneBeatDivisorControl.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorBindings.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: area:editor, size/L

#20901 Add ability to clone objects in the editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: area:editor, size/M

#20937 Scroll beatmap listing to top when searching via tags/source
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:UX, size/XS, area:overlay-beatmap-listing

#20912 Make beatmap carousel select nearest to selection when selection was filtered
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
Labels: area:song-select, size/L

#20934 Fix invalid taiko flashlight size calculation
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
Labels: ruleset:osu!taiko, area:mods, size/M

#20922 Fix hold note disappearing instantly without fade out
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneOutOfOrderHits.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: ruleset:osu!mania, area:gameplay, size/S

#20941 Offset start of distance snap grid drawing if reference object's start time doesn't align
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
Labels: area:editor, size/M

#20828 Add momentary shortcuts to toggle grid/distance snap
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
Labels: area:editor, size/L

#20854 Show distance snap at current point in time (and add ability to set as usable value)
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/ExpandableButton.cs
Labels: area:editor, size/L

#20943 Apply distance snap time component even when nearby object snap kicks in
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
Labels: area:editor, size/S

#20960 Fix osu! logo drag area being a square
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: area:main-menu, size/M

#20658 Fix legacy BpmMultiplier clamp value
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: ruleset:osu!taiko, ruleset:osu!mania, area:beatmap, size/S

#20945 Fix slider heads getting misplaced after flipping in editor
  osu.Game.Rulesets.Osu.Tests/TestSceneObjectOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
Labels: area:editor, size/M

#20962 Fix toggle mute (and volume meter traversal) handling repeat key presses
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
Labels: type:input, size/XS

#20967 Reduce size of spinner blueprint to better represent gameplay size
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/Components/SpinnerPiece.cs
Labels: area:editor, size/S

#20966 Avoid unnecessarily refreshing `SliderBodyPiece`'s path
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/SliderBodyPiece.cs
Labels: type:performance, area:editor, size/S

#20968 Fix `SoloScoreInfo.Rank` not being serialised if rank is `D`
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: area:scoring, size/XS

#20980 Clean up configuration related obsoleted code
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
Labels: size/M

#20981 Clean up obsoleted tournament folder migration code
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament/Configuration/TournamentConfigManager.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
Labels: size/L

#20982 Clean up various obsoleted code
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/Formats/IHasComboColours.cs
  osu.Game/Beatmaps/Timing/TimeSignatures.cs
  osu.Game/Configuration/DatabasedSetting.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Rulesets/Mods/IApplicableToDrawableHitObjects.cs
  osu.Game/Rulesets/Mods/ICreateReplay.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Screens/Ranking/Statistics/StatisticItem.cs
  osu.Game/Skinning/SkinConfiguration.cs
  osu.Game/Skinning/SkinImporter.cs
Labels: size/L

#20946 Add first pass osu!catch "argon" skin
  osu.Android.props
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonBananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonCatcher.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonDropletPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonFruitPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonHitExplosion.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/CatchArgonSkinTransformer.cs
  osu.Game.Rulesets.Catch/Skinning/Default/CatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/DropletPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPiece.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset:osu!catch, size/XL

#20965 Only draw path visualiser when hovered or single slider is selected
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/M

#20986 Fix bar hit error meter labels not clearing when setting to none
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: type:UI, size/XS, area:skin-editor

#20984 Populate beatmap ruleset in `SoloScoreInfo.ToScoreInfo()`
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: area:scoring, size/M

#20842 Fix input settings not displaying in visual test browser
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGameBase.cs
Labels: type:testing, area:settings, size/M

#20997 Delete unused button "CircularButton.cs"
  osu.Game/Screens/Edit/Components/CircularButton.cs
Labels: type:code-quality, size/S

#20993 Improve osu!catch "argon" skin bananas
  osu.Android.props
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/IHasCatchObjectState.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonBananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/BananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/CatchHitObjectPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Default/FruitPiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game.Tournament.Tests/NonVisual/CustomTourneyDirectoryTest.cs
  osu.Game.Tournament.Tests/NonVisual/IPCLocationTest.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset:osu!catch, size/L

#20948 Only use alphanumeric + some special characters in filenames
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/LegacyExporter.cs
  osu.Game/Extensions/ModelExtensions.cs
Labels: area:beatmap, size/S

#20983 Add setting to allow forcing the game to draw over notches / cameras
  osu.Game.Tests/Visual/UserInterface/TestSceneSafeAreaHandling.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, platform:mobile, size/M

#21014 Fix toolbar visual bug when toggling clock displays
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: type:UI, size/XS, area:toolbar

#21020 Fix hold to pause button not working when HUD is hidden
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/M

#21018 Reuse function in the timeline class
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: type:code-quality, size/XS
