Repository ppy/osu, pull requests merged in 2022-07, with the labels that each got.

#18957 Remove nullable disable annotation in the utils namespace.
  osu.Game.Tests/Utils/NamingUtilsTest.cs
  osu.Game/Utils/BatteryInfo.cs
  osu.Game/Utils/ColourUtils.cs
  osu.Game/Utils/FormatUtils.cs
  osu.Game/Utils/HumanizerUtils.cs
  osu.Game/Utils/IDeepCloneable.cs
  osu.Game/Utils/LegacyRandom.cs
  osu.Game/Utils/LegacyUtils.cs
  osu.Game/Utils/NamingUtils.cs
  osu.Game/Utils/PeriodTracker.cs
  osu.Game/Utils/StatelessRNG.cs
  osu.Game/Utils/ZipUtils.cs
Labels: type:code-quality, size/S

#18958 Remove nullable disable annotation in the extension namespace.
  osu.Game/Extensions/CollectionExtensions.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Extensions/LanguageExtensions.cs
  osu.Game/Extensions/TimeDisplayExtensions.cs
  osu.Game/Extensions/TypeExtensions.cs
  osu.Game/Extensions/WebRequestExtensions.cs
  osu.Game/Online/API/Requests/GetNewsRequest.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
Labels: type:code-quality, size/S

#18874 Ensure all async writes are completed before realm is disposed
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game/Database/RealmAccess.cs
Labels: area:database, size/L

#18945 Separate slider ball and followcircle skinnables into default/legacy classes
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
Labels: type:code-quality, ruleset:osu!, size/L

#18966 Fix test sometimes referencing old ModSelect object
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: type:testing, area:multiplayer, size/S

#18963 Add difficulty filter reset to song select "no results" suggestions
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/NoResultsPlaceholder.cs
Labels: area:song-select, type:UX, size/M

#18821 Add room access type filter to multiplayer lounge screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/FilterCriteria.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomPermissionsFilter.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
Labels: type:UI, area:multiplayer, size/M

#18803 Fix profile header tab items not localising
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: type:localisation, area:overlay-user-profile, size/S

#18835 Split out beatmap update tasks to `BeatmapUpdater` and invoke from editor save flow
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/IWorkingBeatmapCache.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Database/MemoryCachingComponent.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:database, size/L

#18969 Fix cross-pollution of server- and client-side multiplayer objects in tests
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneTeamVersus.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: type:testing, area:multiplayer, size/XL

#18967 Remove iOS build CI workaround
  .github/workflows/ci.yml
Labels: area:tooling, platform:iOS, size/XS

#18970 Update SFX for mod select overlay show/hide
  osu.Android.props
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:song-select, size/M, type:audio

#18982 Fix ID clash with announce and PM channels in chat overlay tests
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
Labels: type:testing, size/XS

#18986 Fix dragging slider bars on nub not performing correctly relative movement
  osu.Android.props
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#18977 Imitate stable's slider ball fade in/out animation
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBall.cs
Labels: ruleset:osu!, area:skinning, size/M

#18979 Add more verbose logging to realm blocking process
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
Labels: area:database, size/M

#18984 Fix replays showing incorrect star difficulty on load
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
Labels: area:gameplay, type:UI, size/S

#18981 Fix `BeatmapInfoWedge` test potentially failing due to quick initial load
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
Labels: type:testing, size/XS

#18978 Send beatmap hash to server on solo score request
  osu.Game/Online/Solo/CreateSoloScoreRequest.cs
  osu.Game/Screens/Play/SoloPlayer.cs
Labels: type:online, size/S

#18985 Remove nullable disable annotation in replays namespace
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
  osu.Game.Rulesets.Catch/Replays/CatchFramedReplayInputHandler.cs
  osu.Game.Rulesets.Catch/Replays/CatchReplayFrame.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
  osu.Game.Rulesets.Mania/Replays/ManiaFramedReplayInputHandler.cs
  osu.Game.Rulesets.Mania/Replays/ManiaReplayFrame.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGeneratorBase.cs
  osu.Game.Rulesets.Osu/Replays/OsuFramedReplayInputHandler.cs
  osu.Game.Rulesets.Osu/Replays/OsuReplayFrame.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoAutoGenerator.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoFramedReplayInputHandler.cs
  osu.Game.Rulesets.Taiko/Replays/TaikoReplayFrame.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Replays/Legacy/LegacyReplayFrame.cs
  osu.Game/Replays/Legacy/ReplayButtonState.cs
  osu.Game/Replays/Replay.cs
  osu.Game/Rulesets/Replays/AutoGenerator.cs
  osu.Game/Rulesets/Replays/Types/IConvertibleReplayFrame.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: type:code-quality, area:replay, size/M

#18965 Mark, document and silence remaining flaky tests on standard CI runs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
  osu.Game.Tests/Gameplay/TestSceneMasterGameplayClockContainer.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimelineZoom.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneCompletionCancellation.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Tests/FlakyTestAttribute.cs
Labels: size/L

#18962 Move star difficulty filter to song select
  osu.Game.Tests/Visual/SongSelect/TestSceneDifficultyRangeFilterControl.cs
  osu.Game/Graphics/UserInterface/Nub.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
  osu.Game/Screens/Select/DifficultyRangeFilterControl.cs
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, type:UX, size/L

#18992 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#18990 Remove nullable disable annotation in the ruleset filter.
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Rulesets/Filter/IRulesetFilterCriteria.cs
Labels: size/S

#18997 Fix realm backup creation failing when run from `RealmAccess` constructor
  osu.Game.Tests/Collections/IO/ImportCollectionsTest.cs
  osu.Game.Tests/NonVisual/CustomDataDirectoryTest.cs
  osu.Game/Database/EFToRealmMigrator.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
Labels: area:database, size/L

#19006 Fix intermittent realm migration test failures
  osu.Game/Database/RealmAccess.cs
Labels: area:database, type:testing, size/M

#19005 Allow MIDI and joysticks to trigger the osu! cookie on the initial screen
  osu.Game/Screens/Menu/ButtonSystem.cs
Labels: type:UX, size/M

#19010 Add forgotten password link to login form
  osu.Game/Overlays/Login/LoginForm.cs
Labels: type:UX, size/M

#18993 Fix personal best score showing delete option on context menu
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, type:UI, size/XS

#19018 Add statistics display for `MemoryCachingComponent`s
  osu.Game/Database/MemoryCachingComponent.cs
Labels: area:tooling, size/M

#19014 Enable NRT and simplify `LineBufferedReader`
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/IO/LineBufferedReader.cs
Labels: type:code-quality, size/M

#19020 Improve asserts in `TestSeekPerformsInGameplayTime` to be more descriptive
  osu.Game.Tests/Gameplay/TestSceneMasterGameplayClockContainer.cs
Labels: type:testing, size/XS

#19021 Fix flaky tests not running at all with environment variable set
  osu.Game/Tests/FlakyTestAttribute.cs
Labels: type:testing, size/XS

#19023 Fix song select placeholder not showing convert hint for custom rulesets
  osu.Game/Screens/Select/NoResultsPlaceholder.cs
Labels: area:song-select, size/XS

#19007 Fix default spinner's accent on rewind in user replays
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinnerDisc.cs
Labels: ruleset:osu!, area:skinning, size/S

#19027 Add nested transaction handling to realm helper methods
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game/Database/RealmExtensions.cs
Labels: area:database, size/L

#19028 Allow searching for "skins" to find current skin setting
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
Labels: area:settings, size/XS

#19026 Use fire-and-forget async operations on global track
  osu.Android.props
  osu.Game.Tests/Visual/Editing/TestSceneComposeScreen.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardModSelector.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:performance, size/L

#19030 Simplify error output when hub cannot connect
  osu.Game/Online/HubClientConnector.cs
Labels: type:online, size/XS, type:reliability

#19034 Fix editor saving not updating `BeatmapSetInfo`'s hash
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: area:editor, size/XS

#19029 Fix skins potentially being duplicated on batch import
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: area:database, size/M

#19041 Fix intermittent MusicController tests
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
Labels: type:testing, area:music-controller

#19032 Fix background loading excessively on startup
  osu.Game/Graphics/Backgrounds/SeasonalBackgroundLoader.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Screens/Menu/IntroWelcome.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: type:UI, size/L

#18596 Fix random mod generating off-screen sliders
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils_Reposition.cs
Labels: ruleset:osu!, area:mods, size/M

#19025 Fix custom rulesets not importing scores at all
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
Labels: area:gameplay, size/L

#19050 Fix crash on mobile releases when attempting to read any file
  osu.Game/IO/LineBufferedReader.cs
Labels: size/XS

#19059 Remove the nullable disable annotation in the benchmark project
  osu.Game.Benchmarks/BenchmarkBeatmapParsing.cs
  osu.Game.Benchmarks/BenchmarkMod.cs
  osu.Game.Benchmarks/BenchmarkRealmReads.cs
  osu.Game.Benchmarks/BenchmarkRuleset.cs
  osu.Game.Benchmarks/BenchmarkTest.cs
  osu.Game.Benchmarks/Program.cs
Labels: size/M

#19073 Update dependencies
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: dependencies, size/M

#19063 Fix editor playing object samples while paused after cancelling exit
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XS, type:audio

#19065 Fix playlist room creation screen pushing content on opening dropdowns
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
Labels: type:UX, size/XS, area:playlists

#19038 Populate user ID for locally imported scores
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: type:online, area:replay, size/M

#19039 Update mod icon colors
  osu.Game.Tests/Visual/UserInterface/TestSceneModIcon.cs
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: type:UI, size/M

#19078 Show basic error message when score submission fails
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:UX, size/XS

#19080 Show an error message on startup when attempting to run on an unsupported version of windows
  osu.Desktop/Program.cs
Labels: size/S, type:reliability

#19079 Fix potential crash during shutdown sequence if intro playback was aborted
  osu.Game/Screens/Menu/IntroTriangles.cs
Labels: size/S, type:reliability

#19069 Add support for a drawings screen video background
  osu.Game.Tournament/Components/TourneyVideo.cs
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/IProvideVideo.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
  osu.Game.Tournament/Screens/Showcase/ShowcaseScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/TeamIntroScreen.cs
  osu.Game.Tournament/Screens/TeamWin/TeamWinScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/M

#19084 Fix mod incompatibility between repel and relax
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: area:mods, size/XS

#19087 Fix unsupported OS message stating Windows 8 to be supported
  osu.Desktop/Program.cs
Labels: size/XS

#19096 Add log output for custom storage usage
  osu.Game/IO/OsuStorage.cs
Labels: size/XS

#19105 Fix audio and background file equality incorrectly comparing `BeatmapSet.Hash`
  osu.Game.Tests/NonVisual/BeatmapSetInfoEqualityTest.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#19089 Add "Single Tap" mod for osu! ruleset, abstract Alternate & Single Tap into InputBlockingMod
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSingleTap.cs
  osu.Game.Rulesets.Osu/Mods/InputBlockingMod.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAlternate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutoplay.cs
  osu.Game.Rulesets.Osu/Mods/OsuModCinema.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSingleTap.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
Labels: ruleset:osu!, area:mods, size/L

#19110 Fix potential crash when exiting editor test mode
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: size/XS, type:reliability

#19100 Disable tournament client "save changes" button when there's no changes to save
  osu.Game.Tournament/SaveChangesOverlay.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game.Tournament/TourneyButton.cs
Labels: area:tournament, size/L

#19121 Ensure that multiple `BeatmapSetInfo` with same `OnlineID` don't cause import failures
  osu.Game/Beatmaps/BeatmapImporter.cs
Labels: area:database, size/XS

#19114 Fix dialog overlay potentially pushing dialog while not loaded
  osu.Game/Overlays/DialogOverlay.cs
Labels: type:testing, size/M

#19037 Allow adding playlist items to beatmap collections via context menu
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Collections/CollectionToggleMenuItem.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:UX, area:multiplayer, size/XL, area:playlists

#19082 Add and consume `SoloScoreInfo`
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/Requests/Responses/APIScoreWithPosition.cs
  osu.Game/Online/API/Requests/Responses/APIScoresCollection.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: type:online, size/L

#19090 Imitate stable's slider followcircle fade + scale animations
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/FollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyFollowCircle.cs
Labels: size/L

#19130 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#19124 Change clicking source/tags on song select to filter instead of searching online
  osu.Game/Overlays/BeatmapSet/MetadataSection.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, type:UX, size/M

#19129 Fix clicking search link from song select sometimes not switching search mode to "relevance"
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Screens/Select/NoResultsPlaceholder.cs
Labels: type:UX, size/S

#18785 Add ability to save failed score
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game/Online/DownloadState.cs
  osu.Game/Screens/Play/FailOverlay.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SaveFailedScoreButton.cs
Labels: area:gameplay, size/L

#19134 Update resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#19136 Fix login overlay not displaying error message for disabled accounts
  osu.Game/Online/API/APIAccess.cs
Labels: type:online, type:UX, size/XS

#19140 Change "single tap" mod acronym to not conflict with "strict tracking"
  osu.Game.Rulesets.Osu/Mods/OsuModSingleTap.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneNoConflictingModAcronyms.cs
Labels: size/S

#19175 Fix `SoloScoreInfo` not carrying mod settings in conversion methods
  osu.Game/Online/API/APIMod.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: area:mods, area:scoring, size/S

#19195 Make Autoplay Incompatible with Adaptive Speed
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
Labels: area:gameplay, size/XS

#19188 Don't show "missing background" messages to user
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
Labels: type:UX, size/XS

#19196 Don't send ruleset configuration failures to sentry
  osu.Game/Overlays/Settings/Sections/RulesetSection.cs
Labels: size/XS, type:reliability

#19200 Fix "Perfect" mod not marking "Autopilot" as incompatible
  osu.Game.Rulesets.Osu/Mods/OsuModPerfect.cs
Labels: area:mods, size/XS

#19201 Fix "Cinema" mod not marking "Repel" as incompatible
  osu.Game.Rulesets.Osu/Mods/OsuModCinema.cs
Labels: area:mods, size/XS

#19207 Fix "Start Chat" on multiplayer/playlist chat not opening overlay
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: type:UX, area:multiplayer, size/XS, area:playlists

#19210 Make `SoloScoreInfo.EndedAt` non-null
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: type:code-quality, size/XS

#19169 Change retry button icon from ArrowCircleLeft to Redo
  osu.Game/Screens/Ranking/RetryButton.cs
Labels: type:UI, area:results, size/XS

#19187 Fix spectator client not correctly reconnecting after shutdown
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
Labels: type:online, size/S

#19209 Make sure stats name are title-cased when score panel is contracted
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
Labels: area:results, size/XS

#19192 Update profile web overlay to use `SoloScoreInfo`
  osu.Game.Tests/Visual/Online/TestSceneUserProfileScores.cs
  osu.Game/Online/API/Requests/GetUserScoresRequest.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
Labels: type:online, area:overlay-user-profile, size/M

#19139 Support storing user country on databased scores
  osu.Game/Database/RealmAccess.cs
  osu.Game/Models/RealmUser.cs
  osu.Game/Rulesets/Mods/ICreateReplayData.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Users/IUser.cs
Labels: area:database, area:scoring, size/S

#19212 Fix audio/background equality not correctly using `BeatmapInfo` local filenames
  osu.Game.Tests/NonVisual/BeatmapSetInfoEqualityTest.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
Labels: area:song-select, size/M

#19211 Fix potential crash when attempting to create mod display using null ruleset
  osu.Game/Online/API/APIMod.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
Labels: area:multiplayer, size/M, type:reliability

#19221 Replace culture-sensitive humanizer methods with fixed local reimplementations
  CodeAnalysis/BannedSymbols.txt
  osu.Game.Tests/Extensions/StringDehumanizeExtensionsTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSearchControl.cs
  osu.Game/Beatmaps/BeatmapStatisticIcon.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Extensions/StringDehumanizeExtensions.cs
  osu.Game/IO/Serialization/SnakeCaseKeyContractResolver.cs
  osu.Game/Online/API/APIMod.cs
  osu.Game/Online/API/Requests/GetCommentsRequest.cs
  osu.Game/Online/API/Requests/GetUserBeatmapsRequest.cs
  osu.Game/Online/API/Requests/Responses/APIRecentActivity.cs
  osu.Game/Online/API/Requests/SearchBeatmapSetsRequest.cs
  osu.Game/Online/Rooms/GetRoomsRequest.cs
  osu.Game/Screens/Play/HUD/SkinnableInfo.cs
Labels: type:online, size/L

#19225 Reduce `Bindable` allocations in hitobject classes via lazy initialisation
  osu.Game.Benchmarks/BenchmarkHitObject.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/PalpableCatchHitObject.cs
  osu.Game.Rulesets.Mania/Objects/ManiaHitObject.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/BarLine.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game/Rulesets/Objects/HitObjectProperty.cs
Labels: proposal, type:performance, size/L

#19189 Fix creating multiplayer game during server migration not joining new room correctly
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/IHubClientConnector.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/M

#19226 Use more correct json casing in `APIScoresCollection`
  osu.Game/Online/API/Requests/Responses/APIScoresCollection.cs
Labels: type:online, size/XS

#19228 Add mention of "compatibility mode" in windows version check error message
  osu.Desktop/Program.cs
Labels: size/XS, type:reliability

#19227 Fix `BeginPlayingInternal` firing actual errors when beatmap not available online
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
Labels: size/XS, type:reliability

#19004 Remove non-overlapping velocity buff from Aim in osu!
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
Labels: ruleset:osu!, area:difficulty, size/S

#19181 osu!taiko performance points balancing
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset:osu!taiko, area:difficulty, size/M

#19236 Fix editor clap/finish buttons being ordered against expectations
  osu.Game/Audio/HitSampleInfo.cs
Labels: area:editor, type:UX, size/XS

#19240 Fix floating mouse position not running correctly in single thread mode
  osu.Game/Graphics/Cursor/MenuCursor.cs
Labels: type:UI, size/M

#19234 Fix multiplayer map selection carousel opening to wrong map
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: type:UX, area:multiplayer, size/M

#19239 Fix slider velocity not using previous value if slider is not adjacent
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
Labels: area:editor, type:UX, size/XS

#19244 Highlight perfect slider tick/end values in beatmap info leaderboards
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
Labels: type:UX, size/M, area:overlay-beatmap

#19128 Adjust default follow circle animations to feel nicer
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultFollowCircle.cs
Labels: ruleset:osu!, area:gameplay, size/M

#19230 Show update button in beatmap carousel when beatmaps have online changes
  osu.Game.Tests/Online/TestSceneBeatmapDownloading.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapModelDownloader.cs
  osu.Game/Beatmaps/BeatmapOnlineChangeIngest.cs
  osu.Game/Beatmaps/BeatmapOnlineLookupQueue.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Database/ModelDownloader.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Scoring/ScoreModelDownloader.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
  osu.Game/Screens/Select/Carousel/UpdateBeatmapSetButton.cs
  osu.sln.DotSettings
Labels: type:online, area:song-select, size/L

#19233 Add ranked and submitted date storage and filtering
  osu.Game/Beatmaps/BeatmapOnlineLookupQueue.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Filter/SortMode.cs
Labels: area:song-select, size/M

#17622 Replicate osu!(stable)'s hit target position with "Classic" mod
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoPlayerLegacySkin.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, area:mods, size/L

#19246 Fix wiki overlay not handling path redirection properly
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game/Online/API/Requests/GetWikiRequest.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: type:online, size/M, area:overlay-wiki

#19208 Remove score multiplier on difficulty-increasing mods with customised settings
  osu.Game.Rulesets.Catch/Mods/CatchModDoubleTime.cs
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHardRock.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNightcore.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDoubleTime.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHardRock.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNightcore.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModDoubleTime.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHardRock.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHidden.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModNightcore.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: area:mods, area:scoring, size/M

#19265 Fix changelog overlay tests failing due to missing `CreatedAt` date
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
Labels: type:testing, area:overlay-changelog, size/XS

#19264 Increase responsiveness of osu! logo triangles to the beat
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: type:UI, size/S

#19250 Add game-side FPS counter
  osu.Game.Tests/Visual/UserInterface/TestSceneFPSCounter.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/UserInterface/FPSCounter.cs
  osu.Game/Graphics/UserInterface/FPSCounterTooltip.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: type:UI, size/L

#19268 Change carousel terminology to not use `Children` / `InternalChildren`
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
Labels: type:code-quality, size/M

#19273 Fix FPS counter not being wide enough to show large fps numbers
  osu.Game/Graphics/UserInterface/FPSCounter.cs
Labels: type:UI, size/M

#19269 Fix `UpdateBeatmapSetButton` intermittent test failure
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: type:testing, size/S

#19274 Fix draw FPS being inaccurate due to using `ElapsedFrameTime`
  osu.Game/Graphics/UserInterface/FPSCounter.cs
Labels: size/S

#19243 DIsplay toasts on beatmap/skin save
  osu.Game/Localisation/ToastStrings.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
Labels: area:editor, type:UX, size/M

#19278 Make editor timeline zoom relative to song length
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, size/S

#19294 Fix timeline `alt`+`scroll` zoom not correctly zooming to current mouse position
  osu.Game.Tests/Visual/Editing/TestSceneTimelineZoom.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/S

#19279 Cleanup pass on `FPSCounter`
  osu.Game/Graphics/UserInterface/FPSCounter.cs
Labels: type:code-quality, size/M

#19296 Fix timeline zoom focus point when using zoom buttons
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, size/XS

#19298 Fix one more case of referencing old mod select overlay in tests
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
Labels: type:testing, area:multiplayer, size/XS

#19263 Populate failed scores with "miss" results for all remaining hitobjects
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:scoring, size/L

#19272 Add background beatmap processing
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Tests/Database/BackgroundBeatmapProcessorTests.cs
  osu.Game/BackgroundBeatmapProcessor.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/RulesetInfo.cs
Labels: area:database, size/L

#17200 Add basic touch support for osu!taiko
  osu.Game.Rulesets.Taiko.Tests/DrawableTaikoRulesetTestScene.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneInputDrum.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumTouchInputArea.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/TaikoInputManager.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/DrumSamplePlayer.cs
  osu.Game.Rulesets.Taiko/UI/DrumTouchInputArea.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, type:input, size/L

#19300 Add additional SFX to the results screen
  osu.Android.props
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelTopContent.cs
  osu.Game/Screens/Ranking/Expanded/TotalScoreCounter.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L, type:audio

#19287 Implement mod preset panels for mod select overlay
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetPanel.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModPanel.cs
  osu.Game/Overlays/Mods/ModPresetPanel.cs
  osu.Game/Overlays/Mods/ModPresetTooltip.cs
  osu.Game/Overlays/Mods/ModSelectPanel.cs
  osu.Game/Rulesets/Mods/ModPreset.cs
Labels: type:UI, size/XL, area:overlay-modselect

#19299 Fix beatmap overlay stats showing modded values
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: size/M, area:overlay-beatmap

#19312 Fix background beatmap processor resetting star ratings in tests
  osu.Game/Tests/Visual/OsuGameTestScene.cs
Labels: type:testing, size/XS

#19324 Add error logging for background processing failures
  osu.Game/BackgroundBeatmapProcessor.cs
Labels: size/S, type:reliability

#19345 Fix `OsuSliderBar` throwing on negative draw width
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledSliderBar.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
Labels: size/M, type:reliability

#19363 Fix `Player` potentially disappearing in spectator list after restart
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorHost.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Screens/Play/GameplayState.cs
Labels: size/L, area:spectator

#19349 Implement basic appearance of mod preset column
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetColumn.cs
  osu.Game/Localisation/ModSelectOverlayStrings.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModPresetColumn.cs
  osu.Game/Overlays/Mods/ModSelectColumn.cs
Labels: type:UI, size/L, area:overlay-modselect

#19368 Disable timeline test for now
  osu.Game.Tests/Visual/Editing/TestSceneTimelineZoom.cs
Labels: type:testing, size/XS

#19343 Display exclamation icon for online scores with unprocessed PP
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
Labels: size/S, type:reliability, area:overlay-beatmap

#19372 Update more places to support displaying unprocessed PP placeholder
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileScores.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileWeightedScore.cs
  osu.Game/Scoring/Drawables/UnprocessedPerformancePointsPlaceholder.cs
Labels: type:UI, size/L

#19367 Log beatmap difficulty retrieval failures during score calculation
  osu.Game/Scoring/ScoreManager.cs
Labels: area:scoring, size/XS

#19374 Refactor `FPSCounter` to not use scheduled tasks
  osu.Game/Graphics/UserInterface/FPSCounter.cs
Labels: type:performance, size/M

#19373 Fix star ratings which are still being calculated showing as "-1" at song select
  osu.Game.Tests/Visual/UserInterface/TestSceneStarRatingDisplay.cs
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
Labels: area:song-select, size/XS

#19371 Fix calls to `GetWorkingBeatmap` invalidating cache too often
  osu.Game.Tests/Beatmaps/WorkingBeatmapManagerTest.cs
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: type:performance, area:song-select, size/L

#19379 Remove no longer necessary API score models
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game.Tests/Online/TestSoloScoreInfoJsonSerialization.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game/Online/API/Requests/Responses/APIScore.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Online/Rooms/SubmitScoreRequest.cs
  osu.Game/Online/Solo/SubmittableScore.cs
Labels: type:code-quality, type:online, size/L

#19389 Add ability to make cursor show even during touch input
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneCursors.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Cursor/GlobalCursorDisplay.cs
  osu.Game/Graphics/Cursor/IProvideCursor.cs
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
  osu.Game/Localisation/SkinSettingsStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/InputSettings.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Utility/LatencyArea.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: type:input, size/L

#19377 Fix intermittent timeline zoom test failures
  osu.Game.Tests/Visual/Editing/TestSceneTimelineZoom.cs
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, type:testing, size/L, type:audio

#19393 Avoid potential realm fetch after disposal in `StatisticsPanel`
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: size/S, type:reliability

#19392 Avoid leaving left-over files after test run completes
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Database/RealmTest.cs
  osu.Game.Tournament.Tests/NonVisual/DataLoadTest.cs
Labels: type:testing, size/M

#19249 Remove nullable disable annotation in mods for catch ruleset.
  osu.Game.Rulesets.Catch.Tests/Mods/CatchModMirrorTest.cs
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModNoScope.cs
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModPerfect.cs
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModRelax.cs
  osu.Game.Rulesets.Catch/Mods/CatchModAutoplay.cs
  osu.Game.Rulesets.Catch/Mods/CatchModCinema.cs
  osu.Game.Rulesets.Catch/Mods/CatchModClassic.cs
  osu.Game.Rulesets.Catch/Mods/CatchModDaycore.cs
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
  osu.Game.Rulesets.Catch/Mods/CatchModDoubleTime.cs
  osu.Game.Rulesets.Catch/Mods/CatchModEasy.cs
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Catch/Mods/CatchModFloatingFruits.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHalfTime.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHardRock.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHidden.cs
  osu.Game.Rulesets.Catch/Mods/CatchModMirror.cs
  osu.Game.Rulesets.Catch/Mods/CatchModMuted.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNightcore.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNoFail.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNoScope.cs
  osu.Game.Rulesets.Catch/Mods/CatchModPerfect.cs
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
  osu.Game.Rulesets.Catch/Mods/CatchModSuddenDeath.cs
Labels: type:code-quality, ruleset:osu!catch, area:mods, size/M

#19399 Maintain sort stability by using carousel item ID as a fallback
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselItem.cs
Labels: area:song-select, type:UX, size/M

#19378 Add separate beatmap update flow to handle edge cases better
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapOnlineLookupQueue.cs
  osu.Game/Database/IModelImporter.cs
  osu.Game/Database/ModelDownloader.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Select/Carousel/UpdateBeatmapSetButton.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:database, size/XL

#19402 Don't show audio playback issue notification if debugger is attached
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: size/S

#19400 Always allow selecting the top-most button using the select binding
  osu.Game/Overlays/DialogOverlay.cs
Labels: type:UX, size/XS, area:overlays
