Repository ppy/osu, pull requests merged in 2022-12, with the labels that each got.

#21439 Update DrawableHitObject state based on entry result during LoadComplete
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/M, area:ruleset-api

#21476 Fix incorrect culture used when parsing timeline popup textbox content
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
Labels: area:editor, size/M

#21477 Fix osu!mania editor timeline showing bright-white blueprints
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/XS

#21405 Provide DrawableRulesetDependencies from HitObjectComposer
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaBeatSnapGrid.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependenciesProvidingContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/M, area:ruleset-api

#21463 Fix system messages appearing out of order in chat display
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game/Online/Chat/InfoMessage.cs
  osu.Game/Online/Chat/LocalEchoMessage.cs
  osu.Game/Online/Chat/LocalMessage.cs
  osu.Game/Online/Chat/Message.cs
Labels: area:overlay-chat, size/M

#21459 Add legacy taiko glow element
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoKiaiGlow.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyKiaiGlow.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacyPlayfieldBackgroundRight.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, area:gameplay, size/L

#21479 Fix some components not accounting for final hold notes in osu!mania beatmaps
  osu.Game.Rulesets.Osu/Mods/OsuModTargetPractice.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/mania-last-object-not-latest.osu
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Objects/BarLineGenerator.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
Labels: ruleset:osu!mania, area:beatmap, size/L

#21496 Fix being able to place zero-length spinners
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/SpinnerPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/IBeatSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: ruleset:osu!, area:editor, size/S

#21501 Fix first run beatmap screen button colours looking incorrect with new triangle effect
  osu.Game/Overlays/FirstRunSetup/ProgressRoundedButton.cs
Labels: type:UI, size/XS, area:overlay-first-run

#21503 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#21468 Fix `LegacyExporter` classes overwriting existing files
  osu.Game.Tests/Utils/NamingUtilsTest.cs
  osu.Game/Database/LegacyExporter.cs
  osu.Game/Utils/NamingUtils.cs
Labels: area:database, size/L

#21506 Bump `dorny/test-reporter` action to 1.6.0
  .github/workflows/report-nunit.yml
Labels: size/XS

#21512 Fix first-run setup overlay crashing on mobile platforms
  osu.Game/Graphics/UserInterface/RangeSlider.cs
Labels: platform:mobile, size/XS, type:reliability

#21502 Remove SmoothCircularProgress component as being replaced
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardThumbnail.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/SmoothCircularProgress.cs
Labels: type:code-quality, type:UI, size/L

#21523 Perform rewind with right click only if cursor didn't leave the button
  osu.Game/Screens/Select/FooterButtonRandom.cs
Labels: size/XS

#21520 Fix preview track disposal potentially leaving game track muted
  osu.Game/Audio/PreviewTrack.cs
Labels: size/XS, type:audio

#21550 Immediately send ack request when joining new channels
  osu.Game/Online/Chat/ChannelManager.cs
Labels: size/XS

#21541 Fix extended values in difficulty adjust being truncated to 10 on beatmap change
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
Labels: area:mods, size/S

#21544 Allow random mod to flip sliders
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils.cs
Labels: ruleset:osu!, area:mods, size/M

#21551 Remove triangle effect from latency certifier buttons
  osu.Game/Screens/Utility/ButtonWithKeyBind.cs
Labels: area:settings, size/XS

#21555 Update framework and resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#21556 Fix expanded beatmap cards sometimes being hidden by next profile section
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:UI, area:overlay-user-profile, size/S

#21564 Fix stale keybinding in "today's tip"
  osu.Game/Screens/Menu/Disclaimer.cs
Labels: size/XS, area:intro

#21557 Display nominated ranked beatmaps in user profile
  osu.Game/Online/API/Requests/GetUserBeatmapsRequest.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/BeatmapsSection.cs
Labels: area:overlay-user-profile, size/S

#21558 Fix incorrect resolution of `GameHost` in `LegacyImportManager`
  osu.Game/Database/LegacyImportManager.cs
Labels: type:code-quality, size/XS

#21572 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#21583 Fix android crash when using non-Gregorian calendars
  osu.Android.props
  osu.Android/Linker.xml
  osu.iOS/Linker.xml
Labels: platform:android, size/S, type:reliability

#21586 Fix hub clients not reconnecting after a connection error
  osu.Game/Online/PersistentEndpointClientConnector.cs
Labels: type:online, size/XS

#21553 Retrofit lazer scoring data onto `.osr` files
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:replay, size/L

#21614 Fix SettingsButton receiving input at padded area
  osu.Game.Tests/Visual/UserInterface/TestSceneSettingsButton.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
Labels: type:input, area:settings, size/M

#21627 Allow keeping stream open after encoding scores
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:replay, size/XS

#21619 Fix buttons receiving input outside the content
  osu.Game.Tests/Visual/UserInterface/TestSceneButtonsInput.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuButton.cs
  osu.Game/Graphics/Containers/OsuClickableContainer.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Overlays/Chat/DrawableUsername.cs
Labels: type:UI, size/L

#21588 Add score token to `BeginPlaySession()`
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Online/Spectator/ISpectatorServer.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: type:online, size/S, area:spectator

#21646 Turn on featured artist filter by default and add disclaimer when toggling for the first time
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Localisation/BeatmapOverlayStrings.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchGeneralFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
Labels: type:UX, size/L, area:overlay-beatmap-listing

#21628 Use hard links on windows when importing beatmaps from a legacy osu! install
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Database/ICanAcceptFiles.cs
  osu.Game/Database/IModelImporter.cs
  osu.Game/Database/ImportParameters.cs
  osu.Game/Database/LegacyImportManager.cs
  osu.Game/Database/LegacyModelImporter.cs
  osu.Game/Database/ModelDownloader.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Database/RealmFileStore.cs
  osu.Game/IO/HardLinkHelper.cs
  osu.Game/Localisation/FirstRunOverlayImportFromStableScreenStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase_Importing.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Edit/Setup/LabelledFileChooser.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:database, size/L, platform:windows

#21654 Use `LocalisableString`s for date and time formats
  osu.Game/Graphics/DateTooltip.cs
  osu.Game/Online/Leaderboards/LeaderboardScoreTooltip.cs
  osu.Game/Overlays/Changelog/ChangelogListing.cs
  osu.Game/Overlays/Changelog/ChangelogSingleBuild.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Dashboard/Home/News/FeaturedNewsItemPanel.cs
  osu.Game/Overlays/Dashboard/Home/News/NewsGroupItem.cs
  osu.Game/Overlays/News/Sidebar/MonthSection.cs
  osu.Game/Overlays/Toolbar/DigitalClockDisplay.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: type:localisation, size/M

#21667 Fix wrong paths to macOS log folder in docs
  .github/ISSUE_TEMPLATE/bug-issue.yml
  CONTRIBUTING.md
Labels: platform:macOS, size/XS, type:documentation

#21686 Call spectator `EndPlaying()` immediately after score submission
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:gameplay, size/XS, area:spectator

#21707 Fix some comment actions not being lowercased
  osu.Game.Tests/Visual/Online/TestSceneCommentActions.cs
  osu.Game/Overlays/Comments/CommentReportButton.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: type:localisation, size/S

#21711 Update framework (again) and remove some no-longer required workarounds
  global.json
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
  osu.iOS/OsuGameIOS.cs
  osu.sln
Labels: size/M

#21723 Add support for block attributes in wiki overlay
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/Extensions/BlockAttributeExtension.cs
  osu.Game/Graphics/Containers/Markdown/Extensions/OsuMarkdownExtensions.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainerOptions.cs
  osu.Game/Overlays/Comments/CommentMarkdownContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownContainer.cs
Labels: size/L, area:overlay-wiki

#21731 Fix file select popup getting stuck when switching first run screens while selecting
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
Labels: type:UX, size/S, area:overlay-first-run

#21730 Only show song select for now at ui scale adjust first run screen
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
Labels: type:UI, size/S, area:overlay-first-run

#21735 Add argon "pro" skin
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/ArgonProSkin.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/osu.Game.csproj
Labels: area:gameplay, size/M

#21746 Fix language dropdown in settings and language selector in first run dialog not syncing
  osu.Game/Overlays/FirstRunSetup/ScreenWelcome.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
Labels: area:settings, size/M, area:overlay-first-run

#21751 Fix crashes on quick-retrying when holding note in mania
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: ruleset:osu!mania, area:gameplay, size/XS, type:reliability

#21753 Ensure score submission completion before notifying spectator server when exiting play early
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, size/XS

#21738 Add score processed callback to spectator client
  osu.Game/Online/Spectator/ISpectatorClient.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
Labels: type:online, size/S

#21737 Fix restore default button having a minuscule hit area
  osu.Game/Overlays/RestoreDefaultValueButton.cs
Labels: type:UX, size/M

#21760 Don't post notifications from custom log targets
  osu.Game/OsuGame.cs
Labels: size/XS

#21763 Use new ArgumentNullException.ThrowIfNull throw-helper API
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/PatternGenerator.cs
  osu.Game.Rulesets.Mania/MathUtils/LegacySortHelper.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGeneratorBase.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/Drawables/BeatmapBackgroundSprite.cs
  osu.Game/Beatmaps/Drawables/OnlineBeatmapSetCover.cs
  osu.Game/Beatmaps/Formats/Decoder.cs
  osu.Game/Graphics/Containers/LogoTrackingContainer.cs
  osu.Game/Graphics/UserInterface/Nub.cs
  osu.Game/IO/FileAbstraction/StreamFileAbstraction.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Overlays/OnScreenDisplay.cs
  osu.Game/Overlays/Volume/MuteButton.cs
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/JudgementContainer.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUD/ModFlowDisplay.cs
  osu.Game/Screens/Play/KeyCounterDisplay.cs
  osu.Game/Users/Drawables/DrawableFlag.cs
  osu.Game/Users/UserPanel.cs
Labels: type:code-quality, size/M

#21766 Fix track changes not updating initial timeline zoom correctly
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, type:UI, size/S

#21675 Fix breadcrumb tab item click area not extending to background height
  osu.Game/Graphics/UserInterface/BreadcrumbControl.cs
Labels: type:input, size/XS, area:overlays

#21772 Fix wiki overlay showing error message when load is cancelled
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: type:UI, size/M, area:overlay-wiki

#21774 Don't show great or higher judgements when using argon "pro" skin
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
  osu.Game/Rulesets/Judgements/JudgementPiece.cs
Labels: area:skinning, size/L

#21777 Add button to settings to show lazer upgrade guide
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
Labels: area:settings, size/S

#21762 Add solo statistics watcher component to deliver incremental global user statistics updates
  osu.Game.Tests/Visual/Online/TestSceneSoloStatisticsWatcher.cs
  osu.Game/Online/API/Requests/GetUsersRequest.cs
  osu.Game/Online/Solo/SoloStatisticsUpdate.cs
  osu.Game/Online/Solo/SoloStatisticsWatcher.cs
Labels: type:online, size/L

#21776 Implement overall ranking display for solo results screen
  osu.Game.Tests/Visual/Ranking/TestSceneOverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/AccuracyChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/User/GlobalRankChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/User/MaximumComboChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/User/OverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/PerformancePointsChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/User/RankedScoreChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/User/RankingChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/User/TotalScoreChangeRow.cs
Labels: type:UI, area:results, size/XL

#21781 Link beatmap set title and artist to listing search
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
Labels: type:UX, size/L, area:overlay-beatmap

#21778 Add overall ranking display to solo results screen
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Ranking/Statistics/SoloStatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: type:online, area:results, size/L

#21792 Fix parameters with the same default value inspection
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.sln.DotSettings
Labels: type:code-quality, size/S

#21798 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#21800 Remove obsoleted "ForDifficultyRating" method
  osu.Game/Graphics/OsuColour.cs
Labels: type:code-quality, size/M

#21802 Use generic Enum methods
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatcherNew.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game.Tests/Mods/MultiModIncompatibilityTest.cs
  osu.Game.Tournament/IPC/FileBasedIPC.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Graphics/UserInterface/OsuEnumDropdown.cs
  osu.Game/Online/API/Requests/Responses/APIRecentActivity.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/FirstRunSetup/ScreenWelcome.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Screens/Edit/Setup/DesignSection.cs
  osu.Game/Screens/Utility/LatencyCertifierScreen.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
  osu.Game/Skinning/Skin.cs
Labels: type:code-quality, size/M

#21807 Highlight "open" option on external link button context menu
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
Labels: type:UI, size/XS

#21804 Only show global rankings on solo results screen when progressing from gameplay
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: area:results, size/S

#21810 Use new lazer API endpoint
  osu.Game/Online/ProductionEndpointConfiguration.cs
Labels: type:online, size/XS

#21811 Add link to hard link explanation wiki page
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
Labels: type:UI, size/XS, area:overlay-first-run

#21812 Move system packages version pinning workaround to game project
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:tooling, size/S

#21809 Use StringSplitOptions.TrimEntries in string.Split() when possible
  osu.Game.Tournament/Screens/Drawings/Components/StorageBackedTeamList.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: type:code-quality, size/S

#21819 Fix incorrect accuracy display on overall ranking view
  osu.Game.Tests/Visual/Ranking/TestSceneOverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/AccuracyChangeRow.cs
Labels: type:UI, area:results, size/S

#21879 Add keywords to ease search of "first object visibility" setting
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
Labels: type:UX, area:settings, size/XS

#21878 Adjust Android package versioning to .NET 6
  osu.Android/AndroidManifest.xml
  osu.Android/osu.Android.csproj
Labels: area:tooling, platform:android, size/XS

#21854 Fix `osu.ppy.sh` links no longer opening in-game
  osu.Game/Online/ProductionEndpointConfiguration.cs
Labels: type:online, size/XS

#21871 Improve reliability of solo statistics watcher
  osu.Game.Tests/Visual/Online/TestSceneSoloStatisticsWatcher.cs
  osu.Game/Online/Solo/SoloStatisticsWatcher.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: type:online, size/M, type:reliability

#21921 Fix hover propagating through toolbar buttons
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
Labels: type:UI, size/S, area:toolbar

#21886 Add hardlink support for Linux & macOS
  osu.Game/Database/RealmFileStore.cs
  osu.Game/IO/HardLinkHelper.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
Labels: area:database, platform:linux, platform:macOS, size/L

#21937 Fix toolbar gradient not showing when mouse is hovered over buttons
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: type:UI, size/M, area:toolbar
