Repository ppy/osu, pull requests merged in 2022-11, with the labels that each got.

#21045 Improve messaging when ruleset load fails
  osu.Game/Rulesets/RulesetStore.cs
Labels: type:UX, size/XS

#21050 Fix notch toggle not applying correctly after restart
  osu.Game/OsuGame.cs
Labels: area:settings, size/XS

#21054 Adjust target and hold off mod multipliers
  osu.Game.Rulesets.Mania/Mods/ManiaModHoldOff.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
Labels: ruleset:osu!mania, ruleset:osu!, area:mods, area:scoring, size/XS

#21057 Fix large transform retention when adjusting accent colour of hitobject during pause
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: type:performance, size/XS

#21056 Fix argon hit circle outer gradient getting smaller each state application
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#21059 Fix `DrawableHitObject.AccentColour` not being updated if object entry is not attached
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:gameplay, size/XS

#21060 Rename mod "Target" to "Target Practice"
  osu.Game.Rulesets.Osu.Tests/OsuLegacyModConversionTest.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSuddenDeath.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTargetPractice.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
Labels: area:mods, size/S

#21052 Fix control points not being cloned when running beatmap conversion
  osu.Game/Beatmaps/BeatmapConverter.cs
Labels: size/XS, type:reliability

#21049 Fix time snap of sliders not matching when SV is not 1.0x
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: area:editor, size/M

#20990 Generalise `HubClientConnector` into `SocketClientConnector`
  osu.Game/Online/HubClient.cs
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/PersistentEndpointClient.cs
  osu.Game/Online/PersistentEndpointClientConnector.cs
Labels: type:online, size/L

#21070 Standardise "Visual Settings" components to fix mismatched paddings and labels
  osu.Game/Screens/Play/PlayerSettings/PlayerCheckbox.cs
  osu.Game/Screens/Play/PlayerSettings/VisualSettings.cs
Labels: type:UI, size/M

#21071 Fix multiple notifications arriving for imports in edge cases
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: size/XS

#21074 Clean up taiko classes in preparation for new skin implementation
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHit.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/CentreHitCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultInputDrum.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultKiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/ElongatedCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/RimHitCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/SwellSymbolPiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/TickPiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyBarLine.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyDrumRoll.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyHit.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyInputDrum.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyTaikoScroller.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacyHitTarget.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacyPlayfieldBackgroundRight.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponent.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/BarLinePlayfield.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoJudgement.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko/UI/DrumRollHitContainer.cs
  osu.Game.Rulesets.Taiko/UI/DrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosionPool.cs
  osu.Game.Rulesets.Taiko/UI/IAnimatableHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/InputDrum.cs
  osu.Game.Rulesets.Taiko/UI/KiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/PlayfieldBackgroundLeft.cs
  osu.Game.Rulesets.Taiko/UI/PlayfieldBackgroundRight.cs
  osu.Game.Rulesets.Taiko/UI/TaikoHitTarget.cs
  osu.Game.Rulesets.Taiko/UI/TaikoMascotAnimation.cs
  osu.Game.Rulesets.Taiko/UI/TaikoMascotAnimationState.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
  osu.Game.Rulesets.Taiko/UI/TaikoReplayRecorder.cs
Labels: type:code-quality, size/XL

#21092 Increase the maximum seed range for tournament client
  osu.Game.Tournament/Models/SeedingBeatmap.cs
  osu.Game.Tournament/Models/SeedingResult.cs
  osu.Game.Tournament/Models/TournamentTeam.cs
Labels: area:tournament, size/XS

#21094 Fix velocity test failing with no audio device
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/TimelinePart.cs
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, type:testing, size/S

#21093 Fix automated skip not skipping more than once when required
  osu.Game.Tests/Visual/Gameplay/TestSceneSkipOverlay.cs
  osu.Game/Screens/Play/SkipOverlay.cs
Labels: area:gameplay, size/M

#20743 Improve clickable area of beatmap card icon buttons
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCardDownloadButton.cs
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCardFavouriteButton.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardExtra.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNormal.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/BeatmapCardIconButton.cs
  osu.Game/Beatmaps/Drawables/Cards/CollapsibleButtonContainer.cs
Labels: type:UX, size/M, area:overlay-beatmap-listing

#20758 Maintain selection of common mods when switching rulesets
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UX, size/M

#20765 Implement comments reporting
  osu.Game.Tests/Visual/Online/TestSceneCommentActions.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentReportButton.cs
  osu.Game/Online/API/Requests/CommentReportRequest.cs
  osu.Game/Overlays/Changelog/ChangelogContent.cs
  osu.Game/Overlays/Comments/CommentReportButton.cs
  osu.Game/Overlays/Comments/CommentReportReason.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/ReportCommentPopover.cs
  osu.Game/Overlays/OnlineOverlay.cs
Labels: size/L, area:comments

#21097 Add support for 'disabled' sample variation to HoverClickSounds
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneLabelledSliderBar.cs
  osu.Game/Graphics/Containers/OsuClickableContainer.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Graphics/UserInterface/HoverClickSounds.cs
  osu.Game/Graphics/UserInterface/LoadingButton.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Graphics/UserInterface/ShearedButton.cs
  osu.Game/Overlays/Comments/CancellableCommentEditor.cs
  osu.Game/Overlays/Toolbar/ToolbarClock.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, type:audio

#21095 Fix spinner centre size being updated every frame using transforms
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerDisc.cs
Labels: ruleset:osu!, area:gameplay, size/S

#21111 Add url clicking support to profile badges
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/Components/DrawableBadge.cs
  osu.Game/Users/Badge.cs
Labels: area:overlay-user-profile, size/M

#20793 Add arc-shaped progress bars to "argon" spinner
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerProgressArc.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerRingArc.cs
Labels: ruleset:osu!, area:skinning, size/L

#20952 Add conversion algorithm for lazer slider curves to work with stable
  osu.Game.Tests/Visual/Gameplay/TestSceneBezierConverter.cs
  osu.Game/Rulesets/Objects/BezierConverter.cs
Labels: ruleset:osu!, area:editor, size/L

#21115 Update dependencies
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
Labels: size/M

#21122 Fix editor selection behaviour regressions due to new path visualiser optimisation
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuComposerSelection.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/L

#21126 Fix Realm package downgrade issue in mobile projects
  osu.Android.props
  osu.iOS.props
Labels: platform:mobile, size/XS

#21134 Add script helpers to use local framework
  UseLocalFramework.ps1
  UseLocalFramework.sh
Labels: area:tooling, size/M

#21017 Remove nullable disable in the checks.
  osu.Game.Rulesets.Catch.Tests/Editor/Checks/TestCheckBananaShowerGap.cs
  osu.Game.Rulesets.Catch/Edit/Checks/CheckBananaShowerGap.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckLowDiffOverlapsTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckOffscreenObjectsTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTimeDistanceEqualityTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTooShortSlidersTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckTooShortSpinnersTest.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckLowDiffOverlaps.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOffscreenObjects.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTimeDistanceEquality.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTooShortSliders.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTooShortSpinners.cs
  osu.Game.Tests/Editing/Checks/CheckAudioInVideoTest.cs
  osu.Game.Tests/Editing/Checks/CheckAudioQualityTest.cs
  osu.Game.Tests/Editing/Checks/CheckBackgroundQualityTest.cs
  osu.Game.Tests/Editing/Checks/CheckConcurrentObjectsTest.cs
  osu.Game.Tests/Editing/Checks/CheckFewHitsoundsTest.cs
  osu.Game.Tests/Editing/Checks/CheckFilePresenceTest.cs
  osu.Game.Tests/Editing/Checks/CheckMutedObjectsTest.cs
  osu.Game.Tests/Editing/Checks/CheckTestHelpers.cs
  osu.Game.Tests/Editing/Checks/CheckTooShortAudioFilesTest.cs
  osu.Game.Tests/Editing/Checks/CheckUnsnappedObjectsTest.cs
  osu.Game.Tests/Editing/Checks/CheckZeroByteFilesTest.cs
  osu.Game.Tests/Editing/Checks/CheckZeroLengthObjectsTest.cs
  osu.Game.Tests/Editing/Checks/MockNestableHitObject.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioInVideo.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioPresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundPresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckConcurrentObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckFewHitsounds.cs
  osu.Game/Rulesets/Edit/Checks/CheckFilePresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckMutedObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckTooShortAudioFiles.cs
  osu.Game/Rulesets/Edit/Checks/CheckUnsnappedObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckZeroByteFiles.cs
  osu.Game/Rulesets/Edit/Checks/CheckZeroLengthObjects.cs
  osu.Game/Rulesets/Edit/Checks/Components/CheckCategory.cs
  osu.Game/Rulesets/Edit/Checks/Components/CheckMetadata.cs
  osu.Game/Rulesets/Edit/Checks/Components/ICheck.cs
  osu.Game/Rulesets/Edit/Checks/Components/Issue.cs
  osu.Game/Rulesets/Edit/Checks/Components/IssueTemplate.cs
  osu.Game/Rulesets/Edit/Checks/Components/IssueType.cs
  osu.Game/Tests/Beatmaps/TestWorkingBeatmap.cs
Labels: type:code-quality, size/L

#21109 Fix beatmap cards still potentially showing twice in listing
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: size/M, area:overlay-beatmap-listing

#21135 Fix preposition for exclusive fullscreen prompt
  osu.Game/Localisation/LayoutSettingsStrings.cs
Labels: type:localisation, size/XS

#20558 Basic tl-tapping consideration for stamina
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ColourEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/StaminaEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/Data/MonoStreak.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/Data/RepeatingHitPatterns.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/TaikoColourDifficultyPreprocessor.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/TaikoDifficultyHitObjectColour.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset:osu!taiko, area:difficulty, size/L

#21118 Adjust transition effect for main menu backgrounds
  osu.Game/Graphics/Backgrounds/SeasonalBackgroundLoader.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
Labels: type:UI, size/XS

#21145 Make chat line timestamp adjust to 24-hour time setting
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: type:UI, area:overlay-chat, size/M

#21112 Improve song select transition to gameplay
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:UI, size/M

#21165 Fix taiko major barlines no longer rendering correctly
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, area:gameplay, size/M

#21163 Always display menu cursor when game is not focused
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
Labels: type:UX, size/M

#20907 Add ability to toggle background dim in editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Edit/BackgroundDimMenuItem.cs
  osu.Game/Screens/Edit/Components/Menus/DifficultyMenuItem.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuItem.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuItemSpacer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/L

#21166 Automatically close settings and notification overlays when opening main overlay
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
Labels: type:UX, area:settings, size/M

#21185 Fix editor playing too many sounds when user performs a manual seek during playback
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#21173 Add the ability to toggle off hit marker displays in the editor
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCircleOverlapMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/OsuSelectionBlueprint.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Rulesets/Edit/HitObjectSelectionBlueprint.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#21168 Fix sprites not displaying in storyboard if filename extension is missing in script
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/S

#21167 Fix some issues with storyboard variables
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
Labels: area:storyboard, size/S

#21171 Remove triangles skin specific implementation from base osu!taiko `DrawableHit`
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/CirclePiece.cs
Labels: type:code-quality, size/M

#21192 Fix inaccurate tablet area dimensions when applying aspect ratio
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: type:input, size/S

#21144 Fix incorrect handling of storyboard events with `end_time` before `start_time`
  osu.Game/Storyboards/CommandTimeline.cs
Labels: area:storyboard, size/XS

#21147 Fix editor hard crash when beatmap file specified out-of-range timeline zoom value
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: size/XS

#21154 Fix multiple issues with seeding screen in tournament client
  osu.Game.Tournament/Screens/Editors/RoundEditorScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/M

#21197 Fix NRT causing CI failure
  osu.Game.Rulesets.Taiko/Skinning/Default/CirclePiece.cs
Labels: type:code-quality, size/XS

#21199 Fix parsing of `Language` when using system default language
  osu.Game/Extensions/LanguageExtensions.cs
  osu.Game/Overlays/FirstRunSetup/ScreenWelcome.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
Labels: type:UX, type:localisation, size/M

#21121 Update settings UI animation to better suit immediacy of sound effects
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game/Graphics/UserInterface/HoverClickSounds.cs
  osu.Game/Graphics/UserInterface/Nub.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
Labels: type:UI, area:settings, size/M

#21150 Move first tick tracking logic inside `TickPiece`
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/TickPiece.cs
Labels: type:code-quality, ruleset:osu!taiko, size/M

#21148 Move major barline portion to default implementation to allow for further customisation
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultBarLine.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: type:code-quality, ruleset:osu!taiko, size/L

#21151 Fix various issues surrounding hit judgements
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultJudgementPiece.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoJudgement.cs
  osu.Game.Rulesets.Taiko/UI/KiaiHitExplosion.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: type:code-quality, area:gameplay, size/M

#21203 Change default beatmap listing key binding to `Ctrl`+`B`
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: size/XS

#20736 Normalise combo colour brightness
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyBeatmapSkin.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game/Configuration/IGameplaySettings.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/HSPAColour.cs
  osu.Game/Localisation/GraphicsSettingsStrings.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/BeatmapSettings.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Play/PlayerSettings/VisualSettings.cs
  osu.sln.DotSettings
Labels: area:gameplay, size/L

#21153 First pass osu!taiko "argon" skin
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableBarLine.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneTaikoPlayfield.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonBarLine.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonCentreCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonElongatedCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonHitExplosion.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonHitTarget.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonInputDrum.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonPlayfieldBackgroundLeft.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonPlayfieldBackgroundRight.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonRimCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonTickPiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/RingPiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultHitExplosion.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/HitExplosion.cs
Labels: ruleset:osu!taiko, area:gameplay, size/XXL

#21207 Fix failing gameplay bindings test
  osu.Game.Tests/Visual/Navigation/TestSceneChangeAndUseGameplayBindings.cs
Labels: type:testing, size/XS

#21209 Add helper scripts for using local resources
  UseLocalResources.ps1
  UseLocalResources.sh
Labels: area:tooling, size/S

#20991 Receive chat messages via notification websocket
  osu.Game.Tests/Chat/TestSceneChannelManager.cs
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/ChatAckRequest.cs
  osu.Game/Online/API/Requests/CreateNewPrivateMessageRequest.cs
  osu.Game/Online/API/Requests/GetChannelRequest.cs
  osu.Game/Online/API/Requests/GetNotificationsRequest.cs
  osu.Game/Online/API/Requests/PostMessageRequest.cs
  osu.Game/Online/API/Requests/Responses/APINotification.cs
  osu.Game/Online/API/Requests/Responses/APINotificationsBundle.cs
  osu.Game/Online/API/Requests/Responses/ChatAckResponse.cs
  osu.Game/Online/API/Requests/Responses/ChatSilence.cs
  osu.Game/Online/API/Requests/Responses/GetChannelResponse.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Chat/Message.cs
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/Notifications/NotificationsClient.cs
  osu.Game/Online/Notifications/NotificationsClientConnector.cs
  osu.Game/Online/Notifications/WebSocket/EndChatRequest.cs
  osu.Game/Online/Notifications/WebSocket/NewChatMessageData.cs
  osu.Game/Online/Notifications/WebSocket/SocketMessage.cs
  osu.Game/Online/Notifications/WebSocket/StartChatRequest.cs
  osu.Game/Online/Notifications/WebSocket/WebSocketNotificationsClient.cs
  osu.Game/Online/Notifications/WebSocket/WebSocketNotificationsClientConnector.cs
  osu.Game/Online/PersistentEndpointClientConnector.cs
  osu.Game/OsuGame.cs
  osu.Game/Tests/PollingNotificationsClient.cs
  osu.Game/Tests/PollingNotificationsClientConnector.cs
Labels: blocked, type:online, area:overlay-chat, size/XL

#21073 Remove chat messages from silenced users
  osu.Game.Tests/Chat/TestSceneChannelManager.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Online/API/Requests/ChatAckRequest.cs
  osu.Game/Online/API/Requests/Responses/ChatSilence.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Online/Notifications/WebSocket/WebSocketNotificationsClient.cs
Labels: area:overlay-chat, size/L

#21220 Fix `SkinnableSprite` lookups broken in lazer-first skins
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: area:skinning, size/M

#21208 Target rounded fragment shader
  osu.Android.props
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Graphics/Sprites/LogoAnimation.cs
  osu.Game/Screens/Loader.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#21226 Fix beatmap card expanded content not blocking clicks from behind
  osu.Game/Beatmaps/Drawables/Cards/ExpandedContentScrollContainer.cs
Labels: type:input, size/XS, area:overlay-beatmap-listing

#21227 Fix `FallbackSampleStore.GetAsync` fallback logic
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
Labels: size/XS

#21235 Fix slider ticks appearing before sliders are done snaking in with Freeze Frame
  osu.Game.Rulesets.Osu/Mods/OsuModFreezeFrame.cs
Labels: ruleset:osu!, area:mods, size/XS

#21240 Apply pooling support to hit error metres
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
Labels: type:performance, area:gameplay, size/L

#21243 Fix argon and triangles swells incorrectly flashing on every hit
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/CirclePiece.cs
Labels: ruleset:osu!taiko, size/S

#21257 Fix combo colour normalisation setting not applying to editor test play
  osu.Game/Configuration/IGameplaySettings.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: area:editor, size/M

#21255 Fix "reset to full area" button not always working correctly
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: area:settings, size/XS

#21256 Add basic osu!taiko "argon" swell visual
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableSwell.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonSwellCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
Labels: ruleset:osu!taiko, area:gameplay, size/M

#21265 Don't seek to current editor location when location is close to (or before) the first object
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: area:editor, type:UX, size/XS

#21277 Reduce unnecessary texture overhead incurred by beatmap listing
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:performance, size/M

#21278 Avoid loading overlay headers until first open
  osu.Game/Overlays/OverlayHeaderBackground.cs
Labels: type:performance, size/S

#21279 Fix news post images never unloading from memory after first display
  osu.Game/Overlays/Dashboard/Home/News/FeaturedNewsItemPanel.cs
  osu.Game/Overlays/News/NewsCard.cs
  osu.Game/Overlays/News/NewsPostBackground.cs
Labels: type:performance, size/S

#21276 Eagerly dispose of triangles intro textures to avoid holding for full length of game session
  osu.Game/Screens/Menu/IntroTriangles.cs
Labels: type:performance, size/XS

#21284 Fix `NowPlayingOverlay` loading background texture too early (and permanently)
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:performance, size/XS

#21244 Disable certain beatmap option buttons when there are no beatmaps selected
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectFooter.cs
  osu.Game/Screens/Select/Footer.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UX, size/M

#21286 Fix beatmap options test failure due to no beatmap selected
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
Labels: type:testing, size/XS

#21269 Move "keybindings" keyword to correct section
  osu.Game/Overlays/Settings/Sections/Input/BindingSettings.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
Labels: area:settings, size/XS

#21268 Fix sliders not correctly taking on full available length after changing curve type
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: area:editor, size/XS

#21287 Fix potential incorrect connection state resulting in null reference
  osu.Game/Online/PersistentEndpointClientConnector.cs
Labels: type:online, size/XS

#21288 Fix entering gameplay while network connection is in a bad state taking too long
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, size/XS

#21140 Standardise scores to `long` type
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Graphics/UserInterface/ScoreCounter.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Online/Rooms/IndexedMultiplayerScores.cs
  osu.Game/Online/Spectator/SpectatorScoreProcessor.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Scoring/ScoringValues.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/ILeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: area:scoring, size/M

#21289 Fix triangle button flash effect looking incorrect
  osu.Game/Graphics/UserInterface/OsuButton.cs
Labels: type:UI, size/S

#21290 Add some debugging for multiplayer test failures
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
Labels: type:testing, area:multiplayer, size/S

#21293 Fix timeline potentially scrolling at extents while not dragging
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/XS

#21292 Fix being able to bind two non-modifier keys to the same binding
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
Labels: area:settings, size/M

#21191 Display - symbol when tracked in-game leaderboard score is below 50
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboard.cs
  osu.Game/Online/API/Requests/GetScoresRequest.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/SoloGameplayLeaderboard.cs
Labels: area:gameplay, type:UX, size/M

#21299 Fix "perform from screen" invoking action on non-loaded screens
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game/PerformFromMenuRunner.cs
Labels: size/S, type:reliability

#21306 Fix editor not always playing hitsounds with clock offsets applied
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/XS, type:audio

#21310 Fix intermittent present beatmap test failures
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
Labels: area:song-select, type:testing, size/S

#21267 Catch and gracefully handle file/directory enumeration failures during stable import
  osu.Game.Tests/Database/LegacyBeatmapImporterTest.cs
  osu.Game/Database/LegacyBeatmapImporter.cs
Labels: size/M, type:reliability

#21266 When returning to the editor after test play, use the original editor time rather than the point of exit
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: area:editor, type:UX, size/XS

#21205 Fix incorrect rounding of tablet aspect ratio values
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: type:input, area:settings, size/S

#21307 Hide scroll speed control from effects section on rulesets which don't support it
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/IDrawableScrollingRuleset.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
Labels: area:editor, size/M

#21343 Add support for nonsquare smoke textures
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
Labels: area:gameplay, size/S

#21340 Added PreferOriginalMetadataLanguage to FirstRunSetup
  osu.Game/Overlays/FirstRunSetup/ScreenWelcome.cs
Labels: size/XS

#21326 Fix phantom beatmap sets appearing on carousel after delete/update
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, type:UI, size/S

#21338 Match leaderboard filter behaviour to web
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:song-select, type:UI, size/XS

#21215 Add winner of Triangles mapping competition as a bundled beatmap
  osu.Game/Beatmaps/Drawables/BundledBeatmapDownloader.cs
Labels: size/XS

#21352 Avoid crashing when a system audio device provides a `null` name
  osu.Game/Overlays/Settings/Sections/Audio/AudioDevicesSettings.cs
Labels: size/XS, type:reliability

#21350 Hide spinner ticks / bonus from results screen when not applicable to score
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:results, size/XS

#21346 Increase maximum aspect ratio for tablet settings to 23:9 / 2.55
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: area:settings, size/XS

#21344 Fix `TestSceneTabletSettings` falling off the bottom of the screen
  osu.Game.Tests/Visual/Settings/TestSceneTabletSettings.cs
Labels: type:testing, size/S

#21356 Add support for storyboards with incorrect path specifications (`\\` instead of `\`)
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: area:storyboard, size/XS

#21366 Fix broken rank graph test
  osu.Game.Tests/Visual/Online/TestSceneRankGraph.cs
Labels: type:testing, size/L

#21371 Fix osu!mania hold notes occasionally getting in a visually incorrect hit state
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
Labels: ruleset:osu!mania, area:gameplay, size/S

#21377 Change song select to only allow volume adjusting if alt is held while scrolling
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UX, size/S

#21228 Add ability to view chat send history in input box
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
  osu.Game.Tests/NonVisual/LimitedCapacityQueueTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneHistoryTextBox.cs
  osu.Game/Graphics/UserInterface/HistoryTextBox.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatTextBox.cs
  osu.Game/Utils/LimitedCapacityQueue.cs
Labels: area:overlay-chat, size/L

#21379 Add taiko hit overlay animations
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableDrumRollKiai.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHit.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableHitKiai.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
Labels: ruleset:osu!taiko, area:skinning, size/L

#21224 Vertically stacked osu!catch touch input
  osu.Game.Rulesets.Catch/UI/CatchTouchInputMapper.cs
Labels: ruleset:osu!catch, type:input, size/S

#21386 Fix crash when hitting 'T' to tap timing while no timing point is selected
  osu.Game.Tests/Visual/Editing/TestSceneTapTimingControl.cs
  osu.Game/Screens/Edit/Timing/TapButton.cs
  osu.Game/Screens/Edit/Timing/TapTimingControl.cs
Labels: area:editor, size/M, type:reliability

#21349 Fix chat day separator not being added on pending message resolution
  osu.Game.Tests/Visual/Online/TestSceneDrawableChannel.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/DaySeparator.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: area:overlay-chat, size/L

#21065 Add Beatmap Information elements
  osu.Game.Tests/Resources/Archives/modified-default-20221102.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
  osu.Game/Skinning/Components/TextElement.cs
Labels: area:gameplay, area:skinning, size/L

#21225 Implement TrianglesV2 component
  osu.Android.props
  osu.Game.Tests/Visual/Background/TestSceneTriangleBorderShader.cs
  osu.Game.Tests/Visual/Background/TestSceneTrianglesV2Background.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:UI, size/L

#21387 Add ability to seek between control points in editor using down/up arrows
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeeking.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#21403 Update most game buttons to use new outlined triangles style
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneLoadingLayer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuPopover.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneRoundedButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenBreadcrumbControl.cs
  osu.Game.Tournament/Screens/Setup/ActionableInfo.cs
  osu.Game.Tournament/Screens/Setup/StablePathSelectScreen.cs
  osu.Game.Tournament/Screens/Setup/TournamentSwitcher.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Graphics/UserInterface/DangerousRoundedButton.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Graphics/UserInterface/TriangleButton.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/HeaderButton.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/DirectorySelectScreen.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
  osu.Game/Rulesets/Edit/ExpandableButton.cs
  osu.Game/Screens/Import/FileImportScreen.cs
  osu.Game/Screens/OnlinePlay/Components/MatchBeatmapDetailArea.cs
  osu.Game/Screens/OnlinePlay/Components/ReadyButton.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Match/Components/CreateRoomButton.cs
  osu.Game/Screens/OnlinePlay/Match/Components/PurpleRoundedButton.cs
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerCountdownButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsReadyButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
  osu.Game/Screens/Play/SoloSpectator.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: type:UI, size/L

#21417 Avoid changing ruleset when presenting a beatmap if it can be converted
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game/OsuGame.cs
Labels: area:song-select, type:UX, size/M

#21432 Compute texel size in the DrawNode of TrianglesV2 component
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
Labels: size/XS

#21446 Improve TrianglesV2 antialiasing
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
Labels: size/M

#21450 Add missing localization in `DrawableComment`
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: size/XS

#21428 Refactor star "DifficultyRangeFilterControl" into generic range slider
  osu.Game.Tests/Visual/SongSelect/TestSceneDifficultyRangeFilterControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneRangeSlider.cs
  osu.Game/Graphics/UserInterface/RangeSlider.cs
  osu.Game/Screens/Select/DifficultyRangeFilterControl.cs
  osu.Game/Screens/Select/FilterControl.cs
Labels: type:code-quality, size/L

#21451 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game/Online/Rooms/APICreatedRoom.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
  osu.Game/Tests/Beatmaps/HitObjectSampleTest.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#21460 Remove texture usage in TrianglesV2 component
  osu.Game.Tests/Visual/Background/TestSceneTrianglesV2Background.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
Labels: size/L

#21434 Ensure currently selected control point will scroll into view
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Verify/IssueTable.cs
Labels: area:editor, type:UX, size/L

#21420 Show mods, ruleset and unicode metadata in "now playing" chat command
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
Labels: area:overlay-chat, size/M

#21353 Stop requesting messages as part of initial chat presence
  osu.Game/Online/API/Requests/GetUpdatesRequest.cs
  osu.Game/Online/API/Requests/GetUpdatesResponse.cs
  osu.Game/Online/Notifications/NotificationsClient.cs
  osu.Game/Tests/PollingNotificationsClient.cs
Labels: type:online, size/S

#21369 Highlight `ChatLine` username on hover
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/DrawableUsername.cs
Labels: type:UI, area:overlay-chat, size/L

#21466 Attempt to fix flaky `TestHoldForMenuDoesWorkWhenHidden`
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
Labels: type:testing, size/XS

#21467 Hide the game mouse cursor when playing osu!catch with relax mod
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModRelax.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/CatchRelaxCursorContainer.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: ruleset:osu!catch, area:mods, size/M
