Repository ppy/osu, pull requests merged in 2022-09, with the labels that each got.

#20047 Add auto skip for multiplayer rooms
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayComposite.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:multiplayer, size/M

#20066 Fix "date submitted" and "date ranked" filtering not working as intended
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: area:song-select, size/M

#20072 Fix seasonal background not being unloaded when changing setting to "Never"
  osu.Game/Graphics/Backgrounds/SeasonalBackgroundLoader.cs
Labels: size/S

#20073 Fix tournament population failure when beatmap is not found on server
  osu.Game.Tournament/Models/TournamentBeatmap.cs
  osu.Game/Beatmaps/BeatmapSetOnlineCovers.cs
Labels: size/XS

#20076 Fix beat sync components stopping after beatmap change
  osu.Game/OsuGameBase.cs
Labels: size/XS

#20079 Fix double colour application in update progress notification
  osu.Desktop/Updater/SquirrelUpdateManager.cs
Labels: size/XS

#20070 Add `has_replay` and `legacy_score_id` to `SoloScoreInfo`
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: area:scoring, size/XS

#20092 Bump difficulty calculator versions
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: area:difficulty, size/XS

#20093 Don't serialise `has_replay`
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: area:scoring, size/XS

#19971 Update `Remove`/`RemoveRange`/`RemoveAll` calls in line with framework changes
  osu.Android.props
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/NestedOutlineContainer.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModPlayfieldCover.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneFollowPoints.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Tests/Editing/Checks/CheckAudioQualityTest.cs
  osu.Game.Tests/Visual/Background/TestSceneSeasonalBackgroundLoader.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorHost.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game.Tests/Visual/Navigation/TestSettingsMigration.cs
  osu.Game.Tests/Visual/Online/TestSceneLeaderboardModSelector.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapMetadataDisplay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneLogoTrackingContainer.cs
  osu.Game.Tournament.Tests/Screens/TestSceneGameplayScreen.cs
  osu.Game.Tournament/Screens/Drawings/Components/Group.cs
  osu.Game.Tournament/Screens/Drawings/Components/ScrollingTeamContainer.cs
  osu.Game.Tournament/Screens/Drawings/Components/VisualiserContainer.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game/Graphics/Backgrounds/Background.cs
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Graphics/Containers/SelectionCycleFillFlowContainer.cs
  osu.Game/Graphics/UserInterface/BarGraph.cs
  osu.Game/Graphics/UserInterface/TwoLayerButton.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Overlays/NotificationOverlayToastTray.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Objects/Pooling/PooledDrawableWithLifetimeContainer.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/JudgementContainer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectOrderedSelectionContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoomParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/Play/FailAnimation.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanelTrackingContainer.cs
  osu.Game/Skinning/SkinnableSound.cs
  osu.Game/Skinning/SkinnableTargetContainer.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#20109 Fix room status dropdown placement inconsistent between multiplayer and playlists
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
Labels: type:UX, area:multiplayer, size/XS, area:playlists

#20142 Fix textbox sample playback potentially crashing if called before load
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
Labels: size/XS, type:reliability

#20141 Fix incorrect slider length in timeline when non-default velocity is inherited from previous object
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: ruleset:osu!, area:editor, size/M

#20136 Improve performance when cancelling import with debugger attached
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: type:performance, size/M

#20156 Fix some storyboard elements displaying too late due to incorrect start time allowances
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/loop-containing-earlier-non-zero-fade.osb
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game/Storyboards/CommandTimelineGroup.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:storyboard, size/M

#19413 Add ability to delete difficulties from the editor
  osu.Game.Tests/Visual/Editing/TestSceneDifficultyDelete.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/Edit/DeleteDifficultyConfirmationDialog.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:UX, size/L

#20168 Add audio feedback for Esc/Back clearing text from a FocusedTextBox
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
Labels: size/M, type:audio

#20144 Fix completion toasts sometimes not displaying
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/Visual/Navigation/TestSceneStartupImport.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/NotificationOverlayToastTray.cs
  osu.Game/Overlays/Notifications/ProgressCompletionNotification.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: area:overlay-notifications, size/L

#20095 Fix right-clicking a non-selected match in ladder view dismissing context menu
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
Labels: area:tournament, size/XS

#20094 Show team scores at the tournament map pool screen
  osu.Game.Tournament/Screens/Gameplay/Components/TeamScoreDisplay.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
Labels: area:tournament, size/S

#18764 Make drum rolls and swells optional in taiko
  osu.Game.Rulesets.Taiko.Tests/Judgements/JudgementTest.cs
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneDrumRollJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneHitJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneSwellJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModPerfect.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumRollJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneSwellJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoSuddenDeath.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoDrumRollJudgement.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoDrumRollTickJudgement.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoStrongJudgement.cs
  osu.Game.Rulesets.Taiko/Judgements/TaikoSwellJudgement.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
Labels: ruleset:osu!taiko, area:mods, size/XL

#20174 Fix some storyboard sprites still showing with zero `VectorScale`
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
Labels: area:storyboard, size/S

#20158 Decode taiko Geki/Katu from legacy scores into `LargeBonus`
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Resources/Replays/taiko-replay.osr
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
Labels: ruleset:osu!taiko, area:scoring, size/M

#20173 Tidy up `TestSceneStoryboard`
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
Labels: type:code-quality, size/M

#20177 Fix target mod crashing if beatmap is played with a break after all hitobjects
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
Labels: size/XS, type:reliability

#20186 Fix clicking an in-progress match in bracket view potentially resetting scores
  osu.Game.Tournament/Models/TournamentMatch.cs
Labels: area:tournament, size/XS

#20143 Show judgement colours in hit distribution graph
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: area:results, size/L

#20157 Refactor `TrueGameplayRate` to account for only gameplay adjustments, no matter what
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
  osu.Game.Tests/NonVisual/GameplayClockContainerTest.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/GameplayClockExtensions.cs
  osu.Game/Screens/Play/IGameplayClock.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: type:code-quality, size/L

#20179 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#20190 Show fixed speed in mania scroll speed settings
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
Labels: area:settings, size/S

#20178 Fix several weird scenarios with online play song selection
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsSongSelect.cs
Labels: type:UX, area:multiplayer, size/L, area:playlists

#19599 Add clicks/second counter to HUD
  osu.Game.Tests/Resources/Archives/modified-default-20220818.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneClicksPerSecondCalculator.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Rulesets/UI/IFrameStableClock.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/HUD/ClicksPerSecond/ClicksPerSecondCalculator.cs
  osu.Game/Screens/Play/HUD/ClicksPerSecond/ClicksPerSecondCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, type:UI, size/L

#20202 Turn score ids into `ulong`s
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: area:scoring, size/XS

#20195 Add arrow shortcuts to skin editor
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Skinning/Editor/SkinBlueprintContainer.cs
Labels: size/M, area:skin-editor

#20203 Fix beat sync stopping after returning to menu from a failed play
  osu.Game/Beatmaps/FramedBeatmapClock.cs
  osu.Game/OsuGameBase.cs
Labels: area:main menu, size/S

#20205 Fix attempting to use "home" key binding while exiting game causing errors
  osu.Game/OsuGame.cs
Labels: size/XS, type:reliability

#19774 Add basic touch support for osu!catch
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchTouchInput.cs
  osu.Game.Rulesets.Catch/CatchInputManager.cs
  osu.Game.Rulesets.Catch/UI/CatchTouchInputMapper.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
Labels: ruleset:osu!catch, platform:mobile, size/L

#20206 Reduce ramp mod multipliers in line with other difficulty change mods for now
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Mods/ModWindDown.cs
  osu.Game/Rulesets/Mods/ModWindUp.cs
Labels: size/XS

#20200 Populate `MaximumStatistics` for scores imported into lazer
  osu.Game/BackgroundBeatmapProcessor.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: area:scoring, size/L

#19556 Fix progress bar text orientation and scale
  osu.Game.Tests/Visual/UserInterface/TestSceneSizePreservingSpriteText.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneUprightAspectMaintainingContainer.cs
  osu.Game/Graphics/Containers/UprightAspectMaintainingContainer.cs
  osu.Game/Graphics/Sprites/SizePreservingSpriteText.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
  osu.Game/Screens/Play/HUD/SongProgressInfo.cs
Labels: type:UI, area:skinning, size/XL

#18769 Enhance angle calculations of the Random mod
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils.cs
Labels: ruleset:osu!, area:mods, size/L

#18642 Fix beatmap card play button not working with touch inputs when not hovered
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCard.cs
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCardThumbnail.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/PlayButton.cs
Labels: type:input, platform:mobile, size/S, area:overlay-beatmap-listing

#20213 Fix markdown container not rendering certain text correctly
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Overlays/Comments/CommentMarkdownContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownContainer.cs
Labels: type:UI, size/M, area:comments, area:overlay-wiki

#20236 Fix countdown serialisation
  osu.Game/Online/Multiplayer/MultiplayerCountdown.cs
Labels: area:multiplayer, size/XS

#20253 Fix `world.execute(me)` storyboard animation incorrectness
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/animation-starts-before-alpha.osb
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:storyboard, size/M

#19275 Add multiple-units support in search length criteria
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: size/L

#20254 Fix update progress notification icon overload
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
  osu.Game/Updater/UpdateManager.cs
Labels: type:UI, size/L

#19308 Fix best rank badge not handling legacy scores properly
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
  osu.Game/Online/Leaderboards/UpdateableRank.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
Labels: area:song-select, size/L

#20257 Show login overlay when attempting to update a beatmap while logged out
  osu.Game/Screens/Select/Carousel/UpdateBeatmapSetButton.cs
Labels: area:song-select, type:UX, size/S

#20215 Allow dismissing notifications without performing action using middle / right click
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
Labels: type:UX, area:overlay-notifications, size/L

#20248 Fix new hit distribution graph didn't account for size changes
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
Labels: area:results, size/L

#20258 Fix bindable event binds to `HitObject` directly
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: type:performance, area:editor, size/XS

#20259 Fix potential crash when opening changelog overlay if entry has no URL
  osu.Game/Overlays/Changelog/ChangelogEntry.cs
Labels: size/XS, type:reliability

#20260 Fix new-style legacy skins with animated judgements not adding correct transforms
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
Labels: ruleset:osu!, area:skinning, size/M

#20262 Add `ScoreProcessor.ComputeAccuracy()`
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:scoring, size/S

#20283 Fix potential crash if multiplayer spectator load is aborted early
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayer.cs
Labels: size/XS, type:reliability

#20281 Fix null considerations in `DrawableRulesetDependencies`
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
Labels: type:code-quality, size/S

#20265 Fix `SongProgress` invalidating too often
  osu.Game/Screens/Play/HUD/SongProgressInfo.cs
Labels: area:gameplay, size/XS

#20270 Fixed HitObjectOrderedSelectionContainer being able to become unsorted and causing crashes
  osu.Game.Tests/Visual/Editing/TestSceneSelectionBlueprintDeselection.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectOrderedSelectionContainer.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: area:editor, size/M, type:reliability

#20244 Add ability to "fling" notifications to dismiss them
  osu.Game.Tests/Online/TestSceneBeatmapDownloading.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Database/ModelDownloader.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/NotificationOverlayToastTray.cs
  osu.Game/Overlays/Notifications/Notification.cs
  osu.Game/Overlays/Notifications/NotificationSection.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
  osu.Game/Updater/UpdateManager.cs
Labels: area:overlay-notifications, size/L

#20267 Add ability to flick notifications to the right to store for later
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/NotificationOverlayToastTray.cs
  osu.Game/Overlays/Notifications/Notification.cs
Labels: area:overlay-notifications, size/M

#20273 Fix beatmap listing potentially showing duplicate beatmap cards
  osu.Game.Tests/Visual/Online/TestSceneBeatmapListingOverlay.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: size/M, area:overlay-beatmap-listing

#20292 Fix song select status prefix matching no longer working
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/S

#20300 Fix local scores potentially not being stable-sorted for leaderboard display
  osu.Game/Scoring/ScoreManager.cs
Labels: area:database, area:scoring, size/XS

#20301 Update ReSharper CLI to 2022.2.3
  .config/dotnet-tools.json
Labels: area:tooling, size/XS

#20309 Unused class KeyCounterState.cs Removal
  osu.Game/Screens/Play/KeyCounterState.cs
Labels: type:code-quality, size/S

#20317 Improve sorting criteria in beatmap listing overlay
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSortTabControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSortTabControl.cs
  osu.Game/Overlays/BeatmapListing/SortCriteria.cs
  osu.Game/Overlays/OverlaySortTabControl.cs
Labels: type:UX, size/L, area:overlay-beatmap-listing

#20303 Fix editor performance drop over time due to lingering nested object references
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/Rulesets/Objects/Pooling/HitObjectEntryManager.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: type:performance, area:editor, size/L

#20308 Fix slider rotation causing thousands of new drawables to be created
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: size/M

#20160 Retrieve great hit window from the hit object in osu! difficulty calculation
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: area:difficulty, size/M

#20329 Fix potential startup failures if sqlite cannot be loaded
  osu.Game/Beatmaps/BeatmapUpdaterMetadataLookup.cs
  osu.Game/osu.Game.csproj
Labels: size/S

#19991 Move `DifficultyMultiplierDisplay`'s layout and colour logic to a base class
  osu.Game.Tests/Visual/UserInterface/TestSceneModsEffectDisplay.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModsEffectDisplay.cs
Labels: type:UI, size/L

#20320 Allow skin transformers to be created for all skins
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, size/M, area:ruleset-api

#20334 Make score panel timestamp adjust to 24-hour time setting
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: type:UI, area:results, size/S

#20337 Catch any unobserved exceptions during beatmap metadata harvesting
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
Labels: area:beatmap, size/XS, type:reliability

#20338 Fix follow point animations in legacy skins not always starting at correct point in time
  osu.Game.Rulesets.Osu/Objects/Drawables/Connections/FollowPointConnection.cs
Labels: area:gameplay, size/S

#20328 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#20264 Simplify skin bindable flow
  osu.Game/Database/Live.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:settings, size/L

#20349 Fixed Leaderboard tooltip not following time format setting
  osu.Game/Online/Leaderboards/LeaderboardScoreTooltip.cs
Labels: size/S

#20355 Clarify purpose of `APIUserScoreAggregate` using xmldoc
  osu.Game/Online/API/Requests/Responses/APIUserScoreAggregate.cs
Labels: size/XS, type:documentation

#20359 Fix memory leak due to missing event unbind
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
Labels: type:performance, area:multiplayer, size/XS

#20353 EditorBeatmap's TimelineZoom should never be zero
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: size/S

#20339 Fix notification count not always updating when it should
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: area:overlay-notifications, size/M

#20358 Fix flashlight shrinking at >100x rather than starting from 100x
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: area:mods, size/XS

#20346 Fix `InputBlockingMod` not always clearing last action on break periods
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAlternate.cs
  osu.Game.Rulesets.Osu/Mods/InputBlockingMod.cs
Labels: ruleset:osu!, area:mods, size/M

#20379 Reduce occasions when "game is muted" notification shows
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: type:UX, size/S

#20375 Fix mods potentially keeping reference to runtime gameplay elements
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
Labels: type:performance, size/M, next-release

#20366 Fix multiplayer crashes due to incorrect download state
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/StateDisplay.cs
Labels: area:multiplayer, size/S, type:reliability, next-release

#20321 Fix Progress bar info text overlapping with progress graph
  osu.Game/Screens/Play/HUD/SongProgressInfo.cs
  osu.Game/Screens/Play/SquareGraph.cs
Labels: size/S

#20342 Implement server shutdown countdown + notification
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerCountdown.cs
  osu.Game/Online/Multiplayer/ServerShutdownNotification.cs
  osu.Game/Online/Multiplayer/ServerShuttingDownCountdown.cs
  osu.Game/Online/SignalRWorkaroundTypes.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Utils/HumanizerUtils.cs
Labels: area:multiplayer, size/L

#20383 Fix progress notifications no longer blocking cancel on left click
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
Labels: area:overlay-notifications, size/M

#20354 Rename default skin to make way for new version
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaComposeScreen.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorParticles.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleArea.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game.Tests/Visual/Gameplay/SkinnableHUDComponentTestScene.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneParticleSpewer.cs
  osu.Game.Tests/Visual/Navigation/TestSceneEditDefaultSkin.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
  osu.Game/Skinning/SkinImporter.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/Skinning/TrianglesSkin.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:skinning, size/L, next-release

#16524 Fix touch device difficulty reduction not affecting star rating
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset:osu!, area:difficulty, size/S

#20392 Disable alpha component parsing in beatmap / skin colour sections
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Skins/LegacySkinDecoderTest.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkinDecoder.cs
Labels: area:skinning, size/S

#20393 Add "keybindings" search term to settings
  osu.Game/Overlays/Settings/Sections/InputSection.cs
Labels: area:settings, size/XS

#20368 Fixed osu!catch objects spawning outside of playfield
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
Labels: ruleset:osu!catch, size/M

#20370 Add mod settings `AngleSharpness` and `AngleVariety` to the random mod
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
Labels: size/M

#20377 Add new default "argon" skin
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderBody.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderScorePoint.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DrawableSliderPath.cs
  osu.Game.Rulesets.Osu/Skinning/Default/PlaySliderBody.cs
  osu.Game.Rulesets.Osu/Skinning/Default/RingPiece.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSongProgress.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
  osu.Game/Skinning/SkinInfo.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: ruleset:osu!, area:gameplay, size/XXL, next-release

#20385 Add snapping for slider control points in the editor
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/S

#20396 Add warning message in `files` folder to avoid accidental deletion
  osu.Game/OsuGameBase.cs
Labels: type:UX, size/S

#20111 Add customisation settings of colour hit error display
  osu.Game.Tests/Visual/Gameplay/TestSceneColourHitErrorMeter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
Labels: type:UI, area:skinning, size/L

#20399 Add "argon" skin judgement bubbles
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonJudgementPiece.cs
Labels: ruleset:osu!, area:gameplay, size/M

#20400 Fix argon reverse arrow becoming white after switching skins
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonReverseArrow.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#20401 Fix "argon" skin not supporting user loaded sprites in gameplay
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyNewStyleSpinner.cs
  osu.Game/Skinning/ISkinTransformer.cs
  osu.Game/Skinning/LegacySkinTransformer.cs
  osu.Game/Skinning/SkinTransformer.cs
  osu.Game/Skinning/SkinnableSprite.cs
Labels: area:skinning, size/L

#20398 Fix "note lock" shake not always animating
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: ruleset:osu!, area:gameplay, size/L

#20389 Fix gameplay leaderboard sometimes not showing up
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
Labels: area:gameplay, size/M, next-release

#20402 Add argon combo colours
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game/Skinning/ArgonSkin.cs
Labels: size/S

#20403 Add very basic follow point implementation for argon skin
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonFollowPoint.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
Labels: ruleset:osu!, area:gameplay, size/M

#20404 Add basic "argon" cursor
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonCursor.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonCursorTrail.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
Labels: ruleset:osu!, area:gameplay, size/L

#20344 Improve tablet error/warning notifications messaging
  osu.Android.props
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Notifications/SimpleNotification.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:input, type:UX, size/M

#20405 Adjust argon animations a bit
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: size/S

#20408 Add `TestSceneOsuModRandom`
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModRandom.cs
Labels: type:testing, size/L

#20406 Add very basic "argon" spinner
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneTrianglesSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerTicks.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
Labels: ruleset:osu!, area:gameplay, size/XL

#20419 Fix off-thread drawable mutation in multiplayer settings overlay when an error occurs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
Labels: size/XS, type:reliability, next-release

#20417 Fix crash when storyboard attempts to play at main menu
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
Labels: size/S, type:reliability, next-release

#20424 Fix slider tick colour not being applied properly
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderScorePoint.cs
Labels: size/XS, next-release

#20472 Cleanup bindings instantiation
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNoScope.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDeflate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModGrow.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNoScope.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game.Tests/Online/TestAPIModJsonSerialization.cs
  osu.Game.Tests/Online/TestAPIModMessagePackSerialization.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsItem.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsSource.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
  osu.Game/Rulesets/Mods/ModRandom.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Mods/ModWindDown.cs
  osu.Game/Rulesets/Mods/ModWindUp.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
  osu.Game/Screens/Play/PlayerSettings/PlaybackSettings.cs
Labels: size/L

#20468 GitHub Workflows security hardening
  .github/workflows/ci.yml
  .github/workflows/report-nunit.yml
  .github/workflows/sentry-release.yml
Labels: area:tooling, size/S

#20418 Fix intermittent leaderboard crash due to request finishing after drawable is disposed
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: size/S, type:reliability, next-release

#20486 Apply NRT to `GameplayLeaderboard` hierarchy
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorLeaderboard.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
Labels: type:code-quality, size/S

#20483 Move `MusicController` binds to `LoadComplete` for added thread safety
  osu.Game/Overlays/MusicController.cs
Labels: size/S, type:reliability

#20479 Fix potential crash on game exit due to incorrect scheduling of realm change handler
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
  osu.Game/Rulesets/Configuration/RulesetConfigManager.cs
Labels: size/XS

#20480 Fix potential crash from incorrect drawable mutation in tablet settings display
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: size/S, type:reliability

#20478 Fix progress notifications being able to be flung (and cancelled)
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: type:UX, area:overlay-notifications, size/M

#20485 Apply NRT to leaderboard hierarchy
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/UserTopScoreContainer.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchLeaderboard.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: type:code-quality, size/M

#20477 Fix osu! slider ticks appearing too late
  osu.Game.Rulesets.Osu/Objects/SliderTick.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#20497 Fix `SkinnableTestScene` sizing logic potentially failing to work
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: type:testing, size/XS

#20498 Fix `rank_history` serialisation order dependence
  osu.Game/Online/API/Requests/Responses/APIUser.cs
Labels: size/XS, type:reliability

#20495 Fix playlist overlay overflowing at high UI scales
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:UI, size/M, area:overlay-nowplaying

#20488 Add toggle for solo gameplay leaderboard
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboard.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/HUDSettings.cs
  osu.Game/Screens/Play/HUD/SoloGameplayLeaderboard.cs
  osu.Game/Screens/Play/KeyCounterDisplay.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
Labels: area:gameplay, size/M

#20502 Flush toast tray on entering gameplay
  osu.Game/Overlays/NotificationOverlay.cs
Labels: type:UX, area:overlay-notifications, size/XS

#20504 Fix potential crash when losing network connectivity in multiplayer/playlists screens
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: size/XS, type:reliability

#20501 Fix editor performance being sub-par on beatmap load
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: type:performance, area:editor, size/M

#20489 Use `StackedEndPosition` instead of `EndPosition` to determine the jump distance in the `FlashlightEvaluator`
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/FlashlightEvaluator.cs
Labels: ruleset:osu!, area:difficulty, size/XS

#20518 Fix leaderboard wobble when in first place
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
Labels: area:gameplay, size/M

#20507 Fix failing multiplayer tests
  osu.Game/Online/API/Requests/GetBeatmapRequest.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:testing, area:multiplayer, size/M

#20428 Fix update progress notification not closing on completion
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Updater/UpdateManager.cs
Labels: area:overlay-notifications, size/XS

#20510 Clamp `LifetimeStart` of `HitObject`s to their judgement windows
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneHitJudgements.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: area:gameplay, size/M

#20509 Removes unnecessary setting sources specifications
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNoScope.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDeflate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModGrow.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNoScope.cs
  osu.Game.Rulesets.Osu/Mods/OsuModObjectScaleTween.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Rulesets/Mods/ModNoScope.cs
  osu.Game/Rulesets/Mods/ModWindDown.cs
  osu.Game/Rulesets/Mods/ModWindUp.cs
Labels: size/M

#20503 Change default skin for new installations to "Argon"
  osu.Game.Tests/Visual/Navigation/TestSceneEditDefaultSkin.cs
  osu.Game/Configuration/OsuConfigManager.cs
Labels: area:gameplay, size/XS
