Repository ppy/osu, pull requests merged in 2022-05, with the labels that each got.

#18035 Update production endpoint to new version
  osu.Game/Online/ProductionEndpointConfiguration.cs
Labels: size/XS

#18021 Update overlay ruleset selector inline with osu-web design
  osu.Game.Tests/Visual/Online/TestSceneBeatmapRulesetSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneProfileRulesetSelector.cs
  osu.Game/Overlays/OverlayRulesetTabItem.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileRulesetTabItem.cs
Labels: type:UI, size/L, area:overlays

#18051 Fix first-run overlay's song select applying track adjustments
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
Labels: size/XS, type:audio, area:overlay-first-run

#18017 Improve "Alternate" mod to reset at first object after break
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAlternate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAlternate.cs
Labels: ruleset:osu!, area:mods, size/L

#18053 Adjust sheared button visuals to improve disabled / mousedown state
  osu.Game/Graphics/UserInterface/ShearedButton.cs
Labels: type:UI, size/XS

#18052 Fix clicking anywhere in the beatmap overlay dismissing it
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: size/S, area:overlay-beatmap

#18054 Fix footer random button autosizing to text length
  osu.Game/Screens/Select/FooterButtonRandom.cs
Labels: area:song-select, type:UI, size/M

#17586 Move difficulty graph toggle to individual skin settings
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/HUDSettings.cs
  osu.Game/Screens/Play/SongProgress.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:skinning, size/M

#16576 Add "distance spacing" support in editor for osu! ruleset
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaBeatSnapGrid.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneExpandingContainer.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Graphics/UserInterface/ExpandableSlider.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/InputSettings.cs
  osu.Game/Overlays/Settings/Sections/SizeSlider.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/GeneralSettings.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/IPositionSnapProvider.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: ruleset:osu!, area:editor, size/L

#18063 Split `SearchTextBox` implementation for reusability
  osu.Game/Graphics/UserInterface/BasicSearchTextBox.cs
  osu.Game/Graphics/UserInterface/SearchTextBox.cs
  osu.Game/Graphics/UserInterface/SeekLimitedSearchTextBox.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/Chat/Selection/ChannelSelectionOverlay.cs
  osu.Game/Overlays/Music/FilterControl.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: type:code-quality, type:UI, size/M

#18067 Reduce sorting worst-case time complexity in difficulty calculation
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
Labels: type:performance, area:difficulty, size/S

#17915 Implement new sheared search textbox design
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedSearchTextBox.cs
  osu.Game/Graphics/UserInterface/ShearedSearchTextBox.cs
Labels: type:UI, size/L

#18085 Improve editor grid rendering
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/RectangularPositionSnapGrid.cs
Labels: area:editor, size/M

#18070 Add keybind for handling distance spacing scrolls in editor
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
Labels: type:input, area:editor, size/M

#18071 Display toast notification on editor distance spacing changes
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
Labels: area:editor, type:UI, size/M

#18088 Fix clicks and drags around editor toolboxes resulting in unexpected interactions
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/ExpandingToolboxContainer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/ScrollingToolboxGroup.cs
Labels: area:editor, type:UX, size/L

#18081 Port test coverage from old mod select overlay to new design
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectScreen.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSection.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
  osu.Game/Overlays/Mods/UserModSelectScreen.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectScreen.cs
Labels: size/L, area:overlay-modselect

#18097 Fix Autoplay and Cinema not showing incompatibility with Alternate on hover, and made Alternate incompatible with Relax
  osu.Game.Rulesets.Osu/Mods/OsuModAlternate.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutoplay.cs
  osu.Game.Rulesets.Osu/Mods/OsuModCinema.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: ruleset:osu!, area:mods, size/XS

#18098 Remove weird strict tracking icon and reword description to explain what the mod does
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
Labels: ruleset:osu!, area:mods, size/XS

#18099 Add xmldoc and rename methods in `IPositionSnapProvider` for legibility
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaBeatSnapGrid.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IPositionSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: type:code-quality, area:editor, size/M, type:documentation

#18102 Wrap `BeatmapOnlineLookupQueue` cache request in a task
  osu.Game/Beatmaps/BeatmapOnlineLookupQueue.cs
Labels: type:code-quality, area:beatmap, size/XS

#18101 Move caching specification to interface for several editor interfaces
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/IPositionSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/IPlacementHandler.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: type:code-quality, area:editor, size/S

#18082 Add key binding for beatmap selection in song select
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: type:input, area:song-select, size/M

#18100 Add xmldoc for `IDistanceSnapProvider` and related properties
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
Labels: type:code-quality, area:editor, size/M, type:documentation

#18093 Fix dialogs pushed to `DialogOverlay` too early potentially doing cross-thread transforms
  osu.Game.Tests/Visual/UserInterface/TestSceneDialogOverlay.cs
  osu.Game/Overlays/DialogOverlay.cs
Labels: size/M, type:reliability

#18090 Add support for traversing playlist items using next/previous bindings
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
Labels: type:UX, size/L, area:playlists

#18033 Implement basic layout and behaviour of new chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChatOverlayV2.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListSelector.cs
  osu.Game/Overlays/Chat/ChatOverlayTopBar.cs
  osu.Game/Overlays/Chat/ChatTextBar.cs
  osu.Game/Overlays/Chat/Listing/ChannelListingItem.cs
  osu.Game/Overlays/ChatOverlayV2.cs
Labels: type:UX, area:overlay-chat, size/XL

#18108 Close new design's mod customisation area on escape press before exiting
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectScreen.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:UX, size/S, area:overlay-modselect

#18110 Clamp maximum and minimum height the chat overlay can be resized to
  osu.Game.Tests/Visual/Online/TestSceneChatOverlayV2.cs
  osu.Game/Overlays/ChatOverlayV2.cs
Labels: area:overlay-chat, size/S

#18116 Mark `GuestUser` as system user via `Id` for now
  osu.Game/Online/API/APIAccess.cs
Labels: area:database, size/XS

#18119 Fix mod panels not hovering correctly after closing customisation area via mouse on new mod select
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectScreen.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:UI, size/S, area:overlay-modselect

#18121 Fix editor drag box visuals
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
Labels: area:editor, type:UX, size/M

#18103 Fix distance snapping grid providing incorrect time values for non-1.0x spacing
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapGrid.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: area:editor, size/L

#18122 Remove leftover border thickness spec in mod settings area
  osu.Game/Overlays/Mods/ModSettingsArea.cs
Labels: type:UI, size/XS, area:overlay-modselect

#18120 Fix user-contracted toolbox groups in editor incorrectly expanding on hover
  osu.Game.Tests/Visual/UserInterface/TestSceneExpandingContainer.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
Labels: area:editor, type:UX, size/L

#18125 Fix side overlay offset not affecting fullscreen overlays
  osu.Game/OsuGame.cs
Labels: type:UI, size/XS, area:overlays

#18126 Fix several issues with new mod select reference replacement logic
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectScreen.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:code-quality, size/M, type:reliability, area:overlay-modselect

#18065 Enforce code style analysis shipped with .NET SDK
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci.yml
  .globalconfig
  Directory.Build.props
  osu.Android.props
  osu.Game.Rulesets.Catch.Tests/Editor/CatchSelectionBlueprintTestScene.cs
  osu.Game.Tests/Visual/Collections/TestSceneManageCollectionsDialog.cs
  osu.Game/Migrations/20171019041408_InitialCreate.cs
  osu.Game/Migrations/20171025071459_AddMissingIndexRules.cs
  osu.Game/Migrations/20171119065731_AddBeatmapOnlineIDUniqueConstraint.cs
  osu.Game/Migrations/20171209034410_AddRulesetInfoShortName.cs
  osu.Game/Migrations/20180125143340_Settings.cs
  osu.Game/Migrations/20180131154205_AddMuteBinding.cs
  osu.Game/Migrations/20180219060912_AddSkins.cs
  osu.Game/Migrations/20180529055154_RemoveUniqueHashConstraints.cs
  osu.Game/Migrations/20180621044111_UpdateTaikoDefaultBindings.cs
  osu.Game/Migrations/20180628011956_RemoveNegativeSetIDs.cs
  osu.Game/Migrations/20180913080842_AddRankStatus.cs
  osu.Game/Migrations/20181007180454_StandardizePaths.cs
  osu.Game/Migrations/20181128100659_AddSkinInfoHash.cs
  osu.Game/Migrations/20181130113755_AddScoreInfoTables.cs
  osu.Game/Migrations/20190225062029_AddUserIDColumn.cs
  osu.Game/Migrations/20190525060824_SkinSettings.cs
  osu.Game/Migrations/20190605091246_AddDateAddedColumnToBeatmapSet.cs
  osu.Game/Migrations/20190708070844_AddBPMAndLengthColumns.cs
  osu.Game/Migrations/20190913104727_AddBeatmapVideo.cs
  osu.Game/Migrations/20200302094919_RefreshVolumeBindings.cs
  osu.Game/Migrations/20201019224408_AddEpilepsyWarning.cs
  osu.Game/Migrations/20210412045700_RefreshVolumeBindingsAgain.cs
  osu.Game/Migrations/20210511060743_AddSkinInstantiationInfo.cs
  osu.Game/Migrations/20210514062639_AddAuthorIdToBeatmapMetadata.cs
  osu.Game/Migrations/20210824185035_AddCountdownSettings.cs
  osu.Game/Migrations/20210912144011_AddSamplesMatchPlaybackRate.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/Tables/PerformanceTable.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/OnlinePlay/Components/DrawableGameType.cs
  osu.iOS.props
  osu.sln
Labels: type:code-quality, size/L

#18130 Add back select/deselect all mods buttons to new mod select design
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectScreen.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectScreen.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectScreen.cs
Labels: type:UI, size/L, area:overlay-modselect

#18117 Highlight distance snap grid rings that are close to the current time value
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: area:editor, type:UX, size/M

#18131 Add basic localisation strings for new mod select
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/DifficultyMultiplierDisplayStrings.cs
  osu.Game/Localisation/ModSelectScreenStrings.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectScreen.cs
Labels: type:localisation, size/M, area:overlay-modselect

#18132 Add local back button to new mod select design
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectScreen.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectScreen.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectScreen.cs
Labels: type:UI, size/M, area:overlay-modselect

#18133 Change mod scrolling behaviour to not scroll horizontally on columns/settings
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
  osu.Game/Overlays/Mods/NestedVerticalScrollContainer.cs
Labels: type:UX, size/M, area:overlay-modselect

#18111 Replace old mod overlay with new design
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedOverlayContainer.cs
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/FirstRunSetupOverlay.cs
  osu.Game/Overlays/IOverlayManager.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
  osu.Game/Overlays/Mods/ShearedOverlayContainer.cs
  osu.Game/Overlays/Mods/UserModSelectScreen.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
Labels: type:UI, size/L, area:overlay-modselect

#18142 Fix skin editor overlay showing behind mod select overlay
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/OsuGame.cs
Labels: size/M, area:overlay-modselect, area:skin-editor

#18141 Fix toggling mods after exiting first run setup overlay at UI scale step causing stack overflow
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
Labels: size/XS, type:reliability, area:overlay-modselect, area:overlay-first-run

#18145 Simplify and centralise hiding logic for mod overlay
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: size/M

#18151 Fix mod panel samples playing when using autoplay shortcut
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Audio/ISamplePlaybackDisabler.cs
  osu.Game/Overlays/Mods/ModPanel.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Skinning/PausableSkinnableSound.cs
Labels: size/M, type:audio, area:overlay-modselect

#18152 Scroll mod select slightly into view on first display
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:UX, size/XS, area:overlay-modselect

#18147 Fix per-hit object slider velocity ignored in osu!catch
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: ruleset:osu!catch, area:beatmap, size/S

#18149 Fix catch editor juice stream and banana shower not shown in timeline while placement is waiting
  osu.Game.Rulesets.Catch/Edit/Blueprints/BananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
Labels: ruleset:osu!catch, area:editor, size/XS

#18158 Fix duration is negative while placing banana shower in catch editor
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneBananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/BananaShowerPlacementBlueprint.cs
Labels: ruleset:osu!catch, area:editor, size/S

#18165 Prevent throwing exceptions on first run without internet
  osu.Game/Beatmaps/BeatmapOnlineLookupQueue.cs
Labels: type:online, area:overlay-notifications, size/S

#18157 Hide empty columns on new mod select design
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectScreen.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:UI, size/L, area:overlay-modselect

#18124 🔧 Update Sentry DSN
  osu.Game/Utils/SentryLogger.cs
Labels: size/XS

#18155 Remove dual-direction mouse wheel scrolling at results screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerTeamResults.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
Labels: type:UI, type:UX, area:results, size/M

#18094 Reimplement slider ticks in Strict Tracking mod sliders
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
Labels: ruleset:osu!, area:mods, size/S

#18171 Fix next queued item not selecting after multiplayer match ends
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: type:UI, area:multiplayer, size/M

#18161 Improve code quality of mod column flow container
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:code-quality, size/S, area:overlay-modselect

#18179 Fix dropdown items' background being the wrong colour on first hover
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: type:UI, size/S

#18191 Fix buttons no longer coloured using `OverlayColourProvider`
  osu.Game.Tests/Visual/UserInterface/TestSceneRoundedButton.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
Labels: type:UI, size/M, area:overlays

#18180 Fix `SettingsToolboxGroup` not clearing transforms before updating autosize
  osu.Game.Tests/Visual/Gameplay/TestSceneReplaySettingsOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneSettingsToolboxGroup.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
Labels: size/L, type:reliability

#18202 Workaround bad performance when selecting all freemods
  osu.Game/Overlays/Mods/ModSelectScreen.cs
Labels: type:performance, area:multiplayer, size/XS

#18205 Bring sentry usage up-to-date
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
  osu.Game/OsuGame.cs
  osu.Game/Utils/SentryLogger.cs
Labels: size/L, type:reliability

#18206 Workaround interface mocks in `TestSceneFirstRunSetupOverlay` breaking with hot reload
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunSetupOverlay.cs
Labels: type:testing, size/M

#18207 Improve first run overlay layout (and switch on)
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunSetupOverlay.cs
  osu.Game/Overlays/FirstRunSetup/FirstRunSetupScreen.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBehaviour.cs
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
  osu.Game/Overlays/FirstRunSetup/ScreenWelcome.cs
  osu.Game/Overlays/FirstRunSetupOverlay.cs
  osu.Game/Screens/OsuScreenStack.cs
Labels: type:UI, size/L

#18204 Move exception soft-handling logic for mobile platform coverage
  osu.Desktop/Program.cs
  osu.Game/OsuGameBase.cs
Labels: size/M, type:reliability

#18210 Fix realm refetch operations potentially being unsafe
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Stores/RealmArchiveModelManager.cs
Labels: area:database, size/M

#18214 Remove old mod overlay code
  osu.Game.Tests/Mods/ModSettingsTest.cs
  osu.Game.Tests/Mods/TestCustomisableModRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettings.cs
  osu.Game/Overlays/Mods/IncompatibilityDisplayingModButton.cs
  osu.Game/Overlays/Mods/IncompatibleIcon.cs
  osu.Game/Overlays/Mods/ModButton.cs
  osu.Game/Overlays/Mods/ModButtonEmpty.cs
  osu.Game/Overlays/Mods/ModControlSection.cs
  osu.Game/Overlays/Mods/ModSection.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSettingsContainer.cs
  osu.Game/Overlays/Mods/UserModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
Labels: size/XXL, area:overlay-modselect

#18216 Remove build suffix from version when reporting to sentry
  osu.Game/OsuGameBase.cs
  osu.Game/Utils/SentryLogger.cs
Labels: size/XS, type:reliability

#18219 Fix timeline not handling mouse down events
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/XS

#18221 Change multiplayer leaderboard to always hide during gameplay unless holding-for-HUD
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: type:UX, area:multiplayer, size/S

#18220 Focus textbox upon opening control point popovers
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectDifficultyPointAdjustments.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSamplePointAdjustments.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
Labels: area:editor, type:UX, size/M

#18224 Upgrade ReSharper + improve cache busting heuristic
  .config/dotnet-tools.json
  .github/workflows/ci.yml
Labels: area:tooling, size/XS

#18225 Update libraries to latest versions
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Android.props
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#18228 Rename remaining references to "mod select screen" nomenclature
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Localisation/ModSelectOverlayStrings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/S, area:overlay-modselect

#18227 Fix intermittent test failures in results screen
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
Labels: type:testing, area:results, size/M

#18218 Add more context to sentry error reports
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Utils/SentryLogger.cs
Labels: size/M, type:reliability

#18230 Restructure data flow in mod select overlay
  osu.Game.Tests/Visual/UserInterface/TestSceneModColumn.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/IncompatibilityDisplayingModPanel.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModPanel.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModState.cs
  osu.Game/Overlays/Mods/UserModSelectOverlay.cs
Labels: type:code-quality, size/L, area:overlay-modselect

#18181 Update channel visibilty behaviour in new chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChannelList.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlayV2.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListSelector.cs
  osu.Game/Overlays/ChatOverlayV2.cs
Labels: area:overlay-chat, size/L

#18234 Fix distance snap providing zero-distance snaps incorrectly
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
Labels: area:editor, type:UX, size/S

#18211 Fix mods potentially adjusting track while not selected
  osu.Game.Tests/Rulesets/Mods/ModTimeRampTest.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Rulesets/Mods/IApplicableToSample.cs
  osu.Game/Rulesets/Mods/IApplicableToTrack.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModDaycore.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
Labels: area:mods, size/M, type:audio

#18238 Fix slider ball rotation becoming undefined when time is not flowing smoothly
  osu.Game.Rulesets.Osu/Skinning/Default/SliderBall.cs
Labels: area:editor, size/S

#18237 Fix toggling hit animations on the editor not applying immediately
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:editor, type:UX, size/XS

#15665 Consider opacity of hit objects in Flashlight skill
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Flashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
Labels: ruleset:osu!, area:difficulty, size/M

#18127 Update new chat overlay day separator colours and spacing
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatOverlayDrawableChannel.cs
  osu.Game/Overlays/Chat/ChatTextBar.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Overlays/ChatOverlayV2.cs
Labels: area:overlay-chat, size/L

#18248 Add crowdin information to README
  README.md
Labels: type:code-quality, size/XS

#18249 Update resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#18252 Add editor track traversal shortcut keys (`Z`-`V`)
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeeking.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:UX, size/M

#18239 Add lingering hitobject display to editor, replacing "Hit Animations" toggle
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorHitAnimations.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCircleOverlapMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCircleSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/OsuSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderCircleOverlay.cs
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Tests/Visual/SelectionBlueprintTestScene.cs
Labels: area:editor, size/L

#18264 Add key binding to deselect all mods
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
Labels: size/L, area:overlay-modselect

#18300 Add ruleset context to sentry error reports
  osu.Game/OsuGame.cs
  osu.Game/Utils/SentryLogger.cs
Labels: size/S, type:reliability

#18304 👷 Push tagged releases to Sentry
  .github/workflows/sentry-release.yml
Labels: size/S

#18309 Add sentry tags for operating system and processor count
  osu.Game/Utils/SentryLogger.cs
Labels: size/XS, type:reliability

#18265 Enable proper mouse support for osu! on iPadOS
  osu.Game.Rulesets.Catch.Tests.iOS/Info.plist
  osu.Game.Rulesets.Mania.Tests.iOS/Info.plist
  osu.Game.Rulesets.Osu.Tests.iOS/Info.plist
  osu.Game.Rulesets.Taiko.Tests.iOS/Info.plist
  osu.Game.Tests.iOS/Info.plist
  osu.iOS/Info.plist
Labels: type:input, platform:iOS, size/S

#18310 Revert realm to previous release to fix iOS crashes
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: platform:iOS, size/XS, type:reliability

#18289 Adjust difficulty multiplier pop in/out transition on mod overlay
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:UX, size/XS, area:overlay-modselect

#18311 Improve the first run progress button to show loading and completion status
  osu.Game/Overlays/FirstRunSetup/ProgressRoundedButton.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
Labels: type:UX, size/L, area:overlay-first-run

#18319 Package .json files in nupkg output
  osu.Desktop/osu.nuspec
Labels: area:installer, size/XS

#18322 Add `new Guid` bannedsymbols rule
  CodeAnalysis/BannedSymbols.txt
Labels: size/XS

#18329 Bust CI cache on CodeAnalysis ruleset changes
  .github/workflows/ci.yml
Labels: area:tooling, size/XS

#18333 Delete and ignore rider's `misc.xml`
  .gitignore
  .idea/.idea.osu.Desktop/.idea/misc.xml
Labels: size/S

#18313 Add first run screen for importing from previous installation
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunScreenImportFromStable.cs
  osu.Game/Beatmaps/Drawables/BundledBeatmapDownloader.cs
  osu.Game/Collections/CollectionManager.cs
  osu.Game/Database/LegacyImportManager.cs
  osu.Game/Database/LegacyModelImporter.cs
  osu.Game/Database/LegacyScoreImporter.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorDirectory.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/FirstRunOverlayImportFromStableScreenStrings.cs
  osu.Game/Overlays/FirstRunSetup/FirstRunSetupScreen.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
  osu.Game/Overlays/FirstRunSetupOverlay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Setup/FileChooserLabelledTextBox.cs
  osu.Game/Screens/Edit/Setup/LabelledTextBoxWithPopover.cs
Labels: type:UX, size/XL, area:overlay-first-run

#18246 Add drawable channel caching to new chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChatOverlayV2.cs
  osu.Game/Overlays/ChatOverlayV2.cs
Labels: type:performance, area:overlay-chat, size/L

#18321 Fix compatibility issues with legacy Catmull sliders
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/adjacent-catmull-segments.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap, size/M

#18335 Fix toolbar potentially being in incorrect state after exiting the first run setup
  osu.Game/Overlays/FirstRunSetupOverlay.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: type:UX, size/S

#18156 Automatically adjust per-hit object slider velocity in osu!catch editor
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/JuiceStreamPathTest.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/PlacementEditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/ScrollingPath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/SelectionEditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStreamPath.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStreamPathVertex.cs
Labels: ruleset:osu!catch, area:editor, size/L

#18236 Add `enum` to snap method as alternative to multiple nested invocations
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaBeatSnapGrid.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaPlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/IPositionSnapProvider.cs
  osu.Game/Rulesets/Edit/SnapType.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingPlayfield.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: type:code-quality, area:editor, size/L

#18345 Fix song select potentially displaying BPM range with equal min/max values
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, type:UI, size/M

#18347 Update framework
  osu.Android.props
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Visual/Navigation/TestEFToRealmMigration.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestScenePlaylistOverlay.cs
  osu.Game.Tournament.Tests/NonVisual/DataLoadTest.cs
  osu.Game.Tournament.Tests/Screens/TestSceneDrawingsScreen.cs
  osu.Game.Tournament/Models/StableInfo.cs
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Database/LegacyExporter.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/Graphics/UserInterface/TriangleButton.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
  osu.Game/IO/WrappedStorage.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Chat/Listing/ChannelListingItem.cs
  osu.Game/Overlays/Chat/Selection/ChannelListItem.cs
  osu.Game/Overlays/Chat/Selection/ChannelSection.cs
  osu.Game/Overlays/Music/PlaylistItem.cs
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
  osu.Game/Overlays/Settings/Sections/AudioSection.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
  osu.Game/Overlays/Settings/SettingsDropdown.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Stores/RealmFileStore.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#18299 Update FilterTerms to use LocalisableString
  osu.Android.props
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Visual/Navigation/TestEFToRealmMigration.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestScenePlaylistOverlay.cs
  osu.Game.Tournament.Tests/NonVisual/DataLoadTest.cs
  osu.Game.Tournament.Tests/Screens/TestSceneDrawingsScreen.cs
  osu.Game.Tournament/Models/StableInfo.cs
  osu.Game.Tournament/Screens/Drawings/DrawingsScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/Database/LegacyExporter.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/Graphics/UserInterface/TriangleButton.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
  osu.Game/IO/WrappedStorage.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Chat/Listing/ChannelListingItem.cs
  osu.Game/Overlays/Chat/Selection/ChannelListItem.cs
  osu.Game/Overlays/Chat/Selection/ChannelSection.cs
  osu.Game/Overlays/Music/PlaylistItem.cs
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
  osu.Game/Overlays/Settings/Sections/AudioSection.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/ModsSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
  osu.Game/Overlays/Settings/SettingsDropdown.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
  osu.Game/Overlays/Settings/SettingsSection.cs
  osu.Game/Overlays/Settings/SettingsSubsection.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Stores/RealmFileStore.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:settings, size/L

#18356 Fix appearance of sheared button borders after click
  osu.Game/Graphics/UserInterface/ShearedButton.cs
Labels: type:UI, size/M

#18343 Fix `WaveformTestBeatmap`s potentially providing disposed track
  osu.Game.Tests/WaveformTestBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: area:beatmap, type:testing, size/M

#18339 Add first pieces of editor timing UI
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModMuted.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTarget.cs
  osu.Game.Tests/Visual/Editing/TestSceneTapTimingControl.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatSyncedContainer.cs
  osu.Game/Beatmaps/IBeatSyncProvider.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledDrawable.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Mods/MetronomeBeat.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
  osu.Game/Screens/Edit/Timing/TapTimingControl.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
Labels: area:editor, size/XL

#18348 Add toggle mod hotkey support in multiplayer room
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: type:UX, area:multiplayer, size/M

#18353 Disallow multi-spectator player clocks from being started/stopped externally
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/CatchUpSpectatorPlayerClock.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/CatchUpSyncManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/ISpectatorPlayerClock.cs
Labels: area:multiplayer, size/M

#18364 Fix tournament user stat population potentially using wrong ruleset
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/XS

#18340 Adjust HP drain and recoveries to closer match osu-stable
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: ruleset:osu!mania, ruleset:osu!catch, ruleset:osu!, area:gameplay, size/S

#18208 Rewrite of the Stamina Skill within osu!taiko
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/StaminaCheeseDetector.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/SingleKeyStamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset:osu!taiko, area:difficulty, size/L

#18290 Use dummy channel to show selector and remove `ChannelListSelector`
  osu.Game.Tests/Visual/Online/TestSceneChannelList.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlayV2.cs
  osu.Game/Online/Chat/ChannelManager.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListSelector.cs
  osu.Game/Overlays/Chat/Listing/ChannelListing.cs
  osu.Game/Overlays/ChatOverlayV2.cs
Labels: type:code-quality, area:overlay-chat, size/L

#18375 Remove redundant installation of `libavformat` in Linux CI runs
  .github/workflows/ci.yml
Labels: size/XS

#18382 Add WIP to beatmap listing search filters
  osu.Game/Overlays/BeatmapListing/SearchCategory.cs
Labels: size/XS

#18378 Make "back" binding close opened dropdown menus
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: type:UX, size/M

#18384 Add spotlighted beatmaps filter to beatmap listing
  osu.Game/Overlays/BeatmapListing/SearchGeneral.cs
Labels: size/XS, area:overlay-beatmap-listing

#18386 Fix Catmull slider parsing with duplicate initial point
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/catmull-duplicate-initial-controlpoint.osu
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap, size/S

#18391 Move `OverlayColourProvider` provisioning of `RoundedButton` to `SettingsButton` for now
  osu.Game.Tests/Visual/UserInterface/TestSceneRoundedButton.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
Labels: type:UI, size/M

#18396 Bring editor design metrics up-to-date
  osu.Game.Tests/Visual/Editing/TestSceneBeatDivisorControl.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledDrawable.cs
  osu.Game/Overlays/OverlayColourProvider.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorRoundedScreen.cs
  osu.Game/Screens/Edit/EditorRoundedScreenSettings.cs
  osu.Game/Screens/Edit/EditorScreen.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
Labels: area:editor, size/L

#18408 Move UI scale setup to the beginning of the first run setup
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunSetupOverlay.cs
  osu.Game/Overlays/FirstRunSetupOverlay.cs
Labels: type:UX, size/XS

#18410 Fix chat not working if user is joined to new "announcement" channel
  osu.Game/Online/Chat/ChannelType.cs
Labels: type:online, size/XS

#18419 Disable select/deselect all buttons on mod overlay when they have no effect
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/DeselectAllModsButton.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/SelectAllModsButton.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
Labels: type:UX, size/L, area:overlay-modselect

#18377 Integrate new chat into game
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlayV2.cs
  osu.Game.Tests/Visual/Online/TestSceneMessageNotifier.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/Chat/MessageNotifier.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/ChatOverlayV2.cs
  osu.Game/Overlays/Profile/Header/Components/MessageUserButton.cs
  osu.Game/Overlays/Toolbar/ToolbarChatButton.cs
Labels: area:overlay-chat, size/L

#18413 Update bottom bar components to new design language
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game.Tests/Visual/Editing/TestScenePlaybackControl.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Components/BottomBarContainer.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/TestGameplayButton.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
Labels: area:editor, size/L

#18423 Fix multiplayer race condition when starting gameplay
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayerLoader.cs
Labels: area:multiplayer, size/S

#18429 Fix beatmap info status pill being incorrect on multiple status beatmaps
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
Labels: size/S, area:overlay-beatmap

#18432 Fix checkmarks not showing on editor stateful menu items
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
Labels: area:editor, type:UI, size/S

#18431 Fix beatmap info scores container not hiding when there's no leaderboard
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: size/XS, area:overlay-beatmap

#18433 Use existing web localisation for chat strings
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/Chat/ChatOverlayTopBar.cs
  osu.Game/Overlays/Chat/ChatTextBar.cs
  osu.Game/Overlays/Chat/ChatTextBox.cs
Labels: type:localisation, area:overlay-chat, size/S

#18435 Don't output beatmap parse failures in a visible manner
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
Labels: type:UX, size/XS

#18436 Fix potential crash from unsafe drawable mutation in scoreboard update code
  osu.Game/Screens/OnlinePlay/Match/Components/MatchLeaderboard.cs
Labels: size/XS, type:reliability

#18441 Update resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#18438 Adjust `ScrollDelta` usages to account for normalised `IsPrecise` values
  osu.Android.props
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#18437 Add featured artist playlist category
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Online/Rooms/RoomCategory.cs
  osu.Game/Screens/OnlinePlay/Components/StatusColouredContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomSpecialCategoryPill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
Labels: size/M, area:playlists

#18421 Handle server shutdown messages in room creation and spectator initialisation
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/IHubClientConnector.cs
  osu.Game/Online/Multiplayer/MultiplayerClientExtensions.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
Labels: area:multiplayer, size/M

#18447 Fix editor verify settings looking cramped up due to small width
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
Labels: area:editor, type:UI, size/XS

#18446 Update row attribute background colour to fit screen
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/TimingRowAttribute.cs
Labels: area:editor, type:UI, size/S

#18443 Fix beatmap badge colours not updated inline with recent changes
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/BeatmapSet/FeaturedArtistBeatmapBadge.cs
  osu.Game/Overlays/BeatmapSet/SpotlightBeatmapBadge.cs
Labels: type:UI, size/S

#18445 Darken background colour in "setup" and "verify" screens
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
Labels: area:editor, type:UI, size/XS

#18448 Fix metronome speed not adjusted on different playback rates
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
  osu.Game/Tests/Visual/EditorClockTestScene.cs
Labels: area:editor, type:UI, size/S

#18457 Fix unobserved exceptions in `TestSceneStatisticsPanel` due to unimplemented beatmap converter
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
Labels: type:testing, size/S, type:reliability

#18459 Fix unobserved exceptions in multiple tests due to constructing `GameplayState` instances with unconverted beatmaps
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game/Screens/Play/HUD/PerformancePointsCounter.cs
  osu.Game/Tests/Gameplay/TestGameplayState.cs
Labels: type:testing, size/M, type:reliability
