Repository ppy/osu, pull requests merged in 2023-10, with the labels that each got.

#24998 Fix legacy beatmap importer not always handling nested paths correctly
  osu.Game.Tests/Database/LegacyBeatmapImporterTest.cs
  osu.Game/Database/LegacyBeatmapImporter.cs
Labels: type:behavioural, size/S

#24990 Add edge highlight to "argon" slider repeat arrow (and improve all skins' reverse arrow animations)
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/reversearrow.png
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Default/ReverseArrowPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyReverseArrow.cs
  osu.Game/osu.Game.csproj
Labels: ruleset/osu!, area:gameplay, size/L

#24965 Tidy up `LegacyLastTickOffset` usages and stop passing everywhere
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSplitting.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapConverter.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSynesthesia.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Tests/Beatmaps/SliderEventGenerationTest.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
  osu.Game/Rulesets/Objects/Types/IHasLegacyLastTickOffset.cs
Labels: type:code-quality, size/M

#25006 Fix spinner requirements being susceptible to FP precision
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#25015 Fix `TestReplayExport` intermittent failure
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
Labels: type:testing, size/XS

#24975 Crop oversized gameplay textures instead of downscaling them
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerMaxDimensions.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
  osu.Game/Skinning/Skin.cs
Labels: area:skinning, size/M, next release

#25010 Allow judging at most one swell tick per frame
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneSwellJudgements.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
Labels: ruleset/osu!taiko, area:gameplay, size/M, next release

#25013 Add new GitHub Actions diffcalc spreadsheet generator workflow
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/L

#25016 Fix `WaveformComparisonDisplay` potentially crashing on invalid track length
  osu.Game/Screens/Edit/Timing/WaveformComparisonDisplay.cs
Labels: size/S, type:reliability

#25023 Adjust gameplay element maximum size limits for backwards compatibility
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyBananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyDropletPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyFruitPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
Labels: ruleset/osu!taiko, ruleset/osu!catch, ruleset/osu!, area:skinning, size/M, next release

#24885 Adjust clock usage in line with framework changes
  osu.Android.props
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumSampleTriggerSource.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/NonVisual/GameplayClockContainerTest.cs
  osu.Game.Tests/OnlinePlay/TestSceneCatchUpSyncManager.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game/Beatmaps/FramedBeatmapClock.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorClock.cs
  osu.Game/Screens/Menu/IntroTriangles.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayer.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:code-quality, size/L, next release

#25030 Adjust argon health bar to fit with existing layout
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Skinning/ArgonSkin.cs
Labels: area:gameplay, size/L, next release

#25029 Fix OAuth refresh attempt when no network available causing full logout (part 2)
  osu.Game/Online/API/OAuth.cs
Labels: type:online, size/XS, next release

#25028 Fix some incorrect bindable-related code
  osu.Game.Rulesets.Mania/Edit/DrawableManiaEditorRuleset.cs
  osu.Game.Rulesets.Taiko/Edit/DrawableTaikoEditorRuleset.cs
  osu.Game.Tests/Mods/SettingSourceAttributeTest.cs
  osu.Game.Tournament.Tests/Components/TestSceneTournamentMatchChatDisplay.cs
  osu.Game.Tournament/Models/TournamentTeam.cs
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreeMods.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
  osu.Game/Screens/Play/HUD/PlayerAvatar.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: type:code-quality, size/M

#24986 Add initial animation for health bars
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/FailingLayer.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
Labels: area:gameplay, size/M, next release

#25063 Move playlist item download button to left
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: type:cosmetic, size/XS, area:playlists

#24988 Fix legacy score calculators using incorrect mod multipliers
  osu.Game.Rulesets.Catch/Difficulty/CatchLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreSimulator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
  osu.Game.Tests/Database/BackgroundDataStoreProcessorTests.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Rulesets/Scoring/Legacy/ILegacyScoreSimulator.cs
  osu.Game/Rulesets/Scoring/Legacy/LegacyBeatmapConversionDifficultyInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:scoring, size/L

#25073 Fix osu!mania beat snap grid sometimes not displaying correctly
  osu.Game.Rulesets.Mania/Edit/ManiaBeatSnapGrid.cs
Labels: ruleset/osu!mania, area:editor, size/S

#25067 Adjust approach circle maximum size limits for backwards compatibility
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyApproachCircle.cs
Labels: ruleset/osu!, area:skinning, size/XS

#25077 Fix score importer looking up guest user by username online
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: type:online, size/M

#25079 Fix multiplayer not correctly pausing the track on initialisation
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S, type:reliability

#25076 Ensure health displays don't pile up transforms when off-screen
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
Labels: type:performance, size/M

#25083 Fix default preview point being incorrect on old beatmaps
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/beatmap-version-4.osu
  osu.Game.Tests/Resources/beatmap-version-6.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap-parsing, size/M

#25074 Fix argon health bar not completing flash animation correctly
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
Labels: area:gameplay, size/S

#25081 Reduce black fill of song bar in tournament UI back to reasonable levels
  osu.Game.Tournament/Components/SongBar.cs
Labels: area:tournament, size/XS

#25092 Clean up `KeyBindingRow` and related classes
  osu.Game.Tests/Visual/Navigation/TestSceneChangeAndUseGameplayBindings.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
Labels: type:code-quality, size/L

#25062 Remove osu!mania hold note ticks
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHitExplosion.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Judgements/HoldNoteBodyJudgement.cs
  osu.Game.Rulesets.Mania/Judgements/HoldNoteTickJudgement.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteBody.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTick.cs
  osu.Game.Rulesets.Mania/Objects/HeadNote.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game.Rulesets.Mania/Objects/HoldNoteBody.cs
  osu.Game.Rulesets.Mania/Objects/HoldNoteTick.cs
  osu.Game.Rulesets.Mania/Objects/TailNote.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game.Tests/Rulesets/Scoring/HitResultTest.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: ruleset/osu!mania, area:gameplay, type:behavioural, size/XL

#25082 Remove test scene background stack and use new `ChangeBackgroundColour`
  osu.Android.props
  osu.Game/Tests/OsuTestBrowser.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:testing, size/S

#25100 Remove remaining usages of `LargeTick{Hit,Miss}` in mania
  osu.Game.Rulesets.Mania/Judgements/ManiaJudgement.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneJudgementCounter.cs
Labels: type:code-quality, ruleset/osu!mania, size/S

#25096 Show maximum bonus statistics on results screen
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:results, size/XS

#25093 Add extended info support to tiny mod switches
  osu.Game.Tests/Visual/UserInterface/TestSceneModSwitchTiny.cs
  osu.Game/Rulesets/UI/ModSwitchTiny.cs
Labels: type:cosmetic, size/L

#25104 Refactor key binding panel for easier usage
  osu.Game.Tests/Input/RealmKeyBindingTest.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Input/Bindings/RealmKeyBinding.cs
  osu.Game/Overlays/Settings/Sections/Input/GlobalKeyBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/Input/GlobalKeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Input/RulesetBindingsSection.cs
  osu.Game/Overlays/Settings/Sections/Input/VariantBindingsSubsection.cs
Labels: type:code-quality, area:settings, size/L

#25005 Add ability to invite players to multiplayer rooms
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Localisation/ContextMenuStrings.cs
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Localisation/OnlinePlayStrings.cs
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Multiplayer/UserBlockedException.cs
  osu.Game/Online/Multiplayer/UserBlocksPMsException.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
  osu.Game/Overlays/Notifications/NotificationSection.cs
  osu.Game/Overlays/Notifications/UserAvatarNotification.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Users/UserPanel.cs
  osu.Game/osu.Game.csproj
Labels: type:online, area:multiplayer, size/L

#25097 Show results immediately if user hits "back" key after finishing gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, type:behavioural, size/L

#25105 Disallow binding multiple bindings in a single section to one key
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingConflictPopover.cs
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingRow.cs
  osu.Game/Localisation/InputSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingConflictPopover.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow_ConflictResolution.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow_KeyButton.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Input/VariantBindingsSubsection.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: area:settings, size/XXL

#25106 Use dimmed placeholder text instead of empty box on cleared bindings
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow_KeyButton.cs
Labels: type:cosmetic, area:settings, size/S

#25112 Fix dangerous buttons using different shades of pink
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Graphics/UserInterface/DangerousRoundedButton.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBehaviour.cs
  osu.Game/Overlays/Settings/DangerousSettingsButton.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingConflictPopover.cs
Labels: type:code-quality, type:cosmetic, size/S

#25110 Apply a few more object sizing limits
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
Labels: ruleset/osu!, area:skinning

#25115 Fix key binding panel test failures from introducing placeholder text
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
Labels: type:testing, size/S

#25101 Fix "Hard Rock" mod affecting CS/AR in osu!mania and osu!taiko
  osu.Game.Rulesets.Catch/Mods/CatchModHardRock.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHardRock.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
Labels: ruleset/osu!taiko, ruleset/osu!mania, size/S, area:overlay-mod-select

#25113 Use new `generic-error` sample in appropriate places
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingConflictPopover.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/osu.Game.csproj
Labels: size/XS, audio

#25139 Fix collections not being sorted alphabetically in context menus
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/S

#25142 Remove no longer used scoring difficulty attributes
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: type:code-quality, size/S

#25143 Apply various fixes and cleanup to spinner logic
  osu.Game.Rulesets.Osu.Tests/SpinFramesGenerator.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerJudgement.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneStartTimeOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/Judgements/OsuSpinnerJudgementResult.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinnerDisc.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
Labels: type:code-quality, size/XL

#25111 Change osu!mania "perfect" judgements to only award bonus score
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModDoubleTime.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneMaximumScore.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNotePerfectBonus.cs
  osu.Game.Rulesets.Mania/Objects/Note.cs
  osu.Game.Rulesets.Mania/Objects/NotePerfectBonus.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: ruleset/osu!mania, area:gameplay, size/L

#25153 Persist the state of "show speed changes" between editor sessions
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Rulesets/Edit/ScrollingHitObjectComposer.cs
Labels: area:editor, type:behavioural, size/S

#25152 Clear pre-existing bindings of same key combination to single action
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Tests/Input/RealmKeyBindingStoreTest.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Input/RealmKeyBindingStore.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: realm, area:settings, size/L

#25160 Adjust slider repeat transforms to closer match stable
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyReverseArrow.cs
Labels: ruleset/osu!, area:skinning, size/M

#24640 Add an "Adjust pitch" switch to DT/HT
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModDaycore.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Mods/RateAdjustModHelper.cs
Labels: ruleset/osu!, area:mods, size/L

#25159 Fix + improve diffcalc command for comment-based execution
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/M

#25169 Fix invalid PR URL in diffcalc GitHub action
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XS

#25171 Replace `DistancedHitObjectComposer` with composition-based approach
  osu.Game.Rulesets.Catch/Edit/CatchDistanceSnapProvider.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapProvider.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
Labels: type:code-quality, area:editor, size/L

#25176 Isolate diffcalc workflow runs
  .github/workflows/diffcalc.yml
Labels: size/M

#25173 Fix Floating Fruits not flipping playfield properly
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModFloatingFruits.cs
  osu.Game.Rulesets.Catch/Mods/CatchModFloatingFruits.cs
Labels: ruleset/osu!catch, area:mods, size/S

#24966 Adjust slider ends to be more lenient during very fast sliders
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAutoplay.cs
  osu.Game.Rulesets.Osu.Tests/OsuBeatmapConversionTest.cs
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/very-fast-slider.osu
  osu.Game.Tests/Beatmaps/SliderEventGenerationTest.cs
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
Labels: ruleset/osu!, area:gameplay, size/L, next release

#25180 Change beatmap listing key to `B` to match `Ctrl`-`B` shortcut
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/MainMenuButton.cs
Labels: type:behavioural, area:main-menu, size/S

#25179 Fix insufficient leniency when querying sample points
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/sample-point-leniency.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap-parsing, size/M, audio

#25178 SFX tweaks
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/Overlays/LoginOverlay.cs
  osu.Game/Overlays/News/NewsCard.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/Overlays/RevertToDefaultButton.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/SidebarButton.cs
  osu.Game/Overlays/SettingsSubPanel.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetTabButton.cs
Labels: size/M, audio

#25167 Fix circle scale not matching stable due to missing multiplier
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderFollowCircleInput.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
  osu.Game/Beatmaps/IBeatmapDifficultyInfo.cs
  osu.Game/Rulesets/Objects/Legacy/LegacyRulesetExtensions.cs
Labels: ruleset/osu!, area:gameplay, size/M, next release

#25177 Change spinner score display to show when reaching max bonus score
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
Labels: ruleset/osu!, area:gameplay, type:cosmetic, size/L, next release

#25202 Limit image size in `CommentMarkdownContainer`
  osu.Game.Tests/Visual/Online/TestSceneDrawableComment.cs
  osu.Game/Overlays/Comments/CommentMarkdownContainer.cs
Labels: size/M, area:comments

#25157 Fix spinner cheese by accounting for spin directionality
  osu.Game.Rulesets.Osu.Tests/SpinnerSpinHistoryTest.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerInput.cs
  osu.Game.Rulesets.Osu/Judgements/OsuSpinnerJudgementResult.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SpinnerSpinHistory.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: ruleset/osu!, area:gameplay, size/L

#25182 Improve mouse interactions at song select
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:behavioural, size/S

#24921 Add ability to search for difficulty names using square brackets
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/M

#25216 Fix spinner ticks not playing samples correctly sometimes
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
Labels: ruleset/osu!, size/S, audio

#25191 Apply velocity into legacy slider ball animation rate
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: ruleset/osu!, area:skinning, size/M

#25217 Update country code names to match database
  osu.Game.Tournament/CountryExtensions.cs
  osu.Game/Users/CountryCode.cs
Labels: type:code-quality, size/XL

#25221 Fix repeat circles on sliders not correctly getting dimmed
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#25222 Apply same changes to "argon" osu!taiko barline design that were applies to osu!mania
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonBarLine.cs
Labels: ruleset/osu!taiko, area:gameplay, size/M

#25223 Fix editor not prompting before saving beatmap for export
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/SaveRequiredPopupDialog.cs
Labels: area:editor, type:behavioural, size/M

#25236 Fix iOS AOT compilation failure due to SharpCompress library upgrade
  osu.Game/osu.Game.csproj
Labels: size/XS

#25235 Add ability to quick retry using Ctrl-R
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: area:gameplay, size/XS

#25230 Do not revert to default value when double-clicking disabled slider
  osu.Game.Tests/Visual/UserInterface/TestSceneRoundedSliderBar.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedSliderBar.cs
  osu.Game/Graphics/UserInterface/RoundedSliderBar.cs
  osu.Game/Graphics/UserInterface/ShearedSliderBar.cs
Labels: size/M, type:reliability

#25243 Fix left side of carousel blocking volume adjust hotkeys
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:input, area:song-select, size/M

#25240 Fix various catch distance snap grid breakage
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
Labels: ruleset/osu!catch, area:editor, size/M

#25218 Fix out-of-order judgements when missing a slider head
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
Labels: ruleset/osu!, area:gameplay, size/M

#25227 Use current date as default value for tournament date text boxes
  osu.Game.Tournament/Components/DateTextBox.cs
Labels: type:testing, area:tournament, size/XS

#25233 Make FreezeFrame and Transform Incompatible
  osu.Game.Rulesets.Osu/Mods/OsuModFreezeFrame.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
Labels: size/XS

#25253 Fix `StopUsingBeatmapClock()` applying adjustments to track it was supposed to stop using
  osu.Game.Tests/Gameplay/TestSceneMasterGameplayClockContainer.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
Labels: area:mods, size/M, audio

#25265 Fix skin editor freezing game if opened during active gameplay
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Database/ImportParameters.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Skinning/SkinManager.cs
Labels: size/M, type:reliability, area:skin-editor

#25264 Fix quick retry immediately after completion marking score as failed
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S

#24794 Correctly handle multiple online score ID types
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Resources/Replays/taiko-replay-with-legacy-online-id.osr
  osu.Game.Tests/Resources/Replays/taiko-replay-with-new-online-id.osr
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Database/IHasRealmFiles.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Extensions/ModelExtensions.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Online/Rooms/MultiplayerScore.cs
  osu.Game/Online/ScoreDownloadTracker.cs
  osu.Game/OsuGame.cs
  osu.Game/Scoring/IScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerResultsScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Skinning/SkinInfo.cs
Labels: type:online, size/L

#25269 Exclude video events from being accounted for when calculating storyboard time bounds
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/video-background-events-ignored.osb
  osu.Game/Storyboards/Storyboard.cs
Labels: area:storyboard, size/M

#25267 Fix legacy sprite texts not matching stable with respect to fixed width
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-0@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-1@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-2@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-3@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-4@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-5@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-6@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-7@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-8@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/display-9@2x.png
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/skin.ini
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/LegacySpriteText.cs
Labels: area:skinning, size/M

#25279 Change tournament date text box parsing to use invariant culture info
  osu.Game.Tournament/Components/DateTextBox.cs
Labels: area:tournament, size/XS

#25294 Small update to README of Templates
  Templates/README.md
Labels: size/XS

#25301 Fix some new nullable inspections
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Play/SquareGraph.cs
Labels: type:code-quality, size/S

#25300 Improve log output surrounding score submission
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: size/S

#25287 Update user profile overlay to show more than one tournament banner
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/Profile/Header/BannerHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/DrawableTournamentBanner.cs
Labels: type:online, type:behavioural, area:overlay-user-profile, size/L

#25303 Update the last played date of a beatmap when importing a replay by the local user
  osu.Game.Tests/ImportTest.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: type:behavioural, size/L, area:import

#25277 Fix cut and copy not working in song select search filter textbox
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/FilterControl.cs
Labels: type:input, area:song-select, size/M

#25190 Match capability of animating legacy skin elements with osu!(stable)
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/stage-light-0.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/stage-light-1.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/stage-light-2.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/mania/stage-light-3.png
  osu.Game.Rulesets.Mania.Tests/Resources/special-skin/skin.ini
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyColumnBackground.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu.Tests/LegacyMainCirclePieceTest.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyReverseArrow.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/L

#25304 Fix right clicks on timeline potentially not working as expected
  osu.Game.Tests/Visual/Editing/TestSceneTimelineSelection.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: area:editor, type:behavioural, size/M

#25307 Fix slider velocity changes not being undone correctly
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderVelocityAdjust.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, size/M

#25311 Fix incorrect assertion placement in spinner rotation tracker
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerInput.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
Labels: size/M, type:reliability

#25286 Automatically select existing search text when opening settings
  osu.Android.props
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Overlays/SettingsSearchTextBox.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:behavioural, size/M

#25274 Support displaying team seeds in tournament client
  osu.Game.Tournament.Tests/Components/TestSceneDrawableTournamentTeam.cs
  osu.Game.Tournament.Tests/TournamentTestScene.cs
  osu.Game.Tournament/Components/DrawableTeamSeed.cs
  osu.Game.Tournament/Components/DrawableTeamTitleWithHeader.cs
  osu.Game.Tournament/Components/TournamentSpriteTextWithBackground.cs
  osu.Game.Tournament/Models/LadderInfo.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TeamDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
Labels: area:tournament, size/M

#25272 Fix `TestScenePlayerMaxDimensions` texture loading process bottlenecking CI
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerMaxDimensions.cs
Labels: type:testing, size/XS

#25315 Address some flaky tests from recent times
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardSamplePlayback.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
Labels: type:testing, size/M

#23823 Select text in beat divisor popover automatically
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: area:editor, type:behavioural, size/S

#25316 Decouple metronome tick playback from pendulum movement
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
Labels: area:editor, size/M

#25318 Fix potential texture corruption when cropping gameplay textures of weird aspect ratios
  osu.Game/Skinning/LegacySkinExtensions.cs
Labels: area:skinning, size/S

#25323 Fix key binding row fire-and-forgetting writes
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
Labels: size/XS, type:reliability
