Repository ppy/osu, pull requests merged in 2023-03, with the labels that each got.

#22755 Use `ColourInfo.Interpolate(Quad)` where possible
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Graphics/UserInterface/SegmentedGraph.cs
Labels: type:code-quality, size/S

#22766 Fix "talking with" text overflowing when usernames are too long
  osu.Game/Overlays/Chat/ChatTextBar.cs
Labels: type:UI, area:overlay-chat, size/XS

#22776 Fix upwards scroll direction not working with recent hold note display changes
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
Labels: priority:0, ruleset:osu!mania, size/S

#22787 Fix several issues with skin editor behaviour on screen transitions
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Overlays/SkinEditor/NonSkinnableScreenPlaceholder.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprintContainer.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/L, area:skin-editor

#22790 Fix external links not working on Android
  osu.Android.props
  osu.Android/Properties/AndroidManifestOverlay.xml
Labels: type:online, platform:android, size/S

#22775 Don't filter away results with missing data when using "Date Submitted" or "Date Ranked" sort modes
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: area:song-select, size/M

#22710 Add local mobile framework reference support
  UseLocalFramework.ps1
  UseLocalFramework.sh
Labels: area:tooling, platform:mobile, size/M

#22806 Fix storyboard videos not fading out on completion
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
Labels: area:storyboard, size/XS

#22797 Add score player avatar and flag to HUD
  osu.Game.Tests/Resources/Archives/modified-argon-20230305.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Overlays/Settings/SettingsPercentageSlider.cs
  osu.Game/Rulesets/Mods/ModAccuracyChallenge.cs
  osu.Game/Screens/Play/HUD/PlayerAvatar.cs
  osu.Game/Screens/Play/HUD/PlayerFlag.cs
  osu.Game/Users/Drawables/UpdateableFlag.cs
Labels: area:skinning, size/L

#22747 Make reverting a skin in the skin editor a dangerous action
  osu.Game/Collections/DeleteCollectionDialog.cs
  osu.Game/Localisation/SkinEditorStrings.cs
  osu.Game/Overlays/Dialog/DangerousActionDialog.cs
  osu.Game/Overlays/Mods/DeleteModPresetDialog.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MassDeleteConfirmationDialog.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Screens/Edit/DeleteDifficultyConfirmationDialog.cs
  osu.Game/Screens/Select/BeatmapClearScoresDialog.cs
  osu.Game/Screens/Select/BeatmapDeleteDialog.cs
  osu.Game/Screens/Select/Carousel/UpdateLocalConfirmationDialog.cs
  osu.Game/Screens/Select/LocalScoreDeleteDialog.cs
  osu.Game/Screens/Select/SkinDeleteDialog.cs
Labels: type:UX, size/M, area:skin-editor

#22782 Optimise carousel beatmap filter method
  osu.Game.Benchmarks/BenchmarkCarouselFilter.cs
  osu.Game/Beatmaps/BeatmapInfoExtensions.cs
  osu.Game/Beatmaps/BeatmapMetadataInfoExtensions.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
Labels: type:performance, area:song-select, size/L

#22754 Fix "omit barline" sometimes not applying correctly
  osu.Game.Rulesets.Taiko.Tests/TestSceneBarLineGeneration.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/NonVisual/ControlPointInfoTest.cs
  osu.Game.Tests/Resources/omit-barline-control-points.osu
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Rulesets/Objects/BarLineGenerator.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/EffectRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/TimingRowAttribute.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: area:beatmap-parsing, size/L

#22746 Implement Single Tap mod for Taiko
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModSingleTap.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModAutoplay.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModCinema.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModRelax.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModSingleTap.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
Labels: ruleset:osu!taiko, area:mods, size/L

#22744 Add group badges to list view
  osu.Game/Users/UserListPanel.cs
Labels: size/S, area:overlays

#22527 Replay recording extension until results screen transition
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:replay, size/L

#22843 Display stub notice in marked wiki articles
  osu.Game/Overlays/Wiki/Markdown/WikiNoticeContainer.cs
Labels: type:UI, size/S, area:overlay-wiki

#22842 Fix argon progress bar fill being oversized
  osu.Game/Screens/Play/HUD/ArgonSongProgressBar.cs
Labels: size/XS

#22848 Prevent LoadingLayer from blocking loading
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
Labels: size/XS

#22750 Update graphic code in line with framework renderer changes
  Directory.Build.props
  osu.Android.props
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Rulesets.Osu/osu.Game.Rulesets.Osu.csproj
  osu.Game.Tests/Rulesets/TestSceneDrawableRulesetDependencies.cs
  osu.Game.Tests/Visual/Background/TestSceneTriangleBorderShader.cs
  osu.Game/Graphics/Backgrounds/TriangleBorderData.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Graphics/Sprites/LogoAnimation.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#22860 Fix import of skins with non-ASCII names that have been previously exported by lazer
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Skinning/SkinImporter.cs
Labels: size/S

#22765 Fix overlay sidebars not scrolling to end due to parent scroll view
  osu.Game/Overlays/OverlaySidebar.cs
Labels: type:UI, size/S, area:overlays

#22741 Don't fetch `beatmapset` that already `PendingDelete` when import score
  osu.Game/Scoring/Legacy/DatabasedLegacyScoreDecoder.cs
Labels: area:database, size/XS

#22539 Fix local scores set against a different version of a beatmap still showing in leaderboards
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:database, size/L

#22906 Update profile kudosu section in line with web
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
Labels: type:UI, area:overlay-user-profile, size/S

#22913 Fix `osu://` URL handling on macOS
  osu.Desktop/OsuGameDesktop.cs
Labels: platform:macOS, size/S

#22914 Remove arbitrary extension limitation from drag and drop imports
  osu.Desktop/OsuGameDesktop.cs
Labels: size/XS

#22883 Use custom vertex shader for logo animation
  osu.Game/Graphics/Sprites/LogoAnimation.cs
  osu.Game/osu.Game.csproj
Labels: size/M, area:intro

#22814 Update osu!mania argon colours to match new proposal
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
Labels: ruleset:osu!mania, area:skinning, size/L, next-release

#22873 Make osu! touch input aware of the distance travelled of a non-direct touch
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuTouchInput.cs
  osu.Game.Rulesets.Osu/UI/OsuTouchInputMapper.cs
Labels: ruleset:osu!, type:input, size/M, next-release

#22804 Add support for cyclic selection in skin editor
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: size/L, area:skin-editor, next-release

#22931 Fix song select search textbox font size incorrectly having increased
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, type:UI, size/XS, next-release

#22939 Fix tournament interface save button not usable after changing match progression/round
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/S, next-release

#22948 Use `image@2x` from tournament banner api
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Users/TournamentBanner.cs
Labels: type:code-quality, size/XS

#22880 Update UBO usages inline with framework changes
  osu.Android.props
  osu.Game.Rulesets.Catch.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Catch.Tests.iOS/Application.cs
  osu.Game.Rulesets.Mania.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Mania.Tests.iOS/Application.cs
  osu.Game.Rulesets.Osu.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Osu.Tests.iOS/Application.cs
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
  osu.Game.Rulesets.Taiko.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Taiko.Tests.iOS/Application.cs
  osu.Game.Tests.iOS/AppDelegate.cs
  osu.Game.Tests.iOS/Application.cs
  osu.Game.Tests/Visual/Background/TestSceneTriangleBorderShader.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Graphics/Sprites/LogoAnimation.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
  osu.iOS/AppDelegate.cs
  osu.iOS/Application.cs
  osu.iOS/IOSMouseSettings.cs
  osu.iOS/OsuGameIOS.cs
Labels: size/L

#22924 Add ability to select renderer
  osu.Game/Localisation/GraphicsSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
Labels: area:settings, size/M, next-release

#22961 Hide vulkan renderer option for now
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
Labels: area:settings, size/XS

#23018 github: update workflows and make tweaks
  .github/workflows/ci.yml
  .github/workflows/diffcalc.yml
  .github/workflows/sentry-release.yml
Labels: area:tooling, size/M

#23024 Fix hit lighting misalignment on argon skin with upscroll
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaPlayer.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHitExplosion.cs
Labels: ruleset:osu!mania, area:skinning, size/S

#22995 Fix select beatmap button not highlighting when creating a multiplayer room using keyboard
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
Labels: type:UX, area:multiplayer, size/S

#23036 Fix web account registration not bypassing the URL warning
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
Labels: type:UX, size/XS

#23049 Fix localisation for audio device error containing incorrect newline escaping
  osu.Game/Localisation/NotificationsStrings.cs
Labels: type:UI, size/S

#23048 Fix game incorrectly reaching results screen when saving failed replay on beatmap with video
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/M, next-release

#23050 Always use `LocalisableString` fallbacks when deploying debug and viewing english
  osu.Game/Localisation/ResourceManagerLocalisationStore.cs
Labels: area:tooling, size/XS

#23053 Fix circle-size based scale being applied twice to caught fruit
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset:osu!catch, area:gameplay, size/XS
