Repository ppy/osu, pull requests merged in 2023-04, with the labels that each got.

#23034 Fix stutters during gameplay due to shaders not correctly using cache
  osu.Android.props
  osu.Game.Tests/Testing/TestSceneRulesetDependencies.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Screens/Loader.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:performance, size/M, next-release

#23089 Fix window mode dropdown not showing
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: type:UI, area:settings, size/XS

#23098 Update comment vote pill in line with web
  osu.Game/Overlays/Comments/VotePill.cs
Labels: type:UI, size/XS, area:comments

#22929 Fix beatmap listing filter control being blocked by loading layer
  osu.Game/Overlays/BeatmapListing/BeatmapListingHeader.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/OnlineOverlay.cs
Labels: type:UX, size/M, area:overlay-beatmap-listing

#23020 Allow AR and CS values below 1.0 for osu!catch Difficulty Adjust mod
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
Labels: ruleset:osu!catch, area:mods, size/XS

#22926 Fix beatmap listing sort direction not resetting when changing criteria
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapListingSortTabControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSortTabControl.cs
  osu.Game/Overlays/OverlaySortTabControl.cs
Labels: type:UI, size/M, area:overlay-beatmap-listing

#23108 Fix attempting to show overlay during game intro playing hide sound effects
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
Labels: type:UI, size/S, type:audio, area:overlays

#23111 Fix abysmal debug performance due to try-catch logic in `DrawableRulesetDependencies`
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
Labels: type:performance, size/S

#22878 Ensure replays don't enter a failed state when exiting gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S

#22654 Introduce common structure for key counters
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuTouchInput.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneAutoplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayRewinding.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game.Tests/Visual/Navigation/TestSceneChangeAndUseGameplayBindings.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/HUD/DefaultKeyCounter.cs
  osu.Game/Screens/Play/HUD/DefaultKeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/InputTrigger.cs
  osu.Game/Screens/Play/HUD/KeyCounter.cs
  osu.Game/Screens/Play/HUD/KeyCounterActionTrigger.cs
  osu.Game/Screens/Play/HUD/KeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/KeyCounterKeyboardTrigger.cs
  osu.Game/Screens/Play/HUD/KeyCounterMouseTrigger.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/KeyCounterDisplay.cs
  osu.Game/Screens/Play/Player.cs
Labels: type:code-quality, size/XL

#22872 Fix pause and fail screen samples not updating when skin is changed during gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
  osu.Game/Screens/Play/FailAnimation.cs
  osu.Game/Skinning/PoolableSkinnableSample.cs
  osu.Game/Skinning/SkinReloadableDrawable.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: area:gameplay, size/L

#22868 Don't show epilepsy warning when storyboards are disabled
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/M

#23146 Fix `SampleStore` in `DrawableRulesetDependencies` isn't being disposed
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
Labels: size/XS

#23177 Add progressive DT/HT mod multipliers
  osu.Game.Rulesets.Catch/Mods/CatchModDaycore.cs
  osu.Game.Rulesets.Catch/Mods/CatchModDoubleTime.cs
  osu.Game.Rulesets.Catch/Mods/CatchModHalfTime.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNightcore.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModDaycore.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModDoubleTime.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHalfTime.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModNightcore.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDaycore.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDoubleTime.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHalfTime.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNightcore.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModDaycore.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModDoubleTime.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHalfTime.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModNightcore.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
Labels: area:mods, size/M

#23133 Add hit object inspector to editor
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectInspector.cs
Labels: area:editor, size/L

#23087 Show guest difficulty author in beatmap overlay
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
Labels: type:UI, size/M, area:overlay-beatmap

#23103 Normalise horizontal padding on overlays
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
  osu.Game/Overlays/Changelog/ChangelogBuild.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/Changelog/ChangelogListing.cs
  osu.Game/Overlays/Changelog/ChangelogSupporterPromo.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/CommentsHeader.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/TotalCommentsCounter.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/News/Displays/ArticleListing.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/OverlaySidebar.cs
  osu.Game/Overlays/OverlayStreamItem.cs
  osu.Game/Overlays/Profile/Header/BadgeHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Profile/ProfileSection.cs
  osu.Game/Overlays/Rankings/CountryFilter.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Overlays/WaveOverlayContainer.cs
  osu.Game/Overlays/Wiki/WikiArticlePage.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: type:UI, size/M, area:overlays

#23156 Add rotation snapping to editor selection
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
Labels: area:editor, size/M

#23178 Fix song select beatmap difficulty count not updating when deleting
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, type:UI, size/S

#23189 Do not look up metadata from online sources for locally-modified beatmaps on save
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapOnlineChangeIngest.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/MetadataLookupScope.cs
  osu.Game/OsuGameBase.cs
Labels: type:performance, area:editor, size/M

#23185 Invoke `RevertResult` on parent DHO when nested DHO is reverted
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/L, area:ruleset-api

#23000 Fix song select matching label not using right terminology
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Localisation/FirstRunSetupBeatmapScreenStrings.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UI, size/S

#23222 Update framework and resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#23228 Apply framework changes to custom ShaderManager
  osu.Android.props
  osu.Game.Tests/Rulesets/TestSceneDrawableRulesetDependencies.cs
  osu.Game.Tests/Testing/TestSceneRulesetDependencies.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#23248 Change default beat divisor to 1/4 snap
  osu.Game/Beatmaps/BeatmapInfo.cs
Labels: area:editor, size/XS

#22655 Implement new design of Key Counter
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game/Screens/Play/ArgonKeyCounter.cs
  osu.Game/Screens/Play/ArgonKeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultKeyCounter.cs
  osu.Game/Screens/Play/HUD/KeyCounter.cs
Labels: size/L

#23247 Always round editor rotation to integer values
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
Labels: area:editor, size/S

#23309 Fix key counters counting during break time
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game/Screens/Play/ArgonKeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultKeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/KeyCounterDisplay.cs
Labels: area:gameplay, size/M

#23260 Fix some videos with uppercase file extensions not displaying correctly in-game
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/video-with-lowercase-extension.osb
  osu.Game.Tests/Resources/video-with-uppercase-extension.osb
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
Labels: area:beatmap-parsing, size/M

#18626 Allow ModFailCondition to arbitrarily trigger failures
  osu.Game/Rulesets/Mods/ModFailCondition.cs
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
Labels: area:mods, size/M

#23275 Fix huge lag spike on new combo in osu!catch
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: type:performance, ruleset:osu!catch, size/S

#23307 Fix some storyboard loops not playing for as long as expected
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/animation-loop-no-explicit-end-time.osb
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
  osu.Game/Storyboards/IStoryboardElementWithDuration.cs
  osu.Game/Storyboards/StoryboardAnimation.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:storyboard, size/M

#23325 Fix extreme aspect ratios in taiko
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
Labels: ruleset:osu!taiko, size/M

#23333 Fix editor potentially leaving a dangling beatmap if exiting during load too fast
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#23329 Clickable country name in profile
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: type:UI, area:overlay-user-profile, size/S

#23332 Fix exclusive fullscreen notice showing false positives for new renderers
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/XS
