Repository ppy/osu, pull requests merged in 2023-11, with the labels that each got.

#25328 Clean up mod usability flags
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/Mods/ModScoreV2.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Rulesets/Mods/UnknownMod.cs
Labels: type:code-quality, area:mods, size/M, type:reliability

#25333 Fix all spinner ticks being alive and causing performance degradation
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
Labels: type:performance, size/S

#25334 Fix another potential crash in bubbles mod
  osu.Game.Rulesets.Osu/Mods/OsuModBubbles.cs
Labels: area:mods, size/M, type:reliability

#25338 Change osu!mania conversion mod ordering to be more appeasing
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
Labels: size/S, area:overlay-mod-select

#25336 Add support for "argon" default skin to expand columns when on mobile devices
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
Labels: ruleset/osu!mania, platform/mobile, size/S

#25341 Rename and invert flags for slider classic behaviours
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderHeadCircle.cs
Labels: type:code-quality, size/L

#25349 Keep `ArgonKeyCounterDisplay` text upright
  osu.Game.Tests/Visual/Gameplay/TestSceneKeyCounter.cs
  osu.Game/Screens/Play/ArgonKeyCounter.cs
Labels: type:cosmetic, area:skinning, size/L

#25374 Add player name skin component
  osu.Game.Tests/Resources/Archives/modified-argon-20231106.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Skinning/Components/PlayerName.cs
Labels: area:skinning, size/M

#25375 Add skin editor dropdown items to reset rotation and scale
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
Labels: size/S, area:skin-editor

#25376 Automatically refresh the verify screen's issue list on re-entering it
  osu.Game/Screens/Edit/Verify/IssueList.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
Labels: area:editor

#25377 Use better colours for system mods
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Rulesets/UI/ModIcon.cs
  osu.Game/Rulesets/UI/ModSwitchSmall.cs
  osu.Game/Rulesets/UI/ModSwitchTiny.cs
Labels: area:mods, type:cosmetic, size/S

#25364 Fix resume cursor following gameplay cursor scale setting
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneResumeOverlay.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
Labels: area:gameplay, type:behavioural, size/L

#25388 Add ability to view kudosu rankings
  osu.Game/Online/API/Requests/GetKudosuRankingsRequest.cs
  osu.Game/Online/API/Requests/GetKudosuRankingsResponse.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/KudosuTable.cs
  osu.Game/Overlays/Rankings/RankingsScope.cs
  osu.Game/Overlays/RankingsOverlay.cs
Labels: type:online, size/L, area:overlays

#25386 Ensure `BarGraph`'s draw quad is thick enough
  osu.Game.Tests/Visual/Online/TestSceneGraph.cs
  osu.Game/Graphics/UserInterface/BarGraph.cs
Labels: size/S

#25380 Fix editor crash when creating a new difficulty in a non-existent beatmap
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, type:reliability

#25395 SFX improvements for `ButtonSystem`/`MainMenu`
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MainMenuButton.cs
  osu.Game/Screens/Menu/OsuLogo.cs
  osu.Game/osu.Game.csproj
Labels: area:main-menu, size/M, audio

#25366 Add "disable taps during gameplay" to touch input settings and related UI
  osu.Android/AndroidMouseSettings.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuTouchInput.cs
  osu.Game.Rulesets.Osu/UI/OsuTouchInputMapper.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/MouseSettingsStrings.cs
  osu.Game/Localisation/TouchSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
  osu.Game/Overlays/Settings/Sections/Input/TouchSettings.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Play/PlayerSettings/InputSettings.cs
Labels: area:settings, size/L

#25343 Continue to play spinner bonus sounds when MAX display occurs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: ruleset/osu!, area:gameplay, size/M

#25398 Split tournament player lists more equally
  osu.Game.Tournament/Components/DrawableTeamWithPlayers.cs
Labels: area:tournament, size/S

#25385 Update squirrel to latest release
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/XS

#25342 Fix osu! (slider) combo not matching expectations when classic mod is disabled
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderEndCircle.cs
  osu.Game.Rulesets.Osu/Objects/SliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Tests/Rulesets/Scoring/HitResultTest.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: ruleset/osu!, size/L

#25399 Show touch input settings on mobile
  osu.Android/OsuGameAndroid.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Input/TouchSettings.cs
  osu.Game/Screens/Play/PlayerSettings/InputSettings.cs
Labels: area:settings, platform/mobile, size/S

#25403 Attempt to support quotes in handling of GH comment body
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XS

#25348 Implement basic touchscreen detection
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModTouchDevice.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTouchDevice.cs
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetColumn.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetPanel.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Input/TouchInputInterceptor.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Mods/AddPresetPopover.cs
  osu.Game/Overlays/Mods/EditPresetPopover.cs
  osu.Game/Overlays/Mods/ModPresetPanel.cs
  osu.Game/Overlays/Mods/SelectAllModsButton.cs
  osu.Game/Rulesets/Mods/IMod.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModTouchDevice.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Play/PlayerTouchInputDetector.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Screens/Select/SongSelectTouchInputDetector.cs
  osu.Game/Utils/ModUtils.cs
Labels: blocked, area:gameplay, type:input, size/XL

#25406 Fix skin editor not clearing undo history on skin change
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/XS, area:skin-editor

#25407 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#25408 Add "export" item to skin editor menu
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/XS, area:skin-editor

#25402 Add support for adjusting size of skin elements
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonHealthDisplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
  osu.Game/Skinning/LegacySongProgress.cs
  osu.Game/Skinning/SerialisableDrawableExtensions.cs
  osu.Game/Skinning/SerialisedDrawableInfo.cs
  osu.sln.DotSettings
Labels: size/L, area:skin-editor

#25226 Update "Argon" skin gameplay counters to new design
  osu.Game.Tests/Resources/Archives/modified-argon-20231108.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableAccuracyCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHealthDisplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game/Screens/Play/HUD/ArgonAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/ArgonComboCounter.cs
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonScoreCounter.cs
  osu.Game/Screens/Play/HUD/ArgonWedgePiece.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/Components/BoxElement.cs
  osu.Game/osu.Game.csproj
Labels: area:skinning, size/XL, waiting-on-design

#25411 Refactor `KeyCounterDisplay` to use autosize
  osu.Game/Screens/Play/ArgonKeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultKeyCounterDisplay.cs
  osu.Game/Screens/Play/HUD/KeyCounterDisplay.cs
Labels: type:code-quality, size/M

#25432 Fix some touch device-related issues
  osu.Game/Rulesets/Mods/ModTouchDevice.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:input, area:multiplayer, size/XS

#25442 Fix argon health bar not relative sizing correctly
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
Labels: area:skinning, size/XS

#25443 Fix customised argon skins no longer loading due to incorrect resource store specification
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/osu.Game.csproj
Labels: area:skinning, size/S

#25458 Use existing localisation for corner radius in `BoxElement`
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/Components/BoxElement.cs
Labels: area:skinning, type:localisation, size/S

#25466 Fix default argon health bar width being zero
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
Labels: area:skinning, size/XS

#25339 Add `UserGridPanel` as the `ClickableAvatar` tooltip
  osu.Game.Tests/Visual/Online/TestSceneUserClickableAvatar.cs
  osu.Game/Beatmaps/Drawables/Cards/Statistics/BeatmapCardStatistic.cs
  osu.Game/Overlays/BeatmapSet/AuthorInfo.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Screens/OnlinePlay/Components/ParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoomParticipantsList.cs
  osu.Game/Users/Drawables/ClickableAvatar.cs
  osu.Game/Users/Drawables/UpdateableAvatar.cs
  osu.Game/Users/UserGridPanel.cs
Labels: type:cosmetic, size/L

#25472 Fix argon health bar folding in on itself when too narrow
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
Labels: area:skinning, size/M

#25468 Add test coverage of accessing skin layout after importing customised default skins
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
Labels: type:testing, size/M

#25400 Unload beatmap storyboards when not in main menu screen
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game/Graphics/Backgrounds/BeatmapBackgroundWithStoryboard.cs
  osu.Game/Screens/BackgroundScreen.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
Labels: type:performance, area:main-menu, size/L

#25469 Add ability to toggle labels on argon counter components
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Screens/Play/HUD/ArgonAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/ArgonComboCounter.cs
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Screens/Play/HUD/ArgonScoreCounter.cs
  osu.Game/Skinning/ArgonSkin.cs
Labels: type:cosmetic, area:skinning, size/M

#25478 Fix `CommentMarkdownTextFlowContainer` not inheriting osu! class
  osu.Game.Tests/Visual/Online/TestSceneDrawableComment.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game/Graphics/Containers/Markdown/Footnotes/OsuMarkdownFootnoteTooltip.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Overlays/Comments/CommentMarkdownContainer.cs
  osu.Game/Overlays/Wiki/Markdown/WikiMarkdownContainer.cs
  osu.Game/Overlays/Wiki/WikiPanelContainer.cs
Labels: type:cosmetic, size/S, area:comments

#25481 Change `ResourceStore` provided to `Skin` to be a fallback, not replacement
  osu.Game.Rulesets.Catch.Tests/CatchSkinColourDecodingTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Skins/TestSceneSkinResources.cs
  osu.Game/Skinning/DefaultLegacySkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: type:code-quality, size/M

#25491 Update localisation analyser
  .config/dotnet-tools.json
  osu.Game/osu.Game.csproj
Labels: size/XS

#25490 Refactor `OsuAutoGenerator` to allow custom SPM specifications
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
Labels: type:code-quality, size/XS

#25493 Adjust slider follow circle animation to not abruptly scale on early ticks
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyFollowCircle.cs
Labels: ruleset/osu!, area:gameplay, size/S

#25371 Implement opening editor timestamp links
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneOpenEditorTimestampInMania.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOpenEditorTimestampInOsu.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneOpenEditorTimestamp.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/Edit/EditorTimestampParser.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/XL

#25409 Add free-hand drawing of sliders to the editor
  osu.Android.props
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/JuiceStreamPathTest.cs
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModPerfect.cs
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModRelax.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchModHidden.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneDrawableHitObjects.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneJuiceStream.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStreamPath.cs
  osu.Game.Rulesets.Osu.Tests/Editor/Checks/CheckOffscreenObjectsTest.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneObjectMerging.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorSelectInvalidPath.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderControlPointPiece.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderLengthValidity.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderReversal.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSnapping.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSplitting.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSliderScaling.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModHidden.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModPerfect.cs
  osu.Game.Rulesets.Osu.Tests/OsuHitObjectGenerationUtilsTest.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLateFade.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderApplication.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderFollowCircleInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneStartTimeOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/FreehandSliderToolboxGroup.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Editing/LegacyEditorBeatmapPatcherTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBezierConverter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSliderPath.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Database/LegacyBeatmapExporter.cs
  osu.Game/Rulesets/Objects/BezierConverter.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
  osu.Game/Rulesets/Objects/Types/PathType.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:editor, size/XXL

#25520 Allow context menus to have visible spacers
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorMenuBar.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
  osu.Game/Graphics/UserInterface/OsuMenuItemSpacer.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuItemSpacer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: type:cosmetic, size/L

#25521 Fix implicitly used method being named incorrectly
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
Labels: area:mods, size/XS

#25510 Handle login API state changes in `UserProfileOverlay`
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: size/M

#25536 Improve commenting around `IHasCombo` interfaces
  osu.Game/Rulesets/Objects/Types/IHasCombo.cs
  osu.Game/Rulesets/Objects/Types/IHasComboInformation.cs
Labels: type:code-quality, size/S

#25523 Save any unsaved changes in the skin editor when game changes screens
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/XS, area:skin-editor

#25418 Add `OsuHealthProcessor` that uses the legacy drain rate algorithm
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Scoring/LegacyOsuHealthProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: ruleset/osu!, area:scoring, size/L

#25546 Fix classic scoring overflowing in osu! ruleset due to integer multiplication overflow
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
Labels: area:scoring, size/M

#25540 Attempt to fix intermittent failures on new tests
  osu.Game.Tests/Visual/Editing/TestSceneOpenEditorTimestamp.cs
Labels: size/XS

#25544 Remove manual changes to Xcode versions in CI
  .github/workflows/ci.yml
Labels: size/S

#25415 Change unstable rate calculation to account for rate-change mods
  osu.Game.Tests/NonVisual/Ranking/UnstableRateTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneUnstableRateCounter.cs
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Scoring/HitEvent.cs
  osu.Game/Rulesets/Scoring/HitEventExtensions.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Utility/CircleGameplay.cs
  osu.Game/Screens/Utility/ScrollingGameplay.cs
Labels: area:gameplay, size/L

#25549 Fix slider length not updating when adding new anchor via ctrl-click
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset/osu!, area:editor, size/M

#25547 Fix skin editor crashing when pasting with nothing in clipboard
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/M, type:reliability, area:skin-editor

#25530 Fix skin element "PlayerFlag" responding to clicks/hovers
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
  osu.Game/Screens/Play/HUD/PlayerFlag.cs
Labels: type:behavioural, area:skinning, size/XS

#25551 Fix handling of combo and combo colours around spinners
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectAccentColour.cs
  osu.Game.Tests/Resources/break-between-objects.osu
  osu.Game.Tests/Resources/hitobject-combo-offset.osu
  osu.Game.Tests/Resources/spinner-between-objects.osu
  osu.Game/Beatmaps/BeatmapProcessor.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObject.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertSpinner.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:beatmap-parsing, size/L

#25552 Fix a couple of new r# inspections
  osu.Game/Beatmaps/Beatmap.cs
Labels: type:code-quality, size/S

#25553 Allow use of skin username/flag/avatar components outside of gameplay
  osu.Game/Screens/Play/HUD/PlayerAvatar.cs
  osu.Game/Screens/Play/HUD/PlayerFlag.cs
  osu.Game/Skinning/Components/PlayerName.cs
Labels: area:skinning, size/M

#25420 Fix osu! and base HP processor break time simulation
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuHealthProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHealthProcessor.cs
  osu.Game.Tests/Gameplay/TestSceneDrainingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: area:gameplay, size/L

#25563 Add `CatchHealthProcessor` that uses the legacy drain rate algorithm
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Scoring/CatchHealthProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/LegacyOsuHealthProcessor.cs
Labels: ruleset/osu!catch, area:gameplay, size/L

#25560 Replace all hexacon lookups with strongly typed properties
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Graphics/HexaconsIcons.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingHeader.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/Chat/ChatOverlayTopBar.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/INamedOverlayComponent.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/Overlays/OverlayTitle.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Overlays/Toolbar/ToolbarHomeButton.cs
  osu.Game/Overlays/Toolbar/ToolbarOverlayToggleButton.cs
  osu.Game/Overlays/Wiki/WikiHeader.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Skinning/LegacySpriteText.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:code-quality, size/L

#25561 Add second level menu for editors
  osu.Game.Tests/Visual/Editing/TestSceneOpenEditorTimestamp.cs
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneButtonSystem.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MainMenuButton.cs
Labels: area:main-menu, size/L

#25567 Add drag bar on chat overlay to better signal resize-ability
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/Chat/ChatOverlayTopBar.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: type:cosmetic, size/L, next release

#25565 Fix spectator mode not showing when a spectated user quits correctly
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Overlays/Dashboard/CurrentlyPlayingDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/SoloSpectatorScreen.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: size/L, area:spectator, next release

#25568 Load gameplay immediately on entering the skin editor while at the main menu
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
  osu.Game/Overlays/SkinEditor/SkinEditorSceneLibrary.cs
Labels: size/L, area:skin-editor, next release

#25566 Fix spectator not immediately showing when a spectated user fails
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/FailOverlay.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SoloSpectatorPlayer.cs
  osu.Game/Screens/Play/SoloSpectatorScreen.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: size/L, area:spectator, next release

#25569 Encapsulate common HP logic from osu and catch HP calculations
  osu.Game.Rulesets.Catch/Scoring/CatchHealthProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHealthProcessor.cs
  osu.Game/Rulesets/Scoring/LegacyDrainingHealthProcessor.cs
Labels: type:code-quality, ruleset/osu!catch, ruleset/osu!, size/L, next release

#25562 Implement spinner glow
  osu.Android.props
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerProgressArc.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset/osu!, area:skinning, size/L, next release

#25587 Add `ManiaHealthProcessor` that uses the legacy drain rate algorithm
  osu.Game.Rulesets.Mania/Scoring/ManiaHealthProcessor.cs
Labels: ruleset/osu!mania, area:gameplay, size/M

#25522 Implement flow allowing disconnection from online services when another client instance for same user is detected
  osu.Game/Online/HubClientConnector.cs
  osu.Game/Online/IHubClientConnector.cs
  osu.Game/Online/IStatefulUserHubClient.cs
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/OnlineStatusNotifier.cs
  osu.Game/Online/PersistentEndpointClientConnector.cs
  osu.Game/Online/Spectator/ISpectatorClient.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: type:online, size/L

#25601 Adjust catch score grade cutoffs
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
Labels: ruleset/osu!catch, area:scoring, size/L

#25595 Fix taiko and mania using the incorrect slider length when converting beatmaps
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PathObjectPatternGenerator.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/custom-slider-length.osu
Labels: ruleset/osu!taiko, ruleset/osu!mania, area:beatmap-parsing, size/M
