Repository ppy/osu, pull requests merged in 2023-09, with the labels that each got.

#24686 Fix hit circles fading out too fast when hit with classic mod active
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLateFade.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
Labels: ruleset/osu!, area:mods, size/M

#24280 Correctly implement stable notelock in Classic mod
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLateFade.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/UI/AnyOrderHitPolicy.cs
  osu.Game.Rulesets.Osu/UI/ClickAction.cs
  osu.Game.Rulesets.Osu/UI/IHitPolicy.cs
  osu.Game.Rulesets.Osu/UI/LegacyHitPolicy.cs
  osu.Game.Rulesets.Osu/UI/ObjectOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Rulesets.Osu/UI/StartTimeOrderedHitPolicy.cs
Labels: area:gameplay, size/L

#24683 Allow inverse scaling selection in skin editor
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandleContainer.cs
Labels: size/M, area:skin-editor

#24707 Use existing localisations for some missed strings
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Users/Drawables/ClickableAvatar.cs
Labels: type:localisation, size/S

#24701 Apply flashlight slider dim immediately to match osu!(stable)
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#24636 Adjust mania hit windows with DT/NC/HT/DC gameplay rate
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModDoubleTime.cs
  osu.Game.Rulesets.Mania/Mods/IManiaRateAdjustmentMod.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModDaycore.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModDoubleTime.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHalfTime.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModNightcore.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaHitWindows.cs
Labels: ruleset/osu!mania, area:mods, size/L

#24711 Fix slider velocity popover crashing when opened during slider placement on empty beatmap
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
Labels: area:editor, size/XS, type:reliability

#24698 Fix closest anchor for rotated/flipped selections in skin editor
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
Labels: area:editor, type:behavioural, size/S

#24717 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#24718 Update spectator server development endpoint URLs
  osu.Game/Online/DevelopmentEndpointConfiguration.cs
Labels: type:online, size/XS

#24720 Block input to objects lying under already-hit hitcircles when classic note lock is active
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLateFade.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneStartTimeOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: ruleset/osu!, area:gameplay, size/L

#22116 New beatmap information wedge design implementation
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedgeV2.cs
  osu.Game/Graphics/UserInterface/StarCounter.cs
  osu.Game/Screens/Select/BeatmapInfoWedgeV2.cs
Labels: area:song-select, type:cosmetic, size/XL

#24712 Implement beatmap options popover
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectFooterV2.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/DebugSettingsStrings.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Localisation/SongSelectStrings.cs
  osu.Game/Localisation/UserInterfaceStrings.cs
  osu.Game/Overlays/OSD/CopyUrlToast.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/GeneralSettings.cs
  osu.Game/Screens/Select/FooterV2/BeatmapOptionsPopover.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonOptionsV2.cs
  osu.Game/Screens/Select/FooterV2/FooterV2.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:cosmetic, size/L

#24723 Fix status on carousel beatmap set not showing in split difficulty mode
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S, next release

#24722 Add animation support for beatmap status pills
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapSetOnlineStatusPill.cs
  osu.Game/Beatmaps/Drawables/BeatmapSetOnlineStatusPill.cs
Labels: type:cosmetic, size/M

#24726 Add debug output for skin configuration lookups
  osu.Game.Rulesets.Mania/Skinning/ManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/ResourceStoreBackedSkin.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Skinning/SkinTransformer.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: area:tooling, size/L

#24735 Update badge header background color in line with web
  osu.Game/Overlays/Profile/Header/BadgeHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: type:cosmetic, area:overlay-user-profile, size/XS

#24733 Link new song select wedge title and artist to search text box
  osu.Game/Screens/Select/BeatmapDetails.cs
  osu.Game/Screens/Select/BeatmapInfoWedgeV2.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:behavioural, size/M

#24734 Use `@2x` variant of profile badges
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Users/Badge.cs
Labels: type:cosmetic, area:overlay-user-profile, size/S

#24736 Allow "Difficulty Adjust" mod's extended AR selection to go below zero
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
Labels: ruleset/osu!, area:mods, size/M

#24745 Revert "Block input to objects lying under already-hit hitcircles when classic note lock is active"
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: ruleset/osu!, area:gameplay, size/M, next release

#24727 Fix osu!mania legacy skin configurations not working when notes are not skinned
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset/osu!mania, area:skinning, size/S

#24762 Block input to objects lying under already-hit slider heads before slider is fully judged when classic note lock is active
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: ruleset/osu!, area:gameplay, size/L

#24782 Integrate past usernames tooltip to user profile overlay
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfilePreviousUsernamesDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/PreviousUsernamesDisplay.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: area:overlay-user-profile, size/M

#24705 Add star rating / BPM / difficulty display while mod select is open
  osu.Game.Tests/Visual/UserInterface/TestSceneModEffectPreviewPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModsEffectDisplay.cs
  osu.Game/Graphics/UserInterface/ShearedButton.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/ModCounterDisplay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/VerticalAttributeDisplay.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/XL, area:overlay-mod-select

#24661 Update osu! spinner ticks calculation method to better match with osu!(stable)
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
Labels: ruleset/osu!, area:scoring, size/S

#24790 Improve scoring test scene usability
  osu.Game.Tests/Visual/Gameplay/TestSceneScoring.cs
Labels: type:testing, area:scoring, size/L

#24662 Add two spins gap before awarding bonus score on osu! spinners
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
Labels: ruleset/osu!, area:scoring, size/S

#24792 Fix Score V1 simulation in scoring test scene incorrectly applying multiplier
  osu.Game.Tests/Visual/Gameplay/TestSceneScoring.cs
Labels: type:testing, area:scoring, size/S

#24805 Revert masking SSBO changes
  osu.Android.props
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Tests/Resources/Shaders/sh_TestVertex.vs
  osu.Game/Screens/Loader.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#24795 Fix rate adjust mods not showing "x" prefix on customisation slider's tooltip
  osu.Game/Overlays/Settings/MultiplierSettingsSlider.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
Labels: type:cosmetic, size/M, area:overlay-mod-select

#24796 Collapse mod presets column slightly when not in use
  osu.Game/Overlays/Mods/ModPresetColumn.cs
  osu.Game/Overlays/Mods/ModSelectColumn.cs
Labels: type:cosmetic, size/S, area:overlay-mod-select

#24799 Move mod overlay difficulty multiplier display to bottom of screen
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/ModCounterDisplay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:cosmetic, size/M, area:overlay-mod-select

#24801 Simplify multiplier display implementation
  osu.Game.Tests/Visual/UserInterface/TestSceneModsEffectDisplay.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/DifficultyMultiplierDisplay.cs
  osu.Game/Overlays/Mods/ModCounterDisplay.cs
  osu.Game/Overlays/Mods/ModFooterInformationDisplay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:cosmetic, size/XL, area:overlay-mod-select

#24807 Clean up `ImportTask` / `ArchiveReader` implementations
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Database/ImportTask.cs
  osu.Game/IO/Archives/ByteArrayArchiveReader.cs
  osu.Game/IO/Archives/DirectoryArchiveReader.cs
  osu.Game/IO/Archives/MemoryStreamArchiveReader.cs
  osu.Game/IO/Archives/SingleFileArchiveReader.cs
  osu.Game/Screens/Play/Player.cs
Labels: type:code-quality, size/L

#24738 Remove `LegacyDifficultyControlPoint` / `LegacyBpmMultiplier`
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/LegacyRulesetExtensions.cs
Labels: area:beatmap-parsing, size/L

#24828 Fix dummy beatmap showing AR 5 on song select
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
Labels: area:song-select, type:cosmetic, size/XS

#24814 Parse only supported schemes as URIs
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: area:overlay-chat, size/S

#24739 Fix sliders not always being the correct length
  osu.Game.Rulesets.Osu.Tests/OsuBeatmapConversionTest.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/slider-ticks-edge-case-expected-conversion.json
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/slider-ticks-edge-case.osu
Labels: area:beatmap-parsing, size/M

#24845 Implement nano beatmap card
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNano.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardSize.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingCardSizeTabControl.cs
Labels: type:cosmetic, size/L

#24821 Refactor scoring test scene for ruleset extensibility (and move existing instance to osu! ruleset project)
  osu.Game.Rulesets.Osu.Tests/TestSceneScoring.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneScoring.cs
  osu.Game/Tests/Visual/Gameplay/ScoringTestScene.cs
Labels: ruleset/osu!, type:testing, area:scoring, size/XXL

#24822 Add scoring test scene for taiko
  osu.Game.Rulesets.Taiko.Tests/TestSceneScoring.cs
Labels: ruleset/osu!taiko, type:testing, area:scoring, size/L

#24846 Fix `MemoryStreamArchiveReader.GetStream()` failing in some cases
  osu.Game/IO/Archives/MemoryStreamArchiveReader.cs
Labels: size/XS, type:reliability

#24854 Fix crash when loading player instance without exiting previous instance
  osu.Game.Tests/Visual/Gameplay/TestSceneAllRulesetPlayers.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
Labels: area:gameplay, type:testing, size/S, type:reliability

#24823 Add scoring test scene for catch
  osu.Game.Rulesets.Catch.Tests/TestSceneScoring.cs
  osu.Game/Tests/Visual/Gameplay/ScoringTestScene.cs
Labels: ruleset/osu!catch, type:testing, area:scoring, size/L

#24824 Add scoring test scene for mania
  osu.Game.Rulesets.Mania.Tests/TestSceneScoring.cs
Labels: ruleset/osu!mania, type:testing, area:scoring, size/L

#24831 Update all dependencies (except for Moq)
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/Online/API/ModSettingsDictionaryFormatter.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/osu.Game.csproj
Labels: area:tooling, size/M

#24860 Adjust beatmap card thumbnail dim state to match web better
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardThumbnail.cs
Labels: type:cosmetic, size/S, area:overlay-beatmap-listing

#24810 Remove slider head circle movement (and remove setting from "classic" mod)
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderSnaking.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Skinning/Default/PlaySliderBody.cs
Labels: ruleset/osu!, area:gameplay, size/L

#24612 Add application category type to enable game mode on new macOS versions
  osu.iOS/Info.plist
Labels: platform/iOS, size/XS

#24800 Default to normal bank if invalid sample bank is specified
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/invalid-bank.osu
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap-parsing, size/M

#24866 Fix broken automatic beatmap download setting migration
  osu.Game/Configuration/OsuConfigManager.cs
Labels: size/XS, type:reliability

#24863 Fix issues after storyboard resource lookup refactor
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
Labels: area:storyboard, size/M, type:reliability

#24730 Highlight friend score in gameplay leaderboards
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
Labels: type:cosmetic, size/M

#24848 Use correct check for slider path extension
  osu.Game.Rulesets.Osu.Tests/OsuBeatmapConversionTest.cs
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/slider-paths-edge-case-expected-conversion.json
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/slider-paths-edge-case.osu
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: area:beatmap-parsing, size/L

#24875 General improvements to README
  README.md
Labels: type:code-quality, size/M

#24550 Adjust osu!taiko and osu!mania editors to not visualise velocity changes by default
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModConstantSpeed.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaSkinnableTestScene.cs
  osu.Game.Rulesets.Mania/Edit/DrawableManiaEditorRuleset.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModConstantSpeed.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Taiko/Edit/DrawableTaikoEditorRuleset.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoHitObjectComposer.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableScrollingRuleset.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/ScrollingHitObjectComposer.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/IScrollingInfo.cs
  osu.Game/Rulesets/UI/Scrolling/ISupportConstantAlgorithmToggle.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Tests/Visual/ScrollingTestContainer.cs
Labels: ruleset/osu!mania, area:editor, size/L, next release

#24870 Update clocks in line with framework changes
  osu.Android.props
  osu.Game/Beatmaps/FramedBeatmapClock.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/Edit/EditorClock.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S, next release

#24878 Fix shift-delete not working at song select
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, size/S, next release

#24880 Fix `TestFriendScore` intermittently failing due to randomness
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
Labels: type:testing, size/S

#24889 Fix game crash when using "Bubbles" mod on a beatmap with no hit circles
  osu.Game.Rulesets.Osu/Mods/OsuModBubbles.cs
Labels: ruleset/osu!, area:mods, size/XS, type:reliability

#24897 Fix OAuth refresh attempt when no network available causing full logout
  osu.Game/Online/API/OAuth.cs
Labels: type:online, size/XS, type:reliability

#24706 Add maximum dimensions limit to skinnable gameplay elements
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyBananaPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyDropletPiece.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyFruitPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCircleOverlapMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCirclePiece.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Default/CirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/ExplodePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/FlashPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/MainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/ReverseArrowPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/RingPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyApproachCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyReverseArrow.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorRippleVisualiser.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerMaxDimensions.cs
  osu.Game/Skinning/IAnimationTimeReference.cs
  osu.Game/Skinning/LegacySkinExtensions.cs
  osu.Game/Skinning/LegacySpriteText.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
Labels: area:gameplay, type:behavioural, area:skinning, size/L

#24779 Split legacy scoring attribs into its own table
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreSimulator.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/ILegacyRuleset.cs
  osu.Game/Rulesets/Scoring/ILegacyScoreSimulator.cs
  osu.Game/Rulesets/Scoring/Legacy/ILegacyScoreSimulator.cs
  osu.Game/Rulesets/Scoring/Legacy/LegacyScoreAttributes.cs
Labels: area:scoring, size/L

#24935 Fix flaky editor beatmap creation test
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
Labels: type:testing, size/XS

#24930 Adjust osu!mania "major" barlines to be less visually distracting
  osu.Game.Rulesets.Mania/Skinning/Default/DefaultBarLine.cs
Labels: ruleset/osu!mania, size/S

#24932 Cap maximum spinner RPM based on OD
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
Labels: ruleset/osu!, area:gameplay, size/M

#24922 Fix SR/BPM display showing no info in multiplayer playlist rooms
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: size/XS, area:overlay-mod-select

#24861 Fix storyboard `UseSkinSprites` being implemented incorrectly
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardLayer.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Storyboards/StoryboardVideo.cs
Labels: area:storyboard, size/L

#24928 Improve notification display when score import fails
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: type:cosmetic, size/S

#24948 Add `color` search keyword for `colour` settings
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/BeatmapSettings.cs
Labels: type:behavioural, area:settings, size/XS

#24943 Don't show replay import "missing beatmap" notifications during stable import
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Skinning/SkinImporter.cs
Labels: type:behavioural, size/S

#24942 Fix skin version being incorrectly set to `1.0` when skin is missing `skin.ini`
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinImporter.cs
Labels: area:skinning, size/M

#24929 Reduce delay before loading beatmap after selection change at song select
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:behavioural, size/S

#24953 Flash dialog popup when attempting to exit editor while exit is being blocked
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:cosmetic, size/M

#24924 Update classic scoring formula to closer match stable score V1
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
Labels: area:scoring, size/M

#24954 Add the ability for mod icons to show extended information
  osu.Game.Tests/Visual/UserInterface/TestSceneModIcon.cs
  osu.Game/Graphics/OsuIcon.cs
  osu.Game/Online/Leaderboards/LeaderboardScoreTooltip.cs
  osu.Game/Rulesets/Mods/IMod.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/UI/ModIcon.cs
  osu.Game/Rulesets/UI/ModSwitchSmall.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/osu.Game.csproj
Labels: type:cosmetic, size/L

#24955 Display mod icons using stable (consistent, not osu!stable) ordering
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Online/Leaderboards/LeaderboardScoreTooltip.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/Mods/EditPresetPopover.cs
  osu.Game/Overlays/Mods/ModPresetTooltip.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Rulesets/Mods/ModExtensions.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUD/ModFlowDisplay.cs
Labels: type:cosmetic, size/M

#24962 Flash discard changes dialog popup when force quitting room/playlist creation with changes
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: type:cosmetic, area:multiplayer, size/XS, area:playlists

#24957 Add `GetDisplayScore()` extension for `SoloScoreInfo`
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
Labels: area:scoring, size/XS

#24964 Reduce approach circle's final opacity to match stable
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#24968 Fix object dim being applied to approach circles
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: ruleset/osu!, area:gameplay, size/M
