Repository ppy/osu, pull requests merged in 2023-01, with the labels that each got.

#21979 Add search keywords for beatmap colours / hitsound overrides
  osu.Game/Overlays/Settings/Sections/Gameplay/BeatmapSettings.cs
Labels: type:UX, area:settings, size/XS

#21983 Fix incorrect domain root being used for recent activity entries on profile overlay
  osu.Game/Overlays/Profile/Sections/Recent/DrawableRecentActivity.cs
Labels: area:overlay-user-profile, size/XS

#21945 Add new display modes for accuracy counter
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/HUD/GameplayAccuracyCounter.cs
Labels: area:skinning, size/M

#21916 Save / sync chat text box messages per channel
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneStandAloneChatDisplay.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatTextBar.cs
  osu.Game/Overlays/Chat/ChatTextBox.cs
Labels: type:UX, area:multiplayer, area:overlay-chat, size/L

#22019 Fix catcher not moving when fully hidden with "No Scope" mod
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModNoScope.cs
  osu.Game.Rulesets.Catch/Mods/CatchModNoScope.cs
Labels: ruleset:osu!catch, area:mods, size/M

#22016 Fix default volume control keys not working when chat textbox is focused
  osu.Game/Graphics/UserInterface/HistoryTextBox.cs
Labels: type:input, area:multiplayer, size/XS, area:playlists

#22018 Fix editor exporting beatmap combo colours in wrong order
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap, size/XS

#22003 Fix song select leaderboard potentially showing wrong scores on quick beatmap changes
  osu.Game/Online/API/Requests/GetScoresRequest.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: type:online, area:song-select, size/M

#21727 Link beatmap set genre and language to listing filters
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingFilterControl.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/MetadataSection.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionDescription.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionGenre.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionLanguage.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionSource.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionTags.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: type:UI, size/L, area:overlay-beatmap-listing

#22043 Fix gameplay leaderboard showing "-" on non-tracked scores
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/SoloGameplayLeaderboard.cs
Labels: area:gameplay, type:UX, size/S

#21754 Reload waveform on track replacement in editor
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Timing/TapTimingControl.cs
  osu.Game/Screens/Edit/Timing/WaveformComparisonDisplay.cs
Labels: area:editor, size/M

#22034 Fix settings toolbox group not animating on expansion
  osu.Game.Tests/Visual/UserInterface/TestSceneSettingsToolboxGroup.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
Labels: type:UI, size/S

#22033 Decrease transition duration of extended difficulty list during hide
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardContent.cs
Labels: type:UX, size/S, area:overlay-beatmap-listing

#22026 Tint "argon" slider ball with combo colour
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonFollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderBall.cs
Labels: area:skinning, size/M

#22044 Make selected tab items more bold (and add underline)
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
Labels: type:UX, size/XS, area:overlay-beatmap-listing

#21638 Disable touchscreen controls responding to mouse in scrolling gamemodes
  osu.Game.Rulesets.Catch/UI/CatchTouchInputMapper.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Taiko/UI/DrumTouchInputArea.cs
Labels: size/M

#22056 Fix friends list duplicating after connection failure
  osu.Game/Online/API/APIAccess.cs
Labels: type:online, size/XS

#21650 Add ability to set preview time in editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorSummaryTimeline.cs
  osu.Game.Tests/Visual/Editing/TestScenePreviewTime.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/PreviewTimePart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Tests/Visual/EditorTestScene.cs
Labels: area:editor, size/L

#22055 Display nominators on beatmap set overlay
  osu.Game/Beatmaps/BeatmapSetOnlineNomination.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionNominators.cs
  osu.Game/Overlays/BeatmapSet/MetadataType.cs
Labels: type:UI, size/L, area:overlay-beatmap

#22049 Refresh background on file change in editor
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:editor, size/M

#22052 Fix osu! logo not being draggable on player loader
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: type:input, size/S

#22047 Fix `WaveformComparisonDisplay` does not take into account start time of control points
  osu.Game/Screens/Edit/Timing/WaveformComparisonDisplay.cs
Labels: area:editor, size/XS

#22080 Fix channel listing items overflowing at high ui scaling
  osu.Game/Overlays/Chat/Listing/ChannelListingItem.cs
Labels: type:UI, area:overlay-chat, size/S

#21883 Allow aspect ratios smaller than the default in taiko
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
Labels: size/S

#21786 Add context menus to overlay panels/cards
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Localisation/ContextMenuStrings.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
  osu.Game/Overlays/Chat/DrawableUsername.cs
  osu.Game/Overlays/OnlineOverlay.cs
  osu.Game/Users/UserPanel.cs
Labels: type:UX, size/L, area:overlays

#22093 Change message in first-run setup to only check final location of Songs folder
  osu.Game/Database/LegacyImportManager.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
Labels: size/XS

#22094 Pause imports during active gameplay
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ModelManager.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/OsuGame.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Skinning/SkinManager.cs
Labels: type:performance, size/M

#22099 Fix potential filename clash when taking rapid screenshots
  osu.Game/Graphics/ScreenshotManager.cs
Labels: size/M, type:reliability

#22085 Fix retry loop for channel initialisation resulting in request pile-up
  osu.Game/Online/Chat/ChannelManager.cs
Labels: type:online, area:overlay-chat, size/S

#22103 Add the ability to toggle the main bar component of `BarHitErrorMeter`
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
Labels: type:UI, area:skinning, size/S

#22104 Move stable import buttons under debug section in favour of first-run "import" screen
  osu.Game/Localisation/MaintenanceSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/DebugSection.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/BatchImportSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/BeatmapSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/CollectionsSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/ScoreSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/SkinSettings.cs
Labels: area:settings, size/L

#19528 Fix online play screen only accounting for current sub screen onexiting blocks
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: type:UX, area:multiplayer, size/M, area:playlists

#21519 Add dynamic BPM counter to SkinEditor
  osu.Game.Tests/Resources/Archives/modified-default-20221205.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Screens/Play/HUD/BPMCounter.cs
Labels: size/L

#22105 Improve missing beatmap failure logging on score import
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: area:database, type:UX, size/S

#21739 Append date to score export filename
  osu.Game/Database/LegacyExporter.cs
  osu.Game/Database/LegacyScoreExporter.cs
Labels: area:database, size/S

#22078 Remove #nullable-disable from carousel and related classes
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselHeader.cs
  osu.Game/Screens/Select/Carousel/CarouselItem.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
  osu.Game/Screens/Select/Carousel/FilterableDifficultyIcon.cs
  osu.Game/Screens/Select/Carousel/GroupedDifficultyIcon.cs
  osu.Game/Screens/Select/Carousel/SetPanelBackground.cs
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
Labels: type:code-quality, size/L

#22124 Add triage action
  .github/workflows/triage.yml
Labels: area:tooling, size/S

#22129 Remove mania hp drain
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: ruleset:osu!mania, area:gameplay, size/S

#22005 Decouple user profile overlay from `APIUser` model
  osu.Game.Tests/Visual/Online/TestSceneHistoricalSection.cs
  osu.Game.Tests/Visual/Online/TestScenePlayHistorySubsection.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserRanks.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
  osu.Game/Overlays/Profile/Header/Components/LevelBadge.cs
  osu.Game/Overlays/Profile/Header/Components/LevelProgressBar.cs
  osu.Game/Overlays/Profile/Header/Components/MappingSubscribersButton.cs
  osu.Game/Overlays/Profile/Header/Components/MessageUserButton.cs
  osu.Game/Overlays/Profile/Header/Components/OverlinedTotalPlayTime.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/MedalHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Profile/ProfileSection.cs
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Historical/ChartProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/PaginatedMostPlayedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Historical/PlayHistorySubsection.cs
  osu.Game/Overlays/Profile/Sections/Historical/ReplaysSubsection.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/PaginatedKudosuHistoryContainer.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/ProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/Recent/PaginatedRecentActivityContainer.cs
  osu.Game/Overlays/Profile/UserProfileData.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:code-quality, area:overlay-user-profile, size/L

#22114 Fix game overlays not blocking scroll properly
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayContainer.cs
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
Labels: type:input, size/L, area:overlays

#22122 Fix `BeatmapSetOverlay` not showing a pending request after logging in
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: size/M, area:overlay-beatmap

#22123 Implement user group badges
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/API/Requests/Responses/APIUserGroup.cs
  osu.Game/Overlays/Profile/Header/Components/GroupBadge.cs
  osu.Game/Overlays/Profile/Header/Components/GroupBadgeFlow.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22133 Fix skin fail sound not correctly playing
  osu.Game/Screens/Play/FailAnimation.cs
Labels: area:skinning, size/XS

#22136 Fix kiai flash opacity on legacy skins being too intense
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game/Skinning/LegacyKiaiFlashingDrawable.cs
Labels: ruleset:osu!, area:skinning, size/M

#22149 Fix lookup type being incorrect when fetching beatmap set
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
Labels: size/M, area:overlay-beatmap

#22146 Rewrite contributing guidelines
  CONTRIBUTING.md
  README.md
Labels: size/L, type:documentation

#22006 Add ruleset switching to user profile overlay
  osu.Game.Tests/Visual/Online/TestSceneHistoricalSection.cs
  osu.Game.Tests/Visual/Online/TestScenePlayHistorySubsection.cs
  osu.Game.Tests/Visual/Online/TestSceneProfileRulesetSelector.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserRanks.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileRulesetSelector.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Profile/Sections/Beatmaps/PaginatedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Historical/PaginatedMostPlayedBeatmapContainer.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/PaginatedKudosuHistoryContainer.cs
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
  osu.Game/Overlays/Profile/Sections/Ranks/PaginatedScoreContainer.cs
  osu.Game/Overlays/Profile/Sections/Recent/PaginatedRecentActivityContainer.cs
  osu.Game/Overlays/Profile/UserProfileData.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:online, area:overlay-user-profile, size/L

#22141 Fix game-level components not finishing load before game content
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
Labels: size/M, type:reliability

#22151 Fix incorrect max combo after watching imported legacy replays
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: type:UI, area:results

#22143 Implement a segmented graph
  osu.Game.Tests/Visual/UserInterface/TestSceneSegmentedGraph.cs
  osu.Game/Graphics/UserInterface/SegmentedGraph.cs
Labels: type:UI, size/L

#22170 Add "fps" keyword to frame limiter dropdown
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
Labels: size/XS

#22169 Enable nullability for editor components
  osu.Game/Screens/Edit/Components/BottomBarContainer.cs
  osu.Game/Screens/Edit/Components/EditorSidebar.cs
  osu.Game/Screens/Edit/Components/EditorSidebarSection.cs
  osu.Game/Screens/Edit/Components/Menus/EditorScreenSwitcherControl.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/RadioButtons/EditorRadioButton.cs
  osu.Game/Screens/Edit/Components/RadioButtons/EditorRadioButtonCollection.cs
  osu.Game/Screens/Edit/Components/RadioButtons/RadioButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/TernaryButton.cs
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BookmarkPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/IControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/MarkerPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/TimelinePart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/TestGameplayButton.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/DurationVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: size/M

#22163 Fix intermittent failure in silenced user messages test
  osu.Game.Tests/Chat/TestSceneChannelManager.cs
  osu.Game/Online/Chat/ChannelManager.cs
Labels: type:testing, size/XS

#22160 Don't display custom rulesets in online overlays
  osu.Game/Overlays/BeatmapListing/BeatmapSearchRulesetFilterRow.cs
  osu.Game/Overlays/OverlayRulesetSelector.cs
  osu.Game/Rulesets/RulesetSelector.cs
Labels: size/S

#22168 Fix mute button not blocking outside overlay closing presses
  osu.Game/Overlays/Volume/MuteButton.cs
Labels: type:input, size/XS, area:overlay-volume

#22172 Add support for redirection to website during account creation process
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/RegistrationRequest.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
Labels: type:online, size/M

#22156 Remove `CFBundleVersion` from iOS plist file
  osu.iOS/Info.plist
  osu.iOS/osu.iOS.csproj
Labels: area:tooling, size/XS

#22186 Fix intermittent failure in score submission tests
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
Labels: area:gameplay, type:testing, size/XS

#21448 Update comment editor component
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentEditor.cs
  osu.Game/Overlays/Comments/CancellableCommentEditor.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
Labels: size/L, area:comments

#22192 Fix `GroupBadge` crashing on `null` group colour
  osu.Game/Online/API/Requests/Responses/APIUserGroup.cs
  osu.Game/Overlays/Profile/Header/Components/GroupBadge.cs
Labels: type:UI, size/XS, type:reliability

#22194 Enable nullability for setup, design and timing editor screens
  osu.Game/Screens/Edit/Design/DesignScreen.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
  osu.Game/Screens/Edit/Setup/DesignSection.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/LabelledRomanisedTextBox.cs
  osu.Game/Screens/Edit/Setup/LabelledTextBoxWithPopover.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/RulesetSetupSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeaderBackground.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
  osu.Game/Screens/Edit/Timing/ControlPointSettings.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/GroupSection.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/LabelledTimeSignature.cs
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
  osu.Game/Screens/Edit/Timing/RepeatingButtonBehaviour.cs
  osu.Game/Screens/Edit/Timing/RowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeProgressBar.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeText.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/DifficultyRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/EffectRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/SampleRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/TimingRowAttribute.cs
  osu.Game/Screens/Edit/Timing/Section.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/TapButton.cs
  osu.Game/Screens/Edit/Timing/TimingAdjustButton.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: size/L

#22188 Localise some notifications
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Notifications/NotificationSection.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: type:localisation, size/M

#21522 Show distance snap for first juice stream object.
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: ruleset:osu!catch, area:editor, size/M

#22182 Update status icon design
  osu.Game/Overlays/Login/UserDropdown.cs
  osu.Game/Users/Drawables/StatusIcon.cs
  osu.Game/Users/ExtendedUserPanel.cs
Labels: type:UI, size/M

#22198 Fix intermittent failure in GCC seeking test
  osu.Game.Tests/Gameplay/TestSceneMasterGameplayClockContainer.cs
Labels: area:gameplay, type:testing, size/S

#22191 Move overlay ruleset selectors to tab control in line with web
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeader.cs
  osu.Game/Overlays/OverlayHeader.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/TabControlOverlayHeader.cs
Labels: size/M, area:overlays, type:design

#22181 Fix intermittent failure in beatmap carousel tests
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/SetPanelContent.cs
Labels: area:song-select, type:testing, size/M, type:reliability

#22200 Update user profile appearance to closer match web
  osu.Game.Tests/Visual/Online/TestSceneKudosuHistory.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileValueDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/TotalPlayTime.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/MedalHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Profile/ProfileSection.cs
  osu.Game/Overlays/Profile/Sections/Historical/DrawableMostPlayedBeatmap.cs
  osu.Game/Overlays/Profile/Sections/Kudosu/DrawableKudosuHistoryItem.cs
  osu.Game/Overlays/Profile/Sections/ProfileItemContainer.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22213 Fix kudosu wiki link from user profile not linking to in-game overlay
  osu.Game/Overlays/Profile/Sections/Kudosu/KudosuInfo.cs
Labels: area:overlay-user-profile, size/XS

#22221 Fix intermittent failure in screen navigation tests
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
  osu.Game/Tests/Visual/TestPlayer.cs
Labels: area:gameplay, type:testing, size/M

#22225 Localise ruleset settings section
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
  osu.Game.Rulesets.Mania/UI/ManiaScrollingDirection.cs
  osu.Game.Rulesets.Osu/UI/OsuSettingsSubsection.cs
  osu.Game/Localisation/RulesetSettingsStrings.cs
Labels: area:settings, type:localisation, size/M

#22232 Fix intermittent failure in beatmap options state test
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: area:song-select, type:testing, size/XS

#22208 Localise most visible parts of editor
  osu.Game/Graphics/UserInterface/OsuMenuItem.cs
  osu.Game/Graphics/UserInterface/StatefulMenuItem.cs
  osu.Game/Graphics/UserInterface/ToggleMenuItem.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/EditorDialogsStrings.cs
  osu.Game/Localisation/EditorSetupStrings.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/BackgroundDimMenuItem.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuItem.cs
  osu.Game/Screens/Edit/Components/Menus/EditorScreenSwitcherControl.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/TestGameplayButton.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/CreateNewDifficultyDialog.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreenMode.cs
  osu.Game/Screens/Edit/PromptForSaveDialog.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeaderBackground.cs
  osu.Game/Screens/Edit/WaveformOpacityMenuItem.cs
Labels: area:editor, type:localisation, size/L

#22206 Add ability to view converted beatmaps on beatmap set overlay
  osu.Game.Tests/Visual/Navigation/TestSceneStartupBeatmapDisplay.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Overlays/BeatmapSet/BeatmapRulesetTabItem.cs
Labels: type:online, size/M, area:overlay-beatmap

#22241 Refactor `LevelBadge` to use `LevelInfo`
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/LevelBadge.cs
Labels: type:code-quality, area:overlay-user-profile, size/M

#22236 Localise skin editor
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/SkinEditorStrings.cs
  osu.Game/Overlays/RestoreDefaultValueButton.cs
  osu.Game/Skinning/Editor/SkinComponentToolbox.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorSceneLibrary.cs
  osu.Game/Skinning/Editor/SkinSettingsToolbox.cs
Labels: type:localisation, size/M, area:skin-editor

#22203 Fix difficulty creation flow failing for some ruleset combinations
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: area:editor, size/M, type:reliability

#21829 Make replay controls menus expand on hover
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
  osu.Game/Screens/Play/PlayerSettings/PlayerSettingsGroup.cs
Labels: area:replay, type:UX, size/XS

#22246 Mark remaining frequently-failing intermittent tests with `FlakyTest` attribute
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
Labels: type:testing, size/L

#22174 Enable NRT annotations in `SongSelect` classes
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:code-quality, area:song-select, size/L

#20709 Localise toolbar home button and ruleset description tooltips
  osu.Game/Localisation/ToolbarStrings.cs
  osu.Game/Overlays/Toolbar/ToolbarHomeButton.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetTabButton.cs
Labels: type:localisation, size/S, area:toolbar

#22147 Forbid negative time snap in editor
  osu.Game.Rulesets.Mania.Tests/Editor/TestScenePlacementBeforeTrackStart.cs
  osu.Game.Tests/Editing/TestSceneSnappingNearZero.cs
  osu.Game.Tests/NonVisual/ClosestBeatDivisorTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
Labels: area:editor, size/L

#22079 Make pause overlay close with pause gameplay action
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Graphics/UserInterfaceV2/OsuPopover.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: area:gameplay, type:input, size/L

#22256 Fix player rank data not being re-fetched after a tournament's ruleset is changed
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/S

#22258 Reduce number of value combinations of a test that is taking 2min+ to execute
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderFollowCircleInput.cs
Labels: type:testing, size/XS

#22193 Integrate comment editor into comments view
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game/Online/API/Requests/CommentPostRequest.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
Labels: type:online, size/L, area:comments

#22266 Update appearance of user statistics on profile overlay to match web
  osu.Game/Overlays/Profile/Header/Components/ExtendedDetails.cs
  osu.Game/Overlays/Profile/Header/Components/MainDetails.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: type:UI, area:overlay-user-profile, size/XL

#22268 Reduce padding for too nested comments
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: size/S, area:comments

#22261 Fix song select potentially operating on `Carousel` before it is fully loaded
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:testing, size/XS, type:reliability

#22262 Add ability to easily mention users in chat by right clicking username
  osu.Game/Localisation/ChatStrings.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/DrawableUsername.cs
Labels: type:UX, area:overlay-chat, size/S

#21725 Add mania hidden & FadeIn mod configuration
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModFadeIn.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModHidden.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFadeIn.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHidden.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModPlayfieldCover.cs
Labels: ruleset:osu!mania, area:mods, size/M

#21620 Add a judgement counter to skin components
  osu.Game.Tests/Resources/Archives/modified-default-20230117.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneJudgementCounter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementTally.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:skinning, size/L

#22273 Cache `IFrameStableClock` in `Player` for easier access
  osu.Game/Screens/Play/HUD/ClicksPerSecond/ClicksPerSecondCalculator.cs
  osu.Game/Screens/Play/HUD/SongProgress.cs
  osu.Game/Screens/Play/Player.cs
Labels: type:code-quality, size/S

#22248 Fix beatmap sorting at song select sometimes changing after setting a score
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: area:song-select, size/L

#22275 Fix legacy judgement animation not matching perfectly
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
Labels: ruleset:osu!, area:gameplay, size/S

#22144 Add "argon" variant of song progress display
  osu.Game.Tests/Resources/Archives/modified-argon-20221024.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/SkinnableHUDComponentTestScene.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneDefaultSongProgressGraph.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSongProgress.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Graphics/UserInterface/SegmentedGraph.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgressBar.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgressGraph.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgressBar.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgressGraph.cs
  osu.Game/Screens/Play/HUD/SongProgress.cs
  osu.Game/Screens/Play/HUD/SongProgressInfo.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacySongProgress.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
Labels: area:gameplay, type:UI, size/XL

#22233 Add basic multi-touch support for osu! ruleset
  osu.Game.Rulesets.Osu.Tests/TestSceneTouchInput.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
  osu.Game.Rulesets.Osu/UI/OsuTouchInputMapper.cs
Labels: ruleset:osu!, type:input, platform:mobile, size/XL

#22284 Fix "show max judgement" setting not applying initially on judgement counter display
  osu.Game.Tests/Visual/Gameplay/TestSceneJudgementCounter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
Labels: type:UI, area:skinning, size/M

#22285 Apply draw colour to segmented graph
  osu.Game.Tests/Visual/UserInterface/TestSceneSegmentedGraph.cs
  osu.Game/Graphics/UserInterface/SegmentedGraph.cs
Labels: type:UI, size/M

#22283 Add ability to leave replies to comments
  osu.Game.Tests/Visual/Online/TestSceneCommentActions.cs
  osu.Game/Overlays/Comments/Buttons/ShowRepliesButton.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/ReplyCommentEditor.cs
Labels: size/L

#22290 Fix JudgementCounterDisplay.cs max judgement not hiding upon display mode change
  osu.Game.Tests/Visual/Gameplay/TestSceneJudgementCounter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
Labels: type:UI, size/M

#22297 Fix intermittent failure in playlists match loading test
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
Labels: type:testing, size/XS, area:playlists

#22296 Actually fix intermittent failure in beatmap options state test
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: area:song-select, type:testing, size/XS

#22303 Update framework
  osu.Android.props
  osu.Game.Tournament/TournamentGameBase.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#22310 Fix incorrect async continuation causing tournament client to not enable save button
  osu.Game.Tournament/SaveChangesOverlay.cs
Labels: priority:0, area:tournament, size/XS, type:reliability

#22315 Fix test browsers on longer working after framework update
  osu.Game.Tournament.Tests/TournamentTestBrowser.cs
  osu.Game/Tests/OsuTestBrowser.cs
Labels: type:testing, size/XS, type:reliability

#22302 Fix spinners potentially displaying incorrect SPM numbers
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerSpmCalculator.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#22330 Fix `SegmentedGraph` draw node calculating segment colours in unsafe manner
  osu.Game/Graphics/UserInterface/SegmentedGraph.cs
Labels: type:UI, area:skinning, size/M, type:reliability, next-release

#22341 Add search keywords for screen scaling sub-settings
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: type:UX, area:settings, size/XS, next-release

#22337 Fix comment editor text boxes not having sound feedback
  osu.Game.Tests/Visual/Online/TestSceneCommentActions.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
Labels: size/S, area:comments, type:audio, next-release

#22339 Fix skin fail sound continuing to play after leaving gameplay
  osu.Game/Screens/Play/FailAnimation.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S, next-release

#22340 Add modes text to groups tooltip
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/Components/GroupBadge.cs
Labels: type:UI, area:overlay-user-profile, size/XS

#22032 Fix advanced statistics display potentially performing invalid difficulty calculation
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: area:song-select, size/M, type:reliability

#22277 Add tiered level badge colouring
  osu.Game.Tests/Visual/Online/TestSceneLevelBadge.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/Profile/Header/Components/LevelBadge.cs
  osu.Game/Scoring/RankingTier.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22371 Add more keywords to settings based on feedback
  osu.Game/Overlays/Settings/Sections/Gameplay/InputSettings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
  osu.Game/Overlays/Settings/Sections/Input/BindingSettings.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
Labels: area:settings, size/S

#22381 Fix touches not being handled outside `OsuTouchInputMapper` when using screen scaling
  osu.Game.Rulesets.Osu/UI/OsuTouchInputMapper.cs
Labels: type:input, size/XS

#22265 Add snapping sliderends with nearby objects
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/SliderBodyPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Skinning/SliderBody.cs
  osu.Game.Rulesets.Osu/Skinning/SnakingSliderBody.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: ruleset:osu!, area:editor, size/M

#18402 Add accuracy challenge mod
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAccuracyChallenge.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Mods/ModAccuracyChallenge.cs
  osu.Game/Rulesets/Mods/ModEasyWithExtraLives.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:mods, size/L

#22390 Fix changelog overlay potentially showing up behind mod select overlay
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Overlays/Settings/SettingsFooter.cs
Labels: area:overlay-changelog, size/M

#22387 Fix beatmap leaderboard potentially showing incorrect leaderboard
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:song-select, size/XS

#22385 Fix touch input handler settings not matching search for "touchscreen"
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Input/TouchSettings.cs
Labels: type:UX, area:settings, size/M

#22400 Fix iOS workflow still targeting old Xcode version
  .github/workflows/ci.yml
Labels: area:tooling, size/S

#22325 Move fixed scroll speed change out of classic mod for taiko
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
Labels: ruleset:osu!taiko, area:gameplay, size/M

#22383 Update `WikiMarkdownContainer` tests
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
Labels: type:testing, size/M

#22318 Fix creating a copy of a difficulty in the editor removing the original beatmap from user collections
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: area:editor, size/L

#22399 Update appearance of profile cover area to match web
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Profile/Header/Components/ToggleCoverButton.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22382 Add ability to disable background blur at song select
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UI, size/S

#22391 Fix argon hit circles occasionally going missing during editor seeking
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: area:editor, size/S

#22404 Add support for disabling "hit lighting" with osu! argon skin
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: ruleset:osu!, area:gameplay, size/M

#22375 Add empty space tap-streaming support for osu! ruleset on touchscreen devices
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuTouchInput.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
  osu.Game.Rulesets.Osu/UI/OsuTouchInputMapper.cs
Labels: type:input, platform:mobile, size/L

#22409 Implement Masking property for `Triangles` background
  osu.Game.Tests/Visual/Background/TestSceneTrianglesBackground.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
Labels: size/M

#21504 Allow to change font of text elements
  osu.Game/Graphics/OsuFont.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
  osu.Game/Skinning/Components/TextElement.cs
  osu.Game/Skinning/FontAdjustableSkinComponent.cs
Labels: type:UI, area:skinning, size/M

#21560 Make PathControlPointVisualiser generic
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderControlPointPiece.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSnapping.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSplitting.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointConnectionPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Tests/Visual/Editing/TestSceneBlueprintOrdering.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
Labels: area:editor, type:UI, size/L

#22412 Add very basic kiai flash to argon hit circles
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleKiai.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: area:gameplay, size/M

#22406 Fix beatmaps with multiple `osb` files potentially reading the storyboard from the wrong one
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
Labels: area:storyboard, size/M

#22429 Fix default health bar having a very weird anchor point in the skin editor
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
Labels: area:skinning, size/M

#22450 Fix intermittent failure in multiplayer queue mode tests
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneAllPlayersQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
Labels: type:testing, area:multiplayer, size/M

#22440 Adjust argon hit lighting further
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonMainCirclePiece.cs
Labels: ruleset:osu!, area:gameplay, size/M

#22464 Fix skin texture store attempting to read image data from samples
  osu.Android.props
  osu.Game.Tests/Resources/Archives/conflicting-filenames-beatmap.osz
  osu.Game.Tests/Resources/Archives/conflicting-filenames-skin.osk
  osu.Game.Tests/Rulesets/TestSceneDrawableRulesetDependencies.cs
  osu.Game.Tests/Skins/TestSceneBeatmapSkinResources.cs
  osu.Game.Tests/Skins/TestSceneSkinResources.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownTextFlowContainer.cs
  osu.Game/Rulesets/UI/DrawableRulesetDependencies.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:skinning, size/M

#22467 Fix migration putting game files in root of disk if no other files exist
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationSelectScreen.cs
Labels: size/XS
