Repository ppy/osu, pull requests merged in 2023-07, with the labels that each got.

#24097 Increase the minimum size of the scroll bar
  osu.Game/Collections/CollectionDropdown.cs
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Overlays/OverlaySidebar.cs
  osu.Game/Screens/OnlinePlay/Components/ParticipantsDisplay.cs
Labels: type:cosmetic, size/S

#24087 Ensure "tablet support disabled" notification is only shown once
  osu.Game/OsuGame.cs
Labels: type:behavioural, area:settings, size/S

#24081 Reattach any orphaned scores when a beatmap is imported
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:database, size/L

#24099 Fix edge cases where selection buttons go outside playfield bounds
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
Labels: area:editor, type:behavioural, size/XS

#24068 Use more correct localised string source for "sign out" text
  osu.Game/Localisation/LoginPanelStrings.cs
  osu.Game/Overlays/Login/UserAction.cs
Labels: type:localisation, size/XS

#24071 Add handling of "unknown" beatmap availability in multiplayer flow
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomUser.cs
  osu.Game/Online/Rooms/BeatmapAvailability.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/StateDisplay.cs
Labels: area:multiplayer, size/M

#24115 Fix cancelled progress notifications requiring exit confirmation
  osu.Game/Overlays/INotificationOverlay.cs
Labels: type:behavioural, size/XS

#24118 Add links to nested objects' lifetime entries to `HitObjectLifetimeEntry`
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/Rulesets/Objects/Pooling/HitObjectEntryManager.cs
Labels: size/L, area:ruleset-api

#24072 Add difficulty attributes to facilitate conversion from legacy score, and convert existing scores
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyAttributes.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreSimulator.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneFlyingHits.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRollTick.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/BackgroundBeatmapProcessor.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/ILegacyRuleset.cs
  osu.Game/Rulesets/Scoring/ILegacyScoreSimulator.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: area:scoring, size/XXL

#24088 Move all remaining osu!taiko sample playback logic out of `DrawableHitObject`s
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneSampleOutput.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/UI/DrumSampleTriggerSource.cs
Labels: type:code-quality, ruleset:osu!taiko, size/L

#24121 Fix fallback for `Judged` to be more correct
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
Labels: area:gameplay, size/M

#24129 Remember state of replay settings visibility and allow key customisation
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/HUDSettings.cs
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/L

#24139 Fix tournament bracket parsing regression
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/S, next-release

#24141 Fix potential crash when mashing exit key
  osu.Game/Overlays/Dialog/PopupDialog.cs
Labels: size/XS, type:reliability

#24137 Remove beatmap info wedge rotation animation
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, type:cosmetic, size/XS

#24135 Bring realm library up-to-date
  osu.Game.Tests/Beatmaps/WorkingBeatmapManagerTest.cs
  osu.Game.Tests/Database/BackgroundBeatmapProcessorTests.cs
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
  osu.Game.Tests/Database/GeneralUsageTests.cs
  osu.Game.Tests/Database/RealmLiveTests.cs
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game.Tests/Database/RulesetStoreTests.cs
  osu.Game.Tests/Database/TestRealmKeyBindingStore.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetColumn.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/BackgroundBeatmapProcessor.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Collections/CollectionDropdown.cs
  osu.Game/Collections/DrawableCollectionList.cs
  osu.Game/Collections/DrawableCollectionListItem.cs
  osu.Game/Database/EmptyRealmSet.cs
  osu.Game/Database/ModelManager.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Input/Bindings/DatabasedKeyBindingContainer.cs
  osu.Game/Online/BeatmapDownloadTracker.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Online/ScoreDownloadTracker.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
  osu.Game/Overlays/Mods/AddPresetPopover.cs
  osu.Game/Overlays/Mods/ModPresetColumn.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/Skinning/RealmBackedResourceStore.cs
  osu.Game/Skinning/SkinImporter.cs
  osu.Game/osu.Game.csproj
Labels: area:database, size/L

#24120 Fix taiko hit overlay animation timing not accounting for timing section start time
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyCirclePiece.cs
Labels: ruleset:osu!taiko, area:skinning, size/S

#24114 Ensure scores always have the correct linked `BeatmapInfo`
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
  osu.Game.Tests/Models/DisplayStringTest.cs
  osu.Game.Tests/Visual/Ranking/TestSceneContractedPanelMiddleContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/BackgroundBeatmapProcessor.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Scoring/IScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Scoring/ScoreImporter.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Scoring/ScoreInfoExtensions.cs
  osu.Game/Scoring/ScorePerformanceCache.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Select/LocalScoreDeleteDialog.cs
  osu.Game/Users/UserActivity.cs
Labels: area:database, size/L

#24145 Add new notification sounds
  osu.Game/Online/Chat/MessageNotifier.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Notifications/Notification.cs
  osu.Game/Overlays/Notifications/ProgressCompletionNotification.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
  osu.Game/Overlays/Notifications/SimpleErrorNotification.cs
  osu.Game/osu.Game.csproj
Labels: size/M, audio

#24102 Update `SDL2{Desktop}Window` usages in line with framework `IWindow` changes
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGame.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#24142 Fix `GameplaySampleTriggerSource` not handling rewinds correctly
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatchComboCounter.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneClicksPerSecondCalculator.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Beatmaps/FramedBeatmapClock.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
  osu.Game/Screens/Play/ComboEffects.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/IGameplayClock.cs
Labels: area:gameplay, size/M

#24152 Adjust results screen transition tweens to feel better
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: area:results, size/S

#24144 Remove the ability to cancel all "in progress" tasks
  osu.Game.Tests/Visual/UserInterface/TestSceneNotificationOverlay.cs
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Overlays/INotificationOverlay.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Notifications/NotificationSection.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: area:overlay-notifications, size/M

#24134 Add support for skinnable "retry" sound
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:skinning, size/M, audio

#24154 Add generated code hints in editorconfig / dotsettings
  .editorconfig
  osu.sln.DotSettings
Labels: area:tooling, size/XS

#24150 Redesign "local input" toggle in manual input tests to be more user-friendly
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: area:tooling, size/M

#24119 Implement new argon osu!taiko hitsounds
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonDrumSamplePlayer.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonDrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonFlourishTriggerSource.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/VolumeAwareHitSampleInfo.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoSkinComponents.cs
  osu.Game.Rulesets.Taiko/UI/DrumSamplePlayer.cs
  osu.Game.Rulesets.Taiko/UI/DrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Skinning/IPooledSampleProvider.cs
Labels: ruleset:osu!taiko, size/XL, audio

#24165 Fix `GenerateTicks` being lost during osu! beatmap conversion process
  osu.Game.Rulesets.Osu.Tests/OsuBeatmapConversionTest.cs
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/nan-slider-expected-conversion.json
  osu.Game.Rulesets.Osu/Resources/Testing/Beatmaps/nan-slider.osu
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertSlider.cs
Labels: ruleset:osu!, area:beatmap-parsing, area:difficulty, size/S

#24173 Add length limit to chat text box
  osu.Game.Tests/Visual/Online/TestSceneChatTextBox.cs
  osu.Game/Online/Chat/Channel.cs
  osu.Game/Overlays/Chat/ChatTextBar.cs
Labels: type:behavioural, area:overlay-chat, size/M

#24171 Fix pressing Ctrl-C in composer not copying timestamp to system clipboard with empty selection
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/EditorScreen.cs
Labels: area:editor, type:behavioural, size/M

#24174 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#24092 Merge `app.manifest`s and let framework set DPI awareness options
  app.manifest
  osu.Desktop/app.manifest
  osu.Desktop/osu.Desktop.csproj
Labels: size/M, type:reliability, platform:windows

#24178 Use OsuScoreProcessor in the scoring test scene
  osu.Game.Tests/Visual/Gameplay/TestSceneScoring.cs
Labels: type:testing, size/XS

#24175 Add beatmap drain time check
  osu.Game.Tests/Editing/Checks/CheckDrainTimeTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckDrainTime.cs
Labels: area:editor, size/L

#24169 Backpopulate stable ScoreV2 scores with ScoreV2 system mod (and don't recalculate their total score)
  osu.Game.Rulesets.Catch.Tests/CatchLegacyModConversionTest.cs
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania.Tests/ManiaLegacyModConversionTest.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu.Tests/OsuLegacyModConversionTest.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoLegacyModConversionTest.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Beatmaps/Legacy/LegacyMods.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Rulesets/Mods/ModScoreV2.cs
  osu.Game/Rulesets/Ruleset.cs
Labels: area:scoring, size/L, next-release

#24187 Update localisation analyser packages
  .config/dotnet-tools.json
  osu.Game/osu.Game.csproj
Labels: area:tooling, size/XS

#24181 Fix slider blueprint placement when ending placement outside the playfield
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchPlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/S

#24188 Fix incorrect slider stacking on very old beatmaps
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
Labels: area:beatmap-parsing, size/S

#23917 Fix 1 million score being unachievable on some mania beatmaps
  osu.Game.Rulesets.Mania.Tests/TestSceneMaximumScore.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
Labels: ruleset:osu!mania, area:scoring, size/L, next-release

#24210 Optimize editor save action for huge Realm database
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: size/S

#24196 Fix osu!taiko swells eating input after already being judged
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneSwellJudgements.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
Labels: ruleset:osu!taiko, area:gameplay, size/M, next-release

#24203 Make results / statistics visual testing easier with better data population
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
Labels: type:testing, size/L

#24206 Fix some minor issues with results screen
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdown.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
Labels: type:code-quality, area:results, size/M

#24202 Allow saving changes to mod presets using enter key
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetColumn.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Graphics/UserInterfaceV2/OsuPopover.cs
  osu.Game/Overlays/Mods/AddPresetPopover.cs
  osu.Game/Overlays/Mods/EditPresetPopover.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:behavioural, size/M, area:overlay-mod-select

#24183 Resolve `Clipboard` via DI
  osu.Android.props
  osu.Game/Graphics/ScreenshotManager.cs
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:code-quality, size/M

#24204 Touch up various results screen component's metrics
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
  osu.Game/Screens/Ranking/Statistics/PerformanceBreakdownChart.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticTable.cs
  osu.Game/Screens/Ranking/Statistics/StatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/StatisticItemContainer.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/User/OverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/RankingChangeRow.cs
Labels: area:results, size/L

#24190 Replace emoji unicode with `[emoji]`
  osu.Game.Tests/Chat/MessageFormatterTests.cs
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: area:overlay-chat, size/M

#24197 Allow autoplay to fail
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Rulesets/Mods/ModAutoplay.cs
  osu.Game/Rulesets/Mods/ModFailCondition.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
Labels: area:gameplay, size/S

#24199 Update design of "revert to default" button
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/Settings/TestSceneRestoreDefaultValueButton.cs
  osu.Game.Tests/Visual/Settings/TestSceneRevertToDefaultButton.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsItem.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/RevertToDefaultButton.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: area:settings, size/L

#24219 Fix osu!mania scores failing to convert to new standardised score due to cast failure
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: size/S, type:reliability

#24235 Compute the top local rank directly without an expensive detach call
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
Labels: size/XS

#24233 Fix taiko maps sporadically not completing with Hidden mod active
  osu.Game.Rulesets.Taiko.Tests/Judgements/JudgementTest.cs
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneDrumRollJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneHitJudgements.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModHidden.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableStrongNestedHit.cs
Labels: ruleset:osu!taiko, area:gameplay, size/L

#24246 Fix potential crash in confirm exit dialog while attempting to exit game
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
Labels: size/S, type:reliability, next-release

#24255 Fix several issues in multiplayer exit-on-disconnection flow
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/S, type:reliability, next-release

#24256 Use `FontAwesome.Download` for updates instead of `FontAwesome.Upload`
  osu.Game/Updater/NoActionUpdateManager.cs
  osu.Game/Updater/SimpleUpdateManager.cs
  osu.Game/Updater/UpdateManager.cs
Labels: type:cosmetic, area:overlay-notifications, size/S

#24189 Re-enable connection retrying on discord connector
  osu.Desktop/DiscordRichPresence.cs
  osu.Desktop/osu.Desktop.csproj
Labels: type:performance, type:online, size/XS

#24236 Remove android manifest overlay
  osu.Android.props
  osu.Android/Properties/AndroidManifestOverlay.xml
Labels: type:code-quality, size/S

#24295 Fix deadlock when logging out while at the create match screen
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySubScreen.cs
Labels: area:multiplayer, size/M, type:reliability

#24290 Change offset calibration control to adjust for all difficulties of the current beatmap set
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, type:behavioural, size/S

#24289 Change beatmap editor to always select the closest object in time
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
Labels: area:editor, type:behavioural, size/L

#24291 Add support for cyclic selection in beatmap editor
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, type:behavioural, size/L

#24308 General improvements to tournament client ladder editor
  osu.Game.Tournament/Screens/Editors/LadderEditorScreen.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
  osu.Game.Tournament/Screens/Ladder/LadderDragContainer.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/M

#24294 Add ability to toggle all free mods quickly at multiplayer song select
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreeMods.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
Labels: type:behavioural, area:multiplayer, size/L

#24220 Update various editor design language (and centre playfield / timeline)
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneBeatDivisorControl.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimelineTickDisplay.cs
  osu.Game/Graphics/UserInterface/Nub.cs
  osu.Game/Graphics/UserInterface/OsuCheckbox.cs
  osu.Game/Graphics/UserInterface/RoundedSliderBar.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/MarkerPart.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/CentreMarker.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointGroup.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TopPointPiece.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: area:editor, type:cosmetic, size/L

#24309 General improvements to tournament client team editor and buttons
  osu.Game.Tournament/SaveChangesOverlay.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game.Tournament/Screens/Setup/ActionableInfo.cs
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
  osu.Game.Tournament/Screens/Setup/TournamentSwitcher.cs
  osu.Game.Tournament/TournamentSceneManager.cs
  osu.Game.Tournament/TourneyButton.cs
  osu.Game/Overlays/Settings/SettingsNumberBox.cs
Labels: type:cosmetic, area:tournament, size/L

#24292 Fix some UI elements in legacy skins not always aligning correctly
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:skinning, size/S

#24313 Change tournament tests to use development folder
  osu.Game.Tournament.Tests/TournamentTestRunner.cs
Labels: type:testing, area:tournament, size/XS

#24328 Make list of tournaments in tourney client SetupScreen dropdown alphabetically sorted
  osu.Game.Tournament/IO/TournamentStorage.cs
Labels: size/XS

#24314 Reduce spacing in settings items
  osu.Game/Overlays/Settings/SettingsItem.cs
Labels: type:cosmetic, area:settings, size/XS

#24327 Add reload tournaments list button to tourney setup screen
  osu.Game.Tournament/Screens/Setup/TournamentSwitcher.cs
Labels: size/S

#24317 Fix "key count" setting showing as "circle size" in osu!mania editor
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, size/M

#24259 Add checks for breaks obtained via external edits
  osu.Game.Tests/Editing/Checks/CheckBreaksTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckBreaks.cs
Labels: area:editor, size/L

#24186 Add ability to export beatmaps from editor in a stable-compatible format
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/BeatmapExporter.cs
  osu.Game/Database/LegacyArchiveExporter.cs
  osu.Game/Database/LegacyBeatmapExporter.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Rulesets/Objects/BezierConverter.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/L

#24334 Shows the specific score difference between the two teams
  osu.Game.Tournament/Screens/Gameplay/Components/TournamentMatchScoreDisplay.cs
Labels: area:tournament, size/S

#24333 Adjust metrics of editor menu spacers (and make visible)
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
Labels: area:editor, size/S

#24338 Enable AOT compilation on iOS release builds for much better performance
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:performance, platform:iOS, size/S

#24339 Fix iOS visual tests having unusual bundle identifiers
  osu.Game.Rulesets.Catch.Tests.iOS/Info.plist
  osu.Game.Rulesets.Mania.Tests.iOS/Info.plist
  osu.Game.Rulesets.Osu.Tests.iOS/Info.plist
  osu.Game.Rulesets.Taiko.Tests.iOS/Info.plist
  osu.Game.Tests.iOS/Info.plist
Labels: platform:iOS, size/S

#24347 Apply various visual and usability improvements to tournament ladder editor
  osu.Game.Tournament.Tests/Components/TestSceneDrawableTournamentMatch.cs
  osu.Game.Tournament/Screens/Editors/LadderEditorScreen.cs
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
Labels: area:tournament, size/L

#24349 Fix tournament client crashing occasionally when editing bracket
  osu.Game.Tournament/Components/DateTextBox.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
Labels: area:tournament, size/M

#24350 Fix beatmaps being queued for reprocessing every startup when logged out
  osu.Game/BackgroundBeatmapProcessor.cs
Labels: type:performance, size/S

#24348 Enforce a hard minimum window size for tournament client
  osu.Game.Tournament.Tests/Screens/TestSceneDrawingsScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneGameplayScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneLadderEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneLadderScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneMapPoolScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneRoundEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneScheduleScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSetupScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneShowcaseScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneStablePathSelectScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamIntroScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamWinScreen.cs
  osu.Game.Tournament.Tests/TournamentScreenTestScene.cs
  osu.Game.Tournament.Tests/TournamentTestScene.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: area:tournament, size/L

#24353 Fix uneven spacing on match connectors in tournament ladder screen
  osu.Game.Tournament/Screens/Ladder/Components/ProgressionPath.cs
Labels: type:cosmetic, area:tournament, size/XS

#24346 Use `DelayedLoadWrapper` in `TournamentBeatmapPanel` to avoid beatmap cover unload in map pool
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
Labels: area:tournament, size/S

#24331 Fix auto advance screens sometimes not advancing
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
Labels: area:tournament, size/M

#24284 Add confirmation dialog when performing dangerous actions in tournament client
  osu.Game.Tournament.Tests/Screens/TestSceneLadderEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneRoundEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneSeedingEditorScreen.cs
  osu.Game.Tournament.Tests/Screens/TestSceneTeamEditorScreen.cs
  osu.Game.Tournament.Tests/TournamentTestScene.cs
  osu.Game.Tournament/Screens/Editors/Components/DeleteRoundDialog.cs
  osu.Game.Tournament/Screens/Editors/Components/DeleteTeamDialog.cs
  osu.Game.Tournament/Screens/Editors/Components/LadderResetTeamsDialog.cs
  osu.Game.Tournament/Screens/Editors/Components/TournamentClearAllDialog.cs
  osu.Game.Tournament/Screens/Editors/LadderEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/RoundEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/Editors/TournamentEditorScreen.cs
  osu.Game.Tournament/TournamentGame.cs
Labels: area:tournament, size/L

#24356 Fix misalignment of selection box on schedule screen
  osu.Game.Tournament/Screens/Ladder/Components/DrawableTournamentMatch.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
Labels: area:tournament, size/S

#24288 Fix editor blueprints being selectable for too long when hit markers are enabled
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuComposerSelection.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/OsuSelectionBlueprint.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
  osu.Game/Rulesets/Edit/SelectionBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/M

#24305 Fix alive hitobjects blocking hits in taiko with HD
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneHitJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModHidden.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
Labels: ruleset:osu!taiko, area:gameplay, area:mods, size/M

#24208 Add kiai fountains to main menu
  osu.Game.Tests/Visual/Gameplay/TestSceneParticleSpewer.cs
  osu.Game.Tests/Visual/Menus/TestSceneStarFountain.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatSyncedContainer.cs
  osu.Game/Beatmaps/BeatSyncProviderExtensions.cs
  osu.Game/Beatmaps/IBeatSyncProvider.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Graphics/ParticleSpewer.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/Mods/MetronomeBeat.cs
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
  osu.Game/Screens/Edit/Timing/TapButton.cs
  osu.Game/Screens/Menu/KiaiMenuFountains.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/OsuLogo.cs
  osu.Game/Screens/Menu/StarFountain.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/osu.Game.csproj
Labels: area:main-menu, size/L

#24359 Fix `TestSceneUnknownMod` failing due to null reference
  osu.Game.Tests/Visual/Gameplay/TestSceneUnknownMod.cs
Labels: type:testing, size/XS

#24358 Show break time in tooltip at song select
  osu.Game.Tests/Editing/Checks/CheckDrainLengthTest.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckDrainLength.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/M

#24375 Add back the ability to close mod select using enter key
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/XS, area:overlay-mod-select

#24367 Fix attempting to export replay from results screen after play not working
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
Labels: area:results, size/M

#24377 Allow scrolling in tournament setup screen to avoid information ending up off-screen
  osu.Game.Tournament/Screens/Setup/SetupScreen.cs
Labels: area:tournament, size/S

#24357 Fix startup tournament population not recovering from null beatmaps
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
  osu.Game.Tournament/Models/RoundBeatmap.cs
  osu.Game.Tournament/Screens/Editors/RoundEditorScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
  osu.Game.Tournament/TournamentGameBase.cs
Labels: area:tournament, size/M

#24374 Fix osu!taiko editor playfield missing a piece
  osu.Game.Rulesets.Taiko/Edit/TaikoHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: area:editor, size/S

#24390 Fix potential startup crash due to early application of animations
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
Labels: size/XS, type:reliability

#24389 Allow ladder editor grid to scale with content
  osu.Game.Tournament/Screens/Editors/LadderEditorScreen.cs
  osu.Game.Tournament/Screens/Ladder/LadderScreen.cs
  osu.Game/Screens/Edit/Compose/Components/RectangularPositionSnapGrid.cs
Labels: area:tournament, size/M

#24360 Change spinner rotation animation to match input 1:1
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
Labels: ruleset:osu!, area:gameplay, size/XS

#24405 Add test scene for checking spinner judgements
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerJudgement.cs
Labels: ruleset:osu!, type:testing, size/L

#24386 Fix temporary auto mod (ctrl+enter at song select) not reverting in all scenarios
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: area:song-select, type:behavioural, size/M

#24361 Disallow interacting with the global track state in `Player` and `Editor`
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game.Tests/Visual/TestSceneOsuScreenStack.cs
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
  osu.Game/Overlays/Music/MusicKeyBindingHandler.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorLoader.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:editor, size/L

#24415 General visual improvements to mutliplayer spectatator screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid_Cell.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerGrid_Facade.cs
Labels: type:cosmetic, area:multiplayer, size/L, area:spectator

#24418 Fix now playing overlay background occasionally showing incorrect background
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:behavioural, size/M, area:overlay-now-playing

#24421 Fix nullability inspection in `NowPlayingOverlay`
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: size/XS

#24419 Fix replay being unexpected exported at results screen after score switch
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
Labels: type:behavioural, area:results, size/S

#24422 Fix multiplayer match screen being exited from when not current
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/XS, type:reliability

#24424 Fix osu! logo suddenly disappearing during rapid exit
  osu.Game/Screens/Menu/MainMenu.cs
Labels: type:cosmetic, area:main-menu, size/S

#24341 Refactor rotation handling in editor to facilitate reuse
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionRotationHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionRotationHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionRotationHandler.cs
  osu.Game/Utils/GeometryUtils.cs
Labels: type:code-quality, area:editor, size/XL, area:skin-editor

#24430 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneUpdateableBeatmapSetCover.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S
