Repository ppy/osu, pull requests merged in 2023-02, with the labels that each got.

#22472 Fix incorrect naming of badge header container
  osu.Game/Overlays/Profile/Header/BadgeHeaderContainer.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
Labels: type:code-quality, area:overlay-user-profile, size/XS

#22478 Add texelSize slider to `TriangleBorder` shader test scene
  osu.Game.Tests/Visual/Background/TestSceneTriangleBorderShader.cs
Labels: size/M

#22449 Fix beatmap listing potentially not sorting by relevance when searching via metadata
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingSortTabControl.cs
Labels: type:UI, size/S, area:overlay-beatmap-listing

#22477 Remove fastlane build scripts
  Gemfile
  Gemfile.lock
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/Matchfile
  fastlane/Pluginfile
  fastlane/README.md
Labels: area:tooling, size/XL

#22483 Output gameplay clock progress in `PlayerTestScene`s
  osu.Game/Tests/Visual/PlayerTestScene.cs
Labels: type:testing, size/S

#22484 Add more logging in `TestScenePause` to better understand test failures
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
Labels: type:testing, size/XS

#22430 Apply NRT to all skin editor classes
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Skinning/Components/BigBlackBox.cs
  osu.Game/Skinning/Editor/SkinBlueprint.cs
  osu.Game/Skinning/Editor/SkinBlueprintContainer.cs
  osu.Game/Skinning/Editor/SkinEditor.cs
  osu.Game/Skinning/Editor/SkinEditorOverlay.cs
  osu.Game/Skinning/Editor/SkinEditorSceneLibrary.cs
  osu.Game/Skinning/Editor/SkinSelectionHandler.cs
  osu.Game/Skinning/LegacyRollingCounter.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/LegacySkinDecoder.cs
  osu.Game/Skinning/LegacySpriteText.cs
  osu.Game/Skinning/SkinCustomColourLookup.cs
  osu.Game/Skinning/SkinnableSound.cs
Labels: type:code-quality, size/L

#22428 Implement Masking property for `TrianglesV2` background
  osu.Game.Tests/Visual/Background/TestSceneTrianglesV2Background.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
Labels: type:UI, size/L

#22402 Improve argon osu!mania hold notes visuals and fix reverse scroll direction looking wrong
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHoldNoteTailPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonNotePiece.cs
Labels: ruleset:osu!mania, area:gameplay, size/M

#22421 Add movement to legacy misses in osu ruleset
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
Labels: ruleset:osu!, area:skinning, size/M

#22281 Add preview time setting check
  osu.Game.Tests/Editing/Checks/CheckPreviewTimeTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckPreviewTime.cs
Labels: area:editor, size/L

#22490 Move skin editor to overlays namespace
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorComponentsList.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Navigation/TestSceneEditDefaultSkin.cs
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprint.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprintContainer.cs
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
  osu.Game/Overlays/SkinEditor/SkinEditorSceneLibrary.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSettingsToolbox.cs
Labels: type:code-quality, size/M

#22494 Improve transition and "non-skinnable screen" display in skin editor
  osu.Game/Overlays/SkinEditor/SkinBlueprintContainer.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/M, area:skin-editor

#22000 Make replays pause with middle mouse button instead of exiting
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/InputSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/GlobalKeyBindingsSection.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:replay, type:input, size/M

#22361 Delete files when importing on Android
  osu.Android/AndroidImportTask.cs
  osu.Android/OsuGameActivity.cs
  osu.Game/Database/ImportTask.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: platform:android, size/L

#22489 Add localisation support for Skin Editor components
  osu.Game/Localisation/HUD/BarHitErrorMeterStrings.cs
  osu.Game/Localisation/HUD/ColourHitErrorMeterStrings.cs
  osu.Game/Localisation/HUD/GameplayAccuracyCounterStrings.cs
  osu.Game/Localisation/HUD/JudgementCounterDisplayStrings.cs
  osu.Game/Localisation/HUD/SongProgressStrings.cs
  osu.Game/Localisation/SkinComponents/BeatmapAttributeTextStrings.cs
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Localisation/SkinEditorStrings.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
  osu.Game/Screens/Play/HUD/GameplayAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
  osu.Game/Skinning/Components/TextElement.cs
  osu.Game/Skinning/FontAdjustableSkinComponent.cs
  osu.Game/Skinning/SkinnableSprite.cs
Labels: type:localisation, size/L

#22495 Avoid showing skin save message when changing scenes after making no changes
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
  osu.Game/Skinning/SkinImporter.cs
  osu.Game/Skinning/SkinManager.cs
Labels: type:UX, size/M, area:skin-editor

#22491 Specify `texelSize` value in the `Triangles` background
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/osu.Game.csproj
Labels: type:UI, size/XS

#22502 Fix skin editor component list having uneven padding
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
  osu.Game/Screens/Edit/Components/EditorSidebar.cs
Labels: type:UI, size/XS, area:skin-editor

#22227 Change beatmap context menu items in OnlinePlaySongSelect
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, type:UX, size/M

#22518 Fix expanded beatmap cards getting cut off at the end of profile sections
  osu.Game/Overlays/Profile/ProfileSection.cs
Labels: type:UI, area:overlay-user-profile, size/S

#22498 Allow snapping objects to slider ends/repeats
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
Labels: ruleset:osu!, area:editor, size/S

#22504 Fix beatmap editor positional nudging not being undoable
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/S

#22109 Add ability to change osu!taiko touch screen layout from KDDK to DDKK/KKDD alternative control schemes
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumTouchInputArea.cs
  osu.Game.Rulesets.Taiko/Configuration/TaikoRulesetConfigManager.cs
  osu.Game.Rulesets.Taiko/Configuration/TaikoTouchControlScheme.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoSettingsSubsection.cs
  osu.Game.Rulesets.Taiko/UI/DrumTouchInputArea.cs
Labels: ruleset:osu!taiko, area:gameplay, size/L

#22516 Fix BPM counter value being affected by non-mod-related playback rate changes
  osu.Game/Screens/Play/HUD/BPMCounter.cs
Labels: type:UI, area:skinning, size/XS

#22505 Fix some clickable elements having no hover and click sounds
  osu.Game/Graphics/Containers/OsuClickableContainer.cs
  osu.Game/Graphics/UserInterface/HoverClickSounds.cs
  osu.Game/Graphics/UserInterface/HoverSampleDebounceComponent.cs
  osu.Game/Graphics/UserInterface/OsuButton.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Select/Carousel/CarouselHeader.cs
Labels: size/M, type:audio

#22515 Allow importing beatmaps via file associations on desktop platforms
  osu.Desktop/OsuGameDesktop.cs
  osu.Game.Tests/Visual/Navigation/TestSceneInterProcessCommunication.cs
Labels: size/M

#22357 Make probationary groups a bit transparent
  osu.Game.Tests/Visual/Online/TestSceneGroupBadges.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/Components/GroupBadge.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22535 Ensure pause sample loop is stopped on exiting player
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S, next-release

#22531 Apply single inspection from newer inspectcode versions
  osu.Game/Overlays/ChatOverlay.cs
Labels: type:code-quality, size/XS

#22532 Fix storyboard outro time potentially running too long
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game/Storyboards/CommandLoop.cs
  osu.Game/Storyboards/CommandTimelineGroup.cs
Labels: area:storyboard, size/S

#22507 Fix comments having too much padding at the bottom
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/ReplyCommentEditor.cs
Labels: type:UI, size/S, area:comments

#22545 Fix beatmap cards not showing context menu on user profile
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22506 Add very basic skin editor undo / redo support
  osu.Game.Tests/Editing/BeatmapEditorChangeHandlerTest.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditorChangeHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSettingsToolbox.cs
  osu.Game/Screens/Edit/BeatmapEditorChangeHandler.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
  osu.Game/Screens/Edit/IEditorChangeHandler.cs
  osu.Game/Screens/Edit/TransactionalCommitComponent.cs
  osu.Game/Screens/Play/HUD/SkinnableInfo.cs
  osu.Game/Skinning/ISkinnableTarget.cs
  osu.Game/Skinning/SkinnableTargetContainer.cs
Labels: size/L, area:skin-editor, next-release

#22568 Address todos relating to init-only usages
  osu.Game/Overlays/Profile/Header/Components/RankGraph.cs
  osu.Game/Overlays/Profile/Sections/Historical/UserHistoryGraph.cs
  osu.Game/Overlays/Profile/UserGraph.cs
  osu.Game/Tests/Visual/DependencyProvidingContainer.cs
Labels: type:code-quality, size/M

#22566 Display tournament banner on user profile
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/Profile/Header/BannerHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/DrawableTournamentBanner.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Users/TournamentBanner.cs
Labels: type:UI, area:overlay-user-profile, size/L

#22553 Snap Taiko hit objects to match Stable
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: ruleset:osu!taiko, size/S

#22587 Make `LargeBonus` a valid `HitResult` in taiko
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
Labels: ruleset:osu!taiko, area:results, size/XS

#22554 Improve readability of `AccuracyCircle`
  osu.Game.Tests/Visual/Ranking/TestSceneAccuracyCircle.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankBadge.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankNotch.cs
Labels: type:UI, area:results, size/L

#22589 Always add to additions soundbank in `convertSoundType`
  osu.Game.Rulesets.Taiko.Tests/TaikoBeatmapConversionTest.cs
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/file-hitsamples-expected-conversion.json
  osu.Game.Rulesets.Taiko/Resources/Testing/Beatmaps/file-hitsamples.osu
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: ruleset:osu!taiko, area:beatmap-parsing, size/M

#22588 Remove code bloat from `ClickableAvatar`
  osu.Game/Users/Drawables/ClickableAvatar.cs
  osu.Game/Users/Drawables/UpdateableAvatar.cs
Labels: type:code-quality, size/M

#22607 Fix skin component previews on toolbox buttons having incorrect size for one frame
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
Labels: type:UI, size/XS, area:skin-editor

#22600 Song progress incorrectly displaying `timeLeft` counter after rotation
  osu.Game/Screens/Play/HUD/SongProgressInfo.cs
Labels: area:gameplay, size/XS

#22529 Add support for `Watching` and `Spectating` activities in `ReplayPlayer` and `SoloSpectatingPlayer`
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloSpectatorPlayer.cs
  osu.Game/Users/ExtendedUserPanel.cs
  osu.Game/Users/UserActivity.cs
Labels: type:online, size/M

#22598 Fix "skip" key binding no longer working in replay playback
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Tests/Visual/RateAdjustedBeatmapTestScene.cs
Labels: area:gameplay, size/M

#22544 Attempt to fix channel join / leave loop
  osu.Game/Online/Chat/ChannelManager.cs
Labels: area:overlay-chat, size/S

#22608 Update realm and other dependencies
  Directory.Build.props
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/osu.Game.csproj
Labels: size/M, dependencies

#22597 Automatically select the closest timing point on entering the timing screen
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: area:editor, type:UX, size/L

#22617 Move taiko-specific property out of `DrawableHitObject`
  osu.Game.Rulesets.Taiko/Mods/TaikoModClassic.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: type:code-quality, size/S

#22624 Add `TestingBeatmap` and `ModdingBeatmap` activities to beatmap editor screens
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloSpectatorPlayer.cs
  osu.Game/Users/UserActivity.cs
Labels: type:online, area:editor, size/M

#22604 Add ability to abort dangerous dialog button on hover lost
  osu.Game/Graphics/Containers/HoldToConfirmContainer.cs
  osu.Game/Overlays/Dialog/PopupDialogDangerousButton.cs
Labels: type:UX, size/M, area:overlays

#22628 Remove unnecessary containers in `LetterboxOverlay`
  osu.Game.Tests/Visual/Gameplay/TestSceneLetterboxOverlay.cs
  osu.Game/Screens/Play/Break/LetterboxOverlay.cs
Labels: size/M

#22633 Fix `OsuClickableContainer` sounds not being blocked by nested drawables
  osu.Game/Graphics/Containers/OsuClickableContainer.cs
Labels: size/XS, type:audio

#21491 New song select footer design implementation
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectFooterV2.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonModsV2.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonOptionsV2.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonRandomV2.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonV2.cs
  osu.Game/Screens/Select/FooterV2/FooterV2.cs
Labels: area:song-select, type:UI, size/XL

#22629 Select skin by clicking on an import notification
  osu.Game/OsuGame.cs
Labels: type:UX, area:skinning, size/S

#22632 Fix beatmap card song preview progress sometimes showing past progress for one frame
  osu.Game/Audio/PreviewTrack.cs
Labels: type:UI, size/XS, area:overlay-beatmap-listing

#22599 Fix osu!mania long notes not displaying correctly since recent update
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacyNoteBodyStyle.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset:osu!mania, area:skinning, size/L

#22646 Fix exports failing if a directory exists with the proposed filename
  osu.Game/Database/LegacyExporter.cs
Labels: area:settings, size/XS, type:reliability

#22647 Simplify and rename `SkinnableTargetComponentsContainer`
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/DefaultSkinComponentsContainer.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinnableTargetContainer.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: type:code-quality, area:skinning, size/M

#22292 Move MaximumJudgementOffset to HitObject
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteTail.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
  osu.Game.Rulesets.Mania/Objects/TailNote.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRollTick.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: size/M, area:ruleset-api, area:pooling

#22658 Refactor `GameplaySampleTriggerSource` test to not be realtime dependent
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
Labels: type:testing, size/M

#22645 Adjust song select background dimming to be more evenly applied
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Play/ScreenWithBeatmapBackground.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Screens/Select/WedgeBackground.cs
Labels: area:song-select, size/M

#22338 Hide `ResumeOverlay` when `OsuModAutopilot` is enabled
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAutopilot.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Tests/Visual/ModTestScene.cs
Labels: area:gameplay, area:mods, type:UI, size/M

#22648 Refactor structure and naming of skin-related classes
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchPlayerLegacySkin.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapSkinFallbacks.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Extensions/DrawableExtensions.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprint.cs
  osu.Game/Overlays/SkinEditor/SkinBlueprintContainer.cs
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditorChangeHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Screens/Play/HUD/BPMCounter.cs
  osu.Game/Screens/Play/HUD/ClicksPerSecond/ClicksPerSecondCounter.cs
  osu.Game/Screens/Play/HUD/ComboCounter.cs
  osu.Game/Screens/Play/HUD/DefaultAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/DefaultHealthDisplay.cs
  osu.Game/Screens/Play/HUD/DefaultScoreCounter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/HitErrorMeter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
  osu.Game/Screens/Play/HUD/PerformancePointsCounter.cs
  osu.Game/Screens/Play/HUD/SongProgress.cs
  osu.Game/Screens/Play/HUD/UnstableRateCounter.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/Components/BigBlackBox.cs
  osu.Game/Skinning/FontAdjustableSkinComponent.cs
  osu.Game/Skinning/GameplaySkinComponentLookup.cs
  osu.Game/Skinning/GlobalSkinComponentLookup.cs
  osu.Game/Skinning/ISerialisableDrawable.cs
  osu.Game/Skinning/ISerialisableDrawableContainer.cs
  osu.Game/Skinning/ISkin.cs
  osu.Game/Skinning/ISkinComponentLookup.cs
  osu.Game/Skinning/ISkinSource.cs
  osu.Game/Skinning/LegacyAccuracyCounter.cs
  osu.Game/Skinning/LegacyBeatmapSkin.cs
  osu.Game/Skinning/LegacyComboCounter.cs
  osu.Game/Skinning/LegacyHealthDisplay.cs
  osu.Game/Skinning/LegacyScoreCounter.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/SerialisableDrawableExtensions.cs
  osu.Game/Skinning/SerialisedDrawableInfo.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinComponentsContainer.cs
  osu.Game/Skinning/SkinComponentsContainerLookup.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
  osu.Game/Skinning/SkinReloadableDrawable.cs
  osu.Game/Skinning/SkinTransformer.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/Skinning/TrianglesSkin.cs
  osu.Game/Tests/Visual/LegacySkinPlayerTestScene.cs
Labels: type:code-quality, area:skinning, size/XL

#22672 Improve the feel of hovering components in the skin editor toolbox
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
Labels: type:UX, size/M, area:skin-editor

#22675 Make `CompletionText` in `ProgressNotification` a `LocalisableString`
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: type:localisation, size/XS

#22671 Only show skin blueprint labels when selected or hovering
  osu.Game/Overlays/SkinEditor/SkinBlueprint.cs
Labels: size/S, area:skin-editor

#22686 Add toggle to disable automatic seeking to object after placement
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneObjectPlacement.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestScenePlacementBeforeTrackStart.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/L

#22670 Improve the appearance of skin blueprints
  osu.Game/Overlays/SkinEditor/SkinBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: size/L, area:skin-editor

#22291 Move judgement result revert logic to Playfield
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch/UI/CatchComboDisplay.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfield.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneUnstableRateCounter.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Playfield.cs
Labels: area:results, size/L, area:ruleset-api

#22669 Add triangles animation to mod select overlay headers
  osu.Game/Overlays/Mods/ModSelectColumn.cs
Labels: area:song-select, size/S

#22697 Allow tablet area to be dragged
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
Labels: size/S

#22673 Add support for per-ruleset skin layouts
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SkinnableLighting.cs
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/SerialisedDrawableInfo.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinComponentsContainer.cs
  osu.Game/Skinning/SkinComponentsContainerLookup.cs
  osu.Game/Skinning/SkinImporter.cs
  osu.Game/Skinning/SkinLayoutInfo.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: area:skinning, size/L

#22543 Fix hit circle late-miss fading differences compared to stable
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLateFade.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
Labels: ruleset:osu!, area:gameplay, size/L

#22650 Add skin editor clipboard support
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/L, area:skin-editor

#22674 Add the ability to select a target layer in the skin editor
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Skinning/SkinComponentsContainerLookup.cs
Labels: size/L, area:skin-editor

#22635 Use `Overlays` container rather than `KeyBindingInputManager` for flashlight
  osu.Game.Rulesets.Osu/Mods/InputBlockingMod.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowsTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
Labels: type:code-quality, size/M

#22659 Fix `GameplaySampleTriggerSource` not considering nested objects when determining the best sample to play
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
Labels: area:gameplay, size/L

#22748 Fix grammar mistake in taiko relax mod description
  osu.Game.Rulesets.Taiko/Mods/TaikoModRelax.cs
Labels: type:code-quality, size/XS

#22751 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#22749 Rename `SettingSource` tests to match attribute name
  osu.Game.Tests/Mods/SettingSourceAttributeTest.cs
Labels: type:code-quality, type:testing, size/XS
