Repository ppy/osu, pull requests merged in 2023-12, with the labels that each got.

#25618 Fix chat overlay top bar icon being incorrect
  osu.Game/Overlays/Chat/ChatOverlayTopBar.cs
Labels: type:cosmetic, area:overlay-chat, size/XS

#25627 Fix overlapping chat links crashing the game
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: area:overlay-chat, size/S, type:reliability

#25665 Fix several edge cases in skin editor gameplay scene opening flow
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/M, type:reliability, area:skin-editor

#25671 Uncomment net6.0 code and remove old code in `BeatmapListingOverlay`
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:code-quality, size/S

#25675 Changed the LabelledFileChooser in the setup to show the file name of the file that is was selected
  osu.Game/Localisation/EditorSetupStrings.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: size/S

#25679 Improve song select search performance
  osu.Game/Beatmaps/BeatmapInfoExtensions.cs
  osu.Game/Beatmaps/BeatmapMetadataInfoExtensions.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: type:performance, area:song-select, size/L

#25637 Add ability for the host to abort an in-progress match
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game/Online/Multiplayer/GameplayAbortReason.cs
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Overlays/Dialog/DangerousActionDialog.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#25672 Fix `ArgonHealthDisplay` sometimes behaving weirdly on miss judgements (alternative)
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
Labels: type:behavioural, area:skinning, size/L

#25686 Fix searching at song select matching incorrect ruleset
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
Labels: area:song-select, size/S

#25687 Fix being able to change ruleset / beatmap when opening skin editor from main menu
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/XS, area:skin-editor

#25693 Simplify user presence structures for serialisability
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game.Tests/Visual/Online/TestSceneUserClickableAvatar.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Online/SignalRWorkaroundTypes.cs
  osu.Game/Overlays/Login/LoginPanel.cs
  osu.Game/Users/ExtendedUserPanel.cs
  osu.Game/Users/UserActivity.cs
  osu.Game/Users/UserStatus.cs
Labels: type:online, size/L

#25694 Display other users' online presence state in dashboard overlay
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyOnlineDisplay.cs
  osu.Game/Online/Metadata/IMetadataClient.cs
  osu.Game/Online/Metadata/IMetadataServer.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/Online/OnlineStatusNotifier.cs
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
  osu.Game/Users/ExtendedUserPanel.cs
  osu.Game/Users/UserPresence.cs
Labels: type:online, size/XL

#25689 Fix osu!taiko slider velocity being written incorrectly to `.osu` file on export
  osu.Game.Rulesets.Taiko.Tests/Editor/TestSceneTaikoEditorSaving.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: ruleset/osu!taiko, area:beatmap-parsing, area:editor, size/L

#25702 Re-fix mania conversion following new discoveries
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/100374-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/20544-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/basic-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/zero-length-slider-expected-conversion.json
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PatternGenerator.cs
Labels: ruleset/osu!mania, area:beatmap-parsing, size/L, next release

#25712 Fix osu!mania beatmap conversions sometimes having the wrong key count
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapConversionTest.cs
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/1450162-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/1450162.osu
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
Labels: ruleset/osu!mania, area:beatmap-parsing, size/L

#24166 Modify osu! standardised scoring to introduce a combo exponent
  osu.Game.Rulesets.Catch/Difficulty/CatchLegacyScoreSimulator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreSimulator.cs
  osu.Game.Rulesets.Osu/Scoring/OsuScoreProcessor.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Rulesets/Scoring/Legacy/LegacyScoreAttributes.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: ruleset/osu!, area:scoring, size/L

#25727 Fix mania Autoplay mod missing 0ms hold notes
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModAutoplay.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
Labels: size/M

#22499 Use stable sort for catch hyperdash generation
  osu.Game.Rulesets.Catch.Tests/TestSceneHyperDash.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmap.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset/osu!catch, area:gameplay, size/M

#25741 Fix editor test not waiting for editor to load
  osu.Game.Tests/Visual/Editing/TestSceneOpenEditorTimestamp.cs
Labels: area:editor, type:testing, size/S

#24648 Add check for delayed hitsounds
  osu.Game.Tests/Editing/Checks/CheckDelayedHitsoundsTest.cs
  osu.Game.Tests/Resources/Samples/hitsound-consequent-delay.wav
  osu.Game.Tests/Resources/Samples/hitsound-delay.wav
  osu.Game.Tests/Resources/Samples/hitsound-minor-delay.wav
  osu.Game.Tests/Resources/Samples/hitsound-no-delay.wav
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckDelayedHitsounds.cs
  osu.Game/Rulesets/Edit/Checks/CheckTooShortAudioFiles.cs
  osu.Game/Rulesets/Edit/Checks/Components/AudioCheckUtils.cs
Labels: area:editor, size/L

#25740 Fix IgnoreMiss judgements not updating accuracy
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/HUD/GameplayAccuracyCounter.cs
Labels: type:behavioural, area:scoring, size/M

#25746 Add `IsLegacyScore` to `SoloScoreInfo`
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: type:code-quality, size/XS

#25743 Merge everything at once
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/FreehandSliderToolboxGroup.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerProgressArc.cs
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentActions.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuDropdown.cs
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Graphics/UserInterface/BarGraph.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/Graphics/UserInterface/SegmentedGraph.cs
  osu.Game/Graphics/UserInterface/ShearedSearchTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/Settings/SettingsDropdown.cs
  osu.Game/Rulesets/Configuration/RulesetConfigManager.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Skinning/ISerialisableDrawable.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#25658 Improve free-hand drawing of sliders to the editor
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/FreehandSliderToolboxGroup.cs
Labels: size/L

#25711 Display osu!mania keycount in song select carousel panels and details
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Beatmaps/BeatmapDifficulty.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/IBeatmapDifficultyInfo.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Rulesets/ILegacyRuleset.cs
  osu.Game/Rulesets/Scoring/Legacy/LegacyBeatmapConversionDifficultyInfo.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: ruleset/osu!mania, area:song-select, size/L

#25747 Fix hit error displays not clearing on seek
  osu.Game/Screens/Play/GameplayClockContainer.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
Labels: area:gameplay, size/S

#25744 Adjust some mod multipliers for initial leaderboard sanity
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Rulesets/Mods/ModClassic.cs
  osu.Game/Rulesets/Mods/ModSynesthesia.cs
  osu.Game/Rulesets/Mods/RateAdjustModHelper.cs
Labels: area:gameplay, size/S

#25749 Move object counts to BeatmapInfo
  osu.Game.Tournament/Models/TournamentBeatmap.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Beatmaps/BeatmapDifficulty.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/IBeatmapDifficultyInfo.cs
  osu.Game/Beatmaps/IBeatmapInfo.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Rulesets/Scoring/Legacy/LegacyBeatmapConversionDifficultyInfo.cs
Labels: type:code-quality, size/M

#25588 Add button to compress log files for bug submission
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
Labels: area:settings, size/M

#25691 Fix skin editor crashing in some circumstances when opened in main menu
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/S, type:reliability, area:skin-editor

#25673 Fix `ArgonHealthDisplay` not displaying miss correctly during initial transition
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/HealthDisplay.cs
Labels: type:behavioural, area:skinning, size/S

#24642 Show adjusted AR/OD when using DT/HT
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/VerticalAttributeDisplay.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: area:song-select, size/L

#25726 Fix catch applying positional clamping too early
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch.Tests/Resources/Testing/Beatmaps/112643-expected-conversion.json
  osu.Game.Rulesets.Catch.Tests/Resources/Testing/Beatmaps/112643.osu
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
Labels: ruleset/osu!catch, area:beatmap-parsing, size/XL

#25748 Allow sliders to track if hit early
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderEarlyHitJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Skinning/FollowCircle.cs
Labels: ruleset/osu!, area:gameplay, size/L

#25756 Add setting for mod select search box focusing by default
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/UserInterfaceStrings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
Labels: type:behavioural, size/M, area:overlay-mod-select

#25575 Improve handling of beatmap collection changes in `CollectionDropdown`
  osu.Game.Tests/Visual/SongSelect/TestSceneFilterControl.cs
  osu.Game/Collections/CollectionDropdown.cs
Labels: area:song-select, type:behavioural, size/M

#25757 Show search bar by default in language and collection dropdowns
  osu.Game/Collections/CollectionDropdown.cs
  osu.Game/Overlays/Settings/Sections/General/LanguageSettings.cs
Labels: type:cosmetic, size/XS, next release

#25759 Fix adjusted attributes tooltip not updating without mods
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: area:song-select, size/S, next release

#25762 Fix `GetRateAdjustedDisplayDifficulty()` (partially incorrectly) locally reimplementing difficulty range calculations
  osu.Game.Rulesets.Catch.Tests/CatchRateAdjustedDisplayDifficultyTest.cs
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Osu.Tests/OsuRateAdjustedDisplayDifficultyTest.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHitWindows.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoRateAdjustedDisplayDifficultyTest.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoHitWindows.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Beatmaps/IBeatmapDifficultyInfo.cs
Labels: type:code-quality, size/L, area:ruleset-api, next release

#25768 Reduce some allocations in SongSelect in the mania ruleset
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
Labels: type:performance, area:song-select, size/XS

#25760 Fix `AdjustedAttributesTooltip` being broken by design
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
Labels: area:song-select, type:behavioural, next release

#25770 Show back button when spectating
  osu.Game/Screens/Play/SpectatorPlayer.cs
Labels: area:gameplay, size/XS

#25774 Fix star rating display changing width depending on number displayed
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/VerticalAttributeDisplay.cs
Labels: area:song-select, type:cosmetic, size/M

#25777 Fix column sizing exceeding screen width on tablets
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/ColumnFlow.cs
Labels: ruleset/osu!mania, platform/mobile, size/M

#25787 Fix fallback column colors for legacy split stage mania skins
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaColumnElement.cs
Labels: size/XS

#25775 Allow new common cases when a user is locating a stable osu! install directory for import
  osu.Game/Database/LegacyImportManager.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/StableDirectorySelectScreen.cs
Labels: size/L, next release, area:import

#25797 Make osu! ruleset once again use the lazer default HP drain
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuLegacyHealthProcessor.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Scoring/OsuLegacyHealthProcessor.cs
  osu.Game/Rulesets/Mods/IApplicableHealthProcessor.cs
  osu.Game/Screens/Play/Player.cs
Labels: ruleset/osu!, area:gameplay, size/M

#25808 Populate MaxCombo scoring attrib for non-osu rulesets
  osu.Game.Rulesets.Catch/Difficulty/CatchLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaLegacyScoreSimulator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
Labels: area:scoring, size/XS

#25776 Add slider head circle late hit lenience
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderLateHitJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/IRequireTracking.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SliderInputManager.cs
Labels: ruleset/osu!, area:gameplay, size/XXL, next release

#25823 Don't convert TaikoModRandom to/from legacy mods
  osu.Game.Rulesets.Taiko.Tests/TaikoLegacyModConversionTest.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
Labels: size/S

#25833 Fix song select's carousel scroll position getting reset on background processing
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Graphics/Containers/UserTrackingScrollContainer.cs
Labels: area:song-select, size/S, next release

#25839 Fix crash when creating collections named "All beatmaps" or "Manage collections..."
  osu.Game.Tests/Visual/Collections/TestSceneManageCollectionsDialog.cs
  osu.Game/Collections/CollectionFilterMenuItem.cs
Labels: size/M, type:reliability, next release

#25848 Fix padding on dropdown search bar
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: size/XS

#25856 Fix keyboard precision of nightcore/daycore adjustments being incorrect
  osu.Game/Rulesets/Mods/ModDaycore.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
Labels: area:mods, size/XS

#25832 Show more comprehensive background processing progress notifications
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Overlays/Notifications/ProgressNotification.cs
Labels: type:behavioural, size/L, next release

#25871 Fix opening log files from notification not presenting the correct file
  osu.Game/OsuGame.cs
Labels: size/XS

#25888 Fix incorrect ordering of items at song select when certain sort modes are used
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: area:song-select, size/M, next release

#25893 Fix sliding sample playing before Slider's start time
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderEarlyHitJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: ruleset/osu!, area:gameplay, type:behavioural, size/M, audio, next release

#25838 Fix song select realm refresh performance
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:performance, area:song-select, size/L, next release

#25857 Fix mod search textbox having focus while settings are visible
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
Labels: area:song-select, size/M, next release

#25895 Fix some beatmaps being reprocessed each startup
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/IBeatmapInfo.cs
  osu.Game/Database/RealmAccess.cs
Labels: realm, size/M, next release

#25916 Fix near zero-length sliders being placeable and crashing the game
  osu.Game.Rulesets.Catch/Edit/Blueprints/BananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSpanPlacementBlueprint.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: size/S

#25898 Update song select to always show difficulty stats
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/L

#25917 Allow failing with "relax" and "autopilot" mods
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game/Rulesets/Mods/ModBlockFail.cs
  osu.Game/Rulesets/Mods/ModFailCondition.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
  osu.Game/Rulesets/Mods/ModRelax.cs
Labels: ruleset/osu!, area:gameplay, size/M

#25900 Allow choosing "Edit" from any beatmap carousel item
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/S

#25934 Adjust "classic" mod multiplier to 0.96x
  osu.Game/Rulesets/Mods/ModClassic.cs
Labels: area:scoring, size/XS

#25887 Restore taiko accuracy to ScoreV2 values
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoScoreProcessorTest.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: ruleset/osu!taiko, area:scoring, size/M

#25876 Fix osu! standardised score conversion sometimes exceeding bounds
  osu.Game.Tests/Database/BackgroundDataStoreProcessorTests.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: ruleset/osu!, area:scoring, size/S, next release

#25943 Fix song select running updates when screen is not active
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/M, next release

#25931 Fix thread safety of `OnlineMetadataClient.UserStates`
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
Labels: size/S, type:reliability

#25949 Fix beatmap updates causing one extra carousel selection
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
Labels: area:song-select, size/M

#25945 Adjust mania scoring to be more in line with ScoreV2 + 85% acc / 15% combo
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModDoubleTime.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneMaximumScore.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNotePerfectBonus.cs
  osu.Game.Rulesets.Mania/Objects/Note.cs
  osu.Game.Rulesets.Mania/Objects/NotePerfectBonus.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: ruleset/osu!mania, area:scoring, size/L

#25951 Show slider tick / slider end misses with a visible judgement
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTick.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Skinning/LegacyJudgementPieceNew.cs
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset/osu!, area:gameplay, size/L, next release

#25964 Fix save & export failed replay hotkeys handling repeated keypresses
  osu.Game/Screens/Play/SaveFailedScoreButton.cs
Labels: size/XS

#25976 Fix autopilot mod still declaring incompatibility with fail-preventing mods
  osu.Game.Rulesets.Osu/Mods/OsuModAccuracyChallenge.cs
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNoFail.cs
  osu.Game.Rulesets.Osu/Mods/OsuModPerfect.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSuddenDeath.cs
Labels: ruleset/osu!, area:mods, size/S

#25972 Fix argon pro not showing slider tick judgements
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
Labels: ruleset/osu!, area:skinning, size/XS

#25993 Relocate numeric HitResult values, add accuracy conversion
  osu.Game.Rulesets.Catch/Difficulty/CatchLegacyScoreSimulator.cs
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreSimulator.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: area:scoring, size/L, next release

#26003 Fix slider tick / end misses displaying with full size on legacy skins with animated misses
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
Labels: ruleset/osu!, area:skinning, size/S

#25998 Add versioning of local scores
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:scoring, size/M

#26004 Fix scale of skin element bounding box
  osu.Game/Overlays/SkinEditor/SkinBlueprint.cs
Labels: type:cosmetic, size/XS, area:skin-editor

#26041 Fix relax mod not considering full follow area radius when automatically holding sliders
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SliderInputManager.cs
Labels: ruleset/osu!, area:mods, size/S, next release

#26053 Fix strict tracking mod forcefully missing tail before slider start time
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
Labels: ruleset/osu!, area:mods, size/M, next release

#26039 Add basic density consideration to HP drain
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: ruleset/osu!, area:scoring, size/L

#26012 Use classic HP values for non-classic osu! HP drain
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/Scoring/OsuHealthProcessor.cs
Labels: ruleset/osu!, area:gameplay, size/M

#26060 Adjust BeatmapInfoWedge's beatmap length field according to mod rate
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
Labels: area:song-select, size/M

#26081 Fix "spectate" button not always being clickable in online users list
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyOnlineDisplay.cs
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
Labels: type:online, size/S, next release

#26080 Change "cinema" mod to never fail
  osu.Game/Rulesets/Mods/ModCinema.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
Labels: area:mods, size/S

#26077 Fix user profile cover showing 1px line when contracted
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: area:overlay-user-profile, size/XS

#26082 Fix standardised score conversion failing for scores set with 0.0x mod mutliplier
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:scoring, size/M

#26069 Change legacy version checks to account for users specifying incorrect versions
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
Labels: ruleset/osu!, size/XS

#26072 Fix hard crash when attempting to change folder location during a large import
  osu.Game/OsuGameBase.cs
Labels: size/S, type:reliability

#26083 Replace recently-added HP drain density calculation with combo-end bonus
  osu.Game.Rulesets.Osu/Scoring/OsuHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
Labels: ruleset/osu!, area:scoring, size/L

#26076 Add control to allow changing offset from gameplay
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Play/GameplayOffsetControl.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/L

#26086 Use a realm subscription to avoid overhead when hovering a toolbar button
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
Labels: type:performance, realm, size/S, area:toolbar

#25653 Implement `OsuModDepth`
  osu.Game.Rulesets.Osu/Mods/OsuModDepth.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFreezeFrame.cs
  osu.Game.Rulesets.Osu/Mods/OsuModHidden.cs
  osu.Game.Rulesets.Osu/Mods/OsuModMagnetised.cs
  osu.Game.Rulesets.Osu/Mods/OsuModObjectScaleTween.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRepel.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpinIn.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTargetPractice.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTransform.cs
  osu.Game.Rulesets.Osu/Mods/OsuModWiggle.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
Labels: ruleset/osu!, area:mods, size/L

#26120 Update argon and triangles slider tick/end miss to match display style
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game/Rulesets/Judgements/DefaultJudgementPiece.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: ruleset/osu!, size/M

#26117 Add classic skin sprites for slider tick and slider end misses
  osu.Game/Skinning/LegacyJudgementPieceOld.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/osu.Game.csproj
Labels: ruleset/osu!, size/M, next release

#26124 Do not attempt to stop preview tracks when arriving from a "track completed" sync
  osu.Game/Audio/PreviewTrack.cs
Labels: size/S, type:reliability, audio

#26131 Make mania scroll speed independent of hit position
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
Labels: ruleset/osu!mania, area:gameplay, size/S

#26127 Fix rewind incorrectly selecting the same beatmap
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S

#26136 Add visual offset to better align editor waveforms with expectations
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Timing/WaveformComparisonDisplay.cs
Labels: area:editor, size/S, next release

#26141 Fix editor timing mode not handling undo/redo correctly
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
Labels: area:editor, size/L

#26138 Bail from score submission if audio playback rate is too far from reality
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:gameplay, size/M

#26147 Always show settings section text on buttons
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game.Tests/Visual/Settings/TestSceneSettingsPanel.cs
  osu.Game/Graphics/Containers/ExpandingButtonContainer.cs
  osu.Game/Graphics/Containers/ExpandingContainer.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/Settings/SettingsSidebar.cs
  osu.Game/Overlays/Settings/SidebarButton.cs
  osu.Game/Overlays/Settings/SidebarIconButton.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Overlays/SettingsSubPanel.cs
Labels: area:settings, size/L

#26158 Fix catch drawable objects not being clamped to playfield bounds
  osu.Game.Rulesets.Catch.Tests/TestSceneOutOfBoundsObjects.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
Labels: ruleset/osu!catch, area:gameplay, size/M, next release

#26167 Update toolbar, main menu, & editor icons
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayHeader.cs
  osu.Game/Graphics/HexaconsIcons.cs
  osu.Game/Graphics/OsuIcon.cs
  osu.Game/Localisation/NamedOverlayComponentStrings.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingHeader.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeader.cs
  osu.Game/Overlays/Changelog/ChangelogHeader.cs
  osu.Game/Overlays/Chat/ChatOverlayTopBar.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Dashboard/DashboardOverlayHeader.cs
  osu.Game/Overlays/News/NewsHeader.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
  osu.Game/Overlays/Profile/ProfileHeader.cs
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/Settings/Sections/AudioSection.cs
  osu.Game/Overlays/Settings/Sections/DebugSection.cs
  osu.Game/Overlays/Settings/Sections/GameplaySection.cs
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
  osu.Game/Overlays/Settings/Sections/GraphicsSection.cs
  osu.Game/Overlays/Settings/Sections/InputSection.cs
  osu.Game/Overlays/Settings/Sections/MaintenanceSection.cs
  osu.Game/Overlays/Settings/Sections/OnlineSection.cs
  osu.Game/Overlays/Settings/Sections/RulesetSection.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Overlays/Settings/Sections/UserInterfaceSection.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Overlays/Toolbar/Toolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Overlays/Toolbar/ToolbarHomeButton.cs
  osu.Game/Overlays/Wiki/WikiHeader.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/Tools/SelectTool.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeader.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/osu.Game.csproj
Labels: area:editor, type:cosmetic, area:main-menu, size/XL, area:toolbar

#26168 Toolbar design iteration
  osu.Game/Overlays/Toolbar/Toolbar.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Overlays/Toolbar/ToolbarClock.cs
  osu.Game/Overlays/Toolbar/ToolbarOverlayToggleButton.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetTabButton.cs
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
Labels: type:cosmetic, size/L, area:toolbar, next release

#26162 Cycle between Daycore and Half Time mod when using classic hotkeys style
  osu.Game/Overlays/Mods/Input/ClassicModHotkeyHandler.cs
Labels: type:input, size/XS, area:overlay-mod-select

#26170 Fix spinner max bonus sound playing when seeking in replay
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: ruleset/osu!, size/XS, audio

#26172 Add support for displaying "system title" on main menu
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game/Online/API/Requests/GetSystemTitleRequest.cs
  osu.Game/Online/API/Requests/Responses/APISystemTitle.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/SystemTitle.cs
Labels: area:main-menu, size/L

#26182 Move menu tips to main menu
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/UserInterfaceStrings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/MainMenuSettings.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MenuTip.cs
  osu.Game/Screens/Menu/SystemTitle.cs
Labels: area:main-menu, size/L, next release

#26183 Show supporter love message at main menu and remove the disclaimer screen
  osu.Game.Tests/Visual/Menus/TestSceneSupporterDisplay.cs
  osu.Game/Screens/Loader.cs
  osu.Game/Screens/Menu/Disclaimer.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/SupporterDisplay.cs
Labels: area:main-menu, size/L

#26148 Force minimum cursor size for `OsuResumeOverlay`
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
Labels: size/S

#26184 Allow entering spectator mode from context menu on user panels
  osu.Game/Localisation/ContextMenuStrings.cs
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
  osu.Game/Users/UserPanel.cs
Labels: area:overlay-user-profile, size/M, next release

#26189 Fix using "Back" binding at spectator fail screen not working
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
Labels: size/S, area:spectator

#26187 Update popup dialog design
  osu.Game.Tests/Visual/UserInterface/TestSceneDialogOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestScenePopupDialog.cs
  osu.Game/Graphics/UserInterface/DialogButton.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Overlays/DialogOverlay.cs
Labels: type:cosmetic, size/L, next release

#26169 Implement automatic suggestion of global audio offset based on last plays
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game.Tests/Visual/Settings/TestSceneAudioOffsetAdjustControl.cs
  osu.Game/Configuration/SessionAverageHitErrorTracker.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioOffsetAdjustControl.cs
  osu.Game/Overlays/Settings/Sections/Audio/OffsetSettings.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Play/PlayerSettings/AudioSettings.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:behavioural, area:settings, size/L, audio

#26196 Fix crash when retrieval of system title image fails
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game/Screens/Menu/SystemTitle.cs
Labels: area:main-menu, size/XS, type:reliability, next release

#26203 Make the menu tip about mod select's fun mods more up to date.
  osu.Game/Screens/Menu/MenuTip.cs
Labels: size/XS

#26216 Expose `Mod.UsesDefaultConfiguration`
  osu.Game/Rulesets/Mods/Mod.cs
Labels: area:mods, size/XS

#26219 Fix crash after changing audio track in editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
Labels: area:editor, size/S, type:reliability

#26220 Do not show main menu version display on deployed builds
  osu.Game/OsuGame.cs
Labels: area:main-menu, size/XS

#26221 Do not display system title in inital menu state
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/SystemTitle.cs
Labels: type:cosmetic, area:main-menu, size/M

#26224 Remove opaque background from toolbar user button
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
Labels: type:cosmetic, size/XS, area:toolbar

#26225 Add some new menu tips (and reword some others)
  osu.Game/Screens/Menu/MenuTip.cs
Labels: area:main-menu, size/S

#26271 Remove outdated main menu version reference on issue template
  .github/ISSUE_TEMPLATE/bug-issue.yml
Labels: size/XS

#26235 Fix argon miss judgement on mania placed on a different position
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonJudgementPiece.cs
Labels: ruleset/osu!mania, area:skinning, size/XS

#26276 Fix interests icon no longer visible in user profile
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
Labels: type:cosmetic, area:overlay-user-profile, size/XS

#26267 Fix suggested value in audio offset adjust control being opposite in signs
  osu.Game.Tests/Visual/Settings/TestSceneAudioOffsetAdjustControl.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioOffsetAdjustControl.cs
Labels: type:behavioural, area:settings, size/L

#26201 Adjust menu buttons
  osu.Game/Screens/Menu/MainMenuButton.cs
Labels: type:cosmetic, area:main-menu, size/S
