Repository ppy/osu, pull requests merged in 2023-08, with the labels that each got.

#24438 Fix issues switching to new beatmap in multiplayer spectator
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
Labels: area:multiplayer, size/M, area:spectator

#24449 Fix global beatmap clock potentially getting into bad state
  osu.Game/Beatmaps/FramedBeatmapClock.cs
Labels: area:gameplay, type:behavioural, size/XS

#24443 Fix storyboard being see-through in some contexts
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Graphics/Containers/UserDimContainer.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, type:cosmetic, size/M

#24387 Add new skin layer to allow components anchored to the playfield
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorComponentsList.cs
  osu.Game/IO/Archives/ZipArchiveReader.cs
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Skinning/SkinComponentsContainerLookup.cs
Labels: size/M, area:skin-editor

#24448 Improve choice of where to start playback of multiplayer spectator
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/SpectatorSyncManager.cs
Labels: area:multiplayer, size/M

#24461 Add support for changelog entries with url attached
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game/Overlays/Changelog/ChangelogEntry.cs
Labels: type:behavioural, area:overlay-changelog, size/M

#24406 Fix accuracy break info decimal separator being incorrect in certain languages
  osu.Game/Screens/Play/Break/BreakInfoLine.cs
  osu.Game/Screens/Play/BreakOverlay.cs
Labels: type:localisation, size/M

#24467 Block beatmap editor from testing/exiting/exporting when saving fails
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:behavioural, size/M

#24511 Fix legacy beatmap exporter not converting beatmap between decode and re-encode
  osu.Desktop/LegacyIpc/LegacyTcpIpcProvider.cs
  osu.Game/Beatmaps/FlatWorkingBeatmap.cs
  osu.Game/Database/LegacyBeatmapExporter.cs
Labels: area:editor, size/M, type:reliability, next-release

#24518 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#24538 Temporarily allow new difficulty attributes to not exist
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: size/XS

#24541 Fix incorrect truncation to int
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: size/XS

#24540 Don't completely fade FPS counter out when running at full FPS
  osu.Game/Graphics/UserInterface/FPSCounter.cs
Labels: type:cosmetic, size/XS

#24528 Fix playfield skinnable layer bounds being incorrectly calculated with multiple stages
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
Labels: ruleset:osu!mania, area:skinning, size/S

#24547 Fix kiai stars flickering on and off during gameplay
  osu.Game/Graphics/ParticleSpewer.cs
Labels: ruleset/osu!, area:skinning, size/S, next release

#24544 Add pooling for mania barlines
  osu.Game.Rulesets.Mania.Tests/TestSceneStage.cs
  osu.Game.Rulesets.Mania/ManiaSkinComponentLookup.cs
  osu.Game.Rulesets.Mania/Objects/BarLine.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Mania/Skinning/Default/DefaultBarLine.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: type:performance, ruleset/osu!mania, area:gameplay, size/L

#24546 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#24548 Fix score being cloned in async method causing random crashes
  osu.Game/Screens/Play/Player.cs
Labels: size/XS, type:reliability

#24552 Disable hold end conversion for mania HoldOff mod
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModHoldOff.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHoldOff.cs
Labels: ruleset/osu!mania, area:mods, size/M

#24561 Rename "dummy" local user to something more descriptive
  osu.Game/Online/API/DummyAPIAccess.cs
Labels: type:testing, size/XS

#24402 Add ability to toggle gameplay leaderboards with tab key
  osu.Game.Tests/Visual/Multiplayer/TestSceneGameplayChatDisplay.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, type:behavioural, size/M

#24562 Fix incorrect access to realm object in beatmap editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Database/ModelManager.cs
  osu.Game/Database/RealmExtensions.cs
  osu.Game/Database/RealmLive.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, realm, size/M, type:reliability

#24537 Remove slider velocity from `DrumRoll`
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
Labels: type:code-quality, ruleset/osu!taiko, size/S

#24451 Fix multiplayer spectator potentially taking too long to start
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/SpectatorPlayerClock.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: area:multiplayer, size/S

#24563 Disable IPC binding in tournament client to allow running concurrently
  osu.Desktop/Program.cs
Labels: area:tournament, size/XS

#24564 Add various testing improvements to various tournament components
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tournament.Tests/Components/TestSceneSongBar.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: type:code-quality, size/M

#24565 Improve visuals of tournament song bar
  osu.Game.Tournament/Components/SongBar.cs
  osu.Game.Tournament/Components/TournamentBeatmapPanel.cs
Labels: area:tournament, size/M

#24566 Add score difference display to multiplayer spectator
  osu.Game.Tournament/IPC/MatchIPCInfo.cs
  osu.Game.Tournament/Screens/Gameplay/Components/TournamentMatchScoreDisplay.cs
  osu.Game/Screens/Play/HUD/MatchScoreDisplay.cs
Labels: area:multiplayer, size/L

#24431 Add instantaneous mode to `SliderWithTextBoxInput`
  osu.Game.Tests/Visual/UserInterface/TestSceneSliderWithTextBoxInput.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/SliderWithTextBoxInput.cs
Labels: type:behavioural, size/L

#24109 Adjust LN value scaling to bring overrated LN maps more in line
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
Labels: ruleset/osu!mania, area:difficulty, size/S

#24577 Fix tracking on empty control point groups
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
Labels: area:editor, type:behavioural, size/S

#24574 Set correct date added value when importing stable beatmapsets
  osu.Game.Tests/Database/LegacyBeatmapImporterTest.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/IO/Archives/LegacyDirectoryArchiveReader.cs
Labels: size/M

#24567 Add precise rotation control to osu! editor
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePreciseRotation.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/TransformToolboxGroup.cs
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Edit/Components/EditorToolButton.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset/osu!, area:editor, size/L

#24570 Fix last slider control point type being included in legacy export
  osu.Game/Database/LegacyBeatmapExporter.cs
Labels: area:editor, size/S

#24568 Apply NRT to `osu.Game.Beatmaps.Formats` namespace
  osu.Game/Beatmaps/Formats/Decoder.cs
  osu.Game/Beatmaps/Formats/IHasComboColours.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: type:code-quality, size/M

#24581 Fix `SliderPath.GetSegmentEnds`
  osu.Game.Tests/Visual/Gameplay/TestSceneSliderPath.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: type:code-quality, ruleset/osu!, area:editor, size/M

#24586 Allow "Last year's placing" in the tournament seeding to show "N/A" for new teams
  osu.Game.Tournament/Models/TournamentTeam.cs
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
  osu.Game.Tournament/Screens/TeamIntro/SeedingScreen.cs
Labels: area:tournament, size/S

#24601 Fix crash in tournament client when pick/ban is activated
  osu.Game.Tournament.Tests/Components/TestSceneSongBar.cs
  osu.Game.Tournament/Components/SongBar.cs
Labels: area:tournament, size/M

#24366 Always show supporter-only playlist durations
  osu.Game/Localisation/OnlinePlayStrings.cs
  osu.Game/Screens/OnlinePlay/Match/Components/RoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
Labels: type:behavioural, size/M, area:playlists

#24605 Fix potential crash when loading menu items due to cross-thread ops
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
Labels: size/XS, type:reliability

#24604 Fix star fountain directions not matching stable
  osu.Game.Tests/Visual/Menus/TestSceneStarFountain.cs
  osu.Game/Screens/Menu/KiaiMenuFountains.cs
  osu.Game/Screens/Menu/StarFountain.cs
Labels: type:cosmetic, area:main-menu, size/M

#24527 Fix sliders being reversed incorrectly in the editor
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderReversal.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
Labels: ruleset/osu!, area:editor, size/L

#24368 Avoid reprocessing scores which already failed an upgrade previously
  osu.Game.Tests/Database/BackgroundDataStoreProcessorTests.cs
  osu.Game/BackgroundDataStoreProcessor.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/OsuGame.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: type:performance, size/M

#24610 Remove global action container input queue workaround
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/Visual/OsuManualInputManagerTestScene.cs
Labels: type:code-quality, type:input, size/M

#24613 Update framework and apply changes to support masking SSBO
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Tests/Resources/Shaders/sh_TestVertex.vs
  osu.Game/Screens/Loader.cs
  osu.Game/osu.Game.csproj
Labels: size/M

#24588 Flash taskbar when receiving notifications while the game is not focused
  osu.Game/Online/Chat/MessageNotifier.cs
  osu.Game/Overlays/NotificationOverlay.cs
Labels: area:overlay-chat, size/S

#24508 Fix hit animation not synchronizing when editing hit objects
  osu.Game.Rulesets.Catch.Tests/TestSceneFruitRandomness.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:editor, size/S

#24631 Add missing colon in mod settings tooltip
  osu.Game/Rulesets/Mods/Mod.cs
Labels: area:song-select, type:cosmetic, size/XS

#24632 Show mod settings as "on" or "off" rather than "True" or "False"
  osu.Game/Rulesets/Mods/Mod.cs
Labels: area:song-select, type:cosmetic, size/S

#24634 Enable sentry "global mode" as per recommendation
  osu.Game/Utils/SentryLogger.cs
Labels: area:tooling, size/XS

#24627 Rewrite `TestSceneObjectOrderedHitPolicy` to not rely on custom hitwindows
  osu.Game.Rulesets.Osu.Tests/TestSceneObjectOrderedHitPolicy.cs
Labels: ruleset/osu!, type:testing, size/L

#24628 Add capability to export ordered object policy test cases for stable crosscheck
  osu.Game.Rulesets.Osu.Tests/TestSceneObjectOrderedHitPolicy.cs
Labels: ruleset/osu!, type:testing, size/M

#24576 Update overlay pop-in/pop-out sample usage
  osu.Game/Collections/ManageCollectionsDialog.cs
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
  osu.Game/Graphics/Containers/WaveContainer.cs
  osu.Game/Graphics/UserInterface/OsuAnimatedButton.cs
  osu.Game/Graphics/UserInterface/ShearedToggleButton.cs
  osu.Game/Graphics/UserInterfaceV2/OsuPopover.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/LoginOverlay.cs
  osu.Game/Overlays/Mods/AddPresetButton.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Overlays/WaveOverlayContainer.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Setup/LabelledFileChooser.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/Select/Options/BeatmapOptionsOverlay.cs
Labels: size/L, audio

#24645 Update README.md to include VS Code plugin prerequisites
  README.md
Labels: size/XS

#24668 Disable redundant verbatim string prefix inspections
  osu.sln.DotSettings
Labels: type:code-quality, area:tooling, size/XS

#24675 Mark "Score V2" mod as not user-playable
  osu.Game/Rulesets/Mods/ModScoreV2.cs
Labels: area:mods, type:behavioural, size/XS

#24678 Fix and use score user's IsBot property in results screen animation
  osu.Game/Rulesets/Mods/ModExtensions.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: size/XS

#24614 Split out individual difficulties when using difficulty sort at song select
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: area:song-select, size/L, next release

#24679 Allow saving changes in tournament system using `Ctrl`+`S`
  osu.Game.Tournament/SaveChangesOverlay.cs
Labels: area:tournament, size/S

#24680 Remove tournament client minimum window size
  osu.Game.Tournament/TournamentGame.cs
Labels: area:tournament, size/XS

#24690 Fix regression in spacing on tournament schedule screen
  osu.Game.Tournament.Tests/Screens/TestSceneScheduleScreen.cs
  osu.Game.Tournament.Tests/TournamentScreenTestScene.cs
  osu.Game.Tournament/Screens/Schedule/ScheduleScreen.cs
Labels: area:tournament, size/M, next release

#24669 Switch download requests to new API endpoint
  osu.Game/Online/API/Requests/DownloadReplayRequest.cs
Labels: type:online, size/XS

#24691 Fix potential race condition in song bar beatmap lookup flow
  osu.Game.Tournament.Tests/Components/TestSceneSongBar.cs
  osu.Game.Tournament/IPC/FileBasedIPC.cs
Labels: area:tournament, size/S
