Repository ppy/osu, pull requests merged in 2023-05, with the labels that each got.

#23342 Implement cursor ripples
  osu.Game.Rulesets.Osu.Tests/Resources/special-skin/cursor-ripple@2x.png
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu/Configuration/OsuRulesetConfigManager.cs
  osu.Game.Rulesets.Osu/OsuSkinComponents.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorRippleVisualiser.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
  osu.Game.Rulesets.Osu/UI/OsuSettingsSubsection.cs
  osu.Game/Localisation/RulesetSettingsStrings.cs
Labels: ruleset:osu!, area:gameplay, size/L

#23361 Enable 'Use current' distance snap when exactly on a hit object
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
Labels: area:editor, size/XS

#23362 Reset online ID on locally modifying beatmap
  osu.Game.Tests/Visual/Editing/TestSceneLocallyModifyingOnlineBeatmaps.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Tests/Visual/EditorSavingTestScene.cs
Labels: type:online, area:editor, size/M

#23284 Fix issue where multiplier show wrong value when adjusting speed on preset
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/M, area:overlay-mod-select

#22950 Fix now playing playlist not highlighting selected item on initial open
  osu.Game/Overlays/Music/PlaylistItem.cs
Labels: type:UI, size/S, area:overlay-now-playing

#23038 Add feature to adjust `ScalingContainer` background dim
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/M

#23374 Add missing ruleset shader tests
  osu.Game.Tests/Resources/Shaders/sh_TestFragment.fs
  osu.Game.Tests/Resources/Shaders/sh_TestVertex.vs
  osu.Game.Tests/Testing/TestSceneRulesetDependencies.cs
Labels: size/M

#21789 Add "bubble" mod to osu! ruleset
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModBubbles.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game.Rulesets.Osu/Mods/OsuModBubbles.cs
  osu.Game.Rulesets.Osu/Mods/OsuModMagnetised.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRepel.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: ruleset:osu!, area:mods, size/L

#23357 Prevent infinite repeat count when adjusting repeats of 0 length slider
  osu.Game.Tests/Visual/Editing/TestSceneTimelineHitObjectBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: ruleset:osu!, area:editor, size/M, type:reliability

#23369 Fix `BeatmapAttributeText` not supporting unicode artist/title
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: area:skinning, size/XS

#23371 Increase the rate of slider ball fade on argon skins to match other implementations
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderBall.cs
Labels: ruleset:osu!, size/XS

#23370 Add more padding around playfield in editor to avoid overlap with tool areas
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: area:editor, size/M

#23308 Remove SampleControlPoint and DifficultyControlPoint from HitObject
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/BananaShower.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/DistanceObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Resources/Testing/Beatmaps/convert-samples-expected-conversion.json
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneObjectMerging.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSplitting.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderStreamConversion.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneObjectOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderFollowCircleInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneStartTimeOrderedHitPolicy.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapConverter.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game.Rulesets.Osu/Objects/SpinnerBonusTick.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoStrongableHitObject.cs
  osu.Game.Rulesets.Taiko/UI/DrumSampleTriggerSource.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Editing/Checks/CheckMutedObjectsTest.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectDifficultyPointAdjustments.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSamplePointAdjustments.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Edit/Checks/CheckMutedObjects.cs
  osu.Game/Rulesets/Edit/DistancedHitObjectComposer.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Types/IHasGenerateTicks.cs
  osu.Game/Rulesets/Objects/Types/IHasSliderVelocity.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
  osu.Game/Rulesets/UI/Playfield.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/HitObjectPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:beatmap-parsing, size/XL, area:ruleset-api

#23383 Fix test failure in `MultiplayerMatchSongSelect` due to multiple overlays present
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
Labels: type:testing, size/XS

#23384 Fix potentially incorrect thread access in `OsuTabControlCheckbox`
  osu.Game/Graphics/UserInterface/OsuTabControlCheckbox.cs
Labels: size/S, type:reliability

#23388 Fix runaway memory usage at song select when opening many beatmaps many times
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
Labels: type:performance, size/S

#23386 Extend input handling of osu! logo to full border area
  osu.Game/Screens/Menu/IntroWelcome.cs
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: type:UI, size/S

#23372 Fix fade in delay for first slider end circle being incorrect when snaking disabled
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game.Rulesets.Osu/Objects/SliderEndCircle.cs
Labels: ruleset:osu!, size/M

#22801 Add ability to edit mod presets
  osu.Game.Tests/Visual/UserInterface/TestSceneModPresetColumn.cs
  osu.Game/Localisation/ModSelectOverlayStrings.cs
  osu.Game/Overlays/Mods/AddPresetPopover.cs
  osu.Game/Overlays/Mods/EditPresetPopover.cs
  osu.Game/Overlays/Mods/ModPresetPanel.cs
  osu.Game/Overlays/Mods/ModPresetRow.cs
  osu.Game/Overlays/Mods/ModPresetTooltip.cs
Labels: size/L, area:overlay-mod-select

#22711 Keep shared mod settings when changing ruleset
  osu.Game.Tests/Mods/ModSettingsEqualityComparison.cs
  osu.Game.Tests/Mods/ModSettingsTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Mods/Mod.cs
Labels: area:mods, type:UX, size/L

#23406 Prefer block scoped namespaces
  .editorconfig
  osu.Game/Rulesets/Objects/Types/IHasSliderVelocity.cs
  osu.sln.DotSettings
Labels: type:code-quality, size/S

#23401 Fix break overlay arrows' glow getting cut off at lower resolutions
  osu.Game/Screens/Play/Break/BlurredIcon.cs
Labels: area:gameplay, size/XS

#23404 Show slider velocity in hit object inspector
  osu.Game/Rulesets/Edit/HitObjectInspector.cs
Labels: area:editor, size/XS

#23405 Show beatmap slider velocity statistics when adjusting velocity
  osu.Game/Rulesets/Edit/HitObjectInspector.cs
  osu.Game/Screens/Edit/Compose/Components/EditorInspector.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectInspector.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
Labels: area:editor, size/L

#21736 Add ability to report chat
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Graphics/UserInterfaceV2/ReportPopover.cs
  osu.Game/Online/API/Requests/ChatReportRequest.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/ChatReportReason.cs
  osu.Game/Overlays/Chat/DrawableChatUsername.cs
  osu.Game/Overlays/Chat/ReportChatPopover.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Comments/CommentReportButton.cs
  osu.Game/Overlays/Comments/ReportCommentPopover.cs
Labels: type:online, area:overlay-chat, size/L

#23394 Update framework
  osu.Android.props
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#21308 Make model exporting asynchronous
  osu.Game.Tests/Database/LegacyModelExporterTest.cs
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/LegacyArchiveExporter.cs
  osu.Game/Database/LegacyBeatmapExporter.cs
  osu.Game/Database/LegacyExporter.cs
  osu.Game/Database/LegacyScoreExporter.cs
  osu.Game/Database/LegacyScoreImporter.cs
  osu.Game/Database/LegacySkinExporter.cs
  osu.Game/Database/LegacySkinImporter.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:database, size/L

#23424 Fix rapid back button test failure
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
Labels: type:testing, size/XS

#23436 Fix "Return to main page" link not working on wiki after error
  osu.Game.Tests/Visual/Online/TestSceneWikiOverlay.cs
  osu.Game/Overlays/WikiOverlay.cs
Labels: size/S, area:overlay-wiki

#23437 Fix `TestSceneHoldNoteInput` not displaying correctly
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Rulesets/UI/Scrolling/Algorithms/IScrollAlgorithm.cs
Labels: type:testing, size/S

#23439 Fix osu!mania head note incorrectly scrolling off screen on late releases
  osu.Game.Rulesets.Mania.Tests/TestSceneHoldNoteInput.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: ruleset:osu!mania, size/M

#23440 Fix hit object animations not being played back in sync
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: area:skinning, size/S

#23429 Fix incorrect special style description text
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaSetupSection.cs
Labels: area:editor, size/XS

#23431 Add beatmap-level velocity setting to difficulty settings
  osu.Game/Beatmaps/IBeatmapDifficultyInfo.cs
  osu.Game/Localisation/EditorSetupStrings.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectInspector.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
Labels: area:editor, size/M, next-release

#23434 Add the ability to change the beatmap tick rate in the editor
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Localisation/EditorSetupStrings.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
Labels: area:editor, size/M, next-release

#23416 Add workflow for automated osu-web mod definition updates
  .github/workflows/update-web-mod-definitions.yml
Labels: area:tooling, size/M

#23453 Fix iOS build workflow failing
  .github/workflows/ci.yml
Labels: area:tooling, size/S

#23475 Add more keywords for setup wizard
  osu.Game/Overlays/Settings/Sections/GeneralSection.cs
Labels: size/XS

#23489 Copy slider velocities to strict tracking sliders
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
Labels: ruleset:osu!, area:mods, size/XS

#23528 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#23529 Fix hold-for-right-click showing during gameplay
  osu.Game/Input/OsuUserInputManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: type:input, platform:mobile, size/S

#23506 Fix some tablet settings being hidden when searching using "area" keyword
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: area:settings, size/XS

#23507 Move blueprint validity conditions to allow more correct external usage of `EndPlacement`
  osu.Game.Rulesets.Catch/Edit/Blueprints/BananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSpanPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/M

#23508 Allow commiting / undoing placement of blueprints using back / select bindings
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, type:UX, size/L

#23509 Force placement of in-progress object when changing tools in the editor
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, type:UX, size/M

#23451 Fix default progress graph not updating after flip
  osu.Game/Screens/Play/SquareGraph.cs
Labels: type:UI, area:skinning, size/S

#23492 Fix angle sharpness slider value not always scaling by 0.5
  osu.Game.Rulesets.Osu/Mods/OsuModRandom.cs
Labels: area:mods, size/XS

#23558 Add abbreviations found in framework functions
  osu.sln.DotSettings
Labels: type:code-quality, size/XS

#23570 Update InspectCode to 2022.3.3 and enable C# 11
  .config/dotnet-tools.json
  Directory.Build.props
  osu.Game/osu.Game.csproj
  osu.sln.DotSettings
Labels: area:tooling, size/XS

#23572 Work around issues with bindable/event feedback in layout settings
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/M

#23576 Fix random button hover state sticking when rewinding using right mouse button
  osu.Game/Screens/Select/FooterButtonRandom.cs
Labels: area:song-select, size/S

#23580 Ensure scroll-to-top button is displayed above all overlay content
  osu.Game/Overlays/OnlineOverlay.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:UI, size/S, area:overlays

#23595 Pin builds to .NET 6
  global.json
Labels: area:tooling, size/XS

#23564 Fix sample banks not transferring when adjusting via editor
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Objects/Drawables/DrawablePippidonHitObject.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/Objects/Drawables/DrawablePippidonHitObject.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneAutoJuiceStream.cs
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Catch/Objects/BananaShower.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/TaikoStrongableHitObject.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: area:editor, size/L

#23582 Fix timeline blueprint display not showing correct combo number / colour during placement
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/SpinnerPlacementBlueprint.cs
  osu.Game/Beatmaps/BeatmapProcessor.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Rulesets/Objects/Types/IHasComboInformation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/M

#22716 Update in line with framework menu handling changes
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
Labels: type:UI, size/XS

#23573 Prevent feedback with display resolution bindable by using atomic `.ReplaceRange()`
  osu.Android.props
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:settings, size/M

#23606 Fix clicking area of news sidebar post links
  osu.Game/Overlays/News/NewsCard.cs
  osu.Game/Overlays/News/Sidebar/MonthSection.cs
Labels: type:UI, size/M, area:overlay-news

#23593 Always show chat message notifications if window is unfocused
  osu.Game/Online/Chat/MessageNotifier.cs
Labels: type:UX, area:overlay-chat, area:overlay-notifications, size/XS

#23631 Fix undo/redo not working for slider velocity and sample changes
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectDifficultyPointAdjustments.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, size/M

#23618 Fix hitsounds not playing before and during taiko drum rolls and swells
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
Labels: ruleset:osu!taiko, size/L, type:audio

#23575 Fix old widescreen videos with black bars not correctly filling screen (again)
  osu.Game.Tests/Resources/storyboard_only_video.osu
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
Labels: area:storyboard, size/M

#23636 Disallow game to check for updates while gameplay is active
  osu.Desktop/Updater/SquirrelUpdateManager.cs
Labels: area:gameplay, size/XS

#23634 Fix weird state when attempting to enter gameplay skin editor scene from multiplayer
  osu.Game/Overlays/SkinEditor/SkinEditorSceneLibrary.cs
Labels: size/XS, area:skin-editor

#23642 Remove `OsuScreen.ApplyLogoArrivingDefaults()`
  osu.Game/Screens/OsuScreen.cs
Labels: type:code-quality, size/S

#23646 Remove flavour text from the pause / fail screens
  osu.Game/Screens/Play/FailOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
Labels: type:UI, size/M

#23651 Allow deselecting any selection in the editor using the `Back` binding (escape key)
  osu.Game.Tests/Visual/Editing/TestSceneEditorNavigation.cs
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, size/L

#23637 Add shadow to notifications and settings overlays to better distinguish from other overlays
  osu.Game/Graphics/Containers/WaveContainer.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/NotificationOverlay.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: type:UI, size/M

#23563 Add common `OnlinePlayPill` for all online room pills
  osu.Game/Screens/OnlinePlay/Lounge/Components/MatchTypePill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/OnlinePlayPill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/PlaylistCountPill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/QueueModePill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomSpecialCategoryPill.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomStatusPill.cs
Labels: type:code-quality, size/L

#23660 Fix crash when deleting dragged object in skin editor
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: size/XS, type:reliability, area:skin-editor

#23659 Centralise beatmap playable duration and bounds lookups
  osu.Game.Tests/Visual/UserInterface/TestSceneSegmentedGraph.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgressGraph.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgressGraph.cs
  osu.Game/Screens/Play/HUD/SongProgress.cs
Labels: type:code-quality, size/M

#20829 Add sample bank selection controls (and hotkeys) to editor
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSplitting.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumSampleTriggerSource.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: area:editor, size/L

#23649 Ensure editor selection buttons remain on screen when selection is near edge
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
Labels: area:editor, size/M

#23647 Show current progress on pause screen
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/HUD/SongProgressInfo.cs
Labels: area:gameplay, size/M

#23662 Fix slider path placement snapping non-head nodes to distanced snapping grid
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/SnapType.cs
Labels: area:editor, size/M

#23667 Fix placing objects before the first control point in the osu!taiko editor failing
  osu.Game/Rulesets/UI/Scrolling/Algorithms/OverlappingScrollAlgorithm.cs
Labels: ruleset:osu!taiko, area:editor, size/S

#23679 Format percentage based on significant decimal digits
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
Labels: type:UI, size/XS

#23640 Make GameplayMenuOverlay translatable
  osu.Game/Localisation/GameplayMenuOverlayStrings.cs
  osu.Game/Screens/Play/FailOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
Labels: area:gameplay, type:localisation, size/M

#23317 Provide more accuracy modes for accuracy challenge mod
  osu.Game.Tests/Visual/Mods/TestSceneModAccuracyChallenge.cs
  osu.Game/Rulesets/Mods/ModAccuracyChallenge.cs
Labels: area:mods, size/L

#23638 Replace lazer scoring with "ScoreV2"
  osu.Game.Rulesets.Catch/Scoring/CatchScoreProcessor.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Osu/Scoring/OsuScoreProcessor.cs
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableTaikoMascot.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/DrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Hit.cs
  osu.Game.Rulesets.Taiko/Objects/StrongNestedHitObject.cs
  osu.Game.Rulesets.Taiko/Scoring/TaikoScoreProcessor.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneScoring.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableScoreCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/MultiplayerGameplayLeaderboardTestScene.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
  osu.Game/Online/Spectator/FrameDataBundle.cs
  osu.Game/Online/Spectator/FrameHeader.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorScoreProcessor.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/IScoreInfo.cs
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/GameplayScoreCounter.cs
  osu.Game/Screens/Play/HUD/ILeaderboardScore.cs
  osu.Game/Screens/Play/HUD/MultiplayerGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/SoloGameplayLeaderboard.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: area:scoring, size/XXL

#23696 Fix cursor ripples appearing in a weird place when "autopilot" mod is enabled
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
Labels: ruleset:osu!, area:mods, size/S

#23661 Fix `OnResume` / `OnSuspending` potentially getting called before `OnEntering` on a sub screen
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: size/S, type:reliability
