Repository ppy/osu, pull requests merged in 2024-06, with the labels that each got.

#28371 Fix unable to drag-scroll on collections right-click menu
  osu.Game/Graphics/UserInterface/DrawableStatefulMenuItem.cs
Labels: type:input, size/XS

#28380 Fix `AssemblyRulesetStore` not marking rulesets as available
  osu.Game/Rulesets/AssemblyRulesetStore.cs
Labels: type:code-quality, size/XS

#28383 Fix occasional test failures on new menu content tests
  osu.Game/Screens/Menu/OnlineMenuBanner.cs
Labels: type:testing, size/S

#28387 Fix performance overhead from ternary state bindable callbacks when selection is changing
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: type:performance, area:editor, size/S

#28388 Disable primary constructor related inspections
  .editorconfig
  osu.sln.DotSettings
Labels: type:code-quality, size/XS

#26309 Add ability to change position, spacing, and rotation of the positional snap grid in the editor
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuRectangularPositionSnapGrid.cs
  osu.Game.Tests/Visual/Editing/TestScenePositionSnapGrid.cs
  osu.Game.Tournament/Screens/Editors/LadderEditorScreen.cs
  osu.Game/Screens/Edit/Compose/Components/LinedPositionSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/PositionSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/RectangularPositionSnapGrid.cs
  osu.Game/Utils/GeometryUtils.cs
Labels: ruleset/osu!, area:editor, size/XL

#28399 Fix playlist total time not considering rate adjust mods
  osu.Game/Beatmaps/Drawables/DifficultyIconTooltip.cs
  osu.Game/Online/Rooms/PlaylistExtensions.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
  osu.Game/Utils/ModUtils.cs
Labels: type:online, size/M, area:playlists

#24475 Add skinnable rank display
  osu.Game.Tests/Resources/Archives/modified-classic-20230809.osk
  osu.Game.Tests/Resources/Archives/modified-default-20230809.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableRankDisplay.cs
  osu.Game/Online/Leaderboards/UpdateableRank.cs
  osu.Game/Screens/Play/HUD/DefaultRankDisplay.cs
  osu.Game/Skinning/LegacyRankDisplay.cs
Labels: area:skinning, size/L

#28421 Implement flip operations in mania editor
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
Labels: ruleset/osu!mania, area:editor, size/L

#28184 Add basic animation to new footer and buttons
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooterButtonMods.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonMods.cs
Labels: type:cosmetic, type:behavioural, size/XL

#22237 New leaderboard score card design implementation
  osu.Game.Tests/Visual/SongSelect/TestSceneLeaderboardScoreV2.cs
  osu.Game/Online/Leaderboards/DrawableRank.cs
  osu.Game/Rulesets/UI/ModSwitchTiny.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
Labels: area:song-select, type:cosmetic, size/XL

#28185 Move new screen footer to `OsuGame` and add temporary `SongSelectV2` screen
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectV2.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectV2Navigation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBackButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooterButtonMods.cs
  osu.Game/Graphics/UserInterface/BackButton.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/OsuScreenStack.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Screens/SelectV2/Footer/BeatmapOptionsPopover.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonOptions.cs
  osu.Game/Screens/SelectV2/SongSelectV2.cs
Labels: area:song-select, type:cosmetic, size/XL

#28436 Fix auto picking maps on zero ban rounds
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
Labels: size/XS

#28420 Disallow running save-related operations concurrently
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/L, type:reliability

#28443 Fix Argon accuracy counter layout when under 10% and wireframe off
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
Labels: type:cosmetic, area:skinning, size/XS

#28441 Fix stack leniency not applying immediately after change
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
  osu.Game.Rulesets.Osu/Edit/Setup/OsuSetupSection.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: ruleset/osu!, area:editor, size/M

#28445 Attempt full editor reload on key count change
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaEditorSaving.cs
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game/Localisation/EditorDialogsStrings.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorChangeHandler.cs
  osu.Game/Screens/Edit/IEditorChangeHandler.cs
  osu.Game/Screens/Edit/ReloadEditorDialog.cs
Labels: ruleset/osu!mania, area:editor, size/L

#28440 Add minimal viable new screen for daily challenge feature
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallenge.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Online/Rooms/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/Header.cs
  osu.Game/Screens/OnlinePlay/Match/RoomModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/UserModSelectButton.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreenWaveContainer.cs
Labels: type:online, size/XL

#28456 Implement time remaining display for daily challenge screen
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeTimeRemainingRing.cs
  osu.Game/Graphics/UserInterface/SectionHeader.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/Edit/Components/EditorSidebarSection.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeTimeRemainingRing.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayComposite.cs
Labels: type:online, type:cosmetic, size/L

#28465 Use more descriptive HitObject names for debugger displays
  osu.Game/Rulesets/Objects/HitObject.cs
Labels: type:cosmetic, size/XS

#28458 Allow modifying hold note start/end time via mania composer playfield
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/Components/EditHoldNoteEndPiece.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
Labels: ruleset/osu!mania, area:editor, size/L

#28466 Fix missing texture on extremely long hold notes
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
Labels: ruleset/osu!mania, area:skinning, size/XS

#28475 Fix excessive `applause` audio balancing in result screen
  osu.Game/Screens/Ranking/ScorePanel.cs
Labels: size/XS

#28353 Changed Catch NF penalty to match Osu
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
Labels: ruleset/osu!catch, area:difficulty, size/XS

#28481 Disable the automatic offset adjustment button if the offset of the previous play was 0
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: size/M

#28480 Implement toggling visibility of pass and fail storyboard layers
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game/Screens/Play/GameplayState.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Tests/Gameplay/TestGameplayState.cs
Labels: area:storyboard, size/M

#28472 Implement relax mod for taiko
  osu.Game.Rulesets.Taiko.Tests/Judgements/TestSceneSwellJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModRelax.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModRelax.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
Labels: ruleset/osu!taiko, area:mods, size/L

#28503 Annotate `ControlPoint` and `Mod` for AOT trimming support
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Rulesets/Mods/Mod.cs
Labels: area:tooling, size/XS

#28504 Account for osu! circle radius when drawing playfield border
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: ruleset/osu!, area:gameplay, size/M

#28505 Move timeline toggle controls to "view" menu
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Screens/Edit/WaveformOpacityMenuItem.cs
Labels: area:editor, type:cosmetic, size/L

#28468 Implement event feed view for daily challenge screen
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeEventFeed.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeEventFeed.cs
Labels: type:online, type:cosmetic, size/L

#28507 Reduce editor opacity of several editor components when hovering over composer
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Components/BottomBarContainer.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: area:editor, type:cosmetic, size/L

#23443 Make NodeSamples editable
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSlider.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Types/IHasRepeats.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/NodeSamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/XL

#28518 Update framework
  osu.Android.props
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneDrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyStageForeground.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneGameplayCursor.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleArea.cs
  osu.Game.Tests/Visual/Editing/TestScenePositionSnapGrid.cs
  osu.Game.Tournament/Screens/Ladder/Components/LadderEditorSettings.cs
  osu.Game/Audio/Effects/AudioFilter.cs
  osu.Game/Graphics/Cursor/GlobalCursorDisplay.cs
  osu.Game/Graphics/UserInterface/FocusedTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/Comments/ReplyCommentEditor.cs
  osu.Game/Overlays/Login/LoginForm.cs
  osu.Game/Overlays/Login/LoginPanel.cs
  osu.Game/Overlays/Login/SecondFactorAuthForm.cs
  osu.Game/Overlays/LoginOverlay.cs
  osu.Game/Overlays/Mods/AddPresetPopover.cs
  osu.Game/Overlays/Mods/EditPresetPopover.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingsSubsection.cs
  osu.Game/Overlays/SettingsPanel.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Setup/LabelledTextBoxWithPopover.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Verify/IssueTable.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/SelectV2/Footer/BeatmapOptionsPopover.cs
  osu.Game/Screens/Utility/SampleComponents/LatencySampleComponent.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#28444 Reload scrolling hitobject composer on control point changes
  osu.Game/Beatmaps/ControlPoints/ControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointGroup.cs
  osu.Game/Beatmaps/ControlPoints/ControlPointInfo.cs
  osu.Game/Beatmaps/ControlPoints/DifficultyControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/SampleControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Rulesets/Edit/ScrollingHitObjectComposer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: ruleset/osu!taiko, ruleset/osu!mania, area:editor, size/M

#28478 Fix crash on drag selection via timeline while placement is active
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaBeatSnapGrid.cs
  osu.Game.Tests/Visual/Editing/TestSceneTimelineSelection.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/M, type:reliability

#28540 Fix typo in ScoreProcessor
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: type:code-quality, size/XS

#28537 Adjust behaviour of hit animations toggle to match user expectations
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCircleOverlapMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCircleSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderCircleOverlay.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: ruleset/osu!, area:editor, type:cosmetic, size/L

#28559 Fix scale control key binding breaking previous defaults
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: size/XS, next release

#28568 Fix incorrect slider judgement positions when classic mod is active
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
Labels: ruleset/osu!, area:gameplay, size/S, next release

#28570 Fix legacy skin hold note bodies not appearing when scrolling upwards
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
Labels: ruleset/osu!mania, area:skinning, size/XS, next release

#28576 Fix silver S rank display animating on every hit
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: type:cosmetic, area:skinning, size/XS, next release

#28572 Fix crash on calculating playlist duration when rate-changing mods are present
  osu.Game/Online/Rooms/PlaylistExtensions.cs
  osu.Game/Screens/OnlinePlay/Components/OverlinedPlaylistHeader.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
Labels: size/S, type:reliability, area:playlists, next release

#28580 Fix crash when attempting to adjust duration of break that has no preceding/succeeding objects
  osu.Game.Tests/Editing/TestSceneEditorBeatmapProcessor.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBreak.cs
  osu.Game/Screens/Edit/EditorBeatmapProcessor.cs
Labels: area:editor, size/L, type:reliability, next release

#28590 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#28561 Implement score breakdown display for daily challenge screen
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeScoreBreakdown.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeScoreBreakdown.cs
Labels: type:online, type:cosmetic, size/L

#28589 Fix crashes when opening scale/rotation popovers during selection box operations
  osu.Game.Rulesets.Osu/Edit/OsuSelectionRotationHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Rulesets.Osu/Edit/TransformToolboxGroup.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionRotationHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxScaleHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionRotationHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionScaleHandler.cs
Labels: area:editor, size/M, type:reliability

#28596 Refactor out taiko Peaks skill
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Peaks.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/L

#28602 Prevent multiple invocations of failure procedure
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
Labels: area:mods, size/XS, type:reliability

#28605 Fix intermittent failure in online menu banner tests
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
Labels: type:testing, size/XS

#28606 Always log missing official build attribute
  osu.Game/OsuGame.cs
Labels: area:tooling, size/XS

#28601 Adjust beatmap carousel's spacing to remove dead-space
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
Labels: area:song-select, size/S

#28615 Ensure carousel panel depth is consistent based on vertical position
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/XS

#28621 Fix editor performance regression with hitmarkers active
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderTail.cs
Labels: type:performance, area:editor, size/M

#28608 Implement carousel container for daily challenge screen
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeCarousel.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeCarousel.cs
Labels: type:online, type:cosmetic, size/L

#28620 Optimize Text Color For Mod Multiplier Text
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: area:song-select, type:cosmetic, size/XS

#28632 Fix osu! dropdown no longer handling `Enter` key to select items
  osu.Game.Tests/Visual/Settings/TestSceneFileSelector.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuDropdown.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneRoundedButton.cs
  osu.Game.Tests/Visual/UserInterface/ThemeComparisonTestScene.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: type:input, size/L

#28630 Fix break generation not accounting for concurrent hitobjects correctly
  osu.Game.Tests/Editing/TestSceneEditorBeatmapProcessor.cs
  osu.Game/Screens/Edit/EditorBeatmapProcessor.cs
Labels: area:editor, size/M

#28613 Improve performance of editor tables
  osu.Android.props
  osu.Game/Screens/Edit/EditorTable.cs
  osu.Game/Screens/Edit/TableHeaderText.cs
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/AttributeProgressBar.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
  osu.Game/Screens/Edit/Verify/IssueTable.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:performance, area:editor, size/XL

#28638 Fix editor not loading arbitrary beat divisors
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#28640 Show distance in pixels to previous/next object in osu! hitobject inspector
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectInspector.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorInspector.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectInspector.cs
Labels: ruleset/osu!, area:editor, size/M

#28500 Changed timed difficulty attributes to be "per-HitObject" instead of "per-DifficultyHitObject"
  osu.Game.Tests/NonVisual/TestSceneTimedDifficultyCalculation.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
Labels: type:behavioural, area:difficulty, size/M

#28650 Show mod preset description text in tooltip popup
  osu.Game/Overlays/Mods/IncompatibilityDisplayingModPanel.cs
  osu.Game/Overlays/Mods/IncompatibilityDisplayingTooltip.cs
  osu.Game/Overlays/Mods/ModButtonTooltip.cs
  osu.Game/Overlays/Mods/ModPresetTooltip.cs
Labels: size/M, area:overlay-mod-select

#28652 Fix low pass filter sometimes not applied in dialog overlays
  osu.Game/Overlays/Dialog/PopupDialogDangerousButton.cs
Labels: size/S, audio

#28653 Update beatmap listing filter overlay to better imply selected filters
  osu.Game/Overlays/BeatmapListing/BeatmapSearchGeneralFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
Labels: size/L, area:overlay-beatmap-listing

#28636 Add client/server models for allowing clients to receive realtime playlist updates
  osu.Game/Online/Metadata/IMetadataClient.cs
  osu.Game/Online/Metadata/IMetadataServer.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/MultiplayerPlaylistItemStats.cs
  osu.Game/Online/Metadata/MultiplayerRoomScoreSetEvent.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeScoreBreakdown.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
Labels: type:online, size/L

#26465 Fix editor test play not marking hit objects before its start time as judged.
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: area:editor, size/M

#25725 Fix JuiceStream velocity calculation
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneCatchEditorSaving.cs
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
Labels: blocked, ruleset/osu!catch, area:beatmap-parsing, size/M
