Repository ppy/osu, pull requests merged in 2024-03, with the labels that each got.

#27424 Hide osu!taiko scroller when the beatmap has storyboard
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoPlayerScroller.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game/Screens/Play/GameplayState.cs
  osu.Game/Screens/Play/Player.cs
Labels: ruleset/osu!taiko, area:storyboard, size/L

#27001 Associate with files and URIs on windows
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Desktop/Windows/Icons.cs
  osu.Desktop/Windows/WindowsAssociationManager.cs
  osu.Desktop/osu.Desktop.csproj
  osu.Desktop/osu.nuspec
  osu.Game/Localisation/WindowsAssociationManagerStrings.cs
  osu.sln.DotSettings
Labels: size/L, platform/windows, next release

#27441 Remove useless DrawablePool in `ColourHitErrorMeter`
  osu.Game/Screens/Play/HUD/HitErrorMeters/ColourHitErrorMeter.cs
Labels: size/XS

#27426 Fix gameplay seeking backwards for a single frame for some users
  osu.Game.Rulesets.Mania.Tests/TestSceneTimingBasedNoteColouring.cs
  osu.Game.Tests/NonVisual/FirstAvailableHitWindowsTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneCompletionCancellation.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneFrameStabilityContainer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySampleTriggerSource.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Beatmaps/FramedBeatmapClock.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Tests/Visual/PlayerTestScene.cs
  osu.Game/Utils/SentryOnlyDiagnosticsException.cs
Labels: area:gameplay, size/L, next release

#27440 When discord is set to privacy mode, don't show beatmap being edited
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
  osu.Game/Users/UserActivity.cs
Labels: type:online, size/S

#27449 Fix file association descriptions not being written when updating from an older version
  osu.Desktop/Windows/WindowsAssociationManager.cs
Labels: size/XS, platform/windows

#27472 Fix "unranked explaination" tooltip text using incorrect translation key
  osu.Game/Localisation/ModSelectOverlayStrings.cs
Labels: type:localisation, size/XS, area:overlay-mod-select

#27154 Fix draining processor failing gameplay on bonus misses, tiny droplet misses, and ignore hits
  osu.Game.Rulesets.Catch.Tests/CatchHealthProcessorTest.cs
  osu.Game.Rulesets.Catch/Scoring/CatchHealthProcessor.cs
  osu.Game.Rulesets.Mania.Tests/ManiaHealthProcessorTest.cs
  osu.Game.Rulesets.Osu.Tests/OsuHealthProcessorTest.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoHealthProcessorTest.cs
  osu.Game/Rulesets/Scoring/AccumulatingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/DrainingHealthProcessor.cs
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:gameplay, size/L, area:ruleset-api

#27502 Use new ToDictionary() overload without delegates
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
Labels: size/XS

#27456 Fix catch fruit position getting randomised when last fruit has zero position
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch.Tests/Resources/Testing/Beatmaps/1041052-expected-conversion.json
  osu.Game.Rulesets.Catch.Tests/Resources/Testing/Beatmaps/1041052.osu
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapProcessor.cs
Labels: ruleset/osu!catch, area:mods, size/L

#27242 Log `GlobalStatistics` when exporting logs from settings
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
Labels: area:tooling, size/XS

#27497 Fix mod select overlay settings order not always matching mod panels
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
Labels: type:behavioural, size/M, area:overlay-mod-select

#27276 Add flow for displaying achieved medals
  osu.Game.Tests/Visual/Gameplay/TestSceneMedalOverlay.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Graphics/Containers/OsuFocusedOverlayContainer.cs
  osu.Game/Online/Chat/WebSocketChatClient.cs
  osu.Game/Online/Notifications/WebSocket/Events/NewChatMessageData.cs
  osu.Game/Online/Notifications/WebSocket/Events/NewPrivateNotificationEvent.cs
  osu.Game/Online/Notifications/WebSocket/Events/UserAchievementUnlock.cs
  osu.Game/Online/Notifications/WebSocket/Requests/EndChatRequest.cs
  osu.Game/Online/Notifications/WebSocket/Requests/StartChatRequest.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/MedalAnimation.cs
  osu.Game/Overlays/MedalOverlay.cs
  osu.Game/Overlays/MedalSplash/DrawableMedal.cs
  osu.Game/Properties/AssemblyInfo.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: type:online, size/XL, next release

#27506 Update framework
  osu.Android.props
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
  osu.Game.Rulesets.Osu/Replays/OsuAutoGenerator.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerProgressArc.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinnerRingArc.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerMaxDimensions.cs
  osu.Game/Beatmaps/BeatmapPanelBackgroundTextureLoaderStore.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardThumbnail.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
  osu.Game/Graphics/UserInterface/OsuNumberBox.cs
  osu.Game/IO/Archives/ZipArchiveReader.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletAreaSelection.cs
  osu.Game/Overlays/Settings/SettingsNumberBox.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Timing/TapButton.cs
  osu.Game/Screens/Menu/LogoVisualisation.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/GradedCircles.cs
  osu.Game/Skinning/LegacySongProgress.cs
  osu.Game/Skinning/LegacyTextureLoaderStore.cs
  osu.Game/Skinning/MaxDimensionLimitedTextureLoaderStore.cs
  osu.Game/Utils/GeometryUtils.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#27504 Never set `waitingOnFrames` if a replay is not attached
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/Play/GameplayClockContainer.cs
Labels: area:gameplay, size/S, next release

#27489 Fix catch pp calculator not matching live with respect to miss handling
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreEncoderTest.cs
  osu.Game/Scoring/Legacy/ScoreInfoExtensions.cs
Labels: ruleset/osu!catch, area:difficulty, size/L

#27491 Update F rank badge colours to match latest designs
  osu.Game.Tests/Visual/Ranking/TestSceneDrawableRank.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Online/Leaderboards/DrawableRank.cs
Labels: area:song-select, type:cosmetic, area:results, size/M

#27454 Improve storyboard performance by better handling sprites lifetime
  osu.Game/Storyboards/CommandTimelineGroup.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: type:performance, area:storyboard, size/M

#27513 Fix osu! standardised score estimation algorithm violating basic invariants
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:scoring, size/S

#27453 Fix osu!mania key images potentially showing gaps between columns
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyKeyArea.cs
Labels: ruleset/osu!mania, area:skinning, size/XS

#27516 Change editor screen switcher control design and behaviour to act like a button
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Screens/Edit/Components/Menus/EditorScreenSwitcherControl.cs
Labels: area:editor, type:behavioural, size/M

#27501 Use ThrowHelper methods in more places
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Beatmaps/Timing/TimeSignature.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/IO/WrappedStorage.cs
  osu.Game/Rulesets/Difficulty/Utils/ReverseQueue.cs
  osu.Game/Rulesets/Objects/Types/PathType.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticTable.cs
  osu.Game/Utils/LimitedCapacityQueue.cs
  osu.Game/Utils/StatelessRNG.cs
Labels: type:code-quality, size/M

#27214 Fix mod selection in online-play rooms not accounting for mods of selected item
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModEffectPreviewPanel.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/RoomModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: type:behavioural, area:multiplayer, size/L

#27520 Fix missing event unbinds
  osu.Game.Rulesets.Mania/Mods/ManiaModHidden.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:gameplay, area:editor, size/S, type:reliability

#27429 Fix slider tracking state not restoring correctly in all cases on rewind
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderInput.cs
  osu.Game.Rulesets.Osu/Judgements/OsuSliderJudgementResult.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SliderInputManager.cs
Labels: ruleset/osu!, area:replay, size/M

#27529 Fix cross-talk between pooled `DrawableSliderRepeat` usage causing incorrect rotation
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#27533 Fix 1px flashlight gaps when gameplay scaling mode is active
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModFlashlight.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: ruleset/osu!taiko, ruleset/osu!catch, area:mods, size/S, next release

#27535 Add support for argon hitsounds
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Skinning/ArgonProSkin.cs
  osu.Game/Skinning/ArgonSkin.cs
Labels: area:gameplay, size/S, audio

#27543 Fix `WikiPanelContainer` causing allocations and poor performance
  osu.Game/Overlays/Wiki/WikiPanelContainer.cs
Labels: size/M

#27551 Reduce allocations while hovering `DrawableFlag`
  osu.Game/Users/Drawables/DrawableFlag.cs
Labels: size/XS

#27558 Fix `TestSceneSkinnableSound` failing
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableSound.cs
Labels: size/XS

#27556 Reduce allocations in editor timing screen
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
Labels: size/S

#27541 Wrap beatmap listing filters and match web spacing
  osu.Game/Overlays/BeatmapListing/BeatmapListingSearchControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
Labels: type:behavioural, size/M, area:overlay-beatmap-listing

#27564 Fix incorrect gradient application in `TimelineHitObjectBlueprint`
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: size/XS

#27574 Fix ruleset medals not displaying due to deserialisation failure
  osu.Game/Online/Notifications/WebSocket/Events/UserAchievementUnlock.cs
Labels: type:online, size/XS, next release

#27586 Fix exports containing zero byte files after import from specific ZIP archives
  osu.Game.Tests/Resources/Archives/skin-with-subfolder-zip-entries.osk
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/IO/Archives/ZipArchiveReader.cs
Labels: size/S, type:reliability, area:import

#27562 Don't update SubTreeMasking in `OsuPlayfield`
  osu.Game.Rulesets.Osu/Edit/DrawableOsuEditorRuleset.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
Labels: size/M

#27587 Remember login by default
  osu.Game/Configuration/OsuConfigManager.cs
Labels: type:online, size/XS

#27595 Rearrange rankings overlay tabs to match web
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
  osu.Game/Overlays/Rankings/RankingsScope.cs
Labels: size/XS, area:overlay-rankings

#27601 Fix first word bold not applying correctly after first language change
  osu.Game/Overlays/Mods/ModSelectColumn.cs
Labels: type:cosmetic, type:localisation, size/S, area:overlay-mod-select

#27600 Fix audio in video check crashing on unexpected failures
  osu.Game/Rulesets/Edit/Checks/CheckAudioInVideo.cs
Labels: area:editor, size/XS, type:reliability

#27616 Add inline disclaimer displays on player loader
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Localisation/PlayerLoaderStrings.cs
  osu.Game/Screens/Play/EpilepsyWarning.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoaderDisclaimer.cs
Labels: area:gameplay, type:cosmetic, size/L

#27632 Improve editor performance with many timeline ticks present
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: type:performance, area:editor, size/XS

#27607 Fix noticeable masking artifact of beatmap cards when already downloaded
  osu.Game/Beatmaps/Drawables/Cards/CollapsibleButtonContainer.cs
Labels: type:cosmetic, size/S, area:overlay-beatmap-listing

#27668 Fix incorrectly encoded score IsPerfect value
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreEncoderTest.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: area:scoring, size/M

#27064 Display misses in the hit accuracy heatmap
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Osu/Mods/OsuModClassic.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
  osu.Game.Rulesets.Osu/osu.Game.Rulesets.Osu.csproj
  osu.Game/osu.Game.csproj
Labels: type:cosmetic, area:results, size/L

#27443 Support Discord game invites in multiplayer lobbies
  osu.Desktop/DiscordRichPresence.cs
Labels: area:multiplayer, size/L

#27630 Improve editor performance for maps with many control points
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointDisplay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TopPointPiece.cs
Labels: type:performance, area:editor, size/M

#27675 Remove unused `ScreenBreadcrumbControl`
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenBreadcrumbControl.cs
  osu.Game/Graphics/UserInterface/ScreenBreadcrumbControl.cs
Labels: type:code-quality, size/L

#27676 Add extended logging when discarding online metadata lookup results
  osu.Game/Beatmaps/BeatmapUpdaterMetadataLookup.cs
Labels: type:online, size/XS

#27079 Add delayed resume for taiko/catch/mania
  osu.Game.Rulesets.Catch/UI/DrawableCatchRuleset.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneResumeOverlay.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneDelayedResumeOverlay.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Play/DelayedResumeOverlay.cs
  osu.Game/Screens/Play/ResumeOverlay.cs
  osu.Game/osu.Game.csproj
Labels: ruleset/osu!taiko, ruleset/osu!mania, ruleset/osu!catch, area:gameplay, type:behavioural, size/L

#27681 Warn about not using an official "deployed" build
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Updater/UpdateManager.cs
  osu.Game/Utils/OfficialBuildAttribute.cs
Labels: size/S, type:reliability

#27677 Fix catch banana shower judgement causing fail when at 0 HP
  osu.Game.Rulesets.Catch.Tests/CatchHealthProcessorTest.cs
  osu.Game.Rulesets.Catch/Scoring/CatchHealthProcessor.cs
  osu.Game/Rulesets/Scoring/LegacyDrainingHealthProcessor.cs
Labels: ruleset/osu!catch, area:gameplay, size/XS

#27639 Add verify checks to unused audio at the end
  osu.Game.Tests/Editing/Checks/CheckUnusedAudioAtEndTest.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckUnusedAudioAtEnd.cs
Labels: area:editor, size/L

#26937 Stop blocking player load when hovering over osu! logo
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:song-select, type:behavioural, size/M

#27418 Make slider path parsing more friendly with spans
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/PathControlPoint.cs
Labels: type:performance, area:beatmap-parsing, size/L

#27692 Use title as tiebreaker when sorting beatmap carousel by artist
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: area:song-select, type:behavioural, size/M

#27708 Add verify check for too high video resolution
  osu.Game.Tests/Editing/Checks/CheckVideoResolutionTest.cs
  osu.Game.Tests/Resources/Videos/test-video-resolution-high.mp4
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckVideoResolution.cs
Labels: area:editor, size/L

#27728 Fix discord RPC errors in multiplayer
  osu.Desktop/DiscordRichPresence.cs
Labels: type:online, size/M

#27729 Fix taiko legacy score simulator not including swell tick score gain into bonus portion
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: ruleset/osu!taiko, area:scoring, size/XS

#27635 Support filtering for multiple statuses when searching beatmaps in the map picker
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, type:behavioural, size/L

#27722 Add ability to schedule and rotate main menu content
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game.Tests/Visual/Menus/TestSceneOnlineMenuBanner.cs
  osu.Game/Online/API/Requests/GetMenuContentRequest.cs
  osu.Game/Online/API/Requests/Responses/APIMenuContent.cs
  osu.Game/Online/API/Requests/Responses/APIMenuImage.cs
  osu.Game/Online/API/Requests/Responses/APISystemTitle.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/OnlineMenuBanner.cs
  osu.Game/Screens/Menu/SystemTitle.cs
Labels: area:main-menu, size/XL

#27733 Fix NVAPI startup exception on non-Windows platforms
  osu.Desktop/NVAPI.cs
  osu.Desktop/Program.cs
Labels: platform/linux, platform/macOS, size/XS

#26707 Adjust `BeatSyncContainer`'s early animate offset based on source's rate
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModTouchDevice.cs
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
Labels: area:main-menu, size/S

#27739 Fix `SkinImporter` not using invariant culture when parsing skins without `skin.ini`
  osu.Game/Skinning/SkinImporter.cs
Labels: size/XS, type:reliability, area:import

#27723 Fix reverse selection not updating new combo location
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneCatchReverseSelection.cs
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuReverseSelection.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
Labels: area:editor, size/XL

#27754 Fix double binding causing game crash after API enters failing state
  osu.Game.Tests/Visual/Menus/TestSceneLoginOverlay.cs
  osu.Game/Overlays/Login/LoginPanel.cs
Labels: size/M, type:reliability

#27748 Update action versions in diffcalc workflow
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/S

#27755 Avoid reporting an import as successful when all beatmaps failed to import
  osu.Game.Tests/Database/LegacyBeatmapImporterTest.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
Labels: size/XS, area:import

#27756 Apply partial fade on pp display on results screen when score will not give pp
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game/Localisation/ResultsScreenStrings.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
Labels: type:cosmetic, area:results, size/M

#27758 Fix taiko mascot size not matching stable
  osu.Game.Rulesets.Taiko/UI/TaikoMascotAnimation.cs
Labels: ruleset/osu!taiko, area:gameplay, size/XS

#27760 Fix break overlay arrows look ugly on bright backgrounds
  osu.Game/Graphics/Sprites/GlowingDrawable.cs
  osu.Game/Graphics/Sprites/GlowingSpriteText.cs
  osu.Game/Screens/Play/Break/BlurredIcon.cs
  osu.Game/Screens/Play/Break/BreakArrows.cs
  osu.Game/Screens/Play/Break/GlowIcon.cs
Labels: size/L
