Repository ppy/osu, pull requests merged in 2024-08, with the labels that each got.

#29244 Fix click sounds playing twice on `OsuRearrangeableListItem`
  osu.Game/Collections/DrawableCollectionListItem.cs
  osu.Game/Graphics/Containers/OsuRearrangeableListItem.cs
Labels: size/S, audio

#29249 Allow horizontal scrolling on mod select overlay anywhere on the screen
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/XS, area:overlay-mod-select

#29253 Interpolate parts in local space to avoid broken cursor trails
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: size/S

#29254 Fix mod panels overflowing into the column borders
  osu.Game/Overlays/Mods/ModSelectColumn.cs
Labels: type:cosmetic, size/XS, area:overlay-mod-select

#29256 Fix date added sometimes getting reset when updating a beatmap
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
Labels: realm, size/M

#29228 Fix insane transform allocations in new leaderboard display
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
Labels: type:performance, size/M

#29231 Show breaks behind objects in timeline
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
Labels: area:editor, size/S

#29259 Fix customise button on mod overlay initially showing flash layer indefinitely
  osu.Game/Overlays/Mods/ModCustomisationHeader.cs
Labels: type:cosmetic, size/XS, area:overlay-mod-select

#29157 Add daily challenge stats display to user profile overlay
  osu.Game.Tests/Visual/Online/TestSceneUserProfileDailyChallenge.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/API/Requests/Responses/APIUserDailyChallengeStatistics.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsTooltip.cs
  osu.Game/Overlays/Profile/Header/Components/MainDetails.cs
  osu.Game/osu.Game.csproj
Labels: type:online, type:cosmetic, area:overlay-user-profile, size/XL

#29273 Allow searching enum descriptions from `SettingsEnumDropdown`s
  osu.Game/Overlays/Settings/SettingsEnumDropdown.cs
Labels: area:settings, size/XS

#29282 Add "sr" as an alias for searching Star Rating
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/XS

#29250 Fix pause input handling in osu! not working like stable
  osu.Android.props
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePauseInputHandling.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset/osu!, area:gameplay, type:input, size/L

#29059 Fix results screen fetching scores twice when scrolled to edge
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: type:behavioural, area:results, size/XS

#29210 Limiting the `OsuTooltip` maximum width to prevent overflow
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuTooltip.cs
  osu.Game/Graphics/Cursor/OsuTooltipContainer.cs
Labels: type:cosmetic, size/L

#29286 Allow object deletion with middle mouse
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/M

#29314 Highlight mentions in chat
  osu.Game.Tests/Visual/Online/TestSceneDrawableChannel.cs
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: area:overlay-chat, size/M

#29292 Pp Refactoring: Moved Difficulty to Performance conversion formulas to respective classes
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Flashlight.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
Labels: area:difficulty, size/S

#29320 Change default for "automatically download beatmaps" to enabled
  osu.Game/Configuration/OsuConfigManager.cs
Labels: area:settings, size/S

#29279 Close context menus when deselecting items in editor
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneObjectMerging.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game/Graphics/Cursor/OsuContextMenuContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#29136 Hover to expand mod customise panel
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModCustomisationPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModCustomisationHeader.cs
  osu.Game/Overlays/Mods/ModCustomisationPanel.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:behavioural, size/L, area:overlay-mod-select

#29322 Fix clicking the beatmap import notification at the daily challenge screen exiting to main menu
  osu.Game/OsuGame.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: size/S

#29281 Add "enter" hint to in-gameplay chatbox placeholder text
  osu.Game/Localisation/ChatStrings.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
Labels: area:gameplay, type:cosmetic, area:multiplayer, size/S

#29323 Add intro screen for daily challenge
  osu.Game.Tests/Visual/Background/TestSceneBackgroundScreenDefault.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeIntro.cs
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game/Screens/BackgroundScreen.cs
  osu.Game/Screens/BackgroundScreenStack.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreenWaveContainer.cs
Labels: size/XL, area:daily-challenge

#26249 Move combo counter to ruleset-specific HUD components container
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchPlayerLegacySkin.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
  osu.Game.Tests/Resources/Archives/argon-layout-version-0.osk
  osu.Game.Tests/Resources/Archives/classic-layout-version-0.osk
  osu.Game.Tests/Resources/Archives/triangles-layout-version-0.osk
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableComboCounter.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacyComboCounter.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/SkinLayoutInfo.cs
  osu.Game/Skinning/TrianglesSkin.cs
  osu.Game/Skinning/UserConfiguredLayoutContainer.cs
Labels: area:skinning, size/L

#29349 Fix potential test failure in daily challenge tests
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: type:testing, size/XS

#29365 Fix occasionally `ChatOverlay` test failures due to RNG usage
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Online/TestSceneChannelList.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
Labels: type:testing, size/S

#29366 Show object inspector values during placement
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectInspector.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectInspector.cs
Labels: area:editor, size/M

#29362 Fix hit object coordinates being truncated to `int` values
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/hitobject-coordinates-lazer.osu
  osu.Game.Tests/Resources/hitobject-coordinates-legacy.osu
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap-parsing, size/M

#29346 Move mute button to master volume circle
  osu.Game/Overlays/Volume/MasterVolumeMeter.cs
  osu.Game/Overlays/Volume/MuteButton.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/Overlays/VolumeOverlay.cs
Labels: type:cosmetic, size/L

#29367 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#29350 Remove `iPhone`/`iPhoneSimulator` platform configurations and fix iOS build workflow
  .github/workflows/ci.yml
  osu.iOS.props
  osu.sln
Labels: size/L

#29347 Start playing the daily challenge track during the intro (and automatically download)
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
Labels: size/M, area:daily-challenge

#29368 Add sound design for daily challenge intro animation
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
  osu.Game/osu.Game.csproj
Labels: size/M, audio

#29363 Fix daily challenge notification spam
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneMainMenuButton.cs
  osu.Game/Screens/Menu/DailyChallengeButton.cs
Labels: size/S, next release, area:daily-challenge

#29394 Fix context menus sometimes not being clickable at song select
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/XS

#29372 Add option to hide song progress time/text
  osu.Game/Localisation/HUD/SongProgressStrings.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
Labels: type:cosmetic, area:skinning, size/S

#29388 Fix error on parsing osu!mania replays with 18 or more keys
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Resources/Replays/mania-replay.osr
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: ruleset/osu!mania, area:beatmap-parsing, size/S

#29342 Remove "Special" `ManiaAction`s for center columns
  osu.Game.Rulesets.Mania.Tests/ManiaLegacyReplayTest.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneStage.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneAutoGeneration.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneStage.cs
  osu.Game.Rulesets.Mania/DualStageVariantGenerator.cs
  osu.Game.Rulesets.Mania/ManiaInputManager.cs
  osu.Game.Rulesets.Mania/Replays/ManiaAutoGenerator.cs
  osu.Game.Rulesets.Mania/Replays/ManiaReplayFrame.cs
  osu.Game.Rulesets.Mania/SingleStageVariantGenerator.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game.Rulesets.Mania/VariantMappingGenerator.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePauseInputHandling.cs
  osu.Game/Database/RealmAccess.cs
Labels: type:code-quality, ruleset/osu!mania, size/L

#29401 Automatically use in-game language for wiki pages
  osu.Game/Overlays/WikiOverlay.cs
Labels: size/M

#29402 Fix occasional test failures in `TestSceneBetmapRecommendations`
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
Labels: type:testing, size/XS

#29404 Fix user profile overlay colour resetting when selecting another ruleset
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/UserProfileOverlay.cs
Labels: type:behavioural, area:overlay-user-profile, size/S

#29403 Fix fruit positions getting mangled when exploded from the plate
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/CaughtObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawablePalpableCatchHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/IHasCatchObjectState.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset/osu!catch, area:gameplay, type:cosmetic, size/L

#29412 Fix file access test failure by forcing retries
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
Labels: type:testing, size/S

#29414 Add localisation for daily challenge day/week units
  osu.Game/Localisation/DailyChallengeStatsDisplayStrings.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsTooltip.cs
Labels: type:localisation, area:overlay-user-profile, size/M

#29417 Remove daily challenge tooltip from main menu
  osu.Game/Screens/Menu/DailyChallengeButton.cs
Labels: area:main-menu, size/M, next release

#29406 Fix crash on changing skins when classic mod is enabled and game is rewound
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: area:skinning, size/M, type:reliability

#29426 Fix some characters ('.', ',') being misaligned in legacy counters
  osu.Game/Skinning/LegacySpriteText.cs
Labels: area:gameplay, size/XS

#29415 Implement song select v2 difficulty name content component
  osu.Game.Tests/Visual/SongSelectV2/SongSelectComponentsTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapInfoWedge.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneDifficultyNameContent.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneLeaderboardScore.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectNavigation.cs
  osu.Game/Screens/SelectV2/Wedge/DifficultyNameContent.cs
  osu.Game/Screens/SelectV2/Wedge/LocalDifficultyNameContent.cs
Labels: area:song-select, type:cosmetic, size/L

#29427 Fix beatmap skin always overriding ruleset HUD components
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
Labels: area:skinning, size/XS, next release

#29428 Ensure the "Change Difficulty" menu uses up-to-date difficulty names
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#29434 Fix PathControlPointVisualiser eating inputs when no control points are selected
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: size/S

#29438 Fix preview play button having incorrect click area
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNormal.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardThumbnail.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/PlayButton.cs
Labels: size/S

#29433 Fix grid snap slider placement double-click not making new segment if anchor not hovered
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
Labels: size/S

#29458 Fix custom skin sprites no longer working
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: size/S

#29467 Remove extra box in `OnlinePlayBackgroundScreen`
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundScreen.cs
Labels: area:multiplayer, size/S

#29485 Fix beatmap carousel panels not blocking hover of other panels in song select
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
Labels: area:song-select, type:cosmetic, size/XS

#28538 Reimplement stable polygon tool
  osu.Game.Rulesets.Osu/Edit/GenerateToolboxGroup.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/PolygonGenerationPopover.cs
Labels: ruleset/osu!, area:editor, size/L

#29502 Don't duck music when effect volume is set to zero
  osu.Game/Overlays/MusicController.cs
Labels: size/S, audio

#29474 Fix legacy combo counter bounce animation not always playing
  osu.Game/Skinning/LegacyDefaultComboCounter.cs
Labels: area:gameplay, size/XS

#29503 Fix osu!catch trail spacing not matching osu!stable expectations
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
Labels: ruleset/osu!catch, size/XS

#29504 Fix skin editor components sidebar not reloading when changing skins
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/XS, area:skin-editor

#29476 Improve draw performance of editor grids
  osu.Game/Screens/Edit/Compose/Components/PositionSnapGrid.cs
Labels: type:performance, area:editor, size/S

#29515 Apply current cursor expansion scale to trail parts
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
Labels: ruleset/osu!, type:cosmetic, area:skinning, size/M

#29531 Remove dead row attribute classes
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/DifficultyRowAttribute.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/SampleRowAttribute.cs
Labels: type:code-quality, area:editor, size/L

#29445 Make break periods in bottom timeline transparent
  osu.Game.Tests/Visual/Editing/TestSceneEditorSummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
Labels: area:editor, size/S

#29528 Make grid/distance snap binds T/Y respectively
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
Labels: type:input, area:editor, size/S

#29508 Change "hold for menu" button to only show for touch by default
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHoldForMenuButton.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/HUDSettings.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
Labels: area:gameplay, size/M

#29534 Fix crash on attempting to edit particular beatmaps
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: area:beatmap-parsing, area:editor, size/S

#29536 Fix legacy key counter position not matching stable
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
Labels: area:skinning, size/S

#29540 Fix resume overlay appearing behind HUD/skip overlays
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, type:cosmetic, size/XS

#28991 Add collection and favourite buttons to results screen
  osu.Game.Tests/Visual/Ranking/TestSceneCollectionButton.cs
  osu.Game.Tests/Visual/Ranking/TestSceneFavouriteButton.cs
  osu.Game/Screens/Ranking/CollectionButton.cs
  osu.Game/Screens/Ranking/CollectionPopover.cs
  osu.Game/Screens/Ranking/FavouriteButton.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
  osu.Game/Tests/Visual/OsuTestScene.cs
Labels: area:results, size/XL

#29529 Fix mania combo counter positioning break on centre anchor
  osu.Game.Rulesets.Mania.Tests/Skinning/ManiaSkinnableTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneComboCounter.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonManiaComboCounter.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaComboCounter.cs
Labels: ruleset/osu!mania, area:skinning, size/L

#29556 Add star fountains/bursts when entering kiai mode in gameplay
  osu.Game.Tests/Visual/Menus/TestSceneStarFountain.cs
  osu.Game/Screens/Menu/StarFountain.cs
  osu.Game/Screens/Play/KiaiGameplayFountains.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/L

#29553 Add support for retrieving submit/rank date from local metadata cache in version 2
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
Labels: size/L, area:import

#29532 Redesign timing table tracking
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
Labels: area:editor, type:behavioural, size/L

#29541 Keep mod customisation panel open when dragging outside
  osu.Game.Tests/Visual/UserInterface/TestSceneModCustomisationPanel.cs
  osu.Game/Overlays/Mods/ModCustomisationPanel.cs
Labels: type:behavioural, size/M, area:overlay-mod-select

#29512 Fix toolbar PP change showing `+0` instead of `0`
  osu.Game.Tests/Visual/Menus/TestSceneToolbarUserButton.cs
  osu.Game/Overlays/Toolbar/TransientUserStatisticsUpdateDisplay.cs
Labels: size/M, area:toolbar

#29537 Allow copying beatmap link in song select carousel context menu
  osu.Game/Beatmaps/BeatmapInfoExtensions.cs
  osu.Game/Beatmaps/BeatmapSetInfoExtensions.cs
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Localisation/ToastStrings.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:song-select, size/M

#29577 Fix some older lazer skins failing to load properly
  osu.Game.Tests/Resources/Archives/argon-invalid-drawable.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Skinning/Skin.cs
Labels: area:skinning, size/M

#29585 Fix Daily Challenge play count using a different colour than osu-web
  osu.Game.Tests/Visual/Online/TestSceneUserProfileDailyChallenge.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsDisplay.cs
Labels: size/S

#29604 Improve mod icon contrast and mod aconym readability
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: area:mods, type:cosmetic, size/XS

#25953 Add ability to change slider length by dragging slider tail
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderCircleOverlay.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderEndDragMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
Labels: ruleset/osu!, area:editor, size/L

#29560 Fix mod icons potentially showing incorrectly at daily challenge intro
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
Labels: size/S, area:daily-challenge

#29500 Fix oversight in osu! pause input handling
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePauseInputHandling.cs
Labels: ruleset/osu!, area:gameplay, type:input, size/M

#29612 Fix osu!mania hold notes playing a sound at their tail in the editor
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
Labels: ruleset/osu!mania, area:editor, size/M

#29576 Allow seeking via music controller overlay on more screens
  osu.Game/Overlays/MusicController.cs
Labels: type:behavioural, size/XS

#29637 Hide pinned comment replies initially to match web
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
Labels: type:behavioural, size/S, area:comments

#29533 Fix incorrect bank set / sample addition logic
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: area:editor, size/M

#29644 Adjust `played` song select filter to accept a boolean value
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/M

#29448 Hide scroll speed changes in std and ctb editor
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Rulesets/UI/Scrolling/DrawableScrollingRuleset.cs
  osu.Game/Rulesets/UI/Scrolling/IDrawableScrollingRuleset.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Timing/EffectSection.cs
  osu.Game/Screens/Edit/Timing/RowAttributes/EffectRowAttribute.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:editor, size/M

#29440 Allow play/pause with spacebar while placing hitobjects
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/M

#28737 Add more ways to seek to sample points
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
  osu.Game/Overlays/VolumeOverlay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/NodeSamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/L

#29653 Fix event leak in `Multiplayer` implementation
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
Labels: type:performance, size/XS

#29646 Fix catch auto generator not considering circle size
  osu.Game.Rulesets.Catch/Replays/CatchAutoGenerator.cs
Labels: ruleset/osu!catch, area:mods, size/XS

#29654 Remove mouse input from mania touch controls
  osu.Game.Rulesets.Mania/UI/ManiaTouchInputArea.cs
Labels: ruleset/osu!mania, area:gameplay, type:input, size/S

#29656 Provide API context earlier to api requests in order to fix missing schedules
  osu.Game.Tests/Online/TestSceneOnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/APIDownloadRequest.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/JoinChannelRequest.cs
  osu.Game/Online/API/Requests/LeaveChannelRequest.cs
  osu.Game/Online/Chat/WebSocketChatClient.cs
  osu.Game/Online/Rooms/JoinRoomRequest.cs
  osu.Game/Online/Rooms/PartRoomRequest.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Tests/PollingChatClient.cs
Labels: type:online, size/L

#29667 Rework kiai handling in `SummaryTimeline`
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/KiaiPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
Labels: area:editor, size/L
