Repository ppy/osu, pull requests merged in 2024-09, with the labels that each got.

#29660 Use `FastCircle` in demanding places in the editor
  osu.Android.props
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/KiaiPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Loader.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:performance, area:editor, size/S

#29542 Show daily challenge intro screen once per session
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeIntro.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneMainMenuButton.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Screens/Menu/DailyChallengeButton.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
  osu.Game/Utils/Optional.cs
Labels: type:behavioural, size/L, next release, area:daily-challenge

#29679 Fix osu!catch fruits not resizing on texture change
  osu.Game.Rulesets.Catch/Skinning/Legacy/LegacyCatchHitObjectPiece.cs
Labels: ruleset/osu!catch, area:skinning, size/S

#29681 Fix incorrect osu!catch snap display when last object is a juice stream
  osu.Game.Rulesets.Catch/Edit/CatchDistanceSnapProvider.cs
Labels: ruleset/osu!catch, area:editor, size/XS

#29446 Fix path control points losing curve type on save/reload or undo
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderChangeStates.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:editor, size/M

#28743 Migrate update framework to Velopack
  osu.Android/OsuGameAndroid.cs
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Desktop/Updater/SquirrelUpdateManager.cs
  osu.Desktop/Updater/VelopackUpdateManager.cs
  osu.Desktop/osu.Desktop.csproj
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Updater/MobileUpdateNotifier.cs
  osu.Game/Updater/UpdateManager.cs
  osu.iOS/OsuGameIOS.cs
  osu.sln.DotSettings
Labels: blocked, area:installer, size/L

#29688 Fix per-frame allocations in `BeatmapCarousel`
  osu.Game/Overlays/NotificationOverlayToastTray.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: type:performance, size/S, next release

#29626 Mod customization header/panel changes
  osu.Game.Tests/Visual/UserInterface/TestSceneModCustomisationPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModCustomisationHeader.cs
  osu.Game/Overlays/Mods/ModCustomisationPanel.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/L, area:overlay-mod-select

#29616 Add beat-synced animation to break overlay
  osu.Game.Tests/Visual/Gameplay/TestSceneBreakTracker.cs
  osu.Game/Screens/Play/BreakOverlay.cs
  osu.Game/Screens/Play/BreakTracker.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Utils/PeriodTracker.cs
Labels: area:gameplay, size/L, next release

#29690 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS, next release

#27334 Add a replay analysis overlay
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuAnalysisContainer.cs
  osu.Game.Rulesets.Osu/Configuration/OsuRulesetConfigManager.cs
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/AnalysisFrameEntry.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/AnalysisMarker.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/ClickMarker.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/ClickMarkerContainer.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/CursorPathContainer.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/FrameMarker.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/FrameMarkerContainer.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysisOverlay.cs
  osu.Game.Rulesets.Osu/UI/ReplayAnalysisSettings.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
Labels: ruleset/osu!, area:replay, size/XL, next release

#29701 Fix high performance session potentially getting stuck after multiplayer spectator
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: type:performance, size/XS, next release

#29695 Trigger request failure on receiving a null response for a typed `APIRequest`
  osu.Game/Online/API/APIRequest.cs
Labels: type:online, size/XS, next release

#29693 Implement "form" text box control
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game.Tests/Visual/UserInterface/ThemeComparisonTestScene.cs
  osu.Game/Graphics/UserInterfaceV2/FormFieldCaption.cs
  osu.Game/Graphics/UserInterfaceV2/FormNumberBox.cs
  osu.Game/Graphics/UserInterfaceV2/FormTextBox.cs
Labels: area:editor, type:cosmetic, size/L

#29707 Fix replay analysis marker depth when rewinding
  osu.Game.Rulesets.Osu/UI/ReplayAnalysis/AnalysisMarker.cs
Labels: size/XS

#29702 Fix beatmap offset control not working correctly when calibrating from quitting gameplay
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/M

#29710 Silence beatmap retrieval failures from results screen favourite button
  osu.Game/Screens/Ranking/FavouriteButton.cs
Labels: type:behavioural, area:results, size/XS

#29711 Add 'yes'/'no' acronyms to the `played=` filter
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/XS

#29759 Fix scroll speed slider defaulting to 0.01
  osu.Game/Screens/Edit/Timing/EffectSection.cs
Labels: size/XS

#29742 Fix collections overflowing in the results screen
  osu.Game/Screens/Ranking/CollectionPopover.cs
Labels: area:results, size/XS

#29745 Double-quote in beatmap listing when searching by artist/title
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
Labels: size/XS, area:overlay-beatmap-listing

#29743 Fix file associations not updating or uninstalling
  osu.Desktop/Program.cs
Labels: area:installer, size/S, platform/windows

#29715 Fix stall when attempting to import replay after hitting nothing
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:gameplay, size/M, type:reliability, area:import

#29762 Fix beatmap difficulties not being split out on first load
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S

#29770 Add daily challenge animation to daily challenge notification
  osu.Game/Screens/OnlinePlay/DailyChallenge/NewDailyChallengeNotification.cs
Labels: size/XS, area:daily-challenge

#29714 Add Total Participation stat to users profile Daily Challenge Tooltip
  osu.Game.Tests/Visual/Online/TestSceneUserProfileDailyChallenge.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsTooltip.cs
Labels: area:overlay-user-profile, size/M, area:daily-challenge

#29786 Fix selection being dropped when changing carousel sort mode from difficulty sort
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S, next release

#29766 Fix timing points being blocked by buttons in the editor
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
Labels: area:editor, type:cosmetic, size/L

#29822 Differentiate lazer in windows menus
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/XS

#29787 Fix restart notifications appearing every 30 minutes in some cases
  osu.Desktop/Updater/VelopackUpdateManager.cs
Labels: area:installer, size/S, next release

#29805 Completely disable Velopack when using an external updater
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
Labels: size/S, next release

#29838 Remove poorly-fitted "legacy combo counter" abstraction
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaComboCounter.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Skinning/LegacyComboCounter.cs
  osu.Game/Skinning/LegacyDefaultComboCounter.cs
Labels: type:code-quality, area:skinning, size/XL

#29294 Pp Refactoring: `SpeedEvaluator` refactoring
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: area:difficulty, size/S

#29841 Fix several issues in interactions between playfield-altering mods and the replay analysis feature
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
  osu.Game/Rulesets/Mods/ModBarrelRoll.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: ruleset/osu!, area:replay, area:mods, type:cosmetic, size/S

#29848 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#29293 Pp Refactoring: Merged multipliers that do the same thing
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: area:difficulty, size/M

#29291 Pp Refactoring: Removing `DEFAULT_DIFFICULTY_MULTIPLIER` from `OsuStrainSkill`
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Flashlight.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: area:difficulty, size/S

#29862 Backpopulate missing ranked/submitted dates using new local metadata cache
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
  osu.Game/Database/BackgroundDataStoreProcessor.cs
Labels: realm, size/L

#29712 Implement "form" check box control
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Graphics/UserInterfaceV2/FormCheckBox.cs
Labels: area:editor, type:cosmetic, size/L

#29812 Add beatmap icon to windows beatmap files
  osu.Desktop/Windows/Icons.cs
  osu.Desktop/Windows/WindowsAssociationManager.cs
  osu.Desktop/beatmap.ico
Labels: type:cosmetic, area:installer, size/S, platform/windows

#29893 Fix slider end drag marker being in incorrect position for stacked sliders
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderCircleOverlay.cs
Labels: ruleset/osu!, area:editor, size/S

#29894 Fix osu!catch fruit rotation being applied too late
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableBanana.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableDroplet.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableFruit.cs
Labels: ruleset/osu!catch, size/M

#29912 Remove opacity from old style dropdown menus
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: type:cosmetic, size/XS

#29930 Improve flexibility of skin layout editor player avatar
  osu.Game/Screens/Play/HUD/PlayerAvatar.cs
Labels: area:skinning, size/S

#26311 Make editor flip, rotate, and scale tools revolve around the grid center
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePreciseRotation.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
  osu.Game.Rulesets.Osu/Edit/TransformToolboxGroup.cs
  osu.Game.Tests/Utils/GeometryUtilsTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionScaleHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionScaleHandler.cs
  osu.Game/Utils/GeometryUtils.cs
Labels: area:editor, size/L

#29925 Implement beat-synchronized animation in skip overlay
  osu.Game/Screens/Play/SkipOverlay.cs
Labels: area:gameplay, type:cosmetic, size/S

#29897 Implement "form" slider bar control
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/FormCheckBox.cs
  osu.Game/Graphics/UserInterfaceV2/FormSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/FormTextBox.cs
Labels: area:editor, type:cosmetic, size/L

#29933 Fix `DrawableOsuHitObject` not properly cleaning up dim application callbacks
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
Labels: ruleset/osu!, size/M, type:reliability, next release

#29972 Implement "form" dropdown control
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Graphics/UserInterfaceV2/FormDropdown.cs
Labels: area:editor, type:cosmetic, size/L

#29966 Fix score being cloned in async method causing random errors (again)
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, size/XS, type:reliability

#29942 Fix scaling sliders ignoring the scale origin
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
Labels: ruleset/osu!, area:editor, type:behavioural, size/M

#29968 Use cache for beatmap lookups on spectate screen
  osu.Game/Screens/Play/SoloSpectatorScreen.cs
Labels: type:online, size/S, area:spectator

#29985 Fix statistics update not being shown on results screen if it arrives too fast
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/UserStatisticsPanel.cs
Labels: area:results, size/M, next release

#29962 Make all difficulty calculators use `GetMaxCombo` function
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: type:code-quality, area:difficulty, size/XS

#29986 Refactor placement blueprints to not be limited to hit objects
  osu.Game.Rulesets.Catch.Tests/Editor/CatchPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneBananaShowerPlacementBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneFruitPlacementBlueprint.cs
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/BananaShowerCompositionTool.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/CatchPlacementBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Catch/Edit/FruitCompositionTool.cs
  osu.Game.Rulesets.Catch/Edit/JuiceStreamCompositionTool.cs
  osu.Game.Rulesets.Mania.Tests/Editor/ManiaPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneHoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaPlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/HoldNoteCompositionTool.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/Edit/NoteCompositionTool.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneHitCirclePlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSpinnerPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCirclePlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Spinners/SpinnerPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/HitCircleCompositionTool.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/SliderCompositionTool.cs
  osu.Game.Rulesets.Osu/Edit/SpinnerCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/HitPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/Blueprints/TaikoSpanPlacementBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/DrumRollCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/HitCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/SwellCompositionTool.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectCompositionToolButton.cs
  osu.Game/Rulesets/Edit/HitObjectPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Rulesets/Edit/Tools/CompositionTool.cs
  osu.Game/Rulesets/Edit/Tools/SelectTool.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: size/L

#29992 Fix reflection-related iOS crashes
  osu.Game.Tests/Utils/BindableValueAccessorTest.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Online/BeatmapDownloadTracker.cs
  osu.Game/Online/ScoreDownloadTracker.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Skinning/RealmBackedResourceStore.cs
  osu.Game/Skinning/SkinManager.cs
  osu.Game/Utils/BindableValueAccessor.cs
Labels: platform/iOS, size/L

#29983 Redesign directory & file selector
  osu.Game.Tests/Visual/Settings/TestSceneDirectorySelector.cs
  osu.Game.Tests/Visual/Settings/TestSceneFileSelector.cs
  osu.Game.Tournament/Screens/Setup/StablePathSelectScreen.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelector.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorBreadcrumbDisplay.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorHiddenToggle.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelectorParentDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/DirectorySelectScreen.cs
  osu.Game/Screens/Edit/Setup/LabelledFileChooser.cs
  osu.Game/Screens/Import/FileImportScreen.cs
Labels: area:editor, type:cosmetic, area:settings, size/L

#29997 Update velopack and switch to using async version of `WaitExitThenApplyUpdates`
  osu.Desktop/Updater/VelopackUpdateManager.cs
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/S

#30005 Implement "form" file picker
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Graphics/UserInterfaceV2/FormFileSelector.cs
Labels: area:editor, type:cosmetic, size/L

#29936 Add colour customisation to layout editor
  osu.Game.Tests/Visual/Settings/TestSceneSettingsSource.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneSettingsColour.cs
  osu.Game/Configuration/SettingSourceAttribute.cs
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Overlays/Settings/SettingsColour.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/ArgonWedgePiece.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
  osu.Game/Skinning/Components/BoxElement.cs
  osu.Game/Skinning/Components/PlayerName.cs
  osu.Game/Skinning/Components/TextElement.cs
  osu.Game/Skinning/FontAdjustableSkinComponent.cs
Labels: type:cosmetic, area:skinning, size/L

#30017 Add basic hover states for file selector elements
  osu.Game/Graphics/UserInterfaceV2/FileSelection/BackgroundLayer.cs
  osu.Game/Graphics/UserInterfaceV2/FileSelection/HiddenFilesToggleCheckbox.cs
  osu.Game/Graphics/UserInterfaceV2/FileSelection/OsuDirectorySelectorBreadcrumbDisplay.cs
  osu.Game/Graphics/UserInterfaceV2/FileSelection/OsuDirectorySelectorDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/FileSelection/OsuDirectorySelectorParentDirectory.cs
  osu.Game/Graphics/UserInterfaceV2/FormFileSelector.cs
  osu.Game/Graphics/UserInterfaceV2/OsuDirectorySelector.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
Labels: type:cosmetic, size/L

#29967 Continue displaying storyboard even if fully dimmed in specific circumstances
  osu.Game/Screens/Play/DimmableStoryboard.cs
Labels: area:storyboard, size/S

#29970 Fix argon volume-aware hitsounds not correctly playing immediately after object placement
  osu.Game.Rulesets.Taiko.Tests/VolumeAwareHitSampleInfoTest.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/VolumeAwareHitSampleInfo.cs
  osu.Game/Audio/HitSampleInfo.cs
Labels: ruleset/osu!taiko, area:editor, size/M, audio

#30018 Update shader preloader with missing shader usages
  osu.Game/Screens/Loader.cs
Labels: type:performance, size/S

#30019 Fix iOS CI build
  .github/workflows/ci.yml
Labels: area:tooling, platform/iOS, size/XS

#29950 Freeze select box buttons position on press
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxButton.cs
Labels: area:editor, type:behavioural, size/M

#29938 Use minimum enclosing circle as selection centre for scale and rotate
  osu.Game.Benchmarks/BenchmarkGeometryUtils.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionRotationHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Tests/Utils/GeometryUtilsTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionRotationHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionScaleHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionRotationHandler.cs
  osu.Game/Utils/GeometryUtils.cs
Labels: ruleset/osu!, area:editor, size/L

#29914 Fix judgement counter not showing correct counts when spectating user mid-play
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCount.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCountController.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounter.cs
  osu.Game/Screens/Play/HUD/JudgementCounter/JudgementCounterDisplay.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
Labels: size/M, area:spectator

#29899 Ensure selection is preserved when moving selection between columns
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
Labels: ruleset/osu!mania, area:editor, size/M

#29913 Fix searching by clicking title/artist in beatmap overlay not following original language setting
  osu.Android.props
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S, area:overlay-beatmap

#29704 Mod customisation header color
  osu.Game/Overlays/Mods/ModCustomisationHeader.cs
Labels: type:cosmetic, size/M, area:overlay-mod-select

#29949 Support scaling around center when scaling with select box
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxScaleHandle.cs
Labels: ruleset/osu!, area:editor, type:behavioural, size/L

#30040 Fix text in `FormFileSelector` bleeding through the border
  osu.Game/Graphics/UserInterfaceV2/FormFileSelector.cs
Labels: size/XS

#29918 Add to existing selection when dragging with control pressed
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, type:behavioural, size/M, area:skin-editor

#30056 Fix rate change hotkeys sometimes losing track of adjust pitch setting
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/Select/ModSpeedHotkeyHandler.cs
Labels: area:song-select, area:mods, size/M
