Repository ppy/osu, pull requests merged in 2024-05, with the labels that each got.

#28033 Preserve storyboard events when saving a beatmap in the editor
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: area:editor, area:storyboard, size/L

#28050 Tweak resume overlay to allow better visibility of hit objects underneath
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/Play/DelayedResumeOverlay.cs
Labels: area:gameplay, size/M

#28051 Handle new naming inspections on certain enums
  osu.Desktop/NVAPI.cs
  osu.Desktop/Windows/WindowsAssociationManager.cs
  osu.Game/IO/Legacy/SerializationReader.cs
  osu.Game/IO/Legacy/SerializationWriter.cs
  osu.Game/Localisation/Language.cs
  osu.Game/Scoring/ScoreRank.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Users/CountryCode.cs
  osu.sln.DotSettings
Labels: type:code-quality, size/L

#28058 Preserve score rank on lazer scores during encode/decode
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreEncoderTest.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: area:scoring, size/M

#28062 Don't hide playfield layer with HUD
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/XS

#28066 Fix changing distance spacing multiplier hiding the distance snap grid when it's already shown
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
Labels: area:editor, type:behavioural, size/M

#28074 Fix beatmap listing cards being far too large
  osu.Game/Overlays/BeatmapListingOverlay.cs
Labels: type:cosmetic, size/XS

#28078 Stop using visually noisy `bg4` for default backgrounds
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:cosmetic, size/XS

#28079 Fix beatmap backgrounds loading default briefly before final display
  osu.Game/Beatmaps/Drawables/UpdateableBeatmapBackgroundSprite.cs
Labels: type:cosmetic, size/XS

#28075 Fix chat overlay being far too large
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/ChatTextBar.cs
  osu.Game/Overlays/Chat/Listing/ChannelListingItem.cs
  osu.Game/Overlays/ChatOverlay.cs
Labels: type:cosmetic, size/S

#28080 Better signify private rooms by showing a different status pill design
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Rooms/GetRoomsRequest.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Online/Rooms/RoomStatuses/RoomStatusOpenPrivate.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomStatusPill.cs
Labels: type:cosmetic, size/M

#28017 Scroll now playing overlay text when overflowing
  osu.Game.Tests/Visual/UserInterface/TestSceneNowPlayingOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:cosmetic, size/L, area:overlay-now-playing

#28083 Fix `BeatmapAttributeText` breaking due to enum serialisation woes
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: area:skinning, size/XS

#28082 Do not lookup usernames for scores without an online ID
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: area:replay, size/L

#28108 Add "HP" to the abbreviations list
  osu.sln.DotSettings
Labels: type:code-quality, size/XS

#28109 Use existing `AutomaticallyDownloadMissingBeatmaps` localisation on solo spectator screen
  osu.Game/Screens/Play/SoloSpectatorScreen.cs
Labels: type:localisation, size/XS, area:spectator

#28111 Fix now playing overlay text scroll breaking when toggling metadata language setting
  osu.Game.Tests/Visual/UserInterface/TestSceneNowPlayingOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: size/S, area:overlay-now-playing

#27539 Refactor storyboard commands structure and add framework-based transform loop support
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardCommands.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithIntro.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Storyboards/CommandLoop.cs
  osu.Game/Storyboards/CommandTimeline.cs
  osu.Game/Storyboards/CommandTimelineGroup.cs
  osu.Game/Storyboards/Commands/IStoryboardCommand.cs
  osu.Game/Storyboards/Commands/StoryboardAlphaCommand.cs
  osu.Game/Storyboards/Commands/StoryboardBlendingParametersCommand.cs
  osu.Game/Storyboards/Commands/StoryboardColourCommand.cs
  osu.Game/Storyboards/Commands/StoryboardCommand.cs
  osu.Game/Storyboards/Commands/StoryboardCommandGroup.cs
  osu.Game/Storyboards/Commands/StoryboardFlipHCommand.cs
  osu.Game/Storyboards/Commands/StoryboardFlipVCommand.cs
  osu.Game/Storyboards/Commands/StoryboardLoopingGroup.cs
  osu.Game/Storyboards/Commands/StoryboardRotationCommand.cs
  osu.Game/Storyboards/Commands/StoryboardScaleCommand.cs
  osu.Game/Storyboards/Commands/StoryboardTriggerGroup.cs
  osu.Game/Storyboards/Commands/StoryboardVectorScaleCommand.cs
  osu.Game/Storyboards/Commands/StoryboardXCommand.cs
  osu.Game/Storyboards/Commands/StoryboardYCommand.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
  osu.Game/Storyboards/Drawables/DrawablesExtensions.cs
  osu.Game/Storyboards/Drawables/IFlippable.cs
  osu.Game/Storyboards/Drawables/IVectorScalable.cs
  osu.Game/Storyboards/StoryboardAnimation.cs
  osu.Game/Storyboards/StoryboardSprite.cs
  osu.Game/Storyboards/StoryboardVideo.cs
Labels: type:code-quality, type:performance, area:storyboard, size/XXL

#28116 Do not show integration settings on mobile
  osu.Game/Overlays/Settings/Sections/OnlineSection.cs
Labels: area:settings, platform/mobile

#28118 Fix sizing of gameplay preview in skin editor not updating on scaling mode change
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/S, area:skin-editor

#28089 Automatically choose origin (along with anchor) to make skin editor placement easier for users
  osu.Game/Overlays/SkinEditor/SkinBlueprint.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
Labels: size/M, area:skin-editor

#28124 Fix `userTriggered` param not being passed to private helper
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/XS

#28127 Randomise which menu content is shown on arriving at the menu
  osu.Game/Screens/Menu/OnlineMenuBanner.cs
Labels: area:main-menu, size/XS

#28128 Update bundled beatmaps
  osu.Game/Beatmaps/Drawables/BundledBeatmapDownloader.cs
  osu.Game/Localisation/FirstRunSetupBeatmapScreenStrings.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
Labels: area:settings, size/XL

#28119 Persist user ID to replay data
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: area:replay, size/L

#28122 Make deletion confirmation less confusing
  osu.Game/Localisation/DeleteConfirmationContentStrings.cs
  osu.Game/Localisation/DeleteConfirmationDialogStrings.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/BeatmapSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/CollectionsSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MassDeleteConfirmationDialog.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MassVideoDeleteConfirmationDialog.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/ModPresetSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/ScoreSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/SkinSettings.cs
Labels: size/M

#28028 Apply adjustments after framework changes
  osu.Android.props
  osu.Android/AndroidJoystickSettings.cs
  osu.Android/AndroidMouseSettings.cs
  osu.Android/OsuGameAndroid.cs
  osu.Desktop/Program.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfield.cs
  osu.Game.Tournament/Screens/Ladder/LadderDragContainer.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#28143 Update logo to v4b
  assets/lazer-nuget.png
  assets/lazer.png
  osu.Android/Resources/drawable/monochrome.xml
  osu.Android/Resources/mipmap-hdpi/ic_launcher.png
  osu.Android/Resources/mipmap-hdpi/ic_launcher_foreground.png
  osu.Android/Resources/mipmap-mdpi/ic_launcher.png
  osu.Android/Resources/mipmap-mdpi/ic_launcher_foreground.png
  osu.Android/Resources/mipmap-xhdpi/ic_launcher.png
  osu.Android/Resources/mipmap-xhdpi/ic_launcher_foreground.png
  osu.Android/Resources/mipmap-xxhdpi/ic_launcher.png
  osu.Android/Resources/mipmap-xxhdpi/ic_launcher_foreground.png
  osu.Android/Resources/mipmap-xxxhdpi/ic_launcher.png
  osu.Android/Resources/mipmap-xxxhdpi/ic_launcher_foreground.png
  osu.Desktop/lazer.ico
  osu.Game/osu.Game.csproj
  osu.iOS/Assets.xcassets/AppIcon.appiconset/300076680-5cbe0121-ed68-414f-9ddc-dd993ac97e62.png
Labels: size/M

#27912 Store total score without mod multipliers to local database and to replays, and send it on score submission
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: realm, area:scoring, size/L

#28141 Add mod display and unranked indicator to new song select footer
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectFooterV2.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFooterButtonModsV2.cs
  osu.Game/Localisation/ModSelectOverlayStrings.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonModsV2.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonV2.cs
  osu.Game/Screens/Select/FooterV2/FooterV2.cs
Labels: area:song-select, type:cosmetic, size/XL

#28142 Improve animation of new song select footer buttons
  osu.Game/Screens/Select/FooterV2/BeatmapOptionsPopover.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonOptionsV2.cs
  osu.Game/Screens/Select/FooterV2/FooterButtonV2.cs
Labels: area:song-select, type:behavioural, size/M

#28154 Add glow to footerV2 buttons
  osu.Game/Screens/Select/FooterV2/FooterButtonV2.cs
Labels: area:song-select, type:cosmetic, size/XS

#28144 Add setting to allow hiding all country flags
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/OnlineSettingsStrings.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Settings/Sections/Online/AlertsAndPrivacySettings.cs
  osu.Game/Users/Drawables/UpdateableFlag.cs
Labels: area:settings, size/M

#28167 Fix touches on judged circles changing cursor position
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuTouchInput.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
Labels: ruleset/osu!, type:input, platform/mobile, size/S

#28172 Apply NRT to results-related components
  osu.Game/Screens/Ranking/Contracted/ContractedPanelTopContent.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankBadge.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankText.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/AccuracyStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/ComboStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/CounterStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/StatisticDisplay.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/ScorePanel.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
  osu.Game/Screens/Ranking/Statistics/PerformanceBreakdownChart.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticItem.cs
  osu.Game/Screens/Ranking/Statistics/SimpleStatisticTable.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: type:code-quality, size/L

#28171 Use hash rather than online ID as primary lookup key when presenting score
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: type:online, area:replay, size/S

#28174 Continue loading even when osu! logo is being dragged at loading screen
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: size/XS

#28170 Set a rudimentary lifetime end to improve seek performance in scrolling rulesets
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: type:performance, area:editor, size/XS

#28173 Add more usable osu!mania touch input system
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaTouchInputArea.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Mania/UI/ManiaTouchInputArea.cs
Labels: ruleset/osu!mania, area:gameplay, size/L

#28186 Do not change mania column width on mobile platforms
  osu.Game.Rulesets.Mania/UI/ColumnFlow.cs
Labels: ruleset/osu!mania, area:gameplay, size/M

#28193 Fix discord arbitrarily refusing to work on "too short" strings
  osu.Desktop/DiscordRichPresence.cs
Labels: type:online, size/S

#28190 Fix duplicated localisation key in `DeleteConfirmationContentStrings`
  osu.Game/Localisation/DeleteConfirmationContentStrings.cs
Labels: type:localisation, size/XS

#28198 Remove `TreatWarningsAsErrors` flags from local builds for developer convenience
  Directory.Build.props
Labels: area:tooling, size/XS

#28182 Rename and move new footer classes to appropriate places
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooterButtonMods.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
  osu.Game/Screens/SelectV2/Footer/BeatmapOptionsPopover.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonMods.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonOptions.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonRandom.cs
Labels: type:code-quality, size/M

#28205 Reduce container nesting inside `PathControlPointPiece`
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: size/M

#28201 Fix checkboxes looking misaligned when placed next to a slider bar
  osu.Game/Graphics/UserInterface/OsuCheckbox.cs
Labels: type:cosmetic, size/XS

#28213 Fix total score without mods migration failing on custom ruleset scores when custom ruleset cannot be loaded
  osu.Game/Database/RealmAccess.cs
Labels: realm, size/S, type:reliability, next release

#28230 Remove unneeded `Previous` calls from `RhythmEvaluator`
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/RhythmEvaluator.cs
Labels: size/XS

#28235 Reduce `Previous` calls in `RhythmEvaluator` by optimising loop logic
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/RhythmEvaluator.cs
Labels: type:performance, area:difficulty, size/XS

#28260 Fix unnecessary padding of empty strings for discord RPC purposes
  osu.Desktop/DiscordRichPresence.cs
Labels: type:online, size/XS

#28228 Show mouse and joystick settings on mobile
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: area:settings, platform/mobile, size/S

#28257 Fix closest anchor selection spazzing out in multiple scenarios
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
Labels: size/M, area:skin-editor, next release

#28262 Do not attempt to match score by equality of empty hash when presenting it
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game/Scoring/ScoreManager.cs
Labels: area:results, size/M, type:reliability, next release

#28194 Add client/server models & operations for "daily challenge" feature
  osu.Game/Online/Metadata/DailyChallengeInfo.cs
  osu.Game/Online/Metadata/IMetadataClient.cs
  osu.Game/Online/Metadata/IMetadataServer.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/Online/Rooms/RoomCategory.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
Labels: type:online, size/M, area:playlists

#28200 Enforce difficulty setting limits during decode
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/out-of-range-difficulties-mania.osu
  osu.Game.Tests/Resources/out-of-range-difficulties.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
Labels: area:beatmap-parsing, size/M

#28195 Minimum viable prototype of "daily challenge" feature
  osu.Game.Tests/Visual/UserInterface/TestSceneMainMenuButton.cs
  osu.Game/Beatmaps/Drawables/UpdateableOnlineBeatmapSetCover.cs
  osu.Game/Graphics/OsuIcon.cs
  osu.Game/Localisation/ButtonSystemStrings.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/DailyChallengeButton.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MainMenuButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/Playlists.cs
  osu.Game/osu.Game.csproj
Labels: type:online, size/XL, area:playlists

#27341 Add osu!taiko `Constant Speed` mod
  osu.Game.Rulesets.Taiko/Edit/DrawableTaikoEditorRuleset.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModConstantSpeed.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
Labels: ruleset/osu!taiko, area:mods, size/M

#26643 Refactor scale handling in editor to facilitate reuse
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionScaleHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxScaleHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionScaleHandler.cs
  osu.Game/Utils/GeometryUtils.cs
Labels: area:editor, size/XXL

#28288 Fix path blueprint becoming desynced from slider path size
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/SliderBodyPiece.cs
  osu.Game.Rulesets.Osu/Skinning/Default/ManualSliderBody.cs
Labels: ruleset/osu!, area:editor, size/S

#28294 Add back `SDL2BatteryInfo` for desktop platforms
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/SDL2BatteryInfo.cs
  osu.Desktop/SDL3BatteryInfo.cs
Labels: size/M

#28285 Set `Ranked` to `true` for `OsuModTraceable`
  osu.Game.Rulesets.Osu/Mods/OsuModTraceable.cs
Labels: ruleset/osu!, type:online, area:mods, size/XS

#26423 Fix changing slider path segment type not being undoable
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: area:editor, size/XS

#26717 Fix editor not saving when textbox is focused during exit procedure
  osu.Game.Tests/Visual/Editing/TestSceneMetadataSection.cs
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorScreen.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, size/L

#28305 Show storyboard element path in `Draw Visualiser`
  osu.Game/Storyboards/Drawables/DrawableStoryboardAnimation.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
Labels: size/XS

#28327 Revert windows 16px icon to original version
  osu.Desktop/lazer.ico
Labels: size/XS, platform/windows

#28311 Correct scale of `taiko-glow` element to match stable
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyKiaiGlow.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacyHitTarget.cs
Labels: ruleset/osu!taiko, area:skinning, size/S

#28332 Fix cinema mod not hiding playfield skin layer
  osu.Game/Rulesets/Mods/ModCinema.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/S

#28333 Allow previewing audio of playlist items
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCardThumbnail.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardExtra.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNormal.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardThumbnail.cs
  osu.Game/Overlays/BeatmapSet/BasicStats.cs
  osu.Game/Overlays/BeatmapSet/Buttons/PlayButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/PreviewButton.cs
  osu.Game/Overlays/BeatmapSet/Details.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: size/M, area:playlists

#28277 Compute total score without mods during standardised score conversion
  osu.Game/Database/StandardisedScoreMigrationTools.cs
Labels: blocked, area:scoring, size/M

#28183 Add new footer back button and fix shearing being different between components
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedButtons.cs
  osu.Game/Graphics/UserInterface/ShearedButton.cs
  osu.Game/Graphics/UserInterface/ShearedSearchTextBox.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModFooterInformationDisplay.cs
  osu.Game/Overlays/Mods/ModPanel.cs
  osu.Game/Overlays/Mods/ModSelectColumn.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectPanel.cs
  osu.Game/Overlays/Mods/RankingInformationDisplay.cs
  osu.Game/Overlays/Mods/ShearedOverlayContainer.cs
  osu.Game/Screens/Footer/ScreenBackButton.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonMods.cs
Labels: type:cosmetic, size/L

#24138 Handle replay frames with negative time delta appropriately
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: area:replay, size/L

#28343 Always compute slider ball rotation based on tangent
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
Labels: size/S

#28309 Add precise scaling control to osu! editor
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionRotationHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
  osu.Game.Rulesets.Osu/Edit/TransformToolboxGroup.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionRotationHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionRotationHandler.cs
Labels: area:editor, size/L

#28339 Fix legacy mania note body animation not resetting sometimes
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
Labels: ruleset/osu!mania, area:skinning, size/XS

#28358 Fix main menu button backgrounds not covering their entire width sometimes
  osu.Game/Screens/Menu/MainMenuButton.cs
Labels: type:cosmetic, area:main-menu, size/XS

#28357 Avoid `ChatAckRequest` failures flooding console in `OsuGameTestScene`s
  osu.Game.Tests/Chat/TestSceneChannelManager.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/Responses/ChatAckResponse.cs
Labels: type:testing, size/S

#27977 Make judgements follow hitcircles and enable them in magnetised, repel and depth
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDepth.cs
  osu.Game.Rulesets.Osu/Mods/OsuModMagnetised.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRepel.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game/Rulesets/Judgements/DrawableJudgement.cs
Labels: ruleset/osu!, area:mods, type:cosmetic, size/M

#28359 Use delayed resume overlay for autopilot
  osu.Game.Rulesets.Osu/Mods/OsuModAutopilot.cs
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
Labels: ruleset/osu!, area:mods, size/S

#28337 Remove rounding of slider velocity multiplier on juice streams
  osu.Game.Rulesets.Catch.Tests/CatchBeatmapConversionTest.cs
  osu.Game.Rulesets.Catch.Tests/Resources/Testing/Beatmaps/high-speed-multiplier-precision-expected-conversion.json
  osu.Game.Rulesets.Catch.Tests/Resources/Testing/Beatmaps/high-speed-multiplier-precision.osu
  osu.Game.Rulesets.Catch/Objects/JuiceStream.cs
Labels: ruleset/osu!catch, area:beatmap-parsing, size/L

#28363 Bypass external link dialog for links on the trusted osu! domain
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game/Localisation/DialogStrings.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Dialog/DangerousActionDialog.cs
  osu.Game/Screens/Menu/OnlineMenuBanner.cs
Labels: type:behavioural, size/M

#28297 Fix for nearly straight sliders causing a crash
  osu.Game.Rulesets.Osu.Tests/Editor/TestSliderScaling.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: ruleset/osu!, area:editor, size/L, type:reliability
