Repository ppy/osu, pull requests merged in 2024-02, with the labels that each got.

#26920 Give better visibility when the game is pending 2FA
  osu.Game/Localisation/ToolbarStrings.cs
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: type:behavioural, area:main-menu, size/S

#26940 Reduce allocation overhead in `Playfield`
  osu.Game/Rulesets/UI/Playfield.cs
Labels: size/S

#26950 Add 2FA verification screen to registration flow
  osu.Game.Tests/Visual/Online/TestSceneAccountCreationOverlay.cs
  osu.Game/Overlays/AccountCreation/ScreenEmailVerification.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/AccountCreation/ScreenWarning.cs
  osu.Game/Overlays/AccountCreationOverlay.cs
Labels: type:online, size/L

#26956 Update inspectcode to 2023.3.3
  .config/dotnet-tools.json
  .globalconfig
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneFollowPoints.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSkinFallbacks.cs
  osu.Game.Rulesets.Taiko/UI/DrumTouchInputArea.cs
  osu.Game.Tests/Beatmaps/WorkingBeatmapTest.cs
  osu.Game.Tests/Database/RulesetStoreTests.cs
  osu.Game.Tests/Gameplay/TestSceneStoryboardSamples.cs
  osu.Game.Tests/Rulesets/TestSceneBrokenRulesetHandling.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayRecorder.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorPlayback.cs
  osu.Game.Tests/Visual/Menus/TestSceneToolbar.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunSetupOverlay.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Graphics/Containers/SelectionCycleFillFlowContainer.cs
  osu.Game/Graphics/UserInterface/BreadcrumbControl.cs
  osu.Game/IO/IStorageResourceProvider.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Overlays/Comments/VotePill.cs
  osu.Game/Overlays/MedalSplash/DrawableMedal.cs
  osu.Game/Overlays/Volume/VolumeMeter.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/Pooling/HitObjectEntryManager.cs
  osu.Game/Screens/Edit/Compose/Components/DragBox.cs
  osu.Game/Screens/Menu/ButtonArea.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/SkinnableTestScene.cs
  osu.sln.DotSettings
Labels: type:code-quality, area:tooling, size/L

#26934 Display which mods grant pp
  osu.Game.Rulesets.Mania/Mods/ManiaKeyMod.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHardRock.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModKey1.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModKey10.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModKey2.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModKey3.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModMirror.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTouchDevice.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFooterButtonMods.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneRankingInformationDisplay.cs
  osu.Game/Localisation/ModSelectOverlayStrings.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/RankingInformationDisplay.cs
  osu.Game/Rulesets/Mods/IMod.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModDaycore.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
  osu.Game/Rulesets/Mods/ModNightcore.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Mods/ModSuddenDeath.cs
  osu.Game/Screens/Select/FooterButtonMods.cs
Labels: area:song-select, area:mods, type:behavioural, size/L, area:overlay-mod-select

#26733 Fix results screen not handling F ranks properly
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
Labels: type:behavioural, area:results, size/M

#26877 Adjust default min result of `SliderTailHit`, remove override
  osu.Game.Rulesets.Osu/Objects/SliderTailCircle.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Judgements/Judgement.cs
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: type:code-quality, area:scoring, size/S

#26938 Fix `DrawableManiaRuleset` performing skin lookup every frame
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
Labels: type:performance, ruleset/osu!mania, area:skinning, size/M

#26734 Fix edit mod preset popover buttons overflowing on some languages
  osu.Game/Overlays/Mods/EditPresetPopover.cs
Labels: type:cosmetic, size/XS, area:overlay-mod-select

#27050 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#27021 Fix multiplayer/playlists lounge screen disposing rooms synchronously
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
Labels: type:performance, area:multiplayer, size/S, area:playlists

#26924 Rework `UserPanel`s to reduce container nesting
  osu.Game.Tests/Visual/Online/TestSceneDashboardOverlay.cs
  osu.Game/Users/UserGridPanel.cs
  osu.Game/Users/UserRankPanel.cs
Labels: type:code-quality, size/L

#26976 Fix huge allocation overhead in `UnstableRateCounter`
  osu.Game.Benchmarks/BenchmarkUnstableRate.cs
  osu.Game/Rulesets/Scoring/HitEventExtensions.cs
  osu.sln.DotSettings
Labels: type:performance, size/M

#27015 Localise remaining strings in settings section
  osu.Game.Rulesets.Taiko/TaikoSettingsSubsection.cs
  osu.Game/Localisation/AudioSettingsStrings.cs
  osu.Game/Localisation/DebugSettingsStrings.cs
  osu.Game/Localisation/GraphicsSettingsStrings.cs
  osu.Game/Localisation/RulesetSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioOffsetAdjustControl.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, type:localisation, size/M

#26942 Localise remaining strings on import screen of the first-run setup
  osu.Game/Localisation/FirstRunOverlayImportFromStableScreenStrings.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
Labels: type:localisation, size/M

#27033 Fix selected room bindable being set to null regardless of the removed room
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
Labels: area:multiplayer, size/XS, area:playlists

#26863 Further reduce allocation overhead in `ScrollingHitObjectContainer`
  osu.Game.Rulesets.Osu/Mods/OsuModDepth.cs
  osu.Game.Rulesets.Osu/Mods/OsuModMagnetised.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRepel.cs
  osu.Game/Rulesets/Objects/Pooling/PooledDrawableWithLifetimeContainer.cs
  osu.Game/Rulesets/UI/GameplaySampleTriggerSource.cs
  osu.Game/Rulesets/UI/HitObjectContainer.cs
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
  osu.Game/Screens/Play/FailAnimationContainer.cs
Labels: type:performance, size/S

#27054 Localise update-related process strings
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Updater/UpdateManager.cs
Labels: type:localisation, size/M

#26763 Fix relax mod not respecting tracking state of sliders when triggering actions
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: ruleset/osu!, area:mods, size/XS

#26694 Avoid closure allocations when applying hit object results
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/Objects/Drawables/DrawableEmptyFreeformHitObject.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Objects/Drawables/DrawablePippidonHitObject.cs
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling/Objects/Drawables/DrawableEmptyScrollingHitObject.cs
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/Objects/Drawables/DrawablePippidonHitObject.cs
  osu.Game.Rulesets.Catch/Objects/Drawables/DrawableCatchHitObject.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNoteBody.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableManiaHitObject.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircle.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneHitCircleLateFade.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableHitCircle.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinnerTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableFlyingHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableStrongNestedHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwellTick.cs
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePoolingRuleset.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: type:performance, area:gameplay, size/L

#26935 Allow a few new mods and mod settings for pp
  osu.Game.Rulesets.Osu/Mods/OsuModBlinds.cs
  osu.Game/Rulesets/Mods/ModAccuracyChallenge.cs
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModNoScope.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Mods/ModSuddenDeath.cs
Labels: type:online, area:mods, size/S

#27065 Bump databased star rating versions
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: realm, area:difficulty, size/XS

#27059 Convert selected legacy skin sprites to grayscale
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/taiko-bar-right@2x.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/taikohitcircle@2x.png
  osu.Game.Rulesets.Taiko.Tests/Resources/special-skin/taikohitcircleoverlay@2x.png
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/LegacyTextureLoaderStore.cs
Labels: ruleset/osu!taiko, area:skinning, size/M

#27062 Fix hit accuracy heatmap points being offset
  osu.Game.Rulesets.Osu.Tests/TestSceneAccuracyHeatmap.cs
  osu.Game.Rulesets.Osu/Statistics/AccuracyHeatmap.cs
Labels: type:cosmetic, area:results, size/S

#27067 Use staggered exponential backoff when retrying in `PersistentEndpointClientConnector`
  osu.Game/Online/PersistentEndpointClientConnector.cs
Labels: type:online, size/S, type:reliability

#27070 Hide ruleset selector when on kudosu ranking
  osu.Game/Overlays/Rankings/RankingsOverlayHeader.cs
Labels: type:cosmetic, size/M, area:overlay-rankings

#27069 Populate `TotalScoreInfo` when converting `SoloScoreInfo` to `ScoreInfo`
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
Labels: type:online, size/XS

#27095 Use new LINQ Order{Descending} instead of OrderBy{Descending} when possible
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Scoring/ManiaScoreProcessor.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Peaks.cs
  osu.Game.Tournament/IO/TournamentStorage.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Collections/CollectionDropdown.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
  osu.Game/Rulesets/Edit/Checks/CheckBreaks.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/RealmRulesetStore.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorPresetCollection.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
Labels: type:code-quality, size/M

#27113 Add additional gameplay metadata to room score request
  osu.Game/Online/Rooms/CreateRoomScoreRequest.cs
  osu.Game/Screens/Play/RoomSubmittingPlayer.cs
Labels: area:multiplayer, size/S, type:reliability

#27106 Fix profile current location and interests icons not matching web
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
Labels: type:cosmetic, area:overlay-user-profile, size/S

#27077 Improve exception logging of unobserved exceptions via `FireAndForget`
  osu.Game/Online/Multiplayer/MultiplayerClientExtensions.cs
Labels: type:code-quality, size/XS

#26930 Suggest to update only if the latest release is available for the current platform
  osu.Game/Updater/SimpleUpdateManager.cs
Labels: area:installer, size/M

#27056 Fix deselecting slider adding control points
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuComposerSelection.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset/osu!, area:editor, size/L

#27115 Add note to never run release config to contributing guidelines
  CONTRIBUTING.md
Labels: size/XS

#27117 Replace linq usage in `Previous` and `Next` on `DifficultyHitObject` with more direct computation
  osu.Game/Rulesets/Difficulty/Preprocessing/DifficultyHitObject.cs
Labels: size/S

#23822 Refactor metadata lookup flows
  osu.Game.Tests/Beatmaps/BeatmapUpdaterMetadataLookupTest.cs
  osu.Game/Beatmaps/APIBeatmapMetadataSource.cs
  osu.Game/Beatmaps/BeatmapUpdaterMetadataLookup.cs
  osu.Game/Beatmaps/IOnlineBeatmapMetadataSource.cs
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
  osu.Game/Beatmaps/OnlineBeatmapMetadata.cs
Labels: type:code-quality, size/XL

#27132 Fix huge allocation overhead during beatmap texture creation in song-select screen
  osu.Game/Beatmaps/BeatmapPanelBackgroundTextureLoaderStore.cs
Labels: size/XS

#27116 Only compute flashlight in osu! difficulty calculations when required
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
Labels: type:performance, area:difficulty, size/S

#27112 Add aliases "author" and "mapper" for creator results
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/S

#27143 Use more stringent checks when applying online metadata
  osu.Game.Tests/Beatmaps/BeatmapUpdaterMetadataLookupTest.cs
  osu.Game/Beatmaps/BeatmapUpdaterMetadataLookup.cs
Labels: type:online, size/L, area:import

#27053 Add support for displaying "unranked PP" placeholder
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileScores.cs
  osu.Game/Graphics/Sprites/SpriteIconWithTooltip.cs
  osu.Game/Graphics/Sprites/SpriteTextWithTooltip.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
  osu.Game/Overlays/Profile/Sections/Ranks/DrawableProfileScore.cs
  osu.Game/Scoring/Drawables/UnprocessedPerformancePointsPlaceholder.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/osu.Game.csproj
Labels: type:behavioural, area:overlay-user-profile, size/L, area:overlay-beatmap

#27167 Fix recent collection initialiser inspection
  osu.Game.Tests/Rulesets/TestSceneRulesetSkinProvidingContainer.cs
Labels: area:tooling, size/S

#27145 Create key-presses when watching legacy Relax replays
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: ruleset/osu!, area:mods, size/M

#27165 Remove behaviour of flipping catcher plate on direction change
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch/Skinning/CatchSkinConfiguration.cs
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
Labels: ruleset/osu!catch, area:skinning, size/L

#27164 Add support for displaying "mapper" badge in comment section
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game.Tests/Visual/Online/TestSceneDrawableComment.cs
  osu.Game.Tests/Visual/UserInterface/ThemeComparisonTestScene.cs
  osu.Game/Online/API/Requests/Responses/Comment.cs
  osu.Game/Online/API/Requests/Responses/CommentBundle.cs
  osu.Game/Online/API/Requests/Responses/CommentableMeta.cs
  osu.Game/Overlays/Comments/CommentAuthorLine.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/ReplyCommentEditor.cs
Labels: type:cosmetic, size/L, area:comments

#23129 Add last played search filter in song select
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/L

#27163 Ignore soft-deleted beatmaps when trying to present from notification
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/OsuGame.cs
Labels: type:behavioural, size/S

#27156 Watch online statistics changes after every play & display them in toolbar
  osu.Game.Tests/Visual/Menus/TestSceneToolbarUserButton.cs
  osu.Game.Tests/Visual/Online/TestSceneSoloStatisticsWatcher.cs
  osu.Game/Online/Solo/SoloStatisticsWatcher.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
  osu.Game/Overlays/Toolbar/TransientUserStatisticsUpdateDisplay.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: type:online, size/L, area:toolbar

#27173 Reduce allocations during aggregate beatmap sorts in song-select screen
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
Labels: type:performance, area:song-select, size/M

#27162 Limit vertical visibility of osu!catch playfield to an aspect ratio of 4:3
  osu.Game.Rulesets.Catch/Mods/CatchModFloatingFruits.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfieldAdjustmentContainer.cs
Labels: ruleset/osu!catch, area:gameplay, size/M

#27178 Truncate long dropdown menu item text and show tooltip
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuDropdown.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: type:cosmetic, size/S

#27176 Add inline documentation as to why classic mod is not ranked
  osu.Game/Rulesets/Mods/ModClassic.cs
Labels: type:code-quality, size/S

#27184 Update windows icon metrics to match previous icon
  osu.Desktop/lazer.ico
Labels: size/XS, platform/windows

#27068 Add progressive coverage for mania's Hidden and FadeIn mods
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModFadeIn.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModHidden.cs
  osu.Game.Rulesets.Mania.Tests/TestScenePlayfieldCoveringContainer.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModCover.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFadeIn.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModHidden.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModWithPlayfieldCover.cs
  osu.Game.Rulesets.Mania/UI/PlayfieldCoveringWrapper.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
Labels: ruleset/osu!mania, area:mods, type:behavioural, size/L, next release

#27185 Update iOS icon metrics to match previous icon
  osu.iOS/Assets.xcassets/AppIcon.appiconset/300076680-5cbe0121-ed68-414f-9ddc-dd993ac97e62.png
Labels: platform/iOS, size/XS

#27138 Fix selected legacy skins crashing on zero-length hold notes
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
Labels: ruleset/osu!mania, area:skinning, size/XS, type:reliability

#27186 Update IDE configurations to point at `net8.0` folders
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Benchmarks.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/CatchRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/ManiaRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/OsuRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/TaikoRuleset__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/Tournament__Tests_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu_.xml
  .idea/.idea.osu.Desktop/.idea/runConfigurations/osu___Tests_.xml
  .run/osu! (Second Client).run.xml
  .vscode/launch.json
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/.vscode/launch.json
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/.vscode/launch.json
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/.vscode/launch.json
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/.vscode/launch.json
  osu.Game.Rulesets.Catch.Tests/.vscode/launch.json
  osu.Game.Rulesets.Mania.Tests/.vscode/launch.json
  osu.Game.Rulesets.Osu.Tests/.vscode/launch.json
  osu.Game.Rulesets.Taiko.Tests/.vscode/launch.json
  osu.Game.Tournament.Tests/.vscode/launch.json
Labels: area:tooling, size/M

#27190 Update .NET version on readme
  README.md
  osu.Desktop/Program.cs
Labels: type:code-quality, size/XS

#26951 Improve silence detection in `MutedNotification`
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: type:behavioural, size/M

#27200 Fix cursor ripples displaying on release positions in replays
  osu.Game.Rulesets.Osu/UI/Cursor/CursorRippleVisualiser.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#27205 Fix star counter decrease animation being delayed when current is over displayed star count
  osu.Game.Tests/Visual/Gameplay/TestSceneStarCounter.cs
  osu.Game/Graphics/UserInterface/StarCounter.cs
Labels: area:song-select, type:cosmetic, size/M

#27193 Fix a few issues in metadata hub's disconnection requested flow
  osu.Game/Online/IStatefulUserHubClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
Labels: type:online, size/S

#27199 Fix `DrawableLinkCompiler` allocations
  osu.Game/Online/Chat/DrawableLinkCompiler.cs
Labels: type:performance, size/M

#26895 Consider case sensitivity when sorting beatmaps in song select
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
Labels: area:song-select, type:behavioural, size/XS

#27206 Reduce allocations during beatmap selection
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: type:performance, area:song-select, size/M

#27114 Cache created judgement in `HitObject`
  osu.Game.Rulesets.Catch.Tests/TestSceneCatcher.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinnerRotation.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoHealthProcessorTest.cs
  osu.Game.Tests/Gameplay/TestSceneDrawableHitObject.cs
  osu.Game.Tests/Gameplay/TestSceneScoreProcessor.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Difficulty/PerformanceBreakdownCalculator.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Scoring/JudgementProcessor.cs
  osu.Game/Rulesets/Scoring/LegacyDrainingHealthProcessor.cs
Labels: size/M

#27224 Fix logo tracking container being behind by one frame
  osu.Game.Tests/Visual/UserInterface/TestSceneLogoTrackingContainer.cs
  osu.Game/Graphics/Containers/LogoTrackingContainer.cs
Labels: area:main-menu, size/S

#27239 Fix `WorkingBeatmapCache` caching beatmap in wrong state leading to crash
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Tests/Visual/OsuGameTestScene.cs
Labels: size/M, type:reliability

#27238 Disable nested input managers on edited screen when skin editor is open
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: type:input, size/M, area:skin-editor

#27226 Ensure audio filters can't be attached before load (or post-disposal)
  osu.Game/Audio/Effects/AudioFilter.cs
Labels: size/S, audio

#27180 Add better submission failure messaging
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Tests/Visual/TestPlayer.cs
Labels: type:online, type:behavioural, size/M

#27243 Change `userBeatmapOffsetClock` to a `FramedOffsetClock`
  osu.Game/Beatmaps/FramedBeatmapClock.cs
Labels: area:gameplay, size/XS

#27258 Localise storage error popup dialog
  osu.Game/Localisation/StorageErrorDialogStrings.cs
  osu.Game/Screens/Menu/StorageErrorDialog.cs
Labels: type:localisation, size/M

#27249 Reduce osu editor allocations with many objects selected
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCircleOverlapMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
Labels: size/M

#27275 Reduce mania editor allocations with many objects selected
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
Labels: size/M

#27286 Fix `LegacyApproachCircle` incorrectly applying scaling factor
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultApproachCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyApproachCircle.cs
Labels: ruleset/osu!, size/S

#27278 Apply padding to `GridContainer`s directly where possible
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
  osu.Game/Overlays/Profile/Header/DetailHeaderContainer.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Screens/Edit/Timing/TapTimingControl.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
  osu.Game/Screens/OnlinePlay/Components/MatchBeatmapDetailArea.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/PillContainer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: type:code-quality, size/XL

#27288 Fix classic skin follow circles animating from incorrect starting point
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyFollowCircle.cs
Labels: ruleset/osu!, area:gameplay, size/XS, next release

#27292 Fix beatmap carousel string carousel not matching expectations
  osu.Game.Benchmarks/BenchmarkStringComparison.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmapSet.cs
  osu.Game/Utils/OrdinalSortByCaseStringComparer.cs
Labels: area:song-select, type:behavioural, size/L, next release

#27293 Update framework
  osu.Android.props
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuTouchInput.cs
  osu.Game.Rulesets.Osu/OsuInputManager.cs
  osu.Game.Tests/Visual/Online/TestSceneDrawableComment.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownCodeBlock.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownContainer.cs
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#27230 Fix allocations in `SliderInputManager.updateTracking`
  osu.Game.Rulesets.Osu/OsuInputManager.cs
Labels: size/XS

#27265 Remove legacy OpenGL renderer option, it's now just OpenGL
  osu.Game/Overlays/Settings/Sections/Graphics/RendererSettings.cs
Labels: area:settings, size/S

#27297 Reduce allocations in `TimelineBlueprintContainer`
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: size/XS

#27299 Clear stored username/token from config when relevant checkboxes are unticked on login panel
  osu.Game.Tests/Visual/Menus/TestSceneLoginOverlay.cs
  osu.Game/Configuration/OsuConfigManager.cs
Labels: type:online, size/M

#27232 Fix visual BPM difference between beatmap wedge and mod selection
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Utils/FormatUtils.cs
Labels: size/S

#27192 Adjust search terms for mods
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModPanel.cs
Labels: type:behavioural, size/XS, area:overlay-mod-select

#26531 Implement difficulty tooltips for multiplayer lobbies
  osu.Game.Tests/Visual/Beatmaps/TestSceneDifficultyIcon.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Beatmaps/Drawables/DifficultyIconTooltip.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
Labels: area:multiplayer, size/L, area:playlists

#26769 Rework `AccuracyCircle` to not use `BufferedContainer`s
  osu.Game.Tests/Visual/Ranking/TestSceneGradedCircles.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/GradedCircles.cs
  osu.Game/Screens/Ranking/Expanded/Accuracy/RankNotch.cs
Labels: type:performance, area:results, size/L

#26149 Fix `SkinEditorOverlay` freezing when `ReplayPlayer` screen exits early
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: size/S, area:skin-editor

#27324 Update github actions to resolve most node deprecation warnings
  .github/workflows/ci.yml
  .github/workflows/diffcalc.yml
  .github/workflows/report-nunit.yml
  .github/workflows/sentry-release.yml
  .github/workflows/update-web-mod-definitions.yml
Labels: area:tooling, size/M

#27329 Add missing .olz association to iOS
  osu.iOS/Info.plist
Labels: size/S

#27320 Fix old-style legacy spinner fade-in not matching stable
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyOldStyleSpinner.cs
Labels: ruleset/osu!, area:skinning, size/XS

#27336 Improve search performance at song select when a collection is selected
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, size/XS

#27357 Reduce allocations in `SmokeSegment`
  osu.Game.Rulesets.Osu/Skinning/SmokeSegment.cs
Labels: size/XS

#27144 Allow pp for muted mod for any combination of settings
  osu.Game/Rulesets/Mods/ModMuted.cs
Labels: ruleset/osu!, type:online, area:mods, size/XS

#27359 Fix `Argon` and `Triangles` spinner freeze at low replay speed
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Default/DefaultSpinner.cs
Labels: size/M

#27364 Reduce osu spinner allocations
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerSpmCalculator.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: size/M

#27379 Further reduce allocations during gameplay
  osu.Game/Rulesets/Objects/HitObjectLifetimeEntry.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: type:performance, area:gameplay, size/M

#27386 Fix "Use current" snap not working
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
Labels: area:editor, size/S

#27389 Allow better menu navigation using same hotkey to progress to destination
  osu.Game/Screens/Menu/ButtonSystem.cs
Labels: area:main-menu, size/XS

#27234 Add feedback to delete button even when no-op
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ModelManager.cs
  osu.Game/Localisation/MaintenanceSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/CollectionsSettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/ModPresetSettings.cs
Labels: area:settings, size/M

#27366 Reduce allocations when `ModSelectOverlay` is visible
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:performance, size/S, area:overlay-mod-select

#27369 Fix slider head being incorrectly dimmed twice
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#27391 Use high performance session during gameplay
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Performance/HighPerformanceSessionManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Performance/HighPerformanceSession.cs
  osu.Game/Performance/IHighPerformanceSessionManager.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: type:performance, area:gameplay, size/L

#27412 Fix menu cursor tracking rotation while override by gameplay cursor
  osu.Game/Graphics/Cursor/MenuCursorContainer.cs
Labels: type:behavioural, size/XS

#27383 Rewrite legacy slider path rendering to match stable better
  osu.Game.Rulesets.Osu/Skinning/Default/PlaySliderBody.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacySliderBody.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
Labels: ruleset/osu!, area:skinning, size/M

#27354 Resolve issues with Discord RPC while on Do Not Disturb
  osu.Desktop/DiscordRichPresence.cs
Labels: type:online, size/XS

#27416 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#27401 Fix slider tails sometimes not dimming correctly
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuHitObject.cs
Labels: ruleset/osu!, area:gameplay, size/S

#26701 Adjust beatmap carousel padding to avoid scrollbar disappearing underneath logo
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, type:cosmetic, size/XS

#27380 Fix advanced stats in beatmap info overlay showing "key count" on non-mania beatmaps
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game/Overlays/BeatmapSet/Details.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/L, area:overlay-beatmap

#27414 Move back/quit button from bottom left to fail overlay when spectating
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayMenuOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectator.cs
  osu.Game/Screens/Play/FailOverlay.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/PauseOverlay.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SaveFailedScoreButton.cs
  osu.Game/Screens/Play/SoloSpectatorPlayer.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
Labels: type:cosmetic, size/L, area:spectator

#27417 Fix wireframe misalignment in argon accuracy counter
  osu.Game/Screens/Play/HUD/ArgonAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/ArgonComboCounter.cs
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Screens/Play/HUD/ArgonScoreCounter.cs
Labels: type:cosmetic, area:skinning, size/M

#27361 Fix incorrect standardised score estimation on selected beatmaps in osu! ruleset
  osu.Game/Database/BackgroundDataStoreProcessor.cs
  osu.Game/Database/StandardisedScoreMigrationTools.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
Labels: ruleset/osu!, area:scoring, size/S

#27331 Show user statistics updates on multiplayer and playlists results screens
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Menus/TestSceneToolbarUserButton.cs
  osu.Game.Tests/Visual/Online/TestSceneUserStatisticsWatcher.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneOverallRanking.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game/Online/UserStatisticsUpdate.cs
  osu.Game/Online/UserStatisticsWatcher.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Toolbar/TransientUserStatisticsUpdateDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SpectatorResultsScreen.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Ranking/Statistics/User/OverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/RankingChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/UserStatisticsPanel.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Users/UserRankPanel.cs
Labels: type:online, area:multiplayer, area:results, size/L, area:playlists

#27427 Fix February 29 test failure
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
Labels: size/XS

#27432 Fix allocations in `EffectPointVisualisation`
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
Labels: type:performance, area:editor, size/S
