Repository ppy/osu, pull requests merged in 2024-12, with the labels that each got.

#28473 Move unnecessary properties from `BeatmapInfo` / realm to `IBeatmap`
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModFlashlight.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModRandom.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneSliderLateHitJudgement.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
  osu.Game.Rulesets.Osu/Edit/Setup/OsuDifficultySection.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/OsuJsonDecoderTest.cs
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game.Tests/Visual/Editing/TestSceneDesignSection.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneLeadIn.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/Setup/DesignSection.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: type:code-quality, realm, size/XL

#30749 Add player settings to multi spectator screen
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: size/L, area:spectator

#30863 Delay back button appearance when performing a quick restart
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MigrationRunScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorLoader.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/StartupScreen.cs
Labels: area:gameplay, size/M

#30947 Do not deselect objects when control-clicking without hitting anything
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuComposerSelection.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: area:editor, type:behavioural, size/M, area:skin-editor

#30917 Fix strong drum rolls being counted for double the combo in legacy scoring attributes
  osu.Game.Rulesets.Taiko/Difficulty/TaikoLegacyScoreSimulator.cs
Labels: ruleset/osu!taiko, area:scoring, size/XS

#30929 Account for rate changing mods when disabling the "Ready" button
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsReadyButton.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Utils/ModUtils.cs
Labels: size/L, area:playlists, area:daily-challenge

#30953 Show an ongoing operation when checking for updates
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
Labels: area:settings, size/M

#30969 Add "buttons" as a search term for key bindings
  osu.Game/Overlays/Settings/Sections/Input/BindingSettings.cs
Labels: size/XS

#30971 Improve multiplayer listing search by making it fuzzy
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomsContainer.cs
Labels: type:behavioural, area:multiplayer, size/M, area:playlists

#30970 Fix quick retry transition from results screen
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: type:cosmetic, area:results, size/XS

#30965 Use `LocalisationManager.GetLocalisedString()` instead of bindable hack
  osu.Desktop/Windows/WindowsAssociationManager.cs
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: type:code-quality, size/S

#30937 Fix score no longer being saved when quick-restarting after pass
  osu.Game.Tests/Visual/Mods/TestSceneModFailCondition.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/S

#30976 Hide debug settings in release builds
  osu.Game/Localisation/DebugSettingsStrings.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBehaviour.cs
  osu.Game/Overlays/Settings/Sections/DebugSection.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/MaintenanceSection.cs
  osu.Game/Overlays/SettingsOverlay.cs
Labels: area:settings, size/L

#30910 Improve menu/context-menu sample playback
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneContextMenu.cs
  osu.Game/Graphics/Cursor/OsuContextMenuContainer.cs
  osu.Game/Graphics/UserInterface/HoverSampleSet.cs
  osu.Game/Graphics/UserInterface/OsuContextMenu.cs
  osu.Game/Graphics/UserInterface/OsuContextMenuSamples.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
  osu.Game/Graphics/UserInterface/OsuMenuSamples.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L, audio

#30921 Set up-to-date .NET code quality analyzers
  .globalconfig
  CodeAnalysis/BannedSymbols.txt
  CodeAnalysis/osu.globalconfig
  CodeAnalysis/osu.ruleset
  Directory.Build.props
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Tests/CodeAnalysis.tests.globalconfig
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLocalScoreImport.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneDeleteLocalScore.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tests/tests.ruleset
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Extensions/StringDehumanizeExtensions.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/OnlineViewContainer.cs
  osu.Game/Overlays/AccountCreationOverlay.cs
  osu.Game/Overlays/ChatOverlay.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Toolbar/ToolbarUserButton.cs
  osu.Game/Rulesets/Mods/ModAdaptiveSpeed.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Screens/Ranking/Statistics/User/OverallRanking.cs
  osu.Game/Skinning/SkinImporter.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Tests/Visual/Spectator/TestSpectatorClient.cs
  osu.Game/Utils/SpecialFunctions.cs
  osu.sln
Labels: type:code-quality, area:tooling, size/L

#30956 Fix osu! sometimes not starting when WSL is running in the background
  osu.Android.props
  osu.Desktop/Program.cs
  osu.Game.Tests/Visual/Navigation/TestSceneInterProcessCommunication.cs
  osu.Game/OsuGame.cs
  osu.Game/Tests/CleanRunHeadlessGameHost.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#31000 Fix IPC not working in release
  osu.Game/OsuGame.cs
Labels: size/XS

#30973 Preserve effect point specifications when creating blank difficulties
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
Labels: area:editor, type:behavioural, size/L

#31035 Add description to osu! file associations in iOS
  osu.iOS/Info.plist
Labels: platform/iOS, size/XS

#31041 Fix top score statistics section total score display being terminally broken
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreStatisticsSection.cs
Labels: type:localisation, size/M, area:overlay-beatmap, next release

#30960 Implement basic bookmark support in editor
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/OsuJsonDecoderTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSummaryTimeline.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BookmarkPart.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, size/L, next release

#31047 Avoid beatmap lookup per bar in logo visualisation
  osu.Game/Screens/Menu/LogoVisualisation.cs
Labels: type:performance, area:main-menu, size/XS

#31052 Fix lookups of hit circle slider pieces potentially using wrong source skin
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: area:skinning, size/S

#31071 Allow tsunyoku and stanriders to trigger diffcalc spreadsheet generator
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XS

#30860 Allow choosing different background/audio files for individual difficulties
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Graphics/UserInterfaceV2/FormFileSelector.cs
  osu.Game/Localisation/EditorSetupStrings.cs
  osu.Game/Screens/Edit/Setup/FormBeatmapFileSelector.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:editor, size/XL

#30877 Fix potential issues with medal display
  osu.Game/Overlays/MedalAnimation.cs
  osu.Game/Overlays/MedalOverlay.cs
Labels: type:code-quality, size/M

#31039 Use temporary storage for file exports on iOS
  osu.Game/Database/LegacyExporter.cs
  osu.Game/IO/OsuStorage.cs
  osu.iOS/OsuGameIOS.cs
  osu.iOS/OsuStorageIOS.cs
Labels: platform/iOS, size/M

#31037 Enable beatmap exports on iOS
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, platform/iOS, size/XS

#30763 Add convert to stream functionality for juice streams
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset/osu!catch, area:editor, size/M

#31076 Access beatmap store via abstract base class
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunScreenUIScale.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunSetupOverlay.cs
  osu.Game/Database/BeatmapStore.cs
  osu.Game/Database/RealmDetachedBeatmapStore.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/CarouselGroup.cs
  osu.Game/Screens/Select/Carousel/CarouselGroupEagerSelect.cs
  osu.Game/Tests/Beatmaps/TestBeatmapStore.cs
Labels: type:code-quality, size/L

#30838 Improve multiplayer room status handling
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoom.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Localisation/RoomStatusPillStrings.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Online/Rooms/RoomStatus.cs
  osu.Game/Online/Rooms/RoomStatuses/RoomStatusEnded.cs
  osu.Game/Online/Rooms/RoomStatuses/RoomStatusOpen.cs
  osu.Game/Online/Rooms/RoomStatuses/RoomStatusOpenPrivate.cs
  osu.Game/Online/Rooms/RoomStatuses/RoomStatusPlaying.cs
  osu.Game/Screens/OnlinePlay/Components/StatusColouredContainer.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomStatusPill.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomFooter.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, size/L

#31103 Update recommended difficulty for osu!taiko
  osu.Game/Beatmaps/DifficultyRecommender.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#31073 Add ability to filter out currently playing rooms
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/Rooms/GetRoomsRequest.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/FilterCriteria.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomModeFilter.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomStatusFilter.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
Labels: area:multiplayer, size/M

#31105 Fix player settings overlay appearing while in skin editor
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
Labels: size/M, area:skin-editor

#31107 Attempt to fix flaky editor beatmap creation test
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
Labels: type:testing, size/S, type:reliability

#31106 Fix player settings overlay cog overlapping skin elements
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/S

#31108 Allow using "quick retry" shortcut in more cases from results screen
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/RetryButton.cs
Labels: area:results, size/M

#31109 Fix adjusting control point offset after undo/redo causing catastrophic failure
  osu.Game.Tests/Visual/Editing/TestSceneTimingScreen.cs
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
Labels: area:editor, size/M

#31110 Change the way "current" points are hinted on timing screen
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
Labels: area:editor, size/M

#31139 Expose high precision mouse toggle when searching for "sensitivity" and other keywords
  osu.Game/Overlays/Settings/Sections/Input/MouseSettings.cs
Labels: area:settings, size/XS

#31084 Add missing mania tooltip overlay for 4k and 7k
  osu.Game/Overlays/Profile/Header/Components/MainDetails.cs
  osu.Game/Users/UserStatistics.cs
Labels: area:overlay-user-profile, size/L

#31156 Use time-based resume overlay when playing osu! on touchscreen
  osu.Game.Rulesets.Osu/UI/DrawableOsuRuleset.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#30591 Implement considerations for Relax within osu!taiko diffcalc
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#31067 Adjust `DifficultyValue` curve to avoid lower star rating of osu!taiko being too inflated
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#31162 Fix iOS app configuration missing certain specifications
  osu.iOS/Info.plist
Labels: platform/iOS, size/XS

#31191 Refactor `TaikoDifficultyCalculator` and add `DifficultStrain` attributes
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31184 Fix being able to click through slider tail drag handles
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderEndDragMarker.cs
Labels: area:editor, size/XS

#31150 Hide `!mp` commands from tournament streaming chat
  osu.Game.Tournament.Tests/Components/TestSceneTournamentMatchChatDisplay.cs
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
Labels: area:tournament, size/M

#30984 Fix "spinner" conversion for mania-specific beatmaps
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapConversionTest.cs
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/4869637-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/4869637.osu
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/mania-specific-spinner-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/mania-specific-spinner.osu
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/HitCirclePatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/LegacyPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PassThroughPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/SliderPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/SpinnerPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Pattern.cs
  osu.Game/Beatmaps/Legacy/LegacyHitObjectType.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHold.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSpinner.cs
Labels: ruleset/osu!mania, area:beatmap-parsing, size/XXL, compatibility change

#31195 Increase `accscalingshift` and include `countok` in hit proportion
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#31196 Remove Conditional `SkillRating` nerf to Converts
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#31198 Load seasonal backgrounds without requiring being logged in
  osu.Game.Tests/Visual/Background/TestSceneSeasonalBackgroundLoader.cs
  osu.Game/Graphics/Backgrounds/SeasonalBackgroundLoader.cs
Labels: area:main-menu, size/S

#31146 Move "global" scroll-adjusts-volume to a per-screen component-based implementation
  osu.Game.Tests/Visual/Navigation/TestSceneMouseWheelVolumeAdjust.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOverlayContainer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneVolumeOverlay.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Volume/GlobalScrollAdjustsVolume.cs
  osu.Game/Overlays/Volume/VolumeControlReceptor.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Play/GameplayScrollWheelHandling.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:code-quality, type:behavioural, size/L, audio

#31143 Skip the pause cooldown when in intro / break time
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/S

#31152 Update game structure with the returned iOS application delegates
  osu.Game.Rulesets.Catch.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Catch.Tests.iOS/Program.cs
  osu.Game.Rulesets.Mania.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Mania.Tests.iOS/Program.cs
  osu.Game.Rulesets.Osu.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Osu.Tests.iOS/Program.cs
  osu.Game.Rulesets.Taiko.Tests.iOS/AppDelegate.cs
  osu.Game.Rulesets.Taiko.Tests.iOS/Program.cs
  osu.Game.Tests.iOS/AppDelegate.cs
  osu.Game.Tests.iOS/Program.cs
  osu.iOS/AppDelegate.cs
  osu.iOS/Program.cs
Labels: platform/iOS, size/L

#30902 Simplify osu! high-bpm acute angle jumps bonus
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
Labels: ruleset/osu!, area:difficulty, size/M

#30993 Implement skinnable mod display
  osu.Game.Tests/Resources/Archives/modified-default-20241207.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Localisation/SkinComponents/SkinnableModDisplayStrings.cs
  osu.Game/Rulesets/UI/ModIcon.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUD/SkinnableModDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, area:skinning, size/L

#31208 Implement `Reading` Skill into osu!taiko
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ReadingEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Reading/EffectiveBPM.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/TaikoDifficultyHitObject.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Reading.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/L

#31224 Fix typo in main menu tip
  osu.Game/Localisation/MenuTipStrings.cs
Labels: area:main-menu, size/XS

#31055 Change slider drop penalty to use actual number of difficult sliders, fix slider drop penalty being too lenient
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!, area:difficulty, size/M

#31206 Add christmas / seasonal mode
  osu.Game.Tests/Visual/Menus/TestSceneIntroChristmas.cs
  osu.Game.Tests/Visual/Menus/TestSceneMainMenuSeasonalLighting.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuLogo.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Loader.cs
  osu.Game/Screens/Menu/IntroScreen.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MenuLogoVisualisation.cs
  osu.Game/Screens/Menu/MenuSideFlashes.cs
  osu.Game/Screens/Menu/OsuLogo.cs
  osu.Game/Seasonal/IntroChristmas.cs
  osu.Game/Seasonal/MainMenuSeasonalLighting.cs
  osu.Game/Seasonal/OsuLogoChristmas.cs
  osu.Game/Seasonal/SeasonalMenuLogoVisualisation.cs
  osu.Game/Seasonal/SeasonalMenuSideFlashes.cs
  osu.Game/Seasonal/SeasonalUIConfig.cs
Labels: area:main-menu, size/XL

#31238 Save "featured artists" filter to user settings and disable toggling on iOS
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/BeatmapOverlayStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchGeneralFilterRow.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
  osu.iOS/OsuGameIOS.cs
Labels: platform/iOS, size/M, area:overlay-beatmap-listing

#31220 Add ability to rename the skin
  osu.Game/Localisation/SkinSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
Labels: type:behavioural, area:skinning, area:settings, size/L

#31147 Change beat snap divisor adjust defaults to be Ctrl+Scroll instead of Ctrl+Shift+Scroll
  osu.Game/Database/RealmAccess.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: area:editor, size/S

#31254 Fix some hitcircle sprites missing in certain skins since last release
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyMainCirclePiece.cs
Labels: area:skinning, size/XS, next release

#31258 Slightly reduce background brightness at main menu when seasonal lighting is active
  osu.Game/Screens/Menu/MainMenu.cs
Labels: size/XS, next release

#31259 Fix adjusting volume using scroll wheel not working during intro
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: size/XS, next release

#31245 Use `lastAngle` when nerfing repeated angles on acute bonus
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
Labels: ruleset/osu!, area:difficulty, size/S

#31226 Add `Hidden` cursor state flag on non-desktop platforms as well
  osu.Desktop/OsuGameDesktop.cs
  osu.Game/OsuGame.cs
Labels: platform/iOS, platform/android, size/XS

#31138 Implement ability to mark beatmap as played
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, size/S

#31277 Switch scroll direction for beat snap
  osu.Game/Database/RealmAccess.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: size/S

#31284 Rewrite of the `Rhythm` Skill within osu!taiko
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SamePatterns.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythmHitObjects.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/IHasInterval.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoDifficultyHitObjectRhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/TaikoDifficultyHitObject.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XL

#31307 Populate metadata from ID3 tags when changing beatmap audio track in editor
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
Labels: area:editor, size/M

#31303 Pause playback when entering gameplay test from editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:behavioural, size/XS

#21211 Add basic difficulty & performance calculation for Autopilot mod on osu! ruleset
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: ruleset/osu!, area:difficulty, size/S

#31282 Fix volume adjust key repeat not working as expected
  osu.Game/OsuGame.cs
Labels: area:settings, size/S

#31352 Take custom bank name length into account when collapsing sample point indicators
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, type:cosmetic, size/S

#31287 Change `OsuModRelax` hit leniency to be the same as in stable
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModRelax.cs
  osu.Game.Rulesets.Osu/Mods/OsuModRelax.cs
Labels: ruleset/osu!, area:mods, size/L

#31350 Fix slider end drag marker blocking open of control point piece context menus
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuComposerSelection.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderEndDragMarker.cs
Labels: ruleset/osu!, area:editor, size/M

#31362 Ignore whitespace while 2FA authentication
  osu.Game/Overlays/Login/SecondFactorAuthForm.cs
Labels: type:online, size/XS

#31342 Speed up metronome in timing screen when pressing control key
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
Labels: area:editor, size/M
