Repository ppy/osu, pull requests merged in 2024-04, with the labels that each got.

#27761 Update Slider path control points and connections after stacking application
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointConnectionPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointPiece.cs
Labels: ruleset/osu!, area:editor, size/M

#27698 Attempt to disable custom rulesets that can be linked to an unhandled crash
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/RealmRulesetStore.cs
  osu.Game/Rulesets/RulesetStore.cs
Labels: size/M, type:reliability, area:ruleset-api

#26702 Fix rotate tool button in editor disabled when selecting 1 circle
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePreciseRotation.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionRotationHandler.cs
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/TransformToolboxGroup.cs
  osu.Game.Tests/Visual/Editing/TestSceneComposeSelectBox.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionRotationHandler.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Components/RadioButtons/EditorRadioButton.cs
  osu.Game/Screens/Edit/Components/RadioButtons/RadioButton.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionRotationHandler.cs
Labels: area:editor, size/L

#27768 Fix merging sliders with the same `StartTime` causing a Unhandled Exception
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneObjectMerging.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
Labels: size/L

#27747 Consider keymods in beatmap filtering + panel display
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmap.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmapConverter.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/EndTimeObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/HitObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PathObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/PatternGenerator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaLegacyScoreSimulator.cs
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Rulesets/Filter/IRulesetFilterCriteria.cs
  osu.Game/Rulesets/ILegacyRuleset.cs
  osu.Game/Rulesets/Scoring/Legacy/LegacyBeatmapConversionDifficultyInfo.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/FilterCriteria.cs
Labels: ruleset/osu!mania, area:song-select, type:behavioural, size/L

#27779 Fix SkinEditor binding event to external bindable
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: type:performance, size/S

#27784 Fix some maps requiring multiple intro skips that weren't there on stable
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithIntro.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
Labels: area:gameplay, area:storyboard, size/M

#27783 Add custom message in the case of a `invalid beatmap_hash`
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: size/XS

#27788 Update osu.Framework package
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#27789 Disable Discord URI registration on macOS for now
  osu.Desktop/DiscordRichPresence.cs
Labels: platform/macOS, size/S

#27797 Revert recent storyboard optimisations
  osu.Game/Storyboards/CommandTimelineGroup.cs
  osu.Game/Storyboards/StoryboardSprite.cs
Labels: area:storyboard, size/M

#27787 Update hit error metre to use new icons
  osu.Game/Graphics/OsuIcon.cs
  osu.Game/Screens/Play/HUD/HitErrorMeters/BarHitErrorMeter.cs
  osu.Game/osu.Game.csproj
Labels: area:gameplay, size/S

#27734 Fix bulbs on Catmull sliders
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
Labels: area:beatmap-parsing, size/M

#27827 Update Sentry to fix iOS build
  osu.Game/Utils/SentryLogger.cs
  osu.Game/osu.Game.csproj
Labels: area:tooling, size/S

#27832 Fix newly placed items in skin editor not getting correct anchor placement
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/XS, area:skin-editor

#27839 Fix crash when entering multiplayer on macOS
  osu.Desktop/DiscordRichPresence.cs
Labels: platform/macOS, size/XS

#27845 Fix missing underscore in `invalid beatmap_hash` notification message
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, area:gameplay, size/XS

#27853 Fix toolbar volume bar masking
  osu.Game/Overlays/Toolbar/ToolbarMusicButton.cs
Labels: type:cosmetic, size/XS, area:toolbar

#27877 Fix stable scores showing with faded out pp display due to classic mod presence
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/Statistics/PerformanceStatistic.cs
Labels: type:cosmetic, area:results, size/S

#27148 Add Traceable performance calculation support
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#27891 Fix high memory usage during spectator modes when background processing is running
  osu.Desktop/Performance/HighPerformanceSessionManager.cs
  osu.Game/Database/BackgroundDataStoreProcessor.cs
  osu.Game/Performance/IHighPerformanceSessionManager.cs
Labels: type:performance, size/M

#27881 Don't re-filter unless mods may change the filter
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Rulesets/Filter/IRulesetFilterCriteria.cs
  osu.Game/Screens/Select/FilterControl.cs
Labels: area:song-select, type:behavioural, size/L

#27896 Fix resume overlay not appearing after pausing when mouse cursor is inside window but outside of actual playfield area
  osu.Game.Rulesets.Osu.Tests/TestSceneResume.cs
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
Labels: ruleset/osu!, area:gameplay, size/M

#27898 Fix preview tracks playing after their owning overlay has hidden
  osu.Game/Overlays/WaveOverlayContainer.cs
Labels: size/XS, audio, area:overlays

#27815 Upgrade to SDL3
  osu.Android.props
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: blocked, size/M

#27909 Add sound feedback to all tab controls with keyboard interaction
  osu.Game/Graphics/UserInterface/OsuTabControl.cs
  osu.Game/Graphics/UserInterface/PageTabControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapListingCardSizeTabControl.cs
  osu.Game/Overlays/BeatmapListing/BeatmapSearchMultipleSelectionFilterRow.cs
  osu.Game/Overlays/BeatmapListing/FilterTabItem.cs
  osu.Game/Overlays/BeatmapSet/BeatmapRulesetSelector.cs
  osu.Game/Overlays/OverlayPanelDisplayStyleControl.cs
  osu.Game/Overlays/OverlayRulesetTabItem.cs
  osu.Game/Overlays/OverlayStreamItem.cs
  osu.Game/Overlays/OverlayTabControl.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetTabButton.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchTypePicker.cs
Labels: type:behavioural, size/L, audio

#27908 Globally silence Discord RPC registration failures
  osu.Desktop/DiscordRichPresence.cs
Labels: type:behavioural, size/S

#27934 Remove unused method
  osu.Game/Skinning/ISerialisableDrawableContainer.cs
  osu.Game/Skinning/SkinComponentsContainer.cs
Labels: type:code-quality, area:skinning, size/S

#27780 Fix mod search box not tracking external changes to focus state
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: type:behavioural, size/S, area:overlay-mod-select

#27935 Give SerialisedDrawableInfo sane defaults
  osu.Game/Skinning/SerialisedDrawableInfo.cs
Labels: area:skinning, size/XS

#27930 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#27958 Improve `EditorTable` performance
  osu.Game/Screens/Edit/EditorTable.cs
Labels: size/XS

#27922 Add ability to quick exit from results screen
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/XS

#27964 Fix `cursormiddle` not using the same source as `cursor`
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
Labels: ruleset/osu!, area:skinning, size/M

#27895 Add verify checks for incorrect audio formats
  osu.Game.Tests/Editing/Checks/CheckHitsoundsFormatTest.cs
  osu.Game.Tests/Editing/Checks/CheckSongFormatTest.cs
  osu.Game.Tests/Editing/Checks/CheckTooShortAudioFilesTest.cs
  osu.Game.Tests/Resources/Samples/test-sample.ogg
  osu.Game.Tests/Resources/Samples/test-sample.webm
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckHitsoundsFormat.cs
  osu.Game/Rulesets/Edit/Checks/CheckSongFormat.cs
  osu.Game/Rulesets/Edit/Checks/CheckTooShortAudioFiles.cs
Labels: size/L

#27973 Fix settings colour scheme wrong when viewing gameplay from skin editor button
  osu.Game/Screens/Play/Player.cs
Labels: size/XS, area:skin-editor

#27972 Fix mod select overlay columns not displaying properly sometimes
  osu.Game/Overlays/Mods/ModColumn.cs
Labels: type:behavioural, size/S, area:overlay-mod-select

#27969 Allow confirming keybinding overwrite on conflict via "select" binding
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingConflictPopover.cs
Labels: type:behavioural, area:settings, size/M

#27967 Fix storyboard videos not accepting transforms
  osu.Game.Tests/Visual/Gameplay/TestSceneDrawableStoryboardSprite.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboardVideo.cs
  osu.Game/Storyboards/StoryboardVideo.cs
Labels: area:storyboard, size/L

#27978 Add ability to show beatmap source using skin editor's beatmap attribute text
  osu.Game/Localisation/EditorSetupStrings.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: size/M, area:skin-editor

#27982 Add chevron to distinguish all menus with submenus
  osu.Game.Tests/Visual/UserInterface/TestSceneContextMenu.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
Labels: size/M

#27986 Ignore autogenerated .idea android file
  .gitignore
Labels: size/XS

#27995 Apply nullability annotations to `ResultsScreen` & inheritors
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerTeamResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsResultsScreen.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: type:code-quality, size/M

#27996 Fix deleting modified difficulty via editor leaving user in broken state
  osu.Game.Tests/Visual/Editing/TestSceneDifficultyDelete.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, type:reliability

#27997 Fully refetch working beatmap when entering editor
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:editor, size/XS

#27993 Fix adding slider control points via context menu not undoing correctly
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset/osu!, area:editor, size/XS

#27965 Apply generic math-related changes
  osu.Android.props
  osu.Game/Graphics/UserInterface/ExpandableSlider.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Graphics/UserInterface/RoundedSliderBar.cs
  osu.Game/Graphics/UserInterface/ShearedSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Overlays/Settings/Sections/SizeSlider.cs
  osu.Game/Overlays/Settings/SettingsPercentageSlider.cs
  osu.Game/Overlays/Settings/SettingsSlider.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
  osu.Game/Rulesets/Scoring/LegacyDrainingHealthProcessor.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
  osu.Game/Screens/Play/PlayerSettings/PlayerSliderBar.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M

#28003 Fix audio being paused in a spectator session when all players finish playing
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/SpectatorSyncManager.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
Labels: size/S, area:spectator

#28014 Add missing space in setup wizard
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
Labels: type:localisation, size/XS

#28030 Autosave edited skin on change
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: area:skinning, size/M

#28019 Check realm file can be written to before attempting further initialisation
  osu.Game/Database/RealmAccess.cs
Labels: realm, size/M

#28034 Fix filenames containing japanese not being read correctly
  osu.Game.Tests/Resources/Archives/japanese-filename.osz
  osu.Game.Tests/Skins/TestSceneBeatmapSkinResources.cs
  osu.Game/Database/BeatmapExporter.cs
  osu.Game/Database/LegacyArchiveExporter.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/IO/Archives/ZipArchiveReader.cs
Labels: area:beatmap-parsing, size/L

#28040 Fix incorrect background being loaded due to async race
  osu.Game/Screens/Backgrounds/BackgroundScreenDefault.cs
Labels: area:main-menu, size/XS

#28031 Reduce startup volume
  osu.Game/OsuGame.cs
Labels: size/XS, audio
