Repository ppy/osu, pull requests merged in 2024-07, with the labels that each got.

#28686 Fix summary timeline not correctly updating after changes to breaks
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
Labels: area:editor, size/XS

#28657 Change "playfield" skin layer to respect shifting playfield border in osu! ruleset
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: size/XS, area:skin-editor

#28689 Fix `ManiaModInvert` permanently destroying the beatmap
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModInvert.cs
  osu.Game.Tests/Editing/TestSceneEditorBeatmapProcessor.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
  osu.Game/Screens/Edit/EditorBeatmapProcessor.cs
Labels: ruleset/osu!mania, area:mods, size/L, next release

#28712 Update framework
  CodeAnalysis/BannedSymbols.txt
  osu.Android.props
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneNotes.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/HitObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PathObjectPatternGenerator.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Database/LegacyImportManager.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Graphics/ParticleSpewer.cs
  osu.Game/Graphics/UserInterface/TwoLayerButton.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionScaleHandler.cs
  osu.Game/Overlays/Toolbar/ToolbarButton.cs
  osu.Game/Replays/Legacy/LegacyReplayFrame.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxDragHandleContainer.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxScaleHandle.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Ranking/Statistics/HitEventTimingDistributionGraph.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Skinning/SerialisableDrawableExtensions.cs
  osu.Game/Skinning/SerialisedDrawableInfo.cs
  osu.Game/Storyboards/StoryboardExtensions.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#28619 Fix slider tail volume not saving
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Resources/per-slider-node-sample-settings.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: area:beatmap-parsing, area:editor, size/M

#28707 Add option to remove breaks via timeline context menu
  osu.Game.Tests/Visual/Editing/TestSceneTimelineSelection.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBreak.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBreakDisplay.cs
Labels: area:editor, size/M

#28522 Extend slider selection box bounds to contain all control points inside
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset/osu!, area:editor, type:behavioural, size/S

#26310 Add hexgrid and circular grid to the osu editor
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestScenePositionSnapGrid.cs
  osu.Game/Graphics/UserInterface/ExpandableSlider.cs
  osu.Game/Screens/Edit/Compose/Components/CircularPositionSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/TriangularPositionSnapGrid.cs
Labels: area:editor, size/L

#28511 Allow to jump to a specific timestamp via bottom bar in editor
  osu.Game.Tests/Editing/EditorTimestampParserTest.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/Edit/EditorTimestampParser.cs
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:behavioural, size/L

#28716 Add verify checks for incorrect title markers
  osu.Game.Tests/Editing/Checks/CheckTitleMarkersTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckTitleMarkers.cs
Labels: area:editor, size/L

#28705 Reimplement missing gameplay test hotkeys from stable
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchReplayHandling.cs
  osu.Game.Rulesets.Mania/UI/ManiaTouchInputArea.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Localisation/InputSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Input/GlobalKeyBindingsSection.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: area:editor, size/L

#28509 Add ability to cycle slider control point types via keyboard
  osu.Game.Rulesets.Osu.Tests/Editor/TestScenePathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/SliderCompositionTool.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectCompositionToolButton.cs
  osu.Game/Rulesets/Edit/Tools/HitObjectCompositionTool.cs
  osu.Game/Screens/Edit/Components/RadioButtons/RadioButton.cs
Labels: ruleset/osu!, area:editor, size/XL

#28521 Change editor speed adjustment back to adjusting tempo
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
Labels: area:editor, size/M, audio

#28728 Always inherit the volume from the previous hit object on placement
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/M

#28659 Use room watching functionality to receive realtime daily challenge updates
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeCarousel.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeEventFeed.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeScoreBreakdown.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeEventFeed.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeScoreBreakdown.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/Events/NewScoreEvent.cs
Labels: type:online, size/L

#28739 Fix incorrect skin fallback order when beatmap skin is present
  osu.Game/Skinning/BeatmapSkinProvidingContainer.cs
  osu.Game/Skinning/RulesetSkinProvidingContainer.cs
  osu.Game/Skinning/SkinProvidingContainer.cs
Labels: area:skinning, size/M

#28745 Apply nullability to `MusicController`
  osu.Game/Overlays/MusicController.cs
Labels: type:code-quality, size/M

#28727 Allow inheriting addition bank from previous hitobject when using auto bank assignment
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/M

#28726 Fix node samples always having default samples on placement
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
Labels: area:editor, size/M

#28746 Fix incorrect ternary state computation for bank toggles
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: area:editor, size/S, next release

#28763 Add slight animation when revert to default button is displayed
  osu.Game/Overlays/RevertToDefaultButton.cs
Labels: type:cosmetic, size/S

#28553 Detach mod customisation area from the footer and replace with an overlay panel display
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModCustomisationPanel.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSettingsArea.cs
  osu.Game/Localisation/ModSelectOverlayStrings.cs
  osu.Game/Overlays/Mods/ModCustomisationHeader.cs
  osu.Game/Overlays/Mods/ModCustomisationPanel.cs
  osu.Game/Overlays/Mods/ModCustomisationSection.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSettingsArea.cs
Labels: type:cosmetic, size/XXL, area:overlay-mod-select

#28547 Add a 'ducking' effect to the currently playing track when changing ruleset
  osu.Game.Tests/Visual/Menus/TestSceneAudioDucking.cs
  osu.Game/Collections/ManageCollectionsDialog.cs
  osu.Game/Overlays/Dialog/PopupDialogDangerousButton.cs
  osu.Game/Overlays/DialogOverlay.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
  osu.Game/Overlays/Toolbar/ToolbarRulesetTabButton.cs
  osu.Game/osu.Game.csproj
Labels: size/L, audio

#28767 Fix editor player crashing with UR counter present in skin
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
Labels: area:editor, size/XS, type:reliability

#28765 Fix editor menus overflowing off screen
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:behavioural, size/S

#28762 Change display of "expanded" chevrons in many UI components to use scale instead of rotation
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentRepliesButton.cs
  osu.Game/Collections/CollectionDropdown.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
  osu.Game/Overlays/Comments/Buttons/ChevronButton.cs
  osu.Game/Overlays/Comments/Buttons/CommentRepliesButton.cs
  osu.Game/Overlays/Music/NowPlayingCollectionDropdown.cs
  osu.Game/Overlays/News/Sidebar/MonthSection.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
  osu.Game/Overlays/Profile/Header/Components/ToggleCoverButton.cs
  osu.Game/Overlays/Rankings/SpotlightSelector.cs
Labels: type:cosmetic, type:behavioural, size/M

#28770 Fix editor playback control not removing correct adjustment
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
Labels: area:editor, size/M, audio, next release

#28772 Fix CurrentTimeAccurate being inaccurate
  osu.Game.Tests/Visual/Editing/TestSceneEditorClock.cs
  osu.Game/Screens/Edit/EditorClock.cs
Labels: area:editor, size/S

#28771 Fix breaks not showing unless already ordered in the beatmap file
  osu.Game.Tests/Visual/Gameplay/TestSceneUnorderedBreaks.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Beatmaps/Timing/BreakPeriod.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: area:gameplay, area:beatmap-parsing, size/L

#28776 Fix composer disappearing when undoing change to control points
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneEditor.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, next release

#28780 Use Environment.IsPrivilegedProcess and remove Mono.Posix.NETStandard
  osu.Desktop/Security/ElevatedPrivilegesChecker.cs
  osu.Desktop/osu.Desktop.csproj
Labels: size/M

#28785 Ensure realm subscriptions always fire initial callback with null `ChangeSet`
  osu.Game.Tests/Database/RealmSubscriptionRegistrationTests.cs
  osu.Game/Database/RealmObjectExtensions.cs
Labels: blocked, realm, size/M

#28787 Adjust editor transparent tweens to be less "flashy"
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
Labels: area:editor, size/M

#28786 Add caret transition to beatmap listing sort tab items
  osu.Game/Overlays/BeatmapListing/BeatmapListingSortTabControl.cs
Labels: type:cosmetic, size/XS, area:overlay-beatmap-listing

#28796 Fix preview track persisting to play after entering multi/playlists gameplay
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: area:multiplayer, size/XS, audio, area:playlists

#28740 Improve results displays in daily challenge screen
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeLeaderboard.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneLeaderboardScoreV2.cs
  osu.Game/Online/Rooms/ShowPlaylistScoreRequest.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeEventFeed.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemScoreResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemUserResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:online, size/XL

#28682 Add implementation for `ScreenFooter` to house footer content of sheared overlays
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game/Overlays/Mods/ShearedOverlayContainer.cs
  osu.Game/Overlays/OverlayColourProvider.cs
  osu.Game/Screens/Footer/ScreenBackButton.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonMods.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonRandom.cs
Labels: type:cosmetic, type:behavioural, size/L, area:overlays

#28789 Fix deleted beatmap sets potentially reappearing due to pending update requests
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/M

#28801 Improve performance of automatic break regeneration
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/EditorBeatmapProcessor.cs
Labels: type:performance, area:editor, size/M

#28802 Fix beatmap card progress bar becoming pancake when starting
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardDownloadProgressBar.cs
Labels: type:cosmetic, size/S, area:overlay-beatmap-listing

#28803 Fix break overlay progress bar becoming a pancake near end of break
  osu.Game/Screens/Play/BreakOverlay.cs
Labels: area:gameplay, type:cosmetic, size/S

#28807 Fix confirm exit dialog overflowing from too many ongoing operations
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/Menu/ConfirmExitDialog.cs
Labels: type:behavioural, size/M

#28809 Match mania editor playfield time range with timeline zoom
  osu.Game.Rulesets.Mania/Edit/DrawableManiaEditorRuleset.cs
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
Labels: ruleset/osu!mania, area:editor, size/M

#28818 Fix incorrect continuation in `ImportAsUpdate` causing UI blockage
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
Labels: realm, size/S

#28805 Select all text when focusing sample bank/volume textboxes in editor (and number boxes in general)
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuTextBox.cs
  osu.Game/Graphics/UserInterface/OsuNumberBox.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/LabelledTextBox.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Timing/GroupSection.cs
  osu.Game/Screens/Edit/Timing/IndeterminateSliderWithTextBoxInput.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: area:editor, type:behavioural, size/M

#28800 Add ability to edit beatmap content externally
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Database/ExternalEditOperation.cs
  osu.Game/Database/IModelImporter.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/ExternalEditScreen.cs
  osu.Game/Screens/Edit/SaveRequiredPopupDialog.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:editor, size/XL

#28821 Fix editor UI transparency being incorrectly opaque when hovering slider control points
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineArea.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M

#28823 Remove key arrow handling in `VolumeOverlay` to avoid conflicting with ruleset key bindings (i.e. osu!catch)
  osu.Game/Overlays/VolumeOverlay.cs
Labels: size/M, area:overlay-volume

#28788 Redesign editor timelines to address most frequent user complaints
  osu.Game.Tests/Visual/Editing/TestScenePreviewTime.cs
  osu.Game/Beatmaps/ControlPoints/EffectControlPoint.cs
  osu.Game/Beatmaps/ControlPoints/TimingControlPoint.cs
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BookmarkPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/MarkerPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/PreviewTimePart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/CentreMarker.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/DifficultyPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBreak.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineControlPointGroup.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:cosmetic, size/L

#28831 Add tooltips to summary timeline display
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BookmarkPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/BreakPart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/PreviewTimePart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Visualisations/PointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/M

#28683 Replace local footer in existing sheared overlays (e.g. mod select & first-run setup) with `ScreenFooter`
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneSongSelectV2.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFirstRunSetupOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
  osu.Game/Overlays/FirstRunSetupOverlay.cs
  osu.Game/Overlays/Mods/ModSelectFooterContent.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ShearedOverlayContainer.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/OnlinePlay/FreeModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Screens/SelectV2/SongSelectV2.cs
  osu.Game/Tests/Visual/Gameplay/ScoringTestScene.cs
  osu.Game/Tests/Visual/ScreenTestScene.cs
Labels: type:cosmetic, type:behavioural, size/XL, area:overlays, area:overlay-mod-select

#28832 UI SFX Tweaks/Updates
  osu.Game/Graphics/UserInterface/HoverSampleSet.cs
  osu.Game/Overlays/Dialog/PopupDialogDangerousButton.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
  osu.Game/osu.Game.csproj
Labels: size/M, audio

#28876 Fix potential crash when exiting daily challenge screen
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
Labels: size/XS

#28874 Fix editor toolboxes being incorrectly chopped
  osu.Game/Rulesets/Edit/ExpandingToolboxContainer.cs
Labels: area:editor, size/XS, next release

#28853 Fix test failure in `TestMetadataTransferred`
  osu.Game.Tests/Database/BeatmapImporterUpdateTests.cs
Labels: type:testing, size/XS

#28883 Fix summary timeline timing points being incorrectly positioned
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/GroupVisualisation.cs
Labels: area:editor, size/XS, next release

#28882 Update framework
  osu.Android.props
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Timing/ControlPointTable.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#28884 Fix BackgroundDataStoreProcessor test failure
  osu.Game.Tests/Database/BackgroundDataStoreProcessorTests.cs
  osu.Game/Database/BackgroundDataStoreProcessor.cs
Labels: type:testing, size/S

#28890 Exclude protected beatmaps from consideration in several places
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: size/M, area:overlay-now-playing, audio

#28891 Fix storyboard sprites leaving gaps on edges when "beatmap skins" is enabled
  osu.Game/Storyboards/Drawables/DrawableStoryboardSprite.cs
Labels: area:storyboard, size/XS

#28892 Send client-generated session GUID for identification purposes
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/HubClientConnector.cs
Labels: type:online, size/S, type:reliability

#28898 Fix intermittent test failure in `TestSceneArgonHealthDisplay`
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonHealthDisplay.cs
Labels: type:testing, size/XS

#28905 Fix hold note light lingering with No Release
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: size/S

#28908 Fix tab extension dropdown having dead non-clickable hover area
  osu.Game/Graphics/UserInterface/OsuTabDropdown.cs
Labels: type:behavioural, size/XS

#28934 Disable multi-line trailing comma inspections entirely
  osu.sln.DotSettings
Labels: type:code-quality, size/XS

#28937 Fix selection box being initially visible on top-left corner in skin editor
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: size/XS, area:skin-editor

#28936 Fix degraded performance when changing mod settings on a large beatmap
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
Labels: type:performance, size/M, area:overlay-mod-select

#28942 Fix skipping to next track not working
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game/Overlays/MusicController.cs
Labels: size/S, area:overlay-now-playing

#28944 Fix crash when adding mania notes right after changing timing point
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: area:editor, size/XS, type:reliability, next release

#28946 Fix beatmap carousel performance regression with large databases
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, next release

#28900 Fix more test failures
  .github/workflows/ci.yml
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplaySamplePlayback.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/Online/TestSceneCommentsContainer.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: type:testing, size/M

#28947 Fix various visuals of playlist beatmap panels
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardThumbnail.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
Labels: type:cosmetic, size/L

#28948 Minor editor design tweaks
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/ControlPointVisualisation.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/EffectPointVisualisation.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, size/S

#28949 Make "Hold Off" and "No Release" mod incompatible
  osu.Game.Rulesets.Mania/Mods/ManiaModHoldOff.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModNoRelease.cs
Labels: ruleset/osu!mania, area:mods, size/XS

#28963 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#28954 Fix held gameplay keys stuck after pausing and resuming
  osu.Game.Rulesets.Osu/UI/OsuResumeOverlay.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePauseInputHandling.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
  osu.Game/Screens/Play/HUD/KeyCounter.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, type:input, size/L, next release

#28849 Add custom hue support to user profile overlay
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Overlays/FullscreenOverlay.cs
  osu.Game/Overlays/OverlayColourProvider.cs
  osu.Game/Overlays/OverlayColourScheme.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
Labels: type:cosmetic, area:overlay-user-profile, size/L

#28996 Fix editor UI dimming when hovering over expanded part of toolboxes
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
Labels: area:editor, type:cosmetic, size/XS

#28999 Fix various shortcomings in juice stream selection blueprint
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/SelectionEditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/VertexPiece.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
Labels: ruleset/osu!catch, area:editor, type:behavioural, size/M

#29019 Fix duration fluctuations and one-frame jitters when editing juice streams
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/SelectionEditablePath.cs
Labels: ruleset/osu!catch, area:editor, size/M

#29020 Add tolerance when drag-scrolling editor timeline
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: type:input, area:editor, type:behavioural, size/M

#29021 Respect pre-empt time when auto-generating breaks
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Tests/Editing/TestSceneEditorBeatmapProcessor.cs
  osu.Game/Rulesets/Objects/Types/IHasTimePreempt.cs
  osu.Game/Screens/Edit/EditorBeatmapProcessor.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:editor, size/L

#29037 Exit daily challenge screen when going offline
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
Labels: type:online, size/S

#29036 Fill daily challenge top 50 position numbers client-side
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
Labels: type:online, size/XS

#29039 Make sample popover change properties of all samples in multiple selection
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/NodeSamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
Labels: area:editor, type:behavioural, size/L

#29044 Fix dragging number boxes no longer working correctly
  osu.Game.Tests/Visual/UserInterface/TestSceneOsuTextBox.cs
  osu.Game/Graphics/UserInterface/OsuTextBox.cs
Labels: type:behavioural, size/S

#29046 Disable macOS test runs for now
  .github/workflows/ci.yml
Labels: type:testing, size/XS

#29047 Fix link to good first issues in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#29054 Fix excessive leaderboard refreshes in daily challenge screen
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
Labels: size/S, area:daily-challenge

#28995 Fix swells not being correctly treated in editor gameplay test
  osu.Game.Rulesets.Taiko.Tests.Android/osu.Game.Rulesets.Taiko.Tests.Android.csproj
  osu.Game.Rulesets.Taiko.Tests/Editor/TestSceneTaikoEditorTestGameplay.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneDrumSampleTriggerSource.cs
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Rulesets.Taiko/Objects/Swell.cs
Labels: ruleset/osu!taiko, area:editor, size/M

#29058 Fix daily challenge abruptly discarding score selection when opening results screen
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemScoreResultsScreen.cs
Labels: type:behavioural, size/XS, area:daily-challenge

#29071 Fix several missing properties on `MultiplayerScore`
  osu.Game/Online/Rooms/MultiplayerScore.cs
Labels: type:online, area:playlists, next release, area:daily-challenge

#29070 Fix cursor trail disconnect from cursor when settings or notification overlay is opened
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: area:gameplay, size/S

#29067 Fix not being able to send chat reports on daily challenge screen
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: size/L, next release, area:daily-challenge

#29068 Fix crash when toggling extended statistics visibility during results load
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/XS, type:reliability, next release

#29057 Fix daily challenge not showing a replay button in results screen
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayDownloadButton.cs
  osu.Game/Screens/Ranking/ReplayDownloadButton.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/S, next release, area:daily-challenge

#29055 Improve daily challenge event feed
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeEventFeed.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeEventFeed.cs
Labels: size/M, next release, area:daily-challenge

#29100 Fix statistics wedge not showing correct values in daily challenge
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: size/XS, next release, area:daily-challenge

#29104 Fix daily challenge screen not applying track adjustments from mods
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: size/XS, audio, next release, area:daily-challenge

#29101 Fix preview tracks not stopping playback when suspending/exiting daily challenge screen
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: size/XS, audio, next release, area:daily-challenge

#29108 Improve score breakdown on daily challenge
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeScoreBreakdown.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeScoreBreakdown.cs
Labels: type:cosmetic, size/L, next release, area:daily-challenge

#29112 Adjust weight and text in event feed output
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeEventFeed.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeTotalsDisplay.cs
Labels: size/S, area:daily-challenge

#29115 Fix "Beatmap not downloaded" tooltip hint not showing in online play
  osu.Game/Screens/OnlinePlay/Components/ReadyButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsReadyButton.cs
Labels: area:multiplayer, size/XS, area:playlists, area:daily-challenge

#29097 Don't force exit to main menu when presenting scores from within online screens
  osu.Game/OsuGame.cs
Labels: type:online, area:multiplayer, area:results, size/S, area:playlists, area:daily-challenge

#29159 Fix score breakdown tooltips appearing in other feeds
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeScoreBreakdown.cs
Labels: type:behavioural, size/XS, area:daily-challenge

#29127 Fix daily challenge background clipping when settings/notifications is opened
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: type:cosmetic, size/XS, area:daily-challenge

#29163 Add ability to copy leaderboard mods in daily challenge
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: size/M, area:daily-challenge

#29185 Add logging when starting and stopping watch operations in online metadata client
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
Labels: type:online, size/XS

#29172 Handle timestamp mod content
  osu.Game.Tests/Editing/EditorTimestampParserTest.cs
  osu.Game/Rulesets/Edit/EditorTimestampParser.cs
Labels: area:editor, size/S

#29187 Favour updating daily challenge statistics when they come on screen
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeScoreBreakdown.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeTimeRemainingRing.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeTotalsDisplay.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeCarousel.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeScoreBreakdown.cs
Labels: size/L, area:daily-challenge

#29186 Fix online status not persisting correctly
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Overlays/Login/LoginPanel.cs
Labels: type:online, size/XS

#29184 Fix mods persisting after watching replay from daily challenge screen
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
Labels: area:replay, type:behavioural, size/XS, next release, area:daily-challenge

#29193 Enforce new line between X/Y coordinate in editor position inspector
  osu.Game/Screens/Edit/Compose/Components/HitObjectInspector.cs
Labels: area:editor, type:cosmetic, size/XS

#29182 Force exit to main menu when presenting scores from within playlists / multiplayer
  osu.Game/OsuGame.cs
Labels: area:multiplayer, size/XS, type:reliability, area:playlists, next release

#29198 Fix incorrect `DifficultyBindable` logic
  osu.Game.Tests/Mods/ModDifficultyAdjustTest.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game/Rulesets/Mods/DifficultyBindable.cs
Labels: area:mods, size/M

#29137 Alternate background colour of chat lines to better visually distinguish wrapped lines
  osu.Game.Tests/Visual/Online/TestSceneDrawableChannel.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: type:cosmetic, area:overlay-chat, size/L

#29204 Submit vertices in local space to avoid cross-thread access
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
Labels: ruleset/osu!, area:gameplay, size/S, type:reliability

#29201 Adjust chat sizing to better fit long usernames
  osu.Game.Tests/Visual/Online/TestSceneDrawableChannel.cs
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatLine.cs
  osu.Game/Overlays/Chat/DaySeparator.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
Labels: area:overlay-chat, size/M

#29188 Add notification on daily challenge conclusion & start of new one
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallenge.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneMainMenuButton.cs
  osu.Game/Localisation/DailyChallengeStrings.cs
  osu.Game/Screens/Menu/DailyChallengeButton.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/NewDailyChallengeNotification.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
Labels: size/L, area:daily-challenge

#29212 Flash customise button on mod overlay when it becomes available
  osu.Game/Overlays/Mods/ModCustomisationHeader.cs
Labels: size/S, area:overlay-mod-select

#29211 Always show timing points in timeline when at the timing screen
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/EditorScreenWithTimeline.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: area:editor, size/M
