Repository ppy/osu, pull requests merged in 2024-11, with the labels that each got.

#30459 Fix android screen orientation locking in portrait mode during gameplay when exiting/re-entering app
  osu.Android/GameplayScreenRotationLocker.cs
Labels: area:gameplay, platform/android, size/XS

#30455 Cap effective miss count to total hits
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#30321 Make `BeatmapAttributeText` show values inclusive of mods
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapAttributeText.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: area:skinning, size/L

#30300 Fix catcher size and hyperdashes indication on adjusting CircleSize
  osu.Game.Rulesets.Catch/Edit/CatchEditorPlayfield.cs
  osu.Game.Rulesets.Catch/Edit/DrawableCatchEditorRuleset.cs
  osu.Game.Rulesets.Catch/UI/Catcher.cs
  osu.Game.Rulesets.Catch/UI/CatcherArea.cs
  osu.Game.Rulesets.Catch/UI/CatcherTrailDisplay.cs
Labels: ruleset/osu!catch, area:editor, size/M

#30454 Prevent key bind conflict popup when default key is assigned to secondary binding
  osu.Game.Tests/Visual/Settings/TestSceneKeyBindingPanel.cs
  osu.Game/Overlays/Settings/Sections/Input/KeyBindingRow.cs
Labels: type:behavioural, area:settings, size/M

#30489 Remove `by the beatmap creator` in `PlayerLoaderStrings`
  osu.Game/Localisation/PlayerLoaderStrings.cs
Labels: size/XS

#30482 Allow scaling down to 5% in popover scale dialog
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
Labels: area:editor, size/XS

#30460 Implement stamina consideration for Mono (single-coloured) patterns.
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#30456 Bring back convert nerf to fix overweighted taiko difficulty
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#30484 Remember origin for editor scale/rotation popover
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Edit/Compose/Components/EditorOrigin.cs
Labels: area:editor, size/L

#30499 Add search textbox to friends display
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Users/UserPanel.cs
Labels: type:behavioural, size/M, area:overlay-dashboard

#30496 Add context menu option to copy link to an online score
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Localisation/CommonStrings.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
Labels: area:song-select, size/M, area:daily-challenge

#30467 Add the ability to add/remove friends in `UserProfileHeader`
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Online/TestSceneDashboardOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/AddFriendRequest.cs
  osu.Game/Online/API/Requests/AddFriendResponse.cs
  osu.Game/Online/API/Requests/DeleteFriendRequest.cs
  osu.Game/Online/API/Requests/GetFriendsRequest.cs
  osu.Game/Online/API/Requests/Responses/APIRelation.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderButton.cs
  osu.Game/Overlays/Profile/Header/Components/ProfileHeaderStatisticsButton.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboardScore.cs
Labels: type:online, area:overlay-user-profile, size/XL, next release

#30518 Reset `effectiveMissCount` when calculating pp
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, size/XS

#30511 Fix drum roll editor blueprint size & input handling
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyDrumRoll.cs
Labels: ruleset/osu!taiko, area:editor, size/S

#30509 Fix effect point scroll speeds below 0.1x not being encoded properly
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Resources/mania-0-01-sv.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
Labels: ruleset/osu!taiko, ruleset/osu!mania, area:beatmap-parsing, size/M, next release

#30505 Add ability to hide breaks from timeline
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBreakDisplay.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#30423 Increase ducking duration when selecting Mania ruleset
  osu.Game/Overlays/Toolbar/ToolbarRulesetSelector.cs
  osu.Game/osu.Game.csproj
Labels: size/XS, audio

#30526 Fix intermittent beatmap recommendations test
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Beatmaps/BeatmapOnlineChangeIngest.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/IBeatmapUpdater.cs
  osu.Game/Database/BackgroundDataStoreProcessor.cs
  osu.Game/OsuGameBase.cs
Labels: area:song-select, type:testing, size/L

#30525 Replace `MultiplayerRoomComposite` with local bindings
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchFooter.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomExtensions.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RankRangePill.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomComposite.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomSounds.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/TeamDisplay.cs
Labels: type:code-quality, area:multiplayer, size/XL

#30535 Fix HUD elements shifting in unintended manner when partially off-screen flipped skin elements are present
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: type:behavioural, area:skinning, size/XS

#30543 Fix up + improve CI test reporting workflow
  .github/workflows/report-nunit.yml
Labels: area:tooling, size/M

#30547 Add extended logging to NVAPI operations
  osu.Desktop/NVAPI.cs
Labels: size/M, type:reliability

#30560 Fix incorrectly translated NVAPI ABI
  osu.Desktop/NVAPI.cs
Labels: size/S, type:reliability, platform/windows

#30572 Fix break overlay grades not using localised string
  osu.Game/Screens/Play/Break/BreakInfoLine.cs
Labels: area:gameplay, type:localisation, size/XS

#30566 Split diffcalc workflow to add concurrency group
  .github/workflows/_diffcalc_processor.yml
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XL

#30508 Fix drum rolls losing width on strong state toggle in editor
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRoll.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableDrumRollTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableHit.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoStrongableHitObject.cs
Labels: ruleset/osu!taiko, area:editor, size/M, next release

#30545 Fix retry button on storage unavailable dialog not reopening realm if retry succeeds
  osu.Game/Screens/Menu/StorageErrorDialog.cs
Labels: realm, size/S, type:reliability

#30425 Fix multiplayer song select not correctly applying filter sometimes
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game/Screens/Select/SongSelect.cs
Labels: area:song-select, area:multiplayer, size/M, next release

#28382 Implemented ability to adjust already-placed objects when changing timing offsets
  osu.Game.Tests/Editing/TimingSectionAdjustmentsTest.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Timing/GroupSection.cs
  osu.Game/Screens/Edit/Timing/TapTimingControl.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
  osu.Game/Screens/Edit/Timing/TimingSectionAdjustments.cs
Labels: area:editor, size/L

#30544 Clamp estimateImproperlyFollowedDifficultSliders for lazer scores
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, size/XS

#30580 Reduce semi-opaque layers at song select
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselItem.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/Footer.cs
Labels: area:song-select, size/S

#30534 Globalise `CountDifficultStrains` within StrainSkill
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
Labels: ruleset/osu!, area:difficulty, size/M

#30579 Fix top rank display not showing up on beatmaps with many difficulties
  osu.Desktop/osu.Desktop.csproj
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/osu.Game.csproj
Labels: area:song-select, size/M, next release

#30411 Fix placing objects via touch in editor not working sometimes
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderDrawing.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/GridPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectPlacementBlueprint.cs
  osu.Game/Rulesets/Edit/PlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/IPlacementHandler.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: area:editor, platform/mobile, size/L

#30590 Fix stage line alignment in mania not matching stable
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyStageBackground.cs
  osu.Game.Rulesets.Mania/UI/ColumnFlow.cs
Labels: ruleset/osu!mania, area:skinning, size/S

#30536 Add `DifficultyCalculationUtils`
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ColourEvaluator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
Labels: type:code-quality, ruleset/osu!taiko, ruleset/osu!mania, ruleset/osu!, area:difficulty, size/L

#30433 Fix `UserRankPanel` rank overflowing on 6+ digits
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Users/UserRankPanel.cs
Labels: type:cosmetic, size/S, area:toolbar

#30604 Add confirmation when pressing 'q' to quit at the main menu
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeIntro.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneButtonSystem.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneMainMenuButton.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Menu/DailyChallengeButton.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MainMenuButton.cs
Labels: size/M

#30602 Increase idle time before gameplay loads when hovering controls
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, type:behavioural, size/XS

#30578 Simplify convertible hitobject parsing and add `IHasLegacyHitObjectType`
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapInfoWedge.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Legacy/LegacyHitObjectType.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Catch/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitCircle.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHold.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/IHasLegacyHitObjectType.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertHold.cs
  osu.Game/Rulesets/Objects/Legacy/Mania/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertSlider.cs
  osu.Game/Rulesets/Objects/Legacy/Osu/ConvertSpinner.cs
  osu.Game/Rulesets/Objects/Legacy/Taiko/ConvertHit.cs
  osu.Game/Rulesets/Objects/Legacy/Taiko/ConvertHitObjectParser.cs
  osu.Game/Rulesets/Objects/Legacy/Taiko/ConvertSlider.cs
Labels: area:beatmap-parsing, size/XL

#29896 Collapse sample point indicators into dots if they cannot be displayed in full
  osu.Game.Rulesets.Mania/Edit/ManiaHitObjectComposer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/HitObjectPointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, type:cosmetic, size/L

#30507 Hide cursor trail from draw visualiser
  osu.Android.props
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: ruleset/osu!, area:tooling, size/XS

#30619 Remove field that's used only in one method
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
Labels: size/XS

#30214 Fix slow performance of polygon generation tool
  osu.Game.Rulesets.Osu/Edit/PolygonGenerationPopover.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: type:performance, area:editor, size/M

#30603 Make quick restart even faster
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, type:behavioural, size/L, next release

#30616 Fix collection management dialog refreshing full display when any change occurs
  osu.Game.Tests/Visual/Collections/TestSceneManageCollectionsDialog.cs
  osu.Game/Collections/DrawableCollectionList.cs
  osu.Game/Collections/DrawableCollectionListItem.cs
Labels: area:song-select, size/M

#30613 Fix difficulty icon tooltip not displaying duration above 1 hour correctly
  osu.Game/Beatmaps/Drawables/DifficultyIconTooltip.cs
Labels: size/XS

#30607 Fix timing point truncation causing missnaps on compatibility-exported lazer beatmaps
  osu.Game.Tests/Beatmaps/IO/LegacyBeatmapExporterTest.cs
  osu.Game.Tests/Resources/Archives/decimal-timing-beatmap.olz
  osu.Game/Database/LegacyBeatmapExporter.cs
Labels: area:beatmap-parsing, area:editor, size/M

#30622 Do not show timing distribution graph in offset control if there's not enough timed hits
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game/Rulesets/Scoring/HitEventExtensions.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, type:cosmetic, size/M

#30299 Implement new osu! mod Bloom
  osu.Game.Rulesets.Osu/Mods/OsuModBloom.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModNoScope.cs
  osu.Game.Rulesets.Osu/Mods/OsuModTouchDevice.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
Labels: ruleset/osu!, area:mods, size/L

#30624 Adjust osu!taiko constant scroll algorithm to match expectations
  osu.Game.Rulesets.Taiko/UI/DrawableTaikoRuleset.cs
Labels: ruleset/osu!taiko, area:gameplay, area:editor, size/XS

#30623 Fix occasional flash when quick exiting / retrying from player
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboardWithOutro.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, type:cosmetic, size/M

#30512 Improve visual appearance of mania selection blueprints
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/Components/EditBodyPiece.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/Components/EditHoldNoteEndPiece.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/Components/EditNotePiece.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/HoldNoteSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/ManiaSelectionBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/NotePlacementBlueprint.cs
  osu.Game.Rulesets.Mania/Edit/Blueprints/NoteSelectionBlueprint.cs
Labels: ruleset/osu!mania, area:editor, type:cosmetic, size/L

#30654 Revert velopack
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/XS

#30659 Update Velopack to 0.0.915
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/XS

#30680 Fix black layer not fading fast enough when exiting quickly from quick restart
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/XS

#30686 Add missing clone keybinding and hotkey hints to skin editor
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
Labels: size/M, area:skin-editor

#30684 Add missing source query filter in song select
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/S

#30747 Build Android with non-maui workflow
  .github/workflows/ci.yml
Labels: area:tooling, size/XS

#30756 Deactivate new combo toggle on deselecting objects
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: ruleset/osu!, area:editor, type:behavioural, size/XS

#30757 Fix right click scroll at song select not quite matching scrollbar position
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S

#30718 Fix key counter not updating activation state on initial load
  osu.Game/Screens/Play/HUD/InputTrigger.cs
  osu.Game/Screens/Play/HUD/KeyCounter.cs
Labels: area:gameplay, type:behavioural, size/S

#30402 Update notification text when import is paused due to gameplay
  osu.Game.Tests/Visual/Online/TestSceneReplayMissingBeatmap.cs
  osu.Game/Database/ModelDownloader.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: size/L, area:import

#30755 Fix mania notes disappearing on seek to their end time
  osu.Game.Rulesets.Mania/Edit/EditorColumn.cs
  osu.Game.Rulesets.Mania/Edit/EditorStage.cs
  osu.Game.Rulesets.Mania/Edit/ManiaEditorPlayfield.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfield.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
Labels: ruleset/osu!mania, area:editor, size/M

#30794 Adjust beat synced animation to be smoother in skip and break overlay
  osu.Game/Screens/Play/BreakOverlay.cs
  osu.Game/Screens/Play/SkipOverlay.cs
Labels: size/XS

#30795 Add test case covering stability of compatibility export operation
  osu.Game.Tests/Beatmaps/IO/LegacyBeatmapExporterTest.cs
  osu.Game.Tests/Resources/Archives/legacy-export-stability-test.olz
Labels: area:beatmap-parsing, size/M

#30798 Add sane precision values to all settings
  osu.Game/Configuration/OsuConfigManager.cs
Labels: area:settings, size/S

#30805 Fix playlist room status resetting on enter
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Online/Rooms/GetRoomsRequest.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomManager.cs
Labels: size/L, area:playlists

#30802 Use consistent decimal places in BeatmapAttributeText
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapAttributeText.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: area:skinning, size/S

#30819 Recreate beatmap every test run in `ModTestScene`
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModNoScope.cs
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModRelax.cs
  osu.Game.Rulesets.Catch.Tests/TestSceneCatchModHidden.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModAutoplay.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModDoubleTime.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModFadeIn.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModHidden.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModPerfect.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModSuddenDeath.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAlternate.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModAutoplay.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModFlashlight.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModHidden.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModMirror.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModNoScope.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModPerfect.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModRandom.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSingleTap.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSpunOut.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModStrictTracking.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSuddenDeath.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneMissHitWindowJudgements.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModHidden.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModRelax.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModSingleTap.cs
  osu.Game.Tests/Visual/Mods/TestSceneModAccuracyChallenge.cs
  osu.Game/Tests/Visual/ModFailConditionTestScene.cs
  osu.Game/Tests/Visual/ModTestScene.cs
Labels: type:testing, area:mods, size/L

#30766 Add snapping info to the catch selected objects inspector
  osu.Game.Rulesets.Catch/Edit/CatchDistanceSnapProvider.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectInspector.cs
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
Labels: ruleset/osu!catch, area:editor, size/M

#30807 Enable NRT for multiplayer and playlists
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/OnlinePlay/TestSceneCatchUpSyncManager.cs
  osu.Game.Tests/Visual/Multiplayer/MultiplayerGameplayLeaderboardTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneCreateMultiplayerMatchButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneGameplayChatDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectatorPlayerGrid.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerTeamResults.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsRoomSettingsPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneStarRatingRangeDisplay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsParticipantsList.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/FilterCriteria.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchLeaderboardScore.cs
  osu.Game/Screens/OnlinePlay/Match/Components/MatchTypePicker.cs
  osu.Game/Screens/OnlinePlay/Match/Components/RoomAvailabilityPicker.cs
  osu.Game/Screens/OnlinePlay/Match/RoomModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/UserModSelectButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/CreateMultiplayerMatchButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerCountdownButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerReadyButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayerLoader.cs
  osu.Game/Screens/OnlinePlay/OngoingOperationTracker.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/IOnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
Labels: type:code-quality, area:multiplayer, size/XL

#30799 Fix beatmap load not continuing when when settings slider is focused
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/S

#30812 Fix joining playlists room sometimes not selecting the first item
  osu.Game/Online/Rooms/JoinRoomRequest.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: size/S, area:playlists

#30636 Remove macOS "borderless" recommendation
  osu.Game/Overlays/Settings/Sections/Graphics/LayoutSettings.cs
Labels: area:settings, size/XS

#30834 Fix song ticker having very bad contrast against bright backgrounds
  osu.Game/Screens/Menu/SongTicker.cs
Labels: area:main-menu, size/M

#30830 No longer remove expired playlist items from `Room` model
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/SelectionPollingComponent.cs
Labels: area:multiplayer, size/S

#30855 Remove FPS shortcut tip
  osu.Game/Screens/Menu/MenuTip.cs
Labels: area:main-menu, size/XS

#30862 Don't play fail animation if restarting on fail
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/XS

#30858 Fix multiplayer auto-start setting applied to the wrong component
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
Labels: area:multiplayer, size/XS

#30861 Fix pause shortcut on multiplayer no longer requiring hold
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
Labels: area:gameplay, type:behavioural, size/S

#30859 Fix editor grid settings not displaying decimal portion in slider tooltips
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
Labels: area:editor, size/XS

#30832 Allow setting osu!mania scroll speed to single decimal precision
  osu.Game.Rulesets.Mania/Configuration/ManiaRulesetConfigManager.cs
  osu.Game.Rulesets.Mania/Edit/DrawableManiaEditorRuleset.cs
  osu.Game.Rulesets.Mania/ManiaSettingsSubsection.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game/Localisation/RulesetSettingsStrings.cs
Labels: ruleset/osu!mania, size/S

#30881 Fix hitobjects' samples getting in bad state when changing selection between objects
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
Labels: area:editor, size/L

#30865 Add localisation support for menu tip
  osu.Game/Localisation/MenuTipStrings.cs
  osu.Game/Screens/Menu/MenuTip.cs
Labels: type:localisation, area:main-menu, size/L

#27128 Introduce `UserStatisticsProvider` component and add support for respecting selected ruleset
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/ImportTest.cs
  osu.Game.Tests/Visual/Menus/TestSceneLoginOverlay.cs
  osu.Game.Tests/Visual/Menus/TestSceneToolbarUserButton.cs
  osu.Game.Tests/Visual/Online/TestSceneLocalUserStatisticsProvider.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game.Tests/Visual/Online/TestSceneUserStatisticsWatcher.cs
  osu.Game.Tests/Visual/Ranking/TestSceneOverallRanking.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Beatmaps/DifficultyRecommender.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/LocalUserStatisticsProvider.cs
  osu.Game/Online/ScoreBasedUserStatisticsUpdate.cs
  osu.Game/Online/UserStatisticsWatcher.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Toolbar/TransientUserStatisticsUpdateDisplay.cs
  osu.Game/Screens/Ranking/Statistics/User/OverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/RankingChangeRow.cs
  osu.Game/Screens/Ranking/Statistics/UserStatisticsPanel.cs
  osu.Game/Users/UserRankPanel.cs
Labels: type:online, type:behavioural, size/XL

#30848 Fix discord "view beatmap" button being shown when editing and hide identifiable information is set
  osu.Desktop/DiscordRichPresence.cs
  osu.Game/Users/UserActivity.cs
Labels: type:online, size/S

#30894 Add a toggle for star fountains during gameplay
  osu.Game.Tests/Visual/Menus/TestSceneStarFountain.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/GameplaySettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Gameplay/GeneralSettings.cs
  osu.Game/Screens/Play/KiaiGameplayFountains.cs
Labels: area:gameplay, type:cosmetic, area:settings, size/M

#30852 Fix daily challenge results screen fetching scores beginning from the user's highest
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemScoreResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemUserBestResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemUserResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:online, size/L, area:daily-challenge

#30905 Clear previous `LastLocalUserScore` when returning to song select
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/S

#30893 Improve realm update performance
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: type:performance, realm, size/M

#30895 Fix watch replay button sometimes not loading the replay on first click
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Scoring/ScoreManager.cs
  osu.Game/Screens/Play/SaveFailedScoreButton.cs
Labels: realm, size/S

#30906 Adjust daily challenge tier thresholds to match expectations
  osu.Game.Tests/Visual/Online/TestSceneUserProfileDailyChallenge.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsTooltip.cs
Labels: area:overlay-user-profile, size/S, area:daily-challenge

#30904 Work around Android CI workflow errors
  .github/workflows/ci.yml
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:tooling, platform/android, size/S

#30914 Simplify the dev footer display
  osu.Game/OsuGame.cs
  osu.Game/Overlays/DevBuildBanner.cs
  osu.Game/Overlays/VersionManager.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: area:main-menu, size/L

#30915 Centralise supported file extensions to one helper class
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/Formats/LegacyStoryboardDecoder.cs
  osu.Game/Graphics/UserInterfaceV2/OsuFileSelector.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Rulesets/Edit/Checks/Components/AudioCheckUtils.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Skinning/SkinnableSprite.cs
  osu.Game/Storyboards/Storyboard.cs
  osu.Game/Utils/SupportedExtensions.cs
Labels: type:code-quality, size/M

#30793 Add ability to close playlists within grace period after creation
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Online/API/Requests/ClosePlaylistRequest.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/ClosePlaylistDialog.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomFooter.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:online, size/L, area:playlists

#30918 Expose more migration helper methods
  osu.Game/Database/StandardisedScoreMigrationTools.cs
Labels: type:code-quality, size/M

#30928 Stop loudly logging backwards seek bug to sentry
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
Labels: type:code-quality, size/S
