Repository ppy/osu, pull requests merged in 2024-10, with the labels that each got.

#30063 Ensure sliders are snapped when changing path types
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
Labels: ruleset/osu!, area:editor, size/XS

#30062 Fix various distance snap grid weirdness around unsnapped objects
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: ruleset/osu!, area:editor, size/M

#30024 Fix editor timestamp URLs not working when they contain a space
  osu.Game.Tests/Visual/Editing/TestSceneOpenEditorTimestamp.cs
  osu.Game/Online/Chat/MessageFormatter.cs
Labels: area:editor, size/S

#29917 Shuffle playback order in global playlist by default
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game/Overlays/MusicController.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: size/L, area:overlay-now-playing, audio

#30058 Properly disable comment box on things that cannot be commented on
  osu.Game.Tests/Visual/UserInterface/TestSceneCommentEditor.cs
  osu.Game/Online/API/Requests/Responses/CommentableMeta.cs
  osu.Game/Overlays/Comments/CommentEditor.cs
  osu.Game/Overlays/Comments/CommentsContainer.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Comments/ReplyCommentEditor.cs
Labels: size/L, area:comments

#30074 Fix usage of locked context without locking
  osu.Game/Beatmaps/WorkingBeatmap.cs
Labels: size/XS

#30069 Add button to centre editor grid to current hit object
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/ExpandableButton.cs
Labels: area:editor, size/M

#29691 Add hotkey hints to editor menus
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game.Tests/Visual/Editing/TestSceneDifficultyDelete.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneHotkeyDisplay.cs
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Graphics/UserInterface/DrawableStatefulMenuItem.cs
  osu.Game/Graphics/UserInterface/Hotkey.cs
  osu.Game/Graphics/UserInterface/HotkeyDisplay.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
  osu.Game/Graphics/UserInterface/OsuMenuItem.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Components/Menus/EditorMenuBar.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:cosmetic, size/XL

#30095 Increase chat font size again
  osu.Game/Online/Chat/StandAloneChatDisplay.cs
  osu.Game/Overlays/Chat/ChatLine.cs
Labels: area:overlay-chat, size/XS

#30098 Implement "form" colour palette control
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Graphics/UserInterfaceV2/FormColourPalette.cs
Labels: area:editor, type:cosmetic, size/L

#30099 Redesign editor setup screen with new "form" controls
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaEditorSaving.cs
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Edit/Setup/OsuDifficultySection.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/Edit/Setup/TaikoDifficultySection.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Visual/Editing/TestSceneDesignSection.cs
  osu.Game.Tests/Visual/Editing/TestSceneMetadataSection.cs
  osu.Game/Graphics/UserInterfaceV2/FormColourPalette.cs
  osu.Game/Graphics/UserInterfaceV2/FormFileSelector.cs
  osu.Game/Graphics/UserInterfaceV2/FormNumberBox.cs
  osu.Game/Graphics/UserInterfaceV2/FormSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/FormTextBox.cs
  osu.Game/Rulesets/Ruleset.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
  osu.Game/Screens/Edit/Setup/DesignSection.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/Screens/Edit/Setup/LabelledRomanisedTextBox.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupSection.cs
Labels: area:editor, type:cosmetic, size/XL

#30109 Move setup screen background preview to appropriate form control
  osu.Game/Graphics/UserInterfaceV2/FormFileSelector.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Screens/Edit/Setup/SetupScreen.cs
  osu.Game/Screens/Edit/Setup/SetupScreenHeaderBackground.cs
Labels: area:editor, type:cosmetic, size/M

#30108 Initialise colours section with default combo colours if none present
  osu.Game.Tests/Visual/Editing/TestSceneColoursSection.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:editor, size/L

#30101 Do not add checkbox padding to the left of menu items if no item actually needs it
  osu.Game/Graphics/UserInterface/DrawableOsuMenuItem.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
Labels: type:cosmetic, size/S, next release

#30110 When adding a new combo colour, use the last colour as a starting point
  osu.Game/Graphics/UserInterfaceV2/FormColourPalette.cs
Labels: area:editor, type:behavioural, size/S, next release

#30121 Rollback iOS workload to last known working version
  .github/workflows/ci.yml
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:tooling, platform/iOS, size/S

#30113 Fix improper handling of decimal separator in "form" number boxes / sliders
  osu.Game/Graphics/UserInterfaceV2/FormNumberBox.cs
  osu.Game/Graphics/UserInterfaceV2/FormSliderBar.cs
Labels: area:editor, type:localisation, size/S, next release

#30088 Uncap speed OD-accuracy scaling
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, size/XS, next release

#30021 Fix broken star rating on Random mod
  osu.Game.Rulesets.Osu/Objects/Slider.cs
  osu.Game.Rulesets.Osu/Objects/SliderRepeat.cs
  osu.Game.Rulesets.Osu/Objects/SliderTick.cs
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils_Reposition.cs
Labels: type:code-quality, ruleset/osu!, area:difficulty, size/M, type:reliability

#30114 Fix difficulty settings sliders attempting to reprocess all hitobjects on every instantaneous change
  osu.Android.props
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game.Rulesets.Osu/Edit/Setup/OsuDifficultySection.cs
  osu.Game.Rulesets.Taiko/Edit/Setup/TaikoDifficultySection.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFormSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/FormSliderBar.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:performance, area:editor, size/L, next release

#30078 Add progress tooltip for ArgonSongProgressBar
  osu.Game/Screens/Play/HUD/ArgonSongProgressBar.cs
Labels: size/S, next release

#29980 Various speed distance difficulty calculation changes
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
Labels: ruleset/osu!, area:difficulty, size/M, next release

#29860 Only allow seek to next/previous object via keybinding if there is no selection
  osu.Game.Tests/Visual/Editing/TestSceneComposerSelection.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSeeking.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: type:input, area:editor, size/M, next release

#30132 Make diffcalc workflow recreate comment on completion
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XS

#30133 Fix delete dialogs having generic "Caution" header text
  osu.Game.Tournament/Screens/Editors/Components/DeleteRoundDialog.cs
  osu.Game.Tournament/Screens/Editors/Components/DeleteTeamDialog.cs
  osu.Game/Collections/DeleteCollectionDialog.cs
  osu.Game/Localisation/DialogStrings.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/Overlays/Dialog/DangerousActionDialog.cs
  osu.Game/Overlays/Dialog/DeletionDialog.cs
  osu.Game/Overlays/Mods/DeleteModPresetDialog.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/MassDeleteConfirmationDialog.cs
  osu.Game/Screens/Edit/DeleteDifficultyConfirmationDialog.cs
  osu.Game/Screens/Select/BeatmapDeleteDialog.cs
  osu.Game/Screens/Select/LocalScoreDeleteDialog.cs
  osu.Game/Screens/Select/SkinDeleteDialog.cs
Labels: type:cosmetic, size/M, next release

#28871 Implement a bunch of rhythm difficulty calculation fixes
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
Labels: ruleset/osu!, area:difficulty, size/L, next release

#29998 Slight aim skill multiplier rebalance
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
Labels: ruleset/osu!, area:difficulty, size/XS, next release

#30134 Fix "Center on selected object" button not changing grid coordinates
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
Labels: ruleset/osu!, area:editor, size/S, next release

#27063 Include sliders in accuracy pp if slider head accuracy is in use
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS, next release

#30135 Save `master` state when running diffcalc workflow
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/S

#16280 Remove combo scaling from Aim and Speed from osu! performance calculation
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/OsuStrainSkill.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!, area:difficulty, size/M, next release

#20963 Statistical accuracy PP and difficulty scaling for the osu!taiko ruleset
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
  osu.Game/Utils/SpecialFunctions.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XL, next release

#30139 Bump difficulty calculator versions
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: area:difficulty, size/XS, next release

#30073 Avoid updates (and update notifications) from appearing in more gameplay cases
  osu.Android/GameplayScreenRotationLocker.cs
  osu.Desktop/Updater/VelopackUpdateManager.cs
  osu.Desktop/Windows/GameplayWinKeyBlocker.cs
  osu.Game.Tests/Database/BackgroundDataStoreProcessorTests.cs
  osu.Game.Tests/Input/ConfineMouseTrackerTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneOverlayActivation.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneGameplayChatDisplay.cs
  osu.Game/Database/BackgroundDataStoreProcessor.cs
  osu.Game/Input/ConfineMouseTracker.cs
  osu.Game/Input/OsuUserInputManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/BeatmapListingOverlay.cs
  osu.Game/Overlays/Chat/DaySeparator.cs
  osu.Game/Overlays/Settings/SettingsSidebar.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/Play/ILocalUserPlayInfo.cs
  osu.Game/Screens/Play/LocalUserPlayingState.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/L

#30151 Fix several breakages with migration operation
  osu.Game/Database/DetachedBeatmapStore.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Database/RealmResetEmptySet.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/MusicController.cs
Labels: realm, size/M, type:reliability, next release

#30164 Fix game deadlocking on startup when set to single thread mode
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/MusicController.cs
Labels: size/M, type:reliability

#30199 Fix argon song progress bar tooltip showing during active gameplay
  osu.Game/Screens/Play/HUD/ArgonSongProgressBar.cs
Labels: area:gameplay, type:behavioural, size/XS, next release

#30198 Fix discord RPC complaining yet again if given a single space character as activity state / details
  osu.Desktop/DiscordRichPresence.cs
Labels: type:online, size/S, type:reliability

#30206 Fix SelectionBox buttons freezing when button is triggered via key event
  osu.Game/Screens/Edit/Compose/Components/SelectionBox.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxButton.cs
Labels: size/M

#30215 Fix track restarting when trying to switch track change direction with shuffle active
  osu.Game.Tests/Visual/Menus/TestSceneMusicActionHandling.cs
  osu.Game/Overlays/MusicController.cs
Labels: size/L, area:overlay-now-playing, next release

#30218 Do not show daily challenge conclusion notification on disconnection
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
Labels: type:online, size/M, area:daily-challenge

#30246 Recommend C# Dev Kit extension on VSCode
  .vscode/extensions.json
  README.md
Labels: size/XS

#30239 Add functionality to mass reset offsets
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Localisation/DeleteConfirmationContentStrings.cs
  osu.Game/Localisation/MaintenanceSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Maintenance/BeatmapSettings.cs
Labels: area:settings, size/M

#30080 Clamp scale with lower and upper bounds
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
Labels: type:code-quality, area:editor, size/M

#30261 Decrease the time it takes to quick retry by ~650 ms
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/S

#30274 Respect "Prefer metadata in original language" toggle in beatmap deletion dialog
  osu.Game/Screens/Select/BeatmapDeleteDialog.cs
Labels: type:localisation, size/XS, area:overlays

#30277 Fix shuffle not actually changing the track sometimes
  osu.Game/Overlays/MusicController.cs
Labels: size/S, area:overlay-now-playing, next release

#30219 Ensure at least one scale popover axis is active at any time
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
Labels: ruleset/osu!, area:editor, size/M

#30231 Allow more localisation in skin editor
  osu.Game/Graphics/UserInterface/TernaryStateMenuItem.cs
  osu.Game/Graphics/UserInterface/TernaryStateRadioMenuItem.cs
  osu.Game/Localisation/SkinEditorStrings.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
Labels: type:localisation, size/M, area:skin-editor

#30264 Remove default keybind for "Toggle FPS counter"
  osu.Game/Database/RealmAccess.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: type:input, size/S

#30245 Group `HitResult`s with the same name into one column in beatmap ranking
  osu.Game.Tests/Visual/Online/TestSceneScoresContainer.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
Labels: type:cosmetic, size/L, area:overlay-beatmap

#26303 Add keybind for cycling grid type
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu/Edit/OsuGridToolboxGroup.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
Labels: ruleset/osu!, area:editor, size/L

#30309 Remove hold-to-confirm delay when pausing using keyboard shortcuts
  osu.Game/Screens/Play/HUD/HoldForMenuButton.cs
Labels: area:gameplay, size/XS

#30145 Add ranked date and submitted date filtering to song select
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: area:song-select, size/L

#30318 Improve diffcalc workflow with explicit wait + logs
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XS

#30281 Fix slider ticks and repeats incorrectly moved to position of head when strict tracking and any conversion mod that moves objects is active
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModMirror.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Utils/OsuHitObjectGenerationUtils.cs
Labels: ruleset/osu!, area:mods, size/M, next release

#30319 Fix argument order in diffcalc workflow
  .github/workflows/diffcalc.yml
Labels: area:tooling, size/XS

#30335 Expose no-op constructors as `protected`
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Scoring/ScoreInfo.cs
Labels: type:code-quality, size/XS

#30320 Refactor `BeatmapAttributeText` to compute values on the fly
  osu.Game.Tests/Visual/UserInterface/TestSceneBeatmapAttributeText.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: type:code-quality, area:skinning, size/L

#30334 Add "Use relative size" setting to argon & default song progress
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Screens/Play/HUD/ArgonHealthDisplay.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
Labels: area:skinning, size/S

#30373 Change convert-to-ternary warning to hint
  osu.sln.DotSettings
Labels: area:tooling, size/XS

#30326 Fix cursor rotating with barrel roll mod active
  osu.Game.Rulesets.Osu/Mods/OsuModBarrelRoll.cs
  osu.Game/Rulesets/Mods/ModBarrelRoll.cs
Labels: ruleset/osu!, area:mods, area:skinning, size/S, next release

#30379 Don't delete scores when deleting beatmaps
  osu.Game/Database/RealmAccess.cs
Labels: realm, size/XS, next release

#30263 Fix drawing slider with touch inserts a random control point at beginning
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditor.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: area:editor, platform/mobile, size/L

#30383 Add hover background back to `ClickablePlaceholder`
  osu.Game/Online/Placeholders/ClickablePlaceholder.cs
Labels: size/S

#30330 Prioritize selecting exact searched acronym with select keybind
  osu.Game/Overlays/Mods/ModPanel.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModState.cs
Labels: size/M, area:overlay-mod-select, next release

#30385 Fix beatmap selection being lost during update process
  osu.Game/Screens/Select/BeatmapCarousel.cs
Labels: area:song-select, size/S, next release

#30146 Fix currently online display hitting rate limits
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Database/UserLookupCache.cs
  osu.Game/Online/API/Requests/GetUsersRequest.cs
  osu.Game/Online/API/Requests/LookupUsersRequest.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:online, size/M

#30382 Add search box to chat overlay
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
Labels: area:overlay-chat, size/M

#30328 Add breathing room to seek back between control points in editor
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:behavioural, size/XS

#30377 Fix timeline blueprints sometimes causing crashes due to current placement blueprint becoming unsorted
  osu.Game.Rulesets.Taiko.Tests/Editor/TestSceneEditorPlacement.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/HitObjectOrderedSelectionContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, size/M, type:reliability, next release

#27691 Remove estimations where score data is available for osu! difficulty calculations
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: area:difficulty, size/M, next release

#28863 Add toggles and hotkeys for configuring sample addition bank
  osu.Game.Tests/Visual/Editing/TestSceneHitObjectSampleAdjustments.cs
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Rulesets/Edit/ExpandableSpriteText.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectPlacementBlueprint.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/SampleBankTernaryButton.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
Labels: area:editor, type:behavioural, size/XL

#30284 Fix flip operations sometimes not preserving selection in mania editor
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaSelectionHandler.cs
  osu.Game.Rulesets.Mania/Edit/ManiaSelectionHandler.cs
Labels: ruleset/osu!mania, area:editor, size/M

#30315 Improve scale/rotate popover UX to better match user expectation
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
Labels: area:editor, type:behavioural, size/M

#30389 Fix old looping samples not stopping when replacing a `SkinnableSound`'s `Samples`
  osu.Game/Skinning/SkinnableSound.cs
Labels: size/XS, audio

#30400 Quote source text when searching for it via click
  osu.Game/Overlays/BeatmapSet/MetadataSectionSource.cs
Labels: size/XS

#30408 Move TestTouchInputAfterTouchingComposeArea to separate test scene
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditor.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderDrawing.cs
Labels: size/L

#29648 Add support for the auto sample addition bank in the editor
  osu.Game.Rulesets.Catch/Objects/Banana.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderSplitting.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/TernaryButton.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
Labels: area:editor, size/L

#30387 Keep editor sidebars expanded by default
  osu.Game.Rulesets.Taiko/Edit/DrawableTaikoEditorRuleset.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoEditorPlayfield.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Rulesets/Edit/ExpandingToolboxContainer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, type:cosmetic, size/M

#30413 Adjust slider bar implementations to show focused state
  osu.Android.props
  osu.Game/Graphics/UserInterface/RangeSlider.cs
  osu.Game/Graphics/UserInterface/RoundedSliderBar.cs
  osu.Game/Graphics/UserInterface/ShearedSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/FormSliderBar.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:cosmetic, size/L

#30424 Do not fall back to beatmap's original ruleset if conversion fails
  osu.Game.Rulesets.Taiko.Tests/Judgements/JudgementTest.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/XS, type:reliability

#30450 Fix editor sidebar resizing on hover repeatedly when polygon popover is opened
  osu.Game.Rulesets.Osu/Edit/PolygonGenerationPopover.cs
Labels: area:editor, type:behavioural, size/XS

#30453 Fix several issues with beatmap online ID management
  osu.Game.Tests/Beatmaps/BeatmapUpdaterMetadataLookupTest.cs
  osu.Game/Beatmaps/APIBeatmapMetadataSource.cs
  osu.Game/Beatmaps/BeatmapUpdaterMetadataLookup.cs
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Online/API/Requests/GetBeatmapRequest.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:online, realm, size/L, next release

#30458 Ignore casing when matching mods acronyms
  osu.Game/Rulesets/Ruleset.cs
Labels: area:tooling, size/XS
