Repository ppy/osu, pull requests merged in 2025-09, with the labels that each got.

#34882 Fix excess requests leading to queueing / delays of updating metadata at song select
  osu.Game/Screens/SelectV2/RealmPopulatingOnlineLookupSource.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS, quick fix

#34885 Fix multiplayer lobby being unusable on mobile
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomPanel.cs
  osu.Game/Screens/OnlinePlay/Header.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoomParticipantsList.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomListing.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomPanel.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantsList.cs
Labels: type/cosmetic, area:multiplayer, size/L

#34890 Fix gameplay freezing on stutter frames / long load times
  osu.Game/Rulesets/UI/FrameStabilityContainer.cs
Labels: area:gameplay, size/XS

#34828 Update difficulty calculation tests for osu ruleset
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
Labels: ruleset/osu!, area:test coverage, area:difficulty, size/S

#34893 Ignore `.osu` files not placed at top level of beatmap archive on import
  osu.Game.Tests/Database/BeatmapImporterTests.cs
  osu.Game/Beatmaps/BeatmapImporter.cs
Labels: size/M, area:import

#34891 Adjust fail handling in multiplayer spectator player to permit showing F rank
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorPlayer.cs
  osu.Game/Screens/Play/SoloSpectatorPlayer.cs
  osu.Game/Screens/Play/SoloSpectatorScreen.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
Labels: area:multiplayer, size/M, area:spectator, quick fix

#34902 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#34842 Allow beatmaps to show up multiple times in the carousel if grouping criteria requires it
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselFilterGroupingTest.cs
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselCollectionGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselRandom.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselScrolling.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelBeatmap.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelBeatmapStandalone.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectCurrentSelectionInvalidated.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XL

#34900 Fix external edit operations failing due to invalid filenames
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
  osu.Game/Extensions/ModelExtensions.cs
Labels: size/M, type/reliability, area:import

#32297 Add argon style judgement counter
  osu.Game.Tests/Resources/Archives/modified-argon-20250308.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonJudgementCounter.cs
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Skinning/Components/ArgonJudgementCounter.cs
  osu.Game/Skinning/Components/ArgonJudgementCounterDisplay.cs
Labels: type/cosmetic, area:skinning, size/L

#34904 Treat guest user scores & scores of unknown users as the local user's
  osu.Game.Tests/Visual/SongSelect/TestSceneTopLocalRank.cs
  osu.Game/Scoring/ScoreInfoExtensions.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
  osu.Game/Screens/Select/Carousel/TopLocalRank.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/PanelLocalRankDisplay.cs
Labels: area:song-select, size/L

#34914 Fix errors on exiting from editor if there are no more beatmaps remaining for the ruleset active in song select
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, size/M

#34945 Fix external edit filename sanitising unintentionally dropping folder separators
  osu.Game.Tests/Skins/IO/ImportSkinTest.cs
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: size/M, area:import

#34948 Fix sheared dropdown click sound area
  osu.Game/Graphics/UserInterfaceV2/ShearedDropdown.cs
Labels: size/XS, type/audio

#34956 Adjust BPM filtering at song select to be less precise
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: size/S

#34958 Fix mangled initial undo state on fresh skins
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Skinning/SkinnableContainer.cs
Labels: size/S, area:skin-editor

#35000 Fix argon judgement counter looking misaligned with wireframe off
  osu.Game.Tests/Visual/Gameplay/TestSceneArgonJudgementCounter.cs
  osu.Game/Screens/Play/HUD/ArgonCounterTextComponent.cs
  osu.Game/Skinning/Components/ArgonJudgementCounter.cs
Labels: type/cosmetic, area:skinning, size/S

#34985 More matchmaking SFX work
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/MatchmakingCloud.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Screens/Pick/BeatmapSelectionGrid.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/StageBubble.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/StageText.cs
  osu.Game/osu.Game.csproj
Labels: size/L, type/audio

#35022 Fix errors in gameplay stage of matchmaking
  osu.Game/Screens/OnlinePlay/Matchmaking/MatchmakingScreen.cs
Labels: area:multiplayer, size/S

#35120 Fix composition tool tooltip not changing text when enabled
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectCompositionToolButton.cs
Labels: size/S

#34934 Fix TestDouble failing on systems where the decimal separator isn't a dot
  osu.Game.Tests/Extensions/NumberFormattingExtensionsTest.cs
  osu.Game/Extensions/NumberFormattingExtensions.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
Labels: size/S

#35145 Colour Rank Achieved panels to the related rank
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelGroup.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/PanelGroupRankDisplay.cs
Labels: area:song-select, type/cosmetic, size/L

#35151 Ensure submission progress sample is stopped when transitioning into a final state
  osu.Game.Tests/Visual/Editing/TestSceneSubmissionStageProgress.cs
  osu.Game/Screens/Edit/Submission/SubmissionStageProgress.cs
Labels: area:editor, size/S, type/audio

#35056 Allow snapping slider control points to nearby objects in the editor
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
Labels: ruleset/osu!, area:editor, size/S

#35149 Fix nullref when users leave quick-play rooms
  osu.Game.Tests/Visual/Matchmaking/TestSceneUserPanelOverlay.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/PlayerPanelOverlay.cs
Labels: area:multiplayer, size/S

#35157 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS
