Repository ppy/osu, pull requests merged in 2025-05, with the labels that each got.

#32854 Bring all new song select components together
  osu.Game/Graphics/Containers/ShearAligningWrapper.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea_Header.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea_WedgeSelector.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, type:cosmetic, size/XL

#33004 Add diffcalc considerations for Magnetised mod
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
Labels: area:difficulty, size/S

#33002 Fix song select title wedge not accessing beatmap asynchronously
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_DifficultyDisplay.cs
Labels: type:performance, area:song-select, size/L

#32986 Fix mania columns not handling touch input in gaps
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaTouchInput.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/ColumnFlow.cs
  osu.Game.Rulesets.Mania/UI/ManiaTouchInputArea.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset/osu!mania, type:input, size/L

#33016 Fix test in old song select not working on Apple platforms
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
Labels: area:song-select, type:testing, size/XS

#33044 Add minimal slider body transparency to "Argon" skins
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonSliderBody.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
Labels: ruleset/osu!, size/S

#33045 Fix startup "welcome" sound sometimes not loading from skin for supporters
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/API/APIAccess.cs
Labels: size/S, audio

#33047 Adjust song select beatmap background transition to better support transparent backgrounds
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
Labels: area:song-select, type:cosmetic, size/XS

#33050 Ignore "image proxying" test scene
  osu.Game.Tests/Visual/Online/TestSceneImageProxying.cs
Labels: type:testing, size/XS, type:reliability

#33049 Ensure carousel filters are manifested to lists at each step
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Graphics/Carousel/ICarouselFilter.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterSorting.cs
Labels: type:code-quality, area:song-select, size/S

#32971 Add support for opening multiplayer / playlist room links directly
  osu.Game.Tests/Visual/Online/TestSceneChatLink.cs
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Online/Chat/MessageFormatter.cs
  osu.Game/OsuGame.cs
Labels: area:multiplayer, area:overlay-chat, size/L, area:playlists

#33046 Add filtering support in carousel v2
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarousel.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselScrolling.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterMatching.cs
Labels: area:song-select, type:behavioural, size/XL

#33054 Fix group pill count moving with panel selection state
  osu.Game/Screens/SelectV2/PanelGroup.cs
Labels: area:song-select, type:cosmetic, size/S

#33039 Hook up filter control with beatmap carousel
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapFilterControl.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, type:behavioural, size/XL

#33062 Fix gameplay leaderboard score reading off wrong combo property
  osu.Game/Screens/Select/Leaderboards/GameplayLeaderboardScore.cs
Labels: type:behavioural, size/XS, next release, area:leaderboards

#33059 Improve logging and errors around beatmap submission process
  osu.Game/Beatmaps/BeatmapImporter.cs
  osu.Game/Screens/Edit/Submission/SubmissionBeatmapExporter.cs
Labels: type:online, area:editor, size/M, type:reliability

#33063 Discard distance snapping result if it results in objects being placed out of playfield bounds
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
Labels: ruleset/osu!, area:editor, size/XS

#33065 Use localised strings for user/mapper tags on beatmap set overlay
  osu.Game/Overlays/BeatmapSet/MetadataType.cs
Labels: type:localisation, size/XS, area:overlay-beatmap

#33061 Fix song select filtering test scene reading from local database
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
Labels: area:song-select, type:testing, size/XS

#33058 Fix group panel overlapping with other panels
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, type:cosmetic, size/M

#33070 Fix Show More button may incorrect displayed
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
Labels: size/S

#33072 SongSelectV2: Show beatmap match count on filter control's textbox
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedSearchTextBox.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Graphics/UserInterface/ShearedFilterTextBox.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33073 SongSelectV2: Add delete hotkey functionality
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: type:input, area:song-select, size/M

#32939 Convert gameplay leaderboard to skinnable component
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/TaikoTrianglesSkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game.Tests/Resources/Archives/modified-argon-20250424.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlayRulesetLayouts.cs
  osu.Game.Tests/Visual/Multiplayer/MultiplayerGameplayLeaderboardTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerConfiguration.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: area:gameplay, area:skinning, size/XL, notable feature

#33077 Fix fetching too few items per page in profile subsections
  osu.Game/Overlays/Profile/Sections/PaginatedProfileSubsection.cs
Labels: area:overlay-user-profile, size/XS

#33075 Fix `HitWindows.WindowFor()` returning values for invalid results
  osu.Game.Rulesets.Taiko/Mods/TaikoModSingleTap.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneHitErrorMeter.cs
  osu.Game/Rulesets/Scoring/HitWindows.cs
Labels: area:gameplay, size/S, type:reliability

#33090 Use fast invert helper in hot path
  osu.Game/Graphics/Containers/UprightAspectMaintainingContainer.cs
Labels: type:performance, area:gameplay, size/XS

#33100 Fetch more scores for supporter scope leaderboards
  osu.Game/Online/API/Requests/GetScoresRequest.cs
Labels: type:online, size/S, area:leaderboards

#33101 Update framework
  osu.Android.props
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/S

#33099 SongSelectV2: Add back skinning support
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectNavigation.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/S

#33103 Fix mod tooltip not handling settings changes to same mod instance
  osu.Game.Tests/Visual/UserInterface/TestSceneModIcon.cs
  osu.Game/Rulesets/UI/ModTooltip.cs
Labels: area:mods, size/M

#33104 Fix rate adjust / time ramp mods not showing "Adjust pitch" in tooltip
  osu.Game/Rulesets/Mods/ModDoubleTime.cs
  osu.Game/Rulesets/Mods/ModHalfTime.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
Labels: area:mods, size/S

#33011 Add "Require perfect hits" option for Mania Perfect mod
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModPerfect.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModPerfect.cs
Labels: ruleset/osu!mania, area:mods, size/M

#33105 SongSelectV2: Refactor test scenes to have a place for non-filtering tests
  osu.Game.Tests/Visual/Navigation/TestSceneSongSelectNavigation.cs
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
Labels: area:song-select, type:testing, size/XL

#33107 SongSelectV2: Allow switching between details and rankings page via keyboard
  osu.Game/Screens/SelectV2/BeatmapDetailsArea_Header.cs
Labels: area:song-select, type:behavioural, size/XS

#33106 SongSelectV2: Add rate adjustment keybinds
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33111 Fix letterbox overlay potentially fading incorrectly during seeks
  osu.Game/Screens/Play/LetterboxOverlay.cs
Labels: area:gameplay, size/XS

#33117 SongSelectV2: Allow adjusting volume by scrolling
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, type:behavioural, size/XS

#33120 SongSelectV2: Fix `SongSelect` not cached for subcomponents
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS

#33129 Remove replay recorder depth hack
  osu.Game.Rulesets.Catch.Tests/TestSceneReplayRecording.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneReplayRecording.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneReplayRecording.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneReplayRecording.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
Labels: type:code-quality, area:replay, size/L

#33127 Allow accessing song select v2 by holding control while entering song select
  osu.Game.Tests/Visual/Navigation/TestSceneSongSelectNavigation.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: area:song-select, size/L

#33128 Fix new (beatmap) carousel not correctly accounting for user scroll overrides
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselScrolling.cs
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/M

#33133 SongSelectV2: Expose method for opening editor and clearing local scores
  osu.Game/Screens/Select/BeatmapClearScoresDialog.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33118 SongSelectV2: Allow starting beatmap with autoplay via ctrl-enter
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
Labels: area:song-select, size/L

#33141 Fix back button not displaying when transitioning to non-footer screen
  osu.Game.Tests/Visual/Navigation/TestSceneScreenFooterNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/IOsuScreen.cs
Labels: type:behavioural, size/M

#33147 Tidy some `ScreenFooter` code
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneBackButton.cs
  osu.Game/Graphics/UserInterface/BackButton.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
Labels: type:code-quality, size/M

#33149 Hook up footer beatmap options via new `ISongSelectBeatmapActions` class
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/SelectV2/FooterButtonOptions.cs
  osu.Game/Screens/SelectV2/FooterButtonOptions_Popover.cs
  osu.Game/Screens/SelectV2/ISongSelectBeatmapActions.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33160 Fix multiple inconsistencies in beatmap carousel animations
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, type:cosmetic, size/M

#33142 SongSelectV2: Open results screen when clicking leaderboard scores
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
  osu.Game/Screens/SelectV2/FooterButtonOptions.cs
  osu.Game/Screens/SelectV2/FooterButtonOptions_Popover.cs
  osu.Game/Screens/SelectV2/ISongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33066 Change effective misscount to be based on legacy score and combo at the same time
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreMissCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Utils/LegacyScoreUtils.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/L

#33148 Emit important replay frames on every judgement
  osu.Game.Rulesets.Mania.Tests/TestSceneReplayRecording.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneReplayRecording.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneReplayRecording.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Rulesets/UI/IHasRecordingHandler.cs
  osu.Game/Rulesets/UI/ReplayRecorder.cs
  osu.Game/Rulesets/UI/RulesetInputManager.cs
Labels: area:replay, size/M

#33162 Add "Tachyon" (unstable) release stream
  osu.Desktop/OsuGameDesktop.cs
  osu.Desktop/Program.cs
  osu.Desktop/Updater/VelopackUpdateManager.cs
  osu.Game/Configuration/ReleaseStream.cs
  osu.Game/Localisation/GeneralSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/General/UpdateSettings.cs
Labels: area:settings, size/L

#33178 Fix footer buttons not restoring when exiting an already displayed screen
  osu.Game.Tests/Visual/Navigation/TestSceneScreenFooterNavigation.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
Labels: area:main-menu

#33189 Fix analog clock animation not animating when hand crosses zero
  osu.Game/Overlays/Toolbar/AnalogClockDisplay.cs
  osu.Game/Overlays/Toolbar/ClockDisplay.cs
Labels: type:cosmetic, size/S

#33192 Fix multiplayer position display looking wrong when player count is low
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPositionDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPositionDisplay.cs
Labels: type:cosmetic, size/M

#33194 Fix hold notes getting incorrectly missed after rewinding gameplay
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneHoldNote.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneReplayRewinding.cs
  osu.Game.Rulesets.Mania/Judgements/HoldNoteJudgementResult.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModNoRelease.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHoldBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonHoldNoteTailPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Default/DefaultBodyPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBodyPiece.cs
Labels: ruleset/osu!mania, area:replay, size/L

#33199 Fix inconsistent display of rotation in tooltip when dragging selection box rotation handles
  osu.Game/Screens/Edit/Compose/Components/SelectionBoxRotationHandle.cs
Labels: size/XS

#33202 Fix hidden beatmap difficulties not handled in new carousel
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterMatching.cs
Labels: area:song-select, size/M

#33205 Disable status pill animation on carousel panels
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapSetOnlineStatusPill.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarousel.cs
  osu.Game/Beatmaps/Drawables/BeatmapSetOnlineStatusPill.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
Labels: area:song-select, type:cosmetic, size/M

#33207 SongSelectV2: Hook mod select overlay to selected beatmap
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS

#33200 Fix song select tests not loading footer buttons with dependencies
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
Labels: area:song-select, type:testing, size/S

#33208 Increase diff calc processor timeout minutes
  .github/workflows/_diffcalc_processor.yml
Labels: size/XS

#33220 Improve accuracy of difficulty calculation benchmarks
  osu.Game.Benchmarks/BenchmarkDifficultyCalculation.cs
Labels: area:difficulty, size/M

#33191 Reduce difficulty calculation churn overheads when using keyboard to iterate quickly at song select
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapMetadataDisplay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModEffectPreviewPanel.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Beatmaps/Drawables/DifficultyIcon.cs
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Database/MemoryCachingComponent.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
Labels: type:performance, area:song-select, size/L

#33210 Fix Strict Tracking running miss-on-tracking-loss logic during rewind
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModStrictTracking.cs
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
Labels: ruleset/osu!, area:replay, area:mods, size/M

#28877 Buff precision difficulty rating in osu!
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Preprocessing/OsuDifficultyHitObject.cs
Labels: ruleset/osu!, area:difficulty, size/M

#33232 Improve reliability of unapplying speed adjustment on exiting editor
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/M, type:reliability, audio, next release

#33228 SongSelectV2: Display total scores count in personal best score
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboardProvider.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapLeaderboardWedge.cs
  osu.Game/Online/API/Requests/Responses/APIScoresCollection.cs
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: type:online, area:song-select, size/M

#33229 SongSelectV2: Choose recommended difficulty on beatmap selection
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33222 SongSelectV2: Fix "no results" placeholder having weird transitions
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS

#33170 Add spinners support to combo based estimated misscount
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuLegacyScoreMissCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Utils/LegacyScoreUtils.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!, area:difficulty, size/M

#33236 Attempt to give users better disclaimer on how not to nuke their data
  osu.Game/OsuGameBase.cs
Labels: realm, size/S

#33209 Fix combo accounting when rewinding mania replays
  osu.Game.Rulesets.Mania.Tests/TestSceneReplayRewinding.cs
  osu.Game.Tests/Rulesets/Scoring/ScoreProcessorTest.cs
  osu.Game/Rulesets/Judgements/JudgementResult.cs
  osu.Game/Rulesets/Scoring/ScoreProcessor.cs
Labels: area:replay, size/L

#33233 Add a `consistency` factor to osu!taiko diffcalc
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#33193 Add context menus to new carousel panels
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelBeatmap.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelBeatmapStandalone.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelGroup.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelSet.cs
  osu.Game/Graphics/UserInterface/OsuMenuItem.cs
  osu.Game/Screens/SelectV2/FooterButtonOptions_Popover.cs
  osu.Game/Screens/SelectV2/ISongSelect.cs
  osu.Game/Screens/SelectV2/Panel.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/PanelGroup.cs
  osu.Game/Screens/SelectV2/PanelGroupStarDifficulty.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XL

#33256 SongSelectV2: Change beatmap title wedge to use debounced difficulty retrieval
  osu.Game.Tests/Beatmaps/TestSceneBeatmapDifficultyCache.cs
  osu.Game/Beatmaps/BeatmapDifficultyCache.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
  osu.Game/Screens/Play/BeatmapMetadataDisplay.cs
  osu.Game/Screens/Select/BeatmapInfoWedge.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_DifficultyDisplay.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
Labels: area:song-select, size/L

#33259 Make concurrent object check ruleset specific
  osu.Game.Rulesets.Catch/Edit/CatchBeatmapVerifier.cs
  osu.Game.Rulesets.Mania.Tests/Editor/Checks/CheckManiaConcurrentObjectsTest.cs
  osu.Game.Rulesets.Mania/Edit/Checks/CheckManiaConcurrentObjects.cs
  osu.Game.Rulesets.Mania/Edit/ManiaBeatmapVerifier.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoBeatmapVerifier.cs
  osu.Game.Tests/Editing/Checks/CheckConcurrentObjectsTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckConcurrentObjects.cs
Labels: area:editor, size/L

#33264 SongSelectV2: Hook up screen to carousel and move selection logic up one level
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game/Beatmaps/BeatmapSetInfo.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33277 Fix leaderboard wedge transition looking bad when user is scrolled down
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: area:song-select, size/XS

#33279 SongSelectV2: Scroll to selection when mouse moves to left area
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33287 SongSelectV2: Fix carousel not correctly handling traversal when current selection is filtered away
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/L

#33289 SongSelectV2: Add support for presenting beatmaps
  osu.Game/OsuGame.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33292 Add grouping support for Ranked Date and Submitted Date
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselFilterGroupingTest.cs
  osu.Game/Screens/Select/Filter/GroupMode.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
Labels: size/M

#33300 SongSelectV2: Fix group panels being recreated every filter
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/Panel.cs
Labels: area:song-select, size/M

#33304 SongSelectV2: Fix filtering all results away nuking user's selection
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/S

#33307 SongSelectV2: Fix incorrect conditional being used for "split out" check
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
Labels: area:song-select, size/S

#33319 SongSelectV2: Update general metrics and design of standalone beatmap panel
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/PanelLocalRankDisplay.cs
Labels: area:song-select, size/L

#33320 SongSelectV2: fix title wedge difficulty display tooltip not displaying correct changes to difficulty
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_DifficultyDisplay.cs
Labels: area:song-select, size/S

#33317 SongSelectV2: Various polish
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
  osu.Game/Screens/SelectV2/Panel.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/PanelSetBackground.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33322 SongSelectV2: Read/write last active tab in details area from/to local configuration
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Select/BeatmapDetailTab.cs
  osu.Game/Screens/Select/PlayBeatmapDetailArea.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea_Header.cs
Labels: area:song-select, size/L

#33330 SongSelectV2: Add back ability to manage collections from beatmap / set panel context menus
  osu.Game/Screens/SelectV2/FooterButtonOptions_Popover.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33331 SongSelectV2: Fix carousel activating selection when only one valid item in list
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/M

#33335 SongSelectV2: Fix carousel not displaying anything if there is only one panel to display
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarousel.cs
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/S

#33321 SongSelectV2: Fix scroll to selected not always scrolling
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, size/M

#33345 SongSelectV2: Fix more crashes resulting from users deliberately trying to break things
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS

#33348 SongSelectV2: Fix input gap between last beatmap panel in set and next set panel
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
Labels: area:song-select, size/S
