Repository ppy/osu, pull requests merged in 2025-08, with the labels that each got.

#34452 Add tooltip states for the `FavouriteButton` on SSV2
  osu.Game/Screens/SelectV2/BeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_FavouriteButton.cs
Labels: size/XS

#34451 Fix beatmap carousel refreshing when user selects "Manage Collections…" from dropdown
  osu.Game/Screens/SelectV2/FilterControl.cs
Labels: area:song-select, quick fix

#34475 Fix missing disposal of Realm subscription
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
Labels: size/XS, area:leaderboards

#34499 Fix gameplay leaderboard showing for a split second on entering gameplay
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
Labels: area:gameplay, type:cosmetic, size/XS, quick fix

#34498 Always show "sort" dropdown but disable in cases it doesn't (yet) work
  osu.Game/Graphics/UserInterfaceV2/ShearedDropdown.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea_Header.cs
Labels: area:song-select, type:cosmetic, size/S, quick fix

#34462 Display extended information about effect of beatmap attributes on gameplay in tooltip when hovering
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Mania/ManiaRuleset.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Rulesets.Osu/Objects/Spinner.cs
  osu.Game.Rulesets.Osu/OsuRuleset.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Rulesets.Taiko/TaikoRuleset.cs
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
  osu.Game/Overlays/Mods/BeatmapAttributeTooltip.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/VerticalAttributeDisplay.cs
  osu.Game/Rulesets/Difficulty/RulesetBeatmapDifficulty.cs
  osu.Game/Screens/Select/Details/AdvancedStats.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_DifficultyDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_StatisticDifficulty.cs
Labels: area:song-select, size/XL, notable feature

#34501 Avoid reveal background triggering when more than left mouse button is involved
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS, quick fix

#34491 Fix clicks propagating through personal best score area
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Graphics/InputBlockingContainer.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
  osu.Game/Screens/SelectV2/WedgeBackground.cs
Labels: area:song-select, size/M, quick fix

#34467 Distinguish between set-level and difficulty-specific checks in verify screen
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioInVideo.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckDelayedHitsounds.cs
  osu.Game/Rulesets/Edit/Checks/CheckFilePresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckHitsoundsFormat.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentMetadata.cs
  osu.Game/Rulesets/Edit/Checks/CheckSongFormat.cs
  osu.Game/Rulesets/Edit/Checks/CheckTitleMarkers.cs
  osu.Game/Rulesets/Edit/Checks/CheckTooShortAudioFiles.cs
  osu.Game/Rulesets/Edit/Checks/CheckVideoResolution.cs
  osu.Game/Rulesets/Edit/Checks/CheckZeroByteFiles.cs
  osu.Game/Rulesets/Edit/Checks/Components/CheckMetadata.cs
  osu.Game/Rulesets/Edit/Checks/Components/CheckScope.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
  osu.Game/Screens/Edit/Verify/IssueSettings.cs
  osu.Game/Screens/Edit/Verify/ScopeSection.cs
  osu.Game/Screens/Edit/Verify/VerifyScreen.cs
Labels: area:editor, size/L

#34500 Prevent playing sliding sounds in hold notes when beatmap is not converted
  osu.Game.Rulesets.Mania.Tests/ManiaBeatmapSampleConversionTest.cs
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/convert-samples-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/mania-samples-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/mania-slider-expected-conversion.json
  osu.Game.Rulesets.Mania.Tests/Resources/Testing/Beatmaps/mania-slider.osu
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/PassThroughPatternGenerator.cs
  osu.Game.Rulesets.Mania/Beatmaps/Patterns/Legacy/SliderPatternGenerator.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModInvert.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModNoRelease.cs
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
  osu.Game.Rulesets.Mania/Objects/HoldNote.cs
Labels: ruleset/osu!mania, size/M, audio, notable feature

#34525 Fix clicking beatmap carousel group & set headers not working (or crashing) during a filter
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
Labels: type:performance, area:song-select, size/S, type:reliability

#34516 Fix update thread stutters upon completion of online beatmap lookup in song select
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/RealmPopulatingOnlineLookupSource.cs
Labels: type:performance, area:song-select, size/M

#34526 Fix grid placement completely breaking selection in certain scenarios
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneOsuEditorGrids.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/GridPlacementBlueprint.cs
Labels: ruleset/osu!, area:editor, type:behavioural, size/M

#34540 Add verify check for inconsistent settings
  osu.Game.Tests/Editing/Checks/CheckInconsistentSettingsTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentSettings.cs
  osu.Game/Rulesets/Edit/Checks/CheckUnusedAudioAtEnd.cs
  osu.Game/Rulesets/Edit/Checks/Components/ResourcesCheckUtils.cs
Labels: area:editor, size/L

#34549 Fix potential update failures due to not handling required velopack callbacks
  osu.Desktop/Program.cs
Labels: area:installer, size/XS

#34539 Implement "my maps" grouping mode
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Graphics/Carousel/ICarouselFilter.cs
  osu.Game/Screens/Select/Filter/GroupMode.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterMatching.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterSorting.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
Labels: area:song-select, size/L

#34553 Fix inconsistent localisation string in replay key bindings
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
Labels: area:settings, type:localisation, size/XS

#34573 Arrange `SortMode` in alphabetical order
  osu.Game/Screens/Select/Filter/SortMode.cs
Labels: size/S

#34215 Nerf Low AR HD bonus for slideraim
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuRatingCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/S

#34339 Implement new gameplay leaderboard design
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPositionDisplay.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboardScore.cs
  osu.Game/Tests/Gameplay/TestGameplayState.cs
Labels: area:gameplay, type/cosmetic, size/XL

#34548 Implement "rank achieved" grouping mode
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselFilterGroupingTest.cs
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectGrouping.cs
  osu.Game/Online/Leaderboards/UpdateableRank.cs
  osu.Game/Screens/Select/Filter/GroupMode.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/PanelLocalRankDisplay.cs
Labels: area:song-select, size/L

#34619 Fix keyboard selection being reset/invalidated more often than required
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/M

#34592 Add "Argon" unstable rate counter
  osu.Game.Tests/Resources/Archives/modified-argon-20250809.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneUnstableRateCounter.cs
  osu.Game/Screens/Play/HUD/ArgonUnstableRateCounter.cs
  osu.Game/Screens/Play/HUD/UnstableRateCounter.cs
  osu.Game/Skinning/Skin.cs
  osu.Game/Skinning/Triangles/TrianglesUnstableRateCounter.cs
Labels: area:skinning, size/L

#34584 Refactor `BeatmapVerifierContext`
  osu.Game.Rulesets.Catch/Edit/Checks/CheckBananaShowerGap.cs
  osu.Game.Rulesets.Catch/Edit/Checks/CheckCatchAbnormalDifficultySettings.cs
  osu.Game.Rulesets.Mania/Edit/Checks/CheckKeyCount.cs
  osu.Game.Rulesets.Mania/Edit/Checks/CheckManiaAbnormalDifficultySettings.cs
  osu.Game.Rulesets.Mania/Edit/Checks/CheckManiaConcurrentObjects.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckLowDiffOverlaps.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOffscreenObjects.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOsuAbnormalDifficultySettings.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTimeDistanceEquality.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTooShortSliders.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckTooShortSpinners.cs
  osu.Game.Rulesets.Taiko.Tests/Editor/Checks/CheckTaikoInconsistentSkipBarLineTest.cs
  osu.Game.Rulesets.Taiko/Edit/Checks/CheckTaikoAbnormalDifficultySettings.cs
  osu.Game.Rulesets.Taiko/Edit/Checks/CheckTaikoInconsistentSkipBarLine.cs
  osu.Game.Tests/Editing/Checks/CheckInconsistentMetadataTest.cs
  osu.Game.Tests/Editing/Checks/CheckInconsistentSettingsTest.cs
  osu.Game.Tests/Editing/Checks/CheckInconsistentTimingControlPointsTest.cs
  osu.Game.Tests/Editing/Checks/CheckLowestDiffDrainTimeTest.cs
  osu.Game.Tests/Editing/Checks/CheckPreviewTimeTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifierContext.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioInVideo.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckBackgroundQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckBreaks.cs
  osu.Game/Rulesets/Edit/Checks/CheckConcurrentObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckDelayedHitsounds.cs
  osu.Game/Rulesets/Edit/Checks/CheckDrainLength.cs
  osu.Game/Rulesets/Edit/Checks/CheckFewHitsounds.cs
  osu.Game/Rulesets/Edit/Checks/CheckFilePresence.cs
  osu.Game/Rulesets/Edit/Checks/CheckHitsoundsFormat.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentMetadata.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentSettings.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentTimingControlPoints.cs
  osu.Game/Rulesets/Edit/Checks/CheckLowestDiffDrainTime.cs
  osu.Game/Rulesets/Edit/Checks/CheckMissingGenreLanguage.cs
  osu.Game/Rulesets/Edit/Checks/CheckMutedObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckPreviewTime.cs
  osu.Game/Rulesets/Edit/Checks/CheckSongFormat.cs
  osu.Game/Rulesets/Edit/Checks/CheckTitleMarkers.cs
  osu.Game/Rulesets/Edit/Checks/CheckTooShortAudioFiles.cs
  osu.Game/Rulesets/Edit/Checks/CheckUnsnappedObjects.cs
  osu.Game/Rulesets/Edit/Checks/CheckUnusedAudioAtEnd.cs
  osu.Game/Rulesets/Edit/Checks/CheckVideoResolution.cs
  osu.Game/Rulesets/Edit/Checks/CheckZeroByteFiles.cs
  osu.Game/Rulesets/Edit/Checks/CheckZeroLengthObjects.cs
  osu.Game/Rulesets/Edit/Checks/Components/AudioCheckUtils.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
Labels: code quality, area:editor, size/L

#34640 Add support for specifying multiple user tag filters at once
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterMatching.cs
Labels: area:song-select, size/M

#34659 Fix navigating back and forth from beatmap submission settings screen crashing
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionScreen.cs
  osu.Game/Screens/Edit/Submission/ScreenSubmissionSettings.cs
Labels: area:editor, size/XS, type/reliability, quick fix

#34533 Made the user avatar square, in `UserAvatarNotification`.
  osu.Game/Overlays/Notifications/UserAvatarNotification.cs
Labels: size/XS

#34662 Refetch leaderboard when (slow) retrying a beatmap
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerLoader.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/M, quick fix

#34628 Show indicator in replay player once replay fails
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Localisation/ReplayFailIndicatorStrings.cs
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerConfiguration.cs
  osu.Game/Screens/Play/ReplayFailIndicator.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: area:replay, size/L

#34682 Force Xcode 16.4 on CI
  .github/workflows/ci.yml
Labels: area:tooling, size/XS

#34668 Refactor notification avatar to remove `OnUpdate`
  osu.Game/Overlays/Notifications/UserAvatarNotification.cs
Labels: code quality, size/S

#34710 Use fallback icon in `PanelBeatmap` if ruleset is not found
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
Labels: size/S

#34666 Add verify check for inconsistent audio usage
  osu.Game.Tests/Editing/Checks/CheckInconsistentAudioTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentAudio.cs
Labels: area:editor, size/L

#34667 Exclude all beatmap audios from the hitsounds format check
  osu.Game.Tests/Editing/Checks/CheckHitsoundsFormatTest.cs
  osu.Game/Rulesets/Edit/Checks/CheckHitsoundsFormat.cs
Labels: area:editor, size/M

#34606 Add skin support for sliderpoint10 and sliderpoint30
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/sliderpoint10.png
  osu.Game.Rulesets.Osu.Tests/Resources/old-skin/sliderpoint30.png
  osu.Game.Rulesets.Osu.Tests/TestSceneDrawableJudgementSliderTicks.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableOsuJudgement.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderHead.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/SkinnableLighting.cs
  osu.Game.Rulesets.Osu/Skinning/Argon/OsuArgonSkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyJudgementPieceSliderTickHit.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/UI/OsuPlayfield.cs
Labels: ruleset/osu!, area:skinning, size/L

#34752 Fix submission & rank date backpopulation failing every launch for some users
  osu.Game/Database/BackgroundDataStoreProcessor.cs
Labels: area:database, size/S, area:beatmap change tracking

#34759 Fix song select background being stuck in revealed state
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS, quick fix

#34761 Fix flashlight not always matching gameplay scaling
  osu.Game.Rulesets.Catch/Mods/CatchModFlashlight.cs
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModFlashlight.cs
  osu.Game.Rulesets.Osu/Mods/OsuModFlashlight.cs
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModFlashlight.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModFlashlight.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
Labels: area:mods, size/L

#34800 Fix daily challenge / playlist leaderboard sometimes showing incorrect default state
  osu.Game/Screens/Select/Leaderboards/PlaylistsGameplayLeaderboardProvider.cs
Labels: area:online functionality, size/S

#34802 Work around excessive refreshes of carousel beatmap set panel backgrounds
  osu.Game/Screens/SelectV2/PanelSetBackground.cs
Labels: type/performance, area:song-select, type/cosmetic, size/S

#34803 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Settings/TestSceneTabletSettings.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#34812 Fix `HealthProcessor` potentially incorrectly reverting failed state
  osu.Game/Rulesets/Scoring/HealthProcessor.cs
Labels: area:replay, size/XS, type/reliability

#34818 Preserve pre-post notification completion target
  osu.Game/Overlays/NotificationOverlay.cs
Labels: size/XS, area:overlay-notifications

#34808 Fix beatmap carousel triggering full filters more often than it needs to
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: type/performance, area:song-select, type/cosmetic, size/L

#34774 Add long note percentage filter for mania mode
  osu.Game.Rulesets.Mania.Tests/ManiaFilterCriteriaTest.cs
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
Labels: ruleset/osu!mania, area:song-select, size/L

#34834 Use switches for warmup/chat toggles in tournament interface
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
Labels: area:tournament, size/S, quick fix

#34822 Support beatmap sets being split apart by the active group mode in beatmap carousel
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselFilterGroupingTest.cs
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselSetsSplitApart.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelSet.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
Labels: area:song-select, size/L

#34836 Fix song select not performing online lookup on re-enter
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:online functionality, area:song-select, size/XS

#34838 Move SpunOut penalty back to PP
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/M

#34829 Prevent Taiko difficulty crash if a map only contains 0-strains
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythmHitObjectGrouping.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Utils/IntervalGroupingUtils.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S
