Repository ppy/osu, pull requests merged in 2025-07, with the labels that each got.

#33969 Fix very old lazer replays failing to decode
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
Labels: area:replay, size/S

#33965 Change colour of BeatDivisorControl icons from black to light gray
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: size/XS

#33971 Change audio ducking at song select v2 to be temporary to avoid conflict with overlays
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33973 Fix footer appearing at loader screen on quick retries
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
Labels: area:song-select, size/S

#33970 Make Song Select v2 the new default
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game.Tests/Visual/Editing/TestSceneOpenEditorTimestamp.cs
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game.Tests/Visual/Navigation/TestSceneButtonSystemNavigation.cs
  osu.Game.Tests/Visual/Navigation/TestSceneChangeAndUseGameplayBindings.cs
  osu.Game.Tests/Visual/Navigation/TestSceneMouseWheelVolumeAdjust.cs
  osu.Game.Tests/Visual/Navigation/TestScenePerformFromScreen.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentBeatmap.cs
  osu.Game.Tests/Visual/Navigation/TestScenePresentScore.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapLeaderboardWedge.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
  osu.Game/Overlays/SkinEditor/SkinEditorSceneLibrary.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
  osu.Game/Tests/Visual/EditorSavingTestScene.cs
Labels: area:song-select, size/XXL

#33981 Fix tablet troubleshooting page linked incorrectly and not linked on macOS
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: type:behavioural, area:settings, size/S

#34007 Disallow Classic mod from being valid in freestyle as required mod
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game/Rulesets/Mods/ModClassic.cs
Labels: area:multiplayer, size/S, area:playlists

#33999 Fix skins containing subdirectories breaking on external edit on windows
  osu.Game/Database/ModelManager.cs
Labels: realm, size/XS, platform/windows, area:skin-editor, next release

#33998 Adjust score tooltip design slightly
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore_Tooltip.cs
Labels: area:song-select, type:cosmetic, size/M

#34013 Adjust carousel sizing to better accommodate to ultra-wide-screen display
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/XS

#33802 Bring `BeatmapPicker` styling closer to web
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
Labels: type:cosmetic, size/M, area:overlay-beatmap

#34017 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#34028 Fix song select group count pills shaking when expanding/collapsing
  osu.Game/Screens/SelectV2/PanelGroup.cs
Labels: area:song-select, type:cosmetic, size/XS

#34053 Add fade transition in BeatmapLearderboardWedge
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: size/XS

#34033 Fix hitwindow formula in osu! performance calculator
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#33752 Fix Strict Tracking Classic scoring
  osu.Game.Rulesets.Osu/Mods/OsuModStrictTracking.cs
Labels: ruleset/osu!, area:mods, size/XS, next release

#34087 Improve song select's automatic selection behaviour when current selection is no longer valid
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectCurrentSelectionInvalidated.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectFiltering.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L, next release

#34132 Adjust song select sizing in response to user feedback
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/S

#34125 Write new name to `skin.ini` when renaming skin via settings
  osu.Game/Overlays/Settings/Sections/SkinSection.cs
  osu.Game/Skinning/SkinImporter.cs
  osu.Game/Skinning/SkinManager.cs
Labels: area:settings, size/S, area:skin-editor

#34182 Support `.ogg`-specific bitrate limit in audio quality verify check
  osu.Game.Tests/Editing/Checks/CheckAudioQualityTest.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioQuality.cs
  osu.Game/Rulesets/Edit/Checks/CheckSongFormat.cs
  osu.Game/Rulesets/Edit/Checks/Components/AudioCheckUtils.cs
Labels: area:editor, size/L

#34204 Fix multiplayer spectator leaderboard respecting "show leaderboard" config setting
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
Labels: area:multiplayer, size/XS, area:spectator, next release

#34127 Fix text flow arbitrary drawable wrapper accessing child in an unsafe manner
  osu.Game/Graphics/Containers/OsuTextFlowContainer.cs
  osu.Game/Screens/Menu/SupporterDisplay.cs
Labels: size/S, type:reliability

#34175 Fix multiplayer duration by having it set on beatmap population.
  osu.Game/Screens/OnlinePlay/OnlinePlayFreestyleSelect.cs
Labels: type:behavioural, area:multiplayer, size/S

#34206 Improve user style selection UX based on local beatmap state
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, size/L, area:playlists

#34221 Bring back minimal debug settings
  osu.Game/Overlays/FirstRunSetup/ScreenBehaviour.cs
  osu.Game/Overlays/Settings/Sections/DebugSection.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/GeneralSettings.cs
  osu.Game/Overlays/Settings/Sections/DebugSettings/MemorySettings.cs
  osu.Game/Overlays/SettingsOverlay.cs
Labels: area:settings, size/L

#34225 Write only fixed release streams back to config
  osu.Game.Tests/NonVisual/TestSceneUpdateManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Updater/UpdateManager.cs
Labels: area:installer, size/M

#34205 Improve safety of external skin edit operation in several scenarios
  osu.Game/Overlays/SkinEditor/ExternalEditOverlay.cs
  osu.Game/Overlays/SkinEditor/SkinEditorOverlay.cs
Labels: size/M, type:reliability, area:skin-editor, next release

#34232 Fix android builds losing awareness of their release stream
  osu.Android/OsuGameAndroid.cs
Labels: area:installer, platform/android, size/M

#34264 Allow beatmap cards' collapsible icon buttons to be accessible via context menu
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCard.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardExtra.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNano.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardNormal.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/GoToBeatmapButton.cs
  osu.Game/Beatmaps/Drawables/Cards/CollapsibleButtonContainer.cs
Labels: type:behavioural, platform/mobile, size/M, area:overlay-beatmap-listing

#34267 Fix crash when open changelog in offline
  osu.Game/Overlays/Changelog/ChangelogBuild.cs
  osu.Game/Overlays/Changelog/ChangelogSingleBuild.cs
Labels: missing details, size/M

#34276 Fix update manager throwing unhandled visible to users
  osu.Desktop/Updater/VelopackUpdateManager.cs
  osu.Game/Updater/UpdateManager.cs
Labels: area:installer, size/M, type:reliability

#34278 Update framework
  osu.Android.props
  osu.Game/Screens/Edit/Submission/SubmissionStageProgress.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#34298 Fix song select v2 not updating activity to choosing beatmap
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
Labels: type:online, area:song-select, size/XS

#34283 Fix beatmap update button restarting animation at every hover
  osu.Game/Screens/Select/Carousel/UpdateBeatmapSetButton.cs
  osu.Game/Screens/SelectV2/PanelUpdateBeatmapButton.cs
Labels: area:song-select, type:cosmetic, size/XS

#34282 Support (un)favouriting beatmap sets from song select
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_FavouriteButton.cs
Labels: type:online, area:song-select, size/L

#34305 Fix incorrect grammar in editor's verify section
  osu.Game/Rulesets/Edit/Checks/CheckSongFormat.cs
Labels: size/XS

#34310 Fix date-based grouping modes handling months incorrectly
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselFilterGroupingTest.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
Labels: area:song-select, size/M

#34306 Fix beatmap set cover not loading at screen edges
  osu.Game/Beatmaps/Drawables/UpdateableOnlineBeatmapSetCover.cs
Labels: size/XS

#34231 Add initial support for filtering by user tags in song select
  osu.Game.Tests/NonVisual/Filtering/FilterMatchingTest.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapMetadataWedge.cs
  osu.Game/Beatmaps/BeatmapMetadata.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterMatching.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_MetadataDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_TagsLine.cs
  osu.Game/Screens/SelectV2/RealmPopulatingOnlineLookupSource.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: type:online, area:song-select, realm, size/L, has-realm-migration

#34322 Animate heart icon when favouriting beatmaps
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_FavouriteButton.cs
Labels: size/L

#34181 Add verify check for lowest diff drain/play time requirements
  osu.Game.Rulesets.Catch/Edit/CatchBeatmapVerifier.cs
  osu.Game.Rulesets.Catch/Edit/Checks/CheckCatchLowestDiffDrainTime.cs
  osu.Game.Rulesets.Mania/Edit/Checks/CheckManiaLowestDiffDrainTime.cs
  osu.Game.Rulesets.Mania/Edit/ManiaBeatmapVerifier.cs
  osu.Game.Rulesets.Osu/Edit/Checks/CheckOsuLowestDiffDrainTime.cs
  osu.Game.Rulesets.Osu/Edit/OsuBeatmapVerifier.cs
  osu.Game.Rulesets.Taiko/Edit/Checks/CheckTaikoLowestDiffDrainTime.cs
  osu.Game.Rulesets.Taiko/Edit/TaikoBeatmapVerifier.cs
  osu.Game.Tests/Editing/Checks/CheckLowestDiffDrainTimeTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifierContext.cs
  osu.Game/Rulesets/Edit/Checks/CheckLowestDiffDrainTime.cs
  osu.Game/Screens/Edit/Verify/IssueList.cs
Labels: area:editor, size/L

#34058 Store pause count to scores
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Visual/Gameplay/TestScenePause.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Online/API/Requests/Responses/SoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyReplaySoloScoreInfo.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/ScoreInfo.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, area:replay, realm, size/M, has-realm-migration

#33635 ensure `monolengthbonus` applies to new strain contribution only
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#34345 Fix iOS bundle version
  osu.iOS/OsuGameIOS.cs
  osu.iOS/osu.iOS.csproj
Labels: platform/iOS, size/M

#34312 Refactor song select panel background layout and rendering
  osu.Game/Screens/SelectV2/Panel.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/PanelGroup.cs
  osu.Game/Screens/SelectV2/PanelGroupStarDifficulty.cs
  osu.Game/Screens/SelectV2/PanelSetBackground.cs
Labels: area:song-select, type:cosmetic, size/XL

#33265 Move rating calculations to `OsuRatingCalculator`
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuRatingCalculator.cs
Labels: type:code-quality, ruleset/osu!, area:difficulty, size/L

#34367 Make visibility-based bonuses be additive to `ratingMultiplier` instead of multiplicative
  osu.Game.Rulesets.Osu/Difficulty/OsuRatingCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/S

#34389 Add more SFX to SSv2 components
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
  osu.Game/osu.Game.csproj
Labels: size/M, audio

#34384 Fix back-to-top button handling input outside itself
  osu.Game/Overlays/OverlayScrollContainer.cs
Labels: size/XS, area:overlay-beatmap-listing, quick fix

#34383 Expand scrollbar input area for song select carousel
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Graphics/Carousel/Carousel_ScrollContainer.cs
Labels: area:song-select, size/L, quick fix

#34380 Add back "edit" context menu item on set panel headers
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
Labels: area:song-select, size/S, quick fix

#34409 Adjust panel flashing to feel more in time
  osu.Game/Screens/SelectV2/Panel.cs
Labels: area:song-select, size/S, quick fix

#34368 Add verify check for inconsistent metadata
  osu.Game.Tests/Editing/Checks/CheckInconsistentMetadataTest.cs
  osu.Game/Rulesets/Edit/BeatmapVerifier.cs
  osu.Game/Rulesets/Edit/Checks/CheckInconsistentMetadata.cs
Labels: area:editor, size/L

#34371 Account for almost concurrent case in concurrent objects check
  osu.Game.Rulesets.Mania.Tests/Editor/Checks/CheckManiaConcurrentObjectsTest.cs
  osu.Game.Rulesets.Mania/Edit/Checks/CheckManiaConcurrentObjects.cs
  osu.Game.Tests/Editing/Checks/CheckConcurrentObjectsTest.cs
  osu.Game/Rulesets/Edit/Checks/CheckConcurrentObjects.cs
Labels: area:editor, size/L

#34303 Add ability to import all files from a directory to import files dialog
  osu.Game/Screens/Import/FileImportScreen.cs
Labels: area:settings, size/M, area:import

#34327 osu!taiko consistency factor changes using object strains
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/Skills/StrainSkill.cs
Labels: ruleset/osu!taiko, area:difficulty, size/L

#33871 SSv2: Add ability to sort local scores by metrics other than total score
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapLeaderboardSorting.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/Scoring/ScoreInfoExtensions.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Select/Leaderboards/LeaderboardSortMode.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea.cs
  osu.Game/Screens/SelectV2/BeatmapDetailsArea_Header.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: area:song-select, size/L

#34417 Update menu tip design
  osu.Game/Screens/Menu/MenuTipDisplay.cs
Labels: size/M

#33544 Always allow a map's user-tags to be read
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game.Tests/Visual/Ranking/TestSceneUserTagControl.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
  osu.Game/Screens/Ranking/UserTagControl.cs
Labels: type:cosmetic, area:results, size/M

#34418 Add divisor colour for 5,7,9 snaps
  osu.Game/Screens/Edit/BindableBeatDivisor.cs
Labels: area:gameplay, size/XS, quick fix

#33688 Add `Moving Fast` mod to osu!catch
  osu.Game.Rulesets.Catch.Tests/Mods/TestSceneCatchModMovingFast.cs
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Mods/CatchModAutoplay.cs
  osu.Game.Rulesets.Catch/Mods/CatchModCinema.cs
  osu.Game.Rulesets.Catch/Mods/CatchModMovingFast.cs
  osu.Game.Rulesets.Catch/Mods/CatchModRelax.cs
Labels: ruleset/osu!catch, area:mods, size/L

#34188 osu!taiko new acc pp formula + rhythm difficulty penalty
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#34427 Avoid triggering a velopack update when handling associations or other custom arguments
  osu.Desktop/Program.cs
Labels: area:installer, size/S, quick fix

#34346 Backpopulate user tag data using `online.db`
  osu.Game/Beatmaps/APIBeatmapMetadataSource.cs
  osu.Game/Beatmaps/BeatmapUpdaterMetadataLookup.cs
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
  osu.Game/Beatmaps/OnlineBeatmapMetadata.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Database/BackgroundDataStoreProcessor.cs
Labels: realm, size/L

#34089 osu!taiko reduce multiplier for hidden on lazer
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#34448 Fix leaderboard SFX delegates not being cleared in some cases where scores are hidden
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: size/XS, audio
