Repository ppy/osu, pull requests merged in 2025-04, with the labels that each got.

#32649 Refactor multiplayer mod select to remove selected item bindable
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerUserModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: type:code-quality, area:multiplayer, size/L

#32372 Add cloning to `MultiplayerPlaylistItem`, and tests using fake data
  osu.Game.Tests.Android/osu.Game.Tests.Android.csproj
  osu.Game.Tests.iOS/osu.Game.Tests.iOS.csproj
  osu.Game.Tests/OnlinePlay/MultiplayerPlaylistItemTest.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
Labels: type:testing, area:multiplayer, size/L

#32661 Fix letterbox showing above playfield border
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay

#32663 Avoid writing out team acronyms to JSON
  osu.Game.Tournament/Models/TournamentMatch.cs
Labels: area:tournament, size/XS

#32666 Add `[JsonIgnore]` to `MultiplayerRoom.CurrentPlaylistItem`
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
Labels: area:multiplayer, size/XS, type:reliability

#32667 Fix argon reverse arrow animating weirdly after hit
  osu.Game.Rulesets.Osu/Skinning/Argon/ArgonReverseArrow.cs
Labels: ruleset/osu!, area:gameplay, size/XS

#32601 Use median instead of mean for average hit error calculations
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game/Configuration/SessionAverageHitErrorTracker.cs
  osu.Game/Rulesets/Scoring/HitEventExtensions.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
  osu.Game/Screens/Ranking/Statistics/AverageHitError.cs
Labels: area:gameplay, area:settings, size/M

#32657 Add support for ruleset-specific user tags
  osu.Game.Tests/Visual/Ranking/TestSceneUserTagControl.cs
  osu.Game/Online/API/Requests/Responses/APITag.cs
  osu.Game/Screens/Ranking/UserTagControl.cs
Labels: size/M, area:tags

#32593 Fix stutters when sliders with hundreds of repeats display for the first time
  osu.Game.Rulesets.Osu.Tests/TestSceneSpinner.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSamplePlayback.cs
  osu.Game/Rulesets/Objects/Drawables/DrawableHitObject.cs
Labels: type:performance, area:gameplay, size/M

#32664 Fix metronome BPM text not matching expectations due to custom rounding implementation
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
  osu.Game/Screens/Edit/Timing/TimingSection.cs
Labels: area:editor, size/M

#32572 Fix storyboards with no-op alpha operations causing extended drawable lifetimes
  osu.Game.Tests/Beatmaps/Formats/LegacyStoryboardDecoderTest.cs
  osu.Game.Tests/Resources/noop-fade-transform-is-ignored-for-lifetime.osb
  osu.Game.Tests/Resources/video-custom-alpha-transform.osb
  osu.Game/Storyboards/StoryboardSprite.cs
  osu.Game/Storyboards/StoryboardVideo.cs
Labels: type:performance, area:storyboard, size/M

#32636 Allow users to include or exclude multiple key mods by comma separated values
  osu.Game.Rulesets.Mania.Tests/ManiaFilterCriteriaTest.cs
  osu.Game.Rulesets.Mania/ManiaFilterCriteria.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Screens/Select/Filter/Operator.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
Labels: ruleset/osu!mania, area:song-select, size/L

#32662 Fix batch import failing if one beatmap can't complete difficulty calculation
  osu.Game/Database/RealmArchiveModelImporter.cs
Labels: size/XS, area:import

#32676 Fix potential crashes due to asynchronous `BindableList` usage
  osu.Game/Online/Chat/MessageNotifier.cs
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
Labels: size/M, type:reliability

#32694 Use `Precision.AlmostEquals` to compare deviation lower bound
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#32679 Remove filtering & rearranging controls from now playing overlay
  osu.Game.Tests/Visual/UserInterface/TestScenePlaylistOverlay.cs
  osu.Game/Overlays/MarqueeContainer.cs
  osu.Game/Overlays/Music/FilterControl.cs
  osu.Game/Overlays/Music/FilterCriteria.cs
  osu.Game/Overlays/Music/Playlist.cs
  osu.Game/Overlays/Music/PlaylistItem.cs
  osu.Game/Overlays/Music/PlaylistOverlay.cs
  osu.Game/Overlays/NowPlayingOverlay.cs
Labels: type:performance, type:cosmetic, type:behavioural, size/XL, area:overlay-now-playing

#32726 Fix incorrect sizing of legacy health display "ki" markers
  osu.Game/Skinning/LegacyHealthDisplay.cs
Labels: area:skinning, size/XS

#32718 Add transition when vote-count changes in user tag control
  osu.Game/Screens/Ranking/UserTagControl.cs
Labels: size/M

#32665 Fix saving via ctrl+s while metadata textbox is focused not saving changes
  osu.Game.Tests/Visual/Editing/TestSceneMetadataSection.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
Labels: area:editor, size/M

#32730 Fix editor setup screen sliders not having correct keyboard steps
  osu.Game.Rulesets.Catch/Edit/Setup/CatchDifficultySection.cs
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game.Rulesets.Osu/Edit/Setup/OsuDifficultySection.cs
  osu.Game.Rulesets.Taiko/Edit/Setup/TaikoDifficultySection.cs
  osu.Game/Graphics/UserInterfaceV2/FormSliderBar.cs
  osu.Game/Screens/Edit/Setup/DifficultySection.cs
Labels: area:editor, size/S

#32731 Adjust menu tips and supporter display to not overlap
  osu.Game/Screens/Menu/MainMenu.cs
  osu.Game/Screens/Menu/MenuTipDisplay.cs
  osu.Game/Screens/Menu/SupporterDisplay.cs
Labels: area:main-menu, size/M

#32732 Increase range of vertex selection in polygon generation popover
  osu.Game.Rulesets.Osu/Edit/PolygonGenerationPopover.cs
Labels: area:editor, size/XS

#32669 Rewrite match subscreen to remove bindables
  osu.Game.Tests/Visual/Multiplayer/TestSceneHostOnlyQueueMode.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Users/UserActivity.cs
Labels: area:multiplayer, size/XXL

#32723 Use actual keybind in multiplayer chat hint
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Input/RealmKeyBindingStore.cs
  osu.Game/Localisation/ChatStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Music/MusicKeyBindingHandler.cs
  osu.Game/Overlays/OSD/SpeedChangeToast.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Select/ModSpeedHotkeyHandler.cs
Labels: type:localisation, area:multiplayer, area:overlay-chat, size/M

#32742 Fix exception cancelling disposed cancellation token
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomPanel.cs
Labels: area:multiplayer, size/XS, area:playlists

#32741 Fix difficulty stats not showing in playlists
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: size/XS, area:playlists

#32680 Allow viewing results of historical multiplayer items
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerHistoryList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, size/M

#32729 Fix slider placement not working correctly with UI button clicks
  osu.Game/Screens/Edit/BottomBar.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: area:editor, size/XS

#32434 Reduce relax Ok miss multiplier
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#32749 Fix success rate / points of failure not showing for unranked beatmaps on beatmap info overlay
  osu.Game/Overlays/BeatmapSet/Info.cs
Labels: size/S, area:overlay-beatmap

#32744 Fix `StarRatingDisplay` not using fixed width text
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
Labels: type:cosmetic, size/S

#32655 Move osu!catch movement diffcalc to an evaluator
  osu.Game.Rulesets.Catch/Difficulty/Evaluators/MovementEvaluator.cs
  osu.Game.Rulesets.Catch/Difficulty/Preprocessing/CatchDifficultyHitObject.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
Labels: ruleset/osu!catch, area:difficulty, size/L

#32760 Fix carousel handling of bleed areas
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, size/S

#32764 Add new icons, font templates, statistics naming changes and colour updates
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmap.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmap.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmap.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmap.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Graphics/OsuFont.cs
  osu.Game/Graphics/OsuIcon.cs
Labels: size/L

#32771 Improve group panel design
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselV2GroupPanel.cs
  osu.Game/Screens/SelectV2/PanelBase.cs
  osu.Game/Screens/SelectV2/PanelGroup.cs
  osu.Game/Screens/SelectV2/PanelGroupStarDifficulty.cs
Labels: area:song-select, type:cosmetic, size/L

#32796 Fix "spins per minute" shows up early (fix #31173)
  osu.Game.Rulesets.Osu/Mods/OsuModSpunOut.cs
  osu.Game.Rulesets.Osu/Skinning/Default/SpinnerRotationTracker.cs
Labels: ruleset/osu!, area:mods, size/XS

#32799 Add support for closing chat channels with middle click
  osu.Game.Tests/Visual/Online/TestSceneChatOverlay.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
Labels: area:overlay-chat, size/M

#32802 Combine "spinnable time" conditions
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSpinner.cs
Labels: type:code-quality, ruleset/osu!, size/XS

#32772 Introduce numeric data in beatmap object count statistics
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmap.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmap.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmap.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmap.cs
  osu.Game/Beatmaps/BeatmapStatistic.cs
Labels: size/M, area:ruleset-api

#32494 Extract leaderboard fetch logic from song select beatmap leaderboard drawable
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Online/API/Requests/GetScoresRequest.cs
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
Labels: type:code-quality, type:online, area:song-select, size/L

#32814 Fix thread safety when calling `BeatmapStore.GetBeatmapSets`
  osu.Game/Database/RealmDetachedBeatmapStore.cs
Labels: size/M, type:reliability

#32816 Fix local leaderboards not showing when starting game offline
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:song-select, size/S, next release

#32815 Change global shear definition to be a `Vector2`
  osu.Game.Tests/Visual/SongSelectV2/TestSceneLeaderboardScore.cs
  osu.Game/Graphics/UserInterface/DialogButton.cs
  osu.Game/Graphics/UserInterface/ShearedButton.cs
  osu.Game/Graphics/UserInterface/ShearedNub.cs
  osu.Game/Graphics/UserInterface/ShearedSearchTextBox.cs
  osu.Game/Graphics/UserInterface/ShearedSliderBar.cs
  osu.Game/Graphics/UserInterfaceV2/ShearedDropdown.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
  osu.Game/Overlays/Mods/ModColumn.cs
  osu.Game/Overlays/Mods/ModFooterInformationDisplay.cs
  osu.Game/Overlays/Mods/ModPanel.cs
  osu.Game/Overlays/Mods/ModSelectColumn.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectPanel.cs
  osu.Game/Overlays/Mods/RankingInformationDisplay.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
  osu.Game/Screens/Select/Options/BeatmapOptionsButton.cs
  osu.Game/Screens/SelectV2/Footer/ScreenFooterButtonMods.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
  osu.Game/Screens/SelectV2/UpdateBeatmapSetButton.cs
Labels: type:code-quality, size/L

#32757 Add display to show completed playlist items
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomPlaylist.cs
  osu.Game/Localisation/DrawableRoomPlaylistItemStrings.cs
  osu.Game/Online/Rooms/ItemAttemptsCount.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: size/L, area:playlists

#32819 Apply various minor refactors (split out from song select v2 ongoing work)
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelectV2/SongSelectComponentsTestScene.cs
  osu.Game/Beatmaps/Drawables/BeatmapSetOnlineStatusPill.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
Labels: type:code-quality, size/M

#32770 Add test cases for lazer-specific replay instability due to truncation issue
  osu.Game.Rulesets.Mania.Tests/TestSceneReplayStability.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneReplayStability.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneReplayStability.cs
  osu.Game/Screens/Play/GameplayState.cs
  osu.Game/Tests/Visual/ReplayStabilityTestScene.cs
Labels: ruleset/osu!taiko, ruleset/osu!mania, ruleset/osu!, area:replay, type:testing, size/L

#32830 Refuse to import scores specifying incompatible mods
  osu.Game.Tests/Scores/IO/ImportScoreTest.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: area:replay, size/M, area:import

#32823 Fix multiplayer background changing in results screen
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/M

#32836 Update framework
  osu.Android.props
  osu.Game/Graphics/Containers/LinkFlowContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#32820 Fix global offset adjust control showing adjustment available when it shouldn't
  osu.Game.Tests/Extensions/NumberFormattingExtensionsTest.cs
  osu.Game.Tests/Visual/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game.Tests/Visual/Settings/TestSceneAudioOffsetAdjustControl.cs
  osu.Game/Extensions/NumberFormattingExtensions.cs
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Localisation/AudioSettingsStrings.cs
  osu.Game/Overlays/Settings/Sections/Audio/AudioOffsetAdjustControl.cs
Labels: area:settings, size/L

#32837 Fix culture variance in new formatting helper
  osu.Game.Tests/Extensions/NumberFormattingExtensionsTest.cs
  osu.Game/Extensions/NumberFormattingExtensions.cs
Labels: type:localisation, size/S

#32853 Fix storyboard videos not displaying
  osu.Game.Tests/Visual/Gameplay/TestSceneStoryboard.cs
  osu.Game/Storyboards/StoryboardSprite.cs
  osu.Game/Storyboards/StoryboardVideo.cs
Labels: area:storyboard, size/XS, next release

#32874 Change "Delete Difficulty" editor menu item type to destructive
  osu.Game/Screens/Edit/Editor.cs
Labels: size/XS

#32863 Fix gameplay leaderboard showing scores from wrong beatmaps
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/Online/Leaderboards/LeaderboardState.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: area:gameplay, area:song-select, size/L, next release

#32893 Allow toggling leaderboard visibility in replays
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/SoloGameplayLeaderboard.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
Labels: area:replay, type:cosmetic, size/S

#32884 Fix slider tooltip text not updating with current value
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
Labels: type:cosmetic, size/XS

#32838 Add accounting of nested group items for group panel display purposes
  osu.Game/Graphics/Carousel/CarouselItem.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/PanelGroup.cs
Labels: area:song-select, size/S

#32822 Separate gameplay leaderboard data management from display
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/MultiplayerGameplayLeaderboardTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerGameplayLeaderboardTeams.cs
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/GameplayChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorScreen.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboardScore.cs
  osu.Game/Screens/Play/HUD/ILeaderboardScore.cs
  osu.Game/Screens/Play/HUD/SoloGameplayLeaderboard.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
  osu.Game/Screens/Play/SoloPlayer.cs
  osu.Game/Screens/Select/Leaderboards/GameplayLeaderboardScore.cs
  osu.Game/Screens/Select/Leaderboards/IGameplayLeaderboardProvider.cs
  osu.Game/Screens/Select/Leaderboards/MultiSpectatorLeaderboardProvider.cs
  osu.Game/Screens/Select/Leaderboards/MultiplayerLeaderboardProvider.cs
  osu.Game/Screens/Select/Leaderboards/SoloGameplayLeaderboardProvider.cs
Labels: type:code-quality, area:gameplay, area:skinning, size/XXL

#32894 Fix slider repeat arrows appearing too early in editor when hit markers are enabled
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
Labels: ruleset/osu!, area:editor, type:cosmetic, size/XS

#32839 Use new font specifications in beatmap panels and apply minor adjustments
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelBeatmap.cs
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelBeatmapStandalone.cs
  osu.Game/Beatmaps/Drawables/DifficultySpectrumDisplay.cs
  osu.Game/Graphics/Carousel/CarouselItem.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/PanelUpdateBeatmapButton.cs
Labels: area:song-select, type:cosmetic, size/M

#32840 Prerequisite changes for song select v2 design work
  osu.Game.Tests/Visual/SongSelectV2/SongSelectComponentsTestScene.cs
  osu.Game/Graphics/UserInterfaceV2/ShearedDropdown.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
  osu.Game/Screens/SelectV2/WedgeBackground.cs
Labels: area:song-select, size/L

#32841 Add shear-aligning drawable wrapper
  osu.Game.Tests/Visual/UserInterface/TestSceneShearAligningWrapper.cs
  osu.Game/Graphics/Containers/ShearAligningWrapper.cs
Labels: area:song-select, type:cosmetic, size/L

#32849 Add sheared collection dropdown
  osu.Game.Tests/Visual/SongSelect/TestSceneCollectionDropdown.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneFilterControl.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneManageCollectionsDialog.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneCollectionDropdown.cs
  osu.Game/Overlays/Music/NowPlayingCollectionDropdown.cs
  osu.Game/Screens/SelectV2/CollectionDropdown.cs
Labels: area:song-select, type:cosmetic, size/XXL

#32918 Minor fix to the Easy mod description
  osu.Game.Rulesets.Catch/Mods/CatchModEasy.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModEasy.cs
  osu.Game.Rulesets.Osu/Mods/OsuModEasy.cs
Labels: area:mods, size/XS

#32912 Fix free mod selection sub-button being clickable even if the main button isn't
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreeMods.cs
Labels: type:behavioural, area:multiplayer, size/M, area:playlists

#32913 Remove `LeaderboardManager` return value and simplify flow further
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/OsuGame.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: type:code-quality, size/L, next release

#32923 Keep multiplayer settings open during room updates
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/M, next release

#32843 Add song select beatmap metadata wedge
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapMetadataWedge.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_FailRetryDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_MetadataDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_RatingSpreadDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_SuccessRateDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_TagsLine.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge_UserRatingDisplay.cs
Labels: area:song-select, type:cosmetic, size/XXL

#32842 Add song select beatmap title wedge
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedge.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedgeStatistic.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneDifficultyStatisticsDisplay.cs
  osu.Game/Beatmaps/Drawables/StarRatingDisplay.cs
  osu.Game/Graphics/OsuColour.cs
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_DifficultyDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_DifficultyStatisticsDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_Statistic.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_StatisticDifficulty.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge_StatisticPlayCount.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
Labels: area:song-select, type:cosmetic, size/XXL

#32909 Fix daily challenge marker text spacing
  osu.Game.Tests/Visual/UserInterface/TestSceneFPSCounter.cs
  osu.Game/Graphics/UserInterface/FPSCounterTooltip.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsDisplay.cs
Labels: type:cosmetic, area:overlay-user-profile, size/S, next release

#32924 Show true beatmap background when viewing historical multiplayer results
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemResultsScreen.cs
Labels: area:multiplayer, size/XS, area:playlists

#32915 Add basic support for beatmap updates in `BeatmapCarousel`
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, size/L

#32922 Fix tablet settings adjusting with too much precision
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: area:settings, size/S, next release

#32936 Fix presenting score potentially dying due to deleted beatmap
  osu.Game.Tests/Visual/UserInterface/TestSceneMissingBeatmapNotification.cs
  osu.Game/Database/MissingBeatmapNotification.cs
  osu.Game/OsuGame.cs
  osu.Game/Scoring/ScoreImporter.cs
Labels: area:replay, area:results, size/M, type:reliability

#32674 Allow mods/freemods in combination with freestyle
  osu.Game.Rulesets.Mania/Mods/ManiaModCover.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModFadeIn.cs
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Rulesets/Mods/IMod.cs
  osu.Game/Rulesets/Mods/Mod.cs
  osu.Game/Rulesets/Mods/ModAccuracyChallenge.cs
  osu.Game/Rulesets/Mods/ModClassic.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
  osu.Game/Rulesets/Mods/ModMuted.cs
  osu.Game/Rulesets/Mods/ModNoFail.cs
  osu.Game/Rulesets/Mods/ModPerfect.cs
  osu.Game/Rulesets/Mods/ModRateAdjust.cs
  osu.Game/Rulesets/Mods/ModSuddenDeath.cs
  osu.Game/Rulesets/Mods/ModTimeRamp.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerUserModSelectOverlay.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Utils/ModUtils.cs
Labels: area:multiplayer, size/XL, area:playlists, notable feature

#32941 Fix user covers not loading if slightly off-screen
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeCarousel.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeEventFeed.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeScoreBreakdown.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeTotalsDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Online/TestSceneDashboardOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserClickableAvatar.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneLeaderboardScore.cs
  osu.Game/Users/UserCoverBackground.cs
Labels: area:overlay-user-profile, size/L

#32940 Update 404ing cover image URLs in tests
  osu.Game.Tests/Resources/TestResources.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeCarousel.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeEventFeed.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeScoreBreakdown.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeTotalsDisplay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Online/TestSceneDashboardOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserClickableAvatar.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneLeaderboardScore.cs
Labels: type:testing, size/M

#32845 Add audio feedback to the BSS process
  osu.Game.Tests/Visual/Editing/TestSceneSubmissionStageProgress.cs
  osu.Game/Overlays/Rankings/RankingsScope.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionScreen.cs
  osu.Game/Screens/Edit/Submission/SubmissionStageProgress.cs
  osu.Game/osu.Game.csproj
Labels: size/L, audio

#32946 Attempt to improve appearance of new combo toggle / combo colour control when contracted
  osu.Game/Graphics/Containers/ExpandingContainer.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/NewComboTernaryButton.cs
Labels: area:editor, type:cosmetic, size/M

#32938 Add test scene coverage of HUD layouts on various ruleset/skin combinations
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlayRulesetLayouts.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: type:testing, area:skinning, size/L

#32896 Add more test cases covering correct legacy replay playback with respect to hitwindow treatment with mods active
  osu.Game.Rulesets.Mania.Tests/TestSceneLegacyReplayPlayback.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyReplayPlayback.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneLegacyReplayPlayback.cs
Labels: ruleset/osu!taiko, ruleset/osu!mania, ruleset/osu!, area:replay, type:testing, area:mods, size/XL

#32956 Fix metadata subwedges pop out transition being back-to-front
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
Labels: area:song-select, type:cosmetic, size/S

#31351 Move all score-independent bonuses into star rating
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/L

#32634 Award slider accuracy PP for scores set with ScoreV2
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#32968 Fix user tags potentially re-flowing on mouse down
  osu.Game/Screens/Ranking/UserTagControl.cs
  osu.Game/Screens/Ranking/UserTagControl_AddTagsPopover.cs
  osu.Game/Screens/Ranking/UserTagControl_DrawableUserTag.cs
Labels: area:results, size/XL

#32967 Fix culture variance for MIME type resolution in TagLib file creation
  CodeAnalysis/BannedSymbols.txt
  osu.Game/IO/FileAbstraction/StreamFileAbstraction.cs
  osu.Game/Rulesets/Edit/Checks/CheckAudioInVideo.cs
  osu.Game/Rulesets/Edit/Checks/CheckVideoResolution.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
  osu.Game/Utils/TagLibUtils.cs
Labels: area:editor, size/L

#32976 Fix overlay buttons in screen footer not correctly aligned with back button
  osu.Game/Screens/Footer/ScreenFooter.cs
  osu.Game/Screens/Footer/ScreenFooterButton.cs
  osu.Game/Screens/SelectV2/FooterButtonMods.cs
Labels: type:cosmetic, size/S

#32959 Fix play count statistic hiding on local difficulties instead of showing `-`
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedge.cs
  osu.Game/Screens/SelectV2/BeatmapTitleWedge.cs
Labels: area:song-select, type:behavioural, size/M

#32847 Fixes and improvements to existing sheared components
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedButtons.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedSliderBar.cs
  osu.Game/Graphics/UserInterface/ShearedButton.cs
  osu.Game/Graphics/UserInterface/ShearedNub.cs
  osu.Game/Graphics/UserInterface/ShearedSliderBar.cs
  osu.Game/Overlays/Mods/AddPresetButton.cs
  osu.Game/Overlays/Mods/AddPresetPopover.cs
  osu.Game/Overlays/Mods/EditPresetPopover.cs
  osu.Game/Overlays/WizardOverlay.cs
Labels: area:song-select, type:cosmetic, size/L

#32844 Add song select beatmap leaderboard display
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapLeaderboardScore.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapLeaderboardWedge.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore_Tooltip.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: area:song-select, type:cosmetic, size/XXL

#32985 Remove pre-rate rounding in BPM display
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapInfoWedge.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapTitleWedge.cs
  osu.Game/Utils/FormatUtils.cs
Labels: area:song-select, type:behavioural, size/S

#32987 Fix osu!catch getting incorrectly upscaled on portrait orientation
  osu.Game.Rulesets.Catch/UI/CatchPlayfieldAdjustmentContainer.cs
Labels: ruleset/osu!catch, platform/mobile, size/XS

#32947 Use actual score positions in gameplay leaderboard
  osu.Game.Tests/Visual/Gameplay/TestSceneGameplayLeaderboard.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSoloGameplayLeaderboardProvider.cs
  osu.Game/Online/Leaderboards/LeaderboardManager.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboardScore.cs
  osu.Game/Screens/Select/Leaderboards/GameplayLeaderboardScore.cs
  osu.Game/Screens/Select/Leaderboards/IGameplayLeaderboardProvider.cs
  osu.Game/Screens/Select/Leaderboards/MultiplayerLeaderboardProvider.cs
  osu.Game/Screens/Select/Leaderboards/SoloGameplayLeaderboardProvider.cs
Labels: area:gameplay, size/L

#32970 Improve visibility of setting adjustments on mod icons
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModDifficultyAdjust.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModIcon.cs
  osu.Game/Extensions/NumberFormattingExtensions.cs
  osu.Game/Rulesets/Mods/IMod.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: area:song-select, type:cosmetic, size/L

#32957 Fix incorrect handling of beatmap with local diffs in metadata wedge
  osu.Game.Tests/Visual/SongSelectV2/SongSelectComponentsTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapMetadataWedge.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
Labels: area:song-select, type:behavioural, size/M

#32848 Add sheared "range" slider bar
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedRangeSlider.cs
  osu.Game/Graphics/UserInterface/ShearedRangeSlider.cs
  osu.Game/Graphics/UserInterface/ShearedSliderBar.cs
Labels: area:song-select, type:cosmetic, size/L

#32960 Add support for user tags in new song select
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapMetadataWedge.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
Labels: area:song-select, type:behavioural, size/M

#32980 Use leaderboard criteria set in song select on results screen too
  osu.Game.Tests/Visual/Ranking/TestSceneSoloResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
  osu.Game/Screens/Select/Leaderboards/SoloGameplayLeaderboardProvider.cs
Labels: area:results, size/L

#32852 Add song select filter control
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapFilterControl.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneDifficultyRangeSlider.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedSearchTextBox.cs
  osu.Game/Graphics/UserInterface/ShearedFilterTextBox.cs
  osu.Game/Graphics/UserInterface/ShearedRangeSlider.cs
  osu.Game/Graphics/UserInterface/ShearedSearchTextBox.cs
  osu.Game/Localisation/UserInterfaceStrings.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
  osu.Game/Screens/SelectV2/FilterControl_DifficultyRangeSlider.cs
Labels: area:song-select, type:cosmetic, size/XL

#32990 Change tooltip text to better cover mod setting scenarios
  osu.Game/Overlays/Mods/AdjustedAttributesTooltip.cs
Labels: size/XS
