Repository ppy/osu, pull requests merged in 2025-06, with the labels that each got.

#33372 Fix directory breadcrumb buttons playing clicking sounds twice
  osu.Game/Graphics/UserInterfaceV2/FileSelection/OsuDirectorySelectorBreadcrumbDisplay.cs
Labels: size/XS, audio

#33354 Fix random selection potentially selecting a filtered-away beatmap
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselRandom.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
Labels: area:song-select, size/M

#33382 SongSelectV2: Add padding to avoid overlap between mods button and personal best
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: area:song-select, size/XS

#33381 SongSelectV2: Fix unstable positions of panels when scrolling
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/Panel.cs
Labels: area:song-select, size/S

#33401 Use UTF-8 encoding when exporting skin archives
  osu.Game/Database/LegacySkinExporter.cs
Labels: area:skinning, size/XS

#33380 osu!taiko remove stamina skill component from `strainLengthBonus`
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#33373 SongSelectV2: Store input padding adjustments in `CarouselItem` to allow more reliable inflation
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Graphics/Carousel/CarouselItem.cs
  osu.Game/Screens/SelectV2/Panel.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
Labels: area:song-select, size/L

#33413 Update framework
  osu.Android.props
  osu.Game.Tests/Visual/Navigation/TestSceneOsuGame.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#33402 Fix track not looping if specified preview point exceeds duration of track
  osu.Game/Beatmaps/WorkingBeatmap.cs
Labels: size/S, audio

#33420 Change method of accessing song select v2 to hold
  osu.Game/Screens/Menu/MainMenu.cs
Labels: area:song-select, size/L

#33418 SongSelectV2: Animate placeholder ghost
  osu.Game.Tests/Visual/UserInterface/TestSceneGhostIcon.cs
  osu.Game/Graphics/GhostIcon.cs
  osu.Game/Screens/SelectV2/NoResultsPlaceholder.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
  osu.Game/osu.Game.csproj
Labels: area:song-select, type:cosmetic, size/L

#33451 Fix extreme Drawable thrashing on initial leaderboard population
  osu.Game/Screens/Select/Leaderboards/SoloGameplayLeaderboardProvider.cs
Labels: type:performance, size/XS, area:leaderboards

#33450 Disallow selected mods from being valid for freestyle as required mods due to them not being consistently compatible with other mods across rulesets
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game/Rulesets/Mods/ModAccuracyChallenge.cs
  osu.Game/Rulesets/Mods/ModFlashlight.cs
  osu.Game/Rulesets/Mods/ModHidden.cs
Labels: area:multiplayer, size/M, area:playlists

#33439 Hack around hold-for-right-click mobile thing not allowing to hold to access song select v2 in main menu
  osu.Game/Screens/Menu/MainMenuButton.cs
  osu.Game/Screens/Menu/OsuLogo.cs
Labels: type:input, area:song-select, area:main-menu, platform/mobile, size/S, next release

#33495 Fix general confusion in which combo should be read on which gameplay leaderboard
  osu.Game.Tests/Visual/Gameplay/TestSceneHUDOverlayRulesetLayouts.cs
  osu.Game/Online/Spectator/SpectatorScoreProcessor.cs
  osu.Game/Screens/Select/Leaderboards/GameplayLeaderboardScore.cs
  osu.Game/Screens/Select/Leaderboards/MultiplayerLeaderboardProvider.cs
  osu.Game/Screens/Select/Leaderboards/SoloGameplayLeaderboardProvider.cs
Labels: area:gameplay, size/M, next release

#33503 Prevent rank display shown in skin editor toolbox from playing samples
  osu.Game/Localisation/DefaultRankDisplayStrings.cs
  osu.Game/Overlays/SkinEditor/SkinComponentToolbox.cs
  osu.Game/Screens/Play/HUD/DefaultRankDisplay.cs
Labels: area:skinning, size/M, audio, area:skin-editor, next release

#33502 Fix simplified rhythm mod not working on some beatmaps
  osu.Game.Rulesets.Taiko.Tests/Mods/TestSceneTaikoModSimplifiedRhythm.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModSimplifiedRhythm.cs
Labels: ruleset/osu!taiko, area:mods, size/M

#33415 osu!taiko remove multipliers nerfing Easy mod
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#33509 Fix loading spinner without a box clipping
  osu.Game/Graphics/UserInterface/LoadingSpinner.cs
Labels: type:cosmetic, size/M

#33417 Reduce combo scaling for osu!catch
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
Labels: ruleset/osu!catch, area:difficulty, size/XS

#33553 Fix mods blocking drag and right-click input on leaderboards
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore.cs
Labels: type:input, area:song-select, size/S

#33500 osu!taiko simplify pp summing and make performance attributes accurate
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#33409 osu!taiko new miss penalty using consistency factor
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#33570 Song Select V2: Fix GPU overhead on carousel scroll
  osu.Game/Screens/SelectV2/Panel.cs
  osu.Game/Screens/SelectV2/PanelSetBackground.cs
Labels: area:song-select, size/M

#33541 Decouple velocity change bonus from wide angle bonus
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#33578 Fix presenting another user's score hiding local user's score on results screen
  osu.Game.Tests/Visual/Ranking/TestSceneSoloResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: type:online, area:results, size/M

#33584 Fix flaky collections test
  osu.Game.Tests/Visual/SongSelect/TestSceneManageCollectionsDialog.cs
Labels: type:testing, size/XS

#33581 Disallow placing gameplay leaderboard in skins outside player
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditorMultipleSkins.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinnableHUDOverlay.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/HUD/DrawableGameplayLeaderboard.cs
  osu.Game/Screens/Play/SpectatorPlayer.cs
  osu.Game/Screens/Select/Leaderboards/IGameplayLeaderboardProvider.cs
Labels: area:skinning, size/M

#33597 Remove logo scale when mod select appears
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, type:behavioural, size/XS

#33605 Remove shear on update button to match non-sheared panel design
  osu.Game.Tests/Visual/SongSelectV2/TestScenePanelUpdateBeatmapButton.cs
  osu.Game/Screens/SelectV2/PanelUpdateBeatmapButton.cs
Labels: area:song-select, size/M

#33608 Update velopack to fix macOS update overheads
  osu.Desktop/Program.cs
  osu.Desktop/osu.Desktop.csproj
Labels: area:installer, size/S

#33607 SongSelectV2: Show full mod details in footer
  osu.Game/Screens/SelectV2/FooterButtonMods.cs
Labels: area:song-select, size/M

#33582 osu!taiko changes to length bonus using consistency factor
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#33610 Fix results screen not showing local scores on results screen for some beatmap statuses
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: area:results, size/S

#33616 Fix timeline not updating ticks correctly after arbitrary timing control point changes (again)
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineTickDisplay.cs
Labels: area:editor, type:cosmetic, size/S

#33598 Allow changing difficulties using up and down arrows when sets are grouped
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: area:song-select, size/M

#33628 Add back scrollbar padding in new beatmap carousel
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, size/S

#33632 Fix corner clicks not activating back button at new song select
  osu.Game.Tests/Visual/Navigation/TestSceneSongSelectNavigation.cs
  osu.Game/Screens/Footer/ScreenBackButton.cs
Labels: area:song-select, size/M

#33638 Fix partially displayed leaderboard scores looking wrong when resizing game
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore.cs
Labels: area:song-select, type:cosmetic, size/XL

#33626 Allow using previous valid score for offset calibration when subsequent retries are too short
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/M

#33639 Move and rename next/previous "group" selection keybindings to make way for group-specific bindings
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselRandom.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: type:code-quality, size/L

#33629 Add ability to reveal background when long pressing in empty space
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33667 Ensure filtering is always waited on after a sort/filter change in tests
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselRandom.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselScrolling.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselUpdateHandling.cs
Labels: type:testing, size/L

#33423 Optimize rhythm evaluation by replacing curve
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
Labels: ruleset/osu!, area:difficulty, size/S

#33680 Add support for reading and displaying the release stream suffix
  osu.Game.Tests/Visual/Online/TestSceneChangelogOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIUpdateStream.cs
  osu.Game/OsuGame.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/ChangelogOverlay.cs
  osu.Game/Overlays/Settings/SettingsFooter.cs
  osu.Game/Updater/UpdateManager.cs
  osu.Game/Utils/SentryLogger.cs
Labels: area:installer, size/M

#33683 Add block / unblock options to chat and user profile overlay
  osu.Game/Overlays/Chat/DrawableChatUsername.cs
  osu.Game/Overlays/Profile/Header/CentreHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/UserActionsButton.cs
  osu.Game/Overlays/UserProfileOverlay.cs
  osu.Game/Users/ConfirmBlockActionDialog.cs
  osu.Game/Users/UserPanel.cs
Labels: area:overlay-user-profile, area:overlay-chat, size/L

#33723 Visual pass on loading spinner
  osu.Game.Tests/Visual/UserInterface/TestSceneLoadingLayer.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneLoadingSpinner.cs
  osu.Game/Graphics/UserInterface/LoadingLayer.cs
  osu.Game/Graphics/UserInterface/LoadingSpinner.cs
Labels: type:cosmetic, size/L

#33735 Fix mod adjustment marker not masking correctly
  osu.Game.Tests/Visual/SongSelectV2/TestSceneFooterButtonMods.cs
  osu.Game/Rulesets/UI/ModIcon.cs
Labels: area:song-select, type:cosmetic, size/XS

#33737 Fix mod button still working after gameplay start if player is not fully loaded
  osu.Game.Tests/Visual/SongSelectV2/SongSelectTestScene.cs
  osu.Game/OsuGame.cs
Labels: area:song-select, size/S

#33734 Fix skin layer not hiding when revealing background
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/S

#33754 Adjust some button's hover colours to improve visual contrast with text
  osu.Game/Graphics/UserInterfaceV2/FormButton.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
Labels: type:cosmetic, size/XS

#33753 Adjust rank formatting logic to avoid getting cut in score
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapLeaderboardScore.cs
  osu.Game/Utils/FormatUtils.cs
Labels: area:song-select, type:cosmetic, size/XS

#33717 Replace error functions in DifficultyCalculationUtils with good-enough approximations
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils_ErrorFunction.cs
Labels: ruleset/osu!taiko, ruleset/osu!, area:difficulty, size/XL

#33771 Ignore case when parsing `OSU_EXTERNAL_UPDATE_STREAM`
  osu.Game/Updater/NoActionUpdateManager.cs
Labels: area:installer, size/XS

#33764 Fix drawable hold notes continuing to show hit lighting with No Release mod and classic skin
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableHoldNote.cs
Labels: ruleset/osu!mania, area:skinning, size/XS

#33777 Fix flaky test failures at main menu due to early `ScalingContainer` access
  osu.Game/Screens/Menu/MainMenu.cs
Labels: type:testing, size/M

#33668 Add support for traversing and toggling expanded state of song select groups
  osu.Game.Tests/Visual/SongSelectV2/BeatmapCarouselTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselFiltering.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/FilterControl.cs
Labels: area:song-select, size/L

#33765 Fix incompatible mods not retaining settings after selecting autoplay via ctrl+enter
  osu.Game.Rulesets.Osu/Mods/OsuModMagnetised.cs
  osu.Game.Tests/Visual/Navigation/TestSceneSongSelectNavigation.cs
  osu.Game/Screens/Select/PlaySongSelect.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
Labels: area:song-select, size/M

#33775 SongSelectV2: Fix pressing multiple traversal keys in same frame causing weirdness
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselNoGrouping.cs
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/M

#33787 Use localised strings for SSV2
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmap.cs
  osu.Game.Rulesets.Mania/Beatmaps/ManiaBeatmap.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmap.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmap.cs
  osu.Game/Localisation/BeatmapStatisticStrings.cs
  osu.Game/Localisation/SongSelectStrings.cs
  osu.Game/Screens/SelectV2/BeatmapLeaderboardScore_Tooltip.cs
  osu.Game/Screens/SelectV2/BeatmapMetadataWedge.cs
  osu.Game/Screens/SelectV2/FilterControl_DifficultyRangeSlider.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/L

#33848 Fix spectator button not working when user is playing daily challenge
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
Labels: type:online, size/XS

#33850 Fix very short kiai sections not showing up on editor summary timeline
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/KiaiPart.cs
Labels: area:editor, size/XS

#33854 Fix download requests firing too often in multiplayer spectator
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
Labels: area:multiplayer, size/S

#33679 Floor star rating to 2 decimal places rather than rounding
  osu.Game.Tests/NonVisual/Filtering/FilterQueryParserTest.cs
  osu.Game.Tests/NonVisual/FormatUtilsTest.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterQueryParser.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterMatching.cs
  osu.Game/Utils/FormatUtils.cs
Labels: area:difficulty, size/M

#33878 Ensure global leaderboard state matches beatmap when loading player
  osu.Game.Tests/Visual/Navigation/TestSceneSongSelectNavigation.cs
  osu.Game/Screens/Play/PlayerLoader.cs
Labels: area:gameplay, size/M, area:leaderboards

#33879 Rewrite and add commentary to selection debounce logic
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: type:code-quality, size/M

#33881 Remove no longer used method
  osu.Game.Rulesets.Osu/Mods/OsuModTargetPractice.cs
  osu.Game.Tests/Mods/ModDifficultyAdjustTest.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneAdvancedStats.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
  osu.Game/Rulesets/Mods/ModEasy.cs
  osu.Game/Rulesets/Mods/ModHardRock.cs
Labels: type:code-quality, area:mods, size/S

#33880 Fix user tags moving in the control after voting
  osu.Game.Tests/Visual/Ranking/TestSceneUserTagControl.cs
  osu.Game/Screens/Ranking/UserTagControl.cs
  osu.Game/Screens/Ranking/UserTagControl_DrawableUserTag.cs
Labels: type:behavioural, size/M, area:tags

#33615 Fix lack of slider encode-decode stability due to truncating control point coordinates on decode
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObjectParser.cs
Labels: area:beatmap-parsing, size/M

#33898 Fix potential null reference in `RoomNameLine`
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomPanel.cs
Labels: size/XS, type:reliability

#33888 Allow changing weight in `TextElement` and similar skin elements
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Skinning/FontAdjustableSkinComponent.cs
Labels: area:skinning, size/M

#33904 Fix lag when checking for update
  osu.Game/Updater/UpdateManager.cs
Labels: area:installer, size/XS

#33411 Implement difficulty evaluators in the osu! mania ruleset
  osu.Game.Rulesets.Mania/Difficulty/Evaluators/IndividualStrainEvaluator.cs
  osu.Game.Rulesets.Mania/Difficulty/Evaluators/OverallStrainEvaluator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/Preprocessing/ManiaDifficultyHitObject.cs
  osu.Game.Rulesets.Mania/Difficulty/Skills/Strain.cs
Labels: ruleset/osu!mania, area:difficulty, size/L

#33908 Fix beatmap skin sample lookups falling back to non-custom sample banks if the custom bank sample was not found
  osu.Game.Rulesets.Osu.Tests/TestSceneOsuHitObjectSamples.cs
  osu.Game.Rulesets.Taiko.Tests/TestSceneTaikoHitObjectSamples.cs
  osu.Game.Tests/Gameplay/TestSceneHitObjectSamples.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: area:beatmap-parsing, size/M, audio

#33670 Ensure partial failed replays are played to their end
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Screens/Play/ReplayPlayer.cs
Labels: area:replay, size/M

#33957 Improve random button sound effects
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, size/M

#33958 Fix player settings no longer collapsing correctly
  osu.Game.Tests/Visual/Gameplay/TestSceneReplayPlayer.cs
  osu.Game/Graphics/Containers/ExpandingContainer.cs
Labels: area:gameplay, size/M, next release

#33959 Remove unnecessary skin settings descriptions
  osu.Game/Localisation/SkinComponents/BeatmapAttributeTextStrings.cs
  osu.Game/Localisation/SkinComponents/SkinnableComponentStrings.cs
  osu.Game/Screens/Play/HUD/ArgonAccuracyCounter.cs
  osu.Game/Screens/Play/HUD/ArgonComboCounter.cs
  osu.Game/Screens/Play/HUD/ArgonPerformancePointsCounter.cs
  osu.Game/Screens/Play/HUD/ArgonScoreCounter.cs
  osu.Game/Screens/Play/HUD/ArgonSongProgress.cs
  osu.Game/Screens/Play/HUD/ArgonWedgePiece.cs
  osu.Game/Screens/Play/HUD/DefaultSongProgress.cs
  osu.Game/Skinning/Components/BeatmapAttributeText.cs
  osu.Game/Skinning/Components/BoxElement.cs
  osu.Game/Skinning/Components/TextElement.cs
  osu.Game/Skinning/FontAdjustableSkinComponent.cs
  osu.Game/Skinning/SkinnableSprite.cs
Labels: area:skinning, type:localisation, size/M

#33962 Fix Difficulty Adjust extended mod icon information not showing with extended limits active
  osu.Game.Rulesets.Catch/Mods/CatchModDifficultyAdjust.cs
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game.Rulesets.Taiko/Mods/TaikoModDifficultyAdjust.cs
  osu.Game/Rulesets/Mods/ModDifficultyAdjust.cs
Labels: area:mods, type:cosmetic, size/M
