Repository ppy/osu, pull requests merged in 2025-02, with the labels that each got.

#31733 Abstract out `WizardOverlay` for multi-step wizard type screens
  osu.Game/Overlays/FirstRunSetup/ScreenBeatmaps.cs
  osu.Game/Overlays/FirstRunSetup/ScreenBehaviour.cs
  osu.Game/Overlays/FirstRunSetup/ScreenImportFromStable.cs
  osu.Game/Overlays/FirstRunSetup/ScreenUIScale.cs
  osu.Game/Overlays/FirstRunSetup/ScreenWelcome.cs
  osu.Game/Overlays/FirstRunSetupOverlay.cs
  osu.Game/Overlays/WizardOverlay.cs
  osu.Game/Overlays/WizardScreen.cs
Labels: size/XL, area:overlays

#31368 Improve osu!mania playability on mobile devices
  osu.Android/GameplayScreenRotationLocker.cs
  osu.Android/OsuGameActivity.cs
  osu.Android/OsuGameAndroid.cs
  osu.Game.Rulesets.Mania.Tests/Mods/TestSceneManiaModFadeIn.cs
  osu.Game.Rulesets.Mania.Tests/Skinning/TestSceneColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaTouchInput.cs
  osu.Game.Rulesets.Mania.Tests/TestSceneManiaTouchInputArea.cs
  osu.Game.Rulesets.Mania/ManiaInputManager.cs
  osu.Game.Rulesets.Mania/Mods/ManiaModWithPlayfieldCover.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaJudgementPiece.cs
  osu.Game.Rulesets.Mania/UI/Column.cs
  osu.Game.Rulesets.Mania/UI/Components/ColumnHitObjectArea.cs
  osu.Game.Rulesets.Mania/UI/Components/HitPositionPaddedContainer.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaRuleset.cs
  osu.Game.Rulesets.Mania/UI/ManiaPlayfieldAdjustmentContainer.cs
  osu.Game.Rulesets.Mania/UI/ManiaTouchInputArea.cs
  osu.Game.Rulesets.Mania/UI/Stage.cs
  osu.Game/OsuGame.cs
  osu.Game/Rulesets/UI/DrawableRuleset.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Utils/MobileUtils.cs
  osu.iOS/AppDelegate.cs
  osu.iOS/OsuGameIOS.cs
Labels: ruleset/osu!mania, platform/mobile, size/XL, notable feature

#31747 Do not reset online information when saving beatmap
  osu.Game.Tests/Visual/Editing/TestSceneLocallyModifyingOnlineBeatmaps.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, area:editor, size/S

#31742 Fix results screen sounds persisting after exit
  osu.Game/Screens/Ranking/Expanded/Accuracy/AccuracyCircle.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/L, audio

#31737 Fix distance snap time part ceasing to work when grid snap is also active
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
Labels: ruleset/osu!, area:editor, size/XS

#31743 Avoid moving already placed objects temporally when "limit distance snap to current time" is active
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/HitCirclePlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuBlueprintContainer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: ruleset/osu!, area:editor, size/M

#31778 Make distance snap settings mutually exclusive
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#31775 Avoid accessing `WorkingBeatmap.Beatmap` every update call
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Screens/Play/MasterGameplayClockContainer.cs
Labels: type:performance, size/M

#31776 Fix depth ordering in new carousel not being relative to selected item
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, type:cosmetic, size/XS

#31734 Fix multi-segment-type sliders getting mangled on legacy export
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Database/LegacyBeatmapExporter.cs
Labels: ruleset/osu!, area:beatmap-parsing, area:editor, size/M

#31785 Fix carousel tests failing due to dependency on depth ordering
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
Labels: size/XS, type:reliability

#31787 Add expanded state tracking to beatmap carousel v2
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2GroupSelection.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapPanel.cs
  osu.Game/Screens/SelectV2/BeatmapSetPanel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
  osu.Game/Screens/SelectV2/CarouselItem.cs
  osu.Game/Screens/SelectV2/GroupPanel.cs
  osu.Game/Screens/SelectV2/ICarouselPanel.cs
Labels: area:song-select, size/L

#31783 Implement "form button" control
  osu.Game.Tests/Visual/UserInterface/TestSceneFormControls.cs
  osu.Game/Graphics/UserInterfaceV2/FormButton.cs
Labels: type:cosmetic, size/L

#31791 Always select the closest control point group regardless of whether it has a timing point on entering timing screen
  osu.Game/Screens/Edit/Timing/ControlPointList.cs
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: area:editor, size/M

#31260 Add support for "freestyle" in multiplayer
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game/Localisation/MultiplayerMatchStrings.cs
  osu.Game/Online/Multiplayer/IMultiplayerClient.cs
  osu.Game/Online/Multiplayer/IMultiplayerRoomServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomUser.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Rooms/CreateRoomScoreRequest.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/MultiplayerScore.cs
  osu.Game/Online/Rooms/PlaylistItem.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeLeaderboard.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylistItem.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreeMods.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreestyle.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/FreestyleStatusPill.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchFreestyleSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayFreestyleSelect.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomFreestyleSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsSongSelect.cs
  osu.Game/Screens/Select/Carousel/CarouselBeatmap.cs
  osu.Game/Screens/Select/FilterControl.cs
  osu.Game/Screens/Select/FilterCriteria.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/XXL, area:playlists, notable feature

#31795 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#31780 Added warning before bookmark reset
  osu.Game/Screens/Edit/BookmarkResetDialog.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: area:editor, size/S

#31779 Change menus to fade out with a slight delay so settings changes are visible
  osu.Game/Graphics/UserInterface/OsuContextMenu.cs
  osu.Game/Graphics/UserInterface/OsuMenu.cs
Labels: type:cosmetic, size/M

#31789 Fix distance snap grid not properly working due to multiple issues
  osu.Game.Rulesets.Catch/Edit/CatchDistanceSnapProvider.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapGrid.cs
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapProvider.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Tests/Editing/TestSceneHitObjectComposerDistanceSnapping.cs
  osu.Game.Tests/Visual/Editing/TestSceneDistanceSnapGrid.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/IDistanceSnapProvider.cs
  osu.Game/Rulesets/Objects/SliderPathExtensions.cs
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: ruleset/osu!, area:editor, size/L

#31524 Display up-to-date online status in user panels
  osu.Game.Tests/Online/TestSceneMetadataClient.cs
  osu.Game.Tests/Visual/Online/TestSceneCurrentlyOnlineDisplay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
  osu.Game/Overlays/DashboardOverlay.cs
  osu.Game/Screens/Spectate/SpectatorScreen.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
  osu.Game/Users/ExtendedUserPanel.cs
Labels: type:online, size/XL, area:overlay-dashboard, notable feature

#31798 Fix `Carousel.FilterAsync` not working when called from a non-update thread
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, size/M

#31803 Implement visual component for displaying submission progress
  osu.Game.Tests/Visual/Editing/TestSceneSubmissionStageProgress.cs
  osu.Game/Screens/Edit/Submission/SubmissionStageProgress.cs
Labels: area:editor, type:cosmetic, size/L

#31806 Improve bookmark controls
  osu.Game/Screens/Edit/BookmarkController.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/LegacyEditorBeatmapPatcher.cs
Labels: area:editor, size/L

#31802 Allow ordering certain carousel panels behind others
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/Carousel.cs
  osu.Game/Screens/SelectV2/CarouselItem.cs
Labels: area:song-select, size/S

#31817 Add invalidation on draw size change in beatmap carousel v2
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, size/S

#31636 Refactor of osu!taiko difficulty calculation code
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ColourEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ReadingEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/StaminaEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/TaikoColourData.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/TaikoColourDifficultyPreprocessor.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Reading/EffectiveBPM.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SamePatterns.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SamePatternsGroupedHitObjects.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythmHitObjectGrouping.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythmHitObjects.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoDifficultyHitObjectRhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoRhythmData.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoRhythmDifficultyPreprocessor.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/TaikoDifficultyHitObject.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Reading.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Utils/IHasInterval.cs
  osu.Game.Rulesets.Taiko/Difficulty/Utils/IntervalGroupingUtils.cs
Labels: type:code-quality, ruleset/osu!taiko, area:difficulty, size/XL

#31815 Add ruleset icon to expanded score panel
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
Labels: area:results, size/L

#31799 Support variable spacing between beatmap carousel panels
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game.Tests/Visual/Navigation/TestSceneBeatmapEditorNavigation.cs
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2DifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2NoGrouping.cs
  osu.Game.Tests/Visual/SongSelect/TestScenePlaySongSelect.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapPanel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, type:cosmetic, size/L

#31822 Don't attempt to submit zero scores
  osu.Game.Tests/Visual/Gameplay/TestScenePlayerScoreSubmission.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
Labels: type:online, size/M

#31804 Add API request & response structures for beatmap submission
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Menus/TestSceneMainMenu.cs
  osu.Game.Tests/Visual/Online/TestSceneWikiMarkdownContainer.cs
  osu.Game/Beatmaps/BeatmapInfoExtensions.cs
  osu.Game/Beatmaps/BeatmapSetInfoExtensions.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/APIRequest.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/APIUploadRequest.cs
  osu.Game/Online/API/Requests/PatchBeatmapPackageRequest.cs
  osu.Game/Online/API/Requests/PutBeatmapSetRequest.cs
  osu.Game/Online/API/Requests/ReplaceBeatmapPackageRequest.cs
  osu.Game/Online/API/Requests/Responses/PutBeatmapSetResponse.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Online/DevelopmentEndpointConfiguration.cs
  osu.Game/Online/EndpointConfiguration.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/ProductionEndpointConfiguration.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/Login/LoginForm.cs
  osu.Game/Overlays/Login/SecondFactorAuthForm.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
  osu.Game/Overlays/Profile/Header/Components/DrawableTournamentBanner.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Profile/Sections/Recent/DrawableRecentActivity.cs
  osu.Game/Overlays/Wiki/WikiPanelContainer.cs
  osu.Game/Overlays/WikiOverlay.cs
  osu.Game/Screens/Edit/Submission/ScreenFrequentlyAskedQuestions.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
  osu.Game/Utils/SentryLogger.cs
Labels: type:online, size/L

#31823 Refactor grouping to be much more efficient
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterSorting.cs
Labels: area:song-select, size/L

#31735 Calculate hit windows in performance calculator instead of databased difficulty attributes
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyAttributes.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!, area:difficulty, size/L

#31835 Changed the Currently Playing Text when no track is selected
  osu.Game/Beatmaps/DummyWorkingBeatmap.cs
Labels: size/XS

#31825 Fix slider ball rotation not being updated when rewinding to a slider
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderBall.cs
Labels: ruleset/osu!, area:editor, size/XS

#31841 Add percent progress display to editor footer
  osu.Game/Screens/Edit/Components/TimeInfoContainer.cs
Labels: area:editor, size/S

#31845 Fix incorrect thread access in recent iOS orientation changes
  osu.iOS/OsuGameIOS.cs
Labels: platform/iOS, size/XS, type:reliability, next release

#31844 Fix spectator list showing other users in multiplayer room even if they're not spectating
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorList.cs
  osu.Game/Screens/Play/HUD/SpectatorList.cs
Labels: type:online, area:gameplay, area:multiplayer, size/M

#31848 Add menu items to open beatmap info & discussion pages in browser from editor
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Screens/Edit/Editor.cs
Labels: type:online, area:editor, size/S

#31854 Disable scale animation when holding editor "test" button
  osu.Game/Screens/Edit/Components/Timelines/Summary/TestGameplayButton.cs
Labels: area:editor, size/S

#31846 Fix score position not being displayed in solo results screen
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: type:online, area:results, size/S

#22932 Show count of beatmaps in collections in manage dialog
  osu.Game/Collections/DrawableCollectionList.cs
  osu.Game/Collections/DrawableCollectionListItem.cs
Labels: type:cosmetic, size/M

#31861 Add comment warning about enum entry order in `GlobalAction`
  osu.Game/Input/Bindings/GlobalActionContainer.cs
Labels: size/XS

#31746 Add legacy taiko swell (spinner)
  osu.Game.Rulesets.Taiko.Tests/Skinning/TestSceneDrawableSwell.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwell.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/ArgonSwell.cs
  osu.Game.Rulesets.Taiko/Skinning/Argon/TaikoArgonSkinTransformer.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/DefaultSwell.cs
  osu.Game.Rulesets.Taiko/Skinning/Default/SwellCirclePiece.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacySwell.cs
  osu.Game.Rulesets.Taiko/Skinning/Legacy/TaikoLegacySkinTransformer.cs
Labels: ruleset/osu!taiko, area:skinning, size/XL

#31850 Allow user mods in multiplayer freestyle
  osu.Game.Tests/Mods/ModUtilsTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneFreeModSelectOverlay.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Components/OverlinedHeader.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreeMods.cs
  osu.Game/Screens/OnlinePlay/FooterButtonFreestyle.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylistTabControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSongSelect.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySongSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/Select/FooterButton.cs
  osu.Game/Utils/ModUtils.cs
Labels: area:multiplayer, size/L, area:playlists

#31864 Fix weird follow circle display when rewinding through sliders in editor
  osu.Game.Rulesets.Osu/Skinning/FollowCircle.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyFollowCircle.cs
Labels: ruleset/osu!, area:editor, size/M

#31868 Attempt to fix intermittent collections test
  osu.Game.Tests/Visual/Collections/TestSceneManageCollectionsDialog.cs
Labels: type:testing, size/XS, area:collections

#31805 Add initial beatmap submission support
  osu.Game.Tests/Visual/Editing/TestSceneBeatmapSubmissionOverlay.cs
  osu.Game/Database/LegacyBeatmapExporter.cs
  osu.Game/Localisation/BeatmapSubmissionStrings.cs
  osu.Game/Localisation/EditorStrings.cs
  osu.Game/Online/API/Requests/PatchBeatmapPackageRequest.cs
  osu.Game/Online/API/Requests/ReplaceBeatmapPackageRequest.cs
  osu.Game/Online/DevelopmentEndpointConfiguration.cs
  osu.Game/Overlays/WizardOverlay.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionOverlay.cs
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionScreen.cs
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionSettings.cs
  osu.Game/Screens/Edit/Submission/ScreenSubmissionSettings.cs
  osu.Game/Screens/Edit/Submission/SubmissionBeatmapExporter.cs
Labels: area:editor, size/XL, notable feature

#31876 Disallow focus on difficulty range slider
  osu.Game/Graphics/UserInterface/OsuSliderBar.cs
  osu.Game/Graphics/UserInterface/RangeSlider.cs
Labels: area:song-select, size/XS

#31596 Fix toolbox settings hiding when dragging a slider
  osu.Game/Overlays/SettingsToolboxGroup.cs
Labels: size/S

#31821 Add playlist to new collection button present on playlist room
  osu.Game.Tests/Visual/Playlists/TestSceneAddPlaylistToCollectionButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/AddPlaylistToCollectionButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: size/L, area:playlists

#31371 Improve default UI scale on iOS
  .idea/.idea.osu.Android/.idea/deploymentTargetSelector.xml
  osu.Android/OsuGameAndroid.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Containers/ScalingContainer.cs
  osu.Game/OsuGame.cs
  osu.iOS/OsuGameIOS.cs
Labels: platform/iOS, size/M

#31880 Add basic display support for team logos
  osu.Game.Tests/Resources/Archives/modified-argon-20250214.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Online/API/Requests/Responses/APITeam.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoreTable.cs
  osu.Game/Overlays/BeatmapSet/Scores/TopScoreUserSection.cs
  osu.Game/Overlays/KudosuTable.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
  osu.Game/Overlays/Rankings/Tables/CountriesTable.cs
  osu.Game/Overlays/Rankings/Tables/RankingsTable.cs
  osu.Game/Overlays/Rankings/Tables/UserBasedTable.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Participants/ParticipantPanel.cs
  osu.Game/Screens/Play/HUD/PlayerTeamFlag.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
  osu.Game/Users/Drawables/UpdateableTeamFlag.cs
  osu.Game/Users/UserGridPanel.cs
  osu.Game/Users/UserPanel.cs
  osu.Game/Users/UserRankPanel.cs
Labels: type:cosmetic, size/L

#31741 Fix failed scores with no hits on beatmaps with ridiculous mod combinations showing hundreds of pp points awarded
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#31885 Use fixed width for digital clock display
  osu.Game/Overlays/Toolbar/DigitalClockDisplay.cs
Labels: type:cosmetic, size/M, area:toolbar

#31904 Fix team flag layout on user profile
  osu.Game.Tests/Visual/Online/TestSceneUserProfileOverlay.cs
  osu.Game/Overlays/Profile/Header/TopHeaderContainer.cs
Labels: type:cosmetic, area:overlay-user-profile, size/M, next release

#31911 Update framework (and minor package bumps)
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Android.props
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game.Tests/Visual/Playlists/TestSceneAddPlaylistToCollectionButton.cs
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/M, next release

#31910 Stop beat divisor "slider" from accepting focus
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: area:editor, size/XS

#31912 Fix some more visual issues with osu! distance snap grid
  osu.Game/Screens/Edit/Compose/Components/CircularDistanceSnapGrid.cs
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: ruleset/osu!, area:editor, size/S

#31917 Fix nudge operations incurring FP error from coordinate space conversions
  osu.Game.Rulesets.Catch/Edit/CatchSelectionHandler.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: type:code-quality, area:editor, size/L

#31232 Add "Fail when missing on a slider end" option in Sudden Death mod
  osu.Game.Rulesets.Osu.Tests/Mods/TestSceneOsuModSuddenDeath.cs
  osu.Game.Rulesets.Osu/Mods/OsuModSuddenDeath.cs
Labels: area:mods, size/M

#31923 Fix selected sliders sometimes not being clickable in editor
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: area:editor, size/XS

#31922 Stop "hold for HUD" key binding from blocking other key presses
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:gameplay, size/XS

#31924 Fix kiai fountains sometimes not displaying when they should
  osu.Game/Graphics/Containers/BeatSyncedContainer.cs
  osu.Game/Screens/Menu/KiaiMenuFountains.cs
  osu.Game/Screens/Play/KiaiGameplayFountains.cs
Labels: area:gameplay, size/M

#31926 Fix beatmap export failure not aborting submission process
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionScreen.cs
Labels: area:editor, size/XS

#31928 Fix nudging objects in catch editor not changing their hyperdash state
  osu.Game.Rulesets.Taiko/Edit/TaikoSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: ruleset/osu!catch, area:editor, size/S

#31925 Fix several issues with API login flow which manifest on second factor authentication
  osu.Game/Online/API/APIAccess.cs
Labels: type:online, size/M, type:reliability

#31945 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#31941 Fix multiplayer spectator not working with freestyle
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
Labels: area:multiplayer, size/S, area:spectator, next release

#31774 Implement designs for beatmap carousel v2
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2ArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2DifficultyGrouping.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2NoGrouping.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2Scrolling.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselV2DifficultyPanel.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselV2GroupPanel.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselV2SetPanel.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselV2StandalonePanel.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneUpdateBeatmapSetButtonV2.cs
  osu.Game/Beatmaps/Drawables/DifficultySpectrumDisplay.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapPanel.cs
  osu.Game/Screens/SelectV2/BeatmapSetPanel.cs
  osu.Game/Screens/SelectV2/BeatmapSetPanelBackground.cs
  osu.Game/Screens/SelectV2/CarouselItem.cs
  osu.Game/Screens/SelectV2/GroupPanel.cs
  osu.Game/Screens/SelectV2/PanelBase.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/PanelBeatmapStandalone.cs
  osu.Game/Screens/SelectV2/PanelGroup.cs
  osu.Game/Screens/SelectV2/PanelGroupStarDifficulty.cs
  osu.Game/Screens/SelectV2/SongSelectV2.cs
  osu.Game/Screens/SelectV2/TopLocalRank.cs
  osu.Game/Screens/SelectV2/UpdateBeatmapSetButton.cs
Labels: area:song-select, type:cosmetic, size/XXL

#31969 Adjust handling of team flags with non-matching aspect ratio to match web
  osu.Game.Tournament/Components/DrawableTeamFlag.cs
  osu.Game/Users/Drawables/UpdateableTeamFlag.cs
Labels: type:online, type:cosmetic, size/M

#31967 Fix results screen applause playing too loud during multiplayer spectating
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
  osu.Game/Screens/Play/KiaiGameplayFountains.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: area:results, size/XS

#31965 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#31968 Fix osu!taiko and osu!catch being oversized on mobile platforms
  osu.Android/OsuGameAndroid.cs
  osu.Game.Rulesets.Catch/UI/CatchPlayfieldAdjustmentContainer.cs
  osu.Game.Rulesets.Taiko/UI/DrumTouchInputArea.cs
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
  osu.Game/OsuGame.cs
  osu.iOS/OsuGameIOS.cs
Labels: ruleset/osu!taiko, ruleset/osu!catch, platform/mobile, size/M, next release

#32004 Fix wrong beatmap attributes in multiplayer spectate
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/PlayerArea.cs
Labels: area:multiplayer, size/XS, area:spectator

#32050 Fix terminology and capitalisation on high precision mouse tooltip
  osu.Game/Localisation/MouseSettingsStrings.cs
Labels: area:settings, type:localisation, size/XS

#32011 Adjust rounding tolerance in distance snap grid ring colour logic
  osu.Game/Screens/Edit/Compose/Components/DistanceSnapGrid.cs
Labels: ruleset/osu!, area:editor, size/XS

#32014 Fix "use current distance snap" button incorrectly factoring in last object with velocity
  osu.Game.Rulesets.Osu/Edit/OsuDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
Labels: ruleset/osu!, area:editor, size/S

#32005 Fix host change sounds playing when exiting multiplayer rooms
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomSounds.cs
Labels: area:multiplayer, size/M, audio

#32079 Add support for team chat channels
  osu.Game.Tests/Visual/Online/TestSceneChannelList.cs
  osu.Game/Online/Chat/ChannelType.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
  osu.Game/Overlays/Chat/ChannelList/ChannelListItem.cs
Labels: area:overlay-chat, size/M, next release, notable feature

#32085 Fix taiko swell ending samples playing at results sometimes
  osu.Game/Rulesets/UI/Scrolling/ScrollingHitObjectContainer.cs
Labels: ruleset/osu!taiko, area:gameplay, size/XS, audio, next release

#32084 Do not give swell ticks any visual representation
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableSwellTick.cs
  osu.Game.Rulesets.Taiko/Objects/Drawables/DrawableTaikoHitObject.cs
Labels: ruleset/osu!taiko, area:gameplay, type:cosmetic, size/S

#32081 Fix hash comparison being case sensitive when choosing files for partial beatmap submission
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionScreen.cs
Labels: area:editor, size/XS, next release

#32096 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#32077 Fix double-clicking difficulty adjust sliders not resetting the value to default correctly
  osu.Game.Rulesets.Osu/Mods/OsuModDifficultyAdjust.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModDifficultyAdjustSettings.cs
  osu.Game/Graphics/UserInterface/RoundedSliderBar.cs
  osu.Game/Rulesets/Mods/DifficultyAdjustSettingsControl.cs
Labels: area:mods, type:behavioural, size/M

#32107 Fix `PlayerTeamFlag` skinnable component not showing team details during replay
  osu.Game/Screens/Play/HUD/PlayerTeamFlag.cs
Labels: area:gameplay, size/S

#32108 Adjust leaderboard score design slightly
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, type:cosmetic, size/XS, next release

#31595 January 2025 Diffcalc/PP release
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyAttributes.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/CatchPerformanceCalculator.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyAttributes.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/FlashlightEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ColourEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ReadingEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/StaminaEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/TaikoColourData.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Colour/TaikoColourDifficultyPreprocessor.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SamePatternsGroupedHitObjects.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/Data/SameRhythmHitObjectGrouping.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoDifficultyHitObjectRhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoRhythmData.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/Rhythm/TaikoRhythmDifficultyPreprocessor.cs
  osu.Game.Rulesets.Taiko/Difficulty/Preprocessing/TaikoDifficultyHitObject.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Reading.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Utils/IHasInterval.cs
  osu.Game.Rulesets.Taiko/Difficulty/Utils/IntervalGroupingUtils.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils_ErrorFunction.cs
Labels: area:difficulty, size/XXL, next release

#32111 Prevent closing team chat channels via Ctrl-W
  osu.Game/Overlays/ChatOverlay.cs
Labels: area:overlay-chat, size/XS

#32110 Limit number of allowed beatmap combo colours to 8
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapEncoderTest.cs
  osu.Game.Tests/Resources/too-many-combo-colours.osu
  osu.Game/Beatmaps/Formats/LegacyBeatmapEncoder.cs
  osu.Game/Beatmaps/Formats/LegacyDecoder.cs
  osu.Game/Graphics/UserInterfaceV2/FormColourPalette.cs
  osu.Game/Graphics/UserInterfaceV2/RoundedButton.cs
  osu.Game/Overlays/BeatmapSet/Buttons/FavouriteButton.cs
  osu.Game/Overlays/Settings/SettingsButton.cs
  osu.Game/Screens/Edit/Setup/ColoursSection.cs
  osu.Game/Screens/OnlinePlay/Components/ReadyButton.cs
  osu.Game/Screens/OnlinePlay/Playlists/AddPlaylistToCollectionButton.cs
Labels: area:beatmap-parsing, area:editor, size/L

#32130 Fix sliders not being selectable if the body is hidden but the head is still visible
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
Labels: ruleset/osu!, type:input, area:editor, size/XS

#32151 Add support for legacy osu!mania barline height and colour spec
  osu.Game.Rulesets.Mania/Objects/Drawables/DrawableBarLine.cs
  osu.Game.Rulesets.Mania/Skinning/Default/DefaultBarLine.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyBarLine.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game/Skinning/LegacyManiaSkinConfiguration.cs
  osu.Game/Skinning/LegacyManiaSkinConfigurationLookup.cs
  osu.Game/Skinning/LegacyManiaSkinDecoder.cs
  osu.Game/Skinning/LegacySkin.cs
Labels: ruleset/osu!mania, area:skinning, size/M

#32149 Adjust preview time display to not conflict with bookmarks
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/PreviewTimePart.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/SummaryTimeline.cs
Labels: area:editor, size/S

#32109 Fix multiplayer results screen displaying same beatmap for all users
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game/Online/Rooms/MultiplayerScore.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Spectate/MultiSpectatorResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemScoreResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemUserBestResultsScreen.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/SoloResultsScreen.cs
Labels: area:multiplayer, area:results, size/L, area:playlists
