Repository ppy/osu, pull requests merged in 2025-10, with the labels that each got.

#35159 Add half-height-of-selected-panel adjustment to carousel scroll target
  osu.Game/Graphics/Carousel/Carousel.cs
Labels: area:song-select, size/XS, quick fix

#35158 Fix song select carousel sometimes teleporting on beatmap set deletion
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, type/behavioural, size/XS

#35163 Do not forcibly re-expand carousel groups on refilters if the user manually collapsed them
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselArtistGrouping.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneBeatmapCarouselDifficultyGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, type/behavioural, size/M

#34976 Refactor spritesheet-based icons to be single-file based
  osu.Game/Graphics/OsuIcon.cs
  osu.Game/OsuGameBase.cs
  osu.Game/osu.Game.csproj
Labels: code quality, size/L

#35154 Add structure and support for jumping in quick play rooms
  osu.Game.Tests/Visual/Matchmaking/TestScenePlayerPanel.cs
  osu.Game/Online/Matchmaking/Events/MatchmakingAvatarAction.cs
  osu.Game/Online/Matchmaking/Events/MatchmakingAvatarActionEvent.cs
  osu.Game/Online/Matchmaking/Events/MatchmakingAvatarActionRequest.cs
  osu.Game/Online/Multiplayer/MatchServerEvent.cs
  osu.Game/Online/Multiplayer/MatchUserRequest.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/SignalRWorkaroundTypes.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/MatchmakingChatDisplay.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/PlayerPanel.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/ScreenMatchmaking.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: area:multiplayer, size/L

#35179 Attempt to scroll carousel to nearest expanded panel when the current selection is filtered out
  osu.Game/Graphics/Carousel/Carousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
Labels: area:song-select, type/behavioural, size/S

#35188 Fix wrong leaderboard flashing briefly when quickly changing beatmaps
  osu.Game/Screens/SelectV2/BeatmapLeaderboardWedge.cs
Labels: area:song-select, type/behavioural, size/XS

#35199 Adjust colouring to make current row in timing visualisation more obvious
  osu.Game/Screens/Edit/Timing/WaveformComparisonDisplay.cs
Labels: area:editor, quick fix

#35184 Expand group that current selection resides in when moving mouse to left side of song select
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, type/behavioural, size/M

#35185 Yet more matchmaking SFX work
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/StageDisplay.StageSegment.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/StageDisplay.StatusText.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Match/StageDisplay.cs
  osu.Game/Screens/OnlinePlay/Matchmaking/Queue/ScreenQueue.cs
  osu.Game/osu.Game.csproj
Labels: size/L, type/audio
