Repository ppy/osu, pull requests merged in 2025-03, with the labels that each got.

#32192 Cancel beatmap load in more loops
  osu.Game/Rulesets/Objects/HitObject.cs
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
Labels: type:performance, area:beatmap-parsing, size/XS

#32153 Apply first wave blanket fixes to new beatmap carousel design
  osu.Game/Beatmaps/Drawables/BeatmapSetOnlineStatusPill.cs
  osu.Game/Screens/SelectV2/BeatmapSetPanelBackground.cs
  osu.Game/Screens/SelectV2/PanelBase.cs
  osu.Game/Screens/SelectV2/PanelBeatmap.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
  osu.Game/Screens/SelectV2/SongSelectV2.cs
Labels: area:song-select, size/L

#32135 Fix settings control not visible because of previous search
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Overlays/SettingsPanel.cs
Labels: area:settings, size/S

#32197 Always zoom timeline to centre rather than focus point
  osu.Game.Tests/Visual/Editing/TestSceneZoomableScrollContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
Labels: area:editor, size/XS

#32209 Fix intermittent score panel test
  osu.Game.Tests/Visual/Ranking/TestSceneExpandedPanelMiddleContent.cs
Labels: type:testing, size/XS

#32204 Use web localisable string for team channel label
  osu.Game/Overlays/Chat/ChannelList/ChannelList.cs
Labels: type:localisation, area:overlay-chat, size/XS

#32208 Cancel difficulty calculation after 10 seconds by default
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
Labels: type:performance, area:difficulty, size/S

#32210 Fix being unable to join multiplayer rooms with many users
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game/Online/API/Requests/GetUsersRequest.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
Labels: area:multiplayer, size/M, next release

#31637 Create, join, and part multiplayer rooms only via the multiplayer server
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableLoungeRoom.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/TestMultiplayerComponents.cs
  osu.Game/Online/Multiplayer/IMultiplayerLoungeServer.cs
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerClientExtensions.cs
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
  osu.Game/Online/Multiplayer/MultiplayerRoomSettings.cs
  osu.Game/Online/Multiplayer/OnlineMultiplayerClient.cs
  osu.Game/Online/Rooms/CreateRoomRequest.cs
  osu.Game/Online/Rooms/JoinRoomRequest.cs
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
  osu.Game/Online/Rooms/Room.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/IRoomManager.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/IOnlinePlayLounge.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomManager.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/IMultiplayerTestSceneDependencies.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestSceneDependencies.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomManager.cs
Labels: area:multiplayer, size/XXL, next release

#32200 Remove unused virtual method after refactor the scale handling.
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: size/XS

#32196 Fix drain length calculation helper method being able to return negative durations
  osu.Game.Tests/Beatmaps/BeatmapExtensionsTest.cs
  osu.Game/Beatmaps/IBeatmap.cs
Labels: area:beatmap-parsing, size/M

#32158 Fix possible crash when scaling objects in editor
  CodeAnalysis/BannedSymbols.txt
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon/Beatmaps/PippidonBeatmapConverter.cs
  osu.Game.Rulesets.Catch/Skinning/Argon/ArgonBananaPiece.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/HitCircles/Components/HitCircleOverlapMarker.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game/Overlays/NotificationOverlayToastTray.cs
  osu.Game/Screens/Play/HUDOverlay.cs
  osu.Game/Screens/Utility/CircleGameplay.cs
  osu.Game/Screens/Utility/SampleComponents/LatencyMovableBox.cs
  osu.Game/Screens/Utility/ScrollingGameplay.cs
Labels: area:editor, size/M, type:reliability

#32215 Fix broken test
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
Labels: type:testing, size/XS

#31866 Remove `RoomManager`, centralise listing management to lounge
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Components/ListingPollingComponent.cs
  osu.Game/Screens/OnlinePlay/Components/RoomManager.cs
  osu.Game/Screens/OnlinePlay/Components/RoomPollingComponent.cs
  osu.Game/Screens/OnlinePlay/DrawableRoomPlaylist.cs
  osu.Game/Screens/OnlinePlay/IRoomManager.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomListing.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeListingPoller.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomUpdater.cs
  osu.Game/Tests/Visual/OnlinePlay/IOnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomManager.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:code-quality, area:multiplayer, size/XL, area:playlists

#32075 Add Alt + mousewheel volume adjustment on result screens
  osu.Game/Screens/Ranking/ResultsScreen.cs
Labels: type:behavioural, area:results, size/S

#32217 Fix multiplayer not joining correct chat channel
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
  osu.Game/Online/Rooms/Room.cs
Labels: priority:0, area:multiplayer, size/S, next release

#32219 Adjust scale and display of rooms in multiplayer lounge
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomListing.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
Labels: area:multiplayer, size/L

#32214 Fix thread safety when kicking multiplayer users
  osu.Game/Online/Multiplayer/MultiplayerClient.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Multiplayer.cs
Labels: area:multiplayer, size/M

#32218 Attempt to fix common editor test failures
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
Labels: type:testing, size/M

#31867 Remove `SelectedRoom` from online play tests
  osu.Game.Tests/NonVisual/Multiplayer/StatefulMultiplayerClientTest.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableRoomParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneLoungeRoomsContainer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchBeatmapDetailArea.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorLeaderboard.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiSpectatorScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSongSelect.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerParticipantsList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/Multiplayer/TestScenePlaylistsSongSelect.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsMatchSettingsOverlay.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsParticipantsList.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game/Tests/Visual/Multiplayer/MultiplayerTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/IOnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
Labels: type:code-quality, type:testing, area:multiplayer, size/L, area:playlists

#32199 Fix playlists results screens potentially displaying negative score positions
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistItemResultsScreen.cs
Labels: area:results, size/L, area:playlists, area:daily-challenge

#32235 Fix "use these mods" context menu option doing broken things with system mods
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallenge.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game.Tests/Visual/SongSelectV2/SongSelectComponentsTestScene.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneLeaderboardScore.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Screens/SelectV2/Leaderboards/LeaderboardScoreV2.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: area:song-select, area:mods, size/L, next release, area:daily-challenge

#32180 Add taskbar flashing when a multiplayer game is starting
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayerLoader.cs
Labels: area:multiplayer, size/XS

#32246 Bump difficulty calculator versions in preparation for release
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: area:difficulty, size/XS

#32222 Add current beatmap info to window title
  osu.Game/OsuGame.cs
Labels: type:cosmetic, size/M

#32248 Fix differential submission process crashing when no files have changed
  osu.Game/Screens/Edit/Submission/BeatmapSubmissionScreen.cs
Labels: area:editor, size/XS, type:reliability, next release

#32220 Add ability to start gameplay from carousel v2
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelect.cs
  osu.Game.Tests/Visual/SongSelectV2/TestSceneSongSelectNavigation.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooterButtonMods.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Screens/Select/SongSelect.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
  osu.Game/Screens/SelectV2/SoloSongSelect.cs
  osu.Game/Screens/SelectV2/SongSelect.cs
  osu.Game/Tests/Visual/Gameplay/ScoringTestScene.cs
Labels: area:song-select, size/L

#32240 Add "discard unsaved changes" operation to beatmap editor
  osu.Game.Rulesets.Mania.Tests/Editor/TestSceneManiaEditorSaving.cs
  osu.Game.Rulesets.Mania/Edit/Setup/ManiaDifficultySection.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/EditorDialogsStrings.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Screens/Edit/DiscardUnsavedChangesDialog.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/SaveAndReloadEditorDialog.cs
Labels: area:editor, size/M

#32249 Fix initial multiplayer room items not having freestyle
  osu.Game/Online/Rooms/MultiplayerPlaylistItem.cs
Labels: priority:0, area:multiplayer, size/XS, next release

#32245 Fix intermittent playlists results screen tests
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsResultsScreen.cs
Labels: type:testing, size/S

#32262 Use localisation from web for the report button
  osu.Game/Overlays/Chat/DrawableChatUsername.cs
Labels: type:localisation, area:overlay-chat, size/XS

#32269 Fix precise movement popover crashing if selection bounding box exceeds playfield size
  osu.Game.Rulesets.Osu/Edit/PreciseMovementPopover.cs
Labels: ruleset/osu!, area:editor, size/S, type:reliability

#32268 Fix leaderboard date text being cut off sometimes
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
Labels: area:song-select, type:cosmetic, size/XS

#32299 Fix error message on invalid room password
  osu.Game/Online/Multiplayer/InvalidPasswordException.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
Labels: priority:0, area:multiplayer, size/S, next release

#32298 Fix initial multiplayer room settings not applied
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
Labels: priority:0, area:multiplayer, size/S, next release

#32267 Allow kiai/star-fountain activation SFX to be skinnable
  osu.Game/Screens/Menu/KiaiMenuFountains.cs
  osu.Game/Screens/Play/KiaiGameplayFountains.cs
  osu.Game/osu.Game.csproj
Labels: size/M, audio

#32312 Disable user customisation of spectator list font / colour
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorList.cs
  osu.Game/Screens/Play/HUD/SpectatorList.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: area:skinning

#32273 Ensure that star rating reprocessing does not incur online lookup requests
  osu.Game/Database/BackgroundDataStoreProcessor.cs
Labels: type:online, realm, area:difficulty, size/L

#32009 Attempt to fix spectator list showing other users in multiplayer room even if they're not spectating better
  osu.Game/Screens/Play/HUD/SpectatorList.cs
Labels: area:multiplayer, size/M, area:spectator

#32327 Ensure realm database file is touched on startup
  osu.Game/Database/RealmAccess.cs
Labels: realm, size/S

#32328 Fix edge cases which allow very short slider placement in editor
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/SelectionEditablePath.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/Components/PathControlPointVisualiser.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Edit/OsuSelectionScaleHandler.cs
  osu.Game/Rulesets/Objects/SliderPath.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineHitObjectBlueprint.cs
Labels: area:editor, size/S

#32315 Apply more granular copying from database when retrieving working beatmap
  osu.Game.Rulesets.Catch.Tests/Editor/CatchPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Mania.Tests/Editor/ManiaPlacementBlueprintTestScene.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneHitCirclePlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSliderPlacementBlueprint.cs
  osu.Game.Rulesets.Osu.Tests/Editor/TestSceneSpinnerPlacementBlueprint.cs
  osu.Game/Beatmaps/BeatmapInfoExtensions.cs
  osu.Game/Beatmaps/BeatmapUpdater.cs
  osu.Game/Beatmaps/WorkingBeatmap.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
  osu.Game/Tests/Visual/PlacementBlueprintTestScene.cs
Labels: area:beatmap-parsing, realm, size/M

#32329 Ensure qualified beatmaps are never looked up on stale cache source
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
Labels: size/M, area:beatmap-change-tracking

#32054 Add tip pressure threshold option in tablet settings
  osu.Game/Overlays/Settings/Sections/Input/TabletSettings.cs
Labels: size/S, next release

#32319 Adjust timeline placement display
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: area:editor, type:cosmetic, size/XS

#32221 Add visual component for assigning user tags to beatmaps
  osu.Game.Tests/Visual/Ranking/TestSceneUserTagControl.cs
  osu.Game/Beatmaps/APIBeatmapTag.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Online/API/Requests/AddBeatmapTagRequest.cs
  osu.Game/Online/API/Requests/ListTagsRequest.cs
  osu.Game/Online/API/Requests/RemoveBeatmapTagRequest.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Online/API/Requests/Responses/APITag.cs
  osu.Game/Online/API/Requests/Responses/APITagCollection.cs
  osu.Game/Screens/Ranking/UserTag.cs
  osu.Game/Screens/Ranking/UserTagControl.cs
Labels: type:online, area:results, size/XL

#32341 Fix osu!taiko mobile scaling not being accurate
  osu.Game.Rulesets.Taiko/UI/TaikoPlayfieldAdjustmentContainer.cs
Labels: ruleset/osu!taiko, platform/mobile, size/S

#32340 Fix default beatmap not being correctly set after aborting new beatmap creation
  osu.Game.Tests/Visual/Editing/TestSceneEditorBeatmapCreation.cs
  osu.Game/Beatmaps/WorkingBeatmapCache.cs
Labels: size/XS, type:reliability

#32342 Fix storyboard letterbox hiding HUD elements
  osu.Game.Tests/Visual/Gameplay/TestSceneBreakTracker.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneLetterboxOverlay.cs
  osu.Game/Screens/Play/Break/LetterboxOverlay.cs
  osu.Game/Screens/Play/BreakOverlay.cs
  osu.Game/Screens/Play/LetterboxOverlay.cs
  osu.Game/Screens/Play/Player.cs
Labels: area:gameplay, size/L

#31882 Rewrite playlists to not inherit `RoomSubScreen`
  osu.Game.Tests/OnlinePlay/TestSceneOnlinePlaySubScreenStack.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/OnlinePlaySubScreenStack.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: type:code-quality, size/XXL, area:playlists

#32344 Improve handling for top-anchored judgement positions in osu!mania
  osu.Game.Rulesets.Mania/Skinning/Argon/ArgonJudgementPiece.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/LegacyManiaJudgementPiece.cs
  osu.Game.Rulesets.Mania/UI/DefaultManiaJudgementPiece.cs
  osu.Game.Rulesets.Mania/UI/DrawableManiaJudgement.cs
Labels: ruleset/osu!mania, area:skinning, size/M

#32354 Remove JSON property attributes from non-databased taiko difficulty attributes
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#32349 Fix `OsuTextFlowContainer.AddArbitraryDrawable()` not aligning the drawable correctly
  osu.Android.props
  osu.Game/Graphics/Containers/OsuTextFlowContainer.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:cosmetic, size/S, area:overlay-beatmap

#31148 Add back right-click-for-new-combo and right-click-delete when in object placement mode
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game.Rulesets.Taiko.Tests/Editor/TestSceneEditorPlacement.cs
  osu.Game.Tests/Visual/Editing/TestScenePlacementBlueprint.cs
  osu.Game/Screens/Edit/Compose/Components/BlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/SelectionHandler.cs
Labels: area:editor, size/L

#32352 Make friends display respond to realtime user presence
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/UserInterface/TestSceneFriendsOnlineStatusControl.cs
  osu.Game/Overlays/Changelog/ChangelogUpdateStreamItem.cs
  osu.Game/Overlays/Dashboard/Friends/FriendDisplay.cs
  osu.Game/Overlays/Dashboard/Friends/FriendOnlineStreamControl.cs
  osu.Game/Overlays/Dashboard/Friends/FriendStream.cs
  osu.Game/Overlays/Dashboard/Friends/FriendsList.cs
  osu.Game/Overlays/Dashboard/Friends/FriendsOnlineStatusItem.cs
  osu.Game/Overlays/OverlayStreamItem.cs
  osu.Game/Users/UserPanel.cs
Labels: type:online, size/XL, area:overlay-dashboard

#32360 Add team beatmap leaderboards
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapLeaderboard.cs
  osu.Game/Extensions/ModelExtensions.cs
  osu.Game/Localisation/LeaderboardStrings.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Online/Leaderboards/LeaderboardState.cs
  osu.Game/Overlays/BeatmapSet/LeaderboardScopeSelector.cs
  osu.Game/Overlays/BeatmapSet/Scores/NoScoresPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/NoTeamPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/NotSupporterPlaceholder.cs
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboardScope.cs
  osu.Game/Screens/Select/PlayBeatmapDetailArea.cs
  osu.Game/osu.Game.csproj
Labels: area:song-select, size/L, area:overlay-beatmap

#32373 Filter freestyle rooms against all rulesets
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomListing.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomListing.cs
Labels: area:multiplayer, size/S, area:playlists

#32346 Add ability to vote for beatmap user tags after completing a play
  osu.Game.Tests/Visual/Ranking/TestSceneOverallRanking.cs
  osu.Game.Tests/Visual/Ranking/TestSceneResultsScreen.cs
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game.Tests/Visual/Ranking/TestSceneUserTagControl.cs
  osu.Game/Online/API/Requests/AddBeatmapTagRequest.cs
  osu.Game/Screens/Edit/GameplayTest/EditorPlayer.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerPlayer.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsPlayer.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/SubmittingPlayer.cs
  osu.Game/Screens/Ranking/ResultsScreen.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/User/OverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/UserStatisticsPanel.cs
  osu.Game/Screens/Ranking/UserTagControl.cs
Labels: type:online, area:results, size/L, notable feature

#32390 Allow spectator button to work without begin play requests
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
  osu.Game/Users/ExtendedUserPanel.cs
Labels: type:online, size/M, next release

#32415 Fix tag add request using wrong method
  osu.Game/Online/API/Requests/AddBeatmapTagRequest.cs
Labels: size/XS, next release

#31970 Update guest difficulty display to consistent with the web page
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmap.cs
  osu.Game/Overlays/BeatmapSet/BeatmapPicker.cs
  osu.Game/Overlays/BeatmapSet/BeatmapSetHeaderContent.cs
Labels: size/L, area:overlay-beatmap

#32429 Fix editor reading wrong beatmap version
  osu.Game.Rulesets.Catch/Beatmaps/CatchBeatmapConverter.cs
  osu.Game.Rulesets.Osu.Tests/TestSceneLegacyHitPolicy.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapConverter.cs
  osu.Game.Rulesets.Osu/Beatmaps/OsuBeatmapProcessor.cs
  osu.Game.Rulesets.Taiko/Beatmaps/TaikoBeatmapConverter.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyBeatmapDecoderTest.cs
  osu.Game.Tests/Beatmaps/Formats/LegacyScoreDecoderTest.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorSaving.cs
  osu.Game/Beatmaps/Beatmap.cs
  osu.Game/Beatmaps/BeatmapConverter.cs
  osu.Game/Beatmaps/BeatmapInfo.cs
  osu.Game/Beatmaps/Formats/LegacyBeatmapDecoder.cs
  osu.Game/Beatmaps/IBeatmap.cs
  osu.Game/Rulesets/Difficulty/DifficultyCalculator.cs
  osu.Game/Scoring/Legacy/LegacyScoreDecoder.cs
  osu.Game/Scoring/Legacy/LegacyScoreEncoder.cs
  osu.Game/Screens/Edit/EditorBeatmap.cs
Labels: type:code-quality, area:beatmap-parsing, area:editor, realm, size/M, next release

#32418 Fix miscellaneous text flow container breakage
  osu.Game/Graphics/Containers/OsuTextFlowContainer.cs
  osu.Game/Overlays/Comments/CommentReportButton.cs
  osu.Game/Overlays/MedalSplash/DrawableMedal.cs
  osu.Game/Screens/Menu/SupporterDisplay.cs
Labels: type:cosmetic, size/S, next release

#32435 Make freestyle not bypass ruleset filter once more
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomListing.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomListing.cs
Labels: area:multiplayer, size/S, area:playlists

#32363 Highlight difficulty attribute changes in mod select
  osu.Game/Overlays/Mods/BeatmapAttributesDisplay.cs
Labels: type:cosmetic, size/XS, area:overlay-mod-select

#32436 Fix multiplayer join errors potentially not being logged
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
Labels: area:multiplayer, size/S

#32439 Update framework
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#32366 Allow copying version via right click in settings footer
  osu.Game/Graphics/UserInterface/ExternalLinkButton.cs
  osu.Game/Localisation/ToastStrings.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Comments/DrawableComment.cs
  osu.Game/Overlays/OSD/CopiedToClipboardToast.cs
  osu.Game/Overlays/Settings/SettingsFooter.cs
  osu.Game/Overlays/SettingsOverlay.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmap.cs
  osu.Game/Screens/Select/Carousel/DrawableCarouselBeatmapSet.cs
Labels: area:settings, size/M

#32447 Add some lenience around mod customisation expanding overlay
  osu.Game/Overlays/Mods/ModCustomisationPanel.cs
Labels: size/S, area:overlay-mod-select

#32461 Fix intermittent mod customisation panel test
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
Labels: size/XS

#32459 Replace superfluous method with concrete implementation
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
Labels: type:testing, area:multiplayer, size/S

#32457 Allow vertical layout for skinnable mod display
  osu.Game/Localisation/SkinComponents/SkinnableModDisplayStrings.cs
  osu.Game/Screens/Play/HUD/ModDisplay.cs
  osu.Game/Screens/Play/HUD/SkinnableModDisplay.cs
  osu.Game/Screens/Play/HUDOverlay.cs
Labels: area:skinning, size/S

#32446 Add more functionality to right clicking in the chat window
  osu.Game.Tests/Visual/Online/TestSceneFriendDisplay.cs
  osu.Game.Tests/Visual/Online/TestSceneUserClickableAvatar.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game.Tests/Visual/Online/TestSceneUserProfileHeader.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Overlays/Chat/DrawableChatUsername.cs
  osu.Game/Overlays/Profile/Header/BottomHeaderContainer.cs
Labels: area:overlay-chat, size/M

#32450 Fade out pause loop sound when the game window is inactive
  osu.Game/Screens/Play/PauseOverlay.cs
Labels: area:gameplay, size/S

#32437 Build iOS tests project
  .github/workflows/ci.yml
  osu.Game.Tests.iOS/osu.Game.Tests.iOS.csproj
Labels: type:testing, area:tooling, size/S

#30866 Fix some image attachments in comments not loading in game
  osu.Game.Tests/Visual/Online/TestSceneImageProxying.cs
  osu.Game/Audio/PreviewTrackManager.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownImage.cs
  osu.Game/Online/TrustedDomainOnlineStore.cs
  osu.Game/OsuGameBase.cs
Labels: type:online, size/M

#32467 Fix `DifficultySpectrumDisplay` churning drawables
  osu.Game.Tests/Visual/Beatmaps/TestSceneDifficultySpectrumDisplay.cs
  osu.Game/Beatmaps/Drawables/Cards/BeatmapCardExtraInfoRow.cs
  osu.Game/Beatmaps/Drawables/DifficultySpectrumDisplay.cs
  osu.Game/Screens/SelectV2/PanelBeatmapSet.cs
Labels: type:performance, size/L

#32475 Fix lag when scrolling right-hand toolboxes in editor during long edit session
  osu.Game/Graphics/Backgrounds/Triangles.cs
  osu.Game/Graphics/Backgrounds/TrianglesV2.cs
  osu.Game/Overlays/SettingsToolboxGroup.cs
  osu.Game/Screens/Edit/Compose/Components/BeatDivisorControl.cs
Labels: type:performance, area:editor, size/M

#32478 Disallow tagging beatmaps when playing as convert
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: area:results, size/M

#32486 Update framework and resources
  osu.Android.props
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/XS

#32489 Attempt to fix intermittent BackgroundDataStoreProcessor tests
  osu.Game.Tests/Database/BackgroundDataStoreProcessorTests.cs
Labels: type:testing, area:tooling, size/S

#32358 Make username and beatmap information clickable at results screen
  osu.Game/Screens/Ranking/Contracted/ContractedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelMiddleContent.cs
  osu.Game/Screens/Ranking/Expanded/ExpandedPanelTopContent.cs
  osu.Game/Users/Drawables/ClickableUsername.cs
Labels: area:results, size/L

#32504 Fix `osu.Game.Tests` tests running twice
  .github/workflows/ci.yml
Labels: type:testing, area:tooling, size/S

#32389 Show the mod name in LeaderboardScoreTooltip.ModCell, instead of an empty field.
  osu.Game/Online/Leaderboards/LeaderboardScoreTooltip.cs
Labels: type:cosmetic, size/S

#32531 Fix mod select footer overlapping with mod unranked indicator
  osu.Game.Tests/Visual/UserInterface/TestSceneScreenFooter.cs
  osu.Game/Screens/Footer/ScreenFooter.cs
Labels: area:song-select, type:cosmetic, size/L

#32542 Add difficulty calculation benchmarks
  osu.Game.Benchmarks/BenchmarkDifficultyCalculation.cs
Labels: type:testing, area:difficulty, size/M

#32546 Fix images embedded in comments not displaying
  osu.Game.Tests/Visual/Online/TestSceneImageProxying.cs
  osu.Game/Graphics/Containers/Markdown/OsuMarkdownImage.cs
Labels: type:online, size/S, area:comments, next release

#32495 Adjust user activity updates
  osu.Game/Online/SignalRWorkaroundTypes.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengePlayer.cs
  osu.Game/Users/UserActivity.cs
Labels: type:online, size/M

#32532 Implement sheared dropdowns
  osu.Game.Tests/Visual/UserInterface/TestSceneShearedDropdown.cs
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
  osu.Game/Graphics/UserInterfaceV2/ShearedDropdown.cs
Labels: type:cosmetic, size/L

#32426 Refactor Skill Attributes to display contribution to `StarRating`
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#32460 Refactor multiplayer match footer
  osu.Game.Tests/Visual/Multiplayer/TestSceneMatchStartControl.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchFooter.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game/Online/Multiplayer/MultiplayerRoom.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MatchStartControl.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchFooter.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerSpectateButton.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
Labels: area:multiplayer, size/M

#32550 Fix taiko legacy skins playing scale animations even when skins contain animations
  osu.Game.Rulesets.Taiko/Skinning/Legacy/LegacyHitExplosion.cs
Labels: ruleset/osu!taiko, area:skinning, size/XS

#32551 Validate freestyle selection post-selection
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchFreestyleSelect.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayFreestyleSelect.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomFreestyleSelect.cs
Labels: area:multiplayer, size/M, area:playlists

#32428 Show full rank in extended results screen
  osu.Game.Tests/Visual/Ranking/TestSceneOverallRanking.cs
  osu.Game/Screens/Ranking/Statistics/User/GlobalRankChangeRow.cs
Labels: area:results, size/M

#32412 Fix osu!catch SR buzz slider detection
  osu.Game.Rulesets.Catch/Difficulty/Preprocessing/CatchDifficultyHitObject.cs
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
Labels: ruleset/osu!catch, area:difficulty, size/S

#32566 Fix overlapping placeholders in beatmap info leaderboard
  osu.Game/Overlays/BeatmapSet/Scores/ScoresContainer.cs
Labels: size/XS, area:overlay-beatmap

#32585 Open teams page externally when clicking team flags
  osu.Game/Users/Drawables/UpdateableTeamFlag.cs
Labels: type:behavioural, size/S

#32567 Fix christmas menu track potentially playing out of season
  osu.Game/Overlays/MusicController.cs
Labels: area:main-menu, size/S, next release

#32530 Change mod select colour scheme to aquamarine in new song select
  osu.Game/Screens/SelectV2/SongSelect.cs
Labels: area:song-select, type:cosmetic, size/XS, area:overlay-mod-select

#32579 Allow tagging already played beatmaps without playing another time
  osu.Game.Tests/Visual/Ranking/TestSceneStatisticsPanel.cs
  osu.Game/Screens/Ranking/Statistics/StatisticsPanel.cs
Labels: type:online, size/L, area:tags

#32571 Refactor online play beatmap availability, add multiplayer-specific implementation
  osu.Game.Tests/Online/TestSceneMultiplayerBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Online/TestScenePlaylistsBeatmapAvailabilityTracker.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchFooter.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerSpectateButton.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneUpdateBeatmapSetButton.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeBeatmapAvailabilityTracker.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallengeIntro.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerBeatmapAvailabilityTracker.cs
  osu.Game/Screens/OnlinePlay/OnlinePlayBeatmapAvailabilityTracker.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsBeatmapAvailabilityTracker.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Tests/Visual/Multiplayer/TestMultiplayerClient.cs
  osu.Game/Tests/Visual/OnlinePlay/IOnlinePlayTestSceneDependencies.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestScene.cs
  osu.Game/Tests/Visual/OnlinePlay/OnlinePlayTestSceneDependencies.cs
Labels: area:multiplayer, size/XL, area:playlists

#32573 Add multiplayer-specific implementation for user mod display
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerUserModDisplay.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerUserModDisplay.cs
Labels: area:multiplayer, size/L

#32604 Fix several issues with multiplayer & playlists room join error logging
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/IOnlinePlayLounge.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsLoungeSubScreen.cs
Labels: area:multiplayer, size/M, type:reliability, area:playlists

#32577 Improve input handling in beatmap card buttons
  osu.Game.Tests/Visual/Beatmaps/TestSceneBeatmapCardFavouriteButton.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/BeatmapCardIconButton.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/DownloadButton.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/FavouriteButton.cs
  osu.Game/Beatmaps/Drawables/Cards/Buttons/GoToBeatmapButton.cs
  osu.Game/Beatmaps/Drawables/Cards/CollapsibleButtonContainer.cs
Labels: type:code-quality, type:behavioural, size/M, area:overlay-beatmap-listing

#32606 Refresh mod panel active states when recreated
  osu.Game.Tests/Visual/UserInterface/TestSceneModSelectOverlay.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
Labels: size/M, area:overlay-mod-select

#32458 Refactor multiplayer/playlists room panels
  osu.Game.Tests/Visual/Multiplayer/TestSceneDrawableLoungeRoom.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerLoungeSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerMatchSubScreen.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomListing.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneRoomPanel.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsLoungeSubScreen.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomListing.cs
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomPanel.cs
  osu.Game/Screens/OnlinePlay/Lounge/LoungeRoomPanel.cs
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomPanel.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomPanel.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
Labels: area:multiplayer, size/L, area:playlists

#32563 Refactor multiplayer background to remove selected item bindable
  osu.Game/Screens/OnlinePlay/Components/OnlinePlayBackgroundScreen.cs
  osu.Game/Screens/OnlinePlay/Components/PlaylistItemBackground.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerRoomBackgroundScreen.cs
Labels: area:multiplayer, size/L

#32596 Fix daily challenge not querying beatmap properly
  osu.Game.Tests/Visual/Multiplayer/QueueModeTestScene.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayer.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomCreation.cs
  osu.Game.Tests/Visual/Playlists/TestScenePlaylistsRoomSubScreen.cs
  osu.Game/Beatmaps/BeatmapManager.cs
  osu.Game/Screens/OnlinePlay/DailyChallenge/DailyChallenge.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
  osu.Game/Screens/OnlinePlay/Playlists/PlaylistsRoomSubScreen.cs
  osu.Game/Tests/Beatmaps/TestBeatmap.cs
Labels: size/M, area:daily-challenge

#32607 Fix background not showing in multiplayer room panel
  osu.Game/Screens/OnlinePlay/Lounge/Components/RoomPanel.cs
Labels: type:cosmetic, area:multiplayer, size/M

#32616 Fix chevron alignment in dropdown menu items
  osu.Game/Graphics/UserInterface/OsuDropdown.cs
Labels: type:cosmetic, size/XS

#32610 Show user tags on beatmap set overlay
  osu.Game.Tests/Visual/Online/TestSceneBeatmapSetOverlay.cs
  osu.Game/Online/API/Requests/Responses/APIBeatmapSet.cs
  osu.Game/Overlays/BeatmapSet/Info.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionMapperTags.cs
  osu.Game/Overlays/BeatmapSet/MetadataSectionUserTags.cs
  osu.Game/Overlays/BeatmapSet/MetadataType.cs
  osu.Game/Overlays/BeatmapSetOverlay.cs
  osu.Game/Screens/Select/BeatmapDetails.cs
Labels: type:online, size/L, area:overlay-beatmap

#32621 Refactor multiplayer playlist to remove selected item bindable
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallenge.cs
  osu.Game.Tests/Visual/DailyChallenge/TestSceneDailyChallengeIntro.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerPlaylist.cs
  osu.Game.Tests/Visual/Multiplayer/TestSceneMultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerPlaylist.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/Playlist/MultiplayerQueueList.cs
  osu.Game/Screens/OnlinePlay/Multiplayer/MultiplayerMatchSubScreen.cs
  osu.Game/Tests/Visual/OnlinePlay/TestRoomRequestsHandler.cs
Labels: type:code-quality, area:multiplayer, size/L

#32641 Fix skin editor anchor/origin context menu ternary states not updating properly
  osu.Game.Tests/Visual/Gameplay/TestSceneSkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinSelectionHandler.cs
Labels: size/L, area:skin-editor
