Repository ppy/osu, pull requests merged in 2025-01, with the labels that each got.

#31363 Enable "Game Mode" on iOS
  osu.iOS/Info.plist
Labels: type:performance, platform/iOS, size/XS

#31305 Round object coordinates to nearest integers on legacy export rather than truncating
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform/Objects/EmptyFreeformHitObject.cs
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon/Objects/PippidonHitObject.cs
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Mania/Objects/ManiaHitObject.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game.Tests/Beatmaps/IO/LegacyBeatmapExporterTest.cs
  osu.Game.Tests/Resources/Archives/fractional-coordinates.olz
  osu.Game/Database/LegacyBeatmapExporter.cs
  osu.Game/Rulesets/Objects/Legacy/ConvertHitObject.cs
  osu.Game/Rulesets/Objects/Types/IHasPosition.cs
  osu.Game/Rulesets/Objects/Types/IHasXPosition.cs
  osu.Game/Rulesets/Objects/Types/IHasYPosition.cs
Labels: area:beatmap-parsing, area:editor, size/L

#31381 Add auto-start setting for 10 seconds
  osu.Game/Screens/OnlinePlay/Multiplayer/Match/MultiplayerMatchSettingsOverlay.cs
Labels: area:multiplayer, size/XS

#31383 Always block scroll input above editor toolbox areas
  osu.Game/Rulesets/Edit/ExpandingToolboxContainer.cs
Labels: area:editor, size/XS

#31354 Fix slider repeats not properly respecting "show hit markers" setting
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSliderRepeat.cs
Labels: ruleset/osu!, area:editor, type:cosmetic, size/M

#31403 Display popup disclaimer about game state and performance on mobile platforms
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/ButtonSystemStrings.cs
  osu.Game/Overlays/Dialog/PopupDialog.cs
  osu.Game/Screens/Menu/MainMenu.cs
Labels: platform/mobile, size/M

#31414 Fix mobile release dialog obstructed by the software keyboard
  osu.Game/Screens/Menu/MainMenu.cs
Labels: type:behavioural, platform/mobile, size/S

#31386 Fix not being able to apply last play offset after returning to song select
  osu.Game.Tests/Visual/Gameplay/TestSceneBeatmapOffsetControl.cs
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Screens/Play/PlayerLoader.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/M

#31320 Fix angle bonuses calculating repetition incorrectly, apply distance scaling to wide bonus
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/SpeedEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: ruleset/osu!, area:difficulty, size/M

#31433 Constrain range of usable characters in romanised metadata to ASCII only
  osu.Game/Beatmaps/MetadataUtils.cs
Labels: area:beatmap-parsing, area:editor, size/XS

#31436 Reduce allocations in the editor caused by `TimelineBlueprintContainer`
  osu.Game.Rulesets.Osu/Mods/OsuModTargetPractice.cs
  osu.Game/Audio/HitSampleInfo.cs
  osu.Game/Rulesets/Edit/Checks/CheckDelayedHitsounds.cs
  osu.Game/Rulesets/Edit/Checks/CheckFewHitsounds.cs
  osu.Game/Screens/Edit/Compose/Components/EditorSelectionHandler.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/TimelineBlueprintContainer.cs
Labels: size/M

#31306 Fix slider event generator incorrectly not generating repeats when tick distance is zero
  osu.Game.Tests/Beatmaps/SliderEventGenerationTest.cs
  osu.Game/Rulesets/Objects/SliderEventGenerator.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:beatmap-parsing, size/M

#31418 Ensure intro files exist in storage during startup
  osu.Game.Tests/Visual/Menus/IntroTestScene.cs
  osu.Game.Tests/Visual/Menus/TestSceneIntroIntegrity.cs
  osu.Game/OsuGameBase.cs
  osu.Game/Screens/Menu/IntroScreen.cs
Labels: size/L, type:reliability

#31285 Add `consistentRatioPenalty` to the `Colour` skill.
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ColourEvaluator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31447 Clamp OD in performance calculation to fix negative OD gaining pp
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: ruleset/osu!, area:difficulty, size/XS

#31390 Fix slider end circles not remaining for long enough when hit animations disabled
  osu.Game.Rulesets.Osu/Edit/Blueprints/Sliders/SliderSelectionBlueprint.cs
  osu.Game.Rulesets.Osu/Objects/Drawables/DrawableSlider.cs
Labels: ruleset/osu!, area:editor, size/S

#31435 Fix star range display looking a bit bad when changing opacity
  osu.Game.Tests/Visual/Multiplayer/TestSceneStarRatingRangeDisplay.cs
  osu.Game/Screens/OnlinePlay/Components/StarRatingRangeDisplay.cs
Labels: type:cosmetic, size/L

#31442 Always show dialog when clicking supporter icon before opening browser
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapRecommendations.cs
  osu.Game/Online/Chat/ExternalLinkOpener.cs
  osu.Game/Online/Chat/LinkWarnMode.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/AccountCreation/ScreenEntry.cs
  osu.Game/Overlays/Profile/Header/Components/SupporterIcon.cs
Labels: type:behavioural, size/L

#27920 Upgrade packages
  CodeAnalysis/osu.globalconfig
  Templates/Rulesets/ruleset-empty/osu.Game.Rulesets.EmptyFreeform.Tests/osu.Game.Rulesets.EmptyFreeform.Tests.csproj
  Templates/Rulesets/ruleset-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-empty/osu.Game.Rulesets.EmptyScrolling.Tests/osu.Game.Rulesets.EmptyScrolling.Tests.csproj
  Templates/Rulesets/ruleset-scrolling-example/osu.Game.Rulesets.Pippidon.Tests/osu.Game.Rulesets.Pippidon.Tests.csproj
  osu.Desktop/osu.Desktop.csproj
  osu.Game.Benchmarks/osu.Game.Benchmarks.csproj
  osu.Game.Rulesets.Catch.Tests/osu.Game.Rulesets.Catch.Tests.csproj
  osu.Game.Rulesets.Mania.Tests/osu.Game.Rulesets.Mania.Tests.csproj
  osu.Game.Rulesets.Osu.Tests/osu.Game.Rulesets.Osu.Tests.csproj
  osu.Game.Rulesets.Taiko.Tests/osu.Game.Rulesets.Taiko.Tests.csproj
  osu.Game.Tests/osu.Game.Tests.csproj
  osu.Game.Tournament.Tests/osu.Game.Tournament.Tests.csproj
  osu.Game/Database/RealmObjectExtensions.cs
  osu.Game/Database/RealmResetEmptySet.cs
  osu.Game/Localisation/FirstRunOverlayImportFromStableScreenStrings.cs
  osu.Game/Localisation/NotificationsStrings.cs
  osu.Game/Online/API/ModSettingsDictionaryFormatter.cs
  osu.Game/Online/Multiplayer/MatchTypes/TeamVersus/TeamVersusUserState.cs
  osu.Game/Users/UserActivity.cs
  osu.Game/osu.Game.csproj
Labels: size/L

#31445 Reset playback speed to 100% on entering test play
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Screens/Edit/Components/BottomBarContainer.cs
  osu.Game/Screens/Edit/Components/PlaybackControl.cs
  osu.Game/Screens/Edit/Components/Timelines/Summary/Parts/TimelinePart.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/EditorClock.cs
  osu.Game/Screens/Edit/Timing/WaveformComparisonDisplay.cs
Labels: area:editor, size/L, audio

#31449 Simplify angle bonus formula
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
Labels: ruleset/osu!, area:difficulty, size/S

#31450 Clean up windows association manager code
  osu.Desktop/Windows/WindowsAssociationManager.cs
Labels: type:code-quality, size/M

#31454 Select closest timing point every time the timing screen is changed to
  osu.Game/Screens/Edit/Timing/TimingScreen.cs
Labels: area:editor, type:behavioural, size/M

#31452 Delete entire juice stream when only one vertex remains after deleting another vertex
  osu.Game.Rulesets.Catch.Tests/Editor/TestSceneJuiceStreamSelectionBlueprint.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/EditablePath.cs
  osu.Game.Rulesets.Catch/Edit/Blueprints/Components/SelectionEditablePath.cs
Labels: ruleset/osu!catch, area:editor, size/S, type:reliability

#31438 Show osu!(lazer) in windows "default apps" menus
  osu.Desktop/Windows/WindowsAssociationManager.cs
Labels: area:installer, size/L, platform/windows

#31456 Apply a bunch of balancing changes to aim
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Speed.cs
Labels: ruleset/osu!, area:difficulty, size/S

#30907 Punish speed PP for scores with high deviation
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/DifficultyAttributes.cs
Labels: ruleset/osu!, area:difficulty, size/L

#31453 Fix juice stream placement blueprint being initially visually offset
  osu.Game.Rulesets.Catch/Edit/Blueprints/JuiceStreamPlacementBlueprint.cs
Labels: ruleset/osu!catch, area:editor, size/S

#31462 Simplify editor "ternary button" structure
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/ComposerDistanceSnapProvider.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Edit/ScrollingHitObjectComposer.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/DrawableTernaryButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/SampleBankTernaryButton.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/TernaryButton.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/SamplePointPiece.cs
Labels: type:code-quality, area:editor, size/L

#31364 Display storyboard in editor background
  osu.Game.Tests/Visual/Editing/TestSceneEditorTestGameplay.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Screens/Backgrounds/BackgroundScreenBeatmap.cs
  osu.Game/Screens/Backgrounds/EditorBackgroundScreen.cs
  osu.Game/Screens/Edit/Editor.cs
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:editor, type:cosmetic, size/L

#31481 Add new osu!(stable) registry ProgId
  osu.Desktop/OsuGameDesktop.cs
Labels: size/S, area:import

#30060 Fix initial skin state being stored wrong to undo history
  osu.Game.Tests/Visual/Navigation/TestSceneSkinEditorNavigation.cs
  osu.Game/Overlays/SkinEditor/SkinEditor.cs
  osu.Game/Overlays/SkinEditor/SkinEditorChangeHandler.cs
Labels: size/L, area:skin-editor

#31474 Update game `ScrollContainer` usage in line with framework changes
  osu.Android.props
  osu.Game.Tests/Visual/UserInterface/TestSceneSectionsContainer.cs
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Graphics/Containers/SectionsContainer.cs
  osu.Game/Graphics/Containers/UserTrackingScrollContainer.cs
  osu.Game/Graphics/UserInterface/OsuNumberBox.cs
  osu.Game/Graphics/UserInterface/OsuPasswordTextBox.cs
  osu.Game/Graphics/UserInterfaceV2/FormNumberBox.cs
  osu.Game/Online/Leaderboards/Leaderboard.cs
  osu.Game/Overlays/Chat/ChannelScrollContainer.cs
  osu.Game/Overlays/Chat/DrawableChannel.cs
  osu.Game/Overlays/Login/LoginForm.cs
  osu.Game/Overlays/Mods/ModSelectOverlay.cs
  osu.Game/Overlays/NewsOverlay.cs
  osu.Game/Overlays/OnlineOverlay.cs
  osu.Game/Overlays/OverlayScrollContainer.cs
  osu.Game/Overlays/Settings/SettingsNumberBox.cs
  osu.Game/Overlays/WikiOverlay.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/Timeline.cs
  osu.Game/Screens/Edit/Compose/Components/Timeline/ZoomableScrollContainer.cs
  osu.Game/Screens/Edit/Setup/MetadataSection.cs
  osu.Game/Screens/Play/HUD/GameplayLeaderboard.cs
  osu.Game/Screens/Ranking/ScorePanelList.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: size/L

#31444 Add notifications for when friends go online or offline
  osu.Game.Tests/Visual/Components/TestSceneFriendPresenceNotifier.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Localisation/OnlineSettingsStrings.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/FriendPresenceNotifier.cs
  osu.Game/Online/Metadata/IMetadataClient.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Settings/Sections/Online/AlertsAndPrivacySettings.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
Labels: type:online, size/L

#31492 Fix nullref when opening files or URIs on startup on Android
  osu.Android/OsuGameActivity.cs
Labels: platform/android, size/M, area:import

#31507 Ensure API starts up with `LocalUser` in correct state
  osu.Game/Online/API/APIAccess.cs
Labels: type:code-quality, size/M

#31473 Add combo colour override control to editor
  osu.Game.Rulesets.Catch/Edit/CatchHitObjectComposer.cs
  osu.Game.Rulesets.Osu/Edit/OsuHitObjectComposer.cs
  osu.Game/Rulesets/Edit/HitObjectComposer.cs
  osu.Game/Rulesets/Objects/Types/IHasComboInformation.cs
  osu.Game/Screens/Edit/Components/TernaryButtons/NewComboTernaryButton.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
Labels: ruleset/osu!catch, ruleset/osu!, area:editor, size/L

#31508 Fix replays not correctly pre-importing beatmap when arriving from a cold start
  osu.Game/Online/API/APIAccess.cs
Labels: type:online, size/S

#31515 Remove problematic total deviation scaling, rebalance aim
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceAttributes.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
Labels: size/M

#31499 Remove lower cap on taiko deviation without misses
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31446 Fix performance degradation while trying to place object with a new combo in the editor.
  osu.Game.Rulesets.Catch/Objects/CatchHitObject.cs
  osu.Game.Rulesets.Osu/Objects/OsuHitObject.cs
  osu.Game/Rulesets/Objects/Types/IHasComboInformation.cs
Labels: type:performance, area:editor, size/M

#31523 Apply beatmap offset to all difficulties only if they have the same audio
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, area:settings, size/XS

#31506 Fix stutter on intensive storyboards when entering break time with 100% background dim
  osu.Game.Tests/Visual/Background/TestSceneUserDimBackgrounds.cs
  osu.Game/Screens/Play/DimmableStoryboard.cs
  osu.Game/Storyboards/Drawables/DrawableStoryboard.cs
Labels: type:performance, area:gameplay, area:storyboard, size/M

#31510 `Mono` Nerf to the `Reading` skill in osu!taiko
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Reading.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#31531 Typo fix
  osu.Game/Rulesets/Scoring/HitResult.cs
Labels: size/XS

#31519 Add support for `CursorTrailRotate` skin command
  osu.Game.Rulesets.Osu.Tests/TestSceneCursorTrail.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursor.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/LegacyCursorTrail.cs
  osu.Game.Rulesets.Osu/Skinning/OsuSkinConfiguration.cs
  osu.Game.Rulesets.Osu/UI/Cursor/CursorTrail.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursor.cs
  osu.Game.Rulesets.Osu/UI/Cursor/OsuCursorContainer.cs
Labels: area:skinning, size/L

#31337 osu!taiko stamina balancing
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/StaminaEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31471 Add basic framework for carousel displays (aka `BeatmapCarouselV2`)
  osu.Android.props
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterSorting.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselItem.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselPanel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
  osu.Game/Screens/SelectV2/CarouselItem.cs
  osu.Game/Screens/SelectV2/ICarouselFilter.cs
  osu.Game/Screens/SelectV2/ICarouselPanel.cs
  osu.Game/Tests/Beatmaps/TestBeatmapStore.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: area:song-select, size/XXL

#31534 Bump NVika tool to 4.0.0
  .config/dotnet-tools.json
Labels: area:tooling, size/XS

#31338 osu!taiko star rating and performance points rebalance
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyAttributes.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31526 Implement spectator list display
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorList.cs
  osu.Game/Graphics/Containers/OsuHoverContainer.cs
  osu.Game/Localisation/HUD/SpectatorListStrings.cs
  osu.Game/Online/Chat/DrawableLinkCompiler.cs
  osu.Game/Overlays/Profile/Header/Components/FollowersButton.cs
  osu.Game/Screens/Play/HUD/SpectatorList.cs
Labels: type:cosmetic, size/L, area:spectator

#31533 Fix gameplay offset adjustment limits not being enforced
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/L, next release

#31535 Refactor absolute scrolling at song select
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Graphics/Containers/OsuScrollContainer.cs
  osu.Game/Graphics/Containers/UserTrackingScrollContainer.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
  osu.Game/Overlays/Settings/Sections/UserInterface/SongSelectSettings.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, size/L

#31513 Remove `Status` and `Activity` bindables from `APIUser`
  osu.Desktop/DiscordRichPresence.cs
  osu.Game.Tests/Visual/Menus/TestSceneLoginOverlay.cs
  osu.Game.Tests/Visual/Online/TestSceneNowPlayingCommand.cs
  osu.Game.Tests/Visual/Online/TestSceneUserClickableAvatar.cs
  osu.Game.Tests/Visual/Online/TestSceneUserPanel.cs
  osu.Game/Configuration/OsuConfigManager.cs
  osu.Game/Configuration/SessionStatics.cs
  osu.Game/Online/API/APIAccess.cs
  osu.Game/Online/API/DummyAPIAccess.cs
  osu.Game/Online/API/IAPIProvider.cs
  osu.Game/Online/API/Requests/Responses/APIUser.cs
  osu.Game/Online/Chat/NowPlayingCommand.cs
  osu.Game/Online/FriendPresenceNotifier.cs
  osu.Game/Online/Metadata/MetadataClient.cs
  osu.Game/Online/Metadata/OnlineMetadataClient.cs
  osu.Game/OsuGame.cs
  osu.Game/Overlays/Dashboard/CurrentlyOnlineDisplay.cs
  osu.Game/Overlays/Login/LoginPanel.cs
  osu.Game/Screens/IOsuScreen.cs
  osu.Game/Screens/OsuScreen.cs
  osu.Game/Tests/Visual/Metadata/TestMetadataClient.cs
Labels: type:code-quality, type:online, size/L

#31339 osu!taiko further considerations for rhythm
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/RhythmEvaluator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31542 Add curvature to new carousel implementation
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, size/M

#31520 Move error function from osu.Game.Utils to osu.Game.Rulesets.Difficulty.Utils
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils.cs
  osu.Game/Rulesets/Difficulty/Utils/DifficultyCalculationUtils_ErrorFunction.cs
Labels: type:code-quality, area:difficulty, size/S

#31512 Penalise the reading difficulty of high velocity notes using "note density"
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/ReadingEvaluator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#31126 Fix osu!catch "buzz slider" SR abuse
  osu.Game.Rulesets.Catch/Difficulty/Skills/Movement.cs
Labels: ruleset/osu!catch, area:difficulty, size/S

#31566 Remove redundant angle check
  osu.Game.Rulesets.Osu.Tests/OsuDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Osu/Difficulty/Evaluators/AimEvaluator.cs
Labels: size/XS

#31546 Improve convert considerations in osu!taiko
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/StaminaEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoPerformanceCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/M

#31556 Rebalance stamina length bonus in osu!taiko
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#31576 Don't highlight friends' scores under beatmap's friend score leaderboard
  osu.Game/Online/Leaderboards/LeaderboardScore.cs
  osu.Game/Screens/Select/Leaderboards/BeatmapLeaderboard.cs
Labels: size/S

#31539 Seek in replay scaled by replay speed
  osu.Game/Screens/Play/ReplayPlayer.cs
Labels: area:replay, size/XS

#31553 add warning text on team acronym conflict
  osu.Game.Tournament/Screens/Editors/TeamEditorScreen.cs
Labels: area:tournament, size/S

#31573 osu!taiko new rhythm penalty for long intervals using stamina difficulty
  osu.Game.Rulesets.Taiko.Tests/TaikoDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Rhythm.cs
Labels: ruleset/osu!taiko, area:difficulty, size/S

#30034 Replace indexed skill access with `skills.OfType<...>().Single()`
  osu.Game.Rulesets.Catch/Difficulty/CatchDifficultyCalculator.cs
  osu.Game.Rulesets.Mania/Difficulty/ManiaDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/OsuDifficultyCalculator.cs
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
  osu.Game.Rulesets.Taiko/Difficulty/Skills/Stamina.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: type:code-quality, area:difficulty, size/M

#31547 Add precise movement tool to osu! editor
  osu.Game.Rulesets.Osu/Edit/PreciseMovementPopover.cs
  osu.Game.Rulesets.Osu/Edit/PreciseRotationPopover.cs
  osu.Game.Rulesets.Osu/Edit/PreciseScalePopover.cs
  osu.Game.Rulesets.Osu/Edit/TransformToolboxGroup.cs
  osu.Game/Graphics/UserInterfaceV2/SliderWithTextBoxInput.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Localisation/GlobalActionKeyBindingStrings.cs
Labels: ruleset/osu!, area:editor, size/L

#31543 Add completion marker to daily challenge profile counter
  osu.Game.Tests/Visual/Online/TestSceneUserProfileDailyChallenge.cs
  osu.Game/Overlays/Profile/Header/Components/DailyChallengeStatsDisplay.cs
  osu.Game/Overlays/Profile/Header/Components/MainDetails.cs
Labels: type:online, area:overlay-user-profile, size/L

#31579 Use correct `HitWindows` class for osu!taiko hit windows in difficulty calculator
  osu.Game.Rulesets.Taiko/Difficulty/Evaluators/RhythmEvaluator.cs
  osu.Game.Rulesets.Taiko/Difficulty/TaikoDifficultyCalculator.cs
Labels: ruleset/osu!taiko, area:difficulty, size/XS

#31593 Fix player settings in replay hiding when dragging a slider
  osu.Game/Screens/Play/HUD/PlayerSettingsOverlay.cs
Labels: size/XS

#31602 Fix beat snap grid being lines not being corectly centered to time
  osu.Game/Screens/Edit/Compose/Components/BeatSnapGrid.cs
Labels: area:editor, size/S

#31586 Display up to 2 decimal places for bpm in timing screen metronome
  osu.Game/Screens/Edit/Timing/MetronomeDisplay.cs
Labels: area:editor, size/M

#31026 Add special handling for file import button on iOS
  osu.Game/Overlays/Settings/Sections/Maintenance/GeneralSettings.cs
Labels: type:behavioural, platform/iOS, size/S, next release

#31527 Show spectating users during gameplay
  osu.Game.Rulesets.Catch/Skinning/Legacy/CatchLegacySkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Argon/ManiaArgonSkinTransformer.cs
  osu.Game.Rulesets.Mania/Skinning/Legacy/ManiaLegacySkinTransformer.cs
  osu.Game.Rulesets.Osu/Skinning/Legacy/OsuLegacySkinTransformer.cs
  osu.Game.Tests/Resources/Archives/modified-argon-20250116.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game.Tests/Visual/Gameplay/TestSceneSpectatorList.cs
  osu.Game/Online/Spectator/ISpectatorClient.cs
  osu.Game/Online/Spectator/OnlineSpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorClient.cs
  osu.Game/Online/Spectator/SpectatorUser.cs
  osu.Game/Screens/Play/GameplayState.cs
  osu.Game/Screens/Play/HUD/SpectatorList.cs
  osu.Game/Screens/Play/Player.cs
  osu.Game/Skinning/ArgonSkin.cs
  osu.Game/Skinning/LegacySkin.cs
  osu.Game/Skinning/TrianglesSkin.cs
Labels: type:online, area:skinning, size/L, area:spectator, notable feature

#31604 Fix song select right click handling
  osu.Game.Tests/Visual/Navigation/TestSceneScreenNavigation.cs
  osu.Game/Database/RealmAccess.cs
  osu.Game/Input/Bindings/GlobalActionContainer.cs
  osu.Game/Screens/Select/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: area:song-select, size/L

#31603 Tidy up various input handling anomalies
  osu.Game/Graphics/UserInterfaceV2/OsuPopover.cs
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Menu/ButtonSystem.cs
  osu.Game/Screens/Play/GameplayMenuOverlay.cs
Labels: type:code-quality, size/M

#31588 Snap to beat divisor when pasting hitobjects in editor
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboard.cs
  osu.Game.Tests/Visual/Editing/TestSceneEditorClipboardSnapping.cs
  osu.Game/Screens/Edit/Compose/ComposeScreen.cs
Labels: area:editor, size/M

#31616 Fix crash from new combo colour selector when there are no combo colours present
  osu.Game/Screens/Edit/Components/TernaryButtons/NewComboTernaryButton.cs
Labels: area:editor, size/XS, type:reliability

#31509 Refetch local metadata cache if corruption is detected
  osu.Game/Beatmaps/LocalCachedBeatmapMetadataSource.cs
  osu.Game/Database/RealmAccess.cs
Labels: size/M, area:import

#31632 Initial carousel additions in preparation for selection logic
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
Labels: type:code-quality, size/L

#31633 Roll back windows build image to 2019 on android build job
  .github/workflows/ci.yml
Labels: area:tooling, size/XS

#31640 Hide Discord RPC error messages away from user attention
  osu.Desktop/DiscordRichPresence.cs
Labels: type:behavioural, size/XS, next release

#31644 Fix potential crash when adjusting offset
  osu.Game/Screens/Play/PlayerSettings/BeatmapOffsetControl.cs
Labels: area:gameplay, size/S, next release

#31634 Add selection support to beatmap carousel v2
  osu.Game.Tests/Visual/SongSelect/BeatmapCarouselV2TestScene.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2Basics.cs
  osu.Game.Tests/Visual/SongSelect/TestSceneBeatmapCarouselV2Selection.cs
  osu.Game/Screens/SelectV2/BeatmapCarousel.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterGrouping.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselFilterSorting.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselItem.cs
  osu.Game/Screens/SelectV2/BeatmapCarouselPanel.cs
  osu.Game/Screens/SelectV2/Carousel.cs
  osu.Game/Screens/SelectV2/CarouselItem.cs
  osu.Game/Screens/SelectV2/ICarouselPanel.cs
Labels: area:song-select, size/XXL

#31623 Add view in browser context menu functionality to multiplayer/playlist rooms
  osu.Game/Screens/OnlinePlay/Lounge/Components/DrawableRoom.cs
  osu.Game/Screens/OnlinePlay/Lounge/DrawableLoungeRoom.cs
  osu.Game/Screens/OnlinePlay/Match/RoomSubScreen.cs
Labels: area:multiplayer, size/M

#31664 🔧 Specify we're not using non-exempt encryption
  osu.iOS/Info.plist
Labels: platform/iOS, size/XS

#31698 Work around rare sharpcompress failure to extract certain archives
  osu.Game/IO/Archives/ZipArchiveReader.cs
Labels: size/S, type:reliability, area:import

#31697 Catch and display user-friendly errors regarding corrupted audio files
  osu.Game/Screens/Edit/Setup/ResourcesSection.cs
Labels: area:editor, size/M, type:reliability

#31696 Do not bundle explicit beatmaps
  osu.Game/Beatmaps/Drawables/BundledBeatmapDownloader.cs
Labels: type:online, size/XS

#31709 Remove "Accuracy" from osu!catch editor setup
  osu.Game.Rulesets.Catch/CatchRuleset.cs
  osu.Game.Rulesets.Catch/Edit/Setup/CatchDifficultySection.cs
Labels: area:editor, size/L

#31711 Change friend online notifications' icon and colours
  osu.Game/Online/FriendPresenceNotifier.cs
Labels: type:cosmetic, size/XS

#31417 Enable sentry caching to avoid sentry writing outside of game directory
  osu.Android.props
  osu.Game/OsuGame.cs
  osu.Game/Utils/SentryLogger.cs
  osu.Game/osu.Game.csproj
  osu.iOS.props
Labels: type:code-quality, size/S

#31723 Fix incremental unstable rate calculation not matching expectations
  osu.Game.Tests/NonVisual/Ranking/UnstableRateTest.cs
  osu.Game/Rulesets/Scoring/HitEventExtensions.cs
Labels: area:gameplay, size/S

#31726 Make multiplayer change room settings more obvious as to what it does
  osu.Game/Screens/OnlinePlay/Match/DrawableMatchRoom.cs
Labels: type:cosmetic, area:multiplayer, size/XS

#31724 Remove unnecessary strain sorting in difficult slider count
  osu.Game.Rulesets.Osu/Difficulty/Skills/Aim.cs
Labels: type:code-quality, ruleset/osu!, area:difficulty, size/XS

#31685 Do not display autocorrect suggestions in two factor verification code text box
  osu.Game/Overlays/Login/SecondFactorAuthForm.cs
Labels: area:overlay-user-profile, platform/mobile, size/XS

#31663 Add unique samples for friend online/offline notifications
  osu.Game/Online/FriendPresenceNotifier.cs
  osu.Game/osu.Game.csproj
Labels: size/M, audio

#31731 Change mirror mod direction setting description & tooltip to hopefully be less confusing
  osu.Game.Rulesets.Osu/Mods/OsuModMirror.cs
Labels: ruleset/osu!, area:mods, size/XS

#31732 Fix stacked objects selection order on editor timeline
  osu.Game/Screens/Edit/Compose/Components/ComposeBlueprintContainer.cs
  osu.Game/Screens/Edit/Compose/Components/EditorBlueprintContainer.cs
Labels: area:editor, size/S

#31736 Clamp `estimateImproperlyFollowedDifficultSliders`
  osu.Game.Rulesets.Osu/Difficulty/OsuPerformanceCalculator.cs
Labels: type:code-quality, ruleset/osu!, area:difficulty, size/XS
